<a href="https://colab.research.google.com/github/rajeshxdatascience/smartphone-recommender-system/blob/main/smartphones_cleaning_for_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [ ]:
df = pd.read_csv('/content/smartphones_columns_for_ml.csv')

In [ ]:
df.head()

,model_id,model,beebome_score,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 54 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_id            1268 non-null   int64
 1   model               1268 non-null   object
 2   beebome_score       1268 non-null   int64
 3   rating              1268 non-null   float64
 4   rating_count        994 non-null    object
 5   market_status       1268 non-null   object
 6   launch_on           1268 non-null   object
 7   old_price           1149 non-null   object
 8   price               1268 non-null   object
 9   launch_price        1268 non-null   object
 10  display_type        1268 non-null   object
 11  display_size        1268 non-null   object
 12  display_res         1268 non-null   object
 13  body_dimension      1268 non-null   object
 14  weight              1268 non-null   object
 15  body_front          1268 non-null   object
 16  body_back           1238 non-null   object
 17  body_side           1251 non-null   object
 18  build_quality       739 non-null    object
 19  ports               1268 non-null   object
 20  ip_rating           915 non-null    object
 21  speaker             1265 non-null   object
 22  chipset             1268 non-null   object
 23  cpu                 1268 non-null   object
 24  gpu                 1250 non-null   object
 25  main_cam            1268 non-null   object
 26  main_cam2           1214 non-null   object
 27  main_cam3           631 non-null    object
 28  main_cam_features   1268 non-null   object
 29  main_video          1239 non-null   object
 30  os                  1268 non-null   object
 31  software_updates    1228 non-null   object
 32  ai_features         780 non-null    object
 33  front_cam           1268 non-null   object
 34  front_cam_features  1026 non-null   object
 35  front_video         1229 non-null   object
 36  battery             1268 non-null   object
 37  charging            1268 non-null   object
 38  storage             1268 non-null   object
 39  ram                 1268 non-null   object
 40  sim                 1264 non-null   object
 41  tech                1200 non-null   object
 42  2g                  1262 non-null   object
 43  3g                  1264 non-null   object
 44  4g                  1267 non-null   object
 45  5g                  1028 non-null   object
 46  speed               1264 non-null   object
 47  wifi                1268 non-null   object
 48  bluetooth           1266 non-null   object
 49  positioning_system  1268 non-null   object
 50  nfc                 595 non-null    object
 51  finger_print        1192 non-null   object
 52  sensors             1268 non-null   object
 53  add_features        469 non-null    object
dtypes: float64(1), int64(2), object(51)
memory usage: 535.1+ KB

In [ ]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [ ]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [ ]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [ ]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [ ]:
df['brand'].count()

np.int64(1268)

In [ ]:
df['brand'] = df['brand'].astype('category')

In [ ]:
df['beebome_score'].value_counts()

beebome_score
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [ ]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [ ]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [ ]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [ ]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [ ]:
df['rating_count'] = df['rating_count'].astype('float64')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_id            1268 non-null   int64
 1   model               1268 non-null   object
 2   beebome_score       1268 non-null   int64
 3   rating              1268 non-null   float64
 4   rating_count        994 non-null    float64
 5   market_status       1268 non-null   object
 6   launch_on           1268 non-null   object
 7   old_price           1149 non-null   object
 8   price               1268 non-null   object
 9   launch_price        1268 non-null   object
 10  display_type        1268 non-null   object
 11  display_size        1268 non-null   object
 12  display_res         1268 non-null   object
 13  body_dimension      1268 non-null   object
 14  weight              1268 non-null   object
 15  body_front          1268 non-null   object
 16  body_back           1238 non-null   object
 17  body_side           1251 non-null   object
 18  build_quality       739 non-null    object
 19  ports               1268 non-null   object
 20  ip_rating           915 non-null    object
 21  speaker             1265 non-null   object
 22  chipset             1268 non-null   object
 23  cpu                 1268 non-null   object
 24  gpu                 1250 non-null   object
 25  main_cam            1268 non-null   object
 26  main_cam2           1214 non-null   object
 27  main_cam3           631 non-null    object
 28  main_cam_features   1268 non-null   object
 29  main_video          1239 non-null   object
 30  os                  1268 non-null   object
 31  software_updates    1228 non-null   object
 32  ai_features         780 non-null    object
 33  front_cam           1268 non-null   object
 34  front_cam_features  1026 non-null   object
 35  front_video         1229 non-null   object
 36  battery             1268 non-null   object
 37  charging            1268 non-null   object
 38  storage             1268 non-null   object
 39  ram                 1268 non-null   object
 40  sim                 1264 non-null   object
 41  tech                1200 non-null   object
 42  2g                  1262 non-null   object
 43  3g                  1264 non-null   object
 44  4g                  1267 non-null   object
 45  5g                  1028 non-null   object
 46  speed               1264 non-null   object
 47  wifi                1268 non-null   object
 48  bluetooth           1266 non-null   object
 49  positioning_system  1268 non-null   object
 50  nfc                 595 non-null    object
 51  finger_print        1192 non-null   object
 52  sensors             1268 non-null   object
 53  add_features        469 non-null    object
 54  brand               1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(50)
memory usage: 537.0+ KB

In [ ]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [ ]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [ ]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [ ]:
df.drop(columns='market_status',inplace=True)

In [ ]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [ ]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [ ]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_id            1268 non-null   int64
 1   model               1268 non-null   object
 2   beebome_score       1268 non-null   int64
 3   rating              1268 non-null   float64
 4   rating_count        994 non-null    float64
 5   launch_on           1268 non-null   datetime64[ns]
 6   old_price           1149 non-null   object
 7   price               1268 non-null   object
 8   launch_price        1268 non-null   object
 9   display_type        1268 non-null   object
 10  display_size        1268 non-null   object
 11  display_res         1268 non-null   object
 12  body_dimension      1268 non-null   object
 13  weight              1268 non-null   object
 14  body_front          1268 non-null   object
 15  body_back           1238 non-null   object
 16  body_side           1251 non-null   object
 17  build_quality       739 non-null    object
 18  ports               1268 non-null   object
 19  ip_rating           915 non-null    object
 20  speaker             1265 non-null   object
 21  chipset             1268 non-null   object
 22  cpu                 1268 non-null   object
 23  gpu                 1250 non-null   object
 24  main_cam            1268 non-null   object
 25  main_cam2           1214 non-null   object
 26  main_cam3           631 non-null    object
 27  main_cam_features   1268 non-null   object
 28  main_video          1239 non-null   object
 29  os                  1268 non-null   object
 30  software_updates    1228 non-null   object
 31  ai_features         780 non-null    object
 32  front_cam           1268 non-null   object
 33  front_cam_features  1026 non-null   object
 34  front_video         1229 non-null   object
 35  battery             1268 non-null   object
 36  charging            1268 non-null   object
 37  storage             1268 non-null   object
 38  ram                 1268 non-null   object
 39  sim                 1264 non-null   object
 40  tech                1200 non-null   object
 41  2g                  1262 non-null   object
 42  3g                  1264 non-null   object
 43  4g                  1267 non-null   object
 44  5g                  1028 non-null   object
 45  speed               1264 non-null   object
 46  wifi                1268 non-null   object
 47  bluetooth           1266 non-null   object
 48  positioning_system  1268 non-null   object
 49  nfc                 595 non-null    object
 50  finger_print        1192 non-null   object
 51  sensors             1268 non-null   object
 52  add_features        469 non-null    object
 53  brand               1268 non-null   category
 54  is_available        1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(48)
memory usage: 537.0+ KB

In [ ]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [ ]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [ ]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [ ]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [ ]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [ ]:
df['old_price'] = df['old_price'].str.replace(',','')

In [ ]:
df['old_price'] = df['old_price'].astype('float')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_id            1268 non-null   int64
 1   model               1268 non-null   object
 2   beebome_score       1268 non-null   int64
 3   rating              1268 non-null   float64
 4   rating_count        994 non-null    float64
 5   launch_on           1268 non-null   datetime64[ns]
 6   old_price           844 non-null    float64
 7   price               1268 non-null   object
 8   launch_price        1268 non-null   object
 9   display_type        1268 non-null   object
 10  display_size        1268 non-null   object
 11  display_res         1268 non-null   object
 12  body_dimension      1268 non-null   object
 13  weight              1268 non-null   object
 14  body_front          1268 non-null   object
 15  body_back           1238 non-null   object
 16  body_side           1251 non-null   object
 17  build_quality       739 non-null    object
 18  ports               1268 non-null   object
 19  ip_rating           915 non-null    object
 20  speaker             1265 non-null   object
 21  chipset             1268 non-null   object
 22  cpu                 1268 non-null   object
 23  gpu                 1250 non-null   object
 24  main_cam            1268 non-null   object
 25  main_cam2           1214 non-null   object
 26  main_cam3           631 non-null    object
 27  main_cam_features   1268 non-null   object
 28  main_video          1239 non-null   object
 29  os                  1268 non-null   object
 30  software_updates    1228 non-null   object
 31  ai_features         780 non-null    object
 32  front_cam           1268 non-null   object
 33  front_cam_features  1026 non-null   object
 34  front_video         1229 non-null   object
 35  battery             1268 non-null   object
 36  charging            1268 non-null   object
 37  storage             1268 non-null   object
 38  ram                 1268 non-null   object
 39  sim                 1264 non-null   object
 40  tech                1200 non-null   object
 41  2g                  1262 non-null   object
 42  3g                  1264 non-null   object
 43  4g                  1267 non-null   object
 44  5g                  1028 non-null   object
 45  speed               1264 non-null   object
 46  wifi                1268 non-null   object
 47  bluetooth           1266 non-null   object
 48  positioning_system  1268 non-null   object
 49  nfc                 595 non-null    object
 50  finger_print        1192 non-null   object
 51  sensors             1268 non-null   object
 52  add_features        469 non-null    object
 53  brand               1268 non-null   category
 54  is_available        1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(47)
memory usage: 537.0+ KB

In [ ]:
df['price'] = df['price'].str.replace('₹','')

In [ ]:
df['price'] = df['price'].str.replace(',','')

In [ ]:
df['price'] = df['price'].astype('int')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_id            1268 non-null   int64
 1   model               1268 non-null   object
 2   beebome_score       1268 non-null   int64
 3   rating              1268 non-null   float64
 4   rating_count        994 non-null    float64
 5   launch_on           1268 non-null   datetime64[ns]
 6   old_price           844 non-null    float64
 7   price               1268 non-null   int64
 8   launch_price        1268 non-null   object
 9   display_type        1268 non-null   object
 10  display_size        1268 non-null   object
 11  display_res         1268 non-null   object
 12  body_dimension      1268 non-null   object
 13  weight              1268 non-null   object
 14  body_front          1268 non-null   object
 15  body_back           1238 non-null   object
 16  body_side           1251 non-null   object
 17  build_quality       739 non-null    object
 18  ports               1268 non-null   object
 19  ip_rating           915 non-null    object
 20  speaker             1265 non-null   object
 21  chipset             1268 non-null   object
 22  cpu                 1268 non-null   object
 23  gpu                 1250 non-null   object
 24  main_cam            1268 non-null   object
 25  main_cam2           1214 non-null   object
 26  main_cam3           631 non-null    object
 27  main_cam_features   1268 non-null   object
 28  main_video          1239 non-null   object
 29  os                  1268 non-null   object
 30  software_updates    1228 non-null   object
 31  ai_features         780 non-null    object
 32  front_cam           1268 non-null   object
 33  front_cam_features  1026 non-null   object
 34  front_video         1229 non-null   object
 35  battery             1268 non-null   object
 36  charging            1268 non-null   object
 37  storage             1268 non-null   object
 38  ram                 1268 non-null   object
 39  sim                 1264 non-null   object
 40  tech                1200 non-null   object
 41  2g                  1262 non-null   object
 42  3g                  1264 non-null   object
 43  4g                  1267 non-null   object
 44  5g                  1028 non-null   object
 45  speed               1264 non-null   object
 46  wifi                1268 non-null   object
 47  bluetooth           1266 non-null   object
 48  positioning_system  1268 non-null   object
 49  nfc                 595 non-null    object
 50  finger_print        1192 non-null   object
 51  sensors             1268 non-null   object
 52  add_features        469 non-null    object
 53  brand               1268 non-null   category
 54  is_available        1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(46)
memory usage: 537.0+ KB

In [ ]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model_id            1268 non-null   int64
 1   model               1268 non-null   object
 2   beebome_score       1268 non-null   int64
 3   rating              1268 non-null   float64
 4   rating_count        994 non-null    float64
 5   launch_on           1268 non-null   datetime64[ns]
 6   old_price           844 non-null    float64
 7   price               1268 non-null   int64
 8   launch_price        1268 non-null   int64
 9   display_type        1268 non-null   object
 10  display_size        1268 non-null   object
 11  display_res         1268 non-null   object
 12  body_dimension      1268 non-null   object
 13  weight              1268 non-null   object
 14  body_front          1268 non-null   object
 15  body_back           1238 non-null   object
 16  body_side           1251 non-null   object
 17  build_quality       739 non-null    object
 18  ports               1268 non-null   object
 19  ip_rating           915 non-null    object
 20  speaker             1265 non-null   object
 21  chipset             1268 non-null   object
 22  cpu                 1268 non-null   object
 23  gpu                 1250 non-null   object
 24  main_cam            1268 non-null   object
 25  main_cam2           1214 non-null   object
 26  main_cam3           631 non-null    object
 27  main_cam_features   1268 non-null   object
 28  main_video          1239 non-null   object
 29  os                  1268 non-null   object
 30  software_updates    1228 non-null   object
 31  ai_features         780 non-null    object
 32  front_cam           1268 non-null   object
 33  front_cam_features  1026 non-null   object
 34  front_video         1229 non-null   object
 35  battery             1268 non-null   object
 36  charging            1268 non-null   object
 37  storage             1268 non-null   object
 38  ram                 1268 non-null   object
 39  sim                 1264 non-null   object
 40  tech                1200 non-null   object
 41  2g                  1262 non-null   object
 42  3g                  1264 non-null   object
 43  4g                  1267 non-null   object
 44  5g                  1028 non-null   object
 45  speed               1264 non-null   object
 46  wifi                1268 non-null   object
 47  bluetooth           1266 non-null   object
 48  positioning_system  1268 non-null   object
 49  nfc                 595 non-null    object
 50  finger_print        1192 non-null   object
 51  sensors             1268 non-null   object
 52  add_features        469 non-null    object
 53  brand               1268 non-null   category
 54  is_available        1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(45)
memory usage: 537.0+ KB