<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1671]:
import pandas as pd
import numpy as np
import re

In [1672]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [1673]:
df = pd.read_csv('/content/24_jan_smartphones_columns_for_ml.csv')

In [1674]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link,main_cam4,front_cam2
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN

In [1675]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
dtypes: float64(1), int64(2), object(56)
memory usage: 584.6+ KB

In [1676]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [1677]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [1678]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [1679]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [1680]:
df['brand'].count()

np.int64(1268)

In [1681]:
df['brand'] = df['brand'].astype('category')

In [1682]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [1683]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [1684]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [1685]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [1686]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [1687]:
df['rating_count'] = df['rating_count'].astype('float64')

In [1688]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
 59  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(55)
memory usage: 586.5+ KB

In [1689]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [1690]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [1691]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [1692]:
df.drop(columns='market_status',inplace=True)

In [1693]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [1694]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [1695]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [1696]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(53)
memory usage: 586.5+ KB

In [1697]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [1698]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [1699]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [1700]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [1701]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [1702]:
df['old_price'] = df['old_price'].str.replace(',','')

In [1703]:
df['old_price'] = df['old_price'].astype('float')

In [1704]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(52)
memory usage: 586.5+ KB

In [1705]:
df['price'] = df['price'].str.replace('₹','')

In [1706]:
df['price'] = df['price'].str.replace(',','')

In [1707]:
df['price'] = df['price'].astype('int')

In [1708]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(51)
memory usage: 586.5+ KB

In [1709]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [1710]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(50)
memory usage: 586.5+ KB

In [1711]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [1712]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [1713]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [1714]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [1715]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [1716]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [1717]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [1718]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(47)
memory usage: 586.5+ KB

In [1719]:
df['display_type'].sample(10)

844      Dot AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
102         IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
395            LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
941                                     PLS LCD, 60 Hz Refresh Rate, SDR
969         AMOLED, 120 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
1247                                       LCD, 120 Hz Refresh Rate, SDR
357     AMOLED, 120 Hz Refresh Rate, HDR10+, 1000 Hz Touch Sampling Rate
366                             Fluid AMOLED, 90 Hz Refresh Rate, HDR10+
562      AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
1166                     AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
Name: display_type, dtype: object

In [1720]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [1721]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [1722]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [1723]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [1724]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [1725]:
df['display_type'].sample(10)

41      Super Retina XDR OLED, 60 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
228                                                                      IPS LCD, SDR
964                                            Super AMOLED, 120 Hz Refresh Rate, SDR
994                                            Super AMOLED, 120 Hz Refresh Rate, SDR
942                      PLS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
117                       AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
843                                               Dot AMOLED, 90 Hz Refresh Rate, SDR
1114                     AMOLED, 120 Hz Refresh Rate, SDR, 480 Hz Touch Sampling Rate
706                      IPS LCD, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
811                     IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [1726]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [1727]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [1728]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [1729]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,NaN,NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [1730]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [1731]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [1732]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [1733]:
df['display_hz'].dtypes

dtype('int64')

In [1734]:
df['display_type'].sample(20)

670                                                     LCD, 144 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
108                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
634                                                  IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
1267                                         Flow AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
444                                                       LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
1009                                              AMOLED, 120 Hz Refresh Rate, LTPO, SDR, Anti Reflection Coating
656                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1022                                                   Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
31                                                        Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision
381                             Fluid AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
184                                         AMOLED, 144 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate
1005                                           Super AMOLED, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
205                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
343                            ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate
353                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 600 Hz Touch Sampling Rate
1209                                                                             AMOLED, 120 Hz Refresh Rate, SDR
414                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1110                                              AMOLED, 120 Hz Refresh Rate, HDR10+, 480 Hz Touch Sampling Rate
1044    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
921                                            Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [1735]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [1736]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [1737]:
df['display_dynamic_range'].count()

np.int64(1268)

In [1738]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

565                          IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
971                                                       PLS LCD, 60 Hz Refresh Rate, SDR
845                        Dot AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
406                              LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
663                              LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
384                                                       IPS LCD, 60 Hz Refresh Rate, SDR
977                                                       PLS LCD, 90 Hz Refresh Rate, SDR
748                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
622     Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1193                                                      IPS LCD, 60 Hz Refresh Rate, SDR
557        Boundless Display IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1200                                                          LCD, 90 Hz Refresh Rate, SDR
553                                                  Super AMOLED, 90 Hz Refresh Rate, SDR
913                                                  Super AMOLED, 90 Hz Refresh Rate, SDR
510                           IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
290                                                       IPS LCD, 90 Hz Refresh Rate, SDR
253                                                      IPS LCD, 120 Hz Refresh Rate, SDR
624                      Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
981                                                       IPS LCD, 90 Hz Refresh Rate, SDR
948                                                       IPS LCD, 90 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [1739]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [1740]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
 60  display_panel_type     1268 non-null   object
 61  display_panel_family   1268 non-null   category
 62  display_hz             1268 non-null   int64
 63  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(48)
memory usage: 609.2+ KB

In [1741]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

1171                           AMOLED, 120 Hz Refresh Rate, HDR10+, 120 Hz Touch Sampling Rate, Anti Reflection Coating
1100                                                          LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
942                                                        PLS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
629                                   Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
512                                                    Dot IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
207                                       Smooth Display AMOLED, 90 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
409                                                            LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
505                                               AMOLED, 120 Hz Refresh Rate, Dolby Vision, 480 Hz Touch Sampling Rate
700                                   Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
28                                Super Retina XDR AMOLED, 60 Hz Refresh Rate, Dolby Vision, 120 Hz Touch Sampling Rate
1046    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate, Anti Reflection Coating
772                                                     AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
594                                                          OLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
190                                                        IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
740                                                        IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
98                                                         AMOLED, 144 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
580                                                       IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
933                                               Super AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
54                                                      AMOLED, 165 Hz Refresh Rate, HDR10+, 720 Hz Touch Sampling Rate
842                                                    Dot AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [1742]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [1743]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [1744]:
df['display_type'].sample(20)

717                     AMOLED, 120 Hz Refresh Rate, SDR, 2200 Hz Touch Sampling Rate
449                      AMOLED, 120 Hz Refresh Rate, HDR, 180 Hz Touch Sampling Rate
62                HDR AMOLED, 120 Hz Refresh Rate, HDR10+, 960 Hz Touch Sampling Rate
1023                       Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
60              Super AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
855     Pro HDR AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
108                     IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
677                AMOLED, 120 Hz Refresh Rate, LTPO, HDR, 360 Hz Touch Sampling Rate
740                      IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
215                     AMOLED, 120 Hz Refresh Rate, HDR, 1200 Hz Touch Sampling Rate
246                     IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
803                                              Dot IPS LCD, 90 Hz Refresh Rate, SDR
570                E4 AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
911                                             Super AMOLED, 90 Hz Refresh Rate, SDR
1001                                           Super AMOLED, 120 Hz Refresh Rate, SDR
756               ProXDR AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
857                                            Super AMOLED, 120 Hz Refresh Rate, SDR
772                   AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1197                                                     LCD, 90 Hz Refresh Rate, SDR
292                                                 IPS LCD, 120 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [1745]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [1746]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [1747]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [1748]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [1749]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [1750]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [1751]:
df['display_type'].sample(20)

771                           AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1055                                     Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
1123                                                       AMOLED, 90 Hz Refresh Rate, HDR10+
424                              AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
1225                                 LCD, 90 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
914                                                     Super AMOLED, 90 Hz Refresh Rate, SDR
107                             IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
550                 HDR AMOLED, 120 Hz Refresh Rate, Dolby Vision, 480 Hz Touch Sampling Rate
1134                                                      AMOLED, 120 Hz Refresh Rate, HDR10+
520                                                          IPS LCD, 90 Hz Refresh Rate, SDR
915                                                         IPS LCD, 120 Hz Refresh Rate, SDR
827                          Dot IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
379                                                          IPS LCD, 60 Hz Refresh Rate, SDR
633                              IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
116                             IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
78      Super Actua OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
590                                OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
448                                AMOLED, 120 Hz Refresh Rate, LTPO, Anti Reflection Coating
1006                                                        Super AMOLED, 120 Hz Refresh Rate
850                                                    Super AMOLED, 120 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [1752]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(48)
memory usage: 638.9+ KB

In [1753]:
df['display_size'].sample(20)

1030                                             6.7 inches, 110.2 cm², 88% Screen To Body Ratio
471                                 6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
305     6.9 inches Flip Display, 101.5 cm², 85.33% Screen To Body Ratio, 3.6 inches rear display
429                                              6.7 inches, 108 cm², 93.5% Screen To Body Ratio
584                                          6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
71                               6.2 inches Curved Display, 91.1 cm², 85.5% Screen To Body Ratio
614                                           6.57 inches, 102.9 cm², 84.6% Screen To Body Ratio
1040                                           6.7 inches, 107.1 cm², 92.1% Screen To Body Ratio
1121                                            6.44 inches, 100.1 cm², 88% Screen To Body Ratio
1227                                          6.68 inches, 107.4 cm², 85.1% Screen To Body Ratio
242                                                6.5 inches, 102 cm², 89% Screen To Body Ratio
729                                          6.67 inches, 107.2 cm², 89.97% Screen To Body Ratio
616                                             6.4 inches, 98.9 cm², 90.8% Screen To Body Ratio
99                                              6.78 inches, 111 cm², 93.7% Screen To Body Ratio
318                                                                                  6.77 inches
907                                            6.5 inches, 103.7 cm², 84.4% Screen To Body Ratio
706                                            6.6 inches, 104.9 cm², 90.7% Screen To Body Ratio
742                                             6.72 inches, 109 cm², 91.4% Screen To Body Ratio
1124                           6.56 inches Curved Display, 104.6 cm², 89.5% Screen To Body Ratio
467                                 6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
Name: display_size, dtype: object

In [1754]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [1755]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [1756]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,NaN,NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [1757]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [1758]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [1759]:
df['display_inches'].count()

np.int64(1268)

In [1760]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [1761]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(48)
memory usage: 648.8+ KB

In [1762]:
df['display_size'].sample(20)

69                         6.3 inches, 96.7 cm², 84.9% Screen To Body Ratio
809                        6.88 inches, 112.4 cm², 84% Screen To Body Ratio
445                      6.59 inches, 104.5 cm², 90.8% Screen To Body Ratio
650                      6.74 inches, 102.1 cm², 90.3% Screen To Body Ratio
803                                                  6.74 inches, 109.7 cm²
588            6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
1185    6.78 inches Curved Display, 111.52 cm², 93.53% Screen To Body Ratio
109                      6.78 inches, 109.2 cm², 90.6% Screen To Body Ratio
430                                   6.57 inches, 93% Screen To Body Ratio
764                     6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
1071                      6.4 inches, 100.5 cm², 86.7% Screen To Body Ratio
177       6.62 inches Curved Display, 105.8 cm², 85.2% Screen To Body Ratio
743                        6.72 inches, 109 cm², 91.4% Screen To Body Ratio
1087                                    6.78 inches Curved Display, 111 cm²
835                       6.6 inches, 103.4 cm², 85.1% Screen To Body Ratio
1005                      6.7 inches, 110.2 cm², 86.4% Screen To Body Ratio
1097        6.78 inches Curved Display, 111 cm², 90.2% Screen To Body Ratio
239                         6.5 inches, 102 cm², 89.8% Screen To Body Ratio
951                         6.5 inches, 103.7 cm², 87% Screen To Body Ratio
1195                                                 6.56 inches, 103.4 cm²
Name: display_size, dtype: object

In [1763]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [1764]:
df['display_body_ratio'].count()

np.int64(1036)

In [1765]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [1766]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [1767]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [1768]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(48)
memory usage: 658.8+ KB

In [1769]:
df['display_size'].sample(20)

198                    6.44 inches, 100.1 cm², 91.01% Screen To Body Ratio
727                                6.74 inches, 90.4% Screen To Body Ratio
347                      6.32 inches, 97.9 cm², 90.6% Screen To Body Ratio
135                       6.82 inches, 112.3 cm², 91% Screen To Body Ratio
36                       6.9 inches, 115.6 cm², 92.3% Screen To Body Ratio
964                                                  6.7 inches, 108.4 cm²
160       6.85 inches Curved Display, 114 cm², 94.37% Screen To Body Ratio
354                                                 6.62 inches, 106.3 cm²
1201                    6.56 inches, 103.4 cm², 83.6% Screen To Body Ratio
1224                     6.5 inches, 103.4 cm², 83.6% Screen To Body Ratio
386                     6.56 inches, 103.4 cm², 89.8% Screen To Body Ratio
414                       6.72 inches, 109 cm², 91.4% Screen To Body Ratio
267     6.55 inches Curved Display, 103.6 cm², 91.89% Screen To Body Ratio
1142       6.78 inches Curved Display, 111 cm², 89.9% Screen To Body Ratio
486                       6.52 inches, 102.6 cm², 81% Screen To Body Ratio
389                     6.67 inches, 107.2 cm², 89.9% Screen To Body Ratio
461                     6.59 inches, 105.6 cm², 93.4% Screen To Body Ratio
448                                                 6.67 inches, 107.4 cm²
973                     6.74 inches, 108.4 cm², 82.1% Screen To Body Ratio
1189                       6.38 inches, 98.3 cm², 84% Screen To Body Ratio
Name: display_size, dtype: object

In [1770]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [1771]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [1772]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [1773]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [1774]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(48)
memory usage: 668.7+ KB

In [1775]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [1776]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [1777]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 71 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 678.6+ KB

In [1778]:
df['display_res'].sample(20)

806                                                                                   HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(High Brightness), 450 nits(Typical Brightness), TUV Rheinland certification
977                                                                                                               HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16 Million Colours, 400 nits(Peak Brightness), Eye Comfort Shield
1178                                                        1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
472                                                                  FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), Blue Light Filters
1115                                                             FHD+, 1080 x  2392 pixels, 19.9:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 1300 nits(High Brightness), Blue Light Filters
842                                                            FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1200 nits(Peak Brightness), 700 nits(High Brightness), 4500000:1 Contrast Ratio
1106                                                                                        HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit 16.7 Million Colours, 70% NTSC, 1000 nits(High Brightness), TUV Rheinland certification
880                                                                                                                                 FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16 Million Colours, 400 nits(Peak Brightness)
1042                                                                                                                FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 1900 nits(Peak Brightness)
269                                                                                                                  FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1.07 Billion Colours, 100% sRGB, 1250 nits(Peak Brightness)
566                                                                                                 FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 680 nits(Peak Brightness), 550 nits(Typical Brightness)
664                                                                 HD+, 720 x  1600 pixels, 20:9 (264 ppi), 8-bit colours, 83.5% NTSC, 563 nits(Peak Brightness), 450 nits(Typical Brightness), DC Dimming, 1500:1 Contrast Ratio
471                                                                                             FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 800 nits(High Brightness), Blue Light Filters
1254    FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), 800 nits(High Brightness), 800 nits(Typical Brightness), SGS Display Certification, 5000000:1 Contrast Ratio
1121                                                                                                                                           FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit colours, 425 nits(Peak Brightness)
164                                                              QHD+, 1440 x  3200 pixels, 20:9 (517 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
989                                                                                                                              FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1100 nits(Peak Brightness)
362                                                                     1.5K, 1272 x  2800 pixels, 19.8:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 1400 nits(High Brightness), PWM Dimming
1260                                                                                    1.5K, 1236 x  2750 pixels, 20:9 (446 ppi), 10-bit 68 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), TUV Rheinland certification
878                                                                                                                               FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16.7 Million Colours, 400 nits(Peak Brightness)
Name: display_res, dtype: object

In [1779]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [1780]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [1781]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [1782]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [1783]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [1784]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [1785]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [1786]:
df['res_category'] = df['res_category'].astype('category')

In [1787]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [1788]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 680.0+ KB

In [1789]:
df['display_res'].sample(20)

1040                                                                              QHD+, 1440 x  3120 pixels, 19.5:9 (513 ppi), 10-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), PWM Dimming
400                                                                FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 680 nits(High Brightness), 550 nits(Typical Brightness)
990                                                                                                          FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1100 nits(Peak Brightness)
317                       FHD+, 1084 x  2392 pixels, 20:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1300 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
483                                                                                                                          HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 400 nits(Peak Brightness)
197                                                      FHD+, 1080 x  2408 pixels, 20:9 (393 ppi), 8-bit colours, 83% NTSC, 1050 nits(Peak Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
633                                                                               HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16.7 Million Colours, 400 nits(Peak Brightness), 400 nits(Typical Brightness)
562                                         FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
1003                                                                                                   FHD+, 1080 x  2408 pixels, 20:9 (394 ppi), 8-bit colours, 403 nits(Peak Brightness), Eye Comfort Shield
530                                                           FHD+, 1080 x  2340 pixels, 19.5:9 (374 ppi), 8-bit colours, 850 nits(Peak Brightness), 700 nits(Typical Brightness), TUV Rheinland certification
492                                                                               HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit 16.7 Million Colours, 600 nits(High Brightness), 450 nits(Typical Brightness)
271                                                                                                FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 500 nits(Peak Brightness)
962                                                      FHD+, 1080 x  2340 pixels, 19.5:9 (387 ppi), 10-bit colours, 100% DCI-P3, 600 nits(Peak Brightness), 400 nits(Typical Brightness), Eye Comfort Shield
6                                                 1.5K, 1179 x  2556 pixels, 19.5:9 (460 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
443     1.5K, 1256 x  2760 pixels, 20:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3600 nits(Peak Brightness), 1800 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification
994                                                                 FHD+, 1080 x  2340 pixels, 20:9 (396 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness), 1000 nits(Typical Brightness), DC Dimming
378                FHD+, 1080 x  2392 pixels, 19.9:9 (387 ppi), 10-bit colours, 100% DCI-P3, 1430 nits(Peak Brightness), 1300 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification
34      QHD+, 1320 x  2868 pixels, 19.5:9 (460 ppi), 12-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
1013                                              FHD+, 1080 x  2340 pixels, 19.5:9 (393 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 1750 nits(High Brightness), Eye Comfort Shield, 3000000:1 Contrast Ratio
1136                                                                                                                     1.5K, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit colours, 1300 nits(Peak Brightness)
Name: display_res, dtype: object

In [1790]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [1791]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [1792]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [1793]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [1794]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [1795]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [1796]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [1797]:
df['res_width'].count()

np.int64(1268)

In [1798]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [1799]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(49)
memory usage: 699.8+ KB

In [1800]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [1801]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [1802]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [1803]:
df.loc[[1055,1058],'res_height'] = 2520

In [1804]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [1805]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [1806]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
 74  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(49)
memory usage: 709.7+ KB

In [1807]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [1808]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(48)
memory usage: 699.8+ KB

In [1809]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [1810]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [1811]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [1812]:
df['x'].sample(20)

1233     NaN
309       20
1205      20
706       20
764       20
13      19.5
905       20
353       20
908     19.5
1217    20.1
1096      20
191     20.1
858       20
894       20
358     20.1
895       20
405       20
504       20
1112     NaN
603      NaN
Name: x, dtype: object

In [1813]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [1814]:
df['y'].sample(20)

309       9
128       9
1196      9
605     NaN
537       9
157       9
1212      9
756       9
737       9
1172      9
645       9
824       9
103       9
556       9
307       9
1210      9
421       9
370       9
152     NaN
265       9
Name: y, dtype: object

In [1815]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [1816]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [1817]:
df['aspect_ration_numeric'].sample(20)

1087    2.222222
1000    2.166667
900     2.222222
1055         NaN
275     2.222222
408     2.166667
207     2.222222
328     2.233333
861     2.222222
957          NaN
741     2.222222
870     2.222222
1082    2.222222
33      2.166667
1041    2.166667
739     2.222222
484     2.222222
602     2.222222
744     2.222222
671     2.222222
Name: aspect_ration_numeric, dtype: float64

In [1818]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [1819]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  helper                       1266 non-null   object
 75  aspect_ration_numeric        1185 non-null   float64
 76  x                            1185 non-null   float64
 77  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(49)
memory usage: 739.5+ KB

In [1820]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [1821]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(48)
memory usage: 709.7+ KB

In [1822]:
df['display_res'].sample(20)

801                                                          FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 8-bit colours, 69% sRGB, 550 nits(High Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
1041                                                                                            FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 1900 nits(Peak Brightness)
883                                                                          FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 800 nits(High Brightness), Eye Comfort Shield
1171                                                                       FHD+, 1260 x  2800 pixels, 20:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), Blue Light Filters
1160          FHD+, 1080 x  2392 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 5000 nits(Peak Brightness), 1500 nits(High Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
327                                                                                           FHD+, 1080 x  2412 pixels, 20.1:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness)
224                                              FHD+, 1080 x  2392 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1800 nits(High Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
487                                                                                                                          HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 400 nits(Peak Brightness)
640                                                 FHD, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 600 nits(High Brightness), 480 nits(Typical Brightness), TUV Rheinland certification
832                                                            HD+, 720 x  1650 pixels, 20:9 (260 ppi), 8-bit colours, 70% NTSC, 600 nits(Peak Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
600                                                 FHD+, 1080 x  2400 pixels, 19.5:9 (386 ppi), 8-bit colours, 111% DCI-P3, 2100 nits(Peak Brightness), TUV Rheinland certification, 6000000:1 Contrast Ratio
576           FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
714                                                                             FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 680 nits(Peak Brightness), 550 nits(Typical Brightness)
736                    FHD+, 1080 x  2372 pixels, 20:9 (397 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4000 nits(Peak Brightness), 1400 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming
464                                   FHD+, 1256 x  2760 pixels, 20.9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1200 nits(High Brightness), 600 nits(Typical Brightness), SGS Display Certification
1086                                                                                      FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit colours, 1300 nits(High Brightness), 1300 nits(Typical Brightness)
884                                                                          FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 800 nits(High Brightness), Eye Comfort Shield
756                           FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), PWM Dimming, 5000000:1 Contrast Ratio
33      1.5K, 1206 x  2622 pixels, 19.5:9 (458 ppi), 10-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
1008                                                                                                           FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness)
Name: display_res, dtype: object

In [1823]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [1824]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [1825]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [1826]:
df.loc[[1055,1058],'display_ppi'] = 397

In [1827]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [1828]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [1829]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [1830]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [1831]:
df['display_ppi'].count()

np.int64(1268)

In [1832]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [1833]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(48)
memory usage: 719.6+ KB

In [1834]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [1835]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [1836]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [1837]:
df['color_depth'] = df['color_depth'].fillna(8)

In [1838]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [1839]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [1840]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [1841]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [1842]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [1843]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(48)
memory usage: 739.5+ KB

In [1844]:
df['display_res'].sample(20)

734                                         FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit colours, 950 nits(Peak Brightness), 690 nits(High Brightness), 580 nits(Typical Brightness), Blue Light Filters
1129                                                                                                                   FHD+, 1080 x  2376 pixels, 2.2:1 (398 ppi), 8-bit colours, 1300 nits(High Brightness)
99                 1.5K, 1224 x  2720 pixels, 20:9 (440 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 700 nits(Typical Brightness), TUV Rheinland certification
426     FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), 600 nits(Typical Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
777          FHD+, 1080 x  2392 pixels, (387.6 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
199                                                                                           FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1300 nits(Peak Brightness)
223                                            FHD+, 1080 x  2392 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(High Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
230                                                                                                                                      HD+, 720 x  1600 pixels, 20:9 (268 ppi), 8-bit 16.7 Million Colours
385                                                                   HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 600 nits(Peak Brightness), 480 nits(High Brightness)
287                                                       1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
431                                                                 FHD+, 1080 x  2372 pixels, (397 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1400 nits(High Brightness), 600 nits(Typical Brightness)
415                                                              FHD+, 1080 x  2412 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 600 nits(High Brightness), 480 nits(Typical Brightness)
482          FHD, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 95% DCI-P3, 800 nits(Peak Brightness), 600 nits(High Brightness), 430 nits(Typical Brightness), SGS Display Certification
112                                                                                                  HD, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 500 nits(Peak Brightness), 1500:1 Contrast Ratio
283                                             1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
582     FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(High Brightness), 600 nits(Typical Brightness), TUV Rheinland certification, 6000000:1 Contrast Ratio
211                   FHD+, 1080 x  2400 pixels, 20:9 (387 ppi), 10-bit 1.07 Billion Colours, 1300 nits(High Brightness), 1300 nits(Typical Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
1006                                                                                   FHD+, 1080 x  2400 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness), Eye Comfort Shield
371                                                                          FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), Eye Comfort Shield
664                                           HD+, 720 x  1600 pixels, 20:9 (264 ppi), 8-bit colours, 83.5% NTSC, 563 nits(Peak Brightness), 450 nits(Typical Brightness), DC Dimming, 1500:1 Contrast Ratio
Name: display_res, dtype: object

In [1845]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [1846]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [1847]:
df['helper'] = pd.to_numeric(df['helper'])

In [1848]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [1849]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [1850]:
df.drop(columns='helper',inplace=True)

In [1851]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 79 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(48)
memory usage: 749.4+ KB

In [1852]:
df['body_dimension'].sample(20)

1026         147 x 70.6 x 7.6 mm
278      161.23 x 72.4 x 8.19 mm
389        165.8 x 76.1 x 7.7 mm
1252    163.65 x 76.19 x 8.34 mm
680      162.42 x 76.13 x 8.3 mm
317      163.52 x 77.5 x 8.35 mm
1055       166.7 x 75.2 x 6.5 mm
211       164.4 x 74.8 x 7.36 mm
128      168.9 x 76.49 x 8.26 mm
71         150.5 x 70.8 x 8.9 mm
102          168.9 x 77 x 8.8 mm
577       165.6 x 76.1 x 7.69 mm
1257      163.6 x 74.6 x 8.16 mm
246      162.7 x 74.64 x 8.03 mm
333          163.4 x 74.3 x 8 mm
530        171.1 x 82.1 x 8.6 mm
845     159.87 x 73.87 x 8.09 mm
595          163.5 x 77.3 x 8 mm
1074     160.8 x 73.79 x 8.42 mm
176          163 x 76.2 x 8.5 mm
Name: body_dimension, dtype: object

In [1853]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [1854]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [1855]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [1856]:
df['height_mm'].isnull().sum()

np.int64(0)

In [1857]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [1858]:
df['width_mm'].isnull().sum()

np.int64(0)

In [1859]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [1860]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [1861]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [1862]:
df['thickness_mm'].sample(20)

968      7.2
1034     8.6
365      7.8
869     7.99
434      7.7
974        8
825     8.32
1229     8.1
374      8.1
128     8.26
615     8.28
76       8.9
77       5.1
785     9.13
93       8.1
1007     7.8
1188     7.7
168        8
9        7.9
373      8.4
Name: thickness_mm, dtype: object

In [1863]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [1864]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [1865]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [1866]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [1867]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [1868]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(48)
memory usage: 779.1+ KB

In [1869]:
df['weight'].sample(20)

1018      209 grams
1085      172 grams
812       217 grams
1037      167 grams
152       195 grams
456       194 grams
667       197 grams
1079    180.3 grams
558       190 grams
106       210 grams
590     183.5 grams
862       187 grams
1064      215 grams
1096      184 grams
626       195 grams
1177      190 grams
185       204 grams
671       199 grams
947       194 grams
64        232 grams
Name: weight, dtype: object

In [1870]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [1871]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [1872]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [1873]:
df['body_front'].sample(20)

1035     Gorilla Glass Victus 2
585                       Glass
751                       Glass
244             Gorilla Glass 3
687            Gorilla Glass 7i
1069            Gorilla Glass 3
15                Gorilla Glass
685                       Glass
268             Gorilla Glass 3
482     Corning Gorilla Glass 5
1100                      Glass
457                       Glass
185               Gorilla Glass
832                       Glass
481                       Glass
476            Gorilla Glass 7i
321                 Panda Glass
240                       Glass
261            Gorilla Glass 7i
1042                      Glass
Name: body_front, dtype: object

In [1874]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [1875]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [1876]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [1877]:
df['front_potection'] = df['front_potection'].astype('category')

In [1878]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 790.9+ KB

In [1879]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [1880]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [1881]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [1882]:
df['back_material'] = df['back_material'].astype('category')

In [1883]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [1884]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [1885]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [1886]:
df['frame_material'] = df['frame_material'].astype('category')

In [1887]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 794.0+ KB

In [1888]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [1889]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [1890]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [1891]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 87 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 795.4+ KB

In [1892]:
df['ports'].sample(20)

1021             USB Type-C 3.2, Display Port 1.2
267                           USB Type-C 3.1, OTG
852     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
872                 USB Type-C 2.0, Infrared Port
1061             USB Type-C 3.2, Display Port 1.2
705              USB Type-C, 3.5mm Headphone Jack
327                           USB Type-C 2.0, OTG
672                 USB Type-C 2.0, Infrared Port
159                USB Type-C, Infrared Port, OTG
466                USB Type-C, Infrared Port, OTG
3                               Lightning USB 2.0
1004                          USB Type-C 2.0, OTG
658          USB Type-C 2.0, 3.5mm Headphone Jack
875         USB Type-C, 3.5mm Headphone Jack, OTG
146                           USB Type-C 2.0, OTG
1124                              USB Type-C, OTG
660          USB Type-C 2.0, 3.5mm Headphone Jack
918          USB Type-C 2.0, 3.5mm Headphone Jack
674            USB Type-C 2.0, Infrared Port, OTG
853     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
Name: ports, dtype: object

In [1893]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [1894]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [1895]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [1896]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [1897]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [1898]:
df['ports'].sample(20)

1082    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
372                 USB Type-C 2.0, Infrared Port
252          USB Type-C 2.0, 3.5mm Headphone Jack
979          USB Type-C 2.0, 3.5mm Headphone Jack
811          USB Type-C 2.0, 3.5mm Headphone Jack
83                            USB Type-C 2.0, OTG
17                   USB Type-C 2.0, Display Port
901          USB Type-C 2.0, 3.5mm Headphone Jack
897          USB Type-C 2.0, 3.5mm Headphone Jack
314                           USB Type-C 2.0, OTG
670                                    USB Type-C
480                               USB Type-C, OTG
1050                          USB Type-C 2.0, OTG
843          USB Type-C 2.0, 3.5mm Headphone Jack
271                                USB Type-C 2.0
459          USB Type-C, OTG, USB Type-C (bottom)
375     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1000                          USB Type-C 2.0, OTG
516          USB Type-C 2.0, 3.5mm Headphone Jack
1112                          USB Type-C 2.0, OTG
Name: ports, dtype: object

In [1899]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [1900]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [1901]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [1902]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [1903]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [1904]:
df['ports'].sample(20)

307                                          USB Type-C 2.0, OTG
1000                                         USB Type-C 2.0, OTG
1061                            USB Type-C 3.2, Display Port 1.2
840     USB Type-C 2.0, 3.5mm Headphone Jack, Infrared Port, OTG
896                         USB Type-C 2.0, 3.5mm Headphone Jack
503                                USB Type-C 2.0, Infrared Port
593                                          USB Type-C 2.0, OTG
812                             USB Type-C, 3.5mm Headphone Jack
871                                USB Type-C 2.0, Infrared Port
672                                USB Type-C 2.0, Infrared Port
570                                              USB Type-C, OTG
319                              USB Type-C, USB Type-C (bottom)
60                                           USB Type-C 2.0, OTG
976                         USB Type-C 2.0, 3.5mm Headphone Jack
1136                                         USB Type-C 2.0, OTG
262                                               USB Type-C 2.0
674                           USB Type-C 2.0, Infrared Port, OTG
989                                               USB Type-C 2.0
661                         USB Type-C 2.0, 3.5mm Headphone Jack
453                                              USB Type-C, OTG
Name: ports, dtype: object

In [1905]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [1906]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [1907]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [1908]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 92 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 836.4+ KB

In [1909]:
df['ip_rating'].sample(20)

1098          IP68 (Dust and Water Resistant)
150                                       NaN
491          IP52 (Dust and Splash Resistant)
1208          IP54 (Dust and Water Resistant)
454           IP65 (Dust and Water Resistant)
1173       IP68/69 (Dust and Water Resistant)
816           IP64 (Dust and Water Resistant)
259          IP52 (Dust and Splash Resistant)
532           IP64 (Dust and Water Resistant)
1193                                      NaN
1116       IP68/69 (Dust and Water Resistant)
394           IP54 (Dust and Water Resistant)
740                                       NaN
595     IP66/68/69 (Dust and Water Resistant)
253                    Water Repellent Design
1135          IP68 (Dust and Water Resistant)
393           IP54 (Dust and Water Resistant)
971                                       NaN
1060                  IPX8 (Water Resistance)
856          IP53 (Dust and Splash Resistant)
Name: ip_rating, dtype: object

In [1910]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [1911]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [1912]:
df['water_resistance_level'].count()

np.int64(1268)

In [1913]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 93 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 837.8+ KB

In [1914]:
df['speaker'].sample(30)

895                                                           Mono Speaker
934                                                        Stereo Speakers
1142                                                          Mono Speaker
19                                                         Stereo Speakers
1248                               24-bit/192kHz Hi-Res Audio, Loudspeaker
408                                                            Loudspeaker
1136                                                           Loudspeaker
322                                                        Stereo Speakers
1023                                                       Stereo Speakers
799                                                            Loudspeaker
800                                                            Loudspeaker
1123                                                           Loudspeaker
358                                                        Stereo Speakers
233                                                           Mono Speaker
325                                                        Stereo Speakers
856                                                        Stereo Speakers
893                                                           Mono Speaker
1052                                                       Stereo Speakers
678                                                        Stereo Speakers
863                                                        Stereo Speakers
187                                                           Mono Speaker
539                     Hi-Res Audio (wired and wireless), Stereo Speakers
1158                                                       Stereo Speakers
635                                                            Loudspeaker
1062                               Stereo Speakers (Dolby Atmos Certified)
492                                                           Mono Speaker
504                     Hi-Res Audio (wired and wireless), Stereo Speakers
508     24-bit/192kHz Hi-Res Audio, Hi-Res wireless audio, Stereo Speakers
480                                                        Stereo Speakers
1127                              24-bit/192kHz Hi-Res Audio, Mono Speaker
Name: speaker, dtype: object

In [1915]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [1916]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [1917]:
df['speaker'].sample(20)

237                                  Stereo Speakers (Dolby Atmos certified)
871                                                          Stereo Speakers
280                                                          Stereo Speakers
158                                        Snapdragon Sound, Stereo Speakers
195                                                          Stereo Speakers
37                                   Stereo Speakers (Dolby Atmos Certified)
306                                                          Stereo Speakers
252                                                          Stereo Speakers
188                                                          Stereo Speakers
453                                                          Stereo Speakers
147                                               DTS Audio, Stereo Speakers
715                                                             Mono Speaker
829                                                             Mono Speaker
602                                Dual-mic Noise Cancellation, Mono Speaker
713                                                              Loudspeaker
540                       Hi-Res Audio (wired and wireless), Stereo Speakers
341     Dual-mic Noise Cancellation, Stereo Speakers (Dolby Atmos Certified)
1245                                                            Mono Speaker
1008                                                         Stereo Speakers
834                                                          Stereo Speakers
Name: speaker, dtype: object

In [1918]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [1919]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [1920]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(48)
memory usage: 857.6+ KB

In [1921]:
df['chipset'].sample(20)

794                   MediaTek Helio G99 (6 nm), 422909 Antutu Score
289          Qualcomm Snapdragon 7 Gen 4 (4 nm), 469203 Antutu Score
800                  MediaTek Helio G85 (12 nm), 264823 Antutu Score
725         MediaTek Dimensity 6100 Plus (6 nm), 393210 Antutu Score
433          Qualcomm Snapdragon 7 Gen 3 (4 nm), 890000 Antutu Score
60               MediaTek Dimensity 7300 (4 nm), 679810 Antutu Score
403              MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
489                  MediaTek Helio G85 (12 nm), 264823 Antutu Score
284     MediaTek Dimensity 8350 Extreme (4 nm), 1378568 Antutu Score
124              MediaTek Dimensity 6080 (6 nm), 436846 Antutu Score
1172       MediaTek Dimensity 9300 Plus (4 nm), 2111636 Antutu Score
706                   Unisoc Tiger T612 (12 nm), 244837 Antutu Score
988              MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
699               MediaTek Dimensity 810 (6 nm), 421890 Antutu Score
750              MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
186         Qualcomm Snapdragon 7s Gen 3 (4 nm), 615257 Antutu Score
1019                Samsung Exynos 2200 (4 nm), 1114025 Antutu Score
97               MediaTek Dimensity 7400 (4 nm), 777255 Antutu Score
438             MediaTek Dimensity 9400 (3 nm), 2651570 Antutu Score
1128             MediaTek Dimensity 1300 (6 nm), 786855 Antutu Score
Name: chipset, dtype: object

In [1922]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [1923]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [1924]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [1925]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [1926]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [1927]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand         chipset_brand
192         mediatek        dimensity 7400
543         qualcomm   snapdragon 7s gen 2
881          samsung           exynos 1280
1234        qualcomm    snapdragon 4 gen 2
922         mediatek        dimensity 1080
567         mediatek   dimensity 6100 plus
50             apple                   a19
11             apple            a16 bionic
587         qualcomm   snapdragon 7s gen 2
320         qualcomm   snapdragon 7s gen 3
463         mediatek        dimensity 8350
902          samsung           exynos 1330
877          samsung            exynos 850
182         qualcomm   snapdragon 8s gen 4
537         qualcomm        snapdragon 695
390         mediatek        dimensity 6300
549         mediatek  dimensity 7300 ultra
305         mediatek       dimensity 7400x
514         mediatek             helio g96
185         qualcomm    snapdragon 8 gen 2

In [1928]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(49)
memory usage: 869.0+ KB

In [1929]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [1930]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [1931]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [1932]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [1933]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [1934]:
df['chipset_brand'].sample(20)

176          snapdragon 870
2                a15 bionic
263     snapdragon 7s gen 2
417          snapdragon 680
1228         dimensity 6300
57       snapdragon 8 gen 2
210           dimensity 920
164      snapdragon 8 gen 1
1193              helio p35
502          snapdragon 870
745              tiger t612
122               helio g85
1140         snapdragon 695
604     dimensity 7300 plus
1135        snapdragon 778g
667          dimensity 6300
1250          dimensity 920
597     snapdragon 7s gen 3
515               helio g96
1157     snapdragon 7 gen 3
Name: chipset_brand, dtype: object

In [1935]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [1936]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [1937]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [1938]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [1939]:
df['antutu_score'].sample(20)

549      728840.0
795      422909.0
543      600033.0
932      595101.0
223      831378.0
587      600033.0
1264    2745854.0
1195     264823.0
244      472470.0
5       1445704.0
523      388879.0
730      777255.0
409      310236.0
777      778000.0
300      470535.0
1185    1468431.0
134      308467.0
1232     443228.0
249      308333.0
527      437000.0
Name: antutu_score, dtype: float64

In [1940]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [1941]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 99 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1266 non-null   object
 97  chipset_nm                   1258 non-null   float64
 98  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(49)
memory usage: 888.8+ KB

In [1942]:
df['cpu'].sample(20)

806                                                     Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
381     Octa-core (1x3.2 GHz Cortex-X3 & 2x2.8 GHz Cortex-A715 & 2x2.8 GHz Cortex-A710 & 3x2.0 GHz Cortex-A510)
257                                             Octa-core (2x2.2 GHz Kryo 660 Gold & 6x1.7 GHz Kryo 660 Silver)
2                                                        Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard)
339     Octa-core (1x3.2 GHz Cortex-X3 & 2x2.8 GHz Cortex-A715 & 2x2.8 GHz Cortex-A710 & 3x2.0 GHz Cortex-A510)
475                        Octa-core (1x3.35 GHz Cortex-A715 & 3x3.20 GHz Cortex-A715 & 4x2.20 GHz Cortex-A510)
816                                                     Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
258                                                     Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
1043                                  Octa-core (2x4.32 GHz Oryon V2 Phoenix L + 6x3.53 GHz Oryon V2 Phoenix M)
720                                                     Octa-core (4x2.5 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
668                                                                                   Octa-core (Up to 2.4 GHz)
590                                                   Octa-core (4x2.40 GHz Cortex-A78 & 4x1.95 GHz Cortex-A55)
1087                                                      Octa-core (2x2.8 GHz Cortex-A715 & 6x2.0 Cortex-A510)
35                                                                          Hexa-core (2x4.05 GHz + 4x2.42 GHz)
1053    Octa-core (1x3.3 GHz Cortex-X4 & 3x3.2 GHz Cortex-A720 & 2x3.0 GHz Cortex-A720 & 2x2.3 GHz Cortex-A520)
888                                                     Octa-core (4x2.3 GHz Cortex-A53 & 4x1.8 GHz Cortex-A53)
941                                                     Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
193                                                                                         Octa-core (2.6 GHz)
1194                                                    Octa-core (4x2.3 GHz Cortex-A53 & 4x1.8 GHz Cortex-A53)
91                                                      Octa-core (4x2.2 GHz Cortex-A78 & 4x1.8 GHz Cortex-A55)
Name: cpu, dtype: object

In [1943]:
df['cpu_core_count'] = df['cpu'].str.strip().str.split(' ').str.get(0)

In [1944]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
Octa-core    1193
Hexa-core      54
Deca-core      13
Quad-core       4
Nona-core       4
Name: count, dtype: int64

In [1945]:
def extract_core_count(text):

  t = text.lower()

  if 'octa' in t:
    return 8

  if 'hexa' in t:
    return 6

  if 'deca' in t:
    return 10

  if 'quad' in t:
    return 4

  if 'nona' in t:
    return 9

df['cpu_core_count'] = df['cpu_core_count'].apply(extract_core_count)

In [1946]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
8     1193
6       54
10      13
4        4
9        4
Name: count, dtype: int64

In [1947]:
df['cpu_max_ghz'] = df['cpu'].str.extract(r'(\d+\.?\d*)\s*[Gg]*\s*[Gg]Hz', flags=re.IGNORECASE)

In [1948]:
df['cpu_max_ghz'].value_counts(dropna=False)

cpu_max_ghz
2.4     235
2.2     195
2.5     122
2.0      83
2.6      58
1.8      43
3.0      38
2.8      38
2.3      33
3.2      32
3.1      27
3.35     26
3.3      25
2.63     22
2.40     20
4.32     19
1.6      16
3.19     16
3.46     14
3.00     13
2.05     13
4.26     12
3.25     12
3.36     11
2.85     11
4.04      9
2.84      9
3.05      8
4.21      7
NaN       7
3.78      7
4.47      7
4.6       6
3.23      6
4.05      6
3.63      6
2.35      6
2.9       6
3.21      6
3.39      5
3.4       5
2.80      4
2.7       4
2.75      4
3.73      4
3         3
2.99      3
2.30      2
2.91      2
2.1       1
3.20      1
Name: count, dtype: int64

In [1949]:
df['cpu_max_ghz'] = pd.to_numeric(df['cpu_max_ghz'])

In [1950]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 101 entries, model_id to cpu_max_ghz
dtypes: category(11), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 908.6+ KB

In [1951]:
df['gpu_brand'] = df['gpu'].str.lower().str.strip().str.split(' ').str.get(0)

In [1952]:
df['gpu_brand'] = df['gpu_brand'].str.replace('-',' ')

In [1953]:
df[df['gpu_brand'] == 'unspecified']['gpu']

137    Unspecified
Name: gpu, dtype: object

In [1954]:
df.loc[137,'gpu_brand'] = np.nan

In [1955]:
df['gpu_brand'].value_counts(dropna=False)

gpu_brand
adreno              454
mali g57            243
mali g68             95
arm                  79
mali g615            57
apple                54
mali g52             50
powervr              42
mali g610            34
img                  29
xclipse              22
NaN                  19
mali                 19
mali g77             12
immortalis g720      12
mali g710            10
immortalis g715       9
mali g720             7
immortalis g925       6
immortalis g715s      6
mali g715             5
mali g78              2
ge8322                2
Name: count, dtype: int64

In [1956]:
df['gpu_brand'] = df['gpu_brand'].astype('category')

In [1957]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 102 entries, model_id to gpu_brand
dtypes: category(12), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 910.6+ KB

In [1958]:
df['main_cam'].sample(20)

400                               50 MP, f/1.8, (Wide-angle), 75.5°, Auto Focus
649                              64 MP, f/1.8, (Wide-angle), 0.7 µm, 1/2", PDAF
638                                         50 MP, 0mm (Wide-angle), Auto Focus
664                                                                       13 MP
262                    50 MP, f/1.9, 1 µm, 1/1.56", Multi-directional PDAF, OIS
114                             48 MP, f/1.79, (Wide-angle), 0.8 µm, Auto Focus
1091                     50 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
424                       64 MP, f/1.7, (Wide-angle), 81°, 0.7 µm, 1/2.0", PDAF
555     108 MP, f/1.75, 23.6mm (Wide-angle), 0.64 µm, 1/1.67", Auto Focus, PDAF
230                                            16 MP, f/2.2, (Wide-angle), PDAF
324       48 MP, f/1.8, 23mm (Wide-angle), 1.12 µm, Laser Auto Focus, OIS, PDAF
539                      108 MP, f/1.9, 0mm (Wide-angle), 0.7 µm, 1/1.52", PDAF
430                                             50 MP, f/1.8, (Wide-angle), 76°
1160            50 MP, f/1.88, 23mm (Wide-angle), 84°, 1 µm, 1/1.56", OIS, PDAF
707                        50 MP, f/1.8, 26mm (Wide-angle), 0.64 µm, Auto Focus
209                  64 MP, f/1.8, 0mm (Wide-angle), 0.7 µm, 1/1.97", OIS, PDAF
39                48 MP, f/1.6, 26mm (Wide-angle), 0.7 µm, Dual Pixel PDAF, OIS
553                      50 MP, f/1.8, 27mm (Wide-angle), 0.8 µm, 1/2.76", PDAF
457                         64 MP, f/1.7, 25mm (Wide-angle), 0.7 µm, 1/2", PDAF
101                                    50 MP, f/1.6, 26mm (Wide-angle), 0.64 µm
Name: main_cam, dtype: object

In [1959]:
df['cam_primary_mp'] = df['main_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('int')

In [1960]:
df['cam_primary_mp'].value_counts(dropna=False)

cam_primary_mp
50     850
64      91
48      82
108     79
13      48
8       37
200     35
32      25
12      15
16       5
100      1
Name: count, dtype: int64

In [1961]:
df['cam_aperture'] = df['main_cam'].str.split(',').str.get(1).str.split('/').str.get(1).str.strip()

In [1962]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8        726
1.9         80
1.88        60
1.79        60
1.7         53
1.6         53
1.75        42
2.2         42
2.0         40
1.5         19
1.78        18
1.68        14
1.89        13
1.65         9
1.85         7
NaN          6
1.57         6
1.69         5
2.6          4
1.4          3
1.59         3
1.63         2
1.4-2.0      1
1.6-f        1
1.62         1
Name: count, dtype: int64

In [1963]:
df[df['cam_aperture'] == '1.6-f'][['main_cam','model']]

,main_cam,model
1262,"50 MP, f/1.6-f/4.0, 23mm (Wide-angle), 3.2 µm, 1.0"", Auto Focus, Multi-directional PDAF, OIS",Xiaomi 14 Ultra

In [1964]:
df.loc[89,'cam_aperture'] = '1.4'
df.loc[1262,'cam_aperture'] = '1.6'

In [1965]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8     726
1.9      80
1.88     60
1.79     60
1.6      54
1.7      53
1.75     42
2.2      42
2.0      40
1.5      19
1.78     18
1.68     14
1.89     13
1.65      9
1.85      7
1.57      6
NaN       6
1.69      5
1.4       4
2.6       4
1.59      3
1.63      2
1.62      1
Name: count, dtype: int64

In [1966]:
df['cam_aperture'] = pd.to_numeric(df['cam_aperture'])

In [1967]:
df['main_cam'].sample(20)

243                                          50 MP, f/1.8, (Wide-angle), 0.64 µm, PDAF
107                                50 MP, f/1.6, 0mm (Wide-angle), 1/2.55", Auto Focus
433                                                    50 MP, f/1.8, (Wide-angle), 76°
1106                                      50 MP, f/1.8, (Wide-angle), Auto Focus, PDAF
748                                              50 MP, f/1.8, (Wide-angle), 80°, PDAF
344     50 MP, f/1.6, 23mm (Wide-angle), 1.12 µm, 1/1.43", Multi-directional PDAF, OIS
349                           50 MP, f/1.8, 24mm (Wide-angle), 84°, 1 µm, 1/1.56", OIS
86                                50 MP, f/1.9, (Wide-angle), 2 µm, 1/1.56", OIS, PDAF
1140                                                  64 MP, f/1.79, (Wide-angle), OIS
1161                   50 MP, f/1.88, 23mm (Wide-angle), 84°, 1 µm, 1/1.56", OIS, PDAF
66          48 MP, f/1.7, 25mm (Wide-angle), 82°, 0.8 µm, 1/2.0", Dual Pixel PDAF, OIS
302                             12 MP, f/1.5, (Wide-angle), 1.4 µm, 1/2.55", OIS, PDAF
707                               50 MP, f/1.8, 26mm (Wide-angle), 0.64 µm, Auto Focus
363                                 50 MP, f/1.8, 24mm, 84°, 1 µm, gyro-EIS, OIS, PDAF
1075                    50 MP, f/1.8, (Wide-angle), 0.64 µm, 1/2.76", Auto Focus, PDAF
1213                                          13 MP, f/2.2, 26mm (Wide-angle), 1.12 µm
1091                            50 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
469                    64 MP, f/1.7, 25mm (Wide-angle), 112°, 0.7 µm, 1/2", Auto Focus
1068                     50 MP, f/1.8, 23mm (Wide-angle), 0.8 µm, Dual Pixel PDAF, OIS
648                                             64 MP, f/1.8, 0mm (Wide-angle), 0.7 µm
Name: main_cam, dtype: object

In [1968]:
def extract_ois(text):

  t = text.lower()

  if 'ois' in t:
    return 1

  return 0

df['cam_has_ois'] = df['main_cam'].apply(extract_ois)

In [1969]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [1970]:
df['cam_sensor_size'] = df['main_cam'].str.extract(r'1/(\d+\.\d+)')

In [1971]:
df['cam_sensor_size'].value_counts(dropna=False)

cam_sensor_size
NaN     546
1.56    192
1.95    108
2.76     78
1.67     36
1.28     31
2.0      28
1.4      21
1.57     20
2.88     20
1.3      19
1.55     18
1.52     18
1.31     15
3.1      14
1.96     14
1.49     11
1.97      9
1.43      8
4.0       7
2.55      6
2.8       5
3.06      5
1.76      5
1.72      4
1.73      4
2.5       4
2.9       4
1.7       3
1.5       3
3.0       3
1.22      2
1.33      2
2.74      1
2.93      1
3.6       1
0.98      1
1.0       1
Name: count, dtype: int64

In [1972]:
df['cam_sensor_size'] = pd.to_numeric(df['cam_sensor_size'])

In [1973]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 106 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
dtypes: category(12), datetime64[ns](1), float64(20), int64(24), object(49)
memory usage: 950.2+ KB

In [1974]:
df['main_cam2'].sample(20)

1198                                                      0.08 MP, f/3.0, (Auxiliary)
158     50 MP, f/1.85, 50mm  (Telephoto), 0.6 µm, 1/2.93", 2x Optical Zoom, OIS, PDAF
156                       64 MP, f/2.6, 70mm  (Telephoto), 3x Optical Zoom, OIS, PDAF
515                                     8 MP, f/2.2, (Ultra-wide), 118°, 1 µm, 1/4.0"
708                                                                               NaN
486                                                         0.08 MP, 0mm  (Auxiliary)
1146                                 8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/4.0"
1136                                             12 MP, f/1.98, 0mm  (Depth), 1.22 µm
163                     16 MP, f/2.2, 60mm  (Telephoto), 2.5x Optical Zoom, OIS, PDAF
728                                                                               NaN
806                                                2 MP, f/2.4, 0mm  (Macro), 0.64 µm
991                                        5 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/5.0"
247                                                     2 MP, f/2.4, (Macro), 1.75 µm
85                    50 MP, f/2.4, (Telephoto), 0.8 µm, 2.5x Optical Zoom, OIS, PDAF
721                                                2 MP, f/2.4, 0mm  (Depth), 0.64 µm
669                                                                               NaN
233                                                              2 MP, f/2.4, (Macro)
461                            8 MP, f/2.2, 15mm  (Ultra-wide), 116°, 1.12 µm, 1/4.0"
205                                                              2 MP, f/2.4, (Macro)
1156             50 MP, f/2.0, 15mm  (Ultra-wide), 119°, 0.64 µm, 1/2.76", Auto Focus
Name: main_cam2, dtype: object

In [1975]:
df['cam_secondary_mp'] = df['main_cam2'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0)

In [1976]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2              390
8              333
50             125
0.08            97
12              82
NaN             54
5               45
10              39
13              31
48              19
64              15
32              10
(Auxiliary)      7
0.03             6
f/2.4            5
16               4
f/2.8            2
10.8             2
180              1
200              1
Name: count, dtype: int64

In [1977]:
df[df['cam_secondary_mp'] == 'f/2.4'][['model','main_cam2']]

                              model                          main_cam2
739  Realme Narzo N53 (6GB + 128GB)                f/2.4, 0mm  (Depth)
740  Realme Narzo N53 (8GB + 128GB)                     f/2.4, (Depth)
741                Realme Narzo N53                     f/2.4, (Depth)
744  Realme Narzo N61 (6GB + 128GB)   f/2.4, 0mm  (Auxiliary), 0.64 µm
753                    Realme P1 5G  f/2.4, 22mm  (Depth), 88.8°, 1/5"

In [1978]:
df.loc[[638,639,739,740,741,753],'cam_secondary_mp'] = 2
df.loc[[136,138,484,489,745,830,831,744], 'cam_secondary_mp'] = 0.08

In [1979]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2       390
8       333
50      125
0.08     97
12       82
NaN      54
5        45
10       39
13       31
48       19
64       15
32       10
0.08      8
0.03      6
2         6
16        4
10.8      2
180       1
200       1
Name: count, dtype: int64

In [1980]:
cam_cols_to_check = ['main_cam2', 'main_cam3', 'main_cam4']

df['has_telephoto'] = df[cam_cols_to_check].apply(
    lambda x: x.str.contains('Telephoto', case=False, na=False)
).any(axis=1).astype(int)

df['has_periscope'] = df[['main_cam2', 'main_cam3', 'main_cam4']].apply(
    lambda x: x.str.contains('Periscope', case=False, na=False)
).any(axis=1).astype(int)

In [1981]:
df['has_telephoto'].value_counts()

has_telephoto
0    1070
1     198
Name: count, dtype: int64

In [1982]:
df['has_periscope'].value_counts()

has_periscope
0    1219
1      49
Name: count, dtype: int64

In [1983]:
df['main_cam2'].sample(20)

269                            50 MP, f/2.2, (Ultra-wide), 114°, 0.64 µm, 1/2.76"
254                              8 MP, f/2.2, (Ultra-wide), 118°, 1.12 µm, 1/4.0"
409                                                   2 MP, f/2.4, (Depth), 89.1°
633                                                                           NaN
315     50 MP, f/2.7, (Periscope), 1/2.75", 3x Optical Zoom, Auto Focus, EIS, OIS
738                                                                           NaN
154                                               8 MP, f/2.2, 16mm  (Ultra-wide)
1130                         8 MP, f/2.2, 16mm  (Wide-angle), 120°, 1.12 µm, 1/4"
458                                      8 MP, f/2.2, (Ultra-wide), 112°, 1.12 µm
1126                         8 MP, f/2.2, 16mm  (Ultra-wide), 120°, 1.12 µm, 1/4"
635                                                                           NaN
113                                                          0.08 MP, (Auxiliary)
662                                                     2 MP, f/2.4, 0mm  (Depth)
304                          50 MP, f/2.2, 12mm  (Ultra-wide), 122°, 0.6 µm, PDAF
858                                       8 MP, f/2.2, 0mm  (Ultra-wide), 1.12 µm
235                                                                           NaN
869                                      8 MP, f/2.2, 21mm  (Ultra-wide), 1.12 µm
844                              8 MP, f/2.2, (Ultra-wide), 118°, 1.12 µm, 1/4.0"
192                                                                   2 MP, f/2.4
364                     8 MP, f/2.2, (Ultra-wide), 116°, 1.12 µm, Auto Focus, EIS
Name: main_cam2, dtype: object

In [1984]:
df['cam_optical_zoom'] = df['main_cam2'].str.extract(r'(\d+)x\s+Optical\s+Zoom')

In [1985]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].fillna(0)

In [1986]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].astype(int)

In [1987]:
df['cam_optical_zoom'].value_counts(dropna=False)

cam_optical_zoom
0     1097
3       89
2       38
5       36
10       5
4        2
7        1
Name: count, dtype: int64

In [1988]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 110 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(20), int64(27), object(50)
memory usage: 989.8+ KB

In [1989]:
df['main_cam3'].sample(20)

1108                                                                            NaN
242                                                                             NaN
546                                              2 MP, f/2.4, 0mm  (Macro), 0.64 µm
969                                                       2 MP, f/2.4, 0mm  (Macro)
131                                                                             NaN
1098                                                                            NaN
281                   13 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.12 µm, 1/3.0", PDAF
1096                                                                            NaN
14                                                                              NaN
830                                                                             NaN
23         12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF
782                                                                             NaN
1189                                                      2 MP, f/2.4, 0mm  (Depth)
1031                        12 MP, f/2.2, 13mm  (Ultra-wide), 123°, 1.12 µm, 1/3.0"
836                                                            2 MP, f/2.4, (Macro)
506                                                                             NaN
886                                                       2 MP, f/2.4, 0mm  (Depth)
566                                                                             NaN
1013    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Super Steady Video
48                    48 MP, f/2.2, 13mm  (Ultra-wide), 120°, 0.7 µm, 1/2.55", PDAF
Name: main_cam3, dtype: object

In [1990]:
df['cam_tertiary_mp'] = df['main_cam3'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [1991]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN            637
2              330
50              63
12              62
8               49
5               31
48              28
10              13
13              10
0.08             9
0mm              7
200              5
f/2.8            4
f/2.4            3
(Auxiliary)      3
0.3              2
10.5             2
88°              2
0.07             2
3                2
32               2
10.8             1
f/2.5            1
Name: count, dtype: int64

In [1992]:
df[df['cam_tertiary_mp'] == '0mm'][['model','main_cam3']]

                                    model         main_cam3
528              Poco M7 5G (8GB + 128GB)  0mm  (Auxiliary)
720  Realme Narzo 70 Turbo (12GB + 256GB)               0mm
721   Realme Narzo 70 Turbo (8GB + 128GB)               0mm
803            Redmi 13C 5G (6GB + 128GB)  0mm  (Auxiliary)
804            Redmi 13C 5G (8GB + 256GB)  0mm  (Auxiliary)
806               Redmi 13C (6GB + 128GB)  0mm  (Auxiliary)
807               Redmi 13C (8GB + 256GB)  0mm  (Auxiliary)

In [1993]:
df.loc[[121,114,119,122],'cam_tertiary_mp'] = 0.07
df.loc[[808,809,810,528,720,721,803,804,806,807],'cam_tertiary_mp'] = 0.08
df.loc[[636,637,706,707],'cam_tertiary_mp'] = 2
df.loc[[553,554],'cam_tertiary_mp'] = np.nan

In [1994]:
df['cam_tertiary_mp'] = pd.to_numeric(df['cam_tertiary_mp'])

In [1995]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN       639
2.00      334
50.00      63
12.00      62
8.00       49
5.00       31
48.00      28
0.08       19
10.00      13
13.00      10
0.07        6
200.00      5
10.50       2
0.30        2
32.00       2
3.00        2
10.80       1
Name: count, dtype: int64

In [1996]:
# List of camera columns
cam_cols = ['main_cam', 'main_cam2', 'main_cam3','main_cam4']

# Count non-NaN values across these columns
df['total_cam_count'] = df[cam_cols].notna().sum(axis=1)

In [1997]:
df['total_cam_count'].value_counts(dropna=False)

total_cam_count
2    583
3    583
1     54
4     48
Name: count, dtype: int64

In [1998]:
df[~df['main_cam4'].isnull()]['main_cam4']

238                                                                     2 MP, f/2.4, (Depth), 175 µm
439                 50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.75", Multi-Directional PDAF
441                                                                   2 MP, f/2.4, (Monochrome), 88°
442                                                                   2 MP, f/2.4, (Monochrome), 88°
443                                                                   2 MP, f/2.4, (Monochrome), 88°
786                                                                        2 MP, f/2.4, 0mm  (Depth)
787                                                                        2 MP, f/2.4, 0mm  (Depth)
788                                                                             2 MP, f/2.4, (Depth)
836                                                                        2 MP, f/2.4, 0mm  (Depth)
837                                                                        2 MP, f/2.4, 0mm  (Depth)
838                                                                        2 MP, f/2.4, 0mm  (Depth)
842                                                                             2 MP, f/2.4, (Depth)
843                                                                             2 MP, f/2.4, (Depth)
844                                                                             2 MP, f/2.4, (Depth)
845                                                                        2 MP, f/2.4, 0mm  (Depth)
846                                                                        2 MP, f/2.4, 0mm  (Depth)
847                                                                             2 MP, f/2.4, (Depth)
877                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
878                                                                    2 MP, f/2.4, (Depth), 1.75 µm
879                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
880                                                                    2 MP, f/2.4, (Depth), 1.75 µm
881                                                                        2 MP, f/2.4, 0mm  (Depth)
882                                                                             2 MP, f/2.4, (Depth)
883                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
884                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
885                                                                        5 MP, f/2.4, 0mm  (Depth)
915                                                               2 MP, f/2.4, 0mm  (Depth), 0.64 µm
916                                                                    2 MP, f/2.4, (Depth), 0.64 µm
930                                                                    5 MP, f/2.4, (Depth), 1.12 µm
939                                                                             5 MP, f/2.4, (Depth)
992                                                                        2 MP, f/2.4, 0mm  (Macro)
993                                                                             2 MP, f/2.4, (Macro)
1002                                                                            2 MP, f/2.4, (Macro)
1003                                                                            2 MP, f/2.4, (Macro)
1015    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1016    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1022          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1023          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1024          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1034    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1035          12 MP, f/2.2, (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1036    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1045          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1046          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1047          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1181                                      8 MP, f/3.4, (Periscope), 1 µm, 5x Optical Zoom, OIS, PDAF
1262            50 MP, f/1.8, 12mm  (Ultra-wide), 122°, 0.7 µm, 1/2.51", Auto Focus, Dual Pixel PDAF
1264                       50 MP, f/2.2, 14mm  (Ultra-wide), 115°, 1.28 µm, 1/2.76", Dual Pixel PDAF
Name: main_cam4, dtype: object

In [1999]:
df['cam_fourth_mp'] = df['main_cam4'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [2000]:
df['cam_fourth_mp'] = pd.to_numeric(df['cam_fourth_mp'])

In [2001]:
df['cam_fourth_mp'].value_counts(dropna=False)

cam_fourth_mp
NaN     1220
2.0       28
12.0       8
50.0       6
5.0        5
8.0        1
Name: count, dtype: int64

In [2002]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 113 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
dtypes: category(12), datetime64[ns](1), float64(22), int64(28), object(50)
memory usage: 1019.6+ KB

In [2003]:
df['main_cam_features'].sample(50)

965                                                                                                                                                             HDR, LED Flash, Panorama
858                                                                                                              HDR, LED Flash, Night Mode, Panorama, Pro Mode, Slow Motion, Time-Lapse
1150                                   Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics
896                                                                                                                                                                            LED Flash
1151                                   Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics
319                                                                                                                                                             HDR, LED Flash, Panorama
118                                                                                                                         HDR, Night Mode, Panorama, Professional Mode, Quad-LED Flash
1243                                                                                                                                                                           LED Flash
1159                                         Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics
59                                                                                                                                              Auto Focus, Digital Zoom, HDR, LED Flash
462                                                                                                                                                             HDR, LED Flash, Panorama
538                                                                                                                                              Dual LED Dual Tone Flash, HDR, Panorama
322                                                                                                                                                             HDR, LED Flash, Panorama
612                                                                                                                                   HDR, LED Fash, Night Mode, Panorama, Portrait Mode
222                                                                                                              Dual View, HDR, LED Flash, Panorama, Portrait, Pro, Slow-Mo, Time-lapse
442                                                                                      Color Spectrum Sensor, Hasselblad Color Calibration, HDR, Laser Auto Focus, LED Flash, Panorama
191                                                                                                                                                             HDR, LED Flash, Panorama
275                                                                                                                                                             HDR, LED flash, Panorama
847                                                                                                                                              HDR, LED Flash, Panorama, Portrait Mode
1105                                                                                                                                                            HDR, LED Flash, Panorama
27                                                                                                                                               Dual LED Dual Tone Flash, HDR, Panorama
533                                                                                                                                            HDR, LED Flash, Macro, Panorama, Pro Mode
33                                                                                                            Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama
63                                                                                                                         Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR
1079                                                                                                                                             Dual LED Dual Tone Flash, HDR, Panorama
336                 Auto Focus, Dual LED Flash, Filter, HDR, Long Exposure, Movie, Nightscape, OIS, Panorama, PDAF, Portrait Mode, Super Stable, Time-Lapse, Video HDR, Video Nightscape
243                                                     Assistive Grid, Auto HDR, Dual LED Flash, HDR, Leveler, Night Vision, Panorama, Portrait, Pro Mode, RAW, Slow Motion, Time-lapse
824                                                                                                                                                                  Dual LED Flash, HDR
308                                                                                                                                                             HDR, LED Flash, Panorama
1102                                                                                                            HDR, HIGH-RES, LED Flash, Night, Panorama, Portrait, Slow-Mo, Time-Lapse
651                                                                                                                                                             HDR, LED Flash, Panorama
750                                                                                  Dual View, HDR, HIGH-RES, LED Flash, Movie, Night, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
498                                                                                                                                          HDR, LED Flash, Night, Portrait, Time-lapse
403                                                                                      Dual View, HDR, Hi-Res Mode, LED Flash, Night, Panorama, Portrait, PRO, Slow Motion, Time Lapse
496                                                                                                                                                             HDR, LED Flash, Panorama
737                                                                                                                Dual View, HDR, Hi-Res Mode, LED Flash, Panorama, Slow-Mo, Time Lapse
264                                                                                                                                   Auto Focus, Digital Zoom, HDR, LED Flash, Panorama
536                                                                                                                                     Dual View, HDR, LED Flash, Panorama, Super Macro
1247                                                                              Dual View, HDR, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Slow-Mo, Time-lapse
767                                                                                                                                                             HDR, LED Flash, Panorama
566                                                                                                                                                             HDR, LED Flash, Panorama
823                                                                                                                                                                  Dual LED Flash, HDR
782                                                                                                                                                             HDR, LED Flash, Panorama
522                                                                                                                                                             HDR, LED Flash, Panorama
1174    3D LUT Support, HDR, HIGH-RES, Laser Auto Focus, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Super Macro, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating
681                                                                                                                                                        Dual LED Flash, HDR, Panorama
1256                                                                                           Cinematic Mode, Dual LED Dual Tone Flash, HDR, Long Exposure, Night, Panorama, Time-Lapse
983                                                                                                                                                             HDR, LED Flash, Panorama
543                                                                                                                                                             HDR, LED Flash, Panorama
659                                                                                                                                                 HDR, LED Flash, Night Mode, Panorama
Name: main_cam_features, dtype: object

In [2004]:
# 1. Apple Premium Stack (LiDAR & Photonic)
df['is_apple_flagship_tech'] = df['main_cam_features'].str.contains('LiDAR|Photonic Engine', case=False, na=False).astype(int)

# 2. Advanced Focus & Optics (Zeiss & Laser AF)
df['has_laser_af'] = df['main_cam_features'].str.contains('Laser Auto Focus', case=False, na=False).astype(int)
df['has_zeiss_optics'] = df['main_cam_features'].str.contains(r'Zeiss Optics|Zeiss T\*', case=False, na=False).astype(int)

# 3. Stability & Professional Video (OIS & Cinematic/Movie)
df['has_pro_video_features'] = df['main_cam_features'].str.contains('Cinematic|Movie|Dual View', case=False, na=False).astype(int)

In [2005]:
df['is_apple_flagship_tech'].value_counts()

is_apple_flagship_tech
0    1240
1      28
Name: count, dtype: int64

In [2006]:
df['has_laser_af'].value_counts()

has_laser_af
0    1222
1      46
Name: count, dtype: int64

In [2007]:
df['has_zeiss_optics'].value_counts()

has_zeiss_optics
0    1234
1      34
Name: count, dtype: int64

In [2008]:
df['has_pro_video_features'].value_counts()

has_pro_video_features
0    1002
1     266
Name: count, dtype: int64

In [2009]:
df[df['has_zeiss_optics'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
1144,Vivo V30 Pro 5G (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1145,Vivo V30 Pro 5G,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1148,Vivo V40 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1149,Vivo V40 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1150,Vivo V40 Pro (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1151,Vivo V40 Pro,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1152,Vivo V40,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1155,Vivo V50 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1156,Vivo V50 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1157,Vivo V50,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1159,Vivo V60 (12GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1160,Vivo V60 (16GB + 512GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1161,Vivo V60 (8GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1162,Vivo V60,"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1166,Vivo X Fold 5,"Dual LED Flash, HDR, Laser Auto Focus, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1167,Vivo X Fold3 Pro,"Dual LED Flash, HDR, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1168,Vivo X100 (16GB + 512GB),"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1169,Vivo X100 Pro,"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1170,Vivo X100,"3D LUT Support, HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1171,Vivo X200 (16GB + 512GB),"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1172,Vivo X200 FE (16GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1173,Vivo X200 FE,"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1174,Vivo X200 Pro,"3D LUT Support, HDR, HIGH-RES, Laser Auto Focus, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Super Macro, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1175,Vivo X200,"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1176,Vivo X300 (12GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1177,Vivo X300 (16GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1178,Vivo X300 Pro,"3D LUT Import, Colour Spectrum sensor, HDR, Laser AF, LED Flash, Panorama, Zeiss optics, Zeiss T* lens coating"
1179,Vivo X300,"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1180,Vivo X80 (12GB + 256GB),"Double Exposure, Dual LED Dual Tone Flash, Dual View, HDR, Laser AF, Panorama, Pixel Shift, Pro, Slow Motion, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1181,vivo X80 Pro,"Double Exposure, Dual LED Dual Tone Flash, HDR, Laser AF, Long Exposure, Micro, Movie, Night, Panorama, Pixel Shift, Portrait, Pro, Slow Motion, Time Lapse, Zeiss Optics, Zeiss T* Lens Coating"

In [2010]:
df[df['is_apple_flagship_tech'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
14,Apple iPhone 15 (6GB + 256GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
15,Apple iPhone 15 (6GB + 512GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
22,Apple iPhone 15 Pro Max (8GB + 1TB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
23,Apple iPhone 15 Pro Max (8GB + 512GB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
24,Apple iPhone 15 Pro Max,"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
26,Apple iPhone 15,"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"

In [2011]:
df[df['has_laser_af'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
29,Apple iPhone 16 Plus (8GB + 256GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
30,Apple iPhone 16 Plus (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
31,Apple iPhone 16 Plus,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
32,Apple iPhone 16 Pro (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
33,Apple iPhone 16 Pro (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
34,Apple iPhone 16 Pro Max (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
35,Apple iPhone 16 Pro Max (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
36,Apple iPhone 16 Pro Max,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
37,Apple iPhone 16 Pro,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
63,Google Pixel 10 Pro Fold,"Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR"
64,Google Pixel 10 Pro XL,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
65,Google Pixel 10 Pro,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
66,Google Pixel 10,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
278,Motorola Edge 50 Pro (12GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama"
279,Motorola Edge 50 Pro,"HDR, Laser Auto Focus, LED Flash, Panorama"
280,Motorola Edge 50 Ultra,"Assistive Grid, Audio Zoom, Dual LED Flash, HDR, Laser Auto Focus, Leveler, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Timelapse, Ultra HDR"
345,OnePlus 13R (16GB + 512GB),"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
346,OnePlus 13R,"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
349,OnePlus 15 (16GB + 512GB),"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
350,OnePlus 15,"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
439,Oppo Find X8 Pro,"Colour Spectrum sensor, Hasselblad Colour Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
442,Oppo Find X9 Pro,"Color Spectrum Sensor, Hasselblad Color Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
1018,Samsung Galaxy S23 FE (8GB + 256GB),"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1019,Samsung Galaxy S23 FE,"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1043,Samsung Galaxy S25 Plus (12GB + 512GB),"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"
1044,Samsung Galaxy S25 Plus,"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"

In [2012]:
df[df['has_pro_video_features'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
0,Apple iPhone 14 (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
1,Apple iPhone 14 (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
2,Apple iPhone 14 Plus (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
3,Apple iPhone 14 Plus (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
4,Apple iPhone 14 Plus,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
13,Apple iPhone 14,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
42,Apple iPhone 17 (8GB + 512GB),"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
50,Apple iPhone 17,"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
107,Infinix Hot 30 5G (4GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
108,Infinix Hot 30 5G (8GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
109,Infinix Hot 30 5G,"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
116,Infinix Hot 60i 5G,"Dual LED Flash, Dual View, HDR, Night, Panorama, PRO, Slow Motion, Time Lapse"

In [2013]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 117 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(22), int64(32), object(50)
memory usage: 1.0+ MB

In [2014]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [2015]:
df['cam_has_ois'] = ((df['cam_has_ois'] == 1) | df['main_cam_features'].str.contains('OIS', case=False, na=False)).astype(int)

In [2016]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    658
1    610
Name: count, dtype: int64

In [2017]:
df['main_video'].sample(20)

266                                4K@30fps, 1080p@30/60/120fps, 720p@960fps, gyro-EIS, HDR10
121                                                                  1440p@30fps, 1080p@60fps
864                                                           4K@24/30fps, 1080p@30/60/120fps
558                                      1080p@30fps, Cinematic Mode, Dual Video, Slow Motion
1170                                    4K@30/60fps, 1080p@30/60fps, Cinematic mode, gyro-EIS
291                                                     4K@30fps, 1080p@30/60fps, Slow Motion
1113                                                          4K@30fps, 1080p@30fps, gyro-EIS
1154                                              4K@30fps, 1080p@30/60/120fps, gyro-EIS, OIS
413                                                                               1080p@30fps
529                                                                               1080p@30fps
738                        1080p@30fps, 720p@30fps, 120fps Slo-mo, Cinematic Mode, Dual Video
817                                                                               1080p@30fps
40      4K@24/30/60fps, 1080p@30/60/120/240fps, Dolby Vision HDR, OIS, Stereo Sound Recording
1185                                                    4K@30/60fps, 1080p@30/60fps, gyro-EIS
448                     4K@30fps, 1080p@30/60fps, 720p@30/60fps, Dual Video, EIS, Slow Motion
354             4K@30/60fps, 1080p@30/60/240fps, 720p@480fps, Auto HDR, gyro-EIS, Slow Motion
59                                                         4K@30fps, 1080p@30/60fps, gyro-EIS
499                                                                               1080p@30fps
611                                          4K@30/60fps, 1080p@30/60fps, Cinematic Mode, HDR
571                                     4K@30fps, 1080p@30/60/120fps, 720p@30/60fps, gyro-EIS
Name: main_video, dtype: object

In [2018]:
def get_max_resolution(text):
    if pd.isna(text):
      return 'Unknown'

    res_upper = text.upper()

    if '8K' in res_upper:
        return '8K'
    elif '4K' in res_upper:
        return '4K'
    elif '1440p' in res_upper:
        return '1440p'
    elif '1080P' in res_upper:
        return '1080p'
    elif '720P' in res_upper:
        return '720p'
    else:
        return 'Standard'

df['max_video_res'] = df['main_video'].apply(get_max_resolution).astype('category')

In [2019]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [2020]:
df['video_has_eis'] = df['main_video'].str.contains('EIS', case=True, na=False).astype(int)

In [2021]:
df['video_has_eis'].value_counts()

video_has_eis
0    726
1    542
Name: count, dtype: int64

In [2022]:
df['video_is_pro_grade'] = df['main_video'].str.contains(r'Dolby Vision|HDR10\+|10-bit', case=True, na=False).astype('int')

In [2023]:
df['video_is_pro_grade'].value_counts()

video_is_pro_grade
0    1093
1     175
Name: count, dtype: int64

In [2024]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 120 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
dtypes: category(13), datetime64[ns](1), float64(22), int64(34), object(50)
memory usage: 1.1+ MB

In [2025]:
df['os'].sample(20)

320         Android 15, Nothing OS
771          Android 15, Realme UI
358           Android 14, OxygenOS
905             Android 13, One UI
775          Android 15, Realme UI
615          Android 15, Realme UI
1094     Android 14, Vivo Funtouch
616          Android 12, Realme UI
974             Android 15, One UI
1077     Android 12, Vivo Funtouch
146                Android 13, XOS
1070       Android 12, One UI Core
967             Android 14, One UI
422            Android 14, ColorOS
750          Android 14, Realme UI
46                          iOS 26
193      Android 15, iQOO Funtouch
77      Android 14, Google Android
330           Android 12, OxygenOS
1184     Android 13, Vivo Funtouch
Name: os, dtype: object

In [2026]:
df['os_type'] = df['os'].str.extract(r'(Android|iOS|google android)')[0].str.lower().astype('category')

In [2027]:
df['os_type'].value_counts(dropna=False)

os_type
android    1214
ios          54
Name: count, dtype: int64

In [2028]:
df['os_version_num'] = df['os'].str.extract(r'(\d+)').astype(float)

In [2029]:
df['os_version_num'].value_counts(dropna=False)

os_version_num
14.0    333
15.0    315
13.0    235
12.0    226
11.0     78
16.0     41
18.0     18
26.0     12
17.0     10
Name: count, dtype: int64

In [2030]:
df['is_android_go'] = df['os'].str.contains('Go', case=False, na=False).astype(int)

In [2031]:
df['is_android_go'].value_counts()

is_android_go
0    1229
1      39
Name: count, dtype: int64

In [2032]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 123 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(23), int64(35), object(50)
memory usage: 1.1+ MB

In [2033]:
df['software_updates'].sample(20)

/usr/local/lib/python3.12/dist-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

328     3 year(s) of Software updates and 4 year(s) of Security updates
1077                         3 year(s) of Software and Security updates
31                           7 year(s) of Software and Security updates
273     2 year(s) of Software updates and 3 year(s) of Security updates
5                            5 year(s) of Software and Security updates
279     3 year(s) of Software updates and 4 year(s) of Security updates
808     3 year(s) of Software updates and 4 year(s) of Security updates
1025    4 year(s) of Software updates and 5 year(s) of Security updates
953                          6 year(s) of Software and Security updates
371     2 year(s) of Software updates and 3 year(s) of Security updates
1175    4 year(s) of Software updates and 5 year(s) of Security updates
721     2 year(s) of Software updates and 3 year(s) of Security updates
698     3 year(s) of Software updates and 4 year(s) of Security updates
50                           7 year(s) of Software and Security updates
388     1 year(s) of Software updates and 3 year(s) of Security updates
783     2 year(s) of Software updates and 3 year(s) of Security updates
339     3 year(s) of Software updates and 4 year(s) of Security updates
271     2 year(s) of Software updates and 3 year(s) of Security updates
222     2 year(s) of Software updates and 3 year(s) of Security updates
395     2 year(s) of Software updates and 3 year(s) of Security updates
Name: software_updates, dtype: object

In [2034]:
def get_years(text, keyword):
    if pd.isna(text): return 0

    text = text.lower()

    combined_match = re.search(r'(\d+)\s*year.*?software\s*and\s*security', text)
    if combined_match:
        return float(combined_match.group(1))

    specific_match = re.search(r'(\d+)\s*year.*?' + keyword.lower(), text)
    if specific_match:
        return float(specific_match.group(1))

    return 0

df['os_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'software'))
df['security_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'security'))

In [2035]:
df['os_update_years'].value_counts(dropna=False)

os_update_years
2.0    540
3.0    256
4.0    145
1.0    102
7.0     78
0.0     65
5.0     44
6.0     38
Name: count, dtype: int64

In [2036]:
df['security_update_years'].value_counts(dropna=False)

security_update_years
2.0    554
3.0    262
4.0    145
1.0    107
7.0     78
5.0     44
0.0     40
6.0     38
Name: count, dtype: int64

In [2037]:
df[df['security_update_years'] == 0][['model','software_updates','security_update_years']].head(50)

,model,software_updates,security_update_years
111,Infinix Hot 30i (8GB + 128GB),NaN,0.0
112,Infinix Hot 30i,NaN,0.0
113,Infinix Hot 40i,NaN,0.0
134,Infinix Smart 10,NaN,0.0
228,Moto E13 (8GB + 128GB),NaN,0.0
229,Moto E13,NaN,0.0
250,Moto G54 Power (12GB + 256GB),NaN,0.0
251,Moto G54 Power,NaN,0.0
389,Oppo A3 Pro (8GB + 256GB),NaN,0.0
392,Oppo A3x 4G (4GB + 128GB),NaN,0.0
421,Oppo F27 5G (8GB + 256GB),NaN,0.0
423,Oppo F27 Pro Plus 5G (8GB + 256GB),NaN,0.0
430,Oppo F31 5G,NaN,0.0
431,Oppo F31 Pro (12GB + 256GB),NaN,0.0
432,Oppo F31 Pro (8GB + 256GB),NaN,0.0
435,Oppo F31 Pro,NaN,0.0
438,Oppo Find X8 (16GB + 512GB),NaN,0.0
475,Oppo Reno14 5G (12GB + 512GB),NaN,0.0
593,Realme 14 Pro Lite 5G (8GB + 256GB),NaN,0.0
636,Realme C31 (4GB + 64GB),NaN,0.0
642,Realme C51 (4GB + 128GB),NaN,0.0
643,Realme C51,NaN,0.0
668,Realme C75 5G (6GB + 128GB),NaN,0.0
669,Realme C75 5G,NaN,0.0
714,Realme Narzo 60X 5G (6GB + 128GB),NaN,0.0
715,Realme Narzo 60X 5G,NaN,0.0
767,Realme P3 Pro 5G (12GB + 256GB),NaN,0.0
768,Realme P3 Pro 5G (8GB + 256GB),NaN,0.0
799,Redmi 12C (6GB + 128GB),NaN,0.0
800,Redmi 12C,NaN,0.0
823,Redmi A3 (4GB + 128GB),NaN,0.0
824,Redmi A3 (6GB + 128GB),NaN,0.0
1090,Vivo T2x 5G,NaN,0.0
1187,Vivo Y02t,NaN,0.0
1188,Vivo Y100,NaN,0.0
1220,Vivo Y28 5G,NaN,0.0
1233,Vivo Y31 5G (6GB + 128GB),NaN,0.0
1234,Vivo Y31 5G,NaN,0.0
1239,Vivo Y36,NaN,0.0
1247,Vivo Y58 5G,NaN,0.0

In [2038]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 125 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
dtypes: category(14), datetime64[ns](1), float64(25), int64(35), object(50)
memory usage: 1.1+ MB

In [2039]:
df['ai_features'].sample(30)

882                                                                                                      NaN
892                                                                                                      NaN
943                                                                                                      NaN
933                                                                                                Galaxy AI
657                                                                           AI Camera, AI Noise Suppresion
565                                                                                                AI Camera
659                                                                                                      NaN
1198                                                                                                     NaN
886                                                                                                      NaN
428                                                                       AI Image Assistant, AI Tramslation
708                                                                                                      NaN
1155    AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation
1160                                                                               AI Best Face, AI Portrait
1222                                                                                                     NaN
988                                                                                                      NaN
1162                                                       AI Best Face, AI Erase, AI Portrait, AI SuperLink
71                                                                                                       NaN
171        AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation
320                                                                                  Nothing Essential Space
1223                                                                                                     NaN
324                                                                                                      NaN
330                                                                                                      NaN
694                                                               AI Beauty, AI Camera, AI Scene recognition
1156    AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation
477                                                                                                AI Camera
517                                                                                                      NaN
588                                  AI Audio Zoom, AI Camera, AI Eye Protection, AI HyperRAW, AI Smart Loop
1234                             AI Erase, AI Screen Translation, AI SuperLink, Circle to Search with Google
49                                                                                        Apple Intelligence
887                                                                                                      NaN
Name: ai_features, dtype: object

In [2040]:
df['has_gen_ai'] = df['ai_features'].str.contains(r'Galaxy AI|Apple Intelligence|Circle|Eraser|Gemini|Assist|Generative|Summary|Writer|Interpreter|Reimage').astype(float)
df['has_gen_ai'] = df['has_gen_ai'].fillna(0).astype(int)

In [2041]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [2042]:
df['has_ai_camera'] = df['ai_features'].str.contains(r'AI Camera|AI Beauty|Scene recognition|AI HDR|Portrait').astype(float)
df['has_ai_camera'] = df['has_ai_camera'].fillna(0)

In [2043]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    876
1.0    392
Name: count, dtype: int64

In [2044]:
# Agar phone Gen-AI hai, toh Basic AI ko 0 kar do taaki overlap na ho
df.loc[df['has_gen_ai'] == 1, 'has_ai_camera'] = 0

In [2045]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [2046]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    940
1.0    328
Name: count, dtype: int64

In [2047]:
df['ai_feature_count'] = df['ai_features'].apply(lambda x: len(str(x).split(',')) if pd.notna(x) else 0)

In [2048]:
df['ai_feature_count'] = df['ai_feature_count'].astype(int)

In [2049]:
df['ai_feature_count'].value_counts(dropna=False)

ai_feature_count
0     488
1     333
3     122
4     110
2     103
5      56
7      24
6      13
9      10
8       5
11      3
10      1
Name: count, dtype: int64

In [2050]:
df[df['ai_feature_count'] == 6][['model','ai_features','has_gen_ai','has_ai_camera']]

,model,ai_features,has_gen_ai,has_ai_camera
170,iQOO Neo 10 (12GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
171,iQOO Neo 10 (16GB + 512GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
172,iQOO Neo 10 (8GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
182,iQOO Neo 10,"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
345,OnePlus 13R (16GB + 512GB),"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
346,OnePlus 13R,"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
649,Realme C55,"AI Beauty, AI Camera, AI HDR, AI Night Mode, AI Portrait, AI Scene Recognition",0,1.0
1038,Samsung Galaxy S25 (12GB + 512GB),"Browsing assist, Call assist, Chat assist, Interpreter, Note assist, Photo assist",1,0.0
1150,Vivo V40 Pro (12GB + 512GB),"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1151,Vivo V40 Pro,"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1155,Vivo V50 (12GB + 512GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1156,Vivo V50 (8GB + 256GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1157,Vivo V50,"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0

In [2051]:
df['cam_secondary_mp'] = pd.to_numeric(df['cam_secondary_mp'])

In [2052]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 128 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(27), int64(37), object(49)
memory usage: 1.1+ MB

In [2053]:
df['front_cam'].sample(30)

922                                           13 MP, f/2.2, 0mm, 1.12 µm, 1/3.1"
301                                                           16 MP, f/2.5, 1 µm
1120                                                        8 MP, f/2.05, (Wide)
170                                      32 MP, f/2.45, (Wide), 1/3.1", gyro-EIS
106                                                            8 MP, f/1.8, 1 µm
836                                   13 MP, f/2.4, 0mm  (Wide), 1.12 µm, 1/3.1"
216                                                 16 MP, f/2.0, (Wide), 1/3.0"
327                             16 MP, f/2.4, 25.8mm  (Wide), 1 µm, 1/3.09", EIS
1047    12 MP, f/2.2, 26mm  (Wide), 1.12 µm, 1/4.0", Auto Focus, Dual Pixel PDAF
1167                                                        32 MP, f/2.4, (Wide)
793                                                                  5 MP, f/2.2
1037                         12 MP, f/2.2, 26mm  (Wide), 0.7 µm, Dual Pixel PDAF
108                                                    8 MP, f/2.0, (Wide-angle)
1145                    50 MP, f/2.0, 20mm  (Wide), 0.64 µm, 1/2.76", Auto Focus
337                        32 MP, f/2.4, 21mm  (Wide), 90°, 0.8 µm, 1/2.74", EIS
619                                    16 MP, f/2.1, 26mm  (Wide), 1 µm, 1/3.09"
935                                  32 MP, f/2.2, 26mm  (Wide), 0.8 µm, 1/2.74"
975                                            8 MP, f/2.0, 0mm  (Wide), 1.12 µm
1185                                 32 MP, f/2.45, 24mm  (Wide), 0.8 µm, 1/2.8"
573                                              16 MP, f/2.4, 24mm  (Wide), 83°
412                                                     8 MP, f/2.0, (Wide), 83°
1009                                                  12 MP, f/2.2, (Wide-angle)
829                                                       5 MP, f/2.2, 0mm, 1 µm
321                           50 MP, f/2.2, 24mm  (Wide), 81.2°, 0.8 µm, 1/2.76"
402                                           8 MP, f/2.0, 27mm, 1.12 µm, 1/4.0"
700                                                     8 MP, f/2.0, 26mm, 78.5°
1207                                          16 MP, f/2.0, (Wide-angle), 0.8 µm
524                                                        13 MP, f/2.45, (Wide)
828                                                          5 MP, f/2.2, (Wide)
323                                           32 MP, f/2.2, 22mm  (Wide), 1/3.4"
Name: front_cam, dtype: object

In [2054]:
df['front_cam_mp'] = df['front_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(float)

In [2055]:
df['front_cam_mp'].value_counts(dropna=False)

front_cam_mp
16.0    316
8.0     254
32.0    203
5.0     122
50.0    116
13.0     88
12.0     82
10.0     26
20.0     26
18.0     12
4.0       7
42.0      5
10.5      4
64.0      3
40.0      2
44.0      2
Name: count, dtype: int64

In [2056]:
df['is_front_af'] = (df['front_cam'].str.contains('Auto Focus|PDAF|AF') | df['front_cam_features'].str.contains('Auto Focus|PDAF|AF') | df['front_video'].str.contains('Auto Focus|PDAF|AF')).astype(int)

In [2057]:
df['is_front_af'].value_counts()

is_front_af
0    1045
1     223
Name: count, dtype: int64

In [2058]:
df['front_eis'] = (df['front_cam'].str.contains(r'EIS|gyro-EIS') | df['front_video'].str.contains(r'EIS|gyro-EIS') | df['front_cam_features'].str.contains(r'EIS|gyro-EIS')).astype(int)

In [2059]:
df['front_eis'].value_counts()

front_eis
0    995
1    273
Name: count, dtype: int64

In [2060]:
df['is_dual_front'] = df['front_cam2'].notna().astype(int)

In [2061]:
df['is_dual_front'].value_counts()

is_dual_front
0    1259
1       9
Name: count, dtype: int64

In [2062]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 132 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(40), object(49)
memory usage: 1.2+ MB

In [2063]:
df['front_cam_features'].sample(30)

643                                         AI Beauty Mode, Face recognition, Filters, HDR, Portrait Mode
231                                                          Filters, Night mode, Portrait Mode, Pro Mode
885                                                                                                   HdR
181                                                                             Dual Video, Portrait Mode
785                                                                                                   NaN
745                                                                                           Face Unlock
232                                                     Night mode, Portrait Mode, Pro, Time-lapse Videos
479                                                                                                   NaN
1079                                                                                                  NaN
565                                                 Face Unlock, HDR, Night Mode, Panorama, Portrait Mode
135                                                                                             LED flash
1019                                                                                                  NaN
95                                                                                         Dual LED Flash
1097                                                                    Face Unlock, HDR, Night, Portrait
804                                                      AI portrait mode, Face Unlock, HDR, Palm Shutter
269     Auto Smile Capture, Filters, Gesture control, Night mode, Portrait Mode, Pro Mode (long exposure)
866                                               Face Unlock, HDR, Palm Shutter, Panorama, Portrait Mode
235                                                                           Face Unlock, HDR, LED Flash
851                                                                             Portrait Mode, Time Lapse
609                                                               Dual Video, Night, Portrait, Time Lapse
410                                                                                                   NaN
1173                                                                                                  NaN
1232                                                         Face Detection, Face unlock, Night, Portrait
100                                                                                            Auto Focus
1034                                                                    Auto-HDR, Dual Video Call, HDR10+
1113                                                                              Face Unlock, Night Mode
1004                                                                        Face Unlock, Fixed Focus, HDR
306                                                                          Face Unlock, HDR, Night Mode
610                                                     Dual Video, Night, Panorama, Portrait, Time Lapse
809                                                                             Face Unlock, Screen Flash
Name: front_cam_features, dtype: object

In [2064]:
df['has_front_pro_features'] = (df['front_cam_features'].str.contains(r'Dual-view Video|Dual Video|Cinematic|Time-lapse|Pro|Dolby Vision|HDR10\+|Eye Auto Focus|Eye AF|ProRes|3D \(spatial\)', case=False, na=False) |
                                df['front_video'].str.contains(r'Dual-view Video|Dual Video|Cinematic|Time-lapse|Pro|Dolby Vision|HDR10\+|Eye Auto Focus|Eye AF|ProRes|3D \(spatial\)', case=False, na=False)).astype(int)

In [2065]:
df['has_front_pro_features'].value_counts()

has_front_pro_features
0    967
1    301
Name: count, dtype: int64

In [2066]:
df['has_front_flash'] = df['front_cam_features'].str.contains('Flash', case=False, na=False).astype(int)

In [2067]:
df['has_front_flash'].value_counts()

has_front_flash
0    1191
1      77
Name: count, dtype: int64

In [2068]:
df['is_zeiss_front'] = (df['front_cam_features'].str.contains('Zeiss',case=False, na=False) | df['front_video'].str.contains('Zeiss',case=False, na=False)).astype(int)

In [2069]:
df['is_zeiss_front'].value_counts()

is_zeiss_front
0    1256
1      12
Name: count, dtype: int64

In [2070]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 135 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(43), object(49)
memory usage: 1.2+ MB

In [2079]:
df['front_video'].sample(30)

1231                   1080p@30fps
352                  gyro-EIS, OIS
366       1080p@30/60fps, gyro-EIS
620                    1080p@30fps
200                    1080p@30fps
560                    1080p@30fps
123                    1080p@30fps
828                    1080p@30fps
780                            EIS
1196                   1080p@30fps
484                    1080p@30fps
121                    1080p@30fps
964                    1080p@30fps
682     1080p@30/60fps, 720p@30fps
1108                     Supported
1044                   1080p@30fps
568        1080p@30fps, 720p@30fps
687                    4k@30/60fps
614                     1080@30fps
593                     1080@30fps
533         1080p@30fps, 720@30fps
524         1080p@30fps, 720@30fps
833                    1080p@30fps
1215                   1080p@30fps
542                 1080p@30/60fps
848                    1080p@30fps
932                 1080p@30/60fps
329                    1080p@30fps
233        1080p@30fps, 720p@30fps
301                    1080p@30fps
Name: front_video, dtype: object

In [2072]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [2087]:
def max_front_video_res(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if '8k' in t:
        return '8K'
  elif '4k' in t:
      return '4K'
  elif '1080p' in t or '1080' in t:
      return '1080p'
  else:
      return 'standard'

df['max_front_video_res'] = df['front_video'].apply(max_front_video_res).astype('category')

In [2088]:
df['max_front_video_res'].value_counts()

max_front_video_res
1080p       910
4K          206
standard    110
unknown      39
8K            3
Name: count, dtype: int64

In [2086]:
df[['model','front_video','max_front_video_res']].sample(20)

,model,front_video,max_front_video_res
732,Realme Narzo 80 Pro 5G,"1080p@30fps, 720p@30fps",1080p
360,OnePlus Nord 4 (8GB + 256GB),"1080p@30fps, 720p@30fps",1080p
716,Realme Narzo 70 5G (8GB + 128GB),1080p@30fps,1080p
1048,Samsung Galaxy S25,1080p@30fps,1080p
564,Realme 11 Pro,1080p@30fps,1080p
552,Poco X7 Pro 5G,1080p@30fps,1080p
936,Samsung Galaxy A56 (12GB + 256GB),"10-bit HDR, 1080p@30/60fps",1080p
362,Oneplus Nord 5 (12GB + 256GB),1080p@30/60fps,1080p
898,Samsung Galaxy A06 5G (6GB + 128GB),1080p@30fps,1080p
170,iQOO Neo 10 (12GB + 256GB),1080p@30fps,1080p
1067,Samsung Galaxy Z Fold5 (12GB + 512GB),"1080p@30/60fps, gyro-EIS",1080p
1039,Samsung Galaxy S25 Edge (12GB + 512GB),"1080p@30/60fps, gyro-EIS",1080p
678,Realme GT 7 (12GB + 256GB),1080p@30/60fps,1080p
659,Realme C65 5G (6GB + 128GB),"1080p@30fps, 720p@30fps",1080p
633,Realme C30,720p@30fps,standard
639,Realme C33,720p@30fps,standard
1214,Vivo Y21T,1080p@30fps,1080p
906,Samsung Galaxy A15 5G (8GB + 128GB),1080p@30fps,1080p
671,Realme GT 6 (12GB + 256GB),1080p@30fps,1080p
327,OnePlus 10R,"1080p@30fps, gyro-EIS",1080p

In [2093]:
df['battery'].sample(20)

148     5000 mAh, Lithium Polymer (Non-removable)
1083    5000 mAh, Lithium Polymer (Non-removable)
273     5000 mAh, Lithium Polymer (Non-removable)
735         7000 mAh, Lithium Ion (Non-removable)
476      6000 mAh, Silicon Carbon (Non-removable)
1101    6000 mAh, Lithium Polymer (Non-removable)
777                     7000 mAh, (Non-removable)
465      6200 mAh, Silicon Carbon (Non-removable)
136     6000 mAh, Lithium Polymer (Non-removable)
806     5000 mAh, Lithium Polymer (Non-removable)
846     5000 mAh, Lithium Polymer (Non-removable)
819     5000 mAh, Lithium Polymer (Non-removable)
113     5000 mAh, Lithium Polymer (Non-removable)
771         6000 mAh, Lithium Ion (Non-removable)
163     4700 mAh, Lithium Polymer (Non-removable)
241     5000 mAh, Lithium Polymer (Non-removable)
926     5000 mAh, Lithium Polymer (Non-removable)
151     5000 mAh, Lithium Polymer (Non-removable)
968         5000 mAh, Lithium Ion (Non-removable)
1193    5000 mAh, Lithium Polymer (Non-removable)
Name: battery, dtype: object

In [2100]:
df['battery_mah'] = df['battery'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(int)

In [2101]:
df['battery_mah'].value_counts(dropna=False)

battery_mah
5000    598
6000    137
5500     68
7000     60
4500     51
       ...
4230      1
6510      1
4820      1
5410      1
5240      1
Name: count, Length: 87, dtype: int64

In [2102]:
df['battery_mah'].describe()

count    1268.000000
mean     5222.625394
std       741.887845
min      3149.000000
25%      5000.000000
50%      5000.000000
75%      5500.000000
max      7550.000000
Name: battery_mah, dtype: float64