<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4414]:
import pandas as pd
import numpy as np
import re

In [4415]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [4416]:
df = pd.read_csv('/content/24_jan_smartphones_columns_for_ml.csv')

In [4417]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link,main_cam4,front_cam2
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN

In [4418]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
dtypes: float64(1), int64(2), object(56)
memory usage: 584.6+ KB

In [4419]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [4420]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [4421]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [4422]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [4423]:
df['brand'].count()

np.int64(1268)

In [4424]:
df['brand'] = df['brand'].astype('category')

In [4425]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [4426]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [4427]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [4428]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [4429]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [4430]:
df['rating_count'] = df['rating_count'].astype('float64')

In [4431]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
 59  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(55)
memory usage: 586.5+ KB

In [4432]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [4433]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [4434]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [4435]:
df.drop(columns='market_status',inplace=True)

In [4436]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [4437]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [4438]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [4439]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(53)
memory usage: 586.5+ KB

In [4440]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [4441]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [4442]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [4443]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [4444]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [4445]:
df['old_price'] = df['old_price'].str.replace(',','')

In [4446]:
df['old_price'] = df['old_price'].astype('float')

In [4447]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(52)
memory usage: 586.5+ KB

In [4448]:
df['price'] = df['price'].str.replace('₹','')

In [4449]:
df['price'] = df['price'].str.replace(',','')

In [4450]:
df['price'] = df['price'].astype('int')

In [4451]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(51)
memory usage: 586.5+ KB

In [4452]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [4453]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(50)
memory usage: 586.5+ KB

In [4454]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [4455]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [4456]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [4457]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [4458]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [4459]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [4460]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [4461]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(47)
memory usage: 586.5+ KB

In [4462]:
df['display_type'].sample(10)

573                                                 ProXDR AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
790                                                                                    TFT IPS, 60 Hz Refresh Rate, SDR
696                                        Super AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
1141                                                    AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
699                                   Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
844                                                     Dot AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
247                                                       IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1045    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate, Anti Reflection Coating
773                                                                                   IPS LCD, 120 Hz Refresh Rate, SDR
564                                                                                 AMOLED, 120 Hz Refresh Rate, HDR10+
Name: display_type, dtype: object

In [4463]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [4464]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [4465]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [4466]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [4467]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [4468]:
df['display_type'].sample(10)

535                  Dot AMOLED, 120 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
928                                            Super AMOLED, 120 Hz Refresh Rate, SDR
867                Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
287                      p-OLED, 120 Hz Refresh Rate, HDR, 300 Hz Touch Sampling Rate
40      Super Retina XDR OLED, 60 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
711                   AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
537                  Dot AMOLED, 120 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
1064                             Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
716                     AMOLED, 120 Hz Refresh Rate, SDR, 2200 Hz Touch Sampling Rate
129                      AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [4469]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [4470]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [4471]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [4472]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,NaN,NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [4473]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [4474]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [4475]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [4476]:
df['display_hz'].dtypes

dtype('int64')

In [4477]:
df['display_type'].sample(20)

1037    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
150                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
654                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1105                                             HDR AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
344                            ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate
1214                                                 IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
798                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1146                                                 AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
648                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1122                                               AMOLED, 90 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
1112                                                 AMOLED, 120 Hz Refresh Rate, SDR, 480 Hz Touch Sampling Rate
465                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
937                                                                     Super AMOLED, 120 Hz Refresh Rate, HDR10+
959                                                                        Super AMOLED, 120 Hz Refresh Rate, SDR
130                   AMOLED, 144 Hz Refresh Rate, LTPO, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
1244                                           U8 AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
1172                                                                    AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
982                                                                              IPS LCD, 90 Hz Refresh Rate, SDR
82                                                                               p-OLED, 120 Hz Refresh Rate, HDR
715                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [4478]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [4479]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [4480]:
df['display_dynamic_range'].count()

np.int64(1268)

In [4481]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

795           IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
859     Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
910                                  Super AMOLED, 90 Hz Refresh Rate, SDR
1239                                      IPS LCD, 90 Hz Refresh Rate, SDR
447              LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
242          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
406              LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
524              LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
880                                           LCD, 90 Hz Refresh Rate, SDR
950      Super AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
411                LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
399            IPS LCD, 60 Hz Refresh Rate, SDR, 60 Hz Touch Sampling Rate
367                                      IPS LCD, 120 Hz Refresh Rate, SDR
1199                                      IPS LCD, 90 Hz Refresh Rate, SDR
988      Super AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
972                                       PLS LCD, 60 Hz Refresh Rate, SDR
231           IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1009       AMOLED, 120 Hz Refresh Rate, LTPO, SDR, Anti Reflection Coating
1201                                          LCD, 90 Hz Refresh Rate, SDR
90            AMOLED, 120 Hz Refresh Rate, SDR, 300 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [4482]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [4483]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
 60  display_panel_type     1268 non-null   object
 61  display_panel_family   1268 non-null   category
 62  display_hz             1268 non-null   int64
 63  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(48)
memory usage: 609.2+ KB

In [4484]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

265                                         p-OLED, 120 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate
577                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
736                                                  AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
158      Q10 AMOLED, 144 Hz Refresh Rate, LTPO, Dolby Vision, 300 Hz Touch Sampling Rate, Anti Reflection Coating
188                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1256                                    Dot AMOLED, 120 Hz Refresh Rate, Dolby Vision, 480 Hz Touch Sampling Rate
1254                                          Dot AMOLED, 120 Hz Refresh Rate, HDR10+, 480 Hz Touch Sampling Rate
396                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
140                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
705                            Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1080                                                IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
683                                      E4 AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 360 Hz Touch Sampling Rate
278                                               p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
566                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1027    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
955                                             Super AMOLED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
157                                      E7 AMOLED, 144 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate
666                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
711                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
761                                                    OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [4485]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [4486]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [4487]:
df['display_type'].sample(20)

208     Smooth Display AMOLED, 90 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
771                   AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1185               AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, Anti Reflection Coating
95                       AMOLED, 144 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
1009                  AMOLED, 120 Hz Refresh Rate, LTPO, SDR, Anti Reflection Coating
134                     IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
767                     AMOLED, 120 Hz Refresh Rate, HDR, 2500 Hz Touch Sampling Rate
904                                                  IPS LCD, 90 Hz Refresh Rate, SDR
1216                                                     LCD, 60 Hz Refresh Rate, SDR
447                         LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
173              HDR AMOLED, 144 Hz Refresh Rate, HDR10+, 2000 Hz Touch Sampling Rate
151                     IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
15                                   Super Retina XDR OLED, 60 Hz Refresh Rate, HDR10
122                                                   AMOLED, 90 Hz Refresh Rate, SDR
653                      IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
59              Super AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
979                       IPS LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
1210                                              E4 AMOLED, 120 Hz Refresh Rate, SDR
133                     IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1074                Turbo AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [4488]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [4489]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [4490]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [4491]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [4492]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [4493]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [4494]:
df['display_type'].sample(20)

83                                                                                         AMOLED, 120 Hz Refresh Rate, HDR
192                                                         AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
121                                                                                         AMOLED, 60 Hz Refresh Rate, SDR
351                                                                     HDR AMOLED, 165 Hz Refresh Rate, LTPO, Dolby Vision
216                                                           AMOLED, 120 Hz Refresh Rate, HDR, 1200 Hz Touch Sampling Rate
1173                                                                              AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
1102                                                              LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
299                                                                                       IPS LCD, 120 Hz Refresh Rate, SDR
864                                                         AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
273                                                         p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
27                                    Super Retina XDR AMOLED, 60 Hz Refresh Rate, Dolby Vision, 120 Hz Touch Sampling Rate
1186                                                                                       IPS LCD, 60 Hz Refresh Rate, SDR
1071                                             Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
745                                                            IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
383                                                                 LCD, 60 Hz Refresh Rate, SDR, 60 Hz Touch Sampling Rate
935                                                   Super AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
36      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate, Anti Reflection Coating
234                                                                                        IPS LCD, 90 Hz Refresh Rate, SDR
692                                                                                     AMOLED, 120 Hz Refresh Rate, HDR10+
252                                                           IPS LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [4495]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(48)
memory usage: 638.9+ KB

In [4496]:
df['display_size'].sample(20)

354                                                  6.62 inches, 106.3 cm²
836                       6.43 inches, 99.8 cm², 84.5% Screen To Body Ratio
1112      6.67 inches Curved Display, 107.4 cm², 89.2% Screen To Body Ratio
729                     6.67 inches, 107.2 cm², 89.97% Screen To Body Ratio
588            6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
172                        6.78 inches, 111 cm², 90.4% Screen To Body Ratio
319                                                             6.77 inches
207                                                    6.44 inches, 100 cm²
118                         6.7 inches, 108.4 cm², 92% Screen To Body Ratio
526                                                  6.79 inches, 109.5 cm²
870      6.67 inches Curved Display, 107.4 cm², 93.85% Screen To Body Ratio
174                      6.78 inches, 111.5 cm², 93.4% Screen To Body Ratio
459     6.7 inches Quad Curved Display, 108 cm², 93.5% Screen To Body Ratio
884                         6.5 inches, 102 cm², 85.4% Screen To Body Ratio
571            6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
296                                                     6.5 inches, 102 cm²
417                       6.43 inches, 99.8 cm², 90.8% Screen To Body Ratio
575            6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
253                         6.5 inches, 102 cm², 89.7% Screen To Body Ratio
249                       6.6 inches, 103.6 cm², 91.4% Screen To Body Ratio
Name: display_size, dtype: object

In [4497]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [4498]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [4499]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,NaN,NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [4500]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [4501]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [4502]:
df['display_inches'].count()

np.int64(1268)

In [4503]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [4504]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(48)
memory usage: 648.8+ KB

In [4505]:
df['display_size'].sample(20)

1179                          6.31 inches, 98 cm², 94.66% Screen To Body Ratio
906                          6.5 inches, 103.7 cm², 84.4% Screen To Body Ratio
35                           6.9 inches, 115.6 cm², 92.3% Screen To Body Ratio
1240                                                   6.68 inches, 105.48 cm²
599                                                     6.67 inches, 109.2 cm²
704                           6.4 inches, 98.9 cm², 90.8% Screen To Body Ratio
993                          6.6 inches, 104.9 cm², 82.5% Screen To Body Ratio
1211                        6.67 inches, 107.4 cm², 86.8% Screen To Body Ratio
375                         6.67 inches, 107.4 cm², 92.2% Screen To Body Ratio
191          6.77 inches Curved Display, 110.9 cm², 88.8% Screen To Body Ratio
732          6.77 inches Curved Display, 109.3 cm², 93.7% Screen To Body Ratio
1131                                       6.78 inches Curved Display, 111 cm²
754               6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
1159    6.77 inches Quad Curved Display, 110.9 cm², 88.1% Screen To Body Ratio
777                                      6.77 inches, 94% Screen To Body Ratio
122                                                      6.7 inches, 108.4 cm²
1120                          6.72 inches, 109.4 cm², 86% Screen To Body Ratio
1020                         6.6 inches, 105.3 cm², 86.8% Screen To Body Ratio
160           6.85 inches Curved Display, 114 cm², 94.37% Screen To Body Ratio
713                          6.43 inches, 99.8 cm², 90.8% Screen To Body Ratio
Name: display_size, dtype: object

In [4506]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [4507]:
df['display_body_ratio'].count()

np.int64(1036)

In [4508]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [4509]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [4510]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [4511]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(48)
memory usage: 658.8+ KB

In [4512]:
df['display_size'].sample(20)

964                                                 6.7 inches, 108.4 cm²
216                    6.67 inches, 107.4 cm², 91.9% Screen To Body Ratio
1025                                                 6.1 inches, 90.1 cm²
1009                                                          6.73 inches
335                                 6.74 inches Curved Display, 109.2 cm²
947                     6.7 inches, 108.4 cm², 82.9% Screen To Body Ratio
753                   6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
1096    6.77 inches Curved Display, 110.9 cm², 93.1% Screen To Body Ratio
526                                                6.79 inches, 109.5 cm²
528                      6.88 inches, 108.2 cm², 84% Screen To Body Ratio
1255                   6.67 inches, 107.4 cm², 85.1% Screen To Body Ratio
91      6.78 inches Curved Display, 112.6 cm², 90.2% Screen To Body Ratio
783                               6.72 inches, 91.4% Screen To Body Ratio
839                      6.67 inches, 107.4 cm², 86% Screen To Body Ratio
297                    6.56 inches, 103.4 cm², 84.9% Screen To Body Ratio
470          6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
841                      6.67 inches, 107.4 cm², 86% Screen To Body Ratio
881                      6.4 inches, 98.9 cm², 83.7% Screen To Body Ratio
371                       6.7 inches, 108 cm², 93.4% Screen To Body Ratio
1063       7.6 inches Foldable Display, 185.2 cm²6.25 inches rear display
Name: display_size, dtype: object

In [4513]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [4514]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [4515]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [4516]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [4517]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(48)
memory usage: 668.7+ KB

In [4518]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [4519]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [4520]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 71 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 678.6+ KB

In [4521]:
df['display_res'].sample(20)

665                                                                        HD+, 720 x  1600 pixels, 20:9 (264 ppi), 8-bit colours, 83.5% NTSC, 563 nits(Peak Brightness), 450 nits(Typical Brightness), DC Dimming, 1500:1 Contrast Ratio
37                                 1.5K, 1206 x  2622 pixels, 19.5:9 (458 ppi), 10-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
1171                                                                                                  FHD+, 1260 x  2800 pixels, 20:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), Blue Light Filters
1078                                                                                                            FHD+, 1080 x  2404 pixels, 20:9 (409 ppi), 8-bit colours, 96% NTSC, 1300 nits(Peak Brightness), SGS Display Certification
838                                                                                                           FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 1200 nits(Peak Brightness), 4500000:1 Contrast Ratio
62                                                                                               FHD+, 1080 x  2392 pixels, 19.5:9 (387 ppi), 10-bit 1 Billion Colours, 3000 nits(Peak Brightness), PWM Dimming, 1000000:1 Contrast Ratio
475                                                                                                                  1.5K, 1256 x  2760 pixels, (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), PWM Dimming
408                                                                                               HD+, 720 x  1570 pixels, 19.5:9 (256 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1125 nits(Peak Brightness), 700 nits(High Brightness)
332     QHD+, 1440 x  3216 pixels, 20.1:9 (525 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1300 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
695                                                                                              FHD+, 1080 x  2400 pixels, 20:9 (398 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1300 nits(Peak Brightness), 5000000:1 Contrast Ratio
1106                                                                                               HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit 16.7 Million Colours, 70% NTSC, 1000 nits(High Brightness), TUV Rheinland certification
521                                                                                            HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(Peak Brightness), 450 nits(High Brightness), 450 nits(Typical Brightness)
940                                                                                                                                                                   HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16.7 Million Colours
888                                                                                                                      HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16 Million Colours, 400 nits(Peak Brightness), Eye Comfort Shield
234                                                                                                                       HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 537 nits(Peak Brightness), 320 nits(Typical Brightness)
103                                                                                                                                                     HD+, 720 x  1612 pixels, 20:9 (259 ppi), 8-bit colours, 480 nits(Peak Brightness)
505      1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68.7 Billion Colours, 100% DCI-P3, 2400 nits(Peak Brightness), 1200 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
393                                                                                                                   HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 1000 nits(High Brightness), Blue Light Filters
794                                                                                     FHD+, 1080 x  2408 pixels, 20.7:9 (400 ppi), 8-bit colours, 70% NTSC, 400 nits(Peak Brightness), 400 nits(Typical Brightness), Blue Light Filters
1080                                                                                                             FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 96% NTSC, 460 nits(Peak Brightness), SGS Display Certification
Name: display_res, dtype: object

In [4522]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [4523]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [4524]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [4525]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [4526]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [4527]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [4528]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [4529]:
df['res_category'] = df['res_category'].astype('category')

In [4530]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [4531]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 680.0+ KB

In [4532]:
df['display_res'].sample(20)

991                                                                                                                                  FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1100 nits(Peak Brightness)
276                                                                          FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit colours, 100% DCI-P3, 1600 nits(Peak Brightness), 1200 nits(High Brightness), SGS Display Certification
1182                                                                          FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 8-bit colours, 100% DCI-P3, 1000 nits(High Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
409                                                                                          HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 600 nits(High Brightness), 480 nits(Typical Brightness)
995                                                                                         FHD+, 1080 x  2340 pixels, 20:9 (396 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness), 1000 nits(Typical Brightness), DC Dimming
694                                                             FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
869                                                                           FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 100% DCI-P3, 2100 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
162                                                                           FHD+, 1080 x  2376 pixels, 1.85:1 (398 ppi), 10-bit 1 Billion Colours, 1200 nits(Peak Brightness), TUV Rheinland certification, 6000000:1 Contrast Ratio
844                                                         FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit colours, 100% DCI-P3, 1000 nits(Peak Brightness), 700 nits(High Brightness), Eye Comfort Shield, 4500000:1 Contrast Ratio
1089                                                                                                                                               FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 650 nits(High Brightness)
526                FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
431                                                                                           FHD+, 1080 x  2372 pixels, (397 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1400 nits(High Brightness), 600 nits(Typical Brightness)
542     1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 1200 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
572                                                FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
108                                                                                                                      FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 580 nits(Peak Brightness)
348                                                                              1.5K, 1216 x  2640 pixels, 19.5:9 (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1600 nits(High Brightness), PWM Dimming, 5000000:1 Contrast Ratio
836                                                         FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit colours, 100% DCI-P3, 1000 nits(Peak Brightness), 700 nits(High Brightness), Eye Comfort Shield, 4500000:1 Contrast Ratio
977                                                                                                                   HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16 Million Colours, 400 nits(Peak Brightness), Eye Comfort Shield
997                                                                                                                         FHD+, 1080 x  2340 pixels, 19.5:9 (390 ppi), 8-bit colours, 1000 nits(High Brightness), Eye Comfort Shield
948                                                                                                                                                                FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16 Million Colours
Name: display_res, dtype: object

In [4533]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [4534]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [4535]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [4536]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [4537]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [4538]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [4539]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [4540]:
df['res_width'].count()

np.int64(1268)

In [4541]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [4542]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(49)
memory usage: 699.8+ KB

In [4543]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [4544]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [4545]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [4546]:
df.loc[[1055,1058],'res_height'] = 2520

In [4547]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [4548]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [4549]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
 74  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(49)
memory usage: 709.7+ KB

In [4550]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [4551]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(48)
memory usage: 699.8+ KB

In [4552]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [4553]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [4554]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [4555]:
df['x'].sample(20)

953       20
606       20
817       20
923     19.5
435      NaN
1025    19.5
1156     NaN
32      19.5
1235     NaN
977       20
318      NaN
612       20
952       20
235       20
384       20
1181      20
768     19.5
860       20
65        20
69        20
Name: x, dtype: object

In [4556]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [4557]:
df['y'].sample(20)

794       9
1265      9
853       9
515       9
1125      9
792       9
579       9
565       9
1058    NaN
278       9
376       9
157       9
292       9
258       9
815       9
380       9
348       9
862       9
1085      9
323       9
Name: y, dtype: object

In [4558]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [4559]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [4560]:
df['aspect_ration_numeric'].sample(20)

590     2.222222
226     2.222222
130     2.222222
791     2.222222
887     2.222222
824     2.222222
98      2.222222
1171    2.222222
635     2.222222
827     2.222222
1214    2.222222
1216    2.233333
188     2.222222
274     2.222222
654     2.222222
761     2.222222
667     2.222222
1057         NaN
114     2.222222
314     2.222222
Name: aspect_ration_numeric, dtype: float64

In [4561]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [4562]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  helper                       1266 non-null   object
 75  aspect_ration_numeric        1185 non-null   float64
 76  x                            1185 non-null   float64
 77  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(49)
memory usage: 739.5+ KB

In [4563]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [4564]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(48)
memory usage: 709.7+ KB

In [4565]:
df['display_res'].sample(20)

674                                               1.5K, 1264 x  2780 pixels, 20:9 (450 ppi), 10-bit colours, 100% DCI-P3, 6000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 5000000:1 Contrast Ratio
973                                                                                                                                          HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours, 400 nits(High Brightness)
535                                                                     FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), SGS Display Certification, 4500000:1 Contrast Ratio
793                                                                                                        FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 400 nits(Peak Brightness), 400 nits(Typical Brightness)
1159                                     FHD+, 1080 x  2392 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 5000 nits(Peak Brightness), 1500 nits(High Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
1103                                                                                             1.5K, 1080 x  2392 pixels, 20:9 (388 ppi), 8-bit colours, 100% DCI-P3, 5000 nits(High Brightness), PWM Dimming, 1000000:1 Contrast Ratio
893                                                                                                                                                                     HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours
1044                                                                                                  QHD+, 1440 x  3120 pixels, 19.3:9 (513 ppi), 10-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), Eye Comfort Shield
62                                                                                               FHD+, 1080 x  2392 pixels, 19.5:9 (387 ppi), 10-bit 1 Billion Colours, 3000 nits(Peak Brightness), PWM Dimming, 1000000:1 Contrast Ratio
1034                                                                               QHD+, 1440 x  3120 pixels, 19.3:9 (501 ppi), 10-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), PWM Dimming, 5000000:1 Contrast Ratio
160     2K, 1440 x  3168 pixels, 19.8:9 (508 ppi), 10-bit 1.07 Billion Colours, 118% DCI-P3, 6000 nits(Peak Brightness), 2600 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
743                                                                                                                                                 FHD+, 1080 x  2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)
1193                                                                                                                                HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit colours, 400 nits(Peak Brightness), Blue Light Filters
721                                   FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), 6000000:1 Contrast Ratio
696                   WQHD+, 1440 x  3216 pixels, 20:9 (525 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1400 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness), DisplayMate A+, 5000000:1 Contrast Ratio
1038                                                                                                               FHD+, 1080 x  2340 pixels, 19.5:9 (416 ppi), 10-bit 16 Million Colours, 2600 nits(Peak Brightness), Eye Comfort Shield
1230                                                                   FHD+, 1080 x  2400 pixels, 20:9 (394 ppi), 8-bit 1 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 1200 nits(High Brightness), SGS Display Certification
1131                                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit colours, 1300 nits(Peak Brightness), SGS Display Certification
710                                   FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(High Brightness), 950 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
153                                                                                            FHD+, 1080 x  2400 pixels, 20:9 (387 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 900 nits(High Brightness), TUV Rheinland certification
Name: display_res, dtype: object

In [4566]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [4567]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [4568]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [4569]:
df.loc[[1055,1058],'display_ppi'] = 397

In [4570]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [4571]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [4572]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [4573]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [4574]:
df['display_ppi'].count()

np.int64(1268)

In [4575]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [4576]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(48)
memory usage: 719.6+ KB

In [4577]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [4578]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [4579]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [4580]:
df['color_depth'] = df['color_depth'].fillna(8)

In [4581]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [4582]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [4583]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [4584]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [4585]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [4586]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(48)
memory usage: 739.5+ KB

In [4587]:
df['display_res'].sample(20)

458                                       FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit colours, 100% DCI-P3, 1200 nits(Peak Brightness), 600 nits(High Brightness), PWM Dimming, 6000000:1 Contrast Ratio
326                                                                                           FHD+, 1080 x  2412 pixels, 20.1:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness)
968                                                                                                                     FHD+, 1080 x  2340 pixels, 19.5:9 (382 ppi), 8-bit colours, 1200 nits(High Brightness)
154                                                                                               1.5K, 1440 x  3200 pixels, 20:9 (518 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness)
1034                                                    QHD+, 1440 x  3120 pixels, 19.3:9 (501 ppi), 10-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), PWM Dimming, 5000000:1 Contrast Ratio
807                                                               HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(High Brightness), 450 nits(Typical Brightness), TUV Rheinland certification
48      1.5K, 1320 x  2868 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
1260                                                                1.5K, 1236 x  2750 pixels, 20:9 (446 ppi), 10-bit 68 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), TUV Rheinland certification
1024                                                                            QHD+, 1440 x  3088 pixels, 19.3:9 (500 ppi), 10-bit 16 Million Colours, 1750 nits(Peak Brightness), 1200 nits(High Brightness)
470                                                     FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), 2000000:1 Contrast Ratio
1210                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (394 ppi), 8-bit colours, 100% DCI-P3, 1800 nits(High Brightness), Blue Light Filters
1166                                     QHD+, 2200 x  2480 pixels, 4:3.55 (412 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
497                              HD+, 720 x  1640 pixels, 20:9 (260 ppi), 8-bit colours, 70% NTSC, 600 nits(High Brightness), 450 nits(Typical Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
563                                         FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
1045                                             QHD+, 1440 x  3120 pixels, 19.5:9 (498 ppi), 12-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), Eye Comfort Shield, 5000000:1 Contrast Ratio
667                                                        HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 625 nits(High Brightness), Eye Comfort Shield, 1500:1 Contrast Ratio
1263          1.5K, 1200 x  2670 pixels, 20:9 (460 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1000 nits(High Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
655                                                                        HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit colours, 625 nits(High Brightness), 500 nits(Typical Brightness), Eye Comfort Shield
884                                                                          FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 800 nits(High Brightness), Eye Comfort Shield
815                    HD+, 720 x  1600 pixels, 20:9 (254 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 810 nits(Peak Brightness), 660 nits(High Brightness), TUV Rheinland certification, 1200:1 Contrast Ratio
Name: display_res, dtype: object

In [4588]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [4589]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [4590]:
df['helper'] = pd.to_numeric(df['helper'])

In [4591]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [4592]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [4593]:
df.drop(columns='helper',inplace=True)

In [4594]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 79 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(48)
memory usage: 749.4+ KB

In [4595]:
df['body_dimension'].sample(20)

263     161.86 x 73.26 x 7.93 mm
1076       164 x 75.84 x 8.25 mm
232     163.95 x 74.94 x 8.49 mm
996        161.7 x 77.2 x 8.8 mm
1234    166.14 x 77.01 x 8.39 mm
506        160.5 x 74.4 x 7.8 mm
941        168.8 x 78.2 x 8.8 mm
988        164.4 x 77.9 x 7.9 mm
1116    163.29 x 76.72 x 7.39 mm
1174     162.36 x 75.95 x 8.2 mm
208       159.6 x 73.5 x 8.49 mm
602      165.7 x 76.22 x 7.94 mm
788      161.95 x 75.53 x 9.6 mm
205        164 x 75.84 x 8.25 mm
1248    160.87 x 75.28 x 7.41 mm
649       165.6 x 75.9 x 7.89 mm
1195       163.7 x 75.4 x 8.1 mm
929        162.9 x 78.2 x 7.4 mm
1192    163.95 x 75.55 x 8.19 mm
1247        165.7 x 76 x 7.99 mm
Name: body_dimension, dtype: object

In [4596]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [4597]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [4598]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [4599]:
df['height_mm'].isnull().sum()

np.int64(0)

In [4600]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [4601]:
df['width_mm'].isnull().sum()

np.int64(0)

In [4602]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [4603]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [4604]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [4605]:
df['thickness_mm'].sample(20)

12       7.9
144      8.5
149      7.9
407      8.6
1063     5.6
833      8.2
601     7.94
620      8.5
322     8.35
1095     7.5
92      7.98
420      7.5
93       8.1
941      8.8
179     8.58
861        8
358      8.1
326      8.2
1244    7.49
595        8
Name: thickness_mm, dtype: object

In [4606]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [4607]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [4608]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [4609]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [4610]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [4611]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(48)
memory usage: 779.1+ KB

In [4612]:
df['weight'].sample(20)

1193    184 grams
144     189 grams
866     187 grams
292     181 grams
123     205 grams
52      165 grams
757     185 grams
763     194 grams
753     188 grams
196     204 grams
414     193 grams
60      197 grams
275     175 grams
827     193 grams
1233    209 grams
1250    207 grams
895     194 grams
1189    181 grams
1007    180 grams
758     185 grams
Name: weight, dtype: object

In [4613]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [4614]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [4615]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [4616]:
df['body_front'].sample(20)

1241                      Glass
245                       Glass
34                        Glass
654                       Glass
976                       Glass
489                 Panda Glass
1055         UTG foldable Glass
1253            Gorilla Glass 5
914        Gorilla Glass Victus
928                       Glass
428      Gorilla Glass Victus 2
310             Gorilla Glass 5
498                       Glass
585                       Glass
519               Gorilla Glass
1237                      Glass
182                Shield Glass
237     Corning Gorilla Glass 3
265        Gorilla Glass Victus
178                       Glass
Name: body_front, dtype: object

In [4617]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [4618]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [4619]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [4620]:
df['front_potection'] = df['front_potection'].astype('category')

In [4621]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 790.9+ KB

In [4622]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [4623]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [4624]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [4625]:
df['back_material'] = df['back_material'].astype('category')

In [4626]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [4627]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [4628]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [4629]:
df['frame_material'] = df['frame_material'].astype('category')

In [4630]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 794.0+ KB

In [4631]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [4632]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [4633]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [4634]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 87 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 795.4+ KB

In [4635]:
df['ports'].sample(20)

382                                          USB Type-C 3.1, OTG
347                           USB Type-C 2.0, Infrared Port, OTG
642                                          USB Type-C 2.0, OTG
345                                USB Type-C 2.0, Infrared Port
317                                          USB Type-C 2.0, OTG
474                                          USB Type-C 2.0, OTG
859                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
850                         USB Type-C 2.0, 3.5mm Headphone Jack
54     OTG, USB Type-C 2.0, USB Type-C 3.1, 3.5mm Headphone Jack
561                                          USB Type-C 2.0, OTG
270                        USB Type-C 3.1, Display Port 1.4, OTG
158                               USB Type-C, Infrared Port, OTG
745                             USB Type-C, 3.5mm Headphone Jack
49                                  USB Type-C 3.2, Display Port
2                                              Lightning USB 2.0
736                         USB Type-C, OTG, USB Type-C (bottom)
928                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
623                        USB Type-C, 3.5mm Headphone Jack, OTG
134                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
750                             USB Type-C, 3.5mm Headphone Jack
Name: ports, dtype: object

In [4636]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [4637]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [4638]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [4639]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [4640]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [4641]:
df['ports'].sample(20)

862     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
185               USB Type-C 2.0, IR Blaster, OTG
1239    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
602         USB Type-C, 3.5mm Headphone Jack, OTG
1162                          USB Type-C 2.0, OTG
1267    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
815              USB Type-C, 3.5mm Headphone Jack
437                           USB Type-C 2.0, OTG
204     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
31               USB Type-C 2.0, Display Port 1.2
1017                          USB Type-C 3.2, OTG
465                USB Type-C, Infrared Port, OTG
5                               Lightning USB 2.0
505                USB Type-C, Infrared Port, OTG
74                            USB Type-C 3.2, OTG
109          USB Type-C 2.0, 3.5mm Headphone Jack
209     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
579     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
77               USB Type-C 3.2, Display Port 1.4
1116                          USB Type-C 2.0, OTG
Name: ports, dtype: object

In [4642]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [4643]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [4644]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [4645]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [4646]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [4647]:
df['ports'].sample(20)

224                                              USB Type-C, OTG
1136                                         USB Type-C 2.0, OTG
822                           microUSB 2.0, 3.5mm Headphone Jack
901                         USB Type-C 2.0, 3.5mm Headphone Jack
558                         USB Type-C 2.0, 3.5mm Headphone Jack
1031                                   USB Type-C 3.2 Gen 1, OTG
1083                   USB Type-C 2.0, 3.5mm Headphone Jack, OTG
405                        USB Type-C, 3.5mm Headphone Jack, OTG
1202                                         USB Type-C 2.0, OTG
102                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
986                                          USB Type-C 2.0, OTG
1189                       USB Type-C, 3.5mm Headphone Jack, OTG
1180                                         USB Type-C 2.0, OTG
654                        USB Type-C, 3.5mm Headphone Jack, OTG
953                                          USB Type-C 2.0, OTG
361                                USB Type-C 2.0, Infrared Port
22                        USB Type-C 3.2 Gen 2, Display Port 1.2
144                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
677                           USB Type-C 2.0, Infrared Port, OTG
868     USB Type-C 2.0, 3.5mm Headphone Jack, Infrared Port, OTG
Name: ports, dtype: object

In [4648]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [4649]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [4650]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [4651]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 92 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 836.4+ KB

In [4652]:
df['ip_rating'].sample(20)

841          IP53 (Dust and Splash Resistant)
1033          IP68 (Dust and Water Resistant)
105                                       NaN
878                                       NaN
1083                                      NaN
748           IP54 (Dust and Water Resistant)
1203          IP64 (Dust and Water Resistant)
1218          IP54 (Dust and Water Resistant)
968                                       NaN
157          IP53 (Dust and Splash Resistant)
457                                       NaN
56            IP54 (Dust and Water Resistant)
598     IP66/68/69 (Dust and Water Resistant)
1012          IP68 (Dust and Water Resistant)
736     IP66/68/69 (Dust and Water Resistant)
717           IP54 (Dust and Water Resistant)
216           IP54 (Dust and Water Resistant)
328                                       NaN
280           IP68 (Dust and Water Resistant)
1077                                      NaN
Name: ip_rating, dtype: object

In [4653]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [4654]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [4655]:
df['water_resistance_level'].count()

np.int64(1268)

In [4656]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 93 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 837.8+ KB

In [4657]:
df['speaker'].sample(30)

402                                     Mono Speaker
104                                      Loudspeaker
1201                                 Stereo Speakers
1222                                    Mono Speaker
141                                      Loudspeaker
484                                     Mono Speaker
1156                                 Stereo Speakers
428                                  Stereo Speakers
982                                     Mono Speaker
148                                  Stereo Speakers
866                                  Stereo Speakers
657                                     Mono Speaker
414                                  Stereo Speakers
1019                                 Stereo Speakers
267                                  Stereo Speakers
1031                                 Stereo Speakers
391                                      Loudspeaker
592     Dual-mic Noise Cancellation, Stereo Speakers
420                                      Loudspeaker
960                                     Mono Speaker
1176                                 Stereo Speakers
253                                  Stereo Speakers
1212                                     Loudspeaker
113                                     Mono Speaker
250                                  Stereo Speakers
205                                      Loudspeaker
931                                  Stereo Speakers
1123                                     Loudspeaker
874                                  Stereo Speakers
783                                  Stereo Speakers
Name: speaker, dtype: object

In [4658]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [4659]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [4660]:
df['speaker'].sample(20)

394                                      Loudspeaker
907                                     Mono Speaker
596     Dual-mic Noise Cancellation, Stereo Speakers
887                                      Loudspeaker
1081                                     Loudspeaker
294           Stereo Speakers (Dolby Atmos Enhanced)
1209                      Hi-Res Audio, Mono Speaker
393                                     Mono Speaker
1189                                    Mono Speaker
670                                      Loudspeaker
31                                   Stereo Speakers
840                                  Stereo Speakers
327                                  Stereo Speakers
160                                  Stereo Speakers
577                                  Stereo Speakers
1052                                 Stereo Speakers
1226                                 Stereo Speakers
721                                  Stereo Speakers
1148                                 Stereo Speakers
780                                  Stereo Speakers
Name: speaker, dtype: object

In [4661]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [4662]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [4663]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(48)
memory usage: 857.6+ KB

In [4664]:
df['chipset'].sample(20)

261                     MediaTek Dimensity 7400 (4 nm), 777255 Antutu Score
384                         MediaTek Helio G35 (12 nm), 146708 Antutu Score
271               Qualcomm Snapdragon 778G Plus (6 nm), 634199 Antutu Score
1024    Qualcomm Snapdragon 8 Gen 2 for Galaxy (4 nm), 1541246 Antutu Score
344                Qualcomm Snapdragon 8 Elite (3 nm), 2745854 Antutu Score
1140                    Qualcomm Snapdragon 695 (6 nm), 443228 Antutu Score
1098              MediaTek Dimensity 9200 Plus (4 nm), 1513580 Antutu Score
160          Qualcomm Snapdragon 8 Elite Gen 5 (3 nm), 4186917 Antutu Score
586                Qualcomm Snapdragon 7s Gen 2 (4 nm), 600033 Antutu Score
398                     MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
1189                    Qualcomm Snapdragon 695 (6 nm), 441369 Antutu Score
611                 Qualcomm Snapdragon 7 Gen 4 (4 nm), 956920 Antutu Score
660                     MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
1009                        Samsung Exynos 1480 (4 nm), 734625 Antutu Score
367                     Qualcomm Snapdragon 695 (6 nm), 443228 Antutu Score
1057                       Samsung Exynos 2400 (4 nm), 1765220 Antutu Score
534               MediaTek Dimensity 7025 Ultra (6 nm), 531562 Antutu Score
960                         Samsung Exynos 1280 (5 nm), 471697 Antutu Score
848                     Qualcomm Snapdragon 685 (6 nm), 346959 Antutu Score
79                            Google Tensor G4 (4 nm), 1323184 Antutu Score
Name: chipset, dtype: object

In [4665]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [4666]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [4667]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [4668]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [4669]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [4670]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand        chipset_brand
1240        qualcomm   snapdragon 4 gen 2
1055         samsung          exynos 2500
18             apple           a16 bionic
367         qualcomm       snapdragon 695
240         qualcomm       snapdragon 680
744           unisoc           tiger t612
466         mediatek       dimensity 8450
1001         samsung          exynos 1380
323         qualcomm  snapdragon 7s gen 3
823         mediatek            helio g36
1117        mediatek       dimensity 7400
113           unisoc                 t606
275         qualcomm  snapdragon 7s gen 2
1155        qualcomm   snapdragon 7 gen 3
226         qualcomm   snapdragon 6 gen 1
847         mediatek            helio g96
731         mediatek       dimensity 7400
1152        qualcomm   snapdragon 7 gen 3
104         mediatek        dimensity 810
895         qualcomm       snapdragon 680

In [4671]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(49)
memory usage: 869.0+ KB

In [4672]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [4673]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [4674]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [4675]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [4676]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [4677]:
df['chipset_brand'].sample(20)

361           snapdragon 7 plus gen 3
604               dimensity 7300 plus
1230               snapdragon 4 gen 2
1072                   snapdragon 888
1039    snapdragon 8 elite for galaxy
139                         helio g36
578               dimensity 6100 plus
155                snapdragon 8 gen 2
1094                   dimensity 6300
284            dimensity 8350 extreme
878                        exynos 850
585               snapdragon 7s gen 2
701                     dimensity 810
504                    snapdragon 870
1112              dimensity 9300 plus
716                    dimensity 7050
1061               snapdragon 8 gen 3
1240               snapdragon 4 gen 2
1002                    dimensity 900
772              dimensity 8350 ultra
Name: chipset_brand, dtype: object

In [4678]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [4679]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [4680]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [4681]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [4682]:
df['antutu_score'].sample(20)

1061    2020386.0
604      685857.0
980      310236.0
1027    1765220.0
1243     679810.0
377     1403197.0
971      150618.0
795      422909.0
1250     548039.0
523      388879.0
657      244837.0
987      452218.0
172     2426162.0
867      436846.0
130      728840.0
77      1323184.0
758      750000.0
67            NaN
770     1479400.0
1105     615257.0
Name: antutu_score, dtype: float64

In [4683]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [4684]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 99 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1266 non-null   object
 97  chipset_nm                   1258 non-null   float64
 98  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(49)
memory usage: 888.8+ KB

In [4685]:
df['cpu'].sample(20)

828                                 Octa-core (1.8 GHz, Dual core, Cortex A75 + 1.6 GHz, Hexa Core, Cortex A55)
492                                                     Octa-core (2*2.0 GHz cortex-A75 & 6*1.8 GHz Cortex-A55)
960                                                     Octa-core (2x2.4 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
519                                                     Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
64                             Octa-core (1x3.1 GHz Cortex-X4 & 3x2.6 GHz Cortex-A720 & 4x1.92 GHz Cortex-A520)
719                                                     Octa-core (2x2.6 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
695                            Octa-core (1x2.84 GHz Cortex-X1 & 3x2.42 GHz Cortex-A78 & 4x1.80 GHz Cortex-A55)
820                                                     Octa-core (4x2.2 GHz Cortex-A53 & 4x1.7 GHz Cortex-A53)
115                                                                    Octa-core (2*A78 2.2GHz & 6*A55 2.0GHz )
1226                                                    Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
947                                             Octa-core (4x2.4 GHz Kryo 265 Gold & 4x1.9 GHz Kryo 265 Silver)
154     Octa-core (1x3.2 GHz Cortex-X3 & 2x2.8 GHz Cortex-A715 & 2x2.8 GHz Cortex-A710 & 3x2.0 GHz Cortex-A510)
1176                                                                    Octa-core (4.21GHz*1+3.5GHz*3+2.7GHz*4)
388                                                     Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
824                                                     Octa-core (4x2.2 GHz Cortex-A53 & 4x1.6 GHz Cortex-A53)
1255                           Octa-core (1x2.84 GHz Cortex-X1 & 3x2.42 GHz Cortex-A78 & 4x1.80 GHz Cortex-A55)
758                                                     Octa-core (4x2.5 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
963                                                     Octa-core (4x2.4 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
1211                                                                         Octa-core (2×2.2 GHz & 6×1.95 GHz)
1262    Octa-core (1x3.3 GHz Cortex-X4 & 3x3.2 GHz Cortex-A720 & 2x3.0 GHz Cortex-A720 & 2x2.3 GHz Cortex-A520)
Name: cpu, dtype: object

In [4686]:
df['cpu_core_count'] = df['cpu'].str.strip().str.split(' ').str.get(0)

In [4687]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
Octa-core    1193
Hexa-core      54
Deca-core      13
Quad-core       4
Nona-core       4
Name: count, dtype: int64

In [4688]:
def extract_core_count(text):

  t = text.lower()

  if 'octa' in t:
    return 8

  if 'hexa' in t:
    return 6

  if 'deca' in t:
    return 10

  if 'quad' in t:
    return 4

  if 'nona' in t:
    return 9

df['cpu_core_count'] = df['cpu_core_count'].apply(extract_core_count)

In [4689]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
8     1193
6       54
10      13
4        4
9        4
Name: count, dtype: int64

In [4690]:
df['cpu_max_ghz'] = df['cpu'].str.extract(r'(\d+\.?\d*)\s*[Gg]*\s*[Gg]Hz', flags=re.IGNORECASE)

In [4691]:
df['cpu_max_ghz'].value_counts(dropna=False)

cpu_max_ghz
2.4     235
2.2     195
2.5     122
2.0      83
2.6      58
1.8      43
3.0      38
2.8      38
2.3      33
3.2      32
3.1      27
3.35     26
3.3      25
2.63     22
2.40     20
4.32     19
1.6      16
3.19     16
3.46     14
3.00     13
2.05     13
4.26     12
3.25     12
3.36     11
2.85     11
4.04      9
2.84      9
3.05      8
4.21      7
NaN       7
3.78      7
4.47      7
4.6       6
3.23      6
4.05      6
3.63      6
2.35      6
2.9       6
3.21      6
3.39      5
3.4       5
2.80      4
2.7       4
2.75      4
3.73      4
3         3
2.99      3
2.30      2
2.91      2
2.1       1
3.20      1
Name: count, dtype: int64

In [4692]:
df['cpu_max_ghz'] = pd.to_numeric(df['cpu_max_ghz'])

In [4693]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 101 entries, model_id to cpu_max_ghz
dtypes: category(11), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 908.6+ KB

In [4694]:
df['gpu_brand'] = df['gpu'].str.lower().str.strip().str.split(' ').str.get(0)

In [4695]:
df['gpu_brand'] = df['gpu_brand'].str.replace('-',' ')

In [4696]:
df[df['gpu_brand'] == 'unspecified']['gpu']

137    Unspecified
Name: gpu, dtype: object

In [4697]:
df.loc[137,'gpu_brand'] = np.nan

In [4698]:
df['gpu_brand'].value_counts(dropna=False)

gpu_brand
adreno              454
mali g57            243
mali g68             95
arm                  79
mali g615            57
apple                54
mali g52             50
powervr              42
mali g610            34
img                  29
xclipse              22
NaN                  19
mali                 19
mali g77             12
immortalis g720      12
mali g710            10
immortalis g715       9
mali g720             7
immortalis g925       6
immortalis g715s      6
mali g715             5
mali g78              2
ge8322                2
Name: count, dtype: int64

In [4699]:
df['gpu_brand'] = df['gpu_brand'].astype('category')

In [4700]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 102 entries, model_id to gpu_brand
dtypes: category(12), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 910.6+ KB

In [4701]:
df['main_cam'].sample(20)

1114            50 MP, f/1.9, 23mm (Wide-angle), 1/1.56", OIS, PDAF
777                50 MP, f/1.8, 27mm (Wide-angle), 76°, Auto Focus
192                                50 MP, f/1.79, (Wide-angle), OIS
121                     50 MP, f/1.6, (Wide-angle), 0.64 µm, 1/2.8"
1137                     50 MP, f/1.88, (Wide-angle), 1 µm, 1/1.56"
171                  50 MP, f/1.8, (Wide-angle), 1/1.95", OIS, PDAF
379                       50 MP, f/1.8, (Wide-angle), 0.64 µm, PDAF
333       50 MP, f/1.8, 24mm (Wide-angle), 1 µm, 1/1.56", OIS, PDAF
88               200 MP, f/1.9, (Wide-angle), 0.56 µm, 1/1.4", PDAF
1243                 50 MP, f/1.79, (Wide-angle), 0.8 µm, OIS, PDAF
1230             50 MP, f/1.79, (Wide-angle), 0.8 µm, 1/1.95", PDAF
497                                      50 MP, f/1.8, (Wide-angle)
778                     50 MP, f/1.8, 24mm (Wide-angle), 84.4°, OIS
451                 50 MP, f/1.8, 27mm (Wide-angle), 76°, OIS, PDAF
491                                       8 MP, f/2.0, (Wide-angle)
257                    50 MP, f/1.8, (Wide-angle), 1.25 µm, 1/2.76"
420           64 MP, f/1.7, 25mm (Wide-angle), 0.7 µm, 1/2.0", PDAF
897                   50 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, PDAF
1103    50 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
1097      50 MP, f/1.9, 24mm (Wide-angle), 1 µm, 1/1.56", OIS, PDAF
Name: main_cam, dtype: object

In [4702]:
df['cam_primary_mp'] = df['main_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('int')

In [4703]:
df['cam_primary_mp'].value_counts(dropna=False)

cam_primary_mp
50     850
64      91
48      82
108     79
13      48
8       37
200     35
32      25
12      15
16       5
100      1
Name: count, dtype: int64

In [4704]:
df['cam_aperture'] = df['main_cam'].str.split(',').str.get(1).str.split('/').str.get(1).str.strip()

In [4705]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8        726
1.9         80
1.88        60
1.79        60
1.7         53
1.6         53
1.75        42
2.2         42
2.0         40
1.5         19
1.78        18
1.68        14
1.89        13
1.65         9
1.85         7
NaN          6
1.57         6
1.69         5
2.6          4
1.4          3
1.59         3
1.63         2
1.4-2.0      1
1.6-f        1
1.62         1
Name: count, dtype: int64

In [4706]:
df[df['cam_aperture'] == '1.6-f'][['main_cam','model']]

,main_cam,model
1262,"50 MP, f/1.6-f/4.0, 23mm (Wide-angle), 3.2 µm, 1.0"", Auto Focus, Multi-directional PDAF, OIS",Xiaomi 14 Ultra

In [4707]:
df.loc[89,'cam_aperture'] = '1.4'
df.loc[1262,'cam_aperture'] = '1.6'

In [4708]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8     726
1.9      80
1.88     60
1.79     60
1.6      54
1.7      53
1.75     42
2.2      42
2.0      40
1.5      19
1.78     18
1.68     14
1.89     13
1.65      9
1.85      7
1.57      6
NaN       6
1.69      5
1.4       4
2.6       4
1.59      3
1.63      2
1.62      1
Name: count, dtype: int64

In [4709]:
df['cam_aperture'] = pd.to_numeric(df['cam_aperture'])

In [4710]:
df['main_cam'].sample(20)

898                                                       50 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, PDAF
956                                                   50 MP, f/1.8, (Wide-angle), 0.64 µm, 1/2.76", OIS
79      50 MP, f/1.68, 25mm (Wide-angle), 82°, 1.22 µm, 1/1.31", Dual Pixel PDAF, Laser Auto Focus, OIS
9                                                    48 MP, f/1.78, 24mm (Wide-angle), Sensor-Shift OIS
700                                                  48 MP, f/1.8, 26mm (Wide-angle), 79.8°, Auto Focus
76                          64 MP, f/1.9, 26mm (Wide-angle), 80°, 0.8 µm, 1/1.73", Dual Pixel PDAF, OIS
553                                              50 MP, f/1.8, 27mm (Wide-angle), 0.8 µm, 1/2.76", PDAF
1141                                         50 MP, f/1.88, 23mm (Wide-angle), 1 µm, 1/1.55", OIS, PDAF
321       50 MP, f/1.88, 24mm (Wide-angle), 84.5°, 1 µm, 1/1.56", Auto Focus, Dual Pixel PDAF, EIS, OIS
422                                                          50 MP, f/1.8, 26mm (Wide-angle), 76°, PDAF
969                                              50 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.56", OIS, PDAF
605                                                           50 MP, f/1.8, 26mm (Wide-angle), 79°, OIS
513                                                       64 MP, f/1.8, 26mm (Wide-angle), 0.7 µm, PDAF
448                                                  50 MP, f/1.8, 27mm (Wide-angle), 76°, 1/2.88", EIS
542                                           64 MP, f/1.79, 25mm (Wide-angle), 0.7 µm, 1/2", OIS, PDAF
1083                                                             50 MP, f/1.8, (Wide-angle), Auto Focus
1089                                                     50 MP, f/1.8, 26mm (Wide-angle), 0.64 µm, PDAF
168                                                           50 MP, f/1.9, 0mm (Wide-angle), OIS, PDAF
1139                                                                        64 MP, f/1.79, (Wide-angle)
477                                                50 MP, f/1.8, 24mm (Wide-angle), 1 µm, 1/1.56", PDAF
Name: main_cam, dtype: object

In [4711]:
def extract_ois(text):

  t = text.lower()

  if 'ois' in t:
    return 1

  return 0

df['cam_has_ois'] = df['main_cam'].apply(extract_ois)

In [4712]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [4713]:
df['cam_sensor_size'] = df['main_cam'].str.extract(r'1/(\d+\.\d+)')

In [4714]:
df['cam_sensor_size'].value_counts(dropna=False)

cam_sensor_size
NaN     546
1.56    192
1.95    108
2.76     78
1.67     36
1.28     31
2.0      28
1.4      21
1.57     20
2.88     20
1.3      19
1.55     18
1.52     18
1.31     15
3.1      14
1.96     14
1.49     11
1.97      9
1.43      8
4.0       7
2.55      6
2.8       5
3.06      5
1.76      5
1.72      4
1.73      4
2.5       4
2.9       4
1.7       3
1.5       3
3.0       3
1.22      2
1.33      2
2.74      1
2.93      1
3.6       1
0.98      1
1.0       1
Name: count, dtype: int64

In [4715]:
df['cam_sensor_size'] = pd.to_numeric(df['cam_sensor_size'])

In [4716]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 106 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
dtypes: category(12), datetime64[ns](1), float64(20), int64(24), object(49)
memory usage: 950.2+ KB

In [4717]:
df['main_cam2'].sample(20)

780                             8 MP, f/2.2, (Ultra-wide), 112°
214                                2 MP, f/2.4, (Depth), 2.4 µm
1127       8 MP, f/2.2, 16mm  (Ultra-wide), 120°, 1.12 µm, 1/4"
374                               2 MP, f/2.4, (Depth), 0.64 µm
923                              8 MP, f/2.2, 0mm  (Ultra-wide)
621                                 2 MP, f/2.4, (Macro), 88.8°
703          8 MP, f/2.2, (Ultra-wide), 119.7°, 1.12 µm, 1/4.0"
1098           8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/4.0"
808                                        2 MP, f/2.4, (Macro)
1210                                       2 MP, f/2.4, (Depth)
629                                 2 MP, f/2.4, (Macro), 88.8°
68      12 MP, f/2.2, (Ultra-wide), 125.8°, 1.25 µm, Auto Focus
257                  8 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/4.0"
139                                   0.08 MP, 0mm  (Auxiliary)
433                              2 MP, f/2.4, (Monochrome), 89°
811                          2 MP, f/2.4, 0mm  (Depth), 0.64 µm
416                                        2 MP, f/2.4, (Macro)
837            8 MP, f/2.2, (Ultra-wide), 118°, 1.12 µm, 1/4.0"
718      8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0"
522                                        0.08 MP, (Auxiliary)
Name: main_cam2, dtype: object

In [4718]:
df['cam_secondary_mp'] = df['main_cam2'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0)

In [4719]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2              390
8              333
50             125
0.08            97
12              82
NaN             54
5               45
10              39
13              31
48              19
64              15
32              10
(Auxiliary)      7
0.03             6
f/2.4            5
16               4
f/2.8            2
10.8             2
180              1
200              1
Name: count, dtype: int64

In [4720]:
df[df['cam_secondary_mp'] == 'f/2.4'][['model','main_cam2']]

                              model                          main_cam2
739  Realme Narzo N53 (6GB + 128GB)                f/2.4, 0mm  (Depth)
740  Realme Narzo N53 (8GB + 128GB)                     f/2.4, (Depth)
741                Realme Narzo N53                     f/2.4, (Depth)
744  Realme Narzo N61 (6GB + 128GB)   f/2.4, 0mm  (Auxiliary), 0.64 µm
753                    Realme P1 5G  f/2.4, 22mm  (Depth), 88.8°, 1/5"

In [4721]:
df.loc[[638,639,739,740,741,753],'cam_secondary_mp'] = 2
df.loc[[136,138,484,489,745,830,831,744], 'cam_secondary_mp'] = 0.08

In [4722]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2       390
8       333
50      125
0.08     97
12       82
NaN      54
5        45
10       39
13       31
48       19
64       15
32       10
0.08      8
0.03      6
2         6
16        4
10.8      2
180       1
200       1
Name: count, dtype: int64

In [4723]:
cam_cols_to_check = ['main_cam2', 'main_cam3', 'main_cam4']

df['has_telephoto'] = df[cam_cols_to_check].apply(
    lambda x: x.str.contains('Telephoto', case=False, na=False)
).any(axis=1).astype(int)

df['has_periscope'] = df[['main_cam2', 'main_cam3', 'main_cam4']].apply(
    lambda x: x.str.contains('Periscope', case=False, na=False)
).any(axis=1).astype(int)

In [4724]:
df['has_telephoto'].value_counts()

has_telephoto
0    1070
1     198
Name: count, dtype: int64

In [4725]:
df['has_periscope'].value_counts()

has_periscope
0    1219
1      49
Name: count, dtype: int64

In [4726]:
df['main_cam2'].sample(20)

41                                                                                                    NaN
924                                                                             8 MP, f/2.2, (Ultra-wide)
337     64 MP, f/2.6, 70mm  (Periscope), 33°, 0.7 µm, 1/2.0", 3x Optical Zoom, Auto Focus, EIS, OIS, PDAF
413                                                                                  2 MP, f/2.4, (Depth)
219                                                                         2 MP, f/2.4, (Depth), 0.64 µm
45                              48 MP, f/2.8, 100mm  (Periscope), 0.7 µm, 1/2.55", PDAF, Sensor-Shift OIS
369                                                                    2 MP, f/2.4, 0mm  (Macro), 0.64 µm
564                                                                             2 MP, f/2.4, (Depth), 88°
644                                                                    2 MP, f/2.4, 0mm  (Depth), 0.64 µm
116                                                                                  0.08 MP, (Auxiliary)
185                                                  8 MP, f/2.2, (Ultra-wide), 119°, 1/2.76", Auto Focus
907                                                                     5 MP, f/2.2, (Ultra-wide), 0.8 µm
277                            10 MP, f/2.0, 73mm  (Telephoto), 1 µm, 1/3.94", 3x Optical Zoom, OIS, PDAF
995                                                               8 MP, f/2.2, (Ultra-wide), 120°, 0.8 µm
847                                                                       8 MP, f/2.2, (Ultra-wide), 118°
319                                                         8 MP, f/2.2, 15mm  (Ultra-wide), 119.5°, 1/4"
357                                                      8 MP, f/2.2, (Ultra-wide), 112°, 1.12 µm, 1/4.0"
266                                                    50 MP, f/2.2, (Ultra-wide), 118°, 0.64 µm, 1/2.76"
938                                                    12 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm, 1/3.06"
1253                                                                      8 MP, f/2.2, (Ultra-wide), 120°
Name: main_cam2, dtype: object

In [4727]:
df['cam_optical_zoom'] = df['main_cam2'].str.extract(r'(\d+)x\s+Optical\s+Zoom')

In [4728]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].fillna(0)

In [4729]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].astype(int)

In [4730]:
df['cam_optical_zoom'].value_counts(dropna=False)

cam_optical_zoom
0     1097
3       89
2       38
5       36
10       5
4        2
7        1
Name: count, dtype: int64

In [4731]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 110 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(20), int64(27), object(50)
memory usage: 989.8+ KB

In [4732]:
df['main_cam3'].sample(20)

1084                                             NaN
1132                   2 MP, f/2.4, (Macro), 0.64 µm
1070                       2 MP, f/2.4, 0mm  (Depth)
811                                              NaN
491                                              NaN
566                                              NaN
119                           f/2.4, (QVGA), 0.56 µm
1069                                             NaN
411                                              NaN
392                                              NaN
1051                                             NaN
483                                              NaN
334                    2 MP, f/2.4, (Macro), 0.64 µm
612                                              NaN
404                                              NaN
85      12 MP, f/2.2, (Ultra-wide), 112°, Auto Focus
606                                              NaN
942                                              NaN
984                    2 MP, f/2.4, (Macro), 0.64 µm
1133                   2 MP, f/2.4, (Macro), 0.64 µm
Name: main_cam3, dtype: object

In [4733]:
df['cam_tertiary_mp'] = df['main_cam3'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [4734]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN            637
2              330
50              63
12              62
8               49
5               31
48              28
10              13
13              10
0.08             9
0mm              7
200              5
f/2.8            4
f/2.4            3
(Auxiliary)      3
0.3              2
10.5             2
88°              2
0.07             2
3                2
32               2
10.8             1
f/2.5            1
Name: count, dtype: int64

In [4735]:
df[df['cam_tertiary_mp'] == '0mm'][['model','main_cam3']]

                                    model         main_cam3
528              Poco M7 5G (8GB + 128GB)  0mm  (Auxiliary)
720  Realme Narzo 70 Turbo (12GB + 256GB)               0mm
721   Realme Narzo 70 Turbo (8GB + 128GB)               0mm
803            Redmi 13C 5G (6GB + 128GB)  0mm  (Auxiliary)
804            Redmi 13C 5G (8GB + 256GB)  0mm  (Auxiliary)
806               Redmi 13C (6GB + 128GB)  0mm  (Auxiliary)
807               Redmi 13C (8GB + 256GB)  0mm  (Auxiliary)

In [4736]:
df.loc[[121,114,119,122],'cam_tertiary_mp'] = 0.07
df.loc[[808,809,810,528,720,721,803,804,806,807],'cam_tertiary_mp'] = 0.08
df.loc[[636,637,706,707],'cam_tertiary_mp'] = 2
df.loc[[553,554],'cam_tertiary_mp'] = np.nan

In [4737]:
df['cam_tertiary_mp'] = pd.to_numeric(df['cam_tertiary_mp'])

In [4738]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN       639
2.00      334
50.00      63
12.00      62
8.00       49
5.00       31
48.00      28
0.08       19
10.00      13
13.00      10
0.07        6
200.00      5
10.50       2
0.30        2
32.00       2
3.00        2
10.80       1
Name: count, dtype: int64

In [4739]:
# List of camera columns
cam_cols = ['main_cam', 'main_cam2', 'main_cam3','main_cam4']

# Count non-NaN values across these columns
df['total_cam_count'] = df[cam_cols].notna().sum(axis=1)

In [4740]:
df['total_cam_count'].value_counts(dropna=False)

total_cam_count
2    583
3    583
1     54
4     48
Name: count, dtype: int64

In [4741]:
df[~df['main_cam4'].isnull()]['main_cam4']

238                                                                     2 MP, f/2.4, (Depth), 175 µm
439                 50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.75", Multi-Directional PDAF
441                                                                   2 MP, f/2.4, (Monochrome), 88°
442                                                                   2 MP, f/2.4, (Monochrome), 88°
443                                                                   2 MP, f/2.4, (Monochrome), 88°
786                                                                        2 MP, f/2.4, 0mm  (Depth)
787                                                                        2 MP, f/2.4, 0mm  (Depth)
788                                                                             2 MP, f/2.4, (Depth)
836                                                                        2 MP, f/2.4, 0mm  (Depth)
837                                                                        2 MP, f/2.4, 0mm  (Depth)
838                                                                        2 MP, f/2.4, 0mm  (Depth)
842                                                                             2 MP, f/2.4, (Depth)
843                                                                             2 MP, f/2.4, (Depth)
844                                                                             2 MP, f/2.4, (Depth)
845                                                                        2 MP, f/2.4, 0mm  (Depth)
846                                                                        2 MP, f/2.4, 0mm  (Depth)
847                                                                             2 MP, f/2.4, (Depth)
877                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
878                                                                    2 MP, f/2.4, (Depth), 1.75 µm
879                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
880                                                                    2 MP, f/2.4, (Depth), 1.75 µm
881                                                                        2 MP, f/2.4, 0mm  (Depth)
882                                                                             2 MP, f/2.4, (Depth)
883                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
884                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
885                                                                        5 MP, f/2.4, 0mm  (Depth)
915                                                               2 MP, f/2.4, 0mm  (Depth), 0.64 µm
916                                                                    2 MP, f/2.4, (Depth), 0.64 µm
930                                                                    5 MP, f/2.4, (Depth), 1.12 µm
939                                                                             5 MP, f/2.4, (Depth)
992                                                                        2 MP, f/2.4, 0mm  (Macro)
993                                                                             2 MP, f/2.4, (Macro)
1002                                                                            2 MP, f/2.4, (Macro)
1003                                                                            2 MP, f/2.4, (Macro)
1015    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1016    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1022          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1023          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1024          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1034    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1035          12 MP, f/2.2, (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1036    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1045          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1046          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1047          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1181                                      8 MP, f/3.4, (Periscope), 1 µm, 5x Optical Zoom, OIS, PDAF
1262            50 MP, f/1.8, 12mm  (Ultra-wide), 122°, 0.7 µm, 1/2.51", Auto Focus, Dual Pixel PDAF
1264                       50 MP, f/2.2, 14mm  (Ultra-wide), 115°, 1.28 µm, 1/2.76", Dual Pixel PDAF
Name: main_cam4, dtype: object

In [4742]:
df['cam_fourth_mp'] = df['main_cam4'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [4743]:
df['cam_fourth_mp'] = pd.to_numeric(df['cam_fourth_mp'])

In [4744]:
df['cam_fourth_mp'].value_counts(dropna=False)

cam_fourth_mp
NaN     1220
2.0       28
12.0       8
50.0       6
5.0        5
8.0        1
Name: count, dtype: int64

In [4745]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 113 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
dtypes: category(12), datetime64[ns](1), float64(22), int64(28), object(50)
memory usage: 1019.6+ KB

In [4746]:
df['main_cam_features'].sample(50)

209                                                    Cinematic Bokeh, Double Exposure, Dual View, EIS, HDR, LED Flash, Night Mode, OIS, Panorama
525                                                            Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse
730                                                                                                                       HDR, LED Flash, Panorama
212                                                                                       HDR, Night Mode, Panorama, Portrait Mode, Ring-LED Flash
1248               Double Exposure, Dual LED Dual Tone Flash, Dual View, Eye Tracking, HDR, Night, Panorama, Pro, Slow-Mo, Super Macro, Time Lapse
713     AI Scene Detection, Chroma Boost, Cinematic Bokeh, Expert, Filter, HDR, LED Flash, Night Mode, Panaroma, Panorama, Portrait Mode, Pro Mode
1101                                                                                                                      HDR, LED Flash, Panorama
699                                               Dual LED Flash, HDR, Nightscape, Panorama, Panoramic, Professional Mode, Slow Motion, Time Lapse
702                            AI Scene Detection, Chroma Boost, Expert, HDR, LED flash, Panorama, Portrait Mode, Pro Mode, Slow Motion, Timelapse
261                                                                                         Assistive Grid, HDR, LED Flash, Night Vision, Panorama
512                                                                                                                       HDR, LED Flash, Panorama
358                                               HDR, LED Flash, Nightscape, Panorama, Portrait Mode, Portrait Photo & Video, Slow-Mo, Time-Lapse
485                                                                                                                            Dual LED Flash, HDR
1137     Auto Focus, Digital Zoom, DIS, Dual View, HDR, HIGH-RES, Micro, Night Mode, OIS, Panorama, PDAF, PRO, Ring-LED Flash, Slow-Mo, Time-Lapse
1114                                                                                                                 HDR, Panorama, Ring-LED Flash
276                                                                                                                       HDR, LED flash, Panorama
952                                                                                                                       HDR, LED Flash, Panorama
881                                                                                                                       HDR, LED flash, Panorama
637                                                                                                                HDR, LED flash, Macro, Panorama
1052                                                                                                                      HDR, LED Flash, Panorama
510                                                 AI Scene Detection, HDR, LED Flash, Movie frame, Night Mode, Panorama, Portrait Mode, Pro Mode
1073                                                      Double Exposure, HDR, LED Flash, Night, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
1133                                                                                                                 HDR, Panorama, Ring-LED Flash
1105                                                                                                                      HDR, LED Flash, Panorama
0                                         Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF
1058                                                                                                                      HDR, LED-Flash, Panorama
1213                                                                                                                                     LED flash
1172                                                               HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating
668                                                                                                           HDR, LED Flash, Night Mode, Panorama
787                                                                                                                       HDR, LED Flash, Panorama
660                                                                                                           HDR, LED Flash, Night Mode, Panorama
551                                                                                                                       HDR, LED Flash, Panorama
906                                                                                                                       HDR, LED Flash, Panorama
287                                                                                                        Dual LED Dual Tone Flash, HDR, Panorama
969                                                                                                                       HDR, LED Flash, Panorama
210                                                    Cinematic Bokeh, Double Exposure, Dual View, EIS, HDR, LED Flash, Night Mode, OIS, Panorama
459                                                                 Dual View, HDR, LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Time-lapse
589                                        HDR, HIGH-RES, LED Flash, Long Exposure, Movie, Night, Panorama, Portrait, Pro, Slow Motion, Time Lapse
96                                                                                                                  Dual LED  Flash, HDR, Panorama
724                                                                                                                       HDR, LED Flash, Panorama
156                                                                                    Auto Focus, Dual LED Flash, HDR, Panorama, PDAF, Scene Mode
815                                                                                                                                  HDR, LED Fash
227                                                                                                                       HDR, LED Flash, Panorama
678                                                                                                Color Spectrum Sensor, HDR, LED Flash, panorama
825                                                                                                                            Dual LED Flash, HDR
491                                                                                        Dual-LED Flash, HDR, Panorama, Portrait Mode, Timelapse
1220                                                                                 LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Timelapse
61                                                                                                                       HDR, Night Mode, Portrait
1093                                                                                LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Time-lapse
1038                                                                                                                 Auto-HDR, LED Flash, Panorama
Name: main_cam_features, dtype: object

In [4747]:
# 1. Apple Premium Stack (LiDAR & Photonic)
df['is_apple_flagship_tech'] = df['main_cam_features'].str.contains('LiDAR|Photonic Engine', case=False, na=False).astype(int)

# 2. Advanced Focus & Optics (Zeiss & Laser AF)
df['has_laser_af'] = df['main_cam_features'].str.contains('Laser Auto Focus', case=False, na=False).astype(int)
df['has_zeiss_optics'] = df['main_cam_features'].str.contains(r'Zeiss Optics|Zeiss T\*', case=False, na=False).astype(int)

# 3. Stability & Professional Video (OIS & Cinematic/Movie)
df['has_pro_video_features'] = df['main_cam_features'].str.contains('Cinematic|Movie|Dual View', case=False, na=False).astype(int)

In [4748]:
df['is_apple_flagship_tech'].value_counts()

is_apple_flagship_tech
0    1240
1      28
Name: count, dtype: int64

In [4749]:
df['has_laser_af'].value_counts()

has_laser_af
0    1222
1      46
Name: count, dtype: int64

In [4750]:
df['has_zeiss_optics'].value_counts()

has_zeiss_optics
0    1234
1      34
Name: count, dtype: int64

In [4751]:
df['has_pro_video_features'].value_counts()

has_pro_video_features
0    1002
1     266
Name: count, dtype: int64

In [4752]:
df[df['has_zeiss_optics'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
1144,Vivo V30 Pro 5G (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1145,Vivo V30 Pro 5G,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1148,Vivo V40 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1149,Vivo V40 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1150,Vivo V40 Pro (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1151,Vivo V40 Pro,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1152,Vivo V40,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1155,Vivo V50 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1156,Vivo V50 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1157,Vivo V50,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1159,Vivo V60 (12GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1160,Vivo V60 (16GB + 512GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1161,Vivo V60 (8GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1162,Vivo V60,"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1166,Vivo X Fold 5,"Dual LED Flash, HDR, Laser Auto Focus, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1167,Vivo X Fold3 Pro,"Dual LED Flash, HDR, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1168,Vivo X100 (16GB + 512GB),"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1169,Vivo X100 Pro,"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1170,Vivo X100,"3D LUT Support, HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1171,Vivo X200 (16GB + 512GB),"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1172,Vivo X200 FE (16GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1173,Vivo X200 FE,"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1174,Vivo X200 Pro,"3D LUT Support, HDR, HIGH-RES, Laser Auto Focus, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Super Macro, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1175,Vivo X200,"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1176,Vivo X300 (12GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1177,Vivo X300 (16GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1178,Vivo X300 Pro,"3D LUT Import, Colour Spectrum sensor, HDR, Laser AF, LED Flash, Panorama, Zeiss optics, Zeiss T* lens coating"
1179,Vivo X300,"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1180,Vivo X80 (12GB + 256GB),"Double Exposure, Dual LED Dual Tone Flash, Dual View, HDR, Laser AF, Panorama, Pixel Shift, Pro, Slow Motion, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1181,vivo X80 Pro,"Double Exposure, Dual LED Dual Tone Flash, HDR, Laser AF, Long Exposure, Micro, Movie, Night, Panorama, Pixel Shift, Portrait, Pro, Slow Motion, Time Lapse, Zeiss Optics, Zeiss T* Lens Coating"

In [4753]:
df[df['is_apple_flagship_tech'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
14,Apple iPhone 15 (6GB + 256GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
15,Apple iPhone 15 (6GB + 512GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
22,Apple iPhone 15 Pro Max (8GB + 1TB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
23,Apple iPhone 15 Pro Max (8GB + 512GB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
24,Apple iPhone 15 Pro Max,"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
26,Apple iPhone 15,"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"

In [4754]:
df[df['has_laser_af'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
29,Apple iPhone 16 Plus (8GB + 256GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
30,Apple iPhone 16 Plus (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
31,Apple iPhone 16 Plus,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
32,Apple iPhone 16 Pro (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
33,Apple iPhone 16 Pro (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
34,Apple iPhone 16 Pro Max (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
35,Apple iPhone 16 Pro Max (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
36,Apple iPhone 16 Pro Max,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
37,Apple iPhone 16 Pro,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
63,Google Pixel 10 Pro Fold,"Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR"
64,Google Pixel 10 Pro XL,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
65,Google Pixel 10 Pro,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
66,Google Pixel 10,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
278,Motorola Edge 50 Pro (12GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama"
279,Motorola Edge 50 Pro,"HDR, Laser Auto Focus, LED Flash, Panorama"
280,Motorola Edge 50 Ultra,"Assistive Grid, Audio Zoom, Dual LED Flash, HDR, Laser Auto Focus, Leveler, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Timelapse, Ultra HDR"
345,OnePlus 13R (16GB + 512GB),"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
346,OnePlus 13R,"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
349,OnePlus 15 (16GB + 512GB),"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
350,OnePlus 15,"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
439,Oppo Find X8 Pro,"Colour Spectrum sensor, Hasselblad Colour Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
442,Oppo Find X9 Pro,"Color Spectrum Sensor, Hasselblad Color Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
1018,Samsung Galaxy S23 FE (8GB + 256GB),"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1019,Samsung Galaxy S23 FE,"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1043,Samsung Galaxy S25 Plus (12GB + 512GB),"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"
1044,Samsung Galaxy S25 Plus,"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"

In [4755]:
df[df['has_pro_video_features'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
0,Apple iPhone 14 (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
1,Apple iPhone 14 (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
2,Apple iPhone 14 Plus (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
3,Apple iPhone 14 Plus (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
4,Apple iPhone 14 Plus,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
13,Apple iPhone 14,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
42,Apple iPhone 17 (8GB + 512GB),"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
50,Apple iPhone 17,"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
107,Infinix Hot 30 5G (4GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
108,Infinix Hot 30 5G (8GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
109,Infinix Hot 30 5G,"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
116,Infinix Hot 60i 5G,"Dual LED Flash, Dual View, HDR, Night, Panorama, PRO, Slow Motion, Time Lapse"

In [4756]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 117 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(22), int64(32), object(50)
memory usage: 1.0+ MB

In [4757]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [4758]:
df['cam_has_ois'] = ((df['cam_has_ois'] == 1) | df['main_cam_features'].str.contains('OIS', case=False, na=False)).astype(int)

In [4759]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    658
1    610
Name: count, dtype: int64

In [4760]:
df['main_video'].sample(20)

315                                                            4K@30/60fps, 1080p@30/60/120/240fps, gyro-EIS, HDR, OIS
489                                                                                            1080p@30fps, 720p@30fps
529                                                                                                        1080p@30fps
842                                                                                                        1080p@30fps
454                                                                                        1080p@30/60fps, 720p@120fps
426                                                         4K@30fps, 1080p@30/60/120fps, 720p@30/120/240fps, gyro-EIS
349                                    8K@30fps, 4K@30/60/120fps, 1080p@30/60/240fps, Auto HDR, Dolby Vision, gyro-EIS
341                                                  4K@30/60fps, 1080p@30/60/120/240fps, 720p@30/60fps, gyro-EIS, OIS
507                                                            4K@30/60fps, 1080p@30/60/120/240fps, gyro-EIS, HDR, OIS
692                                                                              4K@30/60fps, 1080p@30/60fps, gyro-EIS
957                                                                                              1080p@30fps, gyro-EIS
504                                                                                        4K@30/60fps, 1080p@30/60fps
1262    8K@24/30fps, 4K@24/30/60/120fps, 1080p@30/60/120/240/480/960/1920fps, 10-bit rec., Dolby Vision, gyro-EIS, HDR
506                                                            4K@30/60fps, 1080p@30/60/120/240fps, gyro-EIS, HDR, OIS
374                                                               1080p@30fps, 720p@30/120fps, 120fps Slo-mo, gyro-EIS
633                                                                           1080p@30fps, 720p@30fps, 480p@30fps, HDR
1217                                                                                                       1080p@30fps
1146                                                                                        4K@30fps, 1080p@30fps, HDR
717                                                          4K@30fps, 1080p@30/60/120fps, 720p@30/60/240fps, gyro-EIS
1244                                                                                   4K@30fps, 1080p@30fps, gyro-EIS
Name: main_video, dtype: object

In [4761]:
def get_max_resolution(text):
    if pd.isna(text):
      return 'Unknown'

    res_upper = text.upper()

    if '8K' in res_upper:
        return '8K'
    elif '4K' in res_upper:
        return '4K'
    elif '1440p' in res_upper:
        return '1440p'
    elif '1080P' in res_upper:
        return '1080p'
    elif '720P' in res_upper:
        return '720p'
    else:
        return 'Standard'

df['max_video_res'] = df['main_video'].apply(get_max_resolution).astype('category')

In [4762]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [4763]:
df['video_has_eis'] = df['main_video'].str.contains('EIS', case=True, na=False).astype(int)

In [4764]:
df['video_has_eis'].value_counts()

video_has_eis
0    726
1    542
Name: count, dtype: int64

In [4765]:
df['video_is_pro_grade'] = df['main_video'].str.contains(r'Dolby Vision|HDR10\+|10-bit', case=True, na=False).astype('int')

In [4766]:
df['video_is_pro_grade'].value_counts()

video_is_pro_grade
0    1093
1     175
Name: count, dtype: int64

In [4767]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 120 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
dtypes: category(13), datetime64[ns](1), float64(22), int64(34), object(50)
memory usage: 1.1+ MB

In [4768]:
df['os'].sample(20)

1087     Android 13, Vivo Funtouch
1173     Android 15, Vivo Funtouch
738          Android 15, Realme UI
446            Android 14, ColorOS
78      Android 14, Google Android
90             Android 13, MagicOS
1024            Android 13, One UI
832     Android 15, Xiaomi HyperOS
333           Android 13, OxygenOS
1084     Android 13, Vivo Funtouch
301      Android 13, Motorola MyUx
659          Android 14, Realme UI
1068            Android 13, One UI
415            Android 11, ColorOS
368           Android 12, OxygenOS
1209     Android 13, Vivo Funtouch
1201     Android 14, Vivo Funtouch
567          Android 14, Realme UI
508     Android 15, Xiaomi HyperOS
295      Android 13, Motorola MyUx
Name: os, dtype: object

In [4769]:
df['os_type'] = df['os'].str.extract(r'(Android|iOS|google android)')[0].str.lower().astype('category')

In [4770]:
df['os_type'].value_counts(dropna=False)

os_type
android    1214
ios          54
Name: count, dtype: int64

In [4771]:
df['os_version_num'] = df['os'].str.extract(r'(\d+)').astype(float)

In [4772]:
df['os_version_num'].value_counts(dropna=False)

os_version_num
14.0    333
15.0    315
13.0    235
12.0    226
11.0     78
16.0     41
18.0     18
26.0     12
17.0     10
Name: count, dtype: int64

In [4773]:
df['is_android_go'] = df['os'].str.contains('Go', case=False, na=False).astype(int)

In [4774]:
df['is_android_go'].value_counts()

is_android_go
0    1229
1      39
Name: count, dtype: int64

In [4775]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 123 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(23), int64(35), object(50)
memory usage: 1.1+ MB

In [4776]:
df['software_updates'].sample(20)

770     3 year(s) of Software updates and 4 year(s) of Security updates
486                                       1 year(s) of Security updates
973     2 year(s) of Software updates and 4 year(s) of Security updates
960     4 year(s) of Software updates and 5 year(s) of Security updates
748     2 year(s) of Software updates and 3 year(s) of Security updates
834     2 year(s) of Software updates and 4 year(s) of Security updates
1222    2 year(s) of Software updates and 3 year(s) of Security updates
28                           7 year(s) of Software and Security updates
630     2 year(s) of Software updates and 3 year(s) of Security updates
1027                         7 year(s) of Software and Security updates
1253                         3 year(s) of Software and Security updates
453     2 year(s) of Software updates and 3 year(s) of Security updates
487                                       1 year(s) of Security updates
668                                                                 NaN
804     2 year(s) of Software updates and 4 year(s) of Security updates
51      7 year(s) of Software updates and 6 year(s) of Security updates
996     4 year(s) of Software updates and 5 year(s) of Security updates
945                          6 year(s) of Software and Security updates
250                                                                 NaN
617     2 year(s) of Software updates and 3 year(s) of Security updates
Name: software_updates, dtype: object

In [4777]:
def get_years(text, keyword):
    if pd.isna(text): return 0

    text = text.lower()

    combined_match = re.search(r'(\d+)\s*year.*?software\s*and\s*security', text)
    if combined_match:
        return float(combined_match.group(1))

    specific_match = re.search(r'(\d+)\s*year.*?' + keyword.lower(), text)
    if specific_match:
        return float(specific_match.group(1))

    return 0

df['os_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'software'))
df['security_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'security'))

In [4778]:
df['os_update_years'].value_counts(dropna=False)

os_update_years
2.0    540
3.0    256
4.0    145
1.0    102
7.0     78
0.0     65
5.0     44
6.0     38
Name: count, dtype: int64

In [4779]:
df['security_update_years'].value_counts(dropna=False)

security_update_years
2.0    554
3.0    262
4.0    145
1.0    107
7.0     78
5.0     44
0.0     40
6.0     38
Name: count, dtype: int64

In [4780]:
df[df['security_update_years'] == 0][['model','software_updates','security_update_years']].head(50)

,model,software_updates,security_update_years
111,Infinix Hot 30i (8GB + 128GB),NaN,0.0
112,Infinix Hot 30i,NaN,0.0
113,Infinix Hot 40i,NaN,0.0
134,Infinix Smart 10,NaN,0.0
228,Moto E13 (8GB + 128GB),NaN,0.0
229,Moto E13,NaN,0.0
250,Moto G54 Power (12GB + 256GB),NaN,0.0
251,Moto G54 Power,NaN,0.0
389,Oppo A3 Pro (8GB + 256GB),NaN,0.0
392,Oppo A3x 4G (4GB + 128GB),NaN,0.0
421,Oppo F27 5G (8GB + 256GB),NaN,0.0
423,Oppo F27 Pro Plus 5G (8GB + 256GB),NaN,0.0
430,Oppo F31 5G,NaN,0.0
431,Oppo F31 Pro (12GB + 256GB),NaN,0.0
432,Oppo F31 Pro (8GB + 256GB),NaN,0.0
435,Oppo F31 Pro,NaN,0.0
438,Oppo Find X8 (16GB + 512GB),NaN,0.0
475,Oppo Reno14 5G (12GB + 512GB),NaN,0.0
593,Realme 14 Pro Lite 5G (8GB + 256GB),NaN,0.0
636,Realme C31 (4GB + 64GB),NaN,0.0
642,Realme C51 (4GB + 128GB),NaN,0.0
643,Realme C51,NaN,0.0
668,Realme C75 5G (6GB + 128GB),NaN,0.0
669,Realme C75 5G,NaN,0.0
714,Realme Narzo 60X 5G (6GB + 128GB),NaN,0.0
715,Realme Narzo 60X 5G,NaN,0.0
767,Realme P3 Pro 5G (12GB + 256GB),NaN,0.0
768,Realme P3 Pro 5G (8GB + 256GB),NaN,0.0
799,Redmi 12C (6GB + 128GB),NaN,0.0
800,Redmi 12C,NaN,0.0
823,Redmi A3 (4GB + 128GB),NaN,0.0
824,Redmi A3 (6GB + 128GB),NaN,0.0
1090,Vivo T2x 5G,NaN,0.0
1187,Vivo Y02t,NaN,0.0
1188,Vivo Y100,NaN,0.0
1220,Vivo Y28 5G,NaN,0.0
1233,Vivo Y31 5G (6GB + 128GB),NaN,0.0
1234,Vivo Y31 5G,NaN,0.0
1239,Vivo Y36,NaN,0.0
1247,Vivo Y58 5G,NaN,0.0

In [4781]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 125 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
dtypes: category(14), datetime64[ns](1), float64(25), int64(35), object(50)
memory usage: 1.1+ MB

In [4782]:
df['ai_features'].sample(30)

1019                                                        Circle to Search, Generative Edit, Interpreter, Live Translate, Photo Assist
1078                                                                                                                                 NaN
651                                                                                                           AI Camera, AI Enhancements
683                                   AI Eraser, AI Glare Remover, AI Smart Loop, AI Writer, Circle to Search, Gemini, Recording Summary
749                                                                                                                            AI Camera
1203                                                                                    AI Document Scanning, AI Erase, AI Photo Enhance
300                                                                                                                                  NaN
223                                                                                                      AI Erase, AI Game Voice Changer
1141                                                                                                                                 NaN
489                                                                                                                                  NaN
689                                                                                           AI Beauty, AI Camera, AI Scene recognition
1072                                                                                                                    Circle To Search
756                                                                                                                            AI Camera
514                                                                                                                          AI Portrait
124                                                                                                                            AI Camera
208                                                                                                                            AI Camera
64                                                             AI Assistant, Call assist, Gemini Live, Live Translate, Pixel Screenshots
941                                                                                                                                  NaN
196                                                                                               AI Documents, AI Erase, AI Translation
833                                                                                                                                  NaN
91                                                                                                                                   NaN
195                                                                                               AI Documents, AI Erase, AI Translation
778                                                                                       AI Snap Mode, Hyper Clarity, Recording Summary
820                                                                                                                            AI Camera
552     AI Assistant, AI Image Expansion, AI Interpreter, AI Night Mode, AI Notes, AI Portrait, AI Recorder, Google Gemini, Magic Eraser
433                                                                                                    AI Eraser 2.0, AI Summary, Gemini
106                                                                                                                                  NaN
340                                                                                                                                  NaN
1085                                                                                                                                 NaN
209                                                                                                                                  NaN
Name: ai_features, dtype: object

In [4783]:
df['has_gen_ai'] = df['ai_features'].str.contains(r'Galaxy AI|Apple Intelligence|Circle|Eraser|Gemini|Assist|Generative|Summary|Writer|Interpreter|Reimage').astype(float)
df['has_gen_ai'] = df['has_gen_ai'].fillna(0).astype(int)

In [4784]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [4785]:
df['has_ai_camera'] = df['ai_features'].str.contains(r'AI Camera|AI Beauty|Scene recognition|AI HDR|Portrait').astype(float)
df['has_ai_camera'] = df['has_ai_camera'].fillna(0)

In [4786]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    876
1.0    392
Name: count, dtype: int64

In [4787]:
# Agar phone Gen-AI hai, toh Basic AI ko 0 kar do taaki overlap na ho
df.loc[df['has_gen_ai'] == 1, 'has_ai_camera'] = 0

In [4788]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [4789]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    940
1.0    328
Name: count, dtype: int64

In [4790]:
df['ai_feature_count'] = df['ai_features'].apply(lambda x: len(str(x).split(',')) if pd.notna(x) else 0)

In [4791]:
df['ai_feature_count'] = df['ai_feature_count'].astype(int)

In [4792]:
df['ai_feature_count'].value_counts(dropna=False)

ai_feature_count
0     488
1     333
3     122
4     110
2     103
5      56
7      24
6      13
9      10
8       5
11      3
10      1
Name: count, dtype: int64

In [4793]:
df[df['ai_feature_count'] == 6][['model','ai_features','has_gen_ai','has_ai_camera']]

,model,ai_features,has_gen_ai,has_ai_camera
170,iQOO Neo 10 (12GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
171,iQOO Neo 10 (16GB + 512GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
172,iQOO Neo 10 (8GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
182,iQOO Neo 10,"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
345,OnePlus 13R (16GB + 512GB),"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
346,OnePlus 13R,"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
649,Realme C55,"AI Beauty, AI Camera, AI HDR, AI Night Mode, AI Portrait, AI Scene Recognition",0,1.0
1038,Samsung Galaxy S25 (12GB + 512GB),"Browsing assist, Call assist, Chat assist, Interpreter, Note assist, Photo assist",1,0.0
1150,Vivo V40 Pro (12GB + 512GB),"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1151,Vivo V40 Pro,"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1155,Vivo V50 (12GB + 512GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1156,Vivo V50 (8GB + 256GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1157,Vivo V50,"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0

In [4794]:
df['cam_secondary_mp'] = pd.to_numeric(df['cam_secondary_mp'])

In [4795]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 128 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(27), int64(37), object(49)
memory usage: 1.1+ MB

In [4796]:
df['front_cam'].sample(30)

6                                 12 MP, f/1.9, 23mm, 1/3.6", PDAF
798                                           8 MP, f/2.0, 1.12 µm
1186                             5 MP, f/2.2, (Single), Auto Focus
208                                                   16 MP, f/2.0
542                      16 MP, f/2.45, 0mm  (Wide), 1 µm, 1/3.06"
361                               16 MP, f/2.4, 24mm  (Wide), 1 µm
1142      50 MP, f/2.0, 21mm  (Wide), 0.64 µm, 1/2.76", Auto Focus
1178                            50 MP, f/2.0, (Wide), 92°, 1/2.76"
616                16 MP, f/2.45, 26mm  (Wide), 78°, 1 µm, 1/3.09"
1247                                  8 MP, f/2.05, (Wide), 0.8 µm
439     32 MP, f/2.4, 21mm  (Wide), 90°, 0.8 µm, 1/2.74", EIS, OIS
949                                                   13 MP, f/2.0
1117                                         32 MP, f/2.45, (Wide)
350        32 MP, f/2.4, 21mm  (Wide), 0.8 µm, 1/2.74", Auto Focus
821                                                    5 MP, f/2.2
556                     16 MP, f/2.45, 25mm  (Wide), 82.3°, 0.8 µm
973                                              8 MP, f/2.0, 1 µm
1174                               32 MP, f/2.0, 20mm  (Ultrawide)
1182                   32 MP, f/2.45, 24mm  (Wide), 0.8 µm, 1/2.8"
815                           8 MP, f/2.0, (Wide), 1.12 µm, 1/4.0"
174          32 MP, f/2.45, 24mm  (Wide), 0.7 µm, 1/3.1", gyro-EIS
121                                             16 MP, f/1.8, 1 µm
490                                 5 MP, f/2.0, (Single), 1.12 µm
1064                           10 MP, f/2.2, (Wide), 100°, 1.12 µm
397                                 8 MP, f/2.0, 25mm  (Wide), 80°
254                                           16 MP, f/2.2, (Wide)
937                                      12 MP, f/2.2, 0mm  (Wide)
1102                                          8 MP, f/2.05, (Wide)
23                   12 MP, f/1.9, 23mm, 0.8 µm, 1/3.6", OIS, PDAF
615              50 MP, f/2.4, 22mm  (Wide), 87°, 0.61 µm, 1/2.88"
Name: front_cam, dtype: object

In [4797]:
df['front_cam_mp'] = df['front_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(float)

In [4798]:
df['front_cam_mp'].value_counts(dropna=False)

front_cam_mp
16.0    316
8.0     254
32.0    203
5.0     122
50.0    116
13.0     88
12.0     82
10.0     26
20.0     26
18.0     12
4.0       7
42.0      5
10.5      4
64.0      3
40.0      2
44.0      2
Name: count, dtype: int64

In [4799]:
df['is_front_af'] = (df['front_cam'].str.contains('Auto Focus|PDAF|AF') | df['front_cam_features'].str.contains('Auto Focus|PDAF|AF') | df['front_video'].str.contains('Auto Focus|PDAF|AF')).astype(int)

In [4800]:
df['is_front_af'].value_counts()

is_front_af
0    1045
1     223
Name: count, dtype: int64

In [4801]:
df['front_eis'] = (df['front_cam'].str.contains(r'EIS|gyro-EIS') | df['front_video'].str.contains(r'EIS|gyro-EIS') | df['front_cam_features'].str.contains(r'EIS|gyro-EIS')).astype(int)

In [4802]:
df['front_eis'].value_counts()

front_eis
0    995
1    273
Name: count, dtype: int64

In [4803]:
df['is_dual_front'] = df['front_cam2'].notna().astype(int)

In [4804]:
df['is_dual_front'].value_counts()

is_dual_front
0    1259
1       9
Name: count, dtype: int64

In [4805]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 132 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(40), object(49)
memory usage: 1.2+ MB

In [4806]:
df['front_cam_features'].sample(30)

259                                                                                          NaN
136                                                                                    LED flash
568         Dual--view Video, Face Unlock, Night Mode, Panoramic View, Portrait Mode, Time-lapse
826                                                                                  Fixed Focus
1168                                                                            Face unlock, HDR
937                                                                                          NaN
296                                 Auto Smile Capture, Filters, Fixed Focus, HdR, Portrait Mode
502                                                                             Face Unlock, HDR
1039                                                                                         NaN
143                                                                    Face Unlock, Screen Flash
748                              Dual--view Video, Face Unlock, Night Mode, Panorama, Time-lapse
608                                            Dual Video, Night, Panorama, Portrait, Time Lapse
782                                                         Face unlock, panorama, Portrait Mode
822                                                                                          NaN
314                                                                                          NaN
510                            AI Beauty Mode, Face unlock, Filters, HdR, Palm shutter, Portrait
1237                                          Face unlock, HdR, Night, Portrait, Pro, Time Lapse
952                                                                                  Face Unlock
578                     Dual Video, Face Unlock, Night Mode, Panorama, Portrait Mode, Time-lapse
471                                                                   Face Unlock, HDR, Panorama
574     AI Beauty Mode, AI Scene Recognition, Face recognition, Filters, Panorama, Portrait Mode
1031                                                                                         NaN
427                                                                             Face Unlock, HDR
91                                                                                   Face unlock
795                                                                                          NaN
58                                                                    Face Unlock, HDR, Panorama
21                                                               3D Face Recognition, Auto Focus
279                                          Auto Smile Capture, Face Unlock, HDR, Portrait, Pro
808                                                        HDR Photos, Portrait Mode, Time Lapse
606                                                                                  Face unlock
Name: front_cam_features, dtype: object

In [4807]:
df['has_front_pro_features'] = (df['front_cam_features'].str.contains(r'Dual-view Video|Dual Video|Cinematic|Time-lapse|Pro|Dolby Vision|HDR10\+|Eye Auto Focus|Eye AF|ProRes|3D \(spatial\)', case=False, na=False) |
                                df['front_video'].str.contains(r'Dual-view Video|Dual Video|Cinematic|Time-lapse|Pro|Dolby Vision|HDR10\+|Eye Auto Focus|Eye AF|ProRes|3D \(spatial\)', case=False, na=False)).astype(int)

In [4808]:
df['has_front_pro_features'].value_counts()

has_front_pro_features
0    967
1    301
Name: count, dtype: int64

In [4809]:
df['has_front_flash'] = df['front_cam_features'].str.contains('Flash', case=False, na=False).astype(int)

In [4810]:
df['has_front_flash'].value_counts()

has_front_flash
0    1191
1      77
Name: count, dtype: int64

In [4811]:
df['is_zeiss_front'] = (df['front_cam_features'].str.contains('Zeiss',case=False, na=False) | df['front_video'].str.contains('Zeiss',case=False, na=False)).astype(int)

In [4812]:
df['is_zeiss_front'].value_counts()

is_zeiss_front
0    1256
1      12
Name: count, dtype: int64

In [4813]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 135 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(43), object(49)
memory usage: 1.2+ MB

In [4814]:
df['front_video'].sample(30)

112                                                                    1080p@30fps
1045                                                                   1080p@30fps
1032                                            1080p@30fps, 4K@30/60fps, gyro-EIS
336                                               1080p@30fps, 720@30fps, gyro-EIS
974                                                                     1080@30fps
754                                                                    1080p@30fps
943                                                                      Supported
802                                                                    1080p@30fps
921                                                                    1080p@30fps
565                                                                    1080p@30fps
1080                                                                   1080p@30fps
801                                                                    1080p@30fps
518                                                                    1080p@30fps
144                                                          720p@30fps, Supported
688                                                                    4k@30/60fps
781                                                                            EIS
21      1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS, ProRes Video Recording
793                                                                    1080p@30fps
354                                              1080p@30fps, gyro-EIS, Time Lapse
982                                                                    1080p@30fps
919                                                                    1080p@30fps
929                                                        10-bit HDR, 1080p@30fps
871                                                                 1080p@30/60fps
45                     Cinematic Mode (4k@30fps), gyro-EIS, ProRes Video Recording
159                                                    1080p@30/60fps, 4K 60/30fps
733                                                        1080p@30fps, 720P@30fps
1241                                                                           NaN
795                                                                    1080p@30fps
392                                                                1080/720p@30fps
72                                        1080p@30/60fps, 4K@24/30/60fps, gyro-EIS
Name: front_video, dtype: object

In [4815]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [4816]:
def max_front_video_res(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if '8k' in t:
        return '8K'
  elif '4k' in t:
      return '4K'
  elif '1080p' in t or '1080' in t:
      return '1080p'
  else:
      return 'standard'

df['max_front_video_res'] = df['front_video'].apply(max_front_video_res).astype('category')

In [4817]:
df['max_front_video_res'].value_counts()

max_front_video_res
1080p       910
4K          206
standard    110
unknown      39
8K            3
Name: count, dtype: int64

In [4818]:
df[['model','front_video','max_front_video_res']].sample(20)

,model,front_video,max_front_video_res
1212,Vivo Y21a,1080p@30fps,1080p
273,Motorola Edge 40 Neo,1080p@30fps,1080p
121,Infinix Note 12,1080p@30fps,1080p
294,Motorola G85 5G,1080p@30fps,1080p
874,Redmi Note 14 Pro,1080p@30/60fps,1080p
449,Oppo K13 5G,Dual Video,standard
620,Realme 9 5G Speed Edition,1080p@30fps,1080p
320,Nothing Phone (3a) Pro (12GB + 256GB),"1080p@30fps, 4k@30fps",4K
532,POCO M7 Plus,1080p@30 fps,1080p
1052,Samsung Galaxy Z Flip 5,NaN,unknown
801,Redmi 13 5G (8GB + 128GB),1080p@30fps,1080p
82,Google Pixel 9a,"1080@30fps, 4k@30fps",4K
488,Poco C55 (6GB + 128GB),1080p@30fps,1080p
690,Realme GT Neo 3T (8GB + 256GB),"1080p@30fps, gyro-EIS",1080p
456,OPPO K13x 5G,1080@30fps,1080p
318,Nothing Phone (3a) Lite (8GB + 256GB),1080@30fps,1080p
1111,Vivo T4 Pro,NaN,unknown
1115,Vivo T4R (12GB + 256GB),"1080@30fps, 4k@30fps",4K
279,Motorola Edge 50 Pro,1080p@30/60fps,1080p
104,Infinix Hot 20 5G (6GB + 128GB),1080p@30fps,1080p

In [4819]:
df['battery'].sample(20)

141         5000 mAh, Lithium Ion (Non-removable)
275     5000 mAh, Lithium Polymer (Non-removable)
867     5000 mAh, Lithium Polymer (Non-removable)
53          3149 mAh, Lithium Ion (Non-removable)
335     5000 mAh, Lithium Polymer (Non-removable)
712     5000 mAh, Lithium Polymer (Non-removable)
1106        6000 mAh, Lithium Ion (Non-removable)
603      7000 mAh, Silicon Carbon (Non-removable)
949     6000 mAh, Lithium Polymer (Non-removable)
1214    5000 mAh, Lithium Polymer (Non-removable)
1191    5000 mAh, Lithium Polymer (Non-removable)
1097        5500 mAh, Lithium Ion (Non-removable)
904     5000 mAh, Lithium Polymer (Non-removable)
128     5000 mAh, Lithium Polymer (Non-removable)
890     5000 mAh, Lithium Polymer (Non-removable)
1028        4000 mAh, Lithium Ion (Non-removable)
1194    5000 mAh, Lithium Polymer (Non-removable)
1171        5800 mAh, Lithium Ion (Non-removable)
1148     5500 mAh, Silicon Carbon (Non-removable)
1087        4600 mAh, Lithium Ion (Non-removable)
Name: battery, dtype: object

In [4820]:
df['battery_mah'] = df['battery'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(int)

In [4821]:
df['battery_mah'].value_counts(dropna=False)

/usr/local/lib/python3.12/dist-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

battery_mah
5000    598
6000    137
5500     68
7000     60
4500     51
       ...
4230      1
6510      1
4820      1
5410      1
5240      1
Name: count, Length: 87, dtype: int64

In [4822]:
df['battery_mah'].describe()

count    1268.000000
mean     5222.625394
std       741.887845
min      3149.000000
25%      5000.000000
50%      5000.000000
75%      5500.000000
max      7550.000000
Name: battery_mah, dtype: float64

In [4823]:
def battery_type(text):

  t = text.lower()

  if 'lithium polymer' in t:
    return 'lithium polymer'

  if 'lithium ion' in t:
    return 'lithium ion'

  if 'silicon carbon' in t:
    return 'silicon carbon'

  if 'semi-solid state' in t:
    return 'semi solid state'

  return 'unknown'

df['battery_type'] = df['battery'].apply(battery_type)

In [4824]:
df.loc[[1056,1057], 'battery_type'] = 'lithium polymer'

In [4825]:
df.loc[df['battery_type'] == 'unknown','battery_type'] = 'lithium polymer'
df.loc[df['battery_type'] == 'semi solid state','battery_type'] = 'lithium polymer'

In [4826]:
df['battery_type'].value_counts()

battery_type
lithium polymer    850
lithium ion        321
silicon carbon      97
Name: count, dtype: int64

In [4827]:
df['battery_type'] = df['battery_type'].astype('category')

In [4828]:
df.info(verbose=True , show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 138 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
 135  max_front_video_res          1268 non-null   category
 136  battery_mah                  1268 non-null   int64
 137  battery_type                 1268 non-null   category
dtypes: category(16), datetime64[ns](1), float64(28), int64(44), object(49)
memory usage: 1.2+ MB

In [4829]:
df['charging'].sample(30)

817                                                                                                                                           10W (wired)
1119                                                                                                                                          44W (wired)
92                                                                                                          66W (wired), Reverse Wired Charging Supported
771                                                                                                  80W (wired), 5W (reverse wired)100% in 47min (wired)
173                                                                          80W (wired), 7.5W (reverse wired), PD2.0, 100% in 55min (wired) (advertised)
892                                                                                                                                           25W (wired)
972                                                                                                                                           15W (wired)
945                                                                                                                                           25W (wired)
762                                                                                                         45W (wired)50% in NaNmin (wired) (advertised)
898                                                                                                                                           25W (wired)
317                                                                                                50W (wired), 7.5W (reverse wired)100% in 56min (wired)
1266                                                                                          67W (wired), PD3.0, QC4, 100% in 46min (wired) (advertised)
825                                                                                                                                           10W (wired)
95                                                                                                          45W (wired), Reverse Wired Charging Supported
1023    45W (wired), Wireless Charging Supported, 4.5W (reverse wireless), Reverse Wired Charging Supported, PD3.0, QI, 65% in 30min (wired) (advertised)
982                                                                                                                                           25W (wired)
948                                                                                                                                           25W (wired)
1004                                                                                                         45W (wired)70% in 30min (wired) (advertised)
1238                                                                       44W (wired), Reverse Wired Charging Supported70% in 34min (wired) (advertised)
1097                                                                80W (wired), Reverse Wired Charging Supported, PD, 100% in 56min (wired) (advertised)
46                                                           40W (wired), 25W (wireless), 4.5W (reverse wired), MAGSAFE, PD2.0, Qi2, 50% in 20min (wired)
332                                                                100W (wired), Reverse Wired Charging Supported, PD, 100% in 25min (wired) (advertised)
740                                                                                                          33W (wired)50% in 31min (wired) (advertised)
327                                                                                                         80W (wired)100% in 32min (wired) (advertised)
193                                                                                                          44W (wired)50% in 33min (wired) (advertised)
915                                                                                                                                           25W (wired)
445                                                                  33W (wired), Reverse Wired Charging Supported, PD, 50% in 26min (wired) (advertised)
679                                                                                                                                          120W (wired)
593                                                                                                                                           45W (wired)
920                                                                                                                                           25W (wired)
Name: charging, dtype: object

In [4830]:
df['charging_watts'] = df['charging'].str.split(',').str.get(0).str.split(' ').str.get(0).str.replace('W','').astype(float)

In [4831]:
df['charging_watts'].value_counts(dropna=False)

charging_watts
45.0     155
80.0     140
25.0     137
33.0     129
18.0     103
15.0      75
44.0      72
10.0      71
67.0      67
120.0     62
90.0      52
20.0      38
30.0      33
100.0     30
66.0      21
68.0      17
65.0      16
60.0      11
40.0       9
50.0       7
125.0      5
27.0       3
150.0      3
35.0       3
23.0       2
37.0       2
22.5       2
29.0       1
70.0       1
180.0      1
Name: count, dtype: int64

In [4832]:
df['charging_watts'].describe()

count    1268.000000
mean       47.894322
std        30.613064
min        10.000000
25%        25.000000
50%        44.000000
75%        67.000000
max       180.000000
Name: charging_watts, dtype: float64

In [4833]:
df['wireless_watts'] = df['charging'].str.extract(r'(\d+)W\s*\(wireless\)').astype(float)

In [4834]:
df['wireless_watts'].value_counts(dropna=False)

wireless_watts
NaN     1078
15.0      85
50.0      42
25.0      18
5.0       10
20.0       9
40.0       7
23.0       5
30.0       4
22.0       3
18.0       2
66.0       2
80.0       2
21.0       1
Name: count, dtype: int64

In [4835]:
df['wireless_watts'].describe()

count    190.000000
mean      26.236842
std       16.253993
min        5.000000
25%       15.000000
50%       16.500000
75%       40.000000
max       80.000000
Name: wireless_watts, dtype: float64

In [4836]:
df['has_wireless'] = df['charging'].str.contains('wireless').astype(int)

In [4837]:
df['has_wireless'].value_counts()

has_wireless
0    1068
1     200
Name: count, dtype: int64

In [4838]:
df['has_reverse_charging'] = df['charging'].str.contains('reverse',).astype(int)

In [4839]:
df['has_reverse_charging'].value_counts()

has_reverse_charging
0    1052
1     216
Name: count, dtype: int64

In [4840]:
df['wired_full_charge_time'] = df['charging'].str.extract(r'100% in\s*(\d+)\s*min.*?\(wired\)').astype(float)

In [4841]:
df['wired_full_charge_time'].value_counts(dropna=False)

wired_full_charge_time
NaN      1058
60.0       21
46.0       12
44.0       10
42.0       10
56.0        8
26.0        8
35.0        8
45.0        8
32.0        7
90.0        7
61.0        7
40.0        6
19.0        6
48.0        6
70.0        5
55.0        5
29.0        4
28.0        4
38.0        4
41.0        4
25.0        4
18.0        4
31.0        4
58.0        3
79.0        3
33.0        3
30.0        3
17.0        3
43.0        3
0.0         3
47.0        3
15.0        2
108.0       2
75.0        2
145.0       2
54.0        2
52.0        2
69.0        2
57.0        2
80.0        2
12.0        1
49.0        1
100.0       1
63.0        1
71.0        1
139.0       1
Name: count, dtype: int64

In [4842]:
df[df['wired_full_charge_time'] == 145][['model','charging']]

                       model                           charging
1197  Vivo Y18 (4GB + 128GB)  15W (wired)100% in 145min (wired)
1198                Vivo Y18  15W (wired)100% in 145min (wired)

In [4843]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 143 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
 135  max_front_video_res          1268 non-null   category
 136  battery_mah                  1268 non-null   int64
 137  battery_type                 1268 non-null   category
 138  charging_watts               1268 non-null   float64
 139  wireless_watts               190 non-null    float64
 140  has_wireless                 1268 non-null   int64
 141  has_reverse_charging         1268 non-null   int64
 142  wired_full_charge_time       210 non-null    float64
dtypes: category(16), datetime64[ns](1), float64(31), int64(46), object(49)
memory usage: 1.3+ MB

In [4844]:
df['storage'].sample(30)

13          128GB, NvMe
378      128GB, UFS 3.1
443      256GB, UFS 4.1
389      256GB, UFS 2.2
483      32GB, eMMC 5.1
1082     128GB, UFS 2.2
926      128GB, UFS 2.2
436      256GB, UFS 3.1
697      128GB, UFS 3.1
1243     256GB, UFS 3.1
840      256GB, UFS 2.2
80       256GB, UFS 3.1
323      128GB, UFS 2.2
362      256GB, UFS 3.1
961      128GB, UFS 2.2
746      128GB, UFS 2.2
606          256GB, UFS
547      256GB, UFS 4.0
1017     256GB, UFS 3.1
623      128GB, UFS 2.2
118      128GB, UFS 2.2
1258     256GB, UFS 3.1
14          256GB, NvMe
948      128GB, UFS 2.2
303      256GB, UFS 2.2
146      256GB, UFS 3.1
861      256GB, UFS 2.2
1183     256GB, UFS 4.0
421      256GB, UFS 2.2
1192    128GB, eMMC 5.1
Name: storage, dtype: object

In [4845]:
df['storage_gb'] = df['storage'].str.split(',').str.get(0).str.replace('GB','')

In [4846]:
df['storage_gb'] = df['storage_gb'].str.replace('1TB','1024')
df['storage_gb'] = df['storage_gb'].str.replace('2TB','2048')
df['storage_gb'] = df['storage_gb'].astype(int)

In [4847]:
df['storage_gb'].value_counts(dropna=False)

storage_gb
128     588
256     403
64      133
512     110
1024     17
32       16
2048      1
Name: count, dtype: int64

In [4848]:
df['storage_type'] = df['storage'].str.split(',').str.get(1).str.strip()

In [4849]:
df['storage_type'].value_counts(dropna=False)

storage_type
UFS 2.2     527
UFS 3.1     314
eMMC 5.1    153
UFS 4.0     132
NvMe         52
UFS 2.1      39
UFS 4.1      27
UFS          13
NaN           5
UFS 2.0       3
UFS 3.2       2
uMCP          1
Name: count, dtype: int64

In [4850]:
# 1. Mapping logic to simplify versions
storage_map = {
    'UFS 4.1': 'UFS 4.0',
    'UFS 4.0': 'UFS 4.0',
    'UFS 3.2': 'UFS 3.1',
    'UFS 3.1': 'UFS 3.1',
    'UFS 2.2': 'UFS 2.x',
    'UFS 2.1': 'UFS 2.x',
    'UFS 2.0': 'UFS 2.x',
    'eMMC 5.1': 'eMMC',
    'NvMe': 'NVMe',
    'uMCP': 'UFS 2.x', # uMCP usually mid-range, maps closest to UFS 2.x performance
    'UFS': 'UFS'
}

df['storage_type'] = df['storage_type'].replace(storage_map)

# 2. Handling 5 NaNs based on Brand or Price (Simple Fill for now)
df['storage_type'] = df['storage_type'].fillna('UFS')

In [4851]:
df['storage_type'] = df['storage_type'].astype('category')

In [4852]:
df['storage_type'].value_counts(dropna=False)

storage_type
UFS 2.x    570
UFS 3.1    316
UFS 4.0    159
eMMC       153
NVMe        52
UFS         18
Name: count, dtype: int64

In [4853]:
df['ram'].sample(20)

1025           8GB, LPDDR5X
831            4GB, LPDDR4X
158     16GB, LPDDR5X Ultra
749            8GB, LPDDR4X
1000           8GB, LPDDR4x
49            12GB, LPDDR5X
959            8GB, LPDDR4X
639            3GB, LPDDR4X
304           16GB, LPDDR5X
1046          12GB, LPDDR5X
1252            6GB, LPDDR5
868            8GB, LPDDR4x
245            4GB, LPDDR4X
463           12GB, LPDDR5X
1013            8GB, LPDDR5
577             6GB, LPDDR4
177             8GB, LPDDR5
880            6GB, LPDDR4X
1047          12GB, LPDDR5X
764            6GB, LPDDR4X
Name: ram, dtype: object

In [4854]:
df['ram_gb'] = df['ram'].str.split(',').str.get(0).str.replace('GB','').astype(int)

In [4855]:
df['ram_gb'].value_counts(dropna=False)

ram_gb
8     532
12    233
4     216
6     207
16     49
3      19
2       9
18      2
24      1
Name: count, dtype: int64

In [4856]:
df['ram_type'] = df['ram'].str.lower().str.split(',').str.get(1).str.strip()

In [4857]:
df['ram_type'] = df['ram_type'].str.replace('lpddr3x','lpddr3')
df['ram_type'] = df['ram_type'].str.replace('lpddr5x ultra','lpddr5x')
df['ram_type'] = df['ram_type'].fillna('lpddr4x')

In [4858]:
df['ram_type'] = df['ram_type'].astype('category')

In [4859]:
df['ram_type'].value_counts(dropna=False)

ram_type
lpddr4x    815
lpddr5x    251
lpddr5     153
lpddr3      27
lpddr4      22
Name: count, dtype: int64

In [4860]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 147 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
 135  max_front_video_res          1268 non-null   category
 136  battery_mah                  1268 non-null   int64
 137  battery_type                 1268 non-null   category
 138  charging_watts               1268 non-null   float64
 139  wireless_watts               190 non-null    float64
 140  has_wireless                 1268 non-null   int64
 141  has_reverse_charging         1268 non-null   int64
 142  wired_full_charge_time       210 non-null    float64
 143  storage_gb                   1268 non-null   int64
 144  storage_type                 1268 non-null   category
 145  ram_gb                       1268 non-null   int64
 146  ram_type                     1268 non-null   category
dtypes: category(18), datetime64[ns](1), float64(31), int64(48), object(49)
memory usage: 1.3+ MB

In [4861]:
df['sim'].sample(20)

676            Dual SIM (nano-SIM; dual stand-by)
39       Dual SIM (nano-SIM, eSIM, dual stand-by)
647     Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
1187    Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
865            Dual SIM (nano SIM, dual stand-by)
1093    Hybrid Dual SIM (nano-SIM, dual stand-by)
974            Dual SIM (nano-SIM, dual stand-by)
491             Dual SIM (nano SIM, dual Standby)
413            Dual SIM (nano-SIM, dual stand-by)
963            Dual SIM (nano-SIM, dual stand-by)
1247    Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
1105           Dual SIM (nano-SIM, dual stand-by)
458            Dual SIM (nano-SIM, dual stand-by)
77       Dual SIM (nano-SIM, eSIM, dual stand-by)
638     Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
18       Dual SIM (nano-SIM, eSIM, dual stand-by)
218     Hybrid Dual SIM (nano-SIM, dual stand-by)
112     Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
1259           Dual SIM (nano-SIM, dual stand-by)
561            Dual SIM (nano-SIM, dual stand-by)
Name: sim, dtype: object

In [4862]:
df['has_esim'] = df['sim'].str.contains('eSIM').astype(float)

In [4863]:
df['has_esim'].value_counts()

has_esim
0.0    1110
1.0     154
Name: count, dtype: int64

In [4864]:
df['is_hybrid_slot'] = df['sim'].str.contains('Hybrid').astype(float)

In [4865]:
df['is_hybrid_slot'].value_counts()

is_hybrid_slot
0.0    911
1.0    353
Name: count, dtype: int64