<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [249]:
import pandas as pd
import numpy as np
import re

In [250]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [251]:
df = pd.read_csv('/content/12_jan_smartphones_coloumns_for_ml.csv')

In [252]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 57 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
dtypes: float64(1), int64(2), object(54)
memory usage: 564.8+ KB

In [254]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [255]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [256]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [257]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [258]:
df['brand'].count()

np.int64(1268)

In [259]:
df['brand'] = df['brand'].astype('category')

In [260]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [261]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [262]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [263]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [264]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [265]:
df['rating_count'] = df['rating_count'].astype('float64')

In [266]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(53)
memory usage: 566.7+ KB

In [267]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [268]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [269]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [270]:
df.drop(columns='market_status',inplace=True)

In [271]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [272]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [273]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [274]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(51)
memory usage: 566.7+ KB

In [275]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [276]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [277]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [278]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [279]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [280]:
df['old_price'] = df['old_price'].str.replace(',','')

In [281]:
df['old_price'] = df['old_price'].astype('float')

In [282]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(50)
memory usage: 566.7+ KB

In [283]:
df['price'] = df['price'].str.replace('₹','')

In [284]:
df['price'] = df['price'].str.replace(',','')

In [285]:
df['price'] = df['price'].astype('int')

In [286]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(49)
memory usage: 566.7+ KB

In [287]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [288]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(48)
memory usage: 566.7+ KB

In [289]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [290]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [291]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [292]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [293]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [294]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [295]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  brand                  1268 non-null   category
 54  is_available           1268 non-null   int64
 55  is_flipkart_available  1268 non-null   int64
 56  is_amazon_available    1268 non-null   int64
 57  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(45)
memory usage: 566.7+ KB

In [297]:
df['display_type'].sample(10)

267            p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
1147              AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
489                                           IPS LCD, 60 Hz Refresh Rate, SDR
1220                                          IPS LCD, 90 Hz Refresh Rate, SDR
823               IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
315     AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
202              IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1010        Super AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
243                LCD, 120 Hz Refresh Rate, HDR10, 240 Hz Touch Sampling Rate
1208                                          AMOLED, 120 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [298]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [299]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [300]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [301]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [302]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [303]:
df['display_type'].sample(10)

122                                                                               AMOLED, 90 Hz Refresh Rate, SDR
81                                                  OLED, 120 Hz Refresh Rate, HDR10+, 120 Hz Touch Sampling Rate
1218                                                                             IPS LCD, 90 Hz Refresh Rate, SDR
797                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1036    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
929                                                                        Super AMOLED, 120 Hz Refresh Rate, SDR
759                                                    OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1122                                               AMOLED, 90 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
1054                                                         Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
214                                             Ultra AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [304]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [305]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [306]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [307]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [308]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [309]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [310]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [311]:
df['display_hz'].dtypes

dtype('int64')

In [312]:
df['display_type'].sample(20)

923               Super AMOLED, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
147                   AMOLED, 144 Hz Refresh Rate, HDR10, 360 Hz Touch Sampling Rate
817                     IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
616                Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
84                                                   AMOLED, 90 Hz Refresh Rate, SDR
712                  AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
912                                            Super AMOLED, 90 Hz Refresh Rate, SDR
1031         Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, Anti Reflection Coating
819                                                 IPS LCD, 60 Hz Refresh Rate, SDR
1180                 E5 AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
595                       OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
586                     OLED, 120 Hz Refresh Rate, HDR10, 240 Hz Touch Sampling Rate
80      Super Actua OLED, 120 Hz Refresh Rate, LTPO, HDR, 240 Hz Touch Sampling Rate
636                     IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
667                    IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
896                                                 PLS LCD, 60 Hz Refresh Rate, SDR
1267            Flow AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
173             HDR AMOLED, 144 Hz Refresh Rate, HDR10+, 2000 Hz Touch Sampling Rate
531                    IPS LCD, 144 Hz Refresh Rate, SDR, 288 Hz Touch Sampling Rate
17                           Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision
Name: display_type, dtype: object

In [313]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [314]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [315]:
df['display_dynamic_range'].count()

np.int64(1268)

In [316]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

979            IPS LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
529          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
952      Super AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
598             OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
548           Flow AMOLED, 120 Hz Refresh Rate, 240 Hz Touch Sampling Rate
880                                           LCD, 90 Hz Refresh Rate, SDR
171     AMOLED, 144 Hz Refresh Rate, LTPO, SDR, 360 Hz Touch Sampling Rate
253                                      IPS LCD, 120 Hz Refresh Rate, SDR
133          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
975           PLS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
117            AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
896                                       PLS LCD, 60 Hz Refresh Rate, SDR
797           IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
958                                      TFT LCD, 120 Hz Refresh Rate, SDR
613                AMOLED, 120 Hz Refresh Rate, 240 Hz Touch Sampling Rate
1207                                      AMOLED, 120 Hz Refresh Rate, SDR
668          IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
905                                       IPS LCD, 90 Hz Refresh Rate, SDR
129           AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
153                       3D AMOLED AMOLED, 120 Hz Refresh Rate, LTPO, SDR
Name: display_type, dtype: object

In [317]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [318]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 62 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  brand                  1268 non-null   category
 54  is_available           1268 non-null   int64
 55  is_flipkart_available  1268 non-null   int64
 56  is_amazon_available    1268 non-null   int64
 57  is_official_available  1268 non-null   int64
 58  display_panel_type     1268 non-null   object
 59  display_panel_family   1268 non-null   category
 60  display_hz             1268 non-null   int64
 61  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(46)
memory usage: 589.4+ KB

In [319]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

853                Pro HDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
733                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
735                           AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1190                           AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
540              HDR AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
437                  AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
759                             OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
320                 AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
668                          IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
104                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
771                        AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
134                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
596                             OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
286                       p-OLED, 120 Hz Refresh Rate, HDR10+, 1500 Hz Touch Sampling Rate
1141                       AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
184                  AMOLED, 144 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate
1073                     Turbo AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
700      Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
622     Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1014            Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [320]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [321]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [322]:
df['display_type'].sample(20)

43                                  Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, Anti Reflection Coating
598                                                              OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
414                                                            IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1249                                                                                       IPS LCD, 60 Hz Refresh Rate, HDR
57                                                                                      AMOLED, 165 Hz Refresh Rate, HDR10+
1200                                                                                           LCD, 90 Hz Refresh Rate, SDR
427                                                         AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
36      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate, Anti Reflection Coating
807                                                                                    Dot IPS LCD, 90 Hz Refresh Rate, SDR
486                                                                                        IPS LCD, 60 Hz Refresh Rate, SDR
1044              Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
1011                                                                         Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+
73                                                                         Super Actua OLED, 120 Hz Refresh Rate, LTPO, HDR
182                                                      AMOLED, 144 Hz Refresh Rate, LTPO, SDR, 360 Hz Touch Sampling Rate
731                                                                                          OLED, 120 Hz Refresh Rate, SDR
451                                                            AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
476                                                         AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
802                                  IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
962                                                                                  Super AMOLED, 120 Hz Refresh Rate, SDR
602                                                           IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [323]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [324]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [325]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [326]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [327]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [328]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [329]:
df['display_type'].sample(20)

406                                                     LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
352                                                           HDR AMOLED, 165 Hz Refresh Rate, LTPO, Dolby Vision
282                                               p-OLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
626                            Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
778                                               AMOLED, 144 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
58                                        E6 AMOLED, 165 Hz Refresh Rate, LTPO, HDR10, 720 Hz Touch Sampling Rate
1212                                                                             IPS LCD, 60 Hz Refresh Rate, SDR
440                                 Trinity Engine AMOLED, 120 Hz Refresh Rate, HDR10, 240 Hz Touch Sampling Rate
1104                                             HDR AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
81                                                  OLED, 120 Hz Refresh Rate, HDR10+, 120 Hz Touch Sampling Rate
177                   E4 AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate, Anti Reflection Coating
238                                                                              IPS LCD, 90 Hz Refresh Rate, SDR
1203                                                     LED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1037    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
444                                                       LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
790                                                                              TFT IPS, 60 Hz Refresh Rate, SDR
1056                                                         Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
952                                             Super AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
650                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
222                                                                           AMOLED, 120 Hz Refresh Rate, HDR10+
Name: display_type, dtype: object

In [330]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 65 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(46)
memory usage: 619.1+ KB

In [331]:
df['display_size'].sample(20)

890                                               6.5 inches, 102 cm², 81.8% Screen To Body Ratio
422                                            6.67 inches, 107.4 cm², 92.2% Screen To Body Ratio
829                                              6.88 inches, 112.4 cm², 90% Screen To Body Ratio
360                                            6.74 inches, 109.7 cm², 93.5% Screen To Body Ratio
584                                           6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
864                            6.67 inches Curved Display, 107.4 cm², 93.35% Screen To Body Ratio
1204                                                                         6.74 inches, 110 cm²
866                                              6.67 inches, 107.4 cm², 94% Screen To Body Ratio
606                                            6.67 inches, 107.4 cm², 88.9% Screen To Body Ratio
542                                            6.67 inches, 107.4 cm², 94.2% Screen To Body Ratio
271                                                                           6.5 inches, 102 cm²
1066    8 inches Foldable Display, 204.2 cm², 95.1% Screen To Body Ratio, 6.5 inches rear display
1001                                             6.65 inches, 110.2 cm², 86% Screen To Body Ratio
437                                  6.8 inches Flip Display, 108 cm², 85.9% Screen To Body Ratio
952                                               6.5 inches, 103.7 cm², 87% Screen To Body Ratio
899                                                                         6.7 inches, 108.4 cm²
289                                             6.7 inches, 107.4 cm², 94.6% Screen To Body Ratio
259                                            6.6 inches, 103.6 cm², 91.32% Screen To Body Ratio
293                               6.67 inches Curved Display, 107.4 cm², 93% Screen To Body Ratio
563                               6.7 inches Curved Display, 108 cm², 93.65% Screen To Body Ratio
Name: display_size, dtype: object

In [332]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [333]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [334]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [335]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [336]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [337]:
df['display_inches'].count()

np.int64(1268)

In [338]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [339]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 66 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(46)
memory usage: 629.0+ KB

In [340]:
df['display_size'].sample(20)

34                       6.9 inches, 115.6 cm², 92.3% Screen To Body Ratio
171                       6.78 inches, 111 cm², 90.4% Screen To Body Ratio
230                       6.5 inches, 102 cm², 89.03% Screen To Body Ratio
31                         6.7 inches, 110.2 cm², 88% Screen To Body Ratio
749                    6.67 inches, 107.2 cm², 89.97% Screen To Body Ratio
13                          6.1 inches, 90.2 cm², 86% Screen To Body Ratio
112                       6.56 inches, 103.4 cm², 90% Screen To Body Ratio
846                      6.43 inches, 99.8 cm², 84.5% Screen To Body Ratio
704                       6.4 inches, 98.9 cm², 90.8% Screen To Body Ratio
183                       6.78 inches, 111 cm², 90.8% Screen To Body Ratio
695                     6.62 inches, 105.8 cm², 92.6% Screen To Body Ratio
1262     6.73 inches Curved Display, 108.9 cm², 89.6% Screen To Body Ratio
270     6.67 inches Curved Display, 107.4 cm², 92.12% Screen To Body Ratio
1047                     6.9 inches, 116.9 cm², 92.5% Screen To Body Ratio
687                     6.79 inches, 112.8 cm², 94.2% Screen To Body Ratio
251                        6.5 inches, 102 cm², 85.5% Screen To Body Ratio
544                    6.67 inches, 107.4 cm², 88.95% Screen To Body Ratio
348                      6.32 inches, 97.9 cm², 90.6% Screen To Body Ratio
186                                                 6.77 inches, 110.9 cm²
679                     6.78 inches, 112.8 cm², 91.4% Screen To Body Ratio
Name: display_size, dtype: object

In [341]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [342]:
df['display_body_ratio'].count()

np.int64(1036)

In [343]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [344]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [345]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(46)
memory usage: 638.9+ KB

In [347]:
df['display_size'].sample(20)

638                        6.5 inches, 102 cm², 88.7% Screen To Body Ratio
521                     6.74 inches, 109.7 cm², 83.7% Screen To Body Ratio
833                     6.88 inches, 112.4 cm², 84.1% Screen To Body Ratio
455                     6.72 inches, 107.2 cm², 89.9% Screen To Body Ratio
790                       6.53 inches, 102.9 cm², 81% Screen To Body Ratio
31                         6.7 inches, 110.2 cm², 88% Screen To Body Ratio
1263                     6.36 inches, 97.6 cm², 89.3% Screen To Body Ratio
28                        6.1 inches, 91.7 cm², 86.4% Screen To Body Ratio
1184      6.78 inches Curved Display, 111 cm², 93.53% Screen To Body Ratio
279      6.7 inches Curved Display, 107.4 cm², 90.75% Screen To Body Ratio
407                     6.75 inches, 111.4 cm², 90.6% Screen To Body Ratio
74         6.2 inches Curved Display, 91.1 cm², 85.5% Screen To Body Ratio
411                     6.56 inches, 103.4 cm², 89.8% Screen To Body Ratio
902                                                  6.6 inches, 104.9 cm²
328                        6.7 inches, 108 cm², 87.9% Screen To Body Ratio
246                         6.5 inches, 45.3 cm², 85% Screen To Body Ratio
520                     6.74 inches, 109.7 cm², 83.7% Screen To Body Ratio
345                     6.78 inches, 111.7 cm², 91.2% Screen To Body Ratio
1002                     6.7 inches, 108.1 cm², 85.3% Screen To Body Ratio
1068    7.6 inches Foldable Display, 183.2 cm², 91.1% Screen To Body Ratio
Name: display_size, dtype: object

In [348]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [349]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [350]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [351]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [352]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(46)
memory usage: 648.8+ KB

In [353]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [354]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [355]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(46)
memory usage: 658.8+ KB

In [356]:
df['display_res'].sample(20)

236                                                           HD+, 720 x  1612 pixels, 20:9 (263 ppi), 8-bit colours, 65% DCI-P3, 1000 nits(High Brightness), 800 nits(Typical Brightness), Blue Light Filters
795                                                                                        FHD+, 1080 x  2408 pixels, 20.7:9 (400 ppi), 8-bit colours, 70% NTSC, 400 nits(Peak Brightness), Blue Light Filters
536                                          FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), SGS Display Certification, 4500000:1 Contrast Ratio
1240                                                   HD+, 720 x  1608 pixels, 20:9 (264 ppi), 8-bit colours, 83% NTSC, 1000 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification
138                                                                                                              HD, 720 x  1612 pixels, 20:9 (267 ppi), 8-bit 16.7 Million Colours, 500 nits(Peak Brightness)
888                                                                                           HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16 Million Colours, 400 nits(Peak Brightness), Eye Comfort Shield
65                                          1.5K, 1280 x  2856 pixels, 20:9 (495 ppi), 8-bit 16 Million Colours, 3300 nits(Peak Brightness), 2200 nits(High Brightness), PWM Dimming, 2000000:1 Contrast Ratio
45      1.5K, 1320 x  2868 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
116                                                                                  HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 83% NTSC, 670 nits(Peak Brightness), 560 nits(Typical Brightness)
349                                    1.5K, 1272 x  2772 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 800 nits(High Brightness), TUV Rheinland certification
945                                                                                                              HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness)
751      FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), TUV Rheinland certification
266                                                                                                FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 500 nits(Peak Brightness)
918                                                      FHD+, 1080 x  2340 pixels, 19.5:9 (396 ppi), 10-bit 16 Million Colours, 1000 nits(High Brightness), 1000 nits(Typical Brightness), Eye Comfort Shield
897                                                                                                                                                     HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit colours
374                            FHD+, 1080 x  2400 pixels, 20:9 (394 ppi), 8-bit colours, 100% DCI-P3, 2100 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), Eye Comfort Shield
455                                              HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 88% DCI-P3, 1000 nits(High Brightness), 800 nits(Typical Brightness), Blue Light Filters
752      FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), TUV Rheinland certification
894                                                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit 16 Million Colours
5                                                 1.5K, 1179 x  2556 pixels, 19.5:9 (460 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
Name: display_res, dtype: object

In [357]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [358]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [359]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [360]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [361]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [362]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [363]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [364]:
df['res_category'] = df['res_category'].astype('category')

In [365]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [366]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(46)
memory usage: 660.2+ KB

In [367]:
df['display_res'].sample(20)

113                                                                                                                                HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 480 nits(Peak Brightness), Eye Comfort Shield
108                                                                                                                        FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 580 nits(Peak Brightness)
38                                 FHD+, 1179 x  2556 pixels, 19.5:9 (460 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
392                                                                                                                                                   HD+, 720 x  1640 pixels, 20:9 (264 ppi), 8-bit colours, 1000 nits(High Brightness)
1116                                                                   FHD+, 1080 x  2392 pixels, 19.9:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 1300 nits(High Brightness), Blue Light Filters
176                                                                               FHD+, 1080 x  2400 pixels, 20:9 (398 ppi), 8-bit colours, 100% DCI-P3, 1300 nits(Peak Brightness), SGS Display Certification, 6000000:1 Contrast Ratio
136                                                                                                                                        HD, 720 x  1612 pixels, 20:9 (267 ppi), 8-bit 16.7 Million Colours, 500 nits(Peak Brightness)
507     1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68.7 Billion Colours, 100% DCI-P3, 2400 nits(Peak Brightness), 1200 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
348                                                                                1.5K, 1216 x  2640 pixels, 19.5:9 (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1600 nits(High Brightness), PWM Dimming, 5000000:1 Contrast Ratio
1181                                                             WQHD+, 1440 x  3200 pixels, 20:9 (517 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1500 nits(High Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
286                                                                         1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
646                                                                                                                                       HD+, 720 x  1600 pixels, 20:9 (390 ppi), 8-bit 16.7 Million Colours, 560 nits(Peak Brightness)
401                                                                                                           HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16 Million Colours, 720 nits(High Brightness), 480 nits(Typical Brightness)
654                                                                                                  HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit colours, 625 nits(High Brightness), 500 nits(Typical Brightness), Eye Comfort Shield
216                                                                                                         1.5K, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit colours, 100% DCI-P3, 1800 nits(Peak Brightness), 6000000:1 Contrast Ratio
942                                                                                                    HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit colours, 83% sRGB, 800 nits(High Brightness), DC Dimming, 1000000:1 Contrast Ratio
1005                                                                                                                       FHD+, 1080 x  2400 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness), DC Dimming
1143                                                                          FHD+, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2800 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
269                                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1.07 Billion Colours, 100% sRGB, 1250 nits(Peak Brightness)
955                                                                                                                         FHD+, 1080 x  2340 pixels, 20:9 (387 ppi), 8-bit colours, 100% DCI-P3, 800 nits(High Brightness), DC Dimming
Name: display_res, dtype: object

In [368]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [369]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [370]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [371]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [372]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [373]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [374]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [375]:
df['res_width'].count()

np.int64(1268)

In [376]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [377]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  display_pixels               1268 non-null   object
 71  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(47)
memory usage: 680.0+ KB

In [378]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [379]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [380]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [381]:
df.loc[[1055,1058],'res_height'] = 2520

In [382]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [383]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [384]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  display_pixels               1268 non-null   object
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(47)
memory usage: 689.9+ KB

In [385]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [386]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(46)
memory usage: 680.0+ KB

In [387]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [388]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [389]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [390]:
df['x'].sample(20)

822       20
651       20
162     1.85
838       20
423       20
339     19.8
945       20
481       20
305      NaN
674       20
12      19.5
14      19.5
799     20.6
41      19.5
601       20
1125      20
20      19.5
1131      20
1008      20
575       20
Name: x, dtype: object

In [391]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [392]:
df['y'].sample(20)

968     9
979     9
813     9
745     9
1000    9
977     9
1169    9
815     9
119     9
471     9
34      9
814     9
631     9
504     9
1218    9
697     9
287     9
456     9
264     9
411     9
Name: y, dtype: object

In [393]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [394]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [395]:
df['aspect_ration_numeric'].sample(20)

343     2.222222
602     2.222222
91      2.211111
730     2.222222
313     2.222222
1186    2.222222
309     2.222222
875          NaN
1097    2.222222
1218    2.222222
1056         NaN
943     2.222222
884     2.222222
1074    2.222222
940     2.222222
237     2.277778
417     2.222222
64      2.222222
25      2.166667
320     2.166667
Name: aspect_ration_numeric, dtype: float64

In [396]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [397]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  helper                       1266 non-null   object
 73  aspect_ration_numeric        1185 non-null   float64
 74  x                            1185 non-null   float64
 75  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(47)
memory usage: 719.6+ KB

In [398]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [399]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(46)
memory usage: 689.9+ KB

In [400]:
df['display_res'].sample(20)

522                                                                                         HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(Peak Brightness), 450 nits(Typical Brightness)
122                                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit colours, 1000 nits(Peak Brightness)
1229                                                                                       HD+, 720 x  1608 pixels, 20:9 (264 ppi), 8-bit colours, 83% NTSC, 1000 nits(High Brightness), Blue Light Filters
747                                                                     HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 560 nits(High Brightness), 450 nits(Typical Brightness), Eye Comfort Shield
115                                                                                  HD+, 720 x  1600 pixels, (261.8 ppi), 8-bit colours, 72% NTSC, 700 nits(High Brightness), 560 nits(Typical Brightness)
355                                                               FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 96% DCI-P3, 600 nits(Peak Brightness), TUV Rheinland certification
486                                                                                         HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 400 nits(Peak Brightness), 400 nits(Typical Brightness)
412                                                                        FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 95% DCI-P3, 600 nits(Peak Brightness), Eye Comfort Shield
370                                                                  FHD+, 1080 x  2400 pixels, 20:9 (391 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 680 nits(Peak Brightness), SGS Display Certification
96                     1.5K, 1224 x  2720 pixels, (440 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 700 nits(Typical Brightness), TUV Rheinland certification
149          FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 1300 nits(High Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
228                                                                                                                                                  HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours
65                                       1.5K, 1280 x  2856 pixels, 20:9 (495 ppi), 8-bit 16 Million Colours, 3300 nits(Peak Brightness), 2200 nits(High Brightness), PWM Dimming, 2000000:1 Contrast Ratio
510                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (401 ppi), 8-bit colours, 70% NTSC, 500 nits(High Brightness), 1500:1 Contrast Ratio
1                                                                              FHD+, 1170 x  2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio
9                   1.5K, 1290 x  2796 pixels, 19.5:9 (460 ppi), 8-bit colours, 83% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
952                                                                                      FHD+, 1080 x  2340 pixels, 20:9 (399 ppi), 8-bit 16 Million Colours, 800 nits(Peak Brightness), Eye Comfort Shield
265                                                                                            FHD+, 1080 x  2640 pixels, 22:9 (413 ppi), 10-bit 1 Billion Colours, 120% DCI-P3, 3000 nits(High Brightness)
314     FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit colours, 100% DCI-P3, 1300 nits(Peak Brightness), 1100 nits(High Brightness), 700 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
1137                                                                                                                  1.5K, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit colours, 1300 nits(Peak Brightness)
Name: display_res, dtype: object

In [401]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [402]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [403]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [404]:
df.loc[[1055,1058],'display_ppi'] = 397

In [405]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [406]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [407]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [408]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [409]:
df['display_ppi'].count()

np.int64(1268)

In [410]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [411]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(46)
memory usage: 699.8+ KB

In [412]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [413]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [414]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [415]:
df['color_depth'] = df['color_depth'].fillna(8)

In [416]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [417]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [418]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [419]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [420]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [421]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(46)
memory usage: 719.6+ KB

In [422]:
df['display_res'].sample(20)

896                                                                                                                                                                    HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours
289                                                                                           1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), SGS Display Certification
239                                                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 8-bit 16.7 Million Colours, 400 nits(Peak Brightness)
1168                                                                                    1.5K, 1260 x  2800 pixels, 20:9 (435 ppi), 10-bit colours, 100% DCI-P3, 3000 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
53                                1.5K, 1260 x  2736 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
1139                                                                                           FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1300 nits(Peak Brightness), 8000000:1 Contrast Ratio
1264                                                                                         WQHD+, 1440 x  3200 pixels, 20:9 (522 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 3200 nits(Peak Brightness), TUV Rheinland certification
864                                                                 FHD+, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
1132                                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit colours, 1300 nits(Peak Brightness), SGS Display Certification
167                                                                             FHD+, 1080 x  2376 pixels, 1.85:1 (398 ppi), 10-bit 1 Billion Colours, 1200 nits(Peak Brightness), TUV Rheinland certification, 6000000:1 Contrast Ratio
385                                                                                               HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 600 nits(Peak Brightness), 480 nits(High Brightness)
772     1.5K, 1272 x  2800 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
666                                                                                  HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 625 nits(High Brightness), Eye Comfort Shield, 1500:1 Contrast Ratio
1150                                                     FHD+, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(High Brightness), 4500 nits(Typical Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
901                                                                                                                                                                    HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours
530                                                                                     FHD+, 1080 x  2340 pixels, 19.5:9 (374 ppi), 8-bit colours, 850 nits(Peak Brightness), 700 nits(Typical Brightness), TUV Rheinland certification
286                                                                         1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
567                                                  FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 82% NTSC, 950 nits(High Brightness), 800 nits(Typical Brightness), Blue Light Filters, 1500:1 Contrast Ratio
612                    FHD+, 1080 x  2372 pixels, 20:9 (401 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4000 nits(Peak Brightness), 1400 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
55                                                                                                              FHD+, 1080 x  2448 pixels, 20.4:9 (395 ppi), 10-bit 16.7 Million Colours, 1200 nits(Peak Brightness), Eye Comfort Shield
Name: display_res, dtype: object

In [423]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [424]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [425]:
df['helper'] = pd.to_numeric(df['helper'])

In [426]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [427]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [428]:
df.drop(columns='helper',inplace=True)

In [429]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(46)
memory usage: 729.6+ KB

In [430]:
df['body_dimension'].sample(20)

38         147.6 x 71.6 x 7.8 mm
1126       159.2 x 74.2 x 7.8 mm
248          160.1 x 74.5 x 8 mm
1178    161.98 x 75.48 x 7.99 mm
993        165.4 x 76.9 x 9.4 mm
757        161.7 x 74.7 x 7.6 mm
188      167.3 x 76.95 x 8.19 mm
1036         162.3 x 79 x 8.6 mm
713       159.8 x 72.9 x 7.93 mm
266        159.4 x 74.2 x 6.8 mm
880        165.4 x 76.9 x 8.4 mm
172     163.72 x 75.88 x 8.09 mm
171     163.72 x 75.88 x 8.09 mm
335          163.4 x 74.3 x 8 mm
854        163 x 76.03 x 7.98 mm
259          160.9 x 74.5 x 8 mm
107        168.5 x 76.5 x 9.2 mm
486        164.9 x 76.8 x 9.1 mm
522            168 x 78 x 8.1 mm
173     163.72 x 75.88 x 7.98 mm
Name: body_dimension, dtype: object

In [431]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [432]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [433]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [434]:
df['height_mm'].isnull().sum()

np.int64(0)

In [435]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [436]:
df['width_mm'].isnull().sum()

np.int64(0)

In [437]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [438]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [439]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [440]:
df['thickness_mm'].sample(20)

783     8.39
1005     7.8
830     8.22
1124    7.36
398      7.8
625     7.99
520      8.1
572     8.75
412     7.93
795      8.9
873     8.85
829     8.22
288     8.25
865      8.9
883      8.1
454      7.9
779     7.68
1095     7.5
83       7.7
192     7.39
Name: thickness_mm, dtype: object

In [441]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [442]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [443]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [444]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [445]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [446]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 80 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(46)
memory usage: 759.3+ KB

In [447]:
df['weight'].sample(20)

253     184 grams
862     187 grams
321     211 grams
773     197 grams
293     172 grams
560     185 grams
835     200 grams
978     192 grams
31      199 grams
324     201 grams
114     188 grams
1073    182 grams
976     184 grams
1013    196 grams
563     183 grams
602     197 grams
1110    192 grams
1121    179 grams
9       240 grams
404     194 grams
Name: weight, dtype: object

In [448]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [449]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [450]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [451]:
df['body_front'].sample(20)

230                      Glass
1232                     Glass
461           Gorilla Glass 7i
620                Panda Glass
637                      Glass
760           Armorshell Glass
924            Gorilla Glass 5
1069           Gorilla Glass 3
160     Schott Xensation Glass
734           Armorshell Glass
1190                     Glass
763                      Glass
980                      Glass
864       Gorilla Glass Victus
286           Gorilla Glass 7i
683               Armour Glass
990       Gorilla Glass Victus
450                  AGC Glass
412                      Glass
377                      Glass
Name: body_front, dtype: object

In [452]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [453]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [454]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [455]:
df['front_potection'] = df['front_potection'].astype('category')

In [456]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 771.1+ KB

In [457]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [458]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [459]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [460]:
df['back_material'] = df['back_material'].astype('category')

In [461]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [462]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [463]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [464]:
df['frame_material'] = df['frame_material'].astype('category')

In [465]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 774.2+ KB

In [466]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [467]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [468]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [469]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 85 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 775.6+ KB

In [470]:
df['ports'].sample(20)

1223                   USB Type-C 2.0, 3.5mm Headphone Jack, OTG
406                         USB Type-C 2.0, 3.5mm Headphone Jack
168                                          USB Type-C 2.0, OTG
949                         USB Type-C 2.0, 3.5mm Headphone Jack
785     OTG, USB Type-C 2.0, 3.5mm Headphone Jack, Infrared Port
224                                              USB Type-C, OTG
861                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
83                                           USB Type-C 2.0, OTG
1204                                         USB Type-C 2.0, OTG
761                                          USB Type-C 2.0, OTG
314                                          USB Type-C 2.0, OTG
131                  OTG, USB Type-C, 24-bit/192kHz Hi-Res audio
1115                                         USB Type-C 2.0, OTG
859                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
135                      microUSB 2.0, 3.5mm Headphone Jack, OTG
896                         USB Type-C 2.0, 3.5mm Headphone Jack
414                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
810                         USB Type-C 2.0, 3.5mm Headphone Jack
616                        USB Type-C, 3.5mm Headphone Jack, OTG
1074                            USB Type-C, 3.5mm Headphone Jack
Name: ports, dtype: object

In [471]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [472]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [473]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [477]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type)

In [478]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64