<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2545]:
import pandas as pd
import numpy as np
import re

In [2546]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [2547]:
df = pd.read_csv('/content/24_jan_smartphones_columns_for_ml.csv')

In [2548]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link,main_cam4,front_cam2
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN

In [2549]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
dtypes: float64(1), int64(2), object(56)
memory usage: 584.6+ KB

In [2550]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [2551]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [2552]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [2553]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [2554]:
df['brand'].count()

np.int64(1268)

In [2555]:
df['brand'] = df['brand'].astype('category')

In [2556]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [2557]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [2558]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [2559]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [2560]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [2561]:
df['rating_count'] = df['rating_count'].astype('float64')

In [2562]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
 59  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(55)
memory usage: 586.5+ KB

In [2563]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [2564]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [2565]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [2566]:
df.drop(columns='market_status',inplace=True)

In [2567]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [2568]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [2569]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [2570]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(53)
memory usage: 586.5+ KB

In [2571]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [2572]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [2573]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [2574]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [2575]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [2576]:
df['old_price'] = df['old_price'].str.replace(',','')

In [2577]:
df['old_price'] = df['old_price'].astype('float')

In [2578]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(52)
memory usage: 586.5+ KB

In [2579]:
df['price'] = df['price'].str.replace('₹','')

In [2580]:
df['price'] = df['price'].str.replace(',','')

In [2581]:
df['price'] = df['price'].astype('int')

In [2582]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(51)
memory usage: 586.5+ KB

In [2583]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [2584]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(50)
memory usage: 586.5+ KB

In [2585]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [2586]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [2587]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [2588]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [2589]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [2590]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [2591]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [2592]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(47)
memory usage: 586.5+ KB

In [2593]:
df['display_type'].sample(10)

999                  Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
667                       IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
494                                                Dot IPS LCD, 90 Hz Refresh Rate, SDR
1098                    AMOLED, 120 Hz Refresh Rate, HDR10+, 480 Hz Touch Sampling Rate
91                         AMOLED, 120 Hz Refresh Rate, SDR, 300 Hz Touch Sampling Rate
108                       IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
624                   Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
557     Boundless Display IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
683            E4 AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 360 Hz Touch Sampling Rate
464               AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2594]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [2595]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [2596]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [2597]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [2598]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [2599]:
df['display_type'].sample(10)

1257    E5 AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 480 Hz Touch Sampling Rate
1249                                                  IPS LCD, 60 Hz Refresh Rate, HDR
1207                                                  AMOLED, 120 Hz Refresh Rate, SDR
1246                                                  IPS LCD, 60 Hz Refresh Rate, SDR
929                                             Super AMOLED, 120 Hz Refresh Rate, SDR
1200                                                      LCD, 90 Hz Refresh Rate, SDR
366                                           Fluid AMOLED, 90 Hz Refresh Rate, HDR10+
1181         E5 AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
352                                HDR AMOLED, 165 Hz Refresh Rate, LTPO, Dolby Vision
188                       IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2600]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [2601]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [2602]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [2603]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,NaN,NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [2604]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [2605]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [2606]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [2607]:
df['display_hz'].dtypes

dtype('int64')

In [2608]:
df['display_type'].sample(20)

1025                                                                         Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+
179                                                        AMOLED, 120 Hz Refresh Rate, HDR10+, 1200 Hz Touch Sampling Rate
575                         ProXDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
719                                    Ultra Smooth Display AMOLED, 120 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
216                                                           AMOLED, 120 Hz Refresh Rate, HDR, 1200 Hz Touch Sampling Rate
124                                                           IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1201                                                                                           LCD, 90 Hz Refresh Rate, SDR
128                                                            AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
1125                                                            AMOLED, 60 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
766                                                           IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1216                                                                                           LCD, 60 Hz Refresh Rate, SDR
102                                                            IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1168                                                  AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 120 Hz Touch Sampling Rate
44                                  Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, Anti Reflection Coating
37      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 120 Hz Touch Sampling Rate, Anti Reflection Coating
764                                                     ProXDR AMOLED, 120 Hz Refresh Rate, HDR, 180 Hz Touch Sampling Rate
20                                                                  Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, HDR10
659                                                           IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
415                                                                LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
928                                                                                  Super AMOLED, 120 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [2609]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [2610]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [2611]:
df['display_dynamic_range'].count()

np.int64(1268)

In [2612]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

501                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
999                     Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
514                        Dot AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
626     Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
478                            AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
380                                                       IPS LCD, 60 Hz Refresh Rate, SDR
431                           AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
95                            AMOLED, 144 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
588                             OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
199                            AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
578                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1147                          AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1076                         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1212                                                      IPS LCD, 60 Hz Refresh Rate, SDR
430                           AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
247                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
977                                                       PLS LCD, 90 Hz Refresh Rate, SDR
665                           IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
232                                                       IPS LCD, 90 Hz Refresh Rate, SDR
807                                                   Dot IPS LCD, 90 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [2613]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [2614]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
 60  display_panel_type     1268 non-null   object
 61  display_panel_family   1268 non-null   category
 62  display_hz             1268 non-null   int64
 63  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(48)
memory usage: 609.2+ KB

In [2615]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

1097              AMOLED, 120 Hz Refresh Rate, HDR10+, 480 Hz Touch Sampling Rate
422                    OLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
755           ProXDR AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
966            Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
534               AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1150              AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
231                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
704             Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
842              Dot AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
676            AMOLED, 120 Hz Refresh Rate, LTPO, HDR, 360 Hz Touch Sampling Rate
630                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
111         IPS LCD, 90 Hz Refresh Rate, Dolby Vision, 180 Hz Touch Sampling Rate
829                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
461           OLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
539     HDR AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
1227                    LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
463         AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
456                     LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
167               AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
969                  AMOLED, 120 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2616]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [2617]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [2618]:
df['display_type'].sample(20)

38                          Super Retina XDR AMOLED, 60 Hz Refresh Rate, Dolby Vision, 120 Hz Touch Sampling Rate
653                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
998                                            Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
502                                           Dot AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
898                                                                              IPS LCD, 90 Hz Refresh Rate, SDR
944                                                  PLS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
88                                                                      AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
995                                                                        Super AMOLED, 120 Hz Refresh Rate, SDR
576               ProXDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
480                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 720 Hz Touch Sampling Rate
271                                                                           AMOLED, 144 Hz Refresh Rate, HDR10+
771                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1100                                                    LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
655                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
695                               Smooth Display AMOLED, 120 Hz Refresh Rate, HDR10+, 1000 Hz Touch Sampling Rate
1039    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
206                                 Smooth Display AMOLED, 90 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
242                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1225                                                     LCD, 90 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
769                                                    OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2619]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [2620]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [2621]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [2622]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [2623]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [2624]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [2625]:
df['display_type'].sample(20)

732                     OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
296                   IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
968                                               AMOLED, 120 Hz Refresh Rate, HDR
583          ProXDR OLED, 120 Hz Refresh Rate, HDR10+, 1200 Hz Touch Sampling Rate
90                    AMOLED, 120 Hz Refresh Rate, SDR, 300 Hz Touch Sampling Rate
457                AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1030    Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, 120 Hz Touch Sampling Rate
475                AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
943                   PLS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
55                 AMOLED, 165 Hz Refresh Rate, HDR10+, 720 Hz Touch Sampling Rate
219                                            AMOLED, 120 Hz Refresh Rate, HDR10+
653                   IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
868                AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1157               AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
352                            HDR AMOLED, 165 Hz Refresh Rate, LTPO, Dolby Vision
602                  IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
225                  IPS LCD, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
213              Ultra AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
1250                  AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
883                                      Super AMOLED, 120 Hz Refresh Rate, HDR10+
Name: display_type, dtype: object

In [2626]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(48)
memory usage: 638.9+ KB

In [2627]:
df['display_size'].sample(20)

429                       6.7 inches, 108 cm², 93.5% Screen To Body Ratio
518                    6.74 inches, 109.7 cm², 83.7% Screen To Body Ratio
1003                    6.7 inches, 108.1 cm², 85.3% Screen To Body Ratio
891                       6.5 inches, 102 cm², 81.8% Screen To Body Ratio
1153    6.77 inches Curved Display, 110.9 cm², 93.3% Screen To Body Ratio
633                       6.5 inches, 102 cm², 88.7% Screen To Body Ratio
277                      6.4 inches, 97.5 cm², 90.2% Screen To Body Ratio
883                       6.5 inches, 102 cm², 85.4% Screen To Body Ratio
958                     6.6 inches, 104.9 cm², 82.3% Screen To Body Ratio
370                                                6.72 inches, 109.6 cm²
445                    6.59 inches, 104.5 cm², 90.8% Screen To Body Ratio
329                       6.7 inches, 108 cm², 87.9% Screen To Body Ratio
685                                6.8 inches, 94.7% Screen To Body Ratio
246                        6.5 inches, 45.3 cm², 85% Screen To Body Ratio
229                       6.5 inches, 102 cm², 89.2% Screen To Body Ratio
892                                                 6.7 inches, 108.4 cm²
263               6.67 inches Curved Display, 92.77% Screen To Body Ratio
1254                   6.67 inches, 107.4 cm², 85.1% Screen To Body Ratio
275        6.7 inches Curved Display, 108.4 cm², 92% Screen To Body Ratio
1122                     6.44 inches, 100.1 cm², 88% Screen To Body Ratio
Name: display_size, dtype: object

In [2628]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [2629]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [2630]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,NaN,NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [2631]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [2632]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [2633]:
df['display_inches'].count()

np.int64(1268)

In [2634]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [2635]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(48)
memory usage: 648.8+ KB

In [2636]:
df['display_size'].sample(20)

1021                    6.6 inches, 105.3 cm², 86.8% Screen To Body Ratio
405                    6.66 inches, 107.2 cm², 89.9% Screen To Body Ratio
211                                   6.78 inches Curved Display, 111 cm²
858                    6.67 inches, 107.4 cm², 93.3% Screen To Body Ratio
574          6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
951                       6.5 inches, 103.7 cm², 87% Screen To Body Ratio
1089                                               6.58 inches, 104.3 cm²
1096    6.77 inches Curved Display, 110.9 cm², 93.1% Screen To Body Ratio
350                    6.78 inches, 112.4 cm², 95.5% Screen To Body Ratio
505                   6.67 inches, 107.4 cm², 94.27% Screen To Body Ratio
550     6.67 inches Curved Display, 107.4 cm², 88.9% Screen To Body Ratio
1257    6.73 inches Curved Display, 109.4 cm², 89.6% Screen To Body Ratio
946                     6.6 inches, 104.9 cm², 82.5% Screen To Body Ratio
1197                   6.56 inches, 103.4 cm², 83.6% Screen To Body Ratio
197                    6.72 inches, 108.8 cm², 86.2% Screen To Body Ratio
801                    6.79 inches, 109.5 cm², 85.1% Screen To Body Ratio
524                    6.79 inches, 109.5 cm², 91.2% Screen To Body Ratio
982                                                 6.6 inches, 104.9 cm²
25                       6.1 inches, 91.3 cm², 88.3% Screen To Body Ratio
1246                   6.58 inches, 104.3 cm², 90.6% Screen To Body Ratio
Name: display_size, dtype: object

In [2637]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [2638]:
df['display_body_ratio'].count()

np.int64(1036)

In [2639]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [2640]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [2641]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [2642]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(48)
memory usage: 658.8+ KB

In [2643]:
df['display_size'].sample(20)

330                            6.7 inches, 108 cm², 87.9% Screen To Body Ratio
342       6.82 inches Quad Curved Display, 113 cm², 90.7% Screen To Body Ratio
1052                                          6.7 inches Flip Display, 102 cm²
780                        6.8 inches Curved Display, 94% Screen To Body Ratio
302             6.9 inches Flip Display, 107.6 cm², 85.4% Screen To Body Ratio
206                                                       6.44 inches, 100 cm²
1020                         6.6 inches, 105.3 cm², 86.8% Screen To Body Ratio
1009                                                               6.73 inches
1039                         6.7 inches, 107.1 cm², 92.1% Screen To Body Ratio
863         6.67 inches Curved Display, 107.4 cm², 93.35% Screen To Body Ratio
286          6.7 inches Curved Display, 108.4 cm², 96.47% Screen To Body Ratio
954                          6.7 inches, 108.4 cm², 83.6% Screen To Body Ratio
934                          6.6 inches, 106.9 cm², 85.8% Screen To Body Ratio
687                         6.79 inches, 112.8 cm², 94.2% Screen To Body Ratio
351                         6.83 inches, 113.3 cm², 90.1% Screen To Body Ratio
1245                        6.58 inches, 104.3 cm², 90.6% Screen To Body Ratio
331           6.7 inches Curved Display, 108.4 cm², 89.7% Screen To Body Ratio
748                        6.67 inches, 107.2 cm², 89.97% Screen To Body Ratio
1164    6.77 inches Quad Curved Display, 110.9 cm², 88.1% Screen To Body Ratio
1108                        6.74 inches, 109.7 cm², 85.1% Screen To Body Ratio
Name: display_size, dtype: object

In [2644]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [2645]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [2646]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [2647]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [2648]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(48)
memory usage: 668.7+ KB

In [2649]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [2650]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [2651]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 71 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 678.6+ KB

In [2652]:
df['display_res'].sample(20)

453                                                                       1.5K, 1280 x  2800 pixels, (453 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1600 nits(High Brightness), 600 nits(Typical Brightness), Blue Light Filters
1064                                                                                                                                             QXGA+, 1968 x  2184 pixels, (386 ppi), 16 Million Colours, 2600 nits(High Brightness)
545                                                                                                                                 FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit colours, 1000 nits(Peak Brightness), PWM Dimming
1015                                                                                                                                            QHD+, 1440 x  3088 pixels, 19.3:9 (500 ppi), 8-bit colours, 1750 nits(High Brightness)
554                                                                 FHD+, 1080 x  2400 pixels, 20:9 (411 ppi), 8-bit 16.7 Million Colours, 98% NTSC, 1000 nits(Peak Brightness), TUV Rheinland certification, 4000000:1 Contrast Ratio
734                                                                   FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit colours, 950 nits(Peak Brightness), 690 nits(High Brightness), 580 nits(Typical Brightness), Blue Light Filters
571                                                FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
782                                                                                          FHD+, 1080 x  2400 pixels, 20:9 (391 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(High Brightness), 800 nits(Typical Brightness)
983                                                                                                                 FHD+, 1080 x  2340 pixels, 20:9 (396 ppi), 8-bit 16 Million Colours, 800 nits(Peak Brightness), Eye Comfort Shield
1186                                                                                                                             HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit colours, 500 nits(Peak Brightness), Blue Light Filters
1090                                                                                                                                               FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 650 nits(Peak Brightness)
727                                                                                      HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit 16.7 Million Colours, 83.5% NTSC, 563 nits(Peak Brightness), DC Dimming, 1500:1 Contrast Ratio
921                                                                                                            FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit colours, 100% DCI-P3, 1000 nits(Peak Brightness), Blue Light Filters
887                                                                                                   FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 1000 nits(Peak Brightness), Eye Comfort Shield
484                                                                                                                                                  HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 400 nits(Peak Brightness)
984                                                                                                                 FHD+, 1080 x  2340 pixels, 20:9 (396 ppi), 8-bit 16 Million Colours, 800 nits(Peak Brightness), Eye Comfort Shield
271                                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 500 nits(Peak Brightness)
987                                                                                                                                              FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit colours, 800 nits(High Brightness)
748                                                                          HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 625 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification
866     1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 1200 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
Name: display_res, dtype: object

In [2653]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [2654]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [2655]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [2656]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [2657]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [2658]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [2659]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [2660]:
df['res_category'] = df['res_category'].astype('category')

In [2661]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [2662]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 680.0+ KB

In [2663]:
df['display_res'].sample(20)

1065                                                                                                                                               QXGA+, 1968 x  2184 pixels, (386 ppi), 16 Million Colours, 2600 nits(High Brightness)
486                                                                                                                      HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 400 nits(Peak Brightness), 400 nits(Typical Brightness)
51                                1.5K, 1260 x  2736 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
1123                                                                                                                                                 FHD+, 1080 x  2376 pixels, 20:9 (398 ppi), 8-bit colours, 629 nits(Peak Brightness)
963                                                                                FHD+, 1080 x  2340 pixels, 19.5:9 (387 ppi), 10-bit colours, 100% DCI-P3, 600 nits(Peak Brightness), 400 nits(Typical Brightness), Eye Comfort Shield
439     FHD+, 1264 x  2780 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
366                                                                                               FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 10-bit 1 Billion Colours, 100% sRGB, 600 nits(Peak Brightness), TUV Rheinland certification
1181                                                             WQHD+, 1440 x  3200 pixels, 20:9 (517 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1500 nits(High Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
133                                                                                                            HD+, 720 x  1600 pixels, 20:9 (263 ppi), 8-bit colours, 72% NTSC, 672 nits(Peak Brightness), 560 nits(Typical Brightness)
1064                                                                                                                                               QXGA+, 1968 x  2184 pixels, (386 ppi), 16 Million Colours, 2600 nits(High Brightness)
1229                                                                                                                    HD+, 720 x  1608 pixels, 20:9 (264 ppi), 8-bit colours, 83% NTSC, 1000 nits(High Brightness), Blue Light Filters
496                                                                                                HD+, 720 x  1640 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(Peak Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
1153                                                                       FHD+, 1080 x  2392 pixels, 20:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
667                                                                                  HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 625 nits(High Brightness), Eye Comfort Shield, 1500:1 Contrast Ratio
837                                                           FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit colours, 100% DCI-P3, 1000 nits(Peak Brightness), 700 nits(High Brightness), Eye Comfort Shield, 4500000:1 Contrast Ratio
98                                             1.5K, 1224 x  2720 pixels, 20:9 (440 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 700 nits(Typical Brightness), TUV Rheinland certification
810                                                                                                    HD+, 720 x  1640 pixels, 20:9 (260 ppi), 8-bit colours, 70% sRGB, 600 nits(High Brightness), DC Dimming, 1000000:1 Contrast Ratio
314                                  FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit colours, 100% DCI-P3, 1300 nits(Peak Brightness), 1100 nits(High Brightness), 700 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
1195                                                                                                                               HD, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16 Million Colours, 83% NTSC, 840 nits(Peak Brightness)
42                                1.5K, 1206 x  2622 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
Name: display_res, dtype: object

In [2664]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [2665]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [2666]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [2667]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [2668]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [2669]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [2670]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [2671]:
df['res_width'].count()

np.int64(1268)

In [2672]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [2673]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(49)
memory usage: 699.8+ KB

In [2674]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [2675]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [2676]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [2677]:
df.loc[[1055,1058],'res_height'] = 2520

In [2678]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [2679]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [2680]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
 74  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(49)
memory usage: 709.7+ KB

In [2681]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [2682]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(48)
memory usage: 699.8+ KB

In [2683]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [2684]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [2685]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [2686]:
df['x'].sample(20)

964       20
33      19.5
665       20
615     19.5
1169      20
1263      20
438      NaN
641       20
398       20
1218      20
974       20
1061     NaN
214       20
706       20
1022    19.3
161     19.8
272       20
580       20
666       20
814       20
Name: x, dtype: object

In [2687]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [2688]:
df['y'].sample(20)

661     9
671     9
1259    9
241     9
559     9
23      9
1094    9
796     9
460     9
476     9
567     9
256     9
463     9
489     9
224     9
1173    9
644     9
1249    9
120     9
443     9
Name: y, dtype: object

In [2689]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [2690]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [2691]:
df['aspect_ration_numeric'].sample(20)

502     2.222222
790     2.222222
1059    2.566667
331     2.233333
1070    2.222222
195     2.222222
1212    2.222222
209     2.222222
206     2.222222
420     2.222222
1093    2.222222
616     2.222222
439     2.222222
1167    1.126761
512     2.222222
969     2.166667
289     2.222222
836     2.222222
971     2.222222
208     2.222222
Name: aspect_ration_numeric, dtype: float64

In [2692]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [2693]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  helper                       1266 non-null   object
 75  aspect_ration_numeric        1185 non-null   float64
 76  x                            1185 non-null   float64
 77  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(49)
memory usage: 739.5+ KB

In [2694]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [2695]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(48)
memory usage: 709.7+ KB

In [2696]:
df['display_res'].sample(20)

491                                                                                               HD+, 720 x  1650 pixels, 20:9 (268 ppi), 8-bit colours, 500 nits(High Brightness), DC Dimming, 1500:1 Contrast Ratio
467                                            FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness)
604                                                FHD+, 1280 x  2800 pixels, (452.75 ppi), 10-bit 1.07 Billion Colours, 6500 nits(Peak Brightness), 1800 nits(High Brightness), PWM Dimming, 5000000:1 Contrast Ratio
246                                                                                                                                                             HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours
1233                                                                                 HD+, 720 x  1608 pixels, (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(Peak Brightness), TUV Rheinland certification
914                                                                                       FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1100 nits(Peak Brightness), 800 nits(High Brightness)
644                                                                                       HD+, 720 x  1600 pixels, 20:9 (390 ppi), 8-bit 16.7 Million Colours, 560 nits(High Brightness), 560 nits(Typical Brightness)
179                                                             FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit 1 Billion Colours, 1300 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
1170                                                        FHD+, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
749                                                          HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 625 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification
96                                1.5K, 1224 x  2720 pixels, (440 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 700 nits(Typical Brightness), TUV Rheinland certification
270                                                                                                      FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1.07 Billion Colours, 100% sRGB, 1250 nits(Peak Brightness)
932                                                                                                                  FHD+, 1080 x  2340 pixels, 19.5:9 (403 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness)
987                                                                                                                              FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit colours, 800 nits(High Brightness)
147                                              FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
303                                                                                                       FHD+, 1080 x  2640 pixels, 22:9 (413 ppi), 10-bit 1 Billion Colours, 120% DCI-P3, 1400 nits(Peak Brightness)
757                                             FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 600 nits(Typical Brightness), 6000000:1 Contrast Ratio
257                                                                                                      FHD+, 1080 x  2400 pixels, 20:9 (411 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 700 nits(Peak Brightness)
717     FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 16.7 Million Colours, 106% NTSC, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
933                                                                                       FHD+, 1080 x  2340 pixels, 19.5:9 (390 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness), SGS Display Certification
Name: display_res, dtype: object

In [2697]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [2698]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [2699]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [2700]:
df.loc[[1055,1058],'display_ppi'] = 397

In [2701]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [2702]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [2703]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [2704]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [2705]:
df['display_ppi'].count()

np.int64(1268)

In [2706]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [2707]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(48)
memory usage: 719.6+ KB

In [2708]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [2709]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [2710]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [2711]:
df['color_depth'] = df['color_depth'].fillna(8)

In [2712]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [2713]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [2714]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [2715]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [2716]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [2717]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(48)
memory usage: 739.5+ KB

In [2718]:
df['display_res'].sample(20)

1128                                                                                                                                  FHD+, 1080 x  2376 pixels, 2.2:1 (398 ppi), 8-bit colours, 1300 nits(High Brightness)
154                                                                                                            1.5K, 1440 x  3200 pixels, 20:9 (518 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness)
342     QHD+, 1440 x  3168 pixels, 20:9 (510 ppi), 12-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification, 2000000:1 Contrast Ratio
73                                                       QHD+, 1344 x  2992 pixels, 20:9 (489 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 2400 nits(Peak Brightness), 1600 nits(High Brightness), 1000000:1 Contrast Ratio
719                                                                FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
767                                                                                         1.5K, 1272 x  2800 pixels, 19.5:9 (390 ppi), 8-bit colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness)
212                                                                 FHD+, 1080 x  2400 pixels, 20:9 (387 ppi), 10-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
53                   1.5K, 1260 x  2736 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
597             1.5K, 1272 x  2800 pixels, (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
1112                                                                                       1.5K, 1260 x  2800 pixels, 20.9 (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1600 nits(High Brightness), Blue Light Filters
1008                                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness)
353                                                                                                            FHD+, 1080 x  2400 pixels, 20:9 (397 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1300 nits(Peak Brightness)
908                                                                                       FHD+, 1080 x  2340 pixels, 19.5:9 (396 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 800 nits(High Brightness), Eye Comfort Shield
181                                                                                                         FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit colours, 1300 nits(Peak Brightness), 8000000:1 Contrast Ratio
405                                                                                HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1000 nits(High Brightness), 850 nits(Typical Brightness)
191                                                  FHD+, 1080 x  2392 pixels, 20.1:9 (388 ppi), 8-bit colours, 100% DCI-P3, 5000 nits(Peak Brightness), 1300 nits(High Brightness), PWM Dimming, 8000000:1 Contrast Ratio
1206                                                                                  HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit 16.7 Million Colours, 70% NTSC, 700 nits(High Brightness), TUV Rheinland certification
763                                                   FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 85% DCI-P3, 2000 nits(Peak Brightness), 600 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
183                                                  1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1400 nits(High Brightness), SGS Display Certification
1203                                                                                               HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 70% NTSC, 840 nits(Peak Brightness), TUV Rheinland certification
Name: display_res, dtype: object

In [2719]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [2720]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [2721]:
df['helper'] = pd.to_numeric(df['helper'])

In [2722]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [2723]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [2724]:
df.drop(columns='helper',inplace=True)

In [2725]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 79 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(48)
memory usage: 749.4+ KB

In [2726]:
df['body_dimension'].sample(20)

339        163.3 x 75.3 x 8.8 mm
535        164.2 x 76.1 x 8.1 mm
36          163 x 77.6 x 8.25 mm
1189    158.91 x 73.53 x 7.73 mm
186       163.4 x 76.4 x 7.89 mm
1233    166.14 x 77.01 x 8.39 mm
488        168.8 x 76.4 x 8.8 mm
32        149.6 x 71.5 x 8.25 mm
166        163.2 x 76.4 x 8.4 mm
534       162.4 x 75.7 x 7.99 mm
981        166.8 x 77.2 x 9.4 mm
1132       164.1 x 74.8 x 7.4 mm
501     171.56 x 79.49 x 7.99 mm
1054       165.1 x 71.9 x 6.9 mm
560        161.6 x 73.9 x 8.2 mm
450       162.8 x 77.22 x 8.3 mm
866          161.2 x 74.2 x 8 mm
296     161.46 x 73.82 x 7.99 mm
622        164.3 x 75.6 x 8.5 mm
475        157.9 x 74.7 x 7.3 mm
Name: body_dimension, dtype: object

In [2727]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [2728]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [2729]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [2730]:
df['height_mm'].isnull().sum()

np.int64(0)

In [2731]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [2732]:
df['width_mm'].isnull().sum()

np.int64(0)

In [2733]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [2734]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [2735]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [2736]:
df['thickness_mm'].sample(20)

743      7.9
917      8.3
941      8.8
442      8.3
379     7.99
204     8.25
725     7.69
741      7.5
1058     6.5
856      8.9
306      8.3
393      7.7
581     7.79
1034     8.6
56      10.3
234        8
984      9.3
1261    7.75
103      8.9
93       8.1
Name: thickness_mm, dtype: object

In [2737]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [2738]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [2739]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [2740]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [2741]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [2742]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(48)
memory usage: 779.1+ KB

In [2743]:
df['weight'].sample(20)

1230      188 grams
236     188.8 grams
990       192 grams
534       190 grams
1092      188 grams
1116    183.5 grams
894       194 grams
484       192 grams
189       202 grams
500       211 grams
739       182 grams
1134      180 grams
372       186 grams
888       192 grams
355       190 grams
395       187 grams
311       190 grams
162       200 grams
381       245 grams
940       188 grams
Name: weight, dtype: object

In [2744]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [2745]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [2746]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [2747]:
df['body_front'].sample(20)

1096                      Glass
746                       Glass
428      Gorilla Glass Victus 2
53             Ceramic Shield 2
806               Gorilla Glass
1208                      Glass
1261     Gorilla Glass Victus 2
194             Gorilla Glass 3
392                 Panda Glass
158                       Glass
605             Gorilla Glass 7
973                       Glass
121                       Glass
549      Gorilla Glass Victus 2
1265        Xiaomi Shield Glass
560                       Glass
785             Gorilla Glass 3
114                       Glass
477     Corning Gorilla Glass 3
911                       Glass
Name: body_front, dtype: object

In [2748]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [2749]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [2750]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [2751]:
df['front_potection'] = df['front_potection'].astype('category')

In [2752]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 790.9+ KB

In [2753]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [2754]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [2755]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [2756]:
df['back_material'] = df['back_material'].astype('category')

In [2757]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [2758]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [2759]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [2760]:
df['frame_material'] = df['frame_material'].astype('category')

In [2761]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 794.0+ KB

In [2762]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [2763]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [2764]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [2765]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 87 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 795.4+ KB

In [2766]:
df['ports'].sample(20)

218     USB Type-C, 3.5mm Headphone Jack, OTG
820        microUSB 2.0, 3.5mm Headphone Jack
1099                      USB Type-C 2.0, OTG
987                       USB Type-C 2.0, OTG
464                       USB Type-C 2.0, OTG
301      USB Type-C 2.0, 3.5mm Headphone Jack
776                                USB Type-C
894      USB Type-C 2.0, 3.5mm Headphone Jack
1177                USB Type-C 3.1 Gen 1, OTG
789      USB Type-C 2.0, 3.5mm Headphone Jack
27               USB Type-C 2.0, Display Port
1143                          USB Type-C, OTG
1156                          USB Type-C, OTG
326                       USB Type-C 2.0, OTG
1130                      USB Type-C 2.0, OTG
352       USB Type-C 2.0, USB Type-C (bottom)
676        USB Type-C 2.0, Infrared Port, OTG
179           USB Type-C 2.0, IR Blaster, OTG
1241                      USB Type-C 2.0, OTG
939                       USB Type-C 2.0, OTG
Name: ports, dtype: object

In [2767]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [2768]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [2769]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [2770]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [2771]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [2772]:
df['ports'].sample(20)

1072                          USB Type-C 2.0, OTG
1087                          USB Type-C 2.0, OTG
1140                          USB Type-C 2.0, OTG
1234                          USB Type-C 2.0, OTG
836         USB Type-C, 3.5mm Headphone Jack, OTG
506                USB Type-C, Infrared Port, OTG
717         USB Type-C, 3.5mm Headphone Jack, OTG
51                   USB Type-C 2.0, Display Port
635       microUSB 2.0, 3.5mm Headphone Jack, OTG
859     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
970          USB Type-C 2.0, 3.5mm Headphone Jack
475                           USB Type-C 2.0, OTG
704     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
7                               Lightning USB 2.0
499              USB Type-C, 3.5mm Headphone Jack
43                   USB Type-C 3.2, Display Port
349                     USB Type-C 3.2 Gen 1, OTG
810          USB Type-C 2.0, 3.5mm Headphone Jack
729         USB Type-C, 3.5mm Headphone Jack, OTG
551                USB Type-C, Infrared Port, OTG
Name: ports, dtype: object

In [2773]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [2774]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [2775]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [2776]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [2777]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [2778]:
df['ports'].sample(20)

486                 microUSB 2.0, 3.5mm Headphone Jack, OTG
515               OTG, USB Type-C 2.0, 3.5mm Headphone Jack
608                                          USB Type-C 2.0
422     USB Type-C, Infrared Port, OTG, USB Type-C (bottom)
50                             USB Type-C 2.0, Display Port
773                                     USB Type-C 2.0, OTG
720                        USB Type-C, 3.5mm Headphone Jack
547                           USB Type-C 2.0, Infrared Port
335                           USB Type-C 2.0, Infrared Port
1176                              USB Type-C 3.1 Gen 1, OTG
678                                USB Type-C, Hi-Res Audio
1002                                    USB Type-C 2.0, OTG
972                    USB Type-C 2.0, 3.5mm Headphone Jack
451                                     USB Type-C 2.0, OTG
419                                     USB Type-C 2.0, OTG
246               USB Type-C 2.0, 3.5mm Headphone Jack, OTG
318                         USB Type-C, USB Type-C (bottom)
1040                                             USB Type-C
722                        USB Type-C, 3.5mm Headphone Jack
285                                     USB Type-C 2.0, OTG
Name: ports, dtype: object

In [2779]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [2780]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [2781]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [2782]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 92 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 836.4+ KB

In [2783]:
df['ip_rating'].sample(20)

375          IP54 (Dust and Water Resistant)
256         IP52 (Dust and Splash Resistant)
284     IP68/IP69 (Dust and Water Resistant)
287          IP68 (Dust and Water Resistant)
92           IP65 (Dust and Water Resistant)
1050                 IPX8 (Water Resistance)
1047      IP68/69 (Dust and Water Resistant)
1236         IP64 (Dust and Water Resistant)
694                                      NaN
1093         IP64 (Dust and Water Resistant)
741                                      NaN
1218         IP54 (Dust and Water Resistant)
118                                      NaN
446          IP54 (Dust and Water Resistant)
568          IP54 (Dust and Water Resistant)
415              IPX4/X5 (Splash Resistance)
277          IP68 (Dust and Water Resistant)
436                                      NaN
1067                 IPX8 (Water Resistance)
570          IP54 (Dust and Water Resistant)
Name: ip_rating, dtype: object

In [2784]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [2785]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [2786]:
df['water_resistance_level'].count()

np.int64(1268)

In [2787]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 93 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 837.8+ KB

In [2788]:
df['speaker'].sample(30)

245                            Stereo Speakers
607                                Loudspeaker
463                            Stereo Speakers
1172                           Stereo Speakers
1134                               Loudspeaker
1185                           Stereo Speakers
293     Stereo Speakers (Dolby Atmos Enhanced)
123                            Stereo Speakers
386                                Loudspeaker
1213                               Loudspeaker
415                               Mono Speaker
901                                Loudspeaker
954                               Mono Speaker
474                            Stereo Speakers
177                            Stereo Speakers
324                            Stereo Speakers
1038                           Stereo Speakers
1133                           Stereo Speakers
1124                               Loudspeaker
184                            Stereo Speakers
1259                           Stereo Speakers
193                            Stereo Speakers
438                            Stereo Speakers
1187                              Mono Speaker
1145                              Mono Speaker
94                             Stereo Speakers
1220                              Mono Speaker
932                            Stereo Speakers
687                            Stereo Speakers
314                            Stereo Speakers
Name: speaker, dtype: object

In [2789]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [2790]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [2791]:
df['speaker'].sample(20)

277                                 Stereo Speakers
529                                    Mono Speaker
679                                 Stereo Speakers
420                                     Loudspeaker
1130                                    Loudspeaker
1174                                Stereo Speakers
146                      DTS Audio, Stereo Speakers
755                                 Stereo Speakers
313                                 Stereo Speakers
744                                    Mono Speaker
1155                                Stereo Speakers
338     24-bit/192kHz Hi-Res Audio, Stereo Speakers
48                                  Stereo Speakers
1199                                   Mono Speaker
1106                                   Mono Speaker
950                                    Mono Speaker
780                                 Stereo Speakers
469                                 Stereo Speakers
882                                 Stereo Speakers
37          Stereo Speakers (Dolby Atmos Certified)
Name: speaker, dtype: object

In [2792]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [2793]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [2794]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(48)
memory usage: 857.6+ KB

In [2795]:
df['chipset'].sample(20)

133            MediaTek Dimensity 7300 Ultimate (4 nm), 728840 Antutu Score
173               Qualcomm Snapdragon 8s Gen 3 (4 nm), 1489956 Antutu Score
372                 Qualcomm Snapdragon 7 Gen 3 (4 nm), 831378 Antutu Score
251                     MediaTek Dimensity 7020 (6 nm), 470535 Antutu Score
1093                    MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
985                MediaTek Dimensity 6100 Plus (6 nm), 393210 Antutu Score
111                                Unisoc T606 (12 nm), 246197 Antutu Score
176                     Qualcomm Snapdragon 870 (7 nm), 818358 Antutu Score
1063               Qualcomm Snapdragon 8 Gen 3 (4 nm), 2020386 Antutu Score
172               Qualcomm Snapdragon 8s Gen 4 (4 nm), 2426162 Antutu Score
1210                Qualcomm Snapdragon 4 Gen 2 (4 nm), 427408 Antutu Score
1022    Qualcomm Snapdragon 8 Gen 2 for Galaxy (4 nm), 1541246 Antutu Score
160          Qualcomm Snapdragon 8 Elite Gen 5 (3 nm), 4186917 Antutu Score
1069                     MediaTek Dimensity 700 (7 nm), 388228 Antutu Score
768                Qualcomm Snapdragon 7s Gen 3 (4 nm), 615257 Antutu Score
1164                                   MediaTek Dimensity 7360 Turbo (4 nm)
114                     MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
156                Qualcomm Snapdragon 8 Gen 3 (4 nm), 2020386 Antutu Score
235                                Unisoc T606 (12 nm), 246197 Antutu Score
533               MediaTek Dimensity 7025 Ultra (6 nm), 531562 Antutu Score
Name: chipset, dtype: object

In [2796]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [2797]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [2798]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [2799]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [2800]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [2801]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand                           chipset_brand
15             apple                              a16 bionic
560         mediatek                          dimensity 7050
774         mediatek                          dimensity 6400
1001         samsung                             exynos 1380
731         mediatek                          dimensity 7400
1182        mediatek                          dimensity 9000
784         qualcomm                          snapdragon 680
1131        mediatek                          dimensity 8200
902          samsung                             exynos 1330
1140        qualcomm                          snapdragon 695
1054        qualcomm                      snapdragon 8 gen 3
88          qualcomm  snapdragon 7 gen 1 accelerated edition
349         qualcomm                snapdragon 8 elite gen 5
357         mediatek                          dimensity 9000
911         mediatek                          dimensity 6300
2              apple                              a15 bionic
587         qualcomm                     snapdragon 7s gen 2
434         qualcomm                      snapdragon 7 gen 3
983         mediatek                     dimensity 6100 plus
1191        mediatek                               helio p35

In [2802]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(49)
memory usage: 869.0+ KB

In [2803]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [2804]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [2805]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [2806]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [2807]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [2808]:
df['chipset_brand'].sample(20)

393      snapdragon 6s gen1
1143     snapdragon 7 gen 3
704           dimensity 920
404          dimensity 6300
629           dimensity 810
897          dimensity 6300
425      snapdragon 6 gen 1
1149     snapdragon 7 gen 3
664                   t7250
240          snapdragon 680
733          dimensity 6400
988          dimensity 6300
403          dimensity 6300
1094         dimensity 6300
539         snapdragon 778g
662     dimensity 6100 plus
438          dimensity 9400
48                  a19 pro
927      snapdragon 6 gen 3
631          snapdragon 680
Name: chipset_brand, dtype: object

In [2809]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [2810]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [2811]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [2812]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [2813]:
df['antutu_score'].sample(20)

820      136643.0
99      1492537.0
70       910432.0
941      264823.0
779     1110000.0
301      441369.0
881      471697.0
863      732353.0
242      443228.0
1005     678813.0
282      777255.0
677     1409090.0
694      855364.0
997      595101.0
244      472470.0
1077     443228.0
578      393210.0
170     2426162.0
631      310236.0
410      146708.0
Name: antutu_score, dtype: float64

In [2814]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [2815]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 99 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1266 non-null   object
 97  chipset_nm                   1258 non-null   float64
 98  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(49)
memory usage: 888.8+ KB

In [2816]:
df['cpu'].sample(20)

579                              Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
442            Octa-core (1x4.21 GHz C1-Ultra & 3x3.5 GHz C1-Premium & 4x2.7 GHz C1-Pro)
114                              Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
953                              Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
632                              Octa-core (2x1.8 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
108                              Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
887                                  Octa-core (2x2.2 GHz Kryo 570 & 6x1.8 GHz Kryo 570)
1137      Octa-core (1x3.1 GHz Cortex-A78 & 3x3.0 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
360      Octa-core (1x2.8 Ghz Cortex-X4 & 4x2.6 GHz Cortex-A720 & 3x1.9 GHz Cortex-A520)
583                              Octa-core (4x2.5 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
481                      Octa-core (2x2.2 GHz Kryo 660 Gold & 6x1.7 GHz Kryo 660 Silver)
297                              Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
952                              Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
285                            Octa-core (1xA715 3.35GHz + 3xA715 3.2GHz+ 4xA510 2.2Ghz)
1161      Octa-core (1x2.8 GHz Cortex-720 & 4x2.4 GHz Cortex-720 & 3x1.8 GHz Cortex-520)
593                            Octa-core (4x2.40 GHz Cortex-A78 & 4x1.95 GHz Cortex-A55)
217                                     Octa-core (2x2.4 GHz Cortex-A76 & 6x Cortex-A55)
698     Octa-core (1x2.84 GHz Cortex-X1 & 3x2.42 GHz Cortex-A78 & 4x1.80 GHz Cortex-A55)
913                              Octa-core (2x2.4 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
800                              Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
Name: cpu, dtype: object

In [2817]:
df['cpu_core_count'] = df['cpu'].str.strip().str.split(' ').str.get(0)

In [2818]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
Octa-core    1193
Hexa-core      54
Deca-core      13
Quad-core       4
Nona-core       4
Name: count, dtype: int64

In [2819]:
def extract_core_count(text):

  t = text.lower()

  if 'octa' in t:
    return 8

  if 'hexa' in t:
    return 6

  if 'deca' in t:
    return 10

  if 'quad' in t:
    return 4

  if 'nona' in t:
    return 9

df['cpu_core_count'] = df['cpu_core_count'].apply(extract_core_count)

In [2820]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
8     1193
6       54
10      13
4        4
9        4
Name: count, dtype: int64

In [2821]:
df['cpu_max_ghz'] = df['cpu'].str.extract(r'(\d+\.?\d*)\s*[Gg]*\s*[Gg]Hz', flags=re.IGNORECASE)

In [2822]:
df['cpu_max_ghz'].value_counts(dropna=False)

/usr/local/lib/python3.12/dist-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

cpu_max_ghz
2.4     235
2.2     195
2.5     122
2.0      83
2.6      58
1.8      43
3.0      38
2.8      38
2.3      33
3.2      32
3.1      27
3.35     26
3.3      25
2.63     22
2.40     20
4.32     19
1.6      16
3.19     16
3.46     14
3.00     13
2.05     13
4.26     12
3.25     12
3.36     11
2.85     11
4.04      9
2.84      9
3.05      8
4.21      7
NaN       7
3.78      7
4.47      7
4.6       6
3.23      6
4.05      6
3.63      6
2.35      6
2.9       6
3.21      6
3.39      5
3.4       5
2.80      4
2.7       4
2.75      4
3.73      4
3         3
2.99      3
2.30      2
2.91      2
2.1       1
3.20      1
Name: count, dtype: int64

In [2823]:
df['cpu_max_ghz'] = pd.to_numeric(df['cpu_max_ghz'])

In [2824]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 101 entries, model_id to cpu_max_ghz
dtypes: category(11), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 908.6+ KB

In [2825]:
df['gpu_brand'] = df['gpu'].str.lower().str.strip().str.split(' ').str.get(0)

In [2826]:
df['gpu_brand'] = df['gpu_brand'].str.replace('-',' ')

In [2827]:
df[df['gpu_brand'] == 'unspecified']['gpu']

137    Unspecified
Name: gpu, dtype: object

In [2828]:
df.loc[137,'gpu_brand'] = np.nan

In [2829]:
df['gpu_brand'].value_counts(dropna=False)

gpu_brand
adreno              454
mali g57            243
mali g68             95
arm                  79
mali g615            57
apple                54
mali g52             50
powervr              42
mali g610            34
img                  29
xclipse              22
NaN                  19
mali                 19
mali g77             12
immortalis g720      12
mali g710            10
immortalis g715       9
mali g720             7
immortalis g925       6
immortalis g715s      6
mali g715             5
mali g78              2
ge8322                2
Name: count, dtype: int64

In [2830]:
df['gpu_brand'] = df['gpu_brand'].astype('category')

In [2831]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 102 entries, model_id to gpu_brand
dtypes: category(12), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 910.6+ KB

In [2832]:
df['main_cam'].sample(20)

1191                                              13 MP, f/2.2, 27mm (Wide-angle), Auto Focus
1189                                       64 MP, f/1.79, 0mm (Wide-angle), 0.7 µm, OIS, PDAF
710                                               108 MP, f/1.8, 26mm (Wide-angle), OIS, PDAF
536                                             64 MP, f/1.8, 26mm (Wide-angle), 2.1 µm, PDAF
473                                                50 MP, f/1.8, (Wide-angle), 79°, OIS, PDAF
96                                                                64 MP, f/1.75, (Wide-angle)
847                             108 MP, f/1.9, 26mm (Wide-angle), 0.7 µm, 1/1.52", Auto Focus
509                          50 MP, f/1.5, 26mm (Wide-angle), 0.8 µm, 1/1.95", EIS, OIS, PDAF
457                                       64 MP, f/1.7, 25mm (Wide-angle), 0.7 µm, 1/2", PDAF
357                            50 MP, f/1.8, 24mm (Wide-angle), 1 µm, 1/1.56", EIS, OIS, PDAF
857                                                  48 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF
419                                     64 MP, f/1.7, 25mm (Wide-angle), 0.7 µm, 1/2.0", PDAF
46      48 MP, f/1.78, 24mm (Wide-angle), 1.12 µm, 1/1.28", Dual Pixel PDAF, Sensor-Shift OIS
475                                                50 MP, f/1.8, 26mm (Wide-angle), OIS, PDAF
410                                          50 MP, f/1.8, 26mm (Wide-angle), 77°, Auto Focus
555                   108 MP, f/1.75, 23.6mm (Wide-angle), 0.64 µm, 1/1.67", Auto Focus, PDAF
39                              48 MP, f/1.6, 26mm (Wide-angle), 0.7 µm, Dual Pixel PDAF, OIS
148                                     108 MP, f/1.65, 24mm (Wide-angle), 1/1.67", OIS, PDAF
146                                                 108 MP, f/1.65, 0mm (Wide-angle), 1/1.67"
1070                                                     50 MP, f/1.8, 0mm (Wide-angle), PDAF
Name: main_cam, dtype: object

In [2833]:
df['cam_primary_mp'] = df['main_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('int')

In [2834]:
df['cam_primary_mp'].value_counts(dropna=False)

cam_primary_mp
50     850
64      91
48      82
108     79
13      48
8       37
200     35
32      25
12      15
16       5
100      1
Name: count, dtype: int64

In [2835]:
df['cam_aperture'] = df['main_cam'].str.split(',').str.get(1).str.split('/').str.get(1).str.strip()

In [2836]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8        726
1.9         80
1.88        60
1.79        60
1.7         53
1.6         53
1.75        42
2.2         42
2.0         40
1.5         19
1.78        18
1.68        14
1.89        13
1.65         9
1.85         7
NaN          6
1.57         6
1.69         5
2.6          4
1.4          3
1.59         3
1.63         2
1.4-2.0      1
1.6-f        1
1.62         1
Name: count, dtype: int64

In [2837]:
df[df['cam_aperture'] == '1.6-f'][['main_cam','model']]

,main_cam,model
1262,"50 MP, f/1.6-f/4.0, 23mm (Wide-angle), 3.2 µm, 1.0"", Auto Focus, Multi-directional PDAF, OIS",Xiaomi 14 Ultra

In [2838]:
df.loc[89,'cam_aperture'] = '1.4'
df.loc[1262,'cam_aperture'] = '1.6'

In [2839]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8     726
1.9      80
1.88     60
1.79     60
1.6      54
1.7      53
1.75     42
2.2      42
2.0      40
1.5      19
1.78     18
1.68     14
1.89     13
1.65      9
1.85      7
1.57      6
NaN       6
1.69      5
1.4       4
2.6       4
1.59      3
1.63      2
1.62      1
Name: count, dtype: int64

In [2840]:
df['cam_aperture'] = pd.to_numeric(df['cam_aperture'])

In [2841]:
df['main_cam'].sample(20)

673                  50 MP, f/1.69, 22.86mm (Wide-angle), 85°, 1.12 µm, 1/1.4", OIS, PDAF
641                               50 MP, f/1.8, 26mm (Wide-angle), 0.64 µm, 1/2.76", PDAF
7                                      48 MP, f/1.78, 24mm (Wide-angle), Sensor-Shift OIS
63             48 MP, f/1.7, 25mm (Wide-angle), 82°, 0.8 µm, 1/2.0", Dual Pixel PDAF, OIS
504                                        64 MP, f/1.79, (Wide-angle), 1/2.0", OIS, PDAF
906                                        50 MP, f/1.8, (Wide-angle), 0.8 µm, Auto Focus
459                50 MP, f/1.8, 26mm (Wide-angle), 79°, 0.8 µm, 1/1.95", Auto Focus, OIS
273             50 MP, f/1.8, 0mm (Wide-angle), 1 µm, 1/1.5", Multi-directional PDAF, OIS
610                                                50 MP, f/1.8, 24mm (Wide-angle), 84.4°
964                                   108 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, OIS, PDAF
1019                                   50 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, OIS, PDAF
181                                   50 MP, f/1.9, 24mm (Wide-angle), 1/1.57", OIS, PDAF
961                                        50 MP, f/1.8, (Wide-angle), 1/1.96", OIS, PDAF
1164                                  200 MP, f/1.88, 85mm (Telephoto), 84°, 1/1.56", OIS
95           108 MP, f/1.75, 24mm (Wide-angle), 83.63°, 0.64 µm, 1/1.67", Auto Focus, OIS
415                                50 MP, f/1.8, 27mm (Wide-angle), 77°, Auto Focus, PDAF
682                             50 MP, f/1.8, 24mm (Wide-angle), 1 µm, 1/1.56", OIS, PDAF
592                                 50 MP, f/1.8, 26mm (Wide-angle), 0.8 µm, 1/1.95", OIS
52      48 MP, f/1.6, 26mm (Wide-angle), 1 µm, 1/1.56", Dual Pixel PDAF, Sensor-Shift OIS
1121                                               64 MP, f/1.89, 26mm (Wide-angle), PDAF
Name: main_cam, dtype: object

In [2842]:
def extract_ois(text):

  t = text.lower()

  if 'ois' in t:
    return 1

  return 0

df['cam_has_ois'] = df['main_cam'].apply(extract_ois)

In [2843]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [2844]:
df['cam_sensor_size'] = df['main_cam'].str.extract(r'1/(\d+\.\d+)')

In [2845]:
df['cam_sensor_size'].value_counts(dropna=False)

cam_sensor_size
NaN     546
1.56    192
1.95    108
2.76     78
1.67     36
1.28     31
2.0      28
1.4      21
1.57     20
2.88     20
1.3      19
1.55     18
1.52     18
1.31     15
3.1      14
1.96     14
1.49     11
1.97      9
1.43      8
4.0       7
2.55      6
2.8       5
3.06      5
1.76      5
1.72      4
1.73      4
2.5       4
2.9       4
1.7       3
1.5       3
3.0       3
1.22      2
1.33      2
2.74      1
2.93      1
3.6       1
0.98      1
1.0       1
Name: count, dtype: int64

In [2846]:
df['cam_sensor_size'] = pd.to_numeric(df['cam_sensor_size'])

In [2847]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 106 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
dtypes: category(12), datetime64[ns](1), float64(20), int64(24), object(49)
memory usage: 950.2+ KB

In [2848]:
df['main_cam2'].sample(20)

525                                                                                 2 MP, f/2.4, 0mm  (Depth)
113                                                                                      0.08 MP, (Auxiliary)
197                                                                     2 MP, f/2.4, (Depth), 0.64 µm, 1/3.0"
349                                      50 MP, f/2.0, 16mm  (Ultra-wide), 116°, 0.61 µm, 1/2.88", Auto Focus
708                                                                                                       NaN
1091                                                                                     2 MP, f/2.4, (Depth)
1261                                         50 MP, f/1.98, 50mm  (Telephoto), 0.64 µm, 2x Optical Zoom, PDAF
961                                                     8 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm, 1/4.0", OIS
905                                                                             2 MP, f/2.4, (Macro), 0.64 µm
1258                                                   50 MP, f/1.9, 48mm  (Telephoto), 2x Optical Zoom, PDAF
1009                                                                 8 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm
959                                                             8 MP, f/2.2, 0mm  (Ultra-wide), 120°, 1.12 µm
154                                                                           8 MP, f/2.2, 16mm  (Ultra-wide)
1081                                                                                2 MP, f/2.4, 0mm  (Depth)
775                                                                     8 MP, f/2.2, 16mm  (Ultra-wide), 112°
8                                                                      12 MP, f/2.2, 13mm  (Ultra-wide), 120°
508                                                    8 MP, f/2.2, 15mm  (Ultra-wide), 120°, 1.12 µm, 1/4.0"
887                                                          8 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm, 1/4.0"
839                                                                           8 MP, f/2.2, (Ultra-wide), 118°
587     50 MP, f/2.7, 73mm  (Periscope), 32.8°, 0.8 µm, 1/1.95", 3x Optical Zoom, Multi-directional PDAF, OIS
Name: main_cam2, dtype: object

In [2849]:
df['cam_secondary_mp'] = df['main_cam2'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0)

In [2850]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2              390
8              333
50             125
0.08            97
12              82
NaN             54
5               45
10              39
13              31
48              19
64              15
32              10
(Auxiliary)      7
0.03             6
f/2.4            5
16               4
f/2.8            2
10.8             2
180              1
200              1
Name: count, dtype: int64

In [2851]:
df[df['cam_secondary_mp'] == 'f/2.4'][['model','main_cam2']]

                              model                          main_cam2
739  Realme Narzo N53 (6GB + 128GB)                f/2.4, 0mm  (Depth)
740  Realme Narzo N53 (8GB + 128GB)                     f/2.4, (Depth)
741                Realme Narzo N53                     f/2.4, (Depth)
744  Realme Narzo N61 (6GB + 128GB)   f/2.4, 0mm  (Auxiliary), 0.64 µm
753                    Realme P1 5G  f/2.4, 22mm  (Depth), 88.8°, 1/5"

In [2852]:
df.loc[[638,639,739,740,741,753],'cam_secondary_mp'] = 2
df.loc[[136,138,484,489,745,830,831,744], 'cam_secondary_mp'] = 0.08

In [2853]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2       390
8       333
50      125
0.08     97
12       82
NaN      54
5        45
10       39
13       31
48       19
64       15
32       10
0.08      8
0.03      6
2         6
16        4
10.8      2
180       1
200       1
Name: count, dtype: int64

In [2854]:
cam_cols_to_check = ['main_cam2', 'main_cam3', 'main_cam4']

df['has_telephoto'] = df[cam_cols_to_check].apply(
    lambda x: x.str.contains('Telephoto', case=False, na=False)
).any(axis=1).astype(int)

df['has_periscope'] = df[['main_cam2', 'main_cam3', 'main_cam4']].apply(
    lambda x: x.str.contains('Periscope', case=False, na=False)
).any(axis=1).astype(int)

In [2855]:
df['has_telephoto'].value_counts()

has_telephoto
0    1070
1     198
Name: count, dtype: int64

In [2856]:
df['has_periscope'].value_counts()

has_periscope
0    1219
1      49
Name: count, dtype: int64

In [2857]:
df['main_cam2'].sample(20)

273                  13 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/3.0", PDAF
347       50 MP, f/2.0, (Telephoto), 0.64 µm, 1/2.76", 2x Optical Zoom, PDAF
535                                 8 MP, f/2.2, (Ultra-wide), 118°, 1.12 µm
414                                       2 MP, f/2.4, (Depth), 89°, 0.64 µm
223                                          8 MP, f/2.2, (Ultra-wide), 120°
387                                              2 MP, f/2.4, (Depth), 89.1°
1160                                   8 MP, f/2.0, 15mm  (Ultra-wide), 120°
67                           12 MP, f/2.2, 17mm  (Ultra-wide), 114°, 1.25 µm
1058                 12 MP, f/2.2, 13mm  (Ultra-wide), 123°, 1.12 µm, 1/3.2"
295                                            2 MP, f/2.4, (Macro), 1.75 µm
429                                  2 MP, f/2.4, 0mm  (Depth), 89°, 0.64 µm
939                                               12 MP, f/2.2, (Ultra-wide)
350     50 MP, f/2.0, 16mm  (Ultra-wide), 116°, 0.61 µm, 1/2.88", Auto Focus
1253                                         8 MP, f/2.2, (Ultra-wide), 120°
466             50 MP, f/2.8, (Telephoto), 30°, 3.5x Optical Zoom, OIS, PDAF
491                                     0.08 MP, f/2.5, (Auxiliary), 0.56 µm
442                 50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.76"
649                                                     2 MP, f/2.4, (Depth)
504                         8 MP, f/2.2, (Ultra-wide), 119°, 1.12 µm, 1/4.0"
1126                    8 MP, f/2.2, 16mm  (Ultra-wide), 120°, 1.12 µm, 1/4"
Name: main_cam2, dtype: object

In [2858]:
df['cam_optical_zoom'] = df['main_cam2'].str.extract(r'(\d+)x\s+Optical\s+Zoom')

In [2859]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].fillna(0)

In [2860]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].astype(int)

In [2861]:
df['cam_optical_zoom'].value_counts(dropna=False)

cam_optical_zoom
0     1097
3       89
2       38
5       36
10       5
4        2
7        1
Name: count, dtype: int64

In [2862]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 110 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(20), int64(27), object(50)
memory usage: 989.8+ KB

In [2863]:
df['main_cam3'].sample(20)

51                                                                              NaN
60                                                                              NaN
632                                                                             NaN
223                                                                             NaN
346                          8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0"
482                                             2 MP, f/2.4, (Macro), 1.75 µm, 1/5"
947                                                   2 MP, f/2.4, (Depth), 0.64 µm
1063                                12 MP, f/2.2, 12mm  (Ultra-wide), 123°, 1.12 µm
1028    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Super Steady Video
1059                                12 MP, f/2.2, 12mm  (Ultra-wide), 123°, 1.12 µm
120                                                                             NaN
1109                                                      2 MP, f/2.4, (Depth), 81°
227                                                                             NaN
635                                                                             NaN
1061                                12 MP, f/2.2, 12mm  (Ultra-wide), 123°, 1.12 µm
129                                                        2 MP, f/2.4, (Auxiliary)
1243                                                                            NaN
40                                                                              NaN
1232                                                                            NaN
754                                                                             NaN
Name: main_cam3, dtype: object

In [2864]:
df['cam_tertiary_mp'] = df['main_cam3'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [2865]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN            637
2              330
50              63
12              62
8               49
5               31
48              28
10              13
13              10
0.08             9
0mm              7
200              5
f/2.8            4
f/2.4            3
(Auxiliary)      3
0.3              2
10.5             2
88°              2
0.07             2
3                2
32               2
10.8             1
f/2.5            1
Name: count, dtype: int64

In [2866]:
df[df['cam_tertiary_mp'] == '0mm'][['model','main_cam3']]

                                    model         main_cam3
528              Poco M7 5G (8GB + 128GB)  0mm  (Auxiliary)
720  Realme Narzo 70 Turbo (12GB + 256GB)               0mm
721   Realme Narzo 70 Turbo (8GB + 128GB)               0mm
803            Redmi 13C 5G (6GB + 128GB)  0mm  (Auxiliary)
804            Redmi 13C 5G (8GB + 256GB)  0mm  (Auxiliary)
806               Redmi 13C (6GB + 128GB)  0mm  (Auxiliary)
807               Redmi 13C (8GB + 256GB)  0mm  (Auxiliary)

In [2867]:
df.loc[[121,114,119,122],'cam_tertiary_mp'] = 0.07
df.loc[[808,809,810,528,720,721,803,804,806,807],'cam_tertiary_mp'] = 0.08
df.loc[[636,637,706,707],'cam_tertiary_mp'] = 2
df.loc[[553,554],'cam_tertiary_mp'] = np.nan

In [2868]:
df['cam_tertiary_mp'] = pd.to_numeric(df['cam_tertiary_mp'])

In [2869]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN       639
2.00      334
50.00      63
12.00      62
8.00       49
5.00       31
48.00      28
0.08       19
10.00      13
13.00      10
0.07        6
200.00      5
10.50       2
0.30        2
32.00       2
3.00        2
10.80       1
Name: count, dtype: int64

In [2870]:
# List of camera columns
cam_cols = ['main_cam', 'main_cam2', 'main_cam3','main_cam4']

# Count non-NaN values across these columns
df['total_cam_count'] = df[cam_cols].notna().sum(axis=1)

In [2871]:
df['total_cam_count'].value_counts(dropna=False)

total_cam_count
2    583
3    583
1     54
4     48
Name: count, dtype: int64

In [2872]:
df[~df['main_cam4'].isnull()]['main_cam4']

238                                                                     2 MP, f/2.4, (Depth), 175 µm
439                 50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.75", Multi-Directional PDAF
441                                                                   2 MP, f/2.4, (Monochrome), 88°
442                                                                   2 MP, f/2.4, (Monochrome), 88°
443                                                                   2 MP, f/2.4, (Monochrome), 88°
786                                                                        2 MP, f/2.4, 0mm  (Depth)
787                                                                        2 MP, f/2.4, 0mm  (Depth)
788                                                                             2 MP, f/2.4, (Depth)
836                                                                        2 MP, f/2.4, 0mm  (Depth)
837                                                                        2 MP, f/2.4, 0mm  (Depth)
838                                                                        2 MP, f/2.4, 0mm  (Depth)
842                                                                             2 MP, f/2.4, (Depth)
843                                                                             2 MP, f/2.4, (Depth)
844                                                                             2 MP, f/2.4, (Depth)
845                                                                        2 MP, f/2.4, 0mm  (Depth)
846                                                                        2 MP, f/2.4, 0mm  (Depth)
847                                                                             2 MP, f/2.4, (Depth)
877                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
878                                                                    2 MP, f/2.4, (Depth), 1.75 µm
879                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
880                                                                    2 MP, f/2.4, (Depth), 1.75 µm
881                                                                        2 MP, f/2.4, 0mm  (Depth)
882                                                                             2 MP, f/2.4, (Depth)
883                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
884                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
885                                                                        5 MP, f/2.4, 0mm  (Depth)
915                                                               2 MP, f/2.4, 0mm  (Depth), 0.64 µm
916                                                                    2 MP, f/2.4, (Depth), 0.64 µm
930                                                                    5 MP, f/2.4, (Depth), 1.12 µm
939                                                                             5 MP, f/2.4, (Depth)
992                                                                        2 MP, f/2.4, 0mm  (Macro)
993                                                                             2 MP, f/2.4, (Macro)
1002                                                                            2 MP, f/2.4, (Macro)
1003                                                                            2 MP, f/2.4, (Macro)
1015    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1016    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1022          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1023          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1024          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1034    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1035          12 MP, f/2.2, (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1036    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1045          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1046          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1047          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1181                                      8 MP, f/3.4, (Periscope), 1 µm, 5x Optical Zoom, OIS, PDAF
1262            50 MP, f/1.8, 12mm  (Ultra-wide), 122°, 0.7 µm, 1/2.51", Auto Focus, Dual Pixel PDAF
1264                       50 MP, f/2.2, 14mm  (Ultra-wide), 115°, 1.28 µm, 1/2.76", Dual Pixel PDAF
Name: main_cam4, dtype: object

In [2873]:
df['cam_fourth_mp'] = df['main_cam4'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [2874]:
df['cam_fourth_mp'] = pd.to_numeric(df['cam_fourth_mp'])

In [2875]:
df['cam_fourth_mp'].value_counts(dropna=False)

cam_fourth_mp
NaN     1220
2.0       28
12.0       8
50.0       6
5.0        5
8.0        1
Name: count, dtype: int64

In [2876]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 113 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
dtypes: category(12), datetime64[ns](1), float64(22), int64(28), object(50)
memory usage: 1019.6+ KB

In [2877]:
df['main_cam_features'].sample(50)

896                                                                                                                                              LED Flash
555                                                                                                                               HDR, LED flash, Panorama
89                                                                                                                                HDR, LED Flash, Panorama
783                                                                                                                               HDR, LED Flash, Panorama
1256                                                             Cinematic Mode, Dual LED Dual Tone Flash, HDR, Long Exposure, Night, Panorama, Time-Lapse
1232       Double Exposure, Dual View, HDR, HIGH-RES, LED Flash, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Slow-Mo, Time-Lapse
1045                                                                                                       Auto-HDR, Laser Auto Focus, LED Flash, Panorama
32                                                                              Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama
696                                          Cinematic Bokeh, Dual LED Dual Tone Flash, Expert, Filter, HDR, Nightscape, Panorama, Portrait Mode, Pro Mode
576                         Auto Focus, Cinematic Aspect Ratio, Cinematic Bokeh, HDR, LED Flash, Panorama, Portrait Filters, Real-time Aperture Adjustment
310                                                                                                                HDR, LED Flash, Motion Photos, Panorama
61                                                                                                                               HDR, Night Mode, Portrait
671                                                                                                Auto Focus, Digital Zoom, Dual LED Flash, HDR, Panorama
342                                                                                           Dual LED Flash, Hasselblad Colour Calibration, HDR, Panorama
159     Dual LED Flash, HDR, HIGH-RES, Long Exposure, Night, Panorama, Portrait, Portrait Photo & Video, Pro, RGB Halo Ring Light, Slow Motion, Time Lapse
970                                                                                                                                              LED Flash
213                                                               Double Exposure, Dual View, HDR, LED Flash, Micro, Night Vision, Panorama, Portrait Mode
298                                                                                                                   HDR, LED Flash, Panorama, Scene Mode
395                                                                                                       HDR, LED Flash, Night, Panorama, Pro, Time-lapse
1228                                                      HDR, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse
516                                                                                                                               HDR, LED flash, Panorama
1172                                                                       HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating
433                                                                                                        Night Mode, Panorama, Portrait Mode, Time-Lapse
55                                                                       Auto Focus, DIS, HDR, LED Flash, Macro Mode, Night Mode, OIS, Panorama, PDAF, RAW
319                                                                                                                               HDR, LED Flash, Panorama
284                            Audio Zoom, Digital Zoom, HDR, HDR10+, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
685                                                                                                        Color Spectrum Sensor, HDR, LED Flash, Panorama
220                                                                                                     Auto Focus, Digital Zoom, HDR, LED Flash, Panorama
1075                                                              Double Exposure, HDR, LED Flash, Night, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
1059                                                                                                                              HDR, LED Flash, Panorama
727                                                                                                                                               Panorama
738                                                                                  Dual View, HDR, Hi-Res Mode, LED Flash, Panorama, Slow-Mo, Time Lapse
347                                                                                                        Color Spectrum Sensor, HDR, LED Flash, Panorama
566                                                                                                                               HDR, LED Flash, Panorama
169                                        Digital Zoom, Dual LED Dual Tone Flash, Dual View, HDR, Night Mode, Panorama, Pro Mode, Slow Motion, Time Lapse
1112                                                                                                                         HDR, Panorama, Ring-LED Flash
924                                                                   Auto Focus, Digital Image Stabilization, Digital Zoom, Face Detection, HDR, Panorama
536                                                                                                       Dual View, HDR, LED Flash, Panorama, Super Macro
241                                                                                       HDR, LED Flash, Night Vision, Panorama, Pro Mode (long exposure)
124                                                      Film Camera Mode, HDR, Night Mode, Panorama, Portrait Mode, Pro Mode, Quad-LED Flash, Slow Motion
784                                                                                                                               HDR, LED flash, Panorama
1082                                                                                                              Auto Focus, Digital Zoom, HDR, LED Flash
487                                                                                                                                    Dual LED Flash, HDR
482                                                  Dual LED Flash, Dual View, HDR, Macro, Night, Panorama, Panoramic, Portrait, Pro, Slow-Mo, Time-Lapse
716                                  HDR, LED Flash, Long Exposure, Movie, Night Mode, Panorama, Portrait Mode, Professional Mode, Slow Motion, Time-Lapse
1242                                                                                               Dual View, LED-Flash, Night mode, Panorama, Slow Motion
804                                                                         Film Camera Mode, HDR Panorama, LED Flash, Night Mode, Slow Motion, Time Lapse
589                                                HDR, HIGH-RES, LED Flash, Long Exposure, Movie, Night, Panorama, Portrait, Pro, Slow Motion, Time Lapse
432                                                                                     Hi-Res Mode, Night Mode, Panorama, Portrait, Pro Mode, Slow Motion
557                                                 HDR, LED flash, Movie, Night Mode, Panorama, Portrait Mode, Professional Mode, Slow Motion, Time-Lapse
Name: main_cam_features, dtype: object

In [2878]:
# 1. Apple Premium Stack (LiDAR & Photonic)
df['is_apple_flagship_tech'] = df['main_cam_features'].str.contains('LiDAR|Photonic Engine', case=False, na=False).astype(int)

# 2. Advanced Focus & Optics (Zeiss & Laser AF)
df['has_laser_af'] = df['main_cam_features'].str.contains('Laser Auto Focus', case=False, na=False).astype(int)
df['has_zeiss_optics'] = df['main_cam_features'].str.contains(r'Zeiss Optics|Zeiss T\*', case=False, na=False).astype(int)

# 3. Stability & Professional Video (OIS & Cinematic/Movie)
df['has_pro_video_features'] = df['main_cam_features'].str.contains('Cinematic|Movie|Dual View', case=False, na=False).astype(int)

In [2879]:
df['is_apple_flagship_tech'].value_counts()

is_apple_flagship_tech
0    1240
1      28
Name: count, dtype: int64

In [2880]:
df['has_laser_af'].value_counts()

has_laser_af
0    1222
1      46
Name: count, dtype: int64

In [2881]:
df['has_zeiss_optics'].value_counts()

has_zeiss_optics
0    1234
1      34
Name: count, dtype: int64

In [2882]:
df['has_pro_video_features'].value_counts()

has_pro_video_features
0    1002
1     266
Name: count, dtype: int64

In [2883]:
df[df['has_zeiss_optics'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
1144,Vivo V30 Pro 5G (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1145,Vivo V30 Pro 5G,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1148,Vivo V40 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1149,Vivo V40 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1150,Vivo V40 Pro (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1151,Vivo V40 Pro,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1152,Vivo V40,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1155,Vivo V50 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1156,Vivo V50 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1157,Vivo V50,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1159,Vivo V60 (12GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1160,Vivo V60 (16GB + 512GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1161,Vivo V60 (8GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1162,Vivo V60,"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1166,Vivo X Fold 5,"Dual LED Flash, HDR, Laser Auto Focus, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1167,Vivo X Fold3 Pro,"Dual LED Flash, HDR, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1168,Vivo X100 (16GB + 512GB),"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1169,Vivo X100 Pro,"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1170,Vivo X100,"3D LUT Support, HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1171,Vivo X200 (16GB + 512GB),"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1172,Vivo X200 FE (16GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1173,Vivo X200 FE,"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1174,Vivo X200 Pro,"3D LUT Support, HDR, HIGH-RES, Laser Auto Focus, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Super Macro, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1175,Vivo X200,"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1176,Vivo X300 (12GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1177,Vivo X300 (16GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1178,Vivo X300 Pro,"3D LUT Import, Colour Spectrum sensor, HDR, Laser AF, LED Flash, Panorama, Zeiss optics, Zeiss T* lens coating"
1179,Vivo X300,"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1180,Vivo X80 (12GB + 256GB),"Double Exposure, Dual LED Dual Tone Flash, Dual View, HDR, Laser AF, Panorama, Pixel Shift, Pro, Slow Motion, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1181,vivo X80 Pro,"Double Exposure, Dual LED Dual Tone Flash, HDR, Laser AF, Long Exposure, Micro, Movie, Night, Panorama, Pixel Shift, Portrait, Pro, Slow Motion, Time Lapse, Zeiss Optics, Zeiss T* Lens Coating"

In [2884]:
df[df['is_apple_flagship_tech'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
14,Apple iPhone 15 (6GB + 256GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
15,Apple iPhone 15 (6GB + 512GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
22,Apple iPhone 15 Pro Max (8GB + 1TB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
23,Apple iPhone 15 Pro Max (8GB + 512GB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
24,Apple iPhone 15 Pro Max,"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
26,Apple iPhone 15,"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"

In [2885]:
df[df['has_laser_af'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
29,Apple iPhone 16 Plus (8GB + 256GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
30,Apple iPhone 16 Plus (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
31,Apple iPhone 16 Plus,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
32,Apple iPhone 16 Pro (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
33,Apple iPhone 16 Pro (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
34,Apple iPhone 16 Pro Max (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
35,Apple iPhone 16 Pro Max (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
36,Apple iPhone 16 Pro Max,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
37,Apple iPhone 16 Pro,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
63,Google Pixel 10 Pro Fold,"Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR"
64,Google Pixel 10 Pro XL,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
65,Google Pixel 10 Pro,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
66,Google Pixel 10,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
278,Motorola Edge 50 Pro (12GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama"
279,Motorola Edge 50 Pro,"HDR, Laser Auto Focus, LED Flash, Panorama"
280,Motorola Edge 50 Ultra,"Assistive Grid, Audio Zoom, Dual LED Flash, HDR, Laser Auto Focus, Leveler, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Timelapse, Ultra HDR"
345,OnePlus 13R (16GB + 512GB),"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
346,OnePlus 13R,"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
349,OnePlus 15 (16GB + 512GB),"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
350,OnePlus 15,"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
439,Oppo Find X8 Pro,"Colour Spectrum sensor, Hasselblad Colour Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
442,Oppo Find X9 Pro,"Color Spectrum Sensor, Hasselblad Color Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
1018,Samsung Galaxy S23 FE (8GB + 256GB),"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1019,Samsung Galaxy S23 FE,"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1043,Samsung Galaxy S25 Plus (12GB + 512GB),"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"
1044,Samsung Galaxy S25 Plus,"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"

In [2886]:
df[df['has_pro_video_features'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
0,Apple iPhone 14 (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
1,Apple iPhone 14 (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
2,Apple iPhone 14 Plus (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
3,Apple iPhone 14 Plus (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
4,Apple iPhone 14 Plus,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
13,Apple iPhone 14,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
42,Apple iPhone 17 (8GB + 512GB),"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
50,Apple iPhone 17,"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
107,Infinix Hot 30 5G (4GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
108,Infinix Hot 30 5G (8GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
109,Infinix Hot 30 5G,"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
116,Infinix Hot 60i 5G,"Dual LED Flash, Dual View, HDR, Night, Panorama, PRO, Slow Motion, Time Lapse"

In [2887]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 117 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(22), int64(32), object(50)
memory usage: 1.0+ MB

In [2888]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [2889]:
df['cam_has_ois'] = ((df['cam_has_ois'] == 1) | df['main_cam_features'].str.contains('OIS', case=False, na=False)).astype(int)

In [2890]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    658
1    610
Name: count, dtype: int64

In [2891]:
df['main_video'].sample(20)

700                                                                       1080p@30fps, Slow Motion
455                                                                    1080p@30/60fps, 720p@120fps
1155                                                          4K@30fps, 1080p@30fps, gyro-EIS, OIS
87                                                              4K@30fps, 1080p@30/60fps, gyro-EIS
1225                                                                                   1080p@30fps
1109                                                                                      4K@30fps
606                                                           4K@30fps, 1080p@30fps, gyro-EIS, OIS
1205                                                                                   1080p@30fps
773                                                                                 1080p@30/60fps
268     8K@24/30fps, 4K@30/60fps, 1080p@30/60/120/240/960fps, 10-bit HDR10+, gyro-EIS, Slow Motion
355                                        4K@30fps, 1080p@30/60/120/480fps, gyro-EIS, Slow Motion
889                                                                                    1080p@30fps
1213                                                                                   1080p@30fps
1161                                                       4K@30fps, 1080p@30/60fps, gyro-EIS, OIS
660                                                                        1080p@30fps, 720p@30fps
372                                              4K@30fps, 1080p@30/60fps, 720p@30/60fps, gyro-EIS
988                                                                          1080p@30fps, gyro-EIS
478                                                                        1080p@30fps, 720p@30fps
1137                                                                                   4K@30/60fps
811                                                                                    1080p@30fps
Name: main_video, dtype: object

In [2892]:
def get_max_resolution(text):
    if pd.isna(text):
      return 'Unknown'

    res_upper = text.upper()

    if '8K' in res_upper:
        return '8K'
    elif '4K' in res_upper:
        return '4K'
    elif '1440p' in res_upper:
        return '1440p'
    elif '1080P' in res_upper:
        return '1080p'
    elif '720P' in res_upper:
        return '720p'
    else:
        return 'Standard'

df['max_video_res'] = df['main_video'].apply(get_max_resolution).astype('category')

In [2893]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [2894]:
df['video_has_eis'] = df['main_video'].str.contains('EIS', case=True, na=False).astype(int)

In [2895]:
df['video_has_eis'].value_counts()

video_has_eis
0    726
1    542
Name: count, dtype: int64

In [2896]:
df['video_is_pro_grade'] = df['main_video'].str.contains(r'Dolby Vision|HDR10\+|10-bit', case=True, na=False).astype('int')

In [2897]:
df['video_is_pro_grade'].value_counts()

video_is_pro_grade
0    1093
1     175
Name: count, dtype: int64

In [2898]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 120 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
dtypes: category(13), datetime64[ns](1), float64(22), int64(34), object(50)
memory usage: 1.1+ MB

In [2899]:
df['os'].sample(20)

755         Android 14, Realme UI
999            Android 14, One UI
1012           Android 12, One UI
559         Android 13, Realme UI
1028           Android 14, One UI
850        Android 12, Redmi MIUI
673         Android 14, Realme UI
444           Android 12, ColorOS
381          Android 13, OxygenOS
576         Android 14, Realme UI
122               Android 12, XOS
54             Android 12, ROG UI
852        Android 12, Redmi MIUI
1074    Android 12, Vivo Funtouch
748         Android 14, Realme UI
154     Android 13, iQOO Funtouch
1023           Android 13, One UI
591         Android 15, Realme UI
661         Android 14, Realme UI
35                         iOS 18
Name: os, dtype: object

In [2900]:
df['os_type'] = df['os'].str.extract(r'(Android|iOS|google android)')[0].str.lower().astype('category')

In [2901]:
df['os_type'].value_counts(dropna=False)

os_type
android    1214
ios          54
Name: count, dtype: int64

In [2902]:
df['os_version_num'] = df['os'].str.extract(r'(\d+)').astype(float)

In [2903]:
df['os_version_num'].value_counts(dropna=False)

os_version_num
14.0    333
15.0    315
13.0    235
12.0    226
11.0     78
16.0     41
18.0     18
26.0     12
17.0     10
Name: count, dtype: int64

In [2904]:
df['is_android_go'] = df['os'].str.contains('Go', case=False, na=False).astype(int)

In [2905]:
df['is_android_go'].value_counts()

is_android_go
0    1229
1      39
Name: count, dtype: int64

In [2906]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 123 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(23), int64(35), object(50)
memory usage: 1.1+ MB

In [2907]:
df['software_updates'].sample(20)

73                           7 year(s) of Software and Security updates
185     3 year(s) of Software updates and 4 year(s) of Security updates
473     3 year(s) of Software updates and 4 year(s) of Security updates
516                          2 year(s) of Software and Security updates
193     2 year(s) of Software updates and 3 year(s) of Security updates
573     2 year(s) of Software updates and 3 year(s) of Security updates
219     2 year(s) of Software updates and 3 year(s) of Security updates
278     3 year(s) of Software updates and 4 year(s) of Security updates
346     4 year(s) of Software updates and 6 year(s) of Security updates
412     1 year(s) of Software updates and 2 year(s) of Security updates
1053                         7 year(s) of Software and Security updates
1016    4 year(s) of Software updates and 5 year(s) of Security updates
747     2 year(s) of Software updates and 3 year(s) of Security updates
1085    1 year(s) of Software updates and 2 year(s) of Security updates
762     2 year(s) of Software updates and 3 year(s) of Security updates
234     1 year(s) of Software updates and 3 year(s) of Security updates
477     2 year(s) of Software updates and 3 year(s) of Security updates
1026                         7 year(s) of Software and Security updates
1259    4 year(s) of Software updates and 5 year(s) of Security updates
811     2 year(s) of Software updates and 4 year(s) of Security updates
Name: software_updates, dtype: object

In [2908]:
def get_years(text, keyword):
    if pd.isna(text): return 0

    text = text.lower()

    combined_match = re.search(r'(\d+)\s*year.*?software\s*and\s*security', text)
    if combined_match:
        return float(combined_match.group(1))

    specific_match = re.search(r'(\d+)\s*year.*?' + keyword.lower(), text)
    if specific_match:
        return float(specific_match.group(1))

    return 0

df['os_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'software'))
df['security_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'security'))

In [2909]:
df['os_update_years'].value_counts(dropna=False)

os_update_years
2.0    540
3.0    256
4.0    145
1.0    102
7.0     78
0.0     65
5.0     44
6.0     38
Name: count, dtype: int64

In [2910]:
df['security_update_years'].value_counts(dropna=False)

security_update_years
2.0    554
3.0    262
4.0    145
1.0    107
7.0     78
5.0     44
0.0     40
6.0     38
Name: count, dtype: int64

In [2911]:
df[df['security_update_years'] == 0][['model','software_updates','security_update_years']].head(50)

,model,software_updates,security_update_years
111,Infinix Hot 30i (8GB + 128GB),NaN,0.0
112,Infinix Hot 30i,NaN,0.0
113,Infinix Hot 40i,NaN,0.0
134,Infinix Smart 10,NaN,0.0
228,Moto E13 (8GB + 128GB),NaN,0.0
229,Moto E13,NaN,0.0
250,Moto G54 Power (12GB + 256GB),NaN,0.0
251,Moto G54 Power,NaN,0.0
389,Oppo A3 Pro (8GB + 256GB),NaN,0.0
392,Oppo A3x 4G (4GB + 128GB),NaN,0.0
421,Oppo F27 5G (8GB + 256GB),NaN,0.0
423,Oppo F27 Pro Plus 5G (8GB + 256GB),NaN,0.0
430,Oppo F31 5G,NaN,0.0
431,Oppo F31 Pro (12GB + 256GB),NaN,0.0
432,Oppo F31 Pro (8GB + 256GB),NaN,0.0
435,Oppo F31 Pro,NaN,0.0
438,Oppo Find X8 (16GB + 512GB),NaN,0.0
475,Oppo Reno14 5G (12GB + 512GB),NaN,0.0
593,Realme 14 Pro Lite 5G (8GB + 256GB),NaN,0.0
636,Realme C31 (4GB + 64GB),NaN,0.0
642,Realme C51 (4GB + 128GB),NaN,0.0
643,Realme C51,NaN,0.0
668,Realme C75 5G (6GB + 128GB),NaN,0.0
669,Realme C75 5G,NaN,0.0
714,Realme Narzo 60X 5G (6GB + 128GB),NaN,0.0
715,Realme Narzo 60X 5G,NaN,0.0
767,Realme P3 Pro 5G (12GB + 256GB),NaN,0.0
768,Realme P3 Pro 5G (8GB + 256GB),NaN,0.0
799,Redmi 12C (6GB + 128GB),NaN,0.0
800,Redmi 12C,NaN,0.0
823,Redmi A3 (4GB + 128GB),NaN,0.0
824,Redmi A3 (6GB + 128GB),NaN,0.0
1090,Vivo T2x 5G,NaN,0.0
1187,Vivo Y02t,NaN,0.0
1188,Vivo Y100,NaN,0.0
1220,Vivo Y28 5G,NaN,0.0
1233,Vivo Y31 5G (6GB + 128GB),NaN,0.0
1234,Vivo Y31 5G,NaN,0.0
1239,Vivo Y36,NaN,0.0
1247,Vivo Y58 5G,NaN,0.0

In [2912]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 125 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
dtypes: category(14), datetime64[ns](1), float64(25), int64(35), object(50)
memory usage: 1.1+ MB

In [2913]:
df['ai_features'].sample(30)

303                                                                                 NaN
895                                                                           AI Camera
404                AI Clarity Enhancer, AI Eraser 2.0, AI Reflection Remover, AI Unblur
1144                                                                        AI Portrait
671                        AI Eye-Protection Display, AI Smart Charging, realme Next AI
506                     AI Album Search, AI Expansion, AI Magic Erase Pro, AI Subtitles
1165                   AI Image Expander, AI Portrait, AI SuperLink, AI Ultra HD Pixels
919                                                                                 NaN
1074                                                                          AI Camera
281                      Auto Night Vision, Auto Smile Capture, Google Lens Integration
821                                                                           AI Camera
313                                                                    Circle to Search
1131                                                                          AI Camera
1161                                                          AI Best Face, AI Portrait
34                                                                   Apple Intelligence
806                                                                           AI Camera
12                                                                                  NaN
613                                              AI Erase, AI Smart Clips, AI Snap Mode
876                       AI Clear Capture, AI Cutout, AI Erase Pro, AI Image Expansion
81                         Add Me, Best Take, Face Unblur, Magic Editor, Portrait Light
813                                                                    AI Erase, AI Sky
420                                                                              Eraser
931                                                                AI Camera, Galaxy AI
219                                                                            AI Erase
453                                     AI De-glare, AI Elimination, AI Ultra HD Pixels
382                                                                                 NaN
625     AI Beauty, AI Night Mode, AI Portrait, AI Scene recognition, Noise Cancellation
284                                               AI Experience, Google Gemini, moto AI
1056                                                        Circle to Search, Galaxy AI
23                                                                   Apple Intelligence
Name: ai_features, dtype: object

In [2914]:
df['has_gen_ai'] = df['ai_features'].str.contains(r'Galaxy AI|Apple Intelligence|Circle|Eraser|Gemini|Assist|Generative|Summary|Writer|Interpreter|Reimage').astype(float)
df['has_gen_ai'] = df['has_gen_ai'].fillna(0).astype(int)

In [2915]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [2916]:
df['has_ai_camera'] = df['ai_features'].str.contains(r'AI Camera|AI Beauty|Scene recognition|AI HDR|Portrait').astype(float)
df['has_ai_camera'] = df['has_ai_camera'].fillna(0)

In [2917]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    876
1.0    392
Name: count, dtype: int64

In [2918]:
# Agar phone Gen-AI hai, toh Basic AI ko 0 kar do taaki overlap na ho
df.loc[df['has_gen_ai'] == 1, 'has_ai_camera'] = 0

In [2919]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [2920]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    940
1.0    328
Name: count, dtype: int64

In [2921]:
df['ai_feature_count'] = df['ai_features'].apply(lambda x: len(str(x).split(',')) if pd.notna(x) else 0)

In [2922]:
df['ai_feature_count'] = df['ai_feature_count'].astype(int)

In [2923]:
df['ai_feature_count'].value_counts(dropna=False)

ai_feature_count
0     488
1     333
3     122
4     110
2     103
5      56
7      24
6      13
9      10
8       5
11      3
10      1
Name: count, dtype: int64

In [2924]:
df[df['ai_feature_count'] == 6][['model','ai_features','has_gen_ai','has_ai_camera']]

,model,ai_features,has_gen_ai,has_ai_camera
170,iQOO Neo 10 (12GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
171,iQOO Neo 10 (16GB + 512GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
172,iQOO Neo 10 (8GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
182,iQOO Neo 10,"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
345,OnePlus 13R (16GB + 512GB),"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
346,OnePlus 13R,"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
649,Realme C55,"AI Beauty, AI Camera, AI HDR, AI Night Mode, AI Portrait, AI Scene Recognition",0,1.0
1038,Samsung Galaxy S25 (12GB + 512GB),"Browsing assist, Call assist, Chat assist, Interpreter, Note assist, Photo assist",1,0.0
1150,Vivo V40 Pro (12GB + 512GB),"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1151,Vivo V40 Pro,"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1155,Vivo V50 (12GB + 512GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1156,Vivo V50 (8GB + 256GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1157,Vivo V50,"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0

In [2925]:
df['cam_secondary_mp'] = pd.to_numeric(df['cam_secondary_mp'])

In [2926]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 128 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(27), int64(37), object(49)
memory usage: 1.1+ MB

In [2927]:
df['front_cam'].sample(30)

951                                                           13 MP, f/2.0, 0mm, 1 µm
924                                                     13 MP, f/2.2, 1.12 µm, 1/3.1"
300                                                           16 MP, f/2.4, 0mm, 1 µm
836                                        13 MP, f/2.4, 0mm  (Wide), 1.12 µm, 1/3.1"
132                                                   8 MP, f/2.0, 0mm  (Wide), 77.8°
740                                                         8 MP, f/2.0, (Wide-angle)
754                                           16 MP, f/2.4, 24mm, 83°, 0.8 µm, 1/3.0"
729                                                               8 MP, f/2.0, (Wide)
493                                                   8 MP, f/2.0, (Wide-angle), 1 µm
106                                                                 8 MP, f/1.8, 1 µm
996                                                                13 MP, f/2.2, 1 µm
1046    12 MP, f/2.2, 26mm  (Wide), 80°, 1.12 µm, 1/4.0", Auto Focus, Dual Pixel PDAF
1023                       12 MP, f/2.2, 26mm  (Wide-angle), 1.12 µm, Dual Pixel PDAF
167                                                                      16 MP, f/2.5
28                                       12 MP, f/1.9, 23mm  (Wide), 1 µm, 1/3", PDAF
465                                             50 MP, f/2.0, (Wide), 90°, Auto Focus
1214                                                              8 MP, f/1.8, (Wide)
559                                                16 MP, f/2.5, 23mm  (Wide), 0.8 µm
108                                                         8 MP, f/2.0, (Wide-angle)
118                                                                      16 MP, f/2.0
613                                                                             50 MP
1224                                                     8 MP, f/2.0, (Wide), 0.64 µm
194                                                             32 MP, f/2.45, (Wide)
779                                              50 MP, f/2.4, (Wide), 86.7°, 1/2.88"
155                                                                     16 MP, f/2.45
781                                                          8 MP, f/2.0, (Wide), 80°
940                                                                 5 MP, f/2.2, 1 µm
1083                                                              8 MP, f/1.8, (Wide)
1210                                                       16 MP, f/2.0, 28mm  (Wide)
320                                50 MP, f/2.2, 24mm  (Wide), 81.2°, 0.8 µm, 1/2.76"
Name: front_cam, dtype: object

In [2928]:
df['front_cam_mp'] = df['front_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(float)

In [2929]:
df['front_cam_mp'].value_counts(dropna=False)

front_cam_mp
16.0    316
8.0     254
32.0    203
5.0     122
50.0    116
13.0     88
12.0     82
10.0     26
20.0     26
18.0     12
4.0       7
42.0      5
10.5      4
64.0      3
40.0      2
44.0      2
Name: count, dtype: int64

In [2930]:
df['is_front_af'] = (df['front_cam'].str.contains('Auto Focus|PDAF|AF') | df['front_cam_features'].str.contains('Auto Focus|PDAF|AF') | df['front_video'].str.contains('Auto Focus|PDAF|AF')).astype(int)

In [2931]:
df['is_front_af'].value_counts()

is_front_af
0    1045
1     223
Name: count, dtype: int64

In [2932]:
df['front_eis'] = (df['front_cam'].str.contains(r'EIS|gyro-EIS') | df['front_video'].str.contains(r'EIS|gyro-EIS') | df['front_cam_features'].str.contains(r'EIS|gyro-EIS')).astype(int)

In [2933]:
df['front_eis'].value_counts()

front_eis
0    995
1    273
Name: count, dtype: int64

In [2934]:
df['is_dual_front'] = df['front_cam2'].notna().astype(int)

In [2935]:
df['is_dual_front'].value_counts()

is_dual_front
0    1259
1       9
Name: count, dtype: int64

In [2936]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 132 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(40), object(49)
memory usage: 1.2+ MB

In [2937]:
df['front_cam_features'].sample(30)

240                                      Auto Smile Capture, Dual Video, Filters, Gesture Selfie, HdR, Portrait Mode, Pro Mode
1011                                                                                                                       HdR
1077                                                                                                               Face Unlock
574                                   AI Beauty Mode, AI Scene Recognition, Face recognition, Filters, Panorama, Portrait Mode
1145                                                                         Dual-LED Flash, Face Unlock, HDR, Night, Portrait
622     Bokeh Effect Control, Face recognition, Face unlock, Filters, HdR, Night mode, panorama, Panoramic View, Portrait Mode
174                                                                                 Night, panorama, Portrait, Pro, Time Lapse
682                                                                                                                        NaN
754                                                                                      Dual Video, Portrait Mode, Time Lapse
1051                                                                                                                       HDR
547                                                                                                                        NaN
679                                                                                                                Face Unlock
262                                                                                                           EIS, Fixed Focus
90                                                                                                            Face unlock, HDR
517                                                                                                           Face unlock, HdR
872                                                                                                 Face Unlock, HDR, Panorama
1257                                            AI Face Unlock, AI portrait mode, HdR, panorama, Selfie Night Mode, Time Lapse
645                                                              AI Beauty Mode, Face recognition, Filters, HDR, Portrait Mode
453                                                                      Face Unlock, Night Mode, Panorama, Portrait, Pro Mode
507                                                 Face Unlock, HDR, Night mode, Palm Shutter, Panorama, Portrait, Time Lapse
1135                                                                                                                       NaN
1210                                                                                              Face unlock, Night, Portrait
111                                                      AI Beauty Mode, Dual LED Flash, Night mode, Portrait Mode, Time Lapse
363                                                                                                                   Portrait
916                                                                                                                        NaN
77                                                                                                  Face Unlock, HDR, Panorama
2                                                                                        Auto Focus, Cinematic mode (4k@30fps)
665                                                                                                              HDR, Panorama
428                                                                                                           Face Unlock, HDR
590                                                                                          Face Unlock, Night Mode, Panorama
Name: front_cam_features, dtype: object

In [2938]:
df['has_front_pro_features'] = (df['front_cam_features'].str.contains(r'Dual-view Video|Dual Video|Cinematic|Time-lapse|Pro|Dolby Vision|HDR10\+|Eye Auto Focus|Eye AF|ProRes|3D \(spatial\)', case=False, na=False) |
                                df['front_video'].str.contains(r'Dual-view Video|Dual Video|Cinematic|Time-lapse|Pro|Dolby Vision|HDR10\+|Eye Auto Focus|Eye AF|ProRes|3D \(spatial\)', case=False, na=False)).astype(int)

In [2939]:
df['has_front_pro_features'].value_counts()

has_front_pro_features
0    967
1    301
Name: count, dtype: int64

In [2940]:
df['has_front_flash'] = df['front_cam_features'].str.contains('Flash', case=False, na=False).astype(int)

In [2941]:
df['has_front_flash'].value_counts()

has_front_flash
0    1191
1      77
Name: count, dtype: int64

In [2942]:
df['is_zeiss_front'] = (df['front_cam_features'].str.contains('Zeiss',case=False, na=False) | df['front_video'].str.contains('Zeiss',case=False, na=False)).astype(int)

In [2943]:
df['is_zeiss_front'].value_counts()

is_zeiss_front
0    1256
1      12
Name: count, dtype: int64

In [2944]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 135 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(43), object(49)
memory usage: 1.2+ MB

In [2945]:
df['front_video'].sample(30)

748                                                                                                                               1080p@30fps, 720@30fps
1094                                                                                                                                         1080p@30fps
1152                                                                                                                                         1080p@30fps
892                                                                                                                                          1080p@30fps
388                                                                                                                           1080/720p@30fps, 720@30fps
1128                                                                                                                                         1080p@30fps
586                                                                                                                                1080p@30fps, 4k@30fps
790                                                                                                                                          1080p@30fps
1132                                                                                                                  1080p@30fps, 4K@30/60fps, gyro-EIS
1107                                                                                                                                           Supported
864                                                                                                                                       1080p@30/60fps
20                                                                            1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS, ProRes Video Recording
587                                                                                                                     1080p@30fps, 4k@30fps, 720@30fps
594                                                                                                                     1080@30fps, 4k@30fps, 720p@30fps
807                                                                                                                              1080p@30fps, 720p@30fps
996                                                                                                                                          1080p@30fps
1139                                                                                                                                         1080p@30fps
1252                                                                                                                                         1080p@30fps
198                                                                                                                                          1080p@30fps
172                                                                                                                                          1080p@30fps
841                                                                                                                                          1080p@30fps
210                                                                                                                                          1080p@30fps
1216                                                                                                                                         1080p@30fps
521                                                                                                                                          1080p@30fps
650                                                                                                                                           720p@30fps
1134                                                                                                                               1080p@30fps, gyro-EIS
69                                                                                                                                        1080p@30/60fps
209                                                                                                                                          1080p@30fps
50      1080p@25/30/60/120fps, 4K@24/25/30/60fps, Cinematic Mode (4k@30fps), Cinematic Video Stabilisation, gyro-EIS, Stereo Sound Recording, Time Lapse
629                                                                                                                                          1080p@30fps
Name: front_video, dtype: object

In [2946]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [2947]:
def max_front_video_res(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if '8k' in t:
        return '8K'
  elif '4k' in t:
      return '4K'
  elif '1080p' in t or '1080' in t:
      return '1080p'
  else:
      return 'standard'

df['max_front_video_res'] = df['front_video'].apply(max_front_video_res).astype('category')

In [2948]:
df['max_front_video_res'].value_counts()

max_front_video_res
1080p       910
4K          206
standard    110
unknown      39
8K            3
Name: count, dtype: int64

In [2949]:
df[['model','front_video','max_front_video_res']].sample(20)

,model,front_video,max_front_video_res
211,iQOO Z7 Pro (8GB + 256GB),1080p@30fps,1080p
516,Poco M5 (6GB + 128GB),1080p@30fps,1080p
762,Realme P3 5G (8GB + 128GB),1080@30fps,1080p
797,Redmi 12 5G (8GB + 256GB),1080p@30fps,1080p
985,Samsung Galaxy M15 5G,1080p@30fps,1080p
856,Redmi Note 12 Pro Plus 5G,1080p@30/60fps,1080p
328,OnePlus 10T 5G (12GB + 256GB),1080p@30fps,1080p
356,OnePlus Nord 2T,"1080p@30fps, gyro-EIS",1080p
36,Apple iPhone 16 Pro Max,"1080p@25/30/60fps, 4K@24/25/30/60fps, 8k@60fps, gyro-EIS",8K
639,Realme C33,720p@30fps,standard
1002,Samsung Galaxy M53 5G (8GB + 128GB),"1080p@30fps, 4K@30fps",4K
749,Realme Narzo N65 5G (8GB + 128GB),"1080p@30fps, 720@30fps",1080p
1136,Vivo V29 Pro (12GB + 256GB),4k@30fps,4K
1132,Vivo V27 Pro (8GB + 256GB),"1080p@30fps, 4K@30/60fps, gyro-EIS",4K
637,Realme C31,720p@30fps,standard
1035,Samsung Galaxy S24 Ultra (12GB + 512GB),"1080p@30fps, gyro-EIS",1080p
440,Oppo Find X8,"1080p@30/60fps, gyro-EIS",1080p
152,Infinix Zero Flip,1080p@30/60/120fps,1080p
499,POCO C85 5G (6GB + 128GB),1080p@30fps,1080p
1236,Vivo Y31 Pro 5G,NaN,unknown

In [2950]:
df['battery'].sample(20)

1234        6500 mAh, Lithium Ion (Non-removable)
748     5000 mAh, Lithium Polymer (Non-removable)
522     5000 mAh, Lithium Polymer (Non-removable)
1255    5000 mAh, Lithium Polymer (Non-removable)
812      7000 mAh, Silicon Carbon (Non-removable)
1040        3900 mAh, Lithium Ion (Non-removable)
710     5000 mAh, Lithium Polymer (Non-removable)
671     5500 mAh, Lithium Polymer (Non-removable)
975         5000 mAh, Lithium Ion (Non-removable)
981     6000 mAh, Lithium Polymer (Non-removable)
377     7100 mAh, Lithium Polymer (Non-removable)
1215        5000 mAh, Lithium Ion (Non-removable)
372     5500 mAh, Lithium Polymer (Non-removable)
398         5800 mAh, Lithium Ion (Non-removable)
924     5000 mAh, Lithium Polymer (Non-removable)
1054    4000 mAh, Lithium Polymer (Non-removable)
301     5000 mAh, Lithium Polymer (Non-removable)
201     5000 mAh, Lithium Polymer (Non-removable)
466      6200 mAh, Silicon Carbon (Non-removable)
800     5000 mAh, Lithium Polymer (Non-removable)
Name: battery, dtype: object

In [2951]:
df['battery_mah'] = df['battery'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(int)

In [2952]:
df['battery_mah'].value_counts(dropna=False)

battery_mah
5000    598
6000    137
5500     68
7000     60
4500     51
       ...
4230      1
6510      1
4820      1
5410      1
5240      1
Name: count, Length: 87, dtype: int64

In [2953]:
df['battery_mah'].describe()

count    1268.000000
mean     5222.625394
std       741.887845
min      3149.000000
25%      5000.000000
50%      5000.000000
75%      5500.000000
max      7550.000000
Name: battery_mah, dtype: float64

In [2954]:
def battery_type(text):

  t = text.lower()

  if 'lithium polymer' in t:
    return 'lithium polymer'

  if 'lithium ion' in t:
    return 'lithium ion'

  if 'silicon carbon' in t:
    return 'silicon carbon'

  if 'semi-solid state' in t:
    return 'semi solid state'

  return 'unknown'

df['battery_type'] = df['battery'].apply(battery_type)

In [2955]:
df.loc[[1056,1057], 'battery_type'] = 'lithium polymer'

In [2956]:
df.loc[df['battery_type'] == 'unknown','battery_type'] = 'lithium polymer'
df.loc[df['battery_type'] == 'semi solid state','battery_type'] = 'lithium polymer'

In [2957]:
df['battery_type'].value_counts()

battery_type
lithium polymer    850
lithium ion        321
silicon carbon      97
Name: count, dtype: int64

In [2958]:
df['battery_type'] = df['battery_type'].astype('category')

In [2959]:
df.info(verbose=True , show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 138 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
 135  max_front_video_res          1268 non-null   category
 136  battery_mah                  1268 non-null   int64
 137  battery_type                 1268 non-null   category
dtypes: category(16), datetime64[ns](1), float64(28), int64(44), object(49)
memory usage: 1.2+ MB

In [2962]:
df['charging'].sample(30)

487                                                                                                                             10W (wired)
364                                                                                                80W (wired), 5W (reverse wired), PD, PPS
85      100W (wired), 66W (wireless), Reverse Wireless Charging Supported, 5W (reverse wired)100% in 41min (wired), 64% in 30min (wireless)
879                                                                                                                             25W (wired)
1127                                                                                           44W (wired)61% in 30min (wired) (advertised)
851                                                                                           67W (wired)100% in 46min (wired) (advertised)
162                                                                                            120W (wired)50% in 6min (wired) (advertised)
782                                                                                                                             45W (wired)
1061                25W (wired), 15W (wireless), 4.5W (reverse wireless), Reverse Wired Charging Supported50% in 30min (wired) (advertised)
901                                                                                                                             25W (wired)
562                                                                                          100W (wired)100% in 26min (wired) (advertised)
808                                                                                                                             18W (wired)
118                                                                                                                             33W (wired)
202                                                                                           18W (wired), Reverse Wired Charging Supported
441                                                                      80W (wired), 50W (wireless), 10W (reverse wireless), PD, PPS, UFCS
179                                                                                          120W (wired)100% in 25min (wired) (advertised)
591                                                                                                         45W (wired)50% in 36min (wired)
683                                                                                                                            120W (wired)
1129                                                                                           66W (wired)40% in 15min (wired) (advertised)
786                                                                                                         18W (wired), 9W (reverse wired)
18       20W (wired), 15W (wireless), Reverse Wireless Charging Supported, 4.5W (reverse wired), Qi, Qi2, 50% in 30min (wired) (advertised)
572                                                                                            67W (wired)50% in 19min (wired) (advertised)
1140                                                                                                                            44W (wired)
1085                                                         44W (wired), Reverse Wired Charging Supported50% in 25min (wired) (advertised)
224                                                                                                       44W (wired), 7.5W (reverse wired)
713                                                                                           33W (wired)50% in NaNmin (wired) (advertised)
319                                                                                    33W (wired), 5W (reverse wired)100% in 60min (wired)
538                                                                                           33W (wired)100% in 60min (wired) (advertised)
723                                                                                            45W (wired)50% in 30min (wired) (advertised)
1101                                                                                          44W (wired)100% in 90min (wired) (advertised)
Name: charging, dtype: object

In [2976]:
df['charging_watts'] = df['charging'].str.split(',').str.get(0).str.split(' ').str.get(0).str.replace('W','').astype(float)

In [2977]:
df['charging_watts'].value_counts(dropna=False)

charging_watts
45.0     155
80.0     140
25.0     137
33.0     129
18.0     103
15.0      75
44.0      72
10.0      71
67.0      67
120.0     62
90.0      52
20.0      38
30.0      33
100.0     30
66.0      21
68.0      17
65.0      16
60.0      11
40.0       9
50.0       7
125.0      5
27.0       3
150.0      3
35.0       3
23.0       2
37.0       2
22.5       2
29.0       1
70.0       1
180.0      1
Name: count, dtype: int64

In [2987]:
df['charging_watts'].describe()

count    1268.000000
mean       47.894322
std        30.613064
min        10.000000
25%        25.000000
50%        44.000000
75%        67.000000
max       180.000000
Name: charging_watts, dtype: float64

In [2979]:
df['wireless_watts'] = df['charging'].str.extract(r'(\d+)W\s*\(wireless\)').astype(float)

In [2981]:
df['wireless_watts'].value_counts(dropna=False)

wireless_watts
NaN     1078
15.0      85
50.0      42
25.0      18
5.0       10
20.0       9
40.0       7
23.0       5
30.0       4
22.0       3
18.0       2
66.0       2
80.0       2
21.0       1
Name: count, dtype: int64

In [2988]:
df['wireless_watts'].describe()

count    190.000000
mean      26.236842
std       16.253993
min        5.000000
25%       15.000000
50%       16.500000
75%       40.000000
max       80.000000
Name: wireless_watts, dtype: float64

In [2982]:
df['has_wireless'] = df['charging'].str.contains('wireless').astype(int)

In [2983]:
df['has_wireless'].value_counts()

has_wireless
0    1068
1     200
Name: count, dtype: int64

In [2985]:
df['has_reverse_charging'] = df['charging'].str.contains('reverse',).astype(int)

In [2986]:
df['has_reverse_charging'].value_counts()

has_reverse_charging
0    1052
1     216
Name: count, dtype: int64

In [2998]:
df['wired_full_charge_time'] = df['charging'].str.extract(r'100% in\s*(\d+)\s*min.*?\(wired\)').astype(float)

In [2999]:
df['wired_full_charge_time'].value_counts(dropna=False)

wired_full_charge_time
NaN      1058
60.0       21
46.0       12
44.0       10
42.0       10
56.0        8
26.0        8
35.0        8
45.0        8
32.0        7
90.0        7
61.0        7
40.0        6
19.0        6
48.0        6
70.0        5
55.0        5
29.0        4
28.0        4
38.0        4
41.0        4
25.0        4
18.0        4
31.0        4
58.0        3
79.0        3
33.0        3
30.0        3
17.0        3
43.0        3
0.0         3
47.0        3
15.0        2
108.0       2
75.0        2
145.0       2
54.0        2
52.0        2
69.0        2
57.0        2
80.0        2
12.0        1
49.0        1
100.0       1
63.0        1
71.0        1
139.0       1
Name: count, dtype: int64

In [3007]:
df[df['wired_full_charge_time'] == 145][['model','charging']]

                       model                           charging
1197  Vivo Y18 (4GB + 128GB)  15W (wired)100% in 145min (wired)
1198                Vivo Y18  15W (wired)100% in 145min (wired)

In [3008]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 144 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
 135  max_front_video_res          1268 non-null   category
 136  battery_mah                  1268 non-null   int64
 137  battery_type                 1268 non-null   category
 138  charging_watt                1268 non-null   float64
 139  charging_watts               1268 non-null   float64
 140  wireless_watts               190 non-null    float64
 141  has_wireless                 1268 non-null   int64
 142  has_reverse_charging         1268 non-null   int64
 143  wired_full_charge_time       210 non-null    float64
dtypes: category(16), datetime64[ns](1), float64(32), int64(46), object(49)
memory usage: 1.3+ MB

In [3009]:
df['storage'].sample(30)

193     256GB, UFS 2.2
1043    512GB, UFS 4.0
711     256GB, UFS 2.2
862     256GB, UFS 2.2
13         128GB, NvMe
479     256GB, UFS 2.2
998     256GB, UFS 2.2
830     128GB, UFS 2.2
517      64GB, UFS 2.2
1049    256GB, UFS 3.1
86      256GB, UFS 3.1
1031    128GB, UFS 3.1
404     128GB, UFS 2.2
383     32GB, eMMC 5.1
876     128GB, UFS 2.2
531     128GB, UFS 2.2
254     128GB, UFS 2.2
188     128GB, UFS 2.2
509     256GB, UFS 4.1
47         512GB, NvMe
1046    512GB, UFS 4.0
843      64GB, UFS 2.2
119     256GB, UFS 2.2
1157    128GB, UFS 2.2
1021    256GB, UFS 4.0
294     128GB, UFS 2.2
680     512GB, UFS 4.0
1238    128GB, UFS 2.2
1138    128GB, UFS 2.2
541     128GB, UFS 2.2
Name: storage, dtype: object

In [3017]:
df['rom'] = df['storage'].str.split(',').str.get(0).str.replace('GB','')

In [3025]:
df['rom'] = df['rom'].str.replace('1TB','1024')
df['rom'] = df['rom'].str.replace('2TB','2048')
df['rom'] = df['rom'].astype(int)

In [3026]:
df['rom'].value_counts(dropna=False)

rom
128     588
256     403
64      133
512     110
1024     17
32       16
2048      1
Name: count, dtype: int64

In [3030]:
df['storage_type'] = df['storage'].str.split(',').str.get(1).str.strip()

In [3031]:
df['storage_type'].value_counts(dropna=False)

storage_type
UFS 2.2     527
UFS 3.1     314
eMMC 5.1    153
UFS 4.0     132
NvMe         52
UFS 2.1      39
UFS 4.1      27
UFS          13
NaN           5
UFS 2.0       3
UFS 3.2       2
uMCP          1
Name: count, dtype: int64

In [3032]:
# 1. Mapping logic to simplify versions
storage_map = {
    'UFS 4.1': 'UFS 4.0',
    'UFS 4.0': 'UFS 4.0',
    'UFS 3.2': 'UFS 3.1',
    'UFS 3.1': 'UFS 3.1',
    'UFS 2.2': 'UFS 2.x',
    'UFS 2.1': 'UFS 2.x',
    'UFS 2.0': 'UFS 2.x',
    'eMMC 5.1': 'eMMC',
    'NvMe': 'NVMe',
    'uMCP': 'UFS 2.x', # uMCP usually mid-range, maps closest to UFS 2.x performance
    'UFS': 'UFS (Generic)'
}

df['storage_type'] = df['storage_type'].replace(storage_map)

# 2. Handling 5 NaNs based on Brand or Price (Simple Fill for now)
df['storage_type'] = df['storage_type'].fillna('UFS (Generic)')

In [3033]:
df['storage_type'].value_counts(dropna=False)

storage_type
UFS 2.x          570
UFS 3.1          316
UFS 4.0          159
eMMC             153
NVMe              52
UFS (Generic)     18
Name: count, dtype: int64