<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [325]:
import pandas as pd
import numpy as np
import re

In [326]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [327]:
df = pd.read_csv('/content/12_jan_smartphones_coloumns_for_ml.csv')

In [328]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN

In [329]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 57 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
dtypes: float64(1), int64(2), object(54)
memory usage: 564.8+ KB

In [330]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [331]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [332]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [333]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [334]:
df['brand'].count()

np.int64(1268)

In [335]:
df['brand'] = df['brand'].astype('category')

In [336]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [337]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [338]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [339]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [340]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [341]:
df['rating_count'] = df['rating_count'].astype('float64')

In [342]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(53)
memory usage: 566.7+ KB

In [343]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [344]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [345]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [346]:
df.drop(columns='market_status',inplace=True)

In [347]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [348]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [349]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [350]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(51)
memory usage: 566.7+ KB

In [351]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [352]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [353]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [354]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [355]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [356]:
df['old_price'] = df['old_price'].str.replace(',','')

In [357]:
df['old_price'] = df['old_price'].astype('float')

In [358]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(50)
memory usage: 566.7+ KB

In [359]:
df['price'] = df['price'].str.replace('₹','')

In [360]:
df['price'] = df['price'].str.replace(',','')

In [361]:
df['price'] = df['price'].astype('int')

In [362]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(49)
memory usage: 566.7+ KB

In [363]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [364]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(48)
memory usage: 566.7+ KB

In [365]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [366]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [367]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [368]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [369]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [370]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [371]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [372]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  brand                  1268 non-null   category
 54  is_available           1268 non-null   int64
 55  is_flipkart_available  1268 non-null   int64
 56  is_amazon_available    1268 non-null   int64
 57  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(45)
memory usage: 566.7+ KB

In [373]:
df['display_type'].sample(10)

466                                          AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
146                                           AMOLED, 144 Hz Refresh Rate, HDR10, 360 Hz Touch Sampling Rate
439                             ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
746                                             IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
118                                                      True Colour Display AMOLED, 60 Hz Refresh Rate, SDR
656                                            IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1262    AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate, Anti Reflection Coating
464                                    AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
27                     Super Retina XDR AMOLED, 60 Hz Refresh Rate, Dolby Vision, 120 Hz Touch Sampling Rate
955                                        Super AMOLED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [374]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [375]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [376]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [377]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [378]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [379]:
df['display_type'].sample(10)

199                                                             AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
181                                                        AMOLED, 120 Hz Refresh Rate, HDR10+, 1200 Hz Touch Sampling Rate
10      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate, Anti Reflection Coating
225                                                           IPS LCD, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
25                                                           Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
516                                                            IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
706                                                            IPS LCD, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1264                                    Pro HDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 300 Hz Touch Sampling Rate
732                                                              OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1209                                                                                       AMOLED, 120 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [380]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [381]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [382]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [383]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [384]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [385]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [386]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [387]:
df['display_hz'].dtypes

dtype('int64')

In [388]:
df['display_type'].sample(20)

525                                                                 AMOLED, 90 Hz Refresh Rate, SDR
1227                                      LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
149                                    AMOLED, 144 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
1120                               IPS LCD, 120 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
570                              E4 AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
206                   Smooth Display AMOLED, 90 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
566                                   IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
885                                                          Super AMOLED, 120 Hz Refresh Rate, SDR
38            Super Retina XDR AMOLED, 60 Hz Refresh Rate, Dolby Vision, 120 Hz Touch Sampling Rate
696                    Super AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
1020               Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
1068                                     Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
85                                     AMOLED, 120 Hz Refresh Rate, HDR, 480 Hz Touch Sampling Rate
541                                Dot AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
543                      Flow AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
921                              Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
338                                          ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
425     AMOLED, 120 Hz Refresh Rate, LTPO, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
649                                    IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1061                                     Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
Name: display_type, dtype: object

In [389]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [390]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [391]:
df['display_dynamic_range'].count()

np.int64(1268)

In [392]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

654                                   IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
126                                    AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
102                                    IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
657                                    IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
497                                   IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
290                                                                IPS LCD, 90 Hz Refresh Rate, SDR
966                              Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
954                               Super AMOLED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
733                                   IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1089                                                               IPS LCD, 60 Hz Refresh Rate, SDR
1215                                                                   LCD, 60 Hz Refresh Rate, SDR
900                                                                PLS LCD, 60 Hz Refresh Rate, SDR
600     AMOLED, 120 Hz Refresh Rate, LTPO, SDR, 180 Hz Touch Sampling Rate, Anti Reflection Coating
1002                             Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
992                                                               TFT LCD, 120 Hz Refresh Rate, SDR
923                              Super AMOLED, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
986                                                           Super AMOLED, 90 Hz Refresh Rate, SDR
519                                                                IPS LCD, 90 Hz Refresh Rate, SDR
795                                    IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1231                                                            E4 AMOLED, 120 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [393]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [394]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 62 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  brand                  1268 non-null   category
 54  is_available           1268 non-null   int64
 55  is_flipkart_available  1268 non-null   int64
 56  is_amazon_available    1268 non-null   int64
 57  is_official_available  1268 non-null   int64
 58  display_panel_type     1268 non-null   object
 59  display_panel_family   1268 non-null   category
 60  display_hz             1268 non-null   int64
 61  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(46)
memory usage: 589.4+ KB

In [395]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

383                          LCD, 60 Hz Refresh Rate, SDR, 60 Hz Touch Sampling Rate
182               AMOLED, 144 Hz Refresh Rate, LTPO, SDR, 360 Hz Touch Sampling Rate
559                    IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
443     ProXDR AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
513                  Dot AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1093                    IPS LCD, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
62               HDR AMOLED, 120 Hz Refresh Rate, HDR10+, 960 Hz Touch Sampling Rate
334        3D AMOLED AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
771                  AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
372           ProXDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
809                    IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
127                     AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
720                ProXDR OLED, 120 Hz Refresh Rate, HDR, 180 Hz Touch Sampling Rate
728                    IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
91                      AMOLED, 120 Hz Refresh Rate, SDR, 300 Hz Touch Sampling Rate
669                    IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
851          Pro HDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
211                 AMOLED, 120 Hz Refresh Rate, HDR10+, 1200 Hz Touch Sampling Rate
247                    IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
408                        LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [396]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [397]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [398]:
df['display_type'].sample(20)

5                                                            Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
35      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate, Anti Reflection Coating
1179                                                                         Q10+ AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
54                                                          AMOLED, 165 Hz Refresh Rate, HDR10+, 720 Hz Touch Sampling Rate
807                                                                                    Dot IPS LCD, 90 Hz Refresh Rate, SDR
813                                                           IPS LCD, 144 Hz Refresh Rate, SDR, 288 Hz Touch Sampling Rate
841                                                      Dot AMOLED, 120 Hz Refresh Rate, HDR10, 360 Hz Touch Sampling Rate
765                                                           IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
46                                  Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, Anti Reflection Coating
623                                                       Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
403                                                               LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
685                                                                 AMOLED, 120 Hz Refresh Rate, 360 Hz Touch Sampling Rate
287                                                            p-OLED, 120 Hz Refresh Rate, HDR, 300 Hz Touch Sampling Rate
1116                                                                                    AMOLED, 120 Hz Refresh Rate, HDR10+
494                                                                                    Dot IPS LCD, 90 Hz Refresh Rate, SDR
848                                                                                  Super AMOLED, 120 Hz Refresh Rate, SDR
913                                                                                   Super AMOLED, 90 Hz Refresh Rate, SDR
1086                                                                                    AMOLED, 120 Hz Refresh Rate, HDR10+
786                                                                                        IPS LCD, 90 Hz Refresh Rate, SDR
66                                                                                           OLED, 120 Hz Refresh Rate, HDR
Name: display_type, dtype: object

In [399]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [400]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [401]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [402]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [403]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [404]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [405]:
df['display_type'].sample(20)

628                             Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
916                                                                             IPS LCD, 120 Hz Refresh Rate, SDR
63                                Super Actua OLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
685                                                       AMOLED, 120 Hz Refresh Rate, 360 Hz Touch Sampling Rate
351                                                           HDR AMOLED, 165 Hz Refresh Rate, LTPO, Dolby Vision
81                                                  OLED, 120 Hz Refresh Rate, HDR10+, 120 Hz Touch Sampling Rate
214                                             Ultra AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
1047    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 360 Hz Touch Sampling Rate, Anti Reflection Coating
55                                                AMOLED, 165 Hz Refresh Rate, HDR10+, 720 Hz Touch Sampling Rate
1059                                   Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
842                                              Dot AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
956                                                                         Super AMOLED, 90 Hz Refresh Rate, SDR
106                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
931                                                                     Super AMOLED, 120 Hz Refresh Rate, HDR10+
499                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
607                                                                                OLED, 120 Hz Refresh Rate, SDR
1239                                                                             IPS LCD, 90 Hz Refresh Rate, SDR
805                                                                          Dot IPS LCD, 90 Hz Refresh Rate, SDR
545                                                  AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
120                                                                               AMOLED, 60 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [406]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 65 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(46)
memory usage: 619.1+ KB

In [407]:
df['display_size'].sample(20)

547                  6.67 inches, 107.4 cm², 94.27% Screen To Body Ratio
1026                    6.2 inches, 94.4 cm², 88.1% Screen To Body Ratio
1252                  6.67 inches, 107.4 cm², 86.1% Screen To Body Ratio
108                   6.78 inches, 109.2 cm², 90.6% Screen To Body Ratio
125                   6.78 inches, 109.9 cm², 93.8% Screen To Body Ratio
1216                 6.55 inches, 103.1 cm², 89.67% Screen To Body Ratio
185                     6.78 inches, 111 cm², 90.8% Screen To Body Ratio
856                                               6.67 inches, 107.4 cm²
636                      6.5 inches, 102 cm², 88.7% Screen To Body Ratio
452                               6.8 inches, 93.5% Screen To Body Ratio
958                    6.6 inches, 104.9 cm², 82.3% Screen To Body Ratio
296                                                  6.5 inches, 102 cm²
315                     6.67 inches, 108 cm², 88.5% Screen To Body Ratio
1138    6.78 inches Curved Display, 111 cm², 93.53% Screen To Body Ratio
111                     6.56 inches, 103.4 cm², 90% Screen To Body Ratio
939                      6.7 inches, 108.4 cm², 87% Screen To Body Ratio
1192                  6.51 inches, 102.3 cm², 82.5% Screen To Body Ratio
443                   6.59 inches, 105.6 cm², 95.4% Screen To Body Ratio
1079                    6.44 inches, 100 cm², 85.1% Screen To Body Ratio
849                                               6.67 inches, 107.4 cm²
Name: display_size, dtype: object

In [408]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [409]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [410]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [411]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [412]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [413]:
df['display_inches'].count()

np.int64(1268)

In [414]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [415]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 66 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(46)
memory usage: 629.0+ KB

In [416]:
df['display_size'].sample(20)

562                                                              6.7 inches Curved Display, 108 cm²
122                                                                           6.7 inches, 108.4 cm²
415                                              6.59 inches, 104.5 cm², 90.8% Screen To Body Ratio
684                                                          6.8 inches, 94.7% Screen To Body Ratio
1201                                             6.56 inches, 103.4 cm², 83.6% Screen To Body Ratio
624                                                6.4 inches, 98.9 cm², 84.2% Screen To Body Ratio
1002                                              6.7 inches, 108.1 cm², 85.3% Screen To Body Ratio
1253                                             6.67 inches, 107.4 cm², 86.1% Screen To Body Ratio
387                                              6.56 inches, 103.4 cm², 89.8% Screen To Body Ratio
648                                                6.72 inches, 109 cm², 91.4% Screen To Body Ratio
870                              6.67 inches Curved Display, 107.4 cm², 93.85% Screen To Body Ratio
273                                                           6.55 inches Curved Display, 103.6 cm²
80                                                 6.3 inches, 96.3 cm², 87.6% Screen To Body Ratio
814                                               6.9 inches, 114.9 cm², 81.8% Screen To Body Ratio
212                                                             6.78 inches Curved Display, 111 cm²
1059    7.6 inches Foldable Display, 183.2 cm², 90.9% Screen To Body Ratio, 6.2 inches rear display
719                                             6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
953                                               6.7 inches, 108.4 cm², 83.6% Screen To Body Ratio
846                                               6.43 inches, 99.8 cm², 84.5% Screen To Body Ratio
458                                                 6.7 inches, 108 cm², 93.5% Screen To Body Ratio
Name: display_size, dtype: object

In [417]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [418]:
df['display_body_ratio'].count()

np.int64(1036)

In [419]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [420]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [421]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [422]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(46)
memory usage: 638.9+ KB

In [423]:
df['display_size'].sample(20)

585          6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
363                               6.83 inches, 93.6% Screen To Body Ratio
959                                                 6.5 inches, 103.7 cm²
633                       6.5 inches, 102 cm², 88.7% Screen To Body Ratio
372                       6.7 inches, 108 cm², 93.4% Screen To Body Ratio
1197                   6.56 inches, 103.4 cm², 83.6% Screen To Body Ratio
73       6.7 inches Curved Display, 108.7 cm², 87.4% Screen To Body Ratio
271                                                   6.5 inches, 102 cm²
326                       6.7 inches, 108 cm², 87.6% Screen To Body Ratio
240                       6.5 inches, 102 cm², 89.8% Screen To Body Ratio
321                      6.77 inches, 111.5 cm², 88% Screen To Body Ratio
1128    6.56 inches Curved Display, 104.6 cm², 89.6% Screen To Body Ratio
142                    6.6 inches, 104.6 cm², 89.72% Screen To Body Ratio
293       6.67 inches Curved Display, 107.4 cm², 93% Screen To Body Ratio
703                      6.4 inches, 98.9 cm², 90.8% Screen To Body Ratio
667                   6.67 inches, 107.2 cm², 89.97% Screen To Body Ratio
108                    6.78 inches, 109.2 cm², 90.6% Screen To Body Ratio
711       6.7 inches Curved Display, 108 cm², 93.65% Screen To Body Ratio
367                                                6.59 inches, 104.5 cm²
743                      6.72 inches, 109 cm², 91.4% Screen To Body Ratio
Name: display_size, dtype: object

In [424]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [425]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [426]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [427]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [428]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(46)
memory usage: 648.8+ KB

In [429]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [430]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [431]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(46)
memory usage: 658.8+ KB

In [432]:
df['display_res'].sample(20)

182                        1.5K, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 5500 nits(Peak Brightness), 2000 nits(High Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
49                   1.5K, 1206 x  2622 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
1090                                                                                                                                    FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 650 nits(Peak Brightness)
462                                                FHD+, 1272 x  2800 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), 600 nits(Typical Brightness), SGS Display Certification
1059                                                                                                 QHD+, 1812 x  2176 pixels, 23.1:9 (373 ppi), 10-bit 16 Million Colours, 1200 nits(Peak Brightness), Eye Comfort Shield
1210                                                                                                  FHD+, 1080 x  2400 pixels, 20:9 (394 ppi), 8-bit colours, 100% DCI-P3, 1800 nits(High Brightness), Blue Light Filters
696     WQHD+, 1440 x  3216 pixels, 20:9 (525 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1400 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness), DisplayMate A+, 5000000:1 Contrast Ratio
219                            FHD+, 1080 x  2392 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1800 nits(High Brightness), 1800 nits(Typical Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
1037                                                                     FHD+, 1080 x  2340 pixels, 19.5:9 (416 ppi), 10-bit colours, 100% DCI-P3, 2600 nits(Peak Brightness), Eye Comfort Shield, 5000000:1 Contrast Ratio
135                                                                                                                       HD+, 720 x  1640 pixels, 20:9 (257 ppi), 8-bit 16.7 Million Colours, 440 nits(Typical Brightness)
322      FHD+, 1084 x  2392 pixels, 19.5:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1300 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
768                                                                                         1.5K, 1272 x  2800 pixels, 19.5:9 (390 ppi), 8-bit colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness)
324                                QHD+, 1440 x  3216 pixels, 20:9 (525 ppi), 10-bit colours, 100% DCI-P3, 1300 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification
566                                                                                          FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 680 nits(Peak Brightness), 550 nits(Typical Brightness)
1179                                               1.5K, 1216 x  2640 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
99                                1.5K, 1224 x  2720 pixels, 20:9 (440 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 700 nits(Typical Brightness), TUV Rheinland certification
200                                                                                                          FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1300 nits(Peak Brightness)
545                                                                                                                      FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit colours, 1000 nits(Peak Brightness), PWM Dimming
665                                                          HD+, 720 x  1600 pixels, 20:9 (264 ppi), 8-bit colours, 83.5% NTSC, 563 nits(Peak Brightness), 450 nits(Typical Brightness), DC Dimming, 1500:1 Contrast Ratio
773                                                                                                                         FHD+, 1080 x  2400 pixels, 20:9 (396 ppi), 8-bit colours, 950 nits(Peak Brightness), DC Dimming
Name: display_res, dtype: object

In [433]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [434]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [435]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [436]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [437]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [438]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [439]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [440]:
df['res_category'] = df['res_category'].astype('category')

In [441]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [442]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(46)
memory usage: 660.2+ KB

In [443]:
df['display_res'].sample(20)

955                                                                                                                           FHD+, 1080 x  2340 pixels, 20:9 (387 ppi), 8-bit colours, 100% DCI-P3, 800 nits(High Brightness), DC Dimming
1004                                                                                                                         FHD+, 1080 x  2400 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness), DC Dimming
982                                                                                                                                                                    FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16 Million Colours
858                                                                    FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
430                                                                                                               FHD+, 1080 x  2373 pixels, (397 ppi), 10-bit 1.07 Billion Colours, 1400 nits(Peak Brightness), 600 nits(High Brightness)
853                                     FHD+, 1080 x  2400 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), 900 nits(High Brightness), 500 nits(Typical Brightness), 5000000:1 Contrast Ratio
466                                                                                   FHD+, 1272 x  2800 pixels, 20:9 (450 ppi), 10-bit colours, 100% DCI-P3, 1200 nits(Peak Brightness), 600 nits(Typical Brightness), Blue Light Filters
598                            1.5K, 1272 x  2800 pixels, (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
160      2K, 1440 x  3168 pixels, 19.8:9 (508 ppi), 10-bit 1.07 Billion Colours, 118% DCI-P3, 6000 nits(Peak Brightness), 2600 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
558                                                                                                                                                                               FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit colours
673      1.5K, 1264 x  2780 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 6000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
509     1.5K, 1280 x  2772 pixels, 19.5:9 (447 ppi), 12-bit 68.7 Billion Colours, 100% DCI-P3, 3200 nits(Peak Brightness), 1700 nits(High Brightness), 700 nits(Typical Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
1178                                                                1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
917                                                                                                                        FHD+, 1080 x  2340 pixels, 20:9 (396 ppi), 8-bit colours, 1000 nits(Peak Brightness), SGS Display Certification
149                                         FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 1300 nits(High Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
997                                                                                                                             FHD+, 1080 x  2340 pixels, 19.5:9 (390 ppi), 8-bit colours, 1000 nits(High Brightness), Eye Comfort Shield
200                                                                                                                         FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1300 nits(Peak Brightness)
89                                                              FHD+, 1280 x  2800 pixels, 19.5:9 (453 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 5000 nits(Peak Brightness), 1600 nits(High Brightness), TUV Rheinland certification
325                                     QHD+, 1440 x  3216 pixels, 20:9 (525 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1300 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification
1242                                                                                                                         FHD+, 1080 x  2400 pixels, 20:9 (394 ppi), 100% DCI-P3, 1800 nits(Peak Brightness), SGS Display Certification
Name: display_res, dtype: object

In [444]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [445]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [446]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [447]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [448]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [449]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [450]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [451]:
df['res_width'].count()

np.int64(1268)

In [452]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [453]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  display_pixels               1268 non-null   object
 71  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(47)
memory usage: 680.0+ KB

In [454]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [455]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [456]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [457]:
df.loc[[1055,1058],'res_height'] = 2520

In [458]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [459]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [460]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  display_pixels               1268 non-null   object
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(47)
memory usage: 689.9+ KB

In [461]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [462]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(46)
memory usage: 680.0+ KB

In [463]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [464]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [465]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [466]:
df['x'].sample(20)

90      19.9
541       20
424       20
1079      20
668      NaN
986     19.5
988     19.5
700       20
297       20
119       20
869       20
8       19.5
1067     1.2
800      NaN
654       20
353       20
956      NaN
495       20
55      20.4
431      NaN
Name: x, dtype: object

In [467]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [468]:
df['y'].sample(20)

341       9
481       9
4         9
398       9
1122      9
274       9
678     NaN
1046      9
1042      9
1035      9
1223      9
1040      9
443       9
431     NaN
242       9
1212      9
1133      9
446       9
478       9
135       9
Name: y, dtype: object

In [469]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [470]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [471]:
df['aspect_ration_numeric'].sample(20)

519     2.222222
72      2.222222
592     2.233333
30      2.166667
692     2.222222
769     2.166667
293     2.222222
1256    2.222222
136     2.222222
749     2.222222
78      2.222222
172     2.222222
877     2.222222
467     2.222222
754     2.222222
149     2.222222
682     2.222222
84      2.233333
1218    2.222222
213     2.222222
Name: aspect_ration_numeric, dtype: float64

In [472]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [473]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  helper                       1266 non-null   object
 73  aspect_ration_numeric        1185 non-null   float64
 74  x                            1185 non-null   float64
 75  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(47)
memory usage: 719.6+ KB

In [474]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [475]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(46)
memory usage: 689.9+ KB

In [476]:
df['display_res'].sample(20)

735                                 FHD+, 1080 x  2372 pixels, 20:9 (397 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4000 nits(Peak Brightness), 1400 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming
1183                                                                                                        FHD+, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit colours, 100% DCI-P3, 1300 nits(Peak Brightness), PWM Dimming
640                                                              FHD, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 600 nits(High Brightness), 480 nits(Typical Brightness), TUV Rheinland certification
344     QHD+, 1440 x  3168 pixels, 20:9 (510 ppi), 12-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification, 2000000:1 Contrast Ratio
626                                                                                                                                                                FHD+, 1080 x  2412 pixels, 20:9 (400 ppi), 8-bit colours
657                                                                                     HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 560 nits(High Brightness), 450 nits(Typical Brightness), Eye Comfort Shield
1213                                                                                                                  HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit colours, 400 nits(Peak Brightness), Blue Light Filters
1086                                                                                                   FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit colours, 1300 nits(High Brightness), 1300 nits(Typical Brightness)
412                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 95% DCI-P3, 600 nits(Peak Brightness), Eye Comfort Shield
1121                                                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit colours, 425 nits(Peak Brightness)
406                                                                                 HD+, 720 x  1570 pixels, 19.5:9 (256 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1125 nits(Peak Brightness), 700 nits(High Brightness)
1261                                                                             1.5K, 1236 x  2750 pixels, 20:9 (446 ppi), 10-bit 68 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), TUV Rheinland certification
1166                                                  QHD+, 2200 x  2480 pixels, 4:3.55 (412 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
398                                                               HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% DCI-P3, 1000 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
953                                                                                                            FHD+, 1080 x  2340 pixels, 20:9 (262 ppi), 8-bit colours, 100% DCI-P3, 800 nits(High Brightness), DC Dimming
1099                                                          1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
1085                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (413 ppi), 10-bit colours, 1300 nits(Peak Brightness), 6000000:1 Contrast Ratio
597             1.5K, 1272 x  2800 pixels, (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
1141                                                             FHD+, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2800 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
279                                                                                        1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2000 nits(High Brightness), Blue Light Filters
Name: display_res, dtype: object

In [477]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [478]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [479]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [480]:
df.loc[[1055,1058],'display_ppi'] = 397

In [481]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [482]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [483]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [484]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [485]:
df['display_ppi'].count()

np.int64(1268)

In [486]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [487]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(46)
memory usage: 699.8+ KB

In [488]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [489]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [490]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [491]:
df['color_depth'] = df['color_depth'].fillna(8)

In [492]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [493]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [494]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [495]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [496]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [497]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(46)
memory usage: 719.6+ KB

In [498]:
df['display_res'].sample(20)

1057                                                                                                                          FHD+, 1080 x  2640 pixels, (426 ppi), 8-bit colours, 100% DCI-P3, 2600 nits(Peak Brightness)
236                                                                       HD+, 720 x  1612 pixels, 20:9 (263 ppi), 8-bit colours, 65% DCI-P3, 1000 nits(High Brightness), 800 nits(Typical Brightness), Blue Light Filters
588       FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
1195                                                                                                                 HD, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16 Million Colours, 83% NTSC, 840 nits(Peak Brightness)
57                                                                                                                        FHD+, 1080 x  2448 pixels, 20:9 (395 ppi), 10-bit 16 Million Colours, 1500 nits(Peak Brightness)
962                                                                  FHD+, 1080 x  2340 pixels, 19.5:9 (387 ppi), 10-bit colours, 100% DCI-P3, 600 nits(Peak Brightness), 400 nits(Typical Brightness), Eye Comfort Shield
460                                                                                          FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 1200 nits(Peak Brightness), 600 nits(High Brightness)
252                                                                                                  FHD+, 2400 x  1080 pixels, 20:9 (391 ppi), 8-bit 16.7 Million Colours, 1050 nits(Peak Brightness), Blue Light Filters
975                                                                                                      HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit colours, 83% DCI-P3, 800 nits(High Brightness), Eye Comfort Shield
1064                                                                                                                                 QXGA+, 1968 x  2184 pixels, (386 ppi), 16 Million Colours, 2600 nits(High Brightness)
598            1.5K, 1272 x  2800 pixels, (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
482                        FHD, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 95% DCI-P3, 800 nits(Peak Brightness), 600 nits(High Brightness), 430 nits(Typical Brightness), SGS Display Certification
524                                                                                                       FHD+, 1080 x  2400 pixels, 20:9 (396 ppi), 8-bit colours, 550 nits(Peak Brightness), TUV Rheinland certification
178                                                                 FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit 1 Billion Colours, 1300 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
910                                                            FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 800 nits(High Brightness), Blue Light Filters, 1000000:1 Contrast Ratio
22        FHD+, 1290 x  2796 pixels, 19.5:9 (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
321     FHD+, 1084 x  2392 pixels, 19.5:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1300 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
1170                                                            FHD+, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
391                                                                                                            HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 720 nits(Peak Brightness)
1211                                                                                                 FHD+, 1080 x  2400 pixels, 20:9 (394 ppi), 8-bit colours, 100% DCI-P3, 1800 nits(High Brightness), Blue Light Filters
Name: display_res, dtype: object

In [499]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [500]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [501]:
df['helper'] = pd.to_numeric(df['helper'])

In [502]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [503]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [504]:
df.drop(columns='helper',inplace=True)

In [505]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(46)
memory usage: 729.6+ KB

In [506]:
df['body_dimension'].sample(20)

38         147.6 x 71.6 x 7.8 mm
287     162.15 x 74.78 x 8.29 mm
389        165.8 x 76.1 x 7.7 mm
673         162 x 75.1 x 8.65 mm
858          161.1 x 75 x 7.6 mm
322       163.5 x 77.5 x 8.35 mm
17         160.9 x 77.8 x 7.8 mm
915        165.4 x 76.9 x 8.4 mm
117          164.7 x 76.9 x 8 mm
666      165.7 x 76.22 x 7.94 mm
574     161.47 x 74.02 x 8.75 mm
1003         164.7 x 77 x 7.4 mm
759     161.34 x 73.91 x 8.21 mm
936        162.2 x 77.5 x 7.4 mm
1036         162.3 x 79 x 8.6 mm
1117    163.29 x 76.72 x 7.39 mm
246      162.7 x 74.64 x 8.03 mm
50        149.6 x 71.5 x 7.95 mm
234          163.5 x 74.5 x 8 mm
8          160.7 x 77.6 x 7.9 mm
Name: body_dimension, dtype: object

In [507]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [508]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [509]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [510]:
df['height_mm'].isnull().sum()

np.int64(0)

In [511]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [512]:
df['width_mm'].isnull().sum()

np.int64(0)

In [513]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [514]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [515]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [516]:
df['thickness_mm'].sample(20)

1153    7.49
197     8.09
198      8.4
642        8
952      9.3
377     8.17
160     8.14
903      9.1
1263     8.2
939      7.6
311     8.55
817     9.09
416      7.5
605     7.66
1186    8.28
159     8.13
202      8.3
944        8
744     7.84
914      7.5
Name: thickness_mm, dtype: object

In [517]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [518]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [519]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [520]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [521]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [522]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 80 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(46)
memory usage: 759.3+ KB

In [523]:
df['weight'].sample(20)

223       190 grams
187       199 grams
282     180.1 grams
704       181 grams
296       177 grams
859     174.5 grams
1137      188 grams
950       217 grams
456       194 grams
635       186 grams
1061      239 grams
353     198.5 grams
871       205 grams
1041      190 grams
373       186 grams
884       189 grams
654       192 grams
375       191 grams
869       190 grams
488       192 grams
Name: weight, dtype: object

In [524]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [525]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [526]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [527]:
df['body_front'].sample(20)

576                      Glass
873     Gorilla Glass Victus 2
780              Gorilla Glass
866       Gorilla Glass Victus
812                      Glass
296                Panda Glass
596           Gorilla Glass 7i
316           Gorilla Glass 7i
817                      Glass
1154                     Glass
679               Armour Glass
952                      Glass
1125                     Glass
440           Gorilla Glass 7i
619                Panda Glass
1217                     Glass
283           Gorilla Glass 7i
1019                     Glass
132                      Glass
631          Dragontrail Glass
Name: body_front, dtype: object

In [528]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [529]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [530]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [531]:
df['front_potection'] = df['front_potection'].astype('category')

In [532]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 771.1+ KB

In [533]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [534]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [535]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [536]:
df['back_material'] = df['back_material'].astype('category')

In [537]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [538]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [539]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [540]:
df['frame_material'] = df['frame_material'].astype('category')

In [541]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 774.2+ KB

In [542]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [543]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [544]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [545]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 85 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 775.6+ KB

In [546]:
df['ports'].sample(20)

1192             USB Type-C, 3.5mm Headphone Jack
707     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1215             USB Type-C, 3.5mm Headphone Jack
1110                          USB Type-C 2.0, OTG
1151                              USB Type-C, OTG
324                           USB Type-C 3.1, OTG
1058                    USB Type-C 3.2 Gen 1, OTG
516          USB Type-C 2.0, 3.5mm Headphone Jack
1222    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
136          USB Type-C 2.0, 3.5mm Headphone Jack
1002                          USB Type-C 2.0, OTG
1090    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
609                                USB Type-C 2.0
362                 USB Type-C 2.0, Infrared Port
420                           USB Type-C 2.0, OTG
1140                          USB Type-C 2.0, OTG
763                                USB Type-C 2.0
823          USB Type-C 2.0, 3.5mm Headphone Jack
715          USB Type-C 2.0, 3.5mm Headphone Jack
1131                          USB Type-C 2.0, OTG
Name: ports, dtype: object

In [547]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [548]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [549]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [550]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [551]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [552]:
df['ports'].sample(20)

1264    USB Type-C 3.2 Gen 2, Display Port 1.2, Infrared Port
689                                       USB Type-C 2.0, OTG
23                     USB Type-C 3.2 Gen 2, Display Port 1.2
309                                       USB Type-C 2.0, OTG
182                                       USB Type-C 2.0, OTG
1065                                USB Type-C 3.1 Gen 1, OTG
119                      USB Type-C 2.0, 3.5mm Headphone Jack
1041                                      USB Type-C 3.2, OTG
1035                         USB Type-C 3.2, Display Port 1.4
302                                       USB Type-C 2.0, OTG
406                      USB Type-C 2.0, 3.5mm Headphone Jack
91                                        USB Type-C 2.0, OTG
726                          USB Type-C, 3.5mm Headphone Jack
698                                       USB Type-C 2.0, OTG
343                        USB Type-C 3.2, Infrared Port, OTG
833                          USB Type-C, 3.5mm Headphone Jack
86                                        USB Type-C 2.0, OTG
194                                           USB Type-C, OTG
1020                         USB Type-C 3.2, Display Port 1.2
366                 USB Type-C 2.0, 3.5mm Headphone Jack, OTG
Name: ports, dtype: object

In [553]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [554]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [555]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [556]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [557]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [558]:
df['ports'].sample(20)

20                   USB Type-C 3.2, Display Port
90                            USB Type-C 2.0, OTG
820            microUSB 2.0, 3.5mm Headphone Jack
403         USB Type-C, 3.5mm Headphone Jack, OTG
963                           USB Type-C 2.0, OTG
303                           USB Type-C 2.0, OTG
708       microUSB 2.0, OTG, 3.5mm Headphone Jack
730                               USB Type-C, OTG
234     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
711                           USB Type-C 2.0, OTG
745              USB Type-C, 3.5mm Headphone Jack
923                           USB Type-C 2.0, OTG
242          USB Type-C 2.0, 3.5mm Headphone Jack
616         USB Type-C, 3.5mm Headphone Jack, OTG
463            USB Type-C 2.0, Infrared Port, OTG
489            microUSB 2.0, 3.5mm Headphone Jack
765                                    USB Type-C
1148                          USB Type-C 2.0, OTG
419                           USB Type-C 2.0, OTG
436                           USB Type-C 2.0, OTG
Name: ports, dtype: object

In [559]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [560]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [561]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [562]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 90 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(46)
memory usage: 816.6+ KB

In [563]:
df['ip_rating'].sample(20)

730          IP69 (Dust and Water Resistant)
1157      IP68/69 (Dust and Water Resistant)
929          IP67 (Dust and Water Resistant)
709                                      NaN
11           IP68 (Dust and Water Resistant)
1026         IP68 (Dust and Water Resistant)
663          IP54 (Dust and Water Resistant)
744          IP54 (Dust and Water Resistant)
212                                      NaN
161     IP68/IP69 (Dust and Water Resistant)
1165      IP68/69 (Dust and Water Resistant)
820                                      NaN
1242    IP68/IP69 (Dust and Water Resistant)
780       IP65/66 (Dust and Water Resistant)
1257                                     NaN
263          IP68 (Dust and Water Resistant)
1254        IP53 (Dust and Splash Resistant)
286     IP68/IP69 (Dust and Water Resistant)
231                   Water Repellent Design
572          IP65 (Dust and Water Resistant)
Name: ip_rating, dtype: object

In [564]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [565]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [566]:
df['water_resistance_level'].count()

np.int64(1268)

In [567]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 91 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(46)
memory usage: 818.0+ KB

In [568]:
df['speaker'].sample(30)

563     Hi-Res Audio, Stereo Speakers (Dolby Atmos Certified)
711                                           Stereo Speakers
354                                           Stereo Speakers
188                                           Stereo Speakers
1201                                          Stereo Speakers
831                                              Mono Speaker
109                                           Stereo Speakers
1141                                             Mono Speaker
1184                                          Stereo Speakers
7                                             Stereo Speakers
1253                                          Stereo Speakers
744                                              Mono Speaker
102                                               Loudspeaker
915                                              Mono Speaker
226                                           Stereo Speakers
979                                              Mono Speaker
253                                           Stereo Speakers
844                             Hi-Res Audio, Stereo Speakers
277                                           Stereo Speakers
466                                           Stereo Speakers
413                                           Stereo Speakers
830                                              Mono Speaker
322                                           Stereo Speakers
504        Hi-Res Audio (wired and wireless), Stereo Speakers
1029                                          Stereo Speakers
475                                                       NaN
1070                                              Loudspeaker
1053                                          Stereo Speakers
585                             Stereo Speakers, Hi-Res Audio
600                                           Stereo Speakers
Name: speaker, dtype: object

In [569]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [570]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [571]:
df['speaker'].sample(20)

1156                                Stereo Speakers
1105                                   Mono Speaker
1068                                   Quad Speaker
1022                                Stereo Speakers
1017                                Stereo Speakers
343                                 Stereo Speakers
894                                    Mono Speaker
110                                 Stereo Speakers
885                                 Stereo Speakers
840                                 Stereo Speakers
1233                                Stereo Speakers
755                                 Stereo Speakers
389                                     Loudspeaker
826                                    Mono Speaker
665                                     Loudspeaker
1144                                   Mono Speaker
337     24-bit/192kHz Hi-Res Audio, Stereo Speakers
265                                 Stereo Speakers
741                                     Loudspeaker
1168                                Stereo Speakers
Name: speaker, dtype: object

In [572]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [573]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [574]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 93 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
 91  has_stereo_speakers          1268 non-null   int64
 92  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(46)
memory usage: 837.8+ KB

In [575]:
df['chipset'].sample(20)

357         MediaTek Dimensity 9000 (4 nm), 1045272 Antutu Score
1146     Qualcomm Snapdragon 6 Gen 1 (4 nm), 554764 Antutu Score
1249          MediaTek Dimensity 700 (7 nm), 388228 Antutu Score
1070              Samsung Exynos 850 (8 nm), 187573 Antutu Score
390          MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
844          Qualcomm Snapdragon 680 (6 nm), 310236 Antutu Score
1054    Qualcomm Snapdragon 8 Gen 3 (4 nm), 2020386 Antutu Score
184     Qualcomm Snapdragon 8 Gen 2 (4 nm), 1546735 Antutu Score
147          MediaTek Dimensity 8020 (6 nm), 739422 Antutu Score
707               Unisoc Tiger T612 (12 nm), 244837 Antutu Score
1225         MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
1216             MediaTek Helio G85 (12 nm), 264823 Antutu Score
806              MediaTek Helio G85 (12 nm), 264823 Antutu Score
1230     Qualcomm Snapdragon 4 Gen 2 (4 nm), 427408 Antutu Score
351     Qualcomm Snapdragon 8 Gen 5 (3 nm), 2886527 Antutu Score
909          MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
573      Qualcomm Snapdragon 6 Gen 1 (4 nm), 554764 Antutu Score
732          MediaTek Dimensity 7400 (4 nm), 777255 Antutu Score
800              MediaTek Helio G85 (12 nm), 264823 Antutu Score
522     MediaTek Dimensity 6100 Plus (6 nm), 393210 Antutu Score
Name: chipset, dtype: object

In [576]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [577]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [578]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [579]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [580]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [581]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand            chipset_brand
213         qualcomm           snapdragon 695
612         mediatek
395         mediatek           dimensity 6300
972         mediatek                helio p35
666         mediatek           dimensity 6300
714         mediatek      dimensity 6100 plus
832           unisoc                    t7250
646           unisoc               tiger t612
321         qualcomm      snapdragon 7s gen 3
677         qualcomm  snapdragon 7 plus gen 3
827           unisoc                     t603
123         mediatek           dimensity 6080
441         mediatek           dimensity 9500
1195        mediatek                helio g85
274         mediatek           dimensity 8020
774         mediatek           dimensity 6400
1075        qualcomm           snapdragon 680
414         mediatek           dimensity 6020
763         qualcomm       snapdragon 6 gen 4
1231        qualcomm       snapdragon 4 gen 2

In [582]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
 91  has_stereo_speakers          1268 non-null   int64
 92  has_audio_certification      1268 non-null   int64
 93  processor_brand              1268 non-null   category
 94  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(47)
memory usage: 849.2+ KB

In [613]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [615]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [616]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [619]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [585]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [606]:
df['chipset_brand'].sample(20)

613
889                         helio p35
71                          tensor g3
180           snapdragon 8 plus gen 1
1092                   dimensity 7200
36                            a18 pro
1044    snapdragon 8 elite for galaxy
105                     dimensity 810
1206                   dimensity 6300
957                       exynos 1330
17                         a16 bionic
127                    dimensity 7020
172               snapdragon 8s gen 4
372                snapdragon 7 gen 3
15                         a16 bionic
738                    dimensity 6300
47                            a19 pro
232                         helio g37
849                snapdragon 4 gen 1
642                        tiger t612
Name: chipset_brand, dtype: object

In [607]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [608]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [627]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [628]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [638]:
df['antutu_score'].sample(20)

397      452218.0
492      264823.0
335     1299948.0
281      708706.0
486      136643.0
313      774686.0
195      679810.0
81      1323184.0
571      554764.0
329     1299948.0
273      526856.0
1164          NaN
581      450000.0
805      393210.0
699      421890.0
141      210000.0
925      595101.0
355      786855.0
764      512465.0
634      118739.0
Name: antutu_score, dtype: float64

In [633]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [630]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
 91  has_stereo_speakers          1268 non-null   int64
 92  has_audio_certification      1268 non-null   int64
 93  processor_brand              1268 non-null   category
 94  chipset_brand                1266 non-null   object
 95  chipset_nm                   1258 non-null   float64
 96  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(47)
memory usage: 869.0+ KB