<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [385]:
import pandas as pd
import numpy as np
import re

In [386]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [387]:
df = pd.read_csv('/content/24_jan_smartphones_columns_for_ml.csv')

In [388]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link,main_cam4,front_cam2
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN

In [389]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
dtypes: float64(1), int64(2), object(56)
memory usage: 584.6+ KB

In [390]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [391]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [392]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [393]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [394]:
df['brand'].count()

np.int64(1268)

In [395]:
df['brand'] = df['brand'].astype('category')

In [396]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [397]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [398]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [399]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [400]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [401]:
df['rating_count'] = df['rating_count'].astype('float64')

In [402]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
 59  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(55)
memory usage: 586.5+ KB

In [403]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [404]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [405]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [406]:
df.drop(columns='market_status',inplace=True)

In [407]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [408]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [409]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [410]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(53)
memory usage: 586.5+ KB

In [411]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [412]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [413]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [414]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [415]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [416]:
df['old_price'] = df['old_price'].str.replace(',','')

In [417]:
df['old_price'] = df['old_price'].astype('float')

In [418]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(52)
memory usage: 586.5+ KB

In [419]:
df['price'] = df['price'].str.replace('₹','')

In [420]:
df['price'] = df['price'].str.replace(',','')

In [421]:
df['price'] = df['price'].astype('int')

In [422]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(51)
memory usage: 586.5+ KB

In [423]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [424]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(50)
memory usage: 586.5+ KB

In [425]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [426]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [427]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [428]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [429]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [430]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [431]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [432]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(47)
memory usage: 586.5+ KB

In [433]:
df['display_type'].sample(10)

209              Ultra AMOLED, 90 Hz Refresh Rate, HDR10+, 1200 Hz Touch Sampling Rate
1082                      IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
977                                                   PLS LCD, 90 Hz Refresh Rate, SDR
451                       AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
510                       IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
279                    p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
921                 Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
163     E5 AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 300 Hz Touch Sampling Rate
618      Ultra Smooth Display LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1134                                               AMOLED, 120 Hz Refresh Rate, HDR10+
Name: display_type, dtype: object

In [434]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [435]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [436]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [437]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [438]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [439]:
df['display_type'].sample(10)

828                      Dot IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1245                                                     IPS LCD, 60 Hz Refresh Rate, SDR
700     Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
531                         IPS LCD, 144 Hz Refresh Rate, SDR, 288 Hz Touch Sampling Rate
382     Fluid AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
629     Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
329                 Fluid AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
873                 AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
638                          IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
868                       AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [440]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [441]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [442]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [443]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,NaN,NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [444]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [445]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [446]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [447]:
df['display_hz'].dtypes

dtype('int64')

In [448]:
df['display_type'].sample(20)

972                                                                   PLS LCD, 60 Hz Refresh Rate, SDR
1215                                                                      LCD, 60 Hz Refresh Rate, SDR
312                                    AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
210                              Ultra AMOLED, 90 Hz Refresh Rate, HDR10+, 1200 Hz Touch Sampling Rate
1200                                                                      LCD, 90 Hz Refresh Rate, SDR
601                                      IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
692                                                                AMOLED, 120 Hz Refresh Rate, HDR10+
954                                  Super AMOLED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
495                                      IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1119                                  IPS LCD, 120 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
1166                                                   AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
1030                        Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, 120 Hz Touch Sampling Rate
354                                 E4 AMOLED, 120 Hz Refresh Rate, HDR10+, 600 Hz Touch Sampling Rate
971                                                                   PLS LCD, 60 Hz Refresh Rate, SDR
814                                  Dot IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
649                                       IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1145    AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate, Anti Reflection Coating
130        AMOLED, 144 Hz Refresh Rate, LTPO, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
12                                      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
542                         Flow AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [449]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [450]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [451]:
df['display_dynamic_range'].count()

np.int64(1268)

In [452]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

927                                Super AMOLED, 120 Hz Refresh Rate, SDR
1146         AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
400          IPS LCD, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
769            OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
953     Super AMOLED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
129          AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
905                                      IPS LCD, 90 Hz Refresh Rate, SDR
761            OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1091         AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
418                      Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR
247         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
253                                     IPS LCD, 120 Hz Refresh Rate, SDR
887                                     TFT LCD, 120 Hz Refresh Rate, SDR
615         IPS LCD, 144 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
228                                                          IPS LCD, SDR
390             LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
908      Super AMOLED, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
747          IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1221                                         LCD, 90 Hz Refresh Rate, SDR
812         IPS LCD, 144 Hz Refresh Rate, SDR, 288 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [453]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [454]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
 60  display_panel_type     1268 non-null   object
 61  display_panel_family   1268 non-null   category
 62  display_hz             1268 non-null   int64
 63  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(48)
memory usage: 609.2+ KB

In [455]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

860                                                  Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
414                                                        IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
464                                               AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
470                                                     AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
612                                                             AMOLED, 120 Hz Refresh Rate, 240 Hz Touch Sampling Rate
603                                                     AMOLED, 144 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
465                                                     AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
753                                                  Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
198                                                         AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
226                                                       IPS LCD, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
416                                                         AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
967                                                  Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
270                                                     p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
495                                                       IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1146                                                       AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1045    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate, Anti Reflection Coating
681                                      E6 AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
631                                                        IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
680                                                  AMOLED, 120 Hz Refresh Rate, LTPO, HDR, 360 Hz Touch Sampling Rate
1214                                                       IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [456]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [457]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [458]:
df['display_type'].sample(20)

1089                                                                                IPS LCD, 60 Hz Refresh Rate, SDR
796                                                     IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1081                                                    IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
978                                                                                 PLS LCD, 90 Hz Refresh Rate, SDR
633                                                     IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
1263    Dynamic AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate, Anti Reflection Coating
991                                                                            Super AMOLED, 90 Hz Refresh Rate, SDR
484                                                                                 IPS LCD, 60 Hz Refresh Rate, SDR
254                                                                                IPS LCD, 120 Hz Refresh Rate, SDR
860                                               Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
618                                    Ultra Smooth Display LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
474                                                    OLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
716                                                    AMOLED, 120 Hz Refresh Rate, SDR, 2200 Hz Touch Sampling Rate
213                                                Ultra AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
472                                                  AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
572                                           ProXDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
380                                                                                 IPS LCD, 60 Hz Refresh Rate, SDR
803                                                                             Dot IPS LCD, 90 Hz Refresh Rate, SDR
1236                                                                               IPS LCD, 120 Hz Refresh Rate, SDR
621                                    Ultra Smooth Display LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [459]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [460]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [461]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [462]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [463]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [464]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [465]:
df['display_type'].sample(20)

921                                                  Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
227                                                       IPS LCD, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
516                                                        IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
616                                                   Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
386                                                         IPS LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
1191                                                                                   IPS LCD, 60 Hz Refresh Rate, SDR
1118                                                   IPS LCD, 120 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
914                                                                               Super AMOLED, 90 Hz Refresh Rate, SDR
637                                                        IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
991                                                                               Super AMOLED, 90 Hz Refresh Rate, SDR
1222                                                                                       LCD, 90 Hz Refresh Rate, SDR
1046    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate, Anti Reflection Coating
1244                                                 U8 AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
484                                                                                    IPS LCD, 60 Hz Refresh Rate, SDR
268                                                       OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
827                                                    Dot IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
465                                                     AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1141                                                    AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
536                                                    Dot AMOLED, 120 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
870                                               AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [466]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(48)
memory usage: 638.9+ KB

In [467]:
df['display_size'].sample(20)

1004                         6.7 inches, 110.2 cm², 86.4% Screen To Body Ratio
587               6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
745                         6.74 inches, 109.7 cm², 90.3% Screen To Body Ratio
498                           6.88 inches, 112.4 cm², 84% Screen To Body Ratio
1249                        6.58 inches, 104.3 cm², 83.8% Screen To Body Ratio
109                         6.78 inches, 109.2 cm², 90.6% Screen To Body Ratio
1165    6.77 inches Quad Curved Display, 110.9 cm², 88.1% Screen To Body Ratio
1117                                6.77 inches Quad Curved Display, 110.9 cm²
794                         6.58 inches, 104.3 cm², 83.6% Screen To Body Ratio
992                          6.6 inches, 104.9 cm², 82.5% Screen To Body Ratio
505                        6.67 inches, 107.4 cm², 94.27% Screen To Body Ratio
655                        6.67 inches, 107.2 cm², 89.97% Screen To Body Ratio
423                                         6.7 inches Curved Display, 108 cm²
1198                        6.56 inches, 103.4 cm², 83.6% Screen To Body Ratio
770     6.83 inches Quad Curved Display, 113.3 cm², 93.8% Screen To Body Ratio
953                          6.7 inches, 108.4 cm², 83.6% Screen To Body Ratio
75                            6.1 inches, 90.3 cm², 81.3% Screen To Body Ratio
235                        6.56 inches, 103.4 cm², 84.97% Screen To Body Ratio
351                         6.83 inches, 113.3 cm², 90.1% Screen To Body Ratio
936                         6.69 inches, 110.2 cm², 87.7% Screen To Body Ratio
Name: display_size, dtype: object

In [468]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [469]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [470]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,NaN,NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [471]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [472]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [473]:
df['display_inches'].count()

np.int64(1268)

In [474]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [475]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(48)
memory usage: 648.8+ KB

In [476]:
df['display_size'].sample(20)

622                 6.6 inches Curved Display, 104.8 cm², 90.8% Screen To Body Ratio
143                                6.6 inches, 104.6 cm², 90.8% Screen To Body Ratio
1106    6.74 inches, 109.7 cm², 85.1% Screen To Body Ratio, 85.1 inches rear display
669                                         6.67 inches, 89.97% Screen To Body Ratio
1001                                6.65 inches, 110.2 cm², 86% Screen To Body Ratio
744                               6.74 inches, 109.7 cm², 90.3% Screen To Body Ratio
198                              6.44 inches, 100.1 cm², 91.01% Screen To Body Ratio
509                               6.83 inches, 114.5 cm², 90.2% Screen To Body Ratio
652                               6.74 inches, 102.1 cm², 90.3% Screen To Body Ratio
1208                 6.78 inches Curved Display, 111 cm², 90.1% Screen To Body Ratio
811                                 6.88 inches, 112.4 cm², 84% Screen To Body Ratio
431                                            6.57 inches, 93% Screen To Body Ratio
254                                  6.5 inches, 102 cm², 89.7% Screen To Body Ratio
1251                              6.67 inches, 107.4 cm², 86.1% Screen To Body Ratio
548                               6.67 inches, 107.4 cm², 94.2% Screen To Body Ratio
886                                6.6 inches, 104.9 cm², 82.5% Screen To Body Ratio
515                                6.43 inches, 99.8 cm², 84.5% Screen To Body Ratio
773                               6.72 inches, 106.8 cm², 91.4% Screen To Body Ratio
325                   6.7 inches Curved Display, 108.4 cm², 90% Screen To Body Ratio
1244               6.77 inches Curved Display, 110.9 cm², 90.2% Screen To Body Ratio
Name: display_size, dtype: object

In [477]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [478]:
df['display_body_ratio'].count()

np.int64(1036)

In [479]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [480]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [481]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [482]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(48)
memory usage: 658.8+ KB

In [483]:
df['display_size'].sample(20)

1215                  6.55 inches, 103.1 cm², 89.67% Screen To Body Ratio
147       6.78 inches Curved Display, 111 cm², 92.7% Screen To Body Ratio
1022                                 6.8 inches Curved Display, 114.7 cm²
13                         6.1 inches, 90.2 cm², 86% Screen To Body Ratio
1148                                  6.78 inches Curved Display, 111 cm²
635                       6.5 inches, 102 cm², 88.7% Screen To Body Ratio
413                    6.56 inches, 103.4 cm², 89.8% Screen To Body Ratio
957                                                            6.7 inches
196                    6.72 inches, 108.8 cm², 86.2% Screen To Body Ratio
421                                                6.67 inches, 107.4 cm²
90      6.78 inches Curved Display, 112.6 cm², 90.2% Screen To Body Ratio
20                       6.1 inches, 91.3 cm², 88.3% Screen To Body Ratio
1120                     6.72 inches, 109.4 cm², 86% Screen To Body Ratio
754          6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
554                      6.4 inches, 98.9 cm², 90.8% Screen To Body Ratio
389                    6.67 inches, 107.2 cm², 89.9% Screen To Body Ratio
633                       6.5 inches, 102 cm², 88.7% Screen To Body Ratio
670                      6.8 inches, 113 cm², 90.04% Screen To Body Ratio
395                    6.67 inches, 107.2 cm², 89.9% Screen To Body Ratio
431                                 6.57 inches, 93% Screen To Body Ratio
Name: display_size, dtype: object

In [484]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [485]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [486]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [487]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [488]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(48)
memory usage: 668.7+ KB

In [489]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [490]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [491]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 71 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 678.6+ KB

In [492]:
df['display_res'].sample(20)

674                    1.5K, 1264 x  2780 pixels, 20:9 (450 ppi), 10-bit colours, 100% DCI-P3, 6000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 5000000:1 Contrast Ratio
119                                                                                                          FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)
369                                       FHD+, 1080 x  2400 pixels, 20:9 (391 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 680 nits(High Brightness), 680 nits(Typical Brightness), SGS Display Certification
705                                                                                                           FHD+, 1080 x  2412 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 480 nits(Peak Brightness)
657                                                                        HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 560 nits(High Brightness), 450 nits(Typical Brightness), Eye Comfort Shield
97                        1.5K, 1224 x  2720 pixels, (440 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 700 nits(Typical Brightness), TUV Rheinland certification
966                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness), Eye Comfort Shield
1209                                                                     FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 1 Billion Colours, 100% DCI-P3, 800 nits(Peak Brightness), SGS Display Certification
847                 FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1000 nits(Peak Brightness), 700 nits(Typical Brightness), Eye Comfort Shield, 4500000:1 Contrast Ratio
337               QHD+, 1440 x  3168 pixels, 19.8:9 (510 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 600 nits(Typical Brightness), Blue Light Filters
395                                                                              HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(Peak Brightness), Blue Light Filters
420                                                   FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 1100 nits(Peak Brightness), 900 nits(High Brightness), 500 nits(Typical Brightness)
1157                                                                 FHD+, 1080 x  2392 pixels, 20.9 (388 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), PWM Dimming, 5000000:1 Contrast Ratio
790                              HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 70% NTSC, 400 nits(Peak Brightness), 400 nits(Typical Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
864                                       FHD+, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
38       FHD+, 1179 x  2556 pixels, 19.5:9 (460 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
670                             HD+, 720 x  1570 pixels, 19.5:9 (256 ppi), 8-bit 16.7 Million Colours, 83% DCI-P3, 1200 nits(Peak Brightness), 975 nits(Typical Brightness), DC Dimming, 1500:1 Contrast Ratio
990                                                                                                          FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1100 nits(Peak Brightness)
1238                                                                                                                      FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 10-bit colours, 550 nits(High Brightness)
43      1.5K, 1206 x  2622 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
Name: display_res, dtype: object

In [493]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [494]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [495]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [496]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [497]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [498]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [499]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [500]:
df['res_category'] = df['res_category'].astype('category')

In [501]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [502]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 680.0+ KB

In [503]:
df['display_res'].sample(20)

968                                                                                                                               FHD+, 1080 x  2340 pixels, 19.5:9 (382 ppi), 8-bit colours, 1200 nits(High Brightness)
1252                                                                           FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 1200 nits(Peak Brightness), SGS Display Certification, 4500000:1 Contrast Ratio
846                                                     FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1000 nits(Peak Brightness), 700 nits(Typical Brightness), Eye Comfort Shield
918                                                                FHD+, 1080 x  2340 pixels, 19.5:9 (396 ppi), 10-bit 16 Million Colours, 1000 nits(High Brightness), 1000 nits(Typical Brightness), Eye Comfort Shield
1249                                                                                                             FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 550 nits(Peak Brightness), Blue Light Filters
347                                                                1.5K, 1216 x  2640 pixels, 19.5:9 (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1600 nits(High Brightness), PWM Dimming, 5000000:1 Contrast Ratio
204                                                                                                                                                FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours
720                  FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), 6000000:1 Contrast Ratio
618                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (400 ppi), 8-bit colours, 600 nits(High Brightness), 480 nits(Typical Brightness)
640                                                           FHD, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 600 nits(High Brightness), 480 nits(Typical Brightness), TUV Rheinland certification
717       FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 16.7 Million Colours, 106% NTSC, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
741                                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (390 ppi), 8-bit 16.7 Million Colours, 560 nits(Peak Brightness)
24      QHD+, 1290 x  2796 pixels, 19.5:9 (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
796                                                                                                                                  FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 8-bit colours, 550 nits(Peak Brightness)
35                QHD+, 1320 x  2868 pixels, 19.5:9 (460 ppi), 12-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
394                                                                                                  HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit colours, 83% NTSC, 1000 nits(Peak Brightness), 1500:1 Contrast Ratio
274                                                                                                                                 FHD+, 1080 x  2400 pixels, 20:9 (402 ppi), 8-bit colours, 1200 nits(Peak Brightness)
1187                                                                                                                                          HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit colours, Blue Light Filters
474                                                           FHD+, 1256 x  2760 pixels, 20:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), 600 nits(Typical Brightness), PWM Dimming
803                                                                         HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(High Brightness), 450 nits(Typical Brightness), TUV Rheinland certification
Name: display_res, dtype: object

In [504]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [505]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [506]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [507]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [508]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [509]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [510]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [511]:
df['res_width'].count()

np.int64(1268)

In [512]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [513]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(49)
memory usage: 699.8+ KB

In [514]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [515]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [516]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [517]:
df.loc[[1055,1058],'res_height'] = 2520

In [518]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [519]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [520]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
 74  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(49)
memory usage: 709.7+ KB

In [521]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [522]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(48)
memory usage: 699.8+ KB

In [523]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [524]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [525]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [526]:
df['x'].sample(20)

436       21
1127      20
939       20
769     19.5
1041    19.5
676       20
1180      20
563       20
886       20
0       19.5
1141      20
960     19.5
983       20
172       20
490       20
1025    19.5
1001    19.5
901       20
781       20
702       20
Name: x, dtype: object

In [527]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [528]:
df['y'].sample(20)

146       9
915       9
1076      9
1005      9
325       9
484       9
873       9
354       9
378       9
760       9
1040      9
828       9
429       9
391       9
983       9
318     NaN
461     NaN
1176      9
283       9
476       9
Name: y, dtype: object

In [529]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [530]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [531]:
df['aspect_ration_numeric'].sample(20)

28      2.166667
942     2.222222
863     2.222222
662     2.222222
604          NaN
796     2.222222
110     2.222222
468     2.222222
585     2.222222
913     2.166667
931     2.166667
436     2.333333
963     2.166667
871     2.222222
577     2.222222
633     2.222222
1042    2.166667
1129    2.200000
723     2.222222
355     2.222222
Name: aspect_ration_numeric, dtype: float64

In [532]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [533]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  helper                       1266 non-null   object
 75  aspect_ration_numeric        1185 non-null   float64
 76  x                            1185 non-null   float64
 77  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(49)
memory usage: 739.5+ KB

In [534]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [535]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(48)
memory usage: 709.7+ KB

In [536]:
df['display_res'].sample(20)

323                      FHD+, 1084 x  2392 pixels, 20:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1300 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
38      FHD+, 1179 x  2556 pixels, 19.5:9 (460 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
1043                                                                      QHD+, 1440 x  3120 pixels, 19.3:9 (513 ppi), 10-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), Eye Comfort Shield
266                                                                                               FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 500 nits(Peak Brightness)
1100                                                                          FHD+, 1080 x  2408 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(Peak Brightness), Blue Light Filters
973                                                                                                              HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours, 400 nits(High Brightness)
1176                                 1.5K, 1216 x  2640 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
763                                     FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 85% DCI-P3, 2000 nits(Peak Brightness), 600 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
640                                                FHD, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 600 nits(High Brightness), 480 nits(Typical Brightness), TUV Rheinland certification
283                                              1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
617                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (411 ppi), 8-bit colours, 1000 nits(High Brightness), 430 nits(Typical Brightness)
1219                                                                                           HD, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 83% NTSC, 840 nits(Peak Brightness), Blue Light Filters
70                                                                     FHD+, 1080 x  2400 pixels, 20:9 (429 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 1000 nits(Peak Brightness), 1000000:1 Contrast Ratio
961                                                     FHD+, 1080 x  2340 pixels, 19.5:9 (387 ppi), 10-bit colours, 100% DCI-P3, 600 nits(Peak Brightness), 400 nits(Typical Brightness), Eye Comfort Shield
499                                       HD+, 720 x  1600 pixels, 20:9 (254 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 810 nits(High Brightness), 660 nits(Typical Brightness), TUV Rheinland certification
608                                       1.5K, 1280 x  2800 pixels, (452.75 ppi), 10-bit 1.07 Billion Colours, 6500 nits(Peak Brightness), 1800 nits(High Brightness), PWM Dimming, 5000000:1 Contrast Ratio
171          1.5K, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 5500 nits(Peak Brightness), 2000 nits(High Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
201                                                                                             FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 650 nits(Peak Brightness)
225                                                                               FHD+, 1080 x  2408 pixels, 20:9 (393 ppi), 8-bit colours, 83% NTSC, 1000 nits(Peak Brightness), TUV Rheinland certification
808                                                              HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(High Brightness), 450 nits(Typical Brightness), TUV Rheinland certification
Name: display_res, dtype: object

In [537]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [538]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [539]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [540]:
df.loc[[1055,1058],'display_ppi'] = 397

In [541]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [542]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [543]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [544]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [545]:
df['display_ppi'].count()

np.int64(1268)

In [546]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [547]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(48)
memory usage: 719.6+ KB

In [548]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [549]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [550]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [551]:
df['color_depth'] = df['color_depth'].fillna(8)

In [552]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [553]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [554]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [555]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [556]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [557]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(48)
memory usage: 739.5+ KB

In [558]:
df['display_res'].sample(20)

974                                                                                                                                     HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit colours, 800 nits(Peak Brightness)
914                                                                                          FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1100 nits(Peak Brightness), 800 nits(High Brightness)
164                                                     QHD+, 1440 x  3200 pixels, 20:9 (517 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
443                1.5K, 1256 x  2760 pixels, 20:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3600 nits(Peak Brightness), 1800 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification
704                                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (411 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)
367                                                                                                           FHD+, 1080 x  2412 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 600 nits(Peak Brightness)
796                                                                                                                                   FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 8-bit colours, 550 nits(Peak Brightness)
136                                                                                                                         HD, 720 x  1612 pixels, 20:9 (267 ppi), 8-bit 16.7 Million Colours, 500 nits(Peak Brightness)
881                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (411 ppi), 8-bit 1 Billion Colours, 728 nits(Peak Brightness), Eye Comfort Shield
1090                                                                                                                                  FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 650 nits(Peak Brightness)
146                                                                           FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), TUV Rheinland certification
581                                                FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit colours, 83% NTSC, 580 nits(Peak Brightness), 580 nits(Typical Brightness), Blue Light Filters, 1500:1 Contrast Ratio
1185                                                                                         FHD+, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1300 nits(Peak Brightness), PWM Dimming
612     FHD+, 1080 x  2372 pixels, 20:9 (401 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4000 nits(Peak Brightness), 1400 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
665                                                        HD+, 720 x  1600 pixels, 20:9 (264 ppi), 8-bit colours, 83.5% NTSC, 563 nits(Peak Brightness), 450 nits(Typical Brightness), DC Dimming, 1500:1 Contrast Ratio
686                                                   1.5K, 1280 x  2800 pixels, (453 ppi), 10-bit colours, 100% DCI-P3, 1800 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
214                                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (413 ppi), 8-bit 16.7 Million Colours, 1300 nits(Peak Brightness)
90                                                                         FHD, 1220 x  2652 pixels, 19.9:9 (429 ppi), 10-bit 1.07 Billion Colours, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), PWM Dimming
552                    1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68.7 Billion Colours, 100% DCI-P3, 3200 nits(Peak Brightness), 1400 nits(High Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
349                                               1.5K, 1272 x  2772 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 800 nits(High Brightness), TUV Rheinland certification
Name: display_res, dtype: object

In [559]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [560]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [561]:
df['helper'] = pd.to_numeric(df['helper'])

In [562]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [563]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [564]:
df.drop(columns='helper',inplace=True)

In [565]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 79 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(48)
memory usage: 749.4+ KB

In [566]:
df['body_dimension'].sample(20)

699        163.8 x 75.1 x 8.1 mm
542     161.15 x 74.24 x 7.98 mm
556        163.7 x 74.2 x 8.1 mm
774      165.7 x 76.22 x 7.94 mm
244     166.29 x 75.98 x 7.79 mm
58         163.8 x 76.8 x 8.9 mm
795      163.99 x 76.09 x 8.9 mm
962        164.4 x 77.9 x 7.7 mm
626        164.3 x 75.6 x 8.5 mm
529      171.88 x 77.8 x 8.22 mm
875       162.4 x 75.7 x 7.99 mm
249          160.1 x 74.5 x 8 mm
420        161.1 x 74.7 x 7.5 mm
203          164 x 75.8 x 8.3 mm
497      171.88 x 77.8 x 8.22 mm
491        168.4 x 76.3 x 8.3 mm
816     171.56 x 79.47 x 7.99 mm
1131       164.1 x 74.8 x 7.4 mm
38         147.6 x 71.6 x 7.8 mm
134     165.62 x 77.01 x 7.99 mm
Name: body_dimension, dtype: object

In [567]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [568]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [569]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [570]:
df['height_mm'].isnull().sum()

np.int64(0)

In [571]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [572]:
df['width_mm'].isnull().sum()

np.int64(0)

In [573]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [574]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [575]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [576]:
df['thickness_mm'].sample(20)

934      8.2
803      8.1
347      8.2
413     7.99
1199    8.39
455      7.9
1087    7.36
889      9.1
861        8
482     7.67
496     8.26
1198    8.39
555      7.8
1005     7.8
495      8.3
1069     8.8
1221    8.39
634      8.5
518      8.1
198      8.4
Name: thickness_mm, dtype: object

In [577]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [578]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [579]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [580]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [581]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [582]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(48)
memory usage: 779.1+ KB

In [583]:
df['weight'].sample(20)

24        221 grams
937       198 grams
702       194 grams
1132      182 grams
662       190 grams
821       192 grams
301     166.8 grams
979       194 grams
1058      188 grams
1168      206 grams
415       191 grams
578       188 grams
947       194 grams
402       187 grams
361     199.5 grams
787       192 grams
1086      175 grams
453       207 grams
180     194.5 grams
126       190 grams
Name: weight, dtype: object

In [584]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [585]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [586]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [587]:
df['body_front'].sample(20)

37                       Glass
924            Gorilla Glass 5
900                      Glass
1104              Shield Glass
551           Gorilla Glass 7i
1121                     Glass
1236                     Glass
223                      Glass
354                      Glass
102                      Glass
753                      Glass
967                      Glass
199                      Glass
702                      Glass
261           Gorilla Glass 7i
1138                     Glass
672     Gorilla Glass Victus 2
891                      Glass
445                      Glass
602                      Glass
Name: body_front, dtype: object

In [588]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [589]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [590]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [591]:
df['front_potection'] = df['front_potection'].astype('category')

In [592]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 790.9+ KB

In [593]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [594]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [595]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [596]:
df['back_material'] = df['back_material'].astype('category')

In [597]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [598]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [599]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [600]:
df['frame_material'] = df['frame_material'].astype('category')

In [601]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 794.0+ KB

In [602]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [603]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [604]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [605]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 87 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 795.4+ KB

In [606]:
df['ports'].sample(20)

252          USB Type-C 2.0, 3.5mm Headphone Jack
469                     USB Type-C, Infrared Port
767                           USB Type-C 2.0, OTG
691                           USB Type-C 2.0, OTG
562                           USB Type-C 2.0, OTG
683                      USB Type-C, Hi-Res Audio
1224    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
902          USB Type-C 2.0, 3.5mm Headphone Jack
368     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
658          USB Type-C 2.0, 3.5mm Headphone Jack
339                 USB Type-C 2.0, Infrared Port
671                 USB Type-C 2.0, Infrared Port
5                               Lightning USB 2.0
1258               USB Type-C, Infrared Port, OTG
1019                          USB Type-C 3.2, OTG
1025                          USB Type-C 3.2, OTG
567          USB Type-C 2.0, 3.5mm Headphone Jack
664          USB Type-C 2.0, 3.5mm Headphone Jack
128         USB Type-C, 3.5mm Headphone Jack, OTG
486       microUSB 2.0, 3.5mm Headphone Jack, OTG
Name: ports, dtype: object

In [607]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [608]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [609]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [610]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [611]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [612]:
df['ports'].sample(20)

851     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
871                 USB Type-C 2.0, Infrared Port
597                                    USB Type-C
873                 USB Type-C 2.0, Infrared Port
487       microUSB 2.0, 3.5mm Headphone Jack, OTG
1156                              USB Type-C, OTG
534              USB Type-C, 3.5mm Headphone Jack
1061             USB Type-C 3.2, Display Port 1.2
1169     USB Type-C 3.2 Gen 1, Infrared Port, OTG
1173                          USB Type-C 2.0, OTG
1049                          USB Type-C 2.0, OTG
127                   USB Type-C, IR Blaster, OTG
185               USB Type-C 2.0, IR Blaster, OTG
360                 USB Type-C 2.0, Infrared Port
211                           USB Type-C 2.0, OTG
734                               USB Type-C, OTG
484          USB Type-C 2.0, 3.5mm Headphone Jack
671                 USB Type-C 2.0, Infrared Port
415         USB Type-C, 3.5mm Headphone Jack, OTG
943              USB Type-C, 3.5mm Headphone Jack
Name: ports, dtype: object

In [613]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [614]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [615]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [616]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [617]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [618]:
df['ports'].sample(20)

23                        USB Type-C 3.2 Gen 2, Display Port 1.2
367                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1236                                         USB Type-C 2.0, OTG
647                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1064                                   USB Type-C 3.1 Gen 1, OTG
617                        USB Type-C, 3.5mm Headphone Jack, OTG
262                                               USB Type-C 2.0
1176                                   USB Type-C 3.1 Gen 1, OTG
364                                USB Type-C 2.0, Infrared Port
1053                                         USB Type-C 3.2, OTG
714                         USB Type-C 2.0, 3.5mm Headphone Jack
293                                               USB Type-C 2.0
125                               USB Type-C, Infrared Port, OTG
1118                                         USB Type-C 2.0, OTG
278                        USB Type-C 3.1, Display Port 1.4, OTG
508                                              USB Type-C, OTG
1251    USB Type-C 2.0, 3.5mm Headphone Jack, Infrared Port, OTG
651                         USB Type-C 2.0, 3.5mm Headphone Jack
443                                              USB Type-C, OTG
461                                          USB Type-C 2.0, OTG
Name: ports, dtype: object

In [619]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [620]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [621]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [622]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 92 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 836.4+ KB

In [623]:
df['ip_rating'].sample(20)

184        IP54 (Dust and Water Resistant)
604        IP69 (Dust and Water Resistant)
361        IP65 (Dust and Water Resistant)
971                                    NaN
1167               IPX8 (Water Resistance)
289     IP68/69 (Dust and Water Resistant)
1040       IP68 (Dust and Water Resistant)
793                                    NaN
96         IP64 (Dust and Water Resistant)
1240       IP64 (Dust and Water Resistant)
1032       IP68 (Dust and Water Resistant)
4          IP68 (Dust and Water Resistant)
19         IP68 (Dust and Water Resistant)
304        IP48 (Dust and Water Resistant)
360        IP65 (Dust and Water Resistant)
650        IP54 (Dust and Water Resistant)
236       IP52 (Dust and Splash Resistant)
1078                                   NaN
377        IP65 (Dust and Water Resistant)
1008                                   NaN
Name: ip_rating, dtype: object

In [624]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [625]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [626]:
df['water_resistance_level'].count()

np.int64(1268)

In [627]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 93 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 837.8+ KB

In [628]:
df['speaker'].sample(30)

333                                  Stereo Speakers
1128                       Hi-Res Audio, Loudspeaker
1195                                     Loudspeaker
135                                      Loudspeaker
786                                  Stereo Speakers
892                                     Mono Speaker
394                                      Loudspeaker
1074                       Hi-Res Audio, Loudspeaker
1106                                    Mono Speaker
979                                     Mono Speaker
677                                  Stereo Speakers
621          24-bit/192kHz Hi-Res Audio, Loudspeaker
783                                  Stereo Speakers
714                                     Mono Speaker
165                                  Stereo Speakers
953                                     Mono Speaker
1226                                 Stereo Speakers
1170                                 Stereo Speakers
639                                      Loudspeaker
669                                     Mono Speaker
554                                      Loudspeaker
327                                  Stereo Speakers
1234                                 Stereo Speakers
359     Dual-mic Noise Cancellation, Stereo Speakers
455                                     Mono Speaker
839                                  Stereo Speakers
74                                   Stereo Speakers
338      24-bit/192kHz Hi-Res Audio, Stereo Speakers
763                                  Stereo Speakers
1092                                 Stereo Speakers
Name: speaker, dtype: object

In [629]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [630]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [631]:
df['speaker'].sample(20)

876                                           Stereo Speakers
847                                           Stereo Speakers
708                                               Loudspeaker
650                                              Mono Speaker
450                                           Stereo Speakers
528                                              Mono Speaker
131                                           Stereo Speakers
128                                           Stereo Speakers
184                                           Stereo Speakers
146                                DTS Audio, Stereo Speakers
1256    Hi-Res Audio, Stereo Speakers, Tuned by Harman Kardon
1035                                          Stereo Speakers
871                                           Stereo Speakers
710                                           Stereo Speakers
1183                                          Stereo Speakers
793                                               Loudspeaker
9                                             Stereo Speakers
164                                           Stereo Speakers
360              Dual-mic Noise Cancellation, Stereo Speakers
1060                                          Stereo Speakers
Name: speaker, dtype: object

In [632]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [633]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [634]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(48)
memory usage: 857.6+ KB

In [635]:
df['chipset'].sample(20)

268                Qualcomm Snapdragon 8 Gen 1 (4 nm), 1245739 Antutu Score
1038    Qualcomm Snapdragon 8 Elite for Galaxy (3 nm), 2795139 Antutu Score
1176                                         MediaTek Dimensity 9500 (3 nm)
528                 Qualcomm Snapdragon 4 Gen 2 (4 nm), 427408 Antutu Score
542                Qualcomm Snapdragon 7s Gen 2 (4 nm), 600033 Antutu Score
966                 Qualcomm Snapdragon 7 Gen 1 (4 nm), 678813 Antutu Score
1085                    Qualcomm Snapdragon 695 (6 nm), 441369 Antutu Score
1053               Qualcomm Snapdragon 8 Gen 3 (4 nm), 2020386 Antutu Score
1032                       Samsung Exynos 2400 (4 nm), 1765220 Antutu Score
1198                        MediaTek Helio G85 (12 nm), 264823 Antutu Score
345                Qualcomm Snapdragon 8 Gen 3 (4 nm), 2020386 Antutu Score
41                                   Apple A18 (3 nm), 1605038 Antutu Score
522                MediaTek Dimensity 6100 Plus (6 nm), 393210 Antutu Score
675           Qualcomm Snapdragon 7 Plus Gen 3 (4 nm), 1409090 Antutu Score
909                     MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
1165                                   MediaTek Dimensity 7360 Turbo (4 nm)
584              MediaTek Dimensity 7300 Energy (4 nm), 750000 Antutu Score
289                 Qualcomm Snapdragon 7 Gen 4 (4 nm), 469203 Antutu Score
659                     MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
1086                    MediaTek Dimensity 7200 (4 nm), 720423 Antutu Score
Name: chipset, dtype: object

In [636]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [637]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [638]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [639]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [640]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [641]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand                  chipset_brand
559         mediatek            dimensity 6100 plus
1039        qualcomm  snapdragon 8 elite for galaxy
400         mediatek                      helio g85
1206        mediatek                 dimensity 6300
124         mediatek                 dimensity 6080
1125        mediatek                  dimensity 810
204         qualcomm             snapdragon 4 gen 1
1174        mediatek                 dimensity 9400
66            google                      tensor g5
1162        qualcomm             snapdragon 7 gen 4
729         mediatek                 dimensity 6300
329         qualcomm        snapdragon 8 plus gen 1
966         qualcomm             snapdragon 7 gen 1
942         mediatek                 dimensity 6300
324         qualcomm             snapdragon 8 gen 1
816         mediatek                 dimensity 6300
142           unisoc                           t606
179         mediatek                 dimensity 8200
629         mediatek                  dimensity 810
901         mediatek                      helio g99

In [642]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(49)
memory usage: 869.0+ KB

In [643]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [644]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [645]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [646]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [647]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [648]:
df['chipset_brand'].sample(20)

1234     snapdragon 4 gen 2
835          dimensity 8100
57       snapdragon 8 gen 2
1179         dimensity 9500
490               helio g36
575     snapdragon 7s gen 2
1126          dimensity 900
525      snapdragon 4 gen 2
830     snapdragon 4s gen 2
1152     snapdragon 7 gen 3
697      snapdragon 8 gen 1
447          dimensity 6300
895          snapdragon 680
240          snapdragon 680
894          snapdragon 680
252     snapdragon 6s gen 4
76                tensor g3
984     dimensity 6100 plus
914             exynos 1330
247     snapdragon 6s gen 3
Name: chipset_brand, dtype: object

In [649]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [650]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [651]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [652]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [653]:
df['antutu_score'].sample(20)

1194     150618.0
616      310236.0
30      1605038.0
507     1489956.0
123      436846.0
555      543766.0
2       1287587.0
969      734625.0
1127     515609.0
11      1445704.0
1097    1513580.0
52      1817247.0
772     1479400.0
1220     420294.0
1021    1546735.0
31      1605038.0
304     2745854.0
18      1445704.0
58      2020386.0
604      685857.0
Name: antutu_score, dtype: float64

In [654]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [655]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 99 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1266 non-null   object
 97  chipset_nm                   1258 non-null   float64
 98  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(49)
memory usage: 888.8+ KB

In [656]:
df['cpu'].sample(20)

1175                           Octa-core (1x3.63 GHz Cortex-X925 & 3x3.3 GHz Cortex-X4 & 4x2.4 GHz Cortex-A720)
198                                             Octa-core (4x2.4 GHz Kryo 265 Gold & 4x1.9 GHz Kryo 265 Silver)
1146                                                    Octa-core (4x2.2 GHz Cortex-A78 & 4x1.8 GHz Cortex-A55)
667                                                                                   Octa-core (Up to 2.4 GHz)
759                                                   Octa-core (4x2.40 GHz Cortex-A78 & 4x1.95 GHz Cortex-A55)
290                                                     Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55)
280     Octa-core (1x3.3 GHz Cortex-X4 & 3x3.2 GHz Cortex-A720 & 2x3.0 GHz Cortex-A720 & 2x2.3 GHz Cortex-A520)
431                                 Octa-core ( 4 Arm Cortex-A78 cores@2.5GHzs & 4 Arm Cortex-A55 cores@2.0GHz)
351                                   Octa-core (2x4.32 GHz Oryon V2 Phoenix L + 6x3.53 GHz Oryon V2 Phoenix M)
618                                                     Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
31                                                                          Hexa-core (2x4.04 GHz + 4x2.20 GHz)
681                                   Octa-core (2x4.32 GHz Oryon V2 Phoenix L + 6x3.53 GHz Oryon V2 Phoenix M)
784                                             Octa-core (4x2.4 GHz Kryo 265 Gold & 4x1.9 GHz Kryo 265 Silver)
807                                                     Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
1161                             Octa-core (1x2.8 GHz Cortex-720 & 4x2.4 GHz Cortex-720 & 3x1.8 GHz Cortex-520)
1090                                                    Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
82                              Octa-core (1x3.1 GHz Cortex-X4 & 3x2.6 GHz Cortex-A720 & 4x1.9 GHz Cortex-A520)
505                             Octa-core (1x3.0 GHz Cortex-X4 & 4x2.8 GHz Cortex-A720 & 3x2.0 GHz Cortex-A520)
871                        Octa-core (1 x Cortex-A720@2.5GHz & 3 x Cortex-A720@2.4GHz & 4 x Cortex-A520@1.8GHz)
894                                             Octa-core (4x2.4 GHz Kryo 265 Gold & 4x1.9 GHz Kryo 265 Silver)
Name: cpu, dtype: object

In [657]:
df['cpu_core_count'] = df['cpu'].str.strip().str.split(' ').str.get(0)

In [658]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
Octa-core    1193
Hexa-core      54
Deca-core      13
Quad-core       4
Nona-core       4
Name: count, dtype: int64

In [659]:
def extract_core_count(text):

  t = text.lower()

  if 'octa' in t:
    return 8

  if 'hexa' in t:
    return 6

  if 'deca' in t:
    return 10

  if 'quad' in t:
    return 4

  if 'nona' in t:
    return 9

df['cpu_core_count'] = df['cpu_core_count'].apply(extract_core_count)

In [660]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
8     1193
6       54
10      13
4        4
9        4
Name: count, dtype: int64

In [661]:
df['cpu_max_ghz'] = df['cpu'].str.extract(r'(\d+\.?\d*)\s*[Gg]*\s*[Gg]Hz', flags=re.IGNORECASE)

In [662]:
df['cpu_max_ghz'].value_counts(dropna=False)

cpu_max_ghz
2.4     235
2.2     195
2.5     122
2.0      83
2.6      58
1.8      43
3.0      38
2.8      38
2.3      33
3.2      32
3.1      27
3.35     26
3.3      25
2.63     22
2.40     20
4.32     19
1.6      16
3.19     16
3.46     14
3.00     13
2.05     13
4.26     12
3.25     12
3.36     11
2.85     11
4.04      9
2.84      9
3.05      8
4.21      7
NaN       7
3.78      7
4.47      7
4.6       6
3.23      6
4.05      6
3.63      6
2.35      6
2.9       6
3.21      6
3.39      5
3.4       5
2.80      4
2.7       4
2.75      4
3.73      4
3         3
2.99      3
2.30      2
2.91      2
2.1       1
3.20      1
Name: count, dtype: int64

In [663]:
df['cpu_max_ghz'] = pd.to_numeric(df['cpu_max_ghz'])

In [664]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 101 entries, model_id to cpu_max_ghz
dtypes: category(11), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 908.6+ KB

In [665]:
df['gpu_brand'] = df['gpu'].str.lower().str.strip().str.split(' ').str.get(0)

In [666]:
df['gpu_brand'] = df['gpu_brand'].str.replace('-',' ')

In [667]:
df[df['gpu_brand'] == 'unspecified']['gpu']

137    Unspecified
Name: gpu, dtype: object

In [668]:
df.loc[137,'gpu_brand'] = np.nan

In [669]:
df['gpu_brand'].value_counts(dropna=False)

gpu_brand
adreno              454
mali g57            243
mali g68             95
arm                  79
mali g615            57
apple                54
mali g52             50
powervr              42
mali g610            34
img                  29
xclipse              22
NaN                  19
mali                 19
mali g77             12
immortalis g720      12
mali g710            10
immortalis g715       9
mali g720             7
immortalis g925       6
immortalis g715s      6
mali g715             5
mali g78              2
ge8322                2
Name: count, dtype: int64

In [670]:
df['gpu_brand'] = df['gpu_brand'].astype('category')

In [671]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 102 entries, model_id to gpu_brand
dtypes: category(12), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 910.6+ KB

In [672]:
df['main_cam'].sample(20)

831                                             50 MP, f/1.8, (Wide-angle), 0.8 µm
310                            50 MP, f/1.9, 24mm (Wide-angle), 1/1.56", OIS, PDAF
63      48 MP, f/1.7, 25mm (Wide-angle), 82°, 0.8 µm, 1/2.0", Dual Pixel PDAF, OIS
319                                 50 MP, f/1.88, 24mm (Wide-angle), 1/1.57", EIS
911                       50 MP, f/1.8, (Wide-angle), 0.64 µm, 1/2.76", Auto Focus
379                                      50 MP, f/1.8, (Wide-angle), 0.64 µm, PDAF
118                               108 MP, f/1.75, 24mm (Wide-angle), 0.64 µm, PDAF
196                         50 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, 1/1.95", PDAF
56                            50 MP, f/1.9, 24mm (Wide-angle), 1 µm, 1/1.56", PDAF
183                             50 MP, f/1.9, 0mm (Wide-angle), 1/1.49", OIS, PDAF
1175                  50 MP, f/1.57, 23mm (Wide-angle), 0.8 µm, 1/1.56", OIS, PDAF
186                         50 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
203                                          50 MP, f/1.8, 26mm (Wide-angle), PDAF
220                        50 MP, f/1.79, (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
1049        12 MP, f/1.8, 24mm (Wide-angle), 1.8 µm, 1/1.76", Dual Pixel PDAF, OIS
609                                         50 MP, f/1.8, 24mm (Wide-angle), 84.4°
1161               50 MP, f/1.88, 23mm (Wide-angle), 84°, 1 µm, 1/1.56", OIS, PDAF
1177                            200 MP, f/1.68, 23mm (Wide-angle), 0.56 µm, 1/1.4"
531                                                     50 MP, f/1.8, (Wide-angle)
355                                    50 MP, f/1.8, (Wide-angle), 1 µm, OIS, PDAF
Name: main_cam, dtype: object

In [673]:
df['cam_primary_mp'] = df['main_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('int')

In [674]:
df['cam_primary_mp'].value_counts(dropna=False)

cam_primary_mp
50     850
64      91
48      82
108     79
13      48
8       37
200     35
32      25
12      15
16       5
100      1
Name: count, dtype: int64

In [675]:
df['cam_aperture'] = df['main_cam'].str.split(',').str.get(1).str.split('/').str.get(1).str.strip()

In [676]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8        726
1.9         80
1.88        60
1.79        60
1.7         53
1.6         53
1.75        42
2.2         42
2.0         40
1.5         19
1.78        18
1.68        14
1.89        13
1.65         9
1.85         7
NaN          6
1.57         6
1.69         5
2.6          4
1.4          3
1.59         3
1.63         2
1.4-2.0      1
1.6-f        1
1.62         1
Name: count, dtype: int64

In [677]:
df[df['cam_aperture'] == '1.6-f'][['main_cam','model']]

,main_cam,model
1262,"50 MP, f/1.6-f/4.0, 23mm (Wide-angle), 3.2 µm, 1.0"", Auto Focus, Multi-directional PDAF, OIS",Xiaomi 14 Ultra

In [678]:
df.loc[89,'cam_aperture'] = '1.4'
df.loc[1262,'cam_aperture'] = '1.6'

In [679]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8     726
1.9      80
1.88     60
1.79     60
1.6      54
1.7      53
1.75     42
2.2      42
2.0      40
1.5      19
1.78     18
1.68     14
1.89     13
1.65      9
1.85      7
1.57      6
NaN       6
1.69      5
1.4       4
2.6       4
1.59      3
1.63      2
1.62      1
Name: count, dtype: int64

In [680]:
df['cam_aperture'] = pd.to_numeric(df['cam_aperture'])

In [681]:
df['main_cam'].sample(20)

312                               50 MP, f/1.88, 24mm (Wide-angle), 1 µm, 1/1.57", OIS, PDAF
745                                                         32 MP, f/1.8, (Wide-angle), PDAF
32      48 MP, f/1.8, 24mm (Wide-angle), 1.22 µm, 1/1.28", Dual Pixel PDAF, Sensor-Shift OIS
980                                                 50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF
434                                                          50 MP, f/1.8, (Wide-angle), 76°
947                                                 50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF
636                                     13 MP, f/2.2, 25mm (Wide-angle), 1.12 µm, Auto Focus
922                                        48 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, 1/2", OIS
423                                     64 MP, f/1.7, 0mm (Wide-angle), 0.7 µm, 1/2.0", PDAF
924                                            48 MP, f/1.8, (Wide-angle), 0.8 µm, 1/2", OIS
755                               50 MP, f/1.8, 26mm (Wide-angle), 0.8 µm, 1/3.0", OIS, PDAF
529                                    50 MP, f/1.8, 23mm (Wide-angle), 0.8 µm, 1/2.9", PDAF
1010                      50 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.56", Auto Focus, OIS, PDAF
330                              50 MP, f/1.8, 23.6mm (Wide-angle), 1 µm, 1/1.56", OIS, PDAF
171                                           50 MP, f/1.8, (Wide-angle), 1/1.95", OIS, PDAF
448                                       50 MP, f/1.8, 27mm (Wide-angle), 76°, 1/2.88", EIS
593               50 MP, f/1.8, 26mm (Wide-angle), 0.8 µm, 1/2", Multi-directional PDAF, OIS
409                             13 MP, f/2.2, 26mm (Wide-angle), 80°, 1.12 µm, 1/3.06", PDAF
489                                                 50 MP, f/1.8, (Wide-angle), 0.7 µm, PDAF
584                                 50 MP, f/1.8, 26mm (Wide-angle), 79°, 1/1.95", OIS, PDAF
Name: main_cam, dtype: object

In [682]:
def extract_ois(text):

  t = text.lower()

  if 'ois' in t:
    return 1

  return 0

df['cam_has_ois'] = df['main_cam'].apply(extract_ois)

In [683]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [684]:
df['cam_sensor_size'] = df['main_cam'].str.extract(r'1/(\d+\.\d+)')

In [685]:
df['cam_sensor_size'].value_counts(dropna=False)

cam_sensor_size
NaN     546
1.56    192
1.95    108
2.76     78
1.67     36
1.28     31
2.0      28
1.4      21
1.57     20
2.88     20
1.3      19
1.55     18
1.52     18
1.31     15
3.1      14
1.96     14
1.49     11
1.97      9
1.43      8
4.0       7
2.55      6
2.8       5
3.06      5
1.76      5
1.72      4
1.73      4
2.5       4
2.9       4
1.7       3
1.5       3
3.0       3
1.22      2
1.33      2
2.74      1
2.93      1
3.6       1
0.98      1
1.0       1
Name: count, dtype: int64

In [686]:
df['cam_sensor_size'] = pd.to_numeric(df['cam_sensor_size'])

In [687]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 106 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
dtypes: category(12), datetime64[ns](1), float64(20), int64(24), object(49)
memory usage: 950.2+ KB

In [688]:
df['main_cam2'].sample(20)

888                                                                               2 MP, f/2.4, (Depth)
1214                                                                              2 MP, f/2.4, (Macro)
627                                                                               2 MP, f/2.4, (Macro)
67                                                     12 MP, f/2.2, 17mm  (Ultra-wide), 114°, 1.25 µm
1111                                                   50 MP, f/2.6, (Periscope), 33°, 3x Optical Zoom
998                                                   8 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm, 1/4.0"
403                                                                                                NaN
172                                                           8 MP, f/2.2, (Ultra-wide), 119°, 1.12 µm
220                                                                      2 MP, f/2.4, (Depth), 0.64 µm
321     50 MP, f/2.5, 70mm  (Telephoto), 33.6°, 0.8 µm, 1/1.95", 3x Optical Zoom, Auto Focus, EIS, OIS
82                                                   13 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/3.1"
1154                                                                   8 MP, f/2.2, (Ultra-wide), 116°
1048                        10 MP, f/2.4, 67mm  (Telephoto), 1 µm, 1/3.94", 3x Optical Zoom, OIS, PDAF
105                                                                                       2 MP, (QVGA)
1200                                                                       0.08 MP, f/3.0, (Auxiliary)
334                                                           8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm
1069                                                                         2 MP, f/2.4, 0mm  (Depth)
607                                                                               0.08 MP, (Auxiliary)
1209                                                                     2 MP, f/2.4, (Depth), 0.64 µm
1251                                                              8 MP, f/2.2, 0mm  (Ultra-wide), 120°
Name: main_cam2, dtype: object

In [689]:
df['cam_secondary_mp'] = df['main_cam2'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0)

In [690]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2              390
8              333
50             125
0.08            97
12              82
NaN             54
5               45
10              39
13              31
48              19
64              15
32              10
(Auxiliary)      7
0.03             6
f/2.4            5
16               4
f/2.8            2
10.8             2
180              1
200              1
Name: count, dtype: int64

In [691]:
df[df['cam_secondary_mp'] == 'f/2.4'][['model','main_cam2']]

                              model                          main_cam2
739  Realme Narzo N53 (6GB + 128GB)                f/2.4, 0mm  (Depth)
740  Realme Narzo N53 (8GB + 128GB)                     f/2.4, (Depth)
741                Realme Narzo N53                     f/2.4, (Depth)
744  Realme Narzo N61 (6GB + 128GB)   f/2.4, 0mm  (Auxiliary), 0.64 µm
753                    Realme P1 5G  f/2.4, 22mm  (Depth), 88.8°, 1/5"

In [692]:
df.loc[[638,639,739,740,741,753],'cam_secondary_mp'] = 2
df.loc[[136,138,484,489,745,830,831,744], 'cam_secondary_mp'] = 0.08

In [693]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2       390
8       333
50      125
0.08     97
12       82
NaN      54
5        45
10       39
13       31
48       19
64       15
32       10
0.08      8
0.03      6
2         6
16        4
10.8      2
180       1
200       1
Name: count, dtype: int64

In [694]:
cam_cols_to_check = ['main_cam2', 'main_cam3', 'main_cam4']

df['has_telephoto'] = df[cam_cols_to_check].apply(
    lambda x: x.str.contains('Telephoto', case=False, na=False)
).any(axis=1).astype(int)

df['has_periscope'] = df[['main_cam2', 'main_cam3', 'main_cam4']].apply(
    lambda x: x.str.contains('Periscope', case=False, na=False)
).any(axis=1).astype(int)

In [695]:
df['has_telephoto'].value_counts()

has_telephoto
0    1070
1     198
Name: count, dtype: int64

In [696]:
df['has_periscope'].value_counts()

has_periscope
0    1219
1      49
Name: count, dtype: int64

In [697]:
df['main_cam2'].sample(20)

925                               8 MP, f/2.2, 0mm  (Ultra-wide), 123°, 1.12 µm, 1/4.0"
1220                                                               2 MP, f/2.4, (Depth)
89           180 MP, f/2.6, (Periscope), 0.56 µm, 1/1.49", 2.5x Optical Zoom, OIS, PDAF
352             8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0", 3x Optical Zoom
328                                8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, Auto Focus
704                                  8 MP, f/2.2, (Ultra-wide), 119.7°, 1.12 µm, 1/4.0"
166                         13 MP, f/2.2, 16mm  (Ultra-wide), 120°, 1.12 µm, Auto Focus
1242                                                               2 MP, f/2.4, (Depth)
480                                8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4"
66                                       13 MP, f/2.2, (Ultra-wide), 120°, 1/3.1", PDAF
878                                          5 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/5.0"
1261                   50 MP, f/1.98, 50mm  (Telephoto), 0.64 µm, 2x Optical Zoom, PDAF
262                              8 MP, f/2.2, 119°, 1.12 µm, 1/4", Auto Focus, EIS, OIS
834                                            8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm
97                                                            8 MP, f/2.2, (Ultra-wide)
1263    50 MP, f/2.0, 75mm  (Telephoto), 1.22 µm, 1/2.88", 3.2x Optical Zoom, OIS, PDAF
199                                                  2 MP, f/2.4, Macro lensmm  (Macro)
701                                                                2 MP, f/2.4, (Depth)
397                                                     2 MP, f/2.4, 22mm  (Depth), 89°
647                                                           2 MP, f/2.4, 0mm  (Depth)
Name: main_cam2, dtype: object

In [698]:
df['cam_optical_zoom'] = df['main_cam2'].str.extract(r'(\d+)x\s+Optical\s+Zoom')

In [699]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].fillna(0)

In [700]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].astype(int)

In [701]:
df['cam_optical_zoom'].value_counts(dropna=False)

cam_optical_zoom
0     1097
3       89
2       38
5       36
10       5
4        2
7        1
Name: count, dtype: int64

In [702]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 110 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(20), int64(27), object(50)
memory usage: 989.8+ KB

In [703]:
df['main_cam3'].sample(20)

131                                                                           NaN
1111                                                    2 MP, f/2.4, (Depth), 81°
298                                                                           NaN
738                                                                           NaN
119                                                        f/2.4, (QVGA), 0.56 µm
1069                                                                          NaN
884                                            5 MP, f/2.4, 0mm  (Macro), 1.12 µm
168                            13 MP, f/2.2, 16mm  (Wide-angle), 120°, Auto Focus
167                                        13 MP, f/2.2, 16mm  (Ultra-wide), 120°
226                                                                           NaN
547                                                 2 MP, f/2.4, (Macro), 0.64 µm
202                                                          2 MP, f/2.4, (Depth)
467                              8 MP, f/2.2, (Ultra-wide), 112°, 1.12 µm, 1/4.0"
450                                                                           NaN
1216                                                                          NaN
1201                                                                          NaN
1160    50 MP, f/2.65, 73mm  (Telephoto), 33.1°, 0.8 µm, 1/1.95", 3x Optical Zoom
459            50 MP, f/2.0, 47mm  (Telephoto), 50°, 0.64 µm, 1/2.75", Auto Focus
1193                                                                          NaN
943                                                                           NaN
Name: main_cam3, dtype: object

In [704]:
df['cam_tertiary_mp'] = df['main_cam3'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [705]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN            637
2              330
50              63
12              62
8               49
5               31
48              28
10              13
13              10
0.08             9
0mm              7
200              5
f/2.8            4
f/2.4            3
(Auxiliary)      3
0.3              2
10.5             2
88°              2
0.07             2
3                2
32               2
10.8             1
f/2.5            1
Name: count, dtype: int64

In [706]:
df[df['cam_tertiary_mp'] == '0mm'][['model','main_cam3']]

                                    model         main_cam3
528              Poco M7 5G (8GB + 128GB)  0mm  (Auxiliary)
720  Realme Narzo 70 Turbo (12GB + 256GB)               0mm
721   Realme Narzo 70 Turbo (8GB + 128GB)               0mm
803            Redmi 13C 5G (6GB + 128GB)  0mm  (Auxiliary)
804            Redmi 13C 5G (8GB + 256GB)  0mm  (Auxiliary)
806               Redmi 13C (6GB + 128GB)  0mm  (Auxiliary)
807               Redmi 13C (8GB + 256GB)  0mm  (Auxiliary)

In [707]:
df.loc[[121,114,119,122],'cam_tertiary_mp'] = 0.07
df.loc[[808,809,810,528,720,721,803,804,806,807],'cam_tertiary_mp'] = 0.08
df.loc[[636,637,706,707],'cam_tertiary_mp'] = 2
df.loc[[553,554],'cam_tertiary_mp'] = np.nan

In [708]:
df['cam_tertiary_mp'] = pd.to_numeric(df['cam_tertiary_mp'])

In [709]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN       639
2.00      334
50.00      63
12.00      62
8.00       49
5.00       31
48.00      28
0.08       19
10.00      13
13.00      10
0.07        6
200.00      5
10.50       2
0.30        2
32.00       2
3.00        2
10.80       1
Name: count, dtype: int64

In [710]:
# List of camera columns
cam_cols = ['main_cam', 'main_cam2', 'main_cam3','main_cam4']

# Count non-NaN values across these columns
df['total_cam_count'] = df[cam_cols].notna().sum(axis=1)

In [711]:
df['total_cam_count'].value_counts(dropna=False)

total_cam_count
2    583
3    583
1     54
4     48
Name: count, dtype: int64

In [712]:
df[~df['main_cam4'].isnull()]['main_cam4']

238                                                                     2 MP, f/2.4, (Depth), 175 µm
439                 50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.75", Multi-Directional PDAF
441                                                                   2 MP, f/2.4, (Monochrome), 88°
442                                                                   2 MP, f/2.4, (Monochrome), 88°
443                                                                   2 MP, f/2.4, (Monochrome), 88°
786                                                                        2 MP, f/2.4, 0mm  (Depth)
787                                                                        2 MP, f/2.4, 0mm  (Depth)
788                                                                             2 MP, f/2.4, (Depth)
836                                                                        2 MP, f/2.4, 0mm  (Depth)
837                                                                        2 MP, f/2.4, 0mm  (Depth)
838                                                                        2 MP, f/2.4, 0mm  (Depth)
842                                                                             2 MP, f/2.4, (Depth)
843                                                                             2 MP, f/2.4, (Depth)
844                                                                             2 MP, f/2.4, (Depth)
845                                                                        2 MP, f/2.4, 0mm  (Depth)
846                                                                        2 MP, f/2.4, 0mm  (Depth)
847                                                                             2 MP, f/2.4, (Depth)
877                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
878                                                                    2 MP, f/2.4, (Depth), 1.75 µm
879                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
880                                                                    2 MP, f/2.4, (Depth), 1.75 µm
881                                                                        2 MP, f/2.4, 0mm  (Depth)
882                                                                             2 MP, f/2.4, (Depth)
883                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
884                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
885                                                                        5 MP, f/2.4, 0mm  (Depth)
915                                                               2 MP, f/2.4, 0mm  (Depth), 0.64 µm
916                                                                    2 MP, f/2.4, (Depth), 0.64 µm
930                                                                    5 MP, f/2.4, (Depth), 1.12 µm
939                                                                             5 MP, f/2.4, (Depth)
992                                                                        2 MP, f/2.4, 0mm  (Macro)
993                                                                             2 MP, f/2.4, (Macro)
1002                                                                            2 MP, f/2.4, (Macro)
1003                                                                            2 MP, f/2.4, (Macro)
1015    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1016    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1022          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1023          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1024          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1034    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1035          12 MP, f/2.2, (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1036    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1045          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1046          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1047          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1181                                      8 MP, f/3.4, (Periscope), 1 µm, 5x Optical Zoom, OIS, PDAF
1262            50 MP, f/1.8, 12mm  (Ultra-wide), 122°, 0.7 µm, 1/2.51", Auto Focus, Dual Pixel PDAF
1264                       50 MP, f/2.2, 14mm  (Ultra-wide), 115°, 1.28 µm, 1/2.76", Dual Pixel PDAF
Name: main_cam4, dtype: object

In [713]:
df['cam_fourth_mp'] = df['main_cam4'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [714]:
df['cam_fourth_mp'] = pd.to_numeric(df['cam_fourth_mp'])

In [715]:
df['cam_fourth_mp'].value_counts(dropna=False)

cam_fourth_mp
NaN     1220
2.0       28
12.0       8
50.0       6
5.0        5
8.0        1
Name: count, dtype: int64

In [716]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 113 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
dtypes: category(12), datetime64[ns](1), float64(22), int64(28), object(50)
memory usage: 1019.6+ KB

In [717]:
df['main_cam_features'].sample(50)

344                                                                                                          Dual LED Flash, Hasselblad Colour Calibration, HDR, Panorama
323                                                                                                                                              HDR, LED Flash, Panorama
445                                                                                     Expert, HDR, LED Flash, Macro, Night, Panorama, Portrait, Slow Motion, Time Lapse
541                                                                                                                               Dual LED Dual Tone Flash, HDR, Panorama
1163                                                                                                             HDR, Night Mode, Panorama, Portrait Mode, Ring-LED Flash
242                                                                                                      HDR, LED Flash, Night Vision, Panorama, Pro Mode (long exposure)
964                                                                                                                                         HDR, LED Flash, OIS, Panorama
940                                                                                                                                               Digital Zoom, LED Flash
944                                                                                                                                                   LED Flash, Panorama
44      Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)
38                                                                                                                                Dual LED Dual Tone Flash, HDR, Panorama
1007                                                                                                                                             HDR, LED Flash, Panorama
390                                                                 Dual View, HDR, Hi-Res Mode, LED Flash, Night, Panorama, Portrait, Pro, Pro Mode, Slow-Mo, Time-lapse
345            Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse
284                                           Audio Zoom, Digital Zoom, HDR, HDR10+, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
655                                                                        Dual View, HIGH-RES, LED Flash, Movie, Night, Panorama, Portrait, Pro, Slow Motion, Time-lapse
951                                                                                                                                              HDR, LED Flash, Panorama
1085                                                     Double Exposure, Dual View, HDR, LED Flash, Micro, Movie, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse
275                                                                                                                                              HDR, LED flash, Panorama
1073                                                                             Double Exposure, HDR, LED Flash, Night, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
547                                                                                                                                              HDR, LED Flash, Panorama
860                                                                                               HDR, LED Flash, Night Mode, Panorama, Pro Mode, Slow Motion, Time-Lapse
4                                                                Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF
42                                Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse
615                                                                                                                   HDR, LED Flash, Night Mode, Panorama, Portrait Mode
990                                                                                                                                Digital Zoom, HDR, LED Flash, Panorama
203                                                                                                              Dual LED Flash, HDR, Night Mode, Panorama, Portrait Mode
422                                                                                                   HDR, LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Time-lapse
620                                                                                                        Dual View, EIS, HDR, LED flash, Nightscape, Panorama, Portrait
807                                                                                                                                              HDR, LED Flash, Panorama
61                                                                                                                                              HDR, Night Mode, Portrait
1128                                                        Double Exposure, Dual View, HDR, HIGH-RES, LED flash, Night, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
215                                                                                                   HDR, LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Time-Lapse
805                                                                                        Film Camera Mode, HDR Panorama, LED Flash, Night Mode, Slow Motion, Time Lapse
780                                                                                                                       Night Mode, Panorama, Portrait Mode, Time Lapse
428                                                                                                                        Color Spectrum Sensor, HDR, LED Fash, Panorama
1114                                                                                                                                        HDR, Panorama, Ring-LED Flash
840                                                                                                                                              HDR, LED Flash, Panorama
1172                                                                                      HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating
775                                                                                                         Cinematic Mode, Night Mode, Panorama, Portrait Mode, Pro Mode
828                                                                                                                                         HDR, LED Flash, Portrait Mode
728                                                                                                                                                   LED Flash, Panorama
363                                              Cinematic Mode, HDR, Hi-Res Mode, LED Fash, Long Exposure, Nightscape, Panorama, Portrait, Pro Mode, Slow-Mo, Time-lapse
115                                                                                                                                      Night Mode, Portrait, Time-Lapse
1104                                                                                                                                             HDR, LED Flash, Panorama
988                                                                                                                                               HDR, LED Fash, Panorama
59                                                                                                                               Auto Focus, Digital Zoom, HDR, LED Flash
54                                                                                                                        Auto Focus, DIS, HDR, Macro Mode, Panorama, RAW
619                                                                                                        Dual View, EIS, HDR, LED flash, Nightscape, Panorama, Portrait
686                                                                                                                       Color Spectrum Sensor, HDR, LED Flash, Panorama
Name: main_cam_features, dtype: object

In [718]:
# 1. Apple Premium Stack (LiDAR & Photonic)
df['is_apple_flagship_tech'] = df['main_cam_features'].str.contains('LiDAR|Photonic Engine', case=False, na=False).astype(int)

# 2. Advanced Focus & Optics (Zeiss & Laser AF)
df['has_laser_af'] = df['main_cam_features'].str.contains('Laser Auto Focus', case=False, na=False).astype(int)
df['has_zeiss_optics'] = df['main_cam_features'].str.contains(r'Zeiss Optics|Zeiss T\*', case=False, na=False).astype(int)

# 3. Stability & Professional Video (OIS & Cinematic/Movie)
df['has_pro_video_features'] = df['main_cam_features'].str.contains('Cinematic|Movie|Dual View', case=False, na=False).astype(int)

In [719]:
df['is_apple_flagship_tech'].value_counts()

is_apple_flagship_tech
0    1240
1      28
Name: count, dtype: int64

In [720]:
df['has_laser_af'].value_counts()

has_laser_af
0    1222
1      46
Name: count, dtype: int64

In [721]:
df['has_zeiss_optics'].value_counts()

has_zeiss_optics
0    1234
1      34
Name: count, dtype: int64

In [722]:
df['has_pro_video_features'].value_counts()

has_pro_video_features
0    1002
1     266
Name: count, dtype: int64

In [723]:
df[df['has_zeiss_optics'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
1144,Vivo V30 Pro 5G (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1145,Vivo V30 Pro 5G,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1148,Vivo V40 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1149,Vivo V40 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1150,Vivo V40 Pro (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1151,Vivo V40 Pro,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1152,Vivo V40,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1155,Vivo V50 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1156,Vivo V50 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1157,Vivo V50,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1159,Vivo V60 (12GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1160,Vivo V60 (16GB + 512GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1161,Vivo V60 (8GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1162,Vivo V60,"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1166,Vivo X Fold 5,"Dual LED Flash, HDR, Laser Auto Focus, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1167,Vivo X Fold3 Pro,"Dual LED Flash, HDR, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1168,Vivo X100 (16GB + 512GB),"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1169,Vivo X100 Pro,"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1170,Vivo X100,"3D LUT Support, HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1171,Vivo X200 (16GB + 512GB),"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1172,Vivo X200 FE (16GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1173,Vivo X200 FE,"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1174,Vivo X200 Pro,"3D LUT Support, HDR, HIGH-RES, Laser Auto Focus, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Super Macro, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1175,Vivo X200,"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1176,Vivo X300 (12GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1177,Vivo X300 (16GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1178,Vivo X300 Pro,"3D LUT Import, Colour Spectrum sensor, HDR, Laser AF, LED Flash, Panorama, Zeiss optics, Zeiss T* lens coating"
1179,Vivo X300,"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1180,Vivo X80 (12GB + 256GB),"Double Exposure, Dual LED Dual Tone Flash, Dual View, HDR, Laser AF, Panorama, Pixel Shift, Pro, Slow Motion, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1181,vivo X80 Pro,"Double Exposure, Dual LED Dual Tone Flash, HDR, Laser AF, Long Exposure, Micro, Movie, Night, Panorama, Pixel Shift, Portrait, Pro, Slow Motion, Time Lapse, Zeiss Optics, Zeiss T* Lens Coating"

In [724]:
df[df['is_apple_flagship_tech'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
14,Apple iPhone 15 (6GB + 256GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
15,Apple iPhone 15 (6GB + 512GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
22,Apple iPhone 15 Pro Max (8GB + 1TB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
23,Apple iPhone 15 Pro Max (8GB + 512GB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
24,Apple iPhone 15 Pro Max,"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
26,Apple iPhone 15,"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"

In [725]:
df[df['has_laser_af'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
29,Apple iPhone 16 Plus (8GB + 256GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
30,Apple iPhone 16 Plus (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
31,Apple iPhone 16 Plus,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
32,Apple iPhone 16 Pro (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
33,Apple iPhone 16 Pro (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
34,Apple iPhone 16 Pro Max (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
35,Apple iPhone 16 Pro Max (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
36,Apple iPhone 16 Pro Max,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
37,Apple iPhone 16 Pro,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
63,Google Pixel 10 Pro Fold,"Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR"
64,Google Pixel 10 Pro XL,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
65,Google Pixel 10 Pro,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
66,Google Pixel 10,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
278,Motorola Edge 50 Pro (12GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama"
279,Motorola Edge 50 Pro,"HDR, Laser Auto Focus, LED Flash, Panorama"
280,Motorola Edge 50 Ultra,"Assistive Grid, Audio Zoom, Dual LED Flash, HDR, Laser Auto Focus, Leveler, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Timelapse, Ultra HDR"
345,OnePlus 13R (16GB + 512GB),"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
346,OnePlus 13R,"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
349,OnePlus 15 (16GB + 512GB),"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
350,OnePlus 15,"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
439,Oppo Find X8 Pro,"Colour Spectrum sensor, Hasselblad Colour Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
442,Oppo Find X9 Pro,"Color Spectrum Sensor, Hasselblad Color Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
1018,Samsung Galaxy S23 FE (8GB + 256GB),"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1019,Samsung Galaxy S23 FE,"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1043,Samsung Galaxy S25 Plus (12GB + 512GB),"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"
1044,Samsung Galaxy S25 Plus,"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"

In [726]:
df[df['has_pro_video_features'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
0,Apple iPhone 14 (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
1,Apple iPhone 14 (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
2,Apple iPhone 14 Plus (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
3,Apple iPhone 14 Plus (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
4,Apple iPhone 14 Plus,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
13,Apple iPhone 14,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
42,Apple iPhone 17 (8GB + 512GB),"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
50,Apple iPhone 17,"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
107,Infinix Hot 30 5G (4GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
108,Infinix Hot 30 5G (8GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
109,Infinix Hot 30 5G,"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
116,Infinix Hot 60i 5G,"Dual LED Flash, Dual View, HDR, Night, Panorama, PRO, Slow Motion, Time Lapse"

In [727]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 117 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(22), int64(32), object(50)
memory usage: 1.0+ MB

In [728]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [729]:
df['cam_has_ois'] = ((df['cam_has_ois'] == 1) | df['main_cam_features'].str.contains('OIS', case=False, na=False)).astype(int)

In [730]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    658
1    610
Name: count, dtype: int64

In [731]:
df['main_video'].sample(20)

117                                                  1440p@30fps, 1080p@60fps
783                         4K@30fps, 1080p@30/60fps, 720p@30/60fps, EIS, OIS
231                                                                       NaN
1222                                                              1080p@30fps
399                                                               1080p@30fps
1107                                                              1080p@30fps
772     4K@30/60fps, 1080p@30/60/120fps, 720p@30/60/120/240fps, gyro-EIS, OIS
59                                         4K@30fps, 1080p@30/60fps, gyro-EIS
101                                                               1440p@30fps
147                                               4K@30/60fps, 1080p@30/60fps
420                                          4K@30fps, 1080p@30/60/120/480fps
906                                                     1080p@30fps, gyro-EIS
1081                                                              1080p@30fps
516                                                               1080p@30fps
146                                               4K@30/60fps, 1080p@30/60fps
662                                                               1080p@30fps
263                                        4K@30fps, 1080p@30/60fps, EIS, OIS
208                                                                  gyro-EIS
837                                                   1080p@30fps, 720p@30fps
984                                                     1080p@30fps, gyro-EIS
Name: main_video, dtype: object

In [732]:
def get_max_resolution(text):
    if pd.isna(text):
      return 'Unknown'

    res_upper = text.upper()

    if '8K' in res_upper:
        return '8K'
    elif '4K' in res_upper:
        return '4K'
    elif '1080P' in res_upper:
        return '1080p'
    elif '720P' in res_upper:
        return '720p'
    else:
        return 'Standard'

df['max_video_res'] = df['main_video'].apply(get_max_resolution).astype('category')

In [733]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [734]:
df['video_has_eis'] = df['main_video'].str.contains('EIS', case=True, na=False).astype(int)

In [735]:
df['video_has_eis'].value_counts()

video_has_eis
0    726
1    542
Name: count, dtype: int64

In [736]:
df['video_is_pro_grade'] = df['main_video'].str.contains(r'Dolby Vision|HDR10\+|10-bit', case=True, na=False).astype('int')

In [737]:
df['video_is_pro_grade'].value_counts()

video_is_pro_grade
0    1093
1     175
Name: count, dtype: int64

In [738]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 120 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
dtypes: category(13), datetime64[ns](1), float64(22), int64(34), object(50)
memory usage: 1.1+ MB

In [739]:
df['os'].sample(20)

291     Android 15, Motorola Hello UI
235         Android 14, Motorola MyUx
796            Android 13, Redmi MIUI
817            Android 12, Redmi MIUI
836            Android 11, Redmi MIUI
919                Android 14, One UI
1066               Android 16, One UI
162         Android 12, iQOO Funtouch
828            Android 14, Redmi MIUI
544             Android 13, Poco MIUI
869        Android 14, Xiaomi HyperOS
1191        Android 11, Vivo Funtouch
930                Android 12, One UI
1244        Android 15, Vivo Funtouch
1076        Android 12, Vivo Funtouch
160             Android 16, Origin OS
472               Android 14, ColorOS
1135        Android 13, Vivo Funtouch
1211        Android 14, Vivo Funtouch
1223        Android 14, Vivo Funtouch
Name: os, dtype: object

In [740]:
df['os_type'] = df['os'].str.extract(r'(Android|iOS|google android)')[0].str.lower().astype('category')

In [741]:
df['os_type'].value_counts(dropna=False)

os_type
android    1214
ios          54
Name: count, dtype: int64

In [742]:
df['os_version_num'] = df['os'].str.extract(r'(\d+)').astype(float)

In [743]:
df['os_version_num'].value_counts(dropna=False)

os_version_num
14.0    333
15.0    315
13.0    235
12.0    226
11.0     78
16.0     41
18.0     18
26.0     12
17.0     10
Name: count, dtype: int64

In [744]:
df['is_android_go'] = df['os'].str.contains('Go', case=False, na=False).astype(int)

In [745]:
df['is_android_go'].value_counts()

is_android_go
0    1229
1      39
Name: count, dtype: int64

In [746]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 123 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(23), int64(35), object(50)
memory usage: 1.1+ MB

In [747]:
df['software_updates'].sample(20)

313     3 year(s) of Software updates and 4 year(s) of Security updates
446     2 year(s) of Software updates and 3 year(s) of Security updates
117                          1 year(s) of Software and Security updates
571     2 year(s) of Software updates and 3 year(s) of Security updates
1227                         3 year(s) of Software and Security updates
409     3 year(s) of Software updates and 4 year(s) of Security updates
221     2 year(s) of Software updates and 3 year(s) of Security updates
785     2 year(s) of Software updates and 3 year(s) of Security updates
1087    1 year(s) of Software updates and 2 year(s) of Security updates
1059    4 year(s) of Software updates and 5 year(s) of Security updates
118     2 year(s) of Software updates and 3 year(s) of Security updates
491     2 year(s) of Software updates and 3 year(s) of Security updates
747     2 year(s) of Software updates and 3 year(s) of Security updates
574     2 year(s) of Software updates and 3 year(s) of Security updates
1122    2 year(s) of Software updates and 3 year(s) of Security updates
504     3 year(s) of Software updates and 4 year(s) of Security updates
328     3 year(s) of Software updates and 4 year(s) of Security updates
84      2 year(s) of Software updates and 1 year(s) of Security updates
626     2 year(s) of Software updates and 3 year(s) of Security updates
942                          4 year(s) of Software and Security updates
Name: software_updates, dtype: object

In [748]:
def get_years(text, keyword):
    if pd.isna(text): return 0

    text = text.lower()

    combined_match = re.search(r'(\d+)\s*year.*?software\s*and\s*security', text)
    if combined_match:
        return float(combined_match.group(1))

    specific_match = re.search(r'(\d+)\s*year.*?' + keyword.lower(), text)
    if specific_match:
        return float(specific_match.group(1))

    return 0

df['os_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'software'))
df['security_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'security'))

In [749]:
df['os_update_years'].value_counts(dropna=False)

os_update_years
2.0    540
3.0    256
4.0    145
1.0    102
7.0     78
0.0     65
5.0     44
6.0     38
Name: count, dtype: int64

In [750]:
df['security_update_years'].value_counts(dropna=False)

security_update_years
2.0    554
3.0    262
4.0    145
1.0    107
7.0     78
5.0     44
0.0     40
6.0     38
Name: count, dtype: int64

In [751]:
df[df['security_update_years'] == 0][['model','software_updates','security_update_years']].head(50)

,model,software_updates,security_update_years
111,Infinix Hot 30i (8GB + 128GB),NaN,0.0
112,Infinix Hot 30i,NaN,0.0
113,Infinix Hot 40i,NaN,0.0
134,Infinix Smart 10,NaN,0.0
228,Moto E13 (8GB + 128GB),NaN,0.0
229,Moto E13,NaN,0.0
250,Moto G54 Power (12GB + 256GB),NaN,0.0
251,Moto G54 Power,NaN,0.0
389,Oppo A3 Pro (8GB + 256GB),NaN,0.0
392,Oppo A3x 4G (4GB + 128GB),NaN,0.0
421,Oppo F27 5G (8GB + 256GB),NaN,0.0
423,Oppo F27 Pro Plus 5G (8GB + 256GB),NaN,0.0
430,Oppo F31 5G,NaN,0.0
431,Oppo F31 Pro (12GB + 256GB),NaN,0.0
432,Oppo F31 Pro (8GB + 256GB),NaN,0.0
435,Oppo F31 Pro,NaN,0.0
438,Oppo Find X8 (16GB + 512GB),NaN,0.0
475,Oppo Reno14 5G (12GB + 512GB),NaN,0.0
593,Realme 14 Pro Lite 5G (8GB + 256GB),NaN,0.0
636,Realme C31 (4GB + 64GB),NaN,0.0
642,Realme C51 (4GB + 128GB),NaN,0.0
643,Realme C51,NaN,0.0
668,Realme C75 5G (6GB + 128GB),NaN,0.0
669,Realme C75 5G,NaN,0.0
714,Realme Narzo 60X 5G (6GB + 128GB),NaN,0.0
715,Realme Narzo 60X 5G,NaN,0.0
767,Realme P3 Pro 5G (12GB + 256GB),NaN,0.0
768,Realme P3 Pro 5G (8GB + 256GB),NaN,0.0
799,Redmi 12C (6GB + 128GB),NaN,0.0
800,Redmi 12C,NaN,0.0
823,Redmi A3 (4GB + 128GB),NaN,0.0
824,Redmi A3 (6GB + 128GB),NaN,0.0
1090,Vivo T2x 5G,NaN,0.0
1187,Vivo Y02t,NaN,0.0
1188,Vivo Y100,NaN,0.0
1220,Vivo Y28 5G,NaN,0.0
1233,Vivo Y31 5G (6GB + 128GB),NaN,0.0
1234,Vivo Y31 5G,NaN,0.0
1239,Vivo Y36,NaN,0.0
1247,Vivo Y58 5G,NaN,0.0

In [752]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 125 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
dtypes: category(14), datetime64[ns](1), float64(25), int64(35), object(50)
memory usage: 1.1+ MB

In [753]:
df['ai_features'].sample(30)

829                                                                                                                                                NaN
620                                                                                                                                          AI Camera
484                                                                                                                                                NaN
1113                                                                                      AI Note Assist, AI Portrait, AI Transcript, Circle to Search
968                                                                                                                                                NaN
178                                                                                                             AI Battery Life, AI Camera, AI Display
347     AI Assistant, AI Battery Life, AI Call Summary, AI Camera Editing, AI Display, AI Documents, AI Eraser 2.0, AI Frame Stabilization, AI Summary
498                                                                                                                                                NaN
1139                                                                                                                                               NaN
133                                                                                                    AI Generative Wallpapers, AI Notes, AI Portrait
550                                                              AI Beauty, AI Cutout, AI Enhancements, AI Night Mode, AI Sky, AI Smart Clips, AI Zoom
422                                                                                                                                                NaN
384                                                                                                                                          AI Camera
236                                                                                                                                                NaN
174                                    AI Camera, AI De-glare, AI Detail Boost, AI Display, AI Erase, AI Game Assist, AI Note Assist, AI Photo Enhance
213                                                                                                                                                NaN
599                                                                                                                           AI Clear Face, AI Eraser
312                                                                                                                                   Circle to Search
562                                                                                                          AI Beauty, AI Scene Recognition, AI Video
629                                                                                                         AI Beauty, AI Camera, AI Scene recognition
319                                                                                                                                 AI Smart Backlight
1251                                                                                                                                               NaN
841                                                                                                                                                NaN
1207                                                                                                                                         AI Camera
1225                                                                                                                                               NaN
1233                                                                       AI Erase, AI Screen Translation, AI SuperLink, Circle to Search with Google
197                                                                                                             AI Documents, AI Erase, AI Translation
28                                                                                                                                  Apple Intelligence
482                                                                                                                                 Noise Cancellation
681                                                                            Eraser, Motion Deblur, Night Vision, Recording Summary, Sketch to Image
Name: ai_features, dtype: object

In [754]:
df['has_gen_ai'] = df['ai_features'].str.contains(r'Galaxy AI|Apple Intelligence|Circle|Eraser|Gemini|Assist|Generative|Summary|Writer|Interpreter|Reimage').astype(float)
df['has_gen_ai'] = df['has_gen_ai'].fillna(0).astype(int)

In [755]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [756]:
df['has_ai_camera'] = df['ai_features'].str.contains(r'AI Camera|AI Beauty|Scene recognition|AI HDR|Portrait').astype(float)
df['has_ai_camera'] = df['has_ai_camera'].fillna(0)

In [757]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    876
1.0    392
Name: count, dtype: int64

In [758]:
# Agar phone Gen-AI hai, toh Basic AI ko 0 kar do taaki overlap na ho
df.loc[df['has_gen_ai'] == 1, 'has_ai_camera'] = 0

In [759]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [760]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    940
1.0    328
Name: count, dtype: int64

In [761]:
df['ai_feature_count'] = df['ai_features'].apply(lambda x: len(str(x).split(',')) if pd.notna(x) else 0)

In [762]:
df['ai_feature_count'] = df['ai_feature_count'].astype(int)

In [763]:
df['ai_feature_count'].value_counts(dropna=False)

ai_feature_count
0     488
1     333
3     122
4     110
2     103
5      56
7      24
6      13
9      10
8       5
11      3
10      1
Name: count, dtype: int64

In [764]:
df[df['ai_feature_count'] == 6][['model','ai_features','has_gen_ai','has_ai_camera']]

,model,ai_features,has_gen_ai,has_ai_camera
170,iQOO Neo 10 (12GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
171,iQOO Neo 10 (16GB + 512GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
172,iQOO Neo 10 (8GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
182,iQOO Neo 10,"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
345,OnePlus 13R (16GB + 512GB),"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
346,OnePlus 13R,"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
649,Realme C55,"AI Beauty, AI Camera, AI HDR, AI Night Mode, AI Portrait, AI Scene Recognition",0,1.0
1038,Samsung Galaxy S25 (12GB + 512GB),"Browsing assist, Call assist, Chat assist, Interpreter, Note assist, Photo assist",1,0.0
1150,Vivo V40 Pro (12GB + 512GB),"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1151,Vivo V40 Pro,"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1155,Vivo V50 (12GB + 512GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1156,Vivo V50 (8GB + 256GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1157,Vivo V50,"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0

In [765]:
df['cam_secondary_mp'] = pd.to_numeric(df['cam_secondary_mp'])

In [766]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 128 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(27), int64(37), object(49)
memory usage: 1.1+ MB

In [780]:
df['front_cam'].sample(30)

910                         13 MP, f/2.0, (Wide), 1.12 µm, 1/3.1"
935                   32 MP, f/2.2, 26mm  (Wide), 0.8 µm, 1/2.74"
825                                             5 MP, f/2.2, 1 µm
1184                  32 MP, f/2.45, 24mm  (Wide), 0.8 µm, 1/2.8"
59                16 MP, f/2.0, 24mm  (Wide), 82.4°, 1 µm, 1/3.1"
379                      8 MP, f/2.0, 26mm  (Wide-angle), 1.12 µm
1097     50 MP, f/2.0, 21mm  (Wide), 0.64 µm, 1/2.76", Auto Focus
1172                                         50 MP, f/2.0, (Wide)
419                   32 MP, f/2.4, 22mm  (Wide), 0.8 µm, 1/2.74"
802                                   13 MP, f/2.45, (Wide), 1 µm
767     16 MP, f/2.4, 24mm  (Wide-angle), 1 µm, 1/3.09", Panorama
737     8 MP, f/2.0, 26mm  (Wide), 80°, 1.12 µm, 1/4.0", Panorama
919                                13 MP, f/2.2, 1.12 µm, 1/3.06"
1255                         16 MP, f/2.45, (Wide), 1 µm, 1/3.06"
355               32 MP, f/2.4, (Wide-angle), 0.8 µm, 1/2.8", EIS
1049                          10 MP, f/2.4, 26mm  (Wide), 1.22 µm
455               8 MP, f/2.0, 25mm  (Wide), 80°, 1.12 µm, 1/4.0"
657                       8 MP, f/2.0, (Wide), 78°, 0.64 µm, 1/4"
768     16 MP, f/2.4, 24mm  (Wide-angle), 1 µm, 1/3.09", Panorama
1217                                          8 MP, f/2.0, (Wide)
851                      16 MP, f/2.5, 0mm  (Wide), 1 µm, 1/3.06"
746                       8 MP, f/2.0, (Wide), 78°, 0.64 µm, 1/4"
11                  12 MP, f/1.9, 23mm  (Wide), 1/3.6", OIS, PDAF
776                                     16 MP, f/2.4, (Wide), 85°
916                                           8 MP, f/2.2, 0.8 µm
1140              50 MP, f/2.4, 22mm  (Wide), 1.12 µm, Auto Focus
879                                    8 MP, f/2.2, 26mm, 1.12 µm
732                                   16 MP, f/2.4, (Single), 85°
803                                        8 MP, f/2.0, 0mm, 1 µm
922                            13 MP, f/2.2, 0mm, 1.12 µm, 1/3.1"
Name: front_cam, dtype: object

In [775]:
df['front_cam_mp'] = df['front_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(float)

In [776]:
df['front_cam_mp'].value_counts(dropna=False)

front_cam_mp
16.0    316
8.0     254
32.0    203
5.0     122
50.0    116
13.0     88
12.0     82
10.0     26
20.0     26
18.0     12
4.0       7
42.0      5
10.5      4
64.0      3
40.0      2
44.0      2
Name: count, dtype: int64

In [777]:
df['is_front_af'] = df['front_cam'].str.contains('Auto Focus|PDAF|AF').astype(int)

In [778]:
df['is_front_af'].value_counts()

is_front_af
0    1060
1     208
Name: count, dtype: int64

In [781]:
df['front_eis'] = df['front_cam'].str.contains('EIS|gyro-EIS').astype(int)

In [782]:
df['front_eis'].value_counts()

front_eis
0    1219
1      49
Name: count, dtype: int64

In [785]:
df['is_dual_front'] = df['front_cam2'].notna().astype(int)

In [786]:
df['is_dual_front'].value_counts()

is_dual_front
0    1259
1       9
Name: count, dtype: int64

In [788]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 132 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(40), object(49)
memory usage: 1.2+ MB

In [790]:
df['front_cam_features'].sample(30)

1145                     Dual-LED Flash, Face Unlock, HDR, Night, Portrait
1097                                     Face Unlock, HDR, Night, Portrait
1108                                          Face unlock, Night, Portrait
287                                                            Face Unlock
997                                               Face Unlock, Fixed Focus
606                                                            Face unlock
281                                                       Face Unlock, HDR
0                                    Auto Focus, Cinematic mode (4k@30fps)
925                                               Face Unlock, Fixed Focus
425                                                               Portrait
789                                                                    NaN
1194                                                           Face unlock
390                     Face Unlock, Night, Panorama, Portrait, Time-lapse
348                                                                    NaN
84                  Dual Video, Gesture control, Portrait Mode, Time-lapse
388                               Face Unlock, Night, Portrait, Time-lapse
1036                                     Auto-HDR, Dual Video Call, HDR10+
391                                                            Face Unlock
859                                                                    NaN
1077                                                           Face Unlock
38                                                              Auto Focus
56                                                                     NaN
1161                                    HdR, Night, Portrait, Zeiss optics
682                                                                    NaN
852     HDR, Night Mode, Palm Shutter, Panorama, Portrait Mode, Time Lapse
1216                                      Night, Portrait, Pro, Time Lapse
226                                             Face Unlock, Portrait Mode
1084                                                                   NaN
91                                                             Face unlock
1135                                                                   NaN
Name: front_cam_features, dtype: object

In [793]:
df['has_front_pro_features'] = df['front_cam_features'].str.contains(r'Cinematic|Dual Video|Time-lapse|Pro|Zeiss', case=False, na=False).astype(int)

In [794]:
df['has_front_pro_features'].value_counts()

has_front_pro_features
0    1009
1     259
Name: count, dtype: int64

In [796]:
df['has_front_flash'] = df['front_cam_features'].str.contains('Flash', case=False, na=False).astype(int)

In [797]:
df['has_front_flash'].value_counts()

has_front_flash
0    1191
1      77
Name: count, dtype: int64

In [798]:
df['is_zeiss_front'] = df['front_cam_features'].str.contains('Zeiss',case=False, na=False).astype(int)

In [799]:
df['is_zeiss_front'].value_counts()

is_zeiss_front
0    1256
1      12
Name: count, dtype: int64

In [800]:
df['has_face_unlock'] = df['front_cam_features'].str.contains('Face unlock', case=False, na=False).astype(int)

In [801]:
df['has_face_unlock'].value_counts()

has_face_unlock
0    744
1    524
Name: count, dtype: int64