<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [315]:
import pandas as pd
import numpy as np
import re

In [316]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [317]:
df = pd.read_csv('/content/12_jan_smartphones_coloumns_for_ml.csv')

In [318]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN

In [319]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 57 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
dtypes: float64(1), int64(2), object(54)
memory usage: 564.8+ KB

In [320]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [321]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [322]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [323]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [324]:
df['brand'].count()

np.int64(1268)

In [325]:
df['brand'] = df['brand'].astype('category')

In [326]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [327]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [328]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [329]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [330]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [331]:
df['rating_count'] = df['rating_count'].astype('float64')

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(53)
memory usage: 566.7+ KB

In [333]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [334]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [335]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [336]:
df.drop(columns='market_status',inplace=True)

In [337]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [338]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [339]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [340]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(51)
memory usage: 566.7+ KB

In [341]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [342]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [343]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [344]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [345]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [346]:
df['old_price'] = df['old_price'].str.replace(',','')

In [347]:
df['old_price'] = df['old_price'].astype('float')

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(50)
memory usage: 566.7+ KB

In [349]:
df['price'] = df['price'].str.replace('₹','')

In [350]:
df['price'] = df['price'].str.replace(',','')

In [351]:
df['price'] = df['price'].astype('int')

In [352]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(49)
memory usage: 566.7+ KB

In [353]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [354]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  brand                1268 non-null   category
 57  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(48)
memory usage: 566.7+ KB

In [355]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [356]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [357]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [358]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [359]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [360]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [361]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [362]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  brand                  1268 non-null   category
 54  is_available           1268 non-null   int64
 55  is_flipkart_available  1268 non-null   int64
 56  is_amazon_available    1268 non-null   int64
 57  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(45)
memory usage: 566.7+ KB

In [363]:
df['display_type'].sample(10)

43     Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, Anti Reflection Coating
192                            AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
720                          ProXDR OLED, 120 Hz Refresh Rate, HDR, 180 Hz Touch Sampling Rate
447                                  LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
717                              AMOLED, 120 Hz Refresh Rate, SDR, 2200 Hz Touch Sampling Rate
381          Fluid AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
722                          ProXDR OLED, 120 Hz Refresh Rate, HDR, 180 Hz Touch Sampling Rate
450                               AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
88                                                   AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
150                              IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [364]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [365]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [366]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [367]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [368]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [369]:
df['display_type'].sample(10)

1235                                                                                  IPS LCD, 120 Hz Refresh Rate, SDR
1043    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate, Anti Reflection Coating
624                                                   Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
698                                     Smooth Display AMOLED, 120 Hz Refresh Rate, HDR10+, 1000 Hz Touch Sampling Rate
554                                                                               Super AMOLED, 90 Hz Refresh Rate, SDR
757                                                   ProXDR OLED, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
602                                                       IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
135                                                                                    IPS LCD, 60 Hz Refresh Rate, SDR
41                                        Super Retina XDR OLED, 60 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
1045    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate, Anti Reflection Coating
Name: display_type, dtype: object

In [370]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [371]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [372]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [373]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [374]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [375]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [376]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [377]:
df['display_hz'].dtypes

dtype('int64')

In [378]:
df['display_type'].sample(20)

293                 p-OLED, 120 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
1248                                             AMOLED, 60 Hz Refresh Rate, SDR
836              Dot AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
591                                               OLED, 120 Hz Refresh Rate, SDR
291                                         IPS LCD, 120 Hz Refresh Rate, HDR10+
397                IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
909                                        Super AMOLED, 90 Hz Refresh Rate, SDR
191             HDR AMOLED, 120 Hz Refresh Rate, HDR, 300 Hz Touch Sampling Rate
185        AMOLED, 144 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate
783                    LCD, 144 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
683     E4 AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 360 Hz Touch Sampling Rate
230                                             IPS LCD, 90 Hz Refresh Rate, SDR
1077               IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
579                IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
849                                       Super AMOLED, 120 Hz Refresh Rate, SDR
735                 AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
519                                             IPS LCD, 90 Hz Refresh Rate, SDR
785                                             IPS LCD, 60 Hz Refresh Rate, SDR
170           AMOLED, 144 Hz Refresh Rate, LTPO, SDR, 360 Hz Touch Sampling Rate
329        Fluid AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [379]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [380]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [381]:
df['display_dynamic_range'].count()

np.int64(1268)

In [382]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

952     Super AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
803                                  Dot IPS LCD, 90 Hz Refresh Rate, SDR
927                                Super AMOLED, 120 Hz Refresh Rate, SDR
247         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
231          IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
845       Dot AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
228                                                          IPS LCD, SDR
1190          AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
774         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
953     Super AMOLED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
133         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
96           AMOLED, 144 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
298                                      IPS LCD, 90 Hz Refresh Rate, SDR
886                                      PLS LCD, 60 Hz Refresh Rate, SDR
664          IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1202             LED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
591                                        OLED, 120 Hz Refresh Rate, SDR
823          IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
829         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
821          IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [383]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [384]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 62 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  brand                  1268 non-null   category
 54  is_available           1268 non-null   int64
 55  is_flipkart_available  1268 non-null   int64
 56  is_amazon_available    1268 non-null   int64
 57  is_official_available  1268 non-null   int64
 58  display_panel_type     1268 non-null   object
 59  display_panel_family   1268 non-null   category
 60  display_hz             1268 non-null   int64
 61  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(46)
memory usage: 589.4+ KB

In [385]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

1034    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
683                                      E4 AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 360 Hz Touch Sampling Rate
795                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
425                   AMOLED, 120 Hz Refresh Rate, LTPO, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
426                   AMOLED, 120 Hz Refresh Rate, LTPO, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
517                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
98                                                   AMOLED, 144 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
110                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 270 Hz Touch Sampling Rate
782                                                     LCD, 144 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1148                                              AMOLED, 120 Hz Refresh Rate, HDR10+, 480 Hz Touch Sampling Rate
1147                                                 AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
445                                                      LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
169                                            E5 AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
769                                                    OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
252                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
413                                                   IPS LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
101                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
644                                                  IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
284                                              p-OLED, 120 Hz Refresh Rate, HDR10+, 1500 Hz Touch Sampling Rate
435                                                  AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [386]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [387]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [388]:
df['display_type'].sample(20)

53                                    Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, Anti Reflection Coating
1109                                                          AMOLED, 120 Hz Refresh Rate, HDR10+, 480 Hz Touch Sampling Rate
317                                                    AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
226                                                             IPS LCD, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
667                                                             IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
949                                                                                          IPS LCD, 90 Hz Refresh Rate, SDR
399                                                               IPS LCD, 60 Hz Refresh Rate, SDR, 60 Hz Touch Sampling Rate
529                                                             IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
338                                                                    ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
214                                                         Ultra AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
895                                                                                          IPS LCD, 90 Hz Refresh Rate, SDR
568                                                             IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
461                                                       OLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
32      Super Retina XDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 120 Hz Touch Sampling Rate, Anti Reflection Coating
89                                                                          HDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
139                                                              IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
420                                                                                       AMOLED, 120 Hz Refresh Rate, HDR10+
1142                                                          AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
336                                        ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
316                                                    AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [389]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [390]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [391]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [392]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [393]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [394]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [395]:
df['display_type'].sample(20)

806                                                           Dot IPS LCD, 90 Hz Refresh Rate, SDR
407                                      LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
835                         IPS LCD, 144 Hz Refresh Rate, Dolby Vision, 270 Hz Touch Sampling Rate
398                                  IPS LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
791                                                               TFT IPS, 60 Hz Refresh Rate, SDR
296                                   IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
92                                                                AMOLED, 120 Hz Refresh Rate, SDR
348                                         ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
912                                                          Super AMOLED, 90 Hz Refresh Rate, SDR
76                                                                  OLED, 120 Hz Refresh Rate, HDR
571                         ProXDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
232                                                               IPS LCD, 90 Hz Refresh Rate, SDR
260                                                               AMOLED, 120 Hz Refresh Rate, SDR
778                                AMOLED, 144 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
176    E4 AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate, Anti Reflection Coating
346             ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
323                         AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
655                                  IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
675                             AMOLED, 120 Hz Refresh Rate, LTPO, HDR, 360 Hz Touch Sampling Rate
647                                   IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [396]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 65 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(46)
memory usage: 619.1+ KB

In [397]:
df['display_size'].sample(20)

171                    6.78 inches, 111 cm², 90.4% Screen To Body Ratio
780                 6.8 inches Curved Display, 94% Screen To Body Ratio
117                                               6.7 inches, 108.4 cm²
348                   6.32 inches, 97.9 cm², 90.6% Screen To Body Ratio
574        6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
1147    6.78 inches Curved Display, 111 cm², 93.3% Screen To Body Ratio
162                                6.56 inches Curved Display, 75.1 cm²
48                    6.9 inches, 116.7 cm², 90.7% Screen To Body Ratio
567                    6.72 inches, 109 cm², 91.4% Screen To Body Ratio
183                    6.78 inches, 111 cm², 90.8% Screen To Body Ratio
450                              6.8 inches, 93.5% Screen To Body Ratio
831                    6.88 inches, 112.4 cm², 90% Screen To Body Ratio
794                  6.58 inches, 104.3 cm², 83.6% Screen To Body Ratio
298                  6.56 inches, 103.4 cm², 84.9% Screen To Body Ratio
36                    6.9 inches, 115.6 cm², 92.3% Screen To Body Ratio
400                    6.72 inches, 109 cm², 91.4% Screen To Body Ratio
1178                6.78 inches, 111.5 cm², 94.85% Screen To Body Ratio
1058    6.85 inches Flip Display, 111.2 cm², 88.7% Screen To Body Ratio
788                     6.5 inches, 102 cm², 83.4% Screen To Body Ratio
297                  6.56 inches, 103.4 cm², 84.9% Screen To Body Ratio
Name: display_size, dtype: object

In [398]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [399]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [400]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [401]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [402]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [403]:
df['display_inches'].count()

np.int64(1268)

In [404]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [405]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 66 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(46)
memory usage: 629.0+ KB

In [406]:
df['display_size'].sample(20)

60                        6.67 inches, 107.4 cm², 85.1% Screen To Body Ratio
912                          6.7 inches, 110.2 cm², 86% Screen To Body Ratio
330                          6.7 inches, 108 cm², 87.9% Screen To Body Ratio
580                         6.72 inches, 109 cm², 91.4% Screen To Body Ratio
394                       6.67 inches, 107.2 cm², 89.9% Screen To Body Ratio
190                      6.74 inches, 109.7 cm², 85.19% Screen To Body Ratio
168                                                     6.78 inches, 111 cm²
684                                   6.8 inches, 94.7% Screen To Body Ratio
1141         6.78 inches Curved Display, 111 cm², 89.9% Screen To Body Ratio
1093                      6.56 inches, 103.4 cm², 83.6% Screen To Body Ratio
342     6.82 inches Quad Curved Display, 113 cm², 90.7% Screen To Body Ratio
1039                       6.7 inches, 107.1 cm², 92.1% Screen To Body Ratio
577                         6.72 inches, 109 cm², 91.4% Screen To Body Ratio
533                      6.67 inches, 107.4 cm², 92.02% Screen To Body Ratio
662                         6.72 inches, 109 cm², 91.4% Screen To Body Ratio
1211                      6.67 inches, 107.4 cm², 86.8% Screen To Body Ratio
105                         6.58 inches, 104.3 cm², 82% Screen To Body Ratio
855                                                   6.67 inches, 107.4 cm²
742                         6.72 inches, 109 cm², 91.4% Screen To Body Ratio
1214                      6.58 inches, 104.3 cm², 83.4% Screen To Body Ratio
Name: display_size, dtype: object

In [407]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [408]:
df['display_body_ratio'].count()

np.int64(1036)

In [409]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [410]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [411]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [412]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(46)
memory usage: 638.9+ KB

In [413]:
df['display_size'].sample(20)

925                                                 6.6 inches, 106.9 cm²
578                      6.72 inches, 109 cm², 91.4% Screen To Body Ratio
97                                6.78 inches, 93.7% Screen To Body Ratio
140                    6.59 inches, 104.6 cm², 90.8% Screen To Body Ratio
1110                                      6.77 inches Quad Curved Display
196                    6.72 inches, 108.8 cm², 86.2% Screen To Body Ratio
1131                                  6.78 inches Curved Display, 111 cm²
5                          6.1 inches, 91.7 cm², 87% Screen To Body Ratio
277                      6.4 inches, 97.5 cm², 90.2% Screen To Body Ratio
166                                                6.62 inches, 105.8 cm²
706                     6.6 inches, 104.9 cm², 90.7% Screen To Body Ratio
412                     6.43 inches, 99.8 cm², 90.8% Screen To Body Ratio
1135     6.78 inches Curved Display, 111 cm², 93.53% Screen To Body Ratio
273                                 6.55 inches Curved Display, 103.6 cm²
1120                     6.72 inches, 109.4 cm², 86% Screen To Body Ratio
592     6.77 inches Curved Display, 110.9 cm², 93.7% Screen To Body Ratio
338       6.82 inches Curved Display, 113 cm², 90.8% Screen To Body Ratio
251                       6.5 inches, 102 cm², 85.5% Screen To Body Ratio
1124    6.56 inches Curved Display, 104.6 cm², 89.5% Screen To Body Ratio
1098      6.78 inches Curved Display, 111 cm², 90.2% Screen To Body Ratio
Name: display_size, dtype: object

In [414]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [415]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [416]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [417]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [418]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(46)
memory usage: 648.8+ KB

In [419]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [420]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [421]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(46)
memory usage: 658.8+ KB

In [422]:
df['display_res'].sample(20)

584                 FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(High Brightness), 600 nits(Typical Brightness), TUV Rheinland certification, 6000000:1 Contrast Ratio
452                                                         1.5K, 1280 x  2800 pixels, (453 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1600 nits(High Brightness), 600 nits(Typical Brightness), Blue Light Filters
187                                                                                                                          FHD+, 1080 x  2392 pixels, (388 ppi), 8-bit colours, 60% DCI-P3, 5000 nits(Peak Brightness)
1007                                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness)
84                                             FHD+, 1080 x  2412 pixels, 20.1:9 (390 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), TUV Rheinland certification
4                                                             FHD+, 1284 x  2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio
1158                                                                         1.5K, 1080 x  2392 pixels, (387 ppi), 10-bit colours, 100% DCI-P3, 1800 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
446                                                                                       HD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(High Brightness), Blue Light Filters
745                                                           HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 560 nits(High Brightness), 450 nits(Typical Brightness), Blue Light Filters, 1500:1 Contrast Ratio
959                                                                                                                    FHD+, 1080 x  2340 pixels, 19.5:9 (396 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness)
151                                                                                                                                FHD+, 1080 x  2400 pixels, 20.5:9 (388 ppi), 8-bit colours, 500 nits(Peak Brightness)
519                                                                           HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(Peak Brightness), 450 nits(High Brightness), 450 nits(Typical Brightness)
315     1.5K, 1260 x  2800 pixels, 20:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
1087                                                                                                                               FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit colours, 1300 nits(Peak Brightness)
451                                                         1.5K, 1280 x  2800 pixels, (453 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1600 nits(High Brightness), 600 nits(Typical Brightness), Blue Light Filters
951                                                                                                   FHD+, 1080 x  2340 pixels, 20:9 (399 ppi), 8-bit 16 Million Colours, 800 nits(Peak Brightness), Eye Comfort Shield
819                                                                                                                                    HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 400 nits(Peak Brightness)
1027                                                       FHD+, 1080 x  2340 pixels, 19.5:9 (416 ppi), 10-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), Eye Comfort Shield, 5000000:1 Contrast Ratio
121                                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)
1141                                                          FHD+, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2800 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
Name: display_res, dtype: object

In [423]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [424]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [425]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [426]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [427]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [428]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [429]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [430]:
df['res_category'] = df['res_category'].astype('category')

In [431]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [432]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(46)
memory usage: 660.2+ KB

In [433]:
df['display_res'].sample(20)

483                                                                                                                                                    HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 400 nits(Peak Brightness)
10                                               1.5K, 1290 x  2796 pixels, 19.5:9 (460 ppi), 8-bit colours, 83% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
815                                              HD+, 720 x  1600 pixels, 20:9 (254 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 810 nits(Peak Brightness), 660 nits(High Brightness), TUV Rheinland certification, 1200:1 Contrast Ratio
758                                                               FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 600 nits(Typical Brightness), 6000000:1 Contrast Ratio
58                                                                          FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit 1 Billion Colours, 107% DCI-P3, 2500 nits(Peak Brightness), 1600 nits(High Brightness), Blue Light Filters
362                                                                           1.5K, 1272 x  2800 pixels, 19.8:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 1400 nits(High Brightness), PWM Dimming
266                                                                                                                          FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 500 nits(Peak Brightness)
620                                                                                             FHD+, 1080 x  2412 pixels, 20:9 (400 ppi), 8-bit 16.7 Million Colours, 96% NTSC, 600 nits(High Brightness), 480 nits(Typical Brightness)
459                                                                              FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), 600 nits(High Brightness), PWM Dimming
125                                                                  FHD+, 1080 x  2436 pixels, 20:9 (393 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1300 nits(High Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
1170                                                                          FHD+, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
141                                                                                                                                                    HD+, 720 x  1612 pixels, 20:9 (267 ppi), 8-bit colours, 500 nits(Peak Brightness)
622                                                                                                                                                                             FHD+, 1080 x  2412 pixels, 20:9 (400 ppi), 8-bit colours
91                                                                                        FHD, 1220 x  2652 pixels, 19.9:9 (429 ppi), 10-bit 1.07 Billion Colours, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), PWM Dimming
927                                                                                                                           FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit colours, 1200 nits(High Brightness), Blue Light Filters
1236                                                                                                 FHD+, 1080 x  2408 pixels, (393 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1050 nits(Peak Brightness), TUV Rheinland certification
229                                                                                                                                                                               HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours
956                                                                                                                                                                                                            FHD+, 1080 x  2340 pixels
505     1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68.7 Billion Colours, 100% DCI-P3, 2400 nits(Peak Brightness), 1200 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
510                                                                                                                 FHD+, 1080 x  2400 pixels, 20:9 (401 ppi), 8-bit colours, 70% NTSC, 500 nits(High Brightness), 1500:1 Contrast Ratio
Name: display_res, dtype: object

In [434]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [435]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [436]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [437]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [438]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [439]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [440]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [441]:
df['res_width'].count()

np.int64(1268)

In [442]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [443]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  display_pixels               1268 non-null   object
 71  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(47)
memory usage: 680.0+ KB

In [444]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [445]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [446]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [447]:
df.loc[[1055,1058],'res_height'] = 2520

In [448]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [449]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [450]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  display_pixels               1268 non-null   object
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(47)
memory usage: 689.9+ KB

In [451]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [452]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(46)
memory usage: 680.0+ KB

In [453]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [454]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [455]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [456]:
df['x'].sample(20)

1093      20
569       20
922     19.5
254       20
1170      20
1036    19.3
164       20
631       20
521       20
867       20
628       20
809       20
1142      20
271       20
75        20
49      19.5
913     19.5
754       20
211       20
335       20
Name: x, dtype: object

In [457]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [458]:
df['y'].sample(20)

1258      9
89        9
1126      9
231       9
872       9
811       9
193       9
597     NaN
690       9
1116      9
668     NaN
344       9
640       9
1082      9
1235    NaN
518       9
1057    NaN
394       9
1199      9
890       9
Name: y, dtype: object

In [459]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [460]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [461]:
df['aspect_ration_numeric'].sample(20)

718     2.222222
637     2.222222
608          NaN
835     2.277778
590     2.222222
818     2.222222
712     2.222222
594     2.222222
154     2.222222
417     2.222222
960     2.166667
541     2.222222
1047    2.166667
1224    2.222222
809     2.222222
948     2.222222
834     2.277778
854     2.222222
329     2.233333
464          NaN
Name: aspect_ration_numeric, dtype: float64

In [462]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  helper                       1266 non-null   object
 73  aspect_ration_numeric        1185 non-null   float64
 74  x                            1185 non-null   float64
 75  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(47)
memory usage: 719.6+ KB

In [464]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [465]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(46)
memory usage: 689.9+ KB

In [466]:
df['display_res'].sample(20)

190                                                                                                            HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 83% NTSC, 1000 nits(High Brightness), TUV Rheinland certification
1074                                                                                                                                                               FHD+, 1080 x  2400 pixels, 20:9 (408 ppi), 8-bit colours, 100% DCI-P3
485                                                                                                                      HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 400 nits(Peak Brightness), 400 nits(Typical Brightness)
871                                                                 1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
507     1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68.7 Billion Colours, 100% DCI-P3, 2400 nits(Peak Brightness), 1200 nits(High Brightness), 500 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
569                                          FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(High Brightness), 600 nits(Typical Brightness), Blue Light Filters, 5000000:1 Contrast Ratio
252                                                                                                                FHD+, 2400 x  1080 pixels, 20:9 (391 ppi), 8-bit 16.7 Million Colours, 1050 nits(Peak Brightness), Blue Light Filters
755                     FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
200                                                                                                                       FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1300 nits(Peak Brightness)
678                                                                                                 1.5K, 1264 x  2780 pixels, (450 ppi), 10-bit colours, 100% DCI-P3, 6000 nits(Peak Brightness), PWM Dimming, 5000000:1 Contrast Ratio
211                                               FHD+, 1080 x  2400 pixels, 20:9 (387 ppi), 10-bit 1.07 Billion Colours, 1300 nits(High Brightness), 1300 nits(Typical Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
21                                             1.5K, 1179 x  2556 pixels, 19.5:9 (461 ppi), 10-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
14                     FHD+, 1179 x  2256 pixels, 19.5:9 (460 ppi), 8-bit 1.07 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), DC Dimming, 2000000:1 Contrast Ratio
693                                                               FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
32                                1.5K, 1206 x  2622 pixels, 19.5:9 (458 ppi), 10-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
309                                                                                                          FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 1600 nits(Peak Brightness), 1000 nits(High Brightness)
126                                                                   FHD+, 1080 x  2436 pixels, 20:9 (393 ppi), 8-bit 1 Billion Colours, 100% DCI-P3, 1300 nits(High Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
113                                                                                                                                HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 480 nits(Peak Brightness), Eye Comfort Shield
1098                                                                       1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
376                                          FHD+, 1080 x  2392 pixels, 19.9:9 (387 ppi), 10-bit colours, 100% DCI-P3, 1430 nits(Peak Brightness), 1300 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification
Name: display_res, dtype: object

In [467]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [468]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [469]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [470]:
df.loc[[1055,1058],'display_ppi'] = 397

In [471]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [472]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [473]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [474]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [475]:
df['display_ppi'].count()

np.int64(1268)

In [476]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [477]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(46)
memory usage: 699.8+ KB

In [478]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [479]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [480]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [481]:
df['color_depth'] = df['color_depth'].fillna(8)

In [482]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [483]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [484]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [485]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [486]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [487]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(46)
memory usage: 719.6+ KB

In [488]:
df['display_res'].sample(20)

1000                                                                                                                                    FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 100% DCI-P3
132                                                                                                        HD+, 720 x  1600 pixels, 20:9 (263 ppi), 8-bit colours, 672 nits(Peak Brightness), 560 nits(Typical Brightness)
177                                                                 FHD+, 1080 x  2400 pixels, 20:9 (398 ppi), 8-bit colours, 100% DCI-P3, 1300 nits(Peak Brightness), SGS Display Certification, 6000000:1 Contrast Ratio
972                                                                                           HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16 Million Colours, 85% DCI-P3, 400 nits(Peak Brightness), Eye Comfort Shield
0                                                                                             FHD+, 1170 x  2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio
1010                                                                                                 FHD+, 1080 x  2340 pixels, 19.5:9 (382 ppi), 8-bit 16 Million Colours, 1200 nits(Peak Brightness), Blue Light Filters
694                                                 FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
1124                                                                                                                                                              FHD+, 1080 x  2376 pixels, 20:9 (398 ppi), 8-bit colours
334                                                                                FHD+, 1240 x  2772 pixels, 20:9 (450 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1450 nits(Peak Brightness), SGS Display Certification
447                                                                                          HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(High Brightness), Blue Light Filters
80                                                    1.5K, 1280 x  2856 pixels, 20:9 (495 ppi), 8-bit colours, 100% DCI-P3, 3000 nits(Peak Brightness), 2000 nits(High Brightness), PWM Dimming, 2000000:1 Contrast Ratio
338                           QHD+, 1440 x  3168 pixels, 19.8:9 (510 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 600 nits(Typical Brightness), Blue Light Filters
1221                                                                                                               HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 83% NTSC, 840 nits(High Brightness), DC Dimming
320     FHD+, 1084 x  2392 pixels, 19.5:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1300 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
406                                                                                HD+, 720 x  1570 pixels, 19.5:9 (256 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1125 nits(Peak Brightness), 700 nits(High Brightness)
957                                                                                                                                                                                              FHD+, 1080 x  2340 pixels
1202                                                                                              HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 70% NTSC, 840 nits(Peak Brightness), TUV Rheinland certification
871                                                   1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
945                                                                                                                          HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness)
480                      FHD, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness), SGS Display Certification
Name: display_res, dtype: object

In [489]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [490]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [491]:
df['helper'] = pd.to_numeric(df['helper'])

In [492]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [493]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [494]:
df.drop(columns='helper',inplace=True)

In [495]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(46)
memory usage: 729.6+ KB

In [496]:
df['body_dimension'].sample(20)

201          164 x 75.8 x 8.3 mm
952        160.1 x 76.8 x 9.3 mm
159     163.37 x 76.71 x 8.13 mm
937        162.2 x 77.5 x 7.4 mm
1000       164.4 x 77.9 x 7.7 mm
256     161.56 x 73.82 x 8.89 mm
1235      165.7 x 76.3 x 8.09 mm
1128     158.9 x 73.52 x 8.62 mm
504          163.2 x 76 x 7.7 mm
1216      164.3 x 76.1 x 8.38 mm
1064      158.4 x 143.2 x 4.2 mm
203          164 x 75.8 x 8.3 mm
486        164.9 x 76.8 x 9.1 mm
1078      159.7 x 73.6 x 8.49 mm
960        161.7 x 77.2 x 8.8 mm
399            163.7 x 75 x 8 mm
1189    158.91 x 73.53 x 7.73 mm
907        160.1 x 76.8 x 8.4 mm
1210    163.17 x 75.81 x 7.79 mm
1251    163.65 x 76.19 x 8.34 mm
Name: body_dimension, dtype: object

In [497]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [498]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [499]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [500]:
df['height_mm'].isnull().sum()

np.int64(0)

In [501]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [502]:
df['width_mm'].isnull().sum()

np.int64(0)

In [503]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [504]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [505]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [506]:
df['thickness_mm'].sample(20)

47      8.75
976      7.6
778     7.68
425      7.7
1197    8.39
1040     5.8
129     8.26
234        8
7        7.9
1137     7.5
856      8.9
960      8.8
927      7.4
1167     5.2
624     7.99
746     7.74
521      8.1
1248    7.41
894      8.8
1104    7.89
Name: thickness_mm, dtype: object

In [507]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [508]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [509]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [510]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [511]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [512]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 80 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(46)
memory usage: 759.3+ KB

In [513]:
df['weight'].sample(20)

999       222 grams
814       211 grams
736       181 grams
863       205 grams
163       204 grams
180     194.5 grams
61        185 grams
324       201 grams
1191      179 grams
36        227 grams
605       187 grams
407       212 grams
286       186 grams
35        227 grams
1098      192 grams
1179      190 grams
689     194.5 grams
594       188 grams
1002      176 grams
1018      209 grams
Name: weight, dtype: object

In [514]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [515]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [516]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [517]:
df['body_front'].sample(20)

412                 Glass
627     Dragontrail Glass
21                  Glass
389                 Glass
537                 Glass
259                 Glass
894                 Glass
846       Gorilla Glass 3
1104         Shield Glass
684                 Glass
1116                Glass
904                 Glass
1201                Glass
217                 Glass
1095                Glass
415                 Glass
1073                Glass
1059     Ultra Thin Glass
920                 Glass
814                 Glass
Name: body_front, dtype: object

In [518]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [519]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [520]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [521]:
df['front_potection'] = df['front_potection'].astype('category')

In [522]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 771.1+ KB

In [523]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [524]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [525]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [526]:
df['back_material'] = df['back_material'].astype('category')

In [527]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [528]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [529]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [530]:
df['frame_material'] = df['frame_material'].astype('category')

In [531]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 774.2+ KB

In [532]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [533]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [534]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [535]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 85 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(46)
memory usage: 775.6+ KB

In [536]:
df['ports'].sample(20)

1254                                    USB Type-C 2.0, OTG
408                    USB Type-C 2.0, 3.5mm Headphone Jack
661                    USB Type-C 2.0, 3.5mm Headphone Jack
386               OTG, USB Type-C 2.0, 3.5mm Headphone Jack
709                 microUSB 2.0, OTG, 3.5mm Headphone Jack
469                               USB Type-C, Infrared Port
902                    USB Type-C 2.0, 3.5mm Headphone Jack
463                      USB Type-C 2.0, Infrared Port, OTG
975                    USB Type-C 2.0, 3.5mm Headphone Jack
770                      USB Type-C 2.0, Infrared Port, OTG
230                    USB Type-C 2.0, 3.5mm Headphone Jack
564                                     USB Type-C 2.0, OTG
540     USB Type-C 2.0, 3.5mm Headphone Jack, Infrared Port
362                           USB Type-C 2.0, Infrared Port
955                                     USB Type-C 2.0, OTG
1108              USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1222              USB Type-C 2.0, 3.5mm Headphone Jack, OTG
542                    USB Type-C 2.0, 3.5mm Headphone Jack
777                                              USB Type-C
1249                  USB Type-C, 3.5mm Headphone Jack, OTG
Name: ports, dtype: object

In [537]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [538]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [539]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [540]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [541]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [542]:
df['ports'].sample(20)

594                           USB Type-C 2.0, OTG
335                 USB Type-C 2.0, Infrared Port
42                   USB Type-C 2.0, Display Port
1145                              USB Type-C, OTG
562                           USB Type-C 2.0, OTG
1153                          USB Type-C 2.0, OTG
703     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1217             USB Type-C, 3.5mm Headphone Jack
1195    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
698                           USB Type-C 2.0, OTG
772            USB Type-C 2.0, Infrared Port, OTG
1069         USB Type-C 2.0, 3.5mm Headphone Jack
674            USB Type-C 2.0, Infrared Port, OTG
235     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
91                            USB Type-C 2.0, OTG
1059             USB Type-C 3.2, Display Port 1.2
592                                    USB Type-C
1089    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
386     OTG, USB Type-C 2.0, 3.5mm Headphone Jack
451                           USB Type-C 2.0, OTG
Name: ports, dtype: object

In [543]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [544]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [545]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [546]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [547]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [548]:
df['ports'].sample(20)

587                                         USB Type-C, OTG
647               USB Type-C 2.0, 3.5mm Headphone Jack, OTG
862               USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1004                                    USB Type-C 2.0, OTG
1234                                    USB Type-C 2.0, OTG
124               USB Type-C 2.0, 3.5mm Headphone Jack, OTG
223                                         USB Type-C, OTG
83                                      USB Type-C 2.0, OTG
570                                         USB Type-C, OTG
1223              USB Type-C 2.0, 3.5mm Headphone Jack, OTG
912                                          USB Type-C 2.0
608                                          USB Type-C 2.0
1198              USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1220              USB Type-C 2.0, 3.5mm Headphone Jack, OTG
112               OTG, USB Type-C 2.0, 3.5mm Headphone Jack
535     USB Type-C 2.0, 3.5mm Headphone Jack, Infrared Port
455                   USB Type-C, 3.5mm Headphone Jack, OTG
103                    USB Type-C 2.0, 3.5mm Headphone Jack
1259                          USB Type-C 2.0, Infrared Port
826                        USB Type-C, 3.5mm Headphone Jack
Name: ports, dtype: object

In [549]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [550]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [551]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [552]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 90 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(46)
memory usage: 816.6+ KB

In [553]:
df['ip_rating'].sample(20)

896                                       NaN
767     IP66/68/69 (Dust and Water Resistant)
198                                       NaN
333           IP64 (Dust and Water Resistant)
1227          IP64 (Dust and Water Resistant)
35            IP68 (Dust and Water Resistant)
1172       IP68/69 (Dust and Water Resistant)
371                                       NaN
1057          IP48 (Dust and Water Resistant)
884           IP67 (Dust and Water Resistant)
1204          IP64 (Dust and Water Resistant)
335           IP64 (Dust and Water Resistant)
695                                       NaN
72            IP68 (Dust and Water Resistant)
1234       IP68/69 (Dust and Water Resistant)
939           IP67 (Dust and Water Resistant)
575           IP65 (Dust and Water Resistant)
197           IP64 (Dust and Water Resistant)
969                                       NaN
131           IP64 (Dust and Water Resistant)
Name: ip_rating, dtype: object

In [554]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [555]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [556]:
df['water_resistance_level'].count()

np.int64(1268)

In [557]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 91 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(46)
memory usage: 818.0+ KB

In [558]:
df['speaker'].sample(30)

1068                                             Quad Speaker
1255    Hi-Res Audio, Stereo Speakers, Tuned by Harman Kardon
958                                               Loudspeaker
752                                           Stereo Speakers
1117                                          Stereo Speakers
89                                            Stereo Speakers
1145                                             Mono Speaker
945                                               Loudspeaker
261                                           Stereo Speakers
903                                              Mono Speaker
675                                           Stereo Speakers
717              Dual-mic Noise Cancellation, Stereo Speakers
1001                                             Mono Speaker
208                                               Loudspeaker
783                                           Stereo Speakers
723              Dual-mic Noise Cancellation, Stereo Speakers
926                                           Stereo Speakers
866                                           Stereo Speakers
896                                              Mono Speaker
525                                              Mono Speaker
922                                           Stereo Speakers
450                                           Stereo Speakers
962                                               Loudspeaker
99                                            Stereo Speakers
860                       Hi-Res wireless audio, Mono Speaker
264                                           Stereo Speakers
1164                                          Stereo Speakers
1091                                          Stereo Speakers
160                                           Stereo Speakers
808                                              Mono Speaker
Name: speaker, dtype: object

In [559]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [560]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [561]:
df['speaker'].sample(20)

1114                                          Stereo Speakers
798                                 Loudspeaker, Mono Speaker
462                                           Stereo Speakers
283                   Stereo Speakers (Dolby Atmos Certified)
881                                           Stereo Speakers
172                                           Stereo Speakers
694                                           Stereo Speakers
691                                           Stereo Speakers
815                                              Mono Speaker
286                   Stereo Speakers (Dolby Atmos Certified)
1164                                          Stereo Speakers
224                                           Stereo Speakers
1254    Hi-Res Audio, Stereo Speakers, Tuned by Harman Kardon
979                                              Mono Speaker
854                                           Stereo Speakers
969                                              Mono Speaker
1086                                             Mono Speaker
318                                               Loudspeaker
452                                           Stereo Speakers
1265                                          Stereo Speakers
Name: speaker, dtype: object

In [562]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [563]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [564]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 93 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
 91  has_stereo_speakers          1268 non-null   int64
 92  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(46)
memory usage: 837.8+ KB

In [565]:
df['chipset'].sample(20)

229                                Unisoc T606 (12 nm), 246197 Antutu Score
1047    Qualcomm Snapdragon 8 Elite for Galaxy (3 nm), 2795139 Antutu Score
111                                Unisoc T606 (12 nm), 246197 Antutu Score
833                               Unisoc T7250 (12 nm), 308467 Antutu Score
453                    MediaTek Dimensity 8450 (4 nm), 1675507 Antutu Score
276                Qualcomm Snapdragon 7s Gen 2 (4 nm), 600033 Antutu Score
149            MediaTek Dimensity 8200 Ultimate (4 nm), 936175 Antutu Score
231                         MediaTek Helio G37 (12 nm), 152974 Antutu Score
205                 Qualcomm Snapdragon 4 Gen 1 (6 nm), 414048 Antutu Score
258                          MediaTek Helio G99 (6 nm), 422909 Antutu Score
52                               Apple A19 Pro (3 nm), 1817247 Antutu Score
406                                          MediaTek Dimensity 6300 (6 nm)
257                     Qualcomm Snapdragon 695 (6 nm), 443228 Antutu Score
745                          Unisoc Tiger T612 (12 nm), 244837 Antutu Score
947                    Qualcomm Snapdragon 680G (6 nm), 308333 Antutu Score
479                      MediaTek Dimensity 900 (6 nm), 515609 Antutu Score
164                Qualcomm Snapdragon 8 Gen 1 (4 nm), 1245739 Antutu Score
206                    Qualcomm Snapdragon 778G (6 nm), 597171 Antutu Score
294                Qualcomm Snapdragon 6s Gen 3 (6 nm), 500600 Antutu Score
449                 Qualcomm Snapdragon 6 Gen 4 (4 nm), 512465 Antutu Score
Name: chipset, dtype: object

In [566]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [567]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [568]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [569]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [570]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [571]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand                       chipset_brand
150         mediatek                       dimensity 920
618         mediatek                       dimensity 810
581         mediatek                      dimensity 6300
499         mediatek                      dimensity 6300
913          samsung                         exynos 1330
474         mediatek                      dimensity 8350
1              apple                          a15 bionic
442         mediatek                      dimensity 9500
506         qualcomm                 snapdragon 8s gen 3
885         qualcomm                     snapdragon 778g
1015        qualcomm  snapdragon 8 plus gen 1 for galaxy
861         qualcomm                 snapdragon 7s gen 2
705         mediatek                           helio g96
566         mediatek                 dimensity 6100 plus
541         qualcomm                      snapdragon 695
422         mediatek                      dimensity 6300
1089        mediatek                      dimensity 6020
43             apple                             a19 pro
798         qualcomm                  snapdragon 4 gen 2
378         mediatek                 dimensity 8350 apex

In [572]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
 91  has_stereo_speakers          1268 non-null   int64
 92  has_audio_certification      1268 non-null   int64
 93  processor_brand              1268 non-null   category
 94  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(47)
memory usage: 849.2+ KB

In [573]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [574]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [575]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [576]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [577]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [578]:
df['chipset_brand'].sample(20)

1245          dimensity 700
887         snapdragon 750g
1150    dimensity 9200 plus
27                      a18
301          snapdragon 695
851          dimensity 1080
1130         dimensity 7200
659          dimensity 6300
883             exynos 1280
694          dimensity 8100
867          dimensity 6080
457          dimensity 7050
1256         snapdragon 888
408          dimensity 6300
649               helio g88
1160     snapdragon 7 gen 4
4                a15 bionic
806               helio g85
1027     snapdragon 8 gen 3
162     snapdragon 888 plus
Name: chipset_brand, dtype: object

In [579]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [580]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [581]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [582]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [583]:
df['antutu_score'].sample(20)

30      1605038.0
1038    2795139.0
958      396590.0
1118     679810.0
973      264823.0
391      264823.0
644      244837.0
1076     443228.0
620      597171.0
502      818358.0
1154     679810.0
569      578522.0
1244     679810.0
673     1650000.0
574      600033.0
33      1660345.0
939      597171.0
919      471697.0
1002     515609.0
1068    1546735.0
Name: antutu_score, dtype: float64

In [584]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [585]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
 91  has_stereo_speakers          1268 non-null   int64
 92  has_audio_certification      1268 non-null   int64
 93  processor_brand              1268 non-null   category
 94  chipset_brand                1266 non-null   object
 95  chipset_nm                   1258 non-null   float64
 96  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(47)
memory usage: 869.0+ KB

In [586]:
df['cpu'].sample(20)

1227                                                                                              Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
974                                                                                               Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
500                                                                                               Octa-core (2x2.0 GHz Cortex-A78 & 6x1.8 GHz Cortex-A55)
1248                                                                                             Octa-core (2x2.05 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
815                                                                                               Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
1210                                                                                                                   Octa-core (2×2.2 GHz & 6×1.95 GHz)
1154                                                                                              Octa-core (4x2.5 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
920                                                                                               Octa-core (4x2.4 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
990                                                                                               Octa-core (2x2.4 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
767                                                                     Octa-core (1x2.5 GHz Cortex-A720 & 3x2.4 GHz Cortex-A720 & 4x1.8 GHz Cortex-A520)
720                                                                                               Octa-core (4x2.5 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
640                                                                                               Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
1121                                                                                              Octa-core (2x2.5 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
395                                                                                                      Octa-core (2x2.4 GHz Cortex-A76 & 6x Cortex-A55)
250                                                                                               Octa-core (2x2.2 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
699                                                                                               Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
1033    Deca-core (3.2 GHz, Single core, Cortex X4 + 2.9 GHz, Dual core, Cortex A720 + 2.6 GHz, Tri core, Cortex A720 + 1.95 GHz, Quad core, Cortex A520)
999                                                                                               Octa-core (4x2.4 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
141                                                                                               Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55)
375                                                                                       Octa-core (2x2.2 GHz Kryo 660 Gold & 6x1.7 GHz Kryo 660 Silver)
Name: cpu, dtype: object

In [587]:
df['cpu_core_count'] = df['cpu'].str.strip().str.split(' ').str.get(0)

In [588]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
Octa-core    1193
Hexa-core      54
Deca-core      13
Quad-core       4
Nona-core       4
Name: count, dtype: int64

In [589]:
def extract_core_count(text):

  t = text.lower()

  if 'octa' in t:
    return 8

  if 'hexa' in t:
    return 6

  if 'deca' in t:
    return 10

  if 'quad' in t:
    return 4

  if 'nona' in t:
    return 9

df['cpu_core_count'] = df['cpu_core_count'].apply(extract_core_count)

In [590]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
8     1193
6       54
10      13
4        4
9        4
Name: count, dtype: int64

In [591]:
df['cpu_max_ghz'] = df['cpu'].str.extract(r'(\d+\.?\d*)\s*[Gg]*\s*[Gg]Hz', flags=re.IGNORECASE)

In [592]:
df['cpu_max_ghz'].value_counts(dropna=False)

cpu_max_ghz
2.4     235
2.2     195
2.5     122
2.0      83
2.6      58
1.8      43
3.0      38
2.8      38
2.3      33
3.2      32
3.1      27
3.35     26
3.3      25
2.63     22
2.40     20
4.32     19
1.6      16
3.19     16
3.46     14
3.00     13
2.05     13
4.26     12
3.25     12
3.36     11
2.85     11
4.04      9
2.84      9
3.05      8
4.21      7
NaN       7
3.78      7
4.47      7
4.6       6
3.23      6
4.05      6
3.63      6
2.35      6
2.9       6
3.21      6
3.39      5
3.4       5
2.80      4
2.7       4
2.75      4
3.73      4
3         3
2.99      3
2.30      2
2.91      2
2.1       1
3.20      1
Name: count, dtype: int64

In [593]:
df['cpu_max_ghz'] = pd.to_numeric(df['cpu_max_ghz'])

In [594]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 99 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
 91  has_stereo_speakers          1268 non-null   int64
 92  has_audio_certification      1268 non-null   int64
 93  processor_brand              1268 non-null   category
 94  chipset_brand                1266 non-null   object
 95  chipset_nm                   1258 non-null   float64
 96  antutu_score                 1237 non-null   float64
 97  cpu_core_count               1268 non-null   int64
 98  cpu_max_ghz                  1261 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(18), int64(22), object(47)
memory usage: 888.8+ KB

In [595]:
df['gpu_brand'] = df['gpu'].str.lower().str.strip().str.split(' ').str.get(0)

In [596]:
df['gpu_brand'] = df['gpu_brand'].str.replace('-',' ')

In [597]:
df[df['gpu_brand'] == 'unspecified']['gpu']

137    Unspecified
Name: gpu, dtype: object

In [598]:
df.loc[137,'gpu_brand'] = np.nan

In [599]:
df['gpu_brand'].value_counts(dropna=False)

gpu_brand
adreno              454
mali g57            243
mali g68             95
arm                  79
mali g615            57
apple                54
mali g52             50
powervr              42
mali g610            34
img                  29
xclipse              22
NaN                  19
mali                 19
mali g77             12
immortalis g720      12
mali g710            10
immortalis g715       9
mali g720             7
immortalis g925       6
immortalis g715s      6
mali g715             5
mali g78              2
ge8322                2
Name: count, dtype: int64

In [600]:
df['gpu_brand'] = df['gpu_brand'].astype('category')

In [601]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 100 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  brand                        1268 non-null   category
 54  is_available                 1268 non-null   int64
 55  is_flipkart_available        1268 non-null   int64
 56  is_amazon_available          1268 non-null   int64
 57  is_official_available        1268 non-null   int64
 58  display_panel_type           1268 non-null   object
 59  display_panel_family         1268 non-null   category
 60  display_hz                   1268 non-null   int64
 61  display_dynamic_range        1268 non-null   category
 62  touch_sampling_rate          852 non-null    float64
 63  has_ltpo                     1268 non-null   int64
 64  has_anti_reflection_coating  1268 non-null   int64
 65  display_inches               1268 non-null   float64
 66  display_body_ratio           1036 non-null   float64
 67  has_curved                   1268 non-null   int64
 68  has_foldable                 1268 non-null   int64
 69  res_category                 1268 non-null   category
 70  res_width                    1268 non-null   int64
 71  res_height                   1268 non-null   int64
 72  aspect_ration_numeric        1185 non-null   float64
 73  display_ppi                  1268 non-null   float64
 74  color_depth                  1268 non-null   float64
 75  peak_brightness              1206 non-null   float64
 76  has_high_contrast            1268 non-null   int64
 77  height_mm                    1268 non-null   float64
 78  width_mm                     1268 non-null   float64
 79  thickness_mm                 1268 non-null   float64
 80  weight_g                     1268 non-null   float64
 81  front_potection              1268 non-null   category
 82  back_material                1268 non-null   category
 83  frame_material               1268 non-null   category
 84  durability_cert              1268 non-null   category
 85  has_3_5mm_jack               1268 non-null   int64
 86  usb_type                     1268 non-null   category
 87  usb_version                  1268 non-null   float64
 88  has_otg                      1268 non-null   int64
 89  has_ir_blaster               1268 non-null   int64
 90  water_resistance_level       1268 non-null   category
 91  has_stereo_speakers          1268 non-null   int64
 92  has_audio_certification      1268 non-null   int64
 93  processor_brand              1268 non-null   category
 94  chipset_brand                1266 non-null   object
 95  chipset_nm                   1258 non-null   float64
 96  antutu_score                 1237 non-null   float64
 97  cpu_core_count               1268 non-null   int64
 98  cpu_max_ghz                  1261 non-null   float64
 99  gpu_brand                    1249 non-null   category
dtypes: category(12), datetime64[ns](1), float64(18), int64(22), object(47)
memory usage: 890.8+ KB

In [602]:
df['main_cam'].sample(20)

1202                                                          13 MP, f/2.2, (Wide-angle)
148                                108 MP, f/1.65, 24mm (Wide-angle), 1/1.67", OIS, PDAF
575     50 MP, f/1.8, 24mm (Wide-angle), 84°, 1 µm, 1/1.56", Multi-directional PDAF, OIS
799                                50 MP, f/1.8, 0mm (Wide-angle), 0.7 µm, 1/1.28", PDAF
1003                                 108 MP, f/1.8, (Wide-angle), 0.64 µm, 1/1.67", PDAF
94                  108 MP, f/1.75, 24mm (Wide-angle), 0.64 µm, 1/1.67", Auto Focus, OIS
1131                          50 MP, f/1.9, 0mm (Wide-angle), 0.8 µm, 1/1.56", OIS, PDAF
219                              50 MP, f/1.79, (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
878                                                  50 MP, f/1.8, (Wide-angle), 0.64 µm
1088                                      50 MP, f/1.8, 26mm (Wide-angle), 0.64 µm, PDAF
712                                          108 MP, f/1.8, 26mm (Wide-angle), OIS, PDAF
555              108 MP, f/1.75, 23.6mm (Wide-angle), 0.64 µm, 1/1.67", Auto Focus, PDAF
1010                  50 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.56", Auto Focus, OIS, PDAF
621                           48 MP, f/1.8, 26mm (Wide-angle), 79.8°, 0.8 µm, 1/2", PDAF
529                                50 MP, f/1.8, 23mm (Wide-angle), 0.8 µm, 1/2.9", PDAF
773                                       50 MP, f/1.8, 27mm (Wide-angle), 0.64 µm, PDAF
840                                    108 MP, f/1.9, 26mm (Wide-angle), 0.7 µm, 1/1.52"
1056                50 MP, f/1.8, 23mm (Wide-angle), 1 µm, 1/1.57", Dual Pixel PDAF, OIS
165                                   48 MP, f/1.8, 25mm (Wide-angle), 0.8 µm, OIS, PDAF
1133                              50 MP, f/1.9, (Wide-angle), 0.8 µm, 1/1.56", OIS, PDAF
Name: main_cam, dtype: object

In [603]:
df['cam_primary_mp'] = df['main_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('int')

In [604]:
df['cam_primary_mp'].value_counts(dropna=False)

cam_primary_mp
50     850
64      91
48      82
108     79
13      48
8       37
200     35
32      25
12      15
16       5
100      1
Name: count, dtype: int64

In [605]:
df['cam_aperture'] = df['main_cam'].str.split(',').str.get(1).str.split('/').str.get(1).str.strip()

In [606]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8        726
1.9         80
1.88        60
1.79        60
1.7         53
1.6         53
1.75        42
2.2         42
2.0         40
1.5         19
1.78        18
1.68        14
1.89        13
1.65         9
1.85         7
NaN          6
1.57         6
1.69         5
2.6          4
1.4          3
1.59         3
1.63         2
1.4-2.0      1
1.6-f        1
1.62         1
Name: count, dtype: int64

In [607]:
df[df['cam_aperture'] == '1.6-f'][['main_cam','model']]

,main_cam,model
1262,"50 MP, f/1.6-f/4.0, 23mm (Wide-angle), 3.2 µm, 1.0"", Auto Focus, Multi-directional PDAF, OIS",Xiaomi 14 Ultra

In [608]:
df.loc[89,'cam_aperture'] = '1.4'
df.loc[1262,'cam_aperture'] = '1.6'

In [609]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8     726
1.9      80
1.88     60
1.79     60
1.6      54
1.7      53
1.75     42
2.2      42
2.0      40
1.5      19
1.78     18
1.68     14
1.89     13
1.65      9
1.85      7
1.57      6
NaN       6
1.69      5
1.4       4
2.6       4
1.59      3
1.63      2
1.62      1
Name: count, dtype: int64

In [610]:
df['cam_aperture'] = pd.to_numeric(df['cam_aperture'])

In [611]:
df['main_cam'].sample(20)

1082                                           50 MP, f/1.8, 0mm (Wide-angle), Auto Focus
846                         108 MP, f/1.9, 26mm (Wide-angle), 0.7 µm, 1/1.52", Auto Focus
194                                             50 MP, f/1.79, (Wide-angle), 1/1.95", OIS
375                      50 MP, f/1.8, 25mm (Wide-angle), 0.8 µm, 1/1.95", EIS, OIS, PDAF
1049               12 MP, f/1.8, 24mm (Wide-angle), 1.8 µm, 1/1.76", Dual Pixel PDAF, OIS
552                           50 MP, f/1.5, 26mm (Wide-angle), 0.8 µm, 1/1.96", OIS, PDAF
93                                108 MP, f/1.75, (Wide-angle), 1/1.67", Auto Focus, PDAF
877                                               50 MP, f/1.8, 0mm (Wide-angle), 0.64 µm
53      48 MP, f/1.6, 26mm (Wide-angle), 1 µm, 1/1.56", Dual Pixel PDAF, Sensor-Shift OIS
880                                         50 MP, f/1.8, 26mm (Wide-angle), 0.64 µm, OIS
583                              50 MP, f/1.8, 26mm (Wide-angle), 79°, 1/1.95", OIS, PDAF
533                           50 MP, f/1.5, 26mm (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
240                                      50 MP, f/1.8, 0mm (Wide-angle), 0.64 µm, 1/2.76"
563                    200 MP, f/1.69, 23mm (Wide-angle), 85°, 0.56 µm, 1/1.4", OIS, PDAF
120                                              50 MP, f/1.6, (Wide-angle), 1/2.8", PDAF
70           64 MP, f/1.89, 26mm (Wide-angle), 80°, 0.8 µm, 1/1.73", Dual Pixel PDAF, OIS
1206                                                           13 MP, f/2.2, (Wide-angle)
311                             50 MP, f/1.9, 24mm (Wide-angle), 1 µm, 1/1.56", OIS, PDAF
271                      50 MP, f/1.8, (Wide-angle), 1/1.55", Multi-directional PDAF, OIS
902                                              50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF
Name: main_cam, dtype: object

In [612]:
def extract_ois(text):

  t = text.lower()

  if 'ois' in t:
    return 1

  return 0

df['cam_has_ois'] = df['main_cam'].apply(extract_ois)

In [613]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [614]:
df['cam_sensor_size'] = df['main_cam'].str.extract(r'1/(\d+\.\d+)')

In [615]:
df['cam_sensor_size'].value_counts(dropna=False)

cam_sensor_size
NaN     546
1.56    192
1.95    108
2.76     78
1.67     36
1.28     31
2.0      28
1.4      21
1.57     20
2.88     20
1.3      19
1.55     18
1.52     18
1.31     15
3.1      14
1.96     14
1.49     11
1.97      9
1.43      8
4.0       7
2.55      6
2.8       5
3.06      5
1.76      5
1.72      4
1.73      4
2.5       4
2.9       4
1.7       3
1.5       3
3.0       3
1.22      2
1.33      2
2.74      1
2.93      1
3.6       1
0.98      1
1.0       1
Name: count, dtype: int64

In [616]:
df['cam_sensor_size'] = pd.to_numeric(df['cam_sensor_size'])

In [618]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 104 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   brand                        1268 non-null   category
 54   is_available                 1268 non-null   int64
 55   is_flipkart_available        1268 non-null   int64
 56   is_amazon_available          1268 non-null   int64
 57   is_official_available        1268 non-null   int64
 58   display_panel_type           1268 non-null   object
 59   display_panel_family         1268 non-null   category
 60   display_hz                   1268 non-null   int64
 61   display_dynamic_range        1268 non-null   category
 62   touch_sampling_rate          852 non-null    float64
 63   has_ltpo                     1268 non-null   int64
 64   has_anti_reflection_coating  1268 non-null   int64
 65   display_inches               1268 non-null   float64
 66   display_body_ratio           1036 non-null   float64
 67   has_curved                   1268 non-null   int64
 68   has_foldable                 1268 non-null   int64
 69   res_category                 1268 non-null   category
 70   res_width                    1268 non-null   int64
 71   res_height                   1268 non-null   int64
 72   aspect_ration_numeric        1185 non-null   float64
 73   display_ppi                  1268 non-null   float64
 74   color_depth                  1268 non-null   float64
 75   peak_brightness              1206 non-null   float64
 76   has_high_contrast            1268 non-null   int64
 77   height_mm                    1268 non-null   float64
 78   width_mm                     1268 non-null   float64
 79   thickness_mm                 1268 non-null   float64
 80   weight_g                     1268 non-null   float64
 81   front_potection              1268 non-null   category
 82   back_material                1268 non-null   category
 83   frame_material               1268 non-null   category
 84   durability_cert              1268 non-null   category
 85   has_3_5mm_jack               1268 non-null   int64
 86   usb_type                     1268 non-null   category
 87   usb_version                  1268 non-null   float64
 88   has_otg                      1268 non-null   int64
 89   has_ir_blaster               1268 non-null   int64
 90   water_resistance_level       1268 non-null   category
 91   has_stereo_speakers          1268 non-null   int64
 92   has_audio_certification      1268 non-null   int64
 93   processor_brand              1268 non-null   category
 94   chipset_brand                1266 non-null   object
 95   chipset_nm                   1258 non-null   float64
 96   antutu_score                 1237 non-null   float64
 97   cpu_core_count               1268 non-null   int64
 98   cpu_max_ghz                  1261 non-null   float64
 99   gpu_brand                    1249 non-null   category
 100  cam_primary_mp               1268 non-null   int64
 101  cam_aperture                 1262 non-null   float64
 102  cam_has_ois                  1268 non-null   int64
 103  cam_sensor_size              722 non-null    float64
dtypes: category(12), datetime64[ns](1), float64(20), int64(24), object(47)
memory usage: 930.4+ KB

In [621]:
df['main_cam2'].sample(20)

563                                                                      8 MP, f/2.2, 16mm  (Ultra-wide), 112°
1022                10 MP, f/4.9, 230mm  (Periscope), 1.12 µm, 1/3.52", 10x Optical Zoom, Dual Pixel PDAF, OIS
85                                             50 MP, f/2.4, (Telephoto), 0.8 µm, 2.5x Optical Zoom, OIS, PDAF
22      12 MP, f/2.8, 120mm  (Periscope), 1.12 µm, 1/3.06", 5x Optical Zoom, Dual Pixel PDAF, Sensor-Shift OIS
1030                                  8 MP, f/2.4, 75mm  (Telephoto), 1 µm, 1/4.4", 3x Optical Zoom, OIS, PDAF
390                                                                         2 MP, f/2.4, (Depth), 89°, 0.64 µm
1138                                                                8 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/4.0"
178                                                                                       2 MP, f/2.4, (Macro)
25                                        12 MP, f/2.8, 77mm  (Telephoto), 1.22 µm, 3x Optical Zoom, OIS, PDAF
891                                                                                       2 MP, f/2.4, (Depth)
1212                                                                                      2 MP, f/2.4, (Macro)
1192                                                                                 2 MP, f/2.4, 0mm  (Macro)
686                                                       8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4"
664                                                                                                        NaN
689                                                     8 MP, f/2.3, 15mm  (Ultra-wide), 119°, 1.12 µm, 1/4.0"
813                                                                                       0.08 MP, (Auxiliary)
530                                                                                                       2 MP
945                                                                                       2 MP, f/2.4, (Depth)
731                                                                            2 MP, f/2.4, 22mm  (Depth), 89°
684                                                       8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4"
Name: main_cam2, dtype: object

In [633]:
df['cam_secondary_mp'] = df['main_cam2'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0)

In [634]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2              390
8              333
50             125
0.08            97
12              82
NaN             54
5               45
10              39
13              31
48              19
64              15
32              10
(Auxiliary)      7
0.03             6
f/2.4            5
16               4
f/2.8            2
10.8             2
180              1
200              1
Name: count, dtype: int64

In [646]:
df[df['cam_secondary_mp'] == '(Auxiliary)'][['model','main_cam2']]

                             model    main_cam2
136  Infinix Smart 7 (4GB + 128GB)  (Auxiliary)
138                Infinix Smart 7  (Auxiliary)
484                       Poco C50  (Auxiliary)
489                       Poco C55  (Auxiliary)
745               Realme Narzo N61  (Auxiliary)
830      Redmi A4 5G (6GB + 128GB)  (Auxiliary)
831                    Redmi A4 5G  (Auxiliary)

In [647]:
df.loc[[638,639,739,740,741,744,753],'cam_secondary_mp'] = 2
df.loc[[136,138,484,489,745,830,831], 'cam_secondary_mp'] = 0.08

In [648]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2       390
8       333
50      125
0.08     97
12       82
NaN      54
5        45
10       39
13       31
48       19
64       15
32       10
0.08      7
2         7
0.03      6
16        4
10.8      2
180       1
200       1
Name: count, dtype: int64

In [657]:
def has_telephoto(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'telephoto' in t:
    return 1

  if 'periscope' in t:
    return 1

  return 0

df['has_telephoto'] = df['main_cam2'].apply(has_telephoto)

In [658]:
df['has_telephoto'].value_counts()

has_telephoto
0    1082
1     186
Name: count, dtype: int64

In [663]:
df['main_cam2'].sample(20)

1021    10 MP, f/2.4, 70mm  (Telephoto), 1.22 µm, 1/3.94", 3x Optical Zoom, OIS, PDAF
370                                                     2 MP, f/2.4, (Macro), 0.64 µm
710                                                     2 MP, f/2.4, (Depth), 0.64 µm
174                                   8 MP, f/2.2, 0mm  (Ultra-wide), 1.12 µm, 1/4.0"
682      50 MP, f/2.7, 73mm  (Telephoto), 0.8 µm, 1/1.95", 3x Optical Zoom, OIS, PDAF
280       64 MP, f/2.4, 72mm  (Telephoto), 1.4 µm, 1/2.0", 3x Optical Zoom, OIS, PDAF
1081                                                        2 MP, f/2.4, 0mm  (Depth)
1143             50 MP, f/2.0, 15mm  (Ultra-wide), 119°, 0.64 µm, 1/2.76", Auto Focus
1048       10 MP, f/2.4, 67mm  (Telephoto), 1 µm, 1/3.94", 3x Optical Zoom, OIS, PDAF
339                            8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0"
896                                                     2 MP, f/2.4, (Depth), 0.64 µm
242                                                     2 MP, f/2.4, (Macro), 1.12 µm
1183               12 MP, f/2.0, 50mm  (Telephoto), 1.22 µm, 1/2.93", 2x Optical Zoom
586                            8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0"
347                50 MP, f/2.0, (Telephoto), 0.64 µm, 1/2.76", 2x Optical Zoom, PDAF
100                                                              2 MP, f/2.4, (Depth)
395                                                              0.08 MP, (Auxiliary)
752                                           2 MP, f/2.4, 22mm  (Depth), 88.8°, 1/5"
351           8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0", 3x Optical Zoom
911                                        5 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/5.0"
Name: main_cam2, dtype: object

In [667]:
df['cam_optical_zoom'] = df['main_cam2'].str.extract(r'(\d+)x\s+Optical\s+Zoom')

In [669]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].fillna(0)

In [670]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].astype(int)

In [671]:
df['cam_optical_zoom'].value_counts(dropna=False)

cam_optical_zoom
0     1097
3       89
2       38
5       36
10       5
4        2
7        1
Name: count, dtype: int64

In [673]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 108 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   brand                        1268 non-null   category
 54   is_available                 1268 non-null   int64
 55   is_flipkart_available        1268 non-null   int64
 56   is_amazon_available          1268 non-null   int64
 57   is_official_available        1268 non-null   int64
 58   display_panel_type           1268 non-null   object
 59   display_panel_family         1268 non-null   category
 60   display_hz                   1268 non-null   int64
 61   display_dynamic_range        1268 non-null   category
 62   touch_sampling_rate          852 non-null    float64
 63   has_ltpo                     1268 non-null   int64
 64   has_anti_reflection_coating  1268 non-null   int64
 65   display_inches               1268 non-null   float64
 66   display_body_ratio           1036 non-null   float64
 67   has_curved                   1268 non-null   int64
 68   has_foldable                 1268 non-null   int64
 69   res_category                 1268 non-null   category
 70   res_width                    1268 non-null   int64
 71   res_height                   1268 non-null   int64
 72   aspect_ration_numeric        1185 non-null   float64
 73   display_ppi                  1268 non-null   float64
 74   color_depth                  1268 non-null   float64
 75   peak_brightness              1206 non-null   float64
 76   has_high_contrast            1268 non-null   int64
 77   height_mm                    1268 non-null   float64
 78   width_mm                     1268 non-null   float64
 79   thickness_mm                 1268 non-null   float64
 80   weight_g                     1268 non-null   float64
 81   front_potection              1268 non-null   category
 82   back_material                1268 non-null   category
 83   frame_material               1268 non-null   category
 84   durability_cert              1268 non-null   category
 85   has_3_5mm_jack               1268 non-null   int64
 86   usb_type                     1268 non-null   category
 87   usb_version                  1268 non-null   float64
 88   has_otg                      1268 non-null   int64
 89   has_ir_blaster               1268 non-null   int64
 90   water_resistance_level       1268 non-null   category
 91   has_stereo_speakers          1268 non-null   int64
 92   has_audio_certification      1268 non-null   int64
 93   processor_brand              1268 non-null   category
 94   chipset_brand                1266 non-null   object
 95   chipset_nm                   1258 non-null   float64
 96   antutu_score                 1237 non-null   float64
 97   cpu_core_count               1268 non-null   int64
 98   cpu_max_ghz                  1261 non-null   float64
 99   gpu_brand                    1249 non-null   category
 100  cam_primary_mp               1268 non-null   int64
 101  cam_aperture                 1262 non-null   float64
 102  cam_has_ois                  1268 non-null   int64
 103  cam_sensor_size              722 non-null    float64
 104  camera_secondary_mp          1214 non-null   object
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  cam_optical_zoom             1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(20), int64(26), object(49)
memory usage: 970.0+ KB