<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1438]:
import pandas as pd
import numpy as np
import re

In [1439]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [1440]:
df = pd.read_csv('/content/23_jan_smartphones_columns_for_ml.csv')

In [1441]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link,main_cam4
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN

In [1442]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
dtypes: float64(1), int64(2), object(55)
memory usage: 574.7+ KB

In [1443]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [1444]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [1445]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [1446]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [1447]:
df['brand'].count()

np.int64(1268)

In [1448]:
df['brand'] = df['brand'].astype('category')

In [1449]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [1450]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [1451]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [1452]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [1453]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [1454]:
df['rating_count'] = df['rating_count'].astype('float64')

In [1455]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(54)
memory usage: 576.6+ KB

In [1456]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [1457]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [1458]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [1459]:
df.drop(columns='market_status',inplace=True)

In [1460]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [1461]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [1462]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [1463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  brand                1268 non-null   category
 58  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(52)
memory usage: 576.6+ KB

In [1464]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [1465]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [1466]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [1467]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [1468]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [1469]:
df['old_price'] = df['old_price'].str.replace(',','')

In [1470]:
df['old_price'] = df['old_price'].astype('float')

In [1471]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  brand                1268 non-null   category
 58  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(51)
memory usage: 576.6+ KB

In [1472]:
df['price'] = df['price'].str.replace('₹','')

In [1473]:
df['price'] = df['price'].str.replace(',','')

In [1474]:
df['price'] = df['price'].astype('int')

In [1475]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  brand                1268 non-null   category
 58  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(50)
memory usage: 576.6+ KB

In [1476]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [1477]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  brand                1268 non-null   category
 58  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(49)
memory usage: 576.6+ KB

In [1478]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [1479]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [1480]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [1481]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [1482]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [1483]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [1484]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [1485]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  brand                  1268 non-null   category
 55  is_available           1268 non-null   int64
 56  is_flipkart_available  1268 non-null   int64
 57  is_amazon_available    1268 non-null   int64
 58  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(46)
memory usage: 576.6+ KB

In [1486]:
df['display_type'].sample(10)

248                                                         AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
987                                                                               Super AMOLED, 90 Hz Refresh Rate, SDR
882                                                   Super AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
941                                                                                    PLS LCD, 60 Hz Refresh Rate, SDR
606                                                                                      OLED, 120 Hz Refresh Rate, SDR
147                                                      AMOLED, 144 Hz Refresh Rate, HDR10, 360 Hz Touch Sampling Rate
1045    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate, Anti Reflection Coating
326                                                 Fluid OLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
559                                                       IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
207                                       Smooth Display AMOLED, 90 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [1487]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [1488]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [1489]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [1490]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [1491]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [1492]:
df['display_type'].sample(10)

840                                            Dot AMOLED, 120 Hz Refresh Rate, HDR10, 360 Hz Touch Sampling Rate
993                                                                             TFT LCD, 120 Hz Refresh Rate, SDR
950                                             Super AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
172                                            AMOLED, 144 Hz Refresh Rate, LTPO, SDR, 360 Hz Touch Sampling Rate
1034    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
579                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1103                                             HDR AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
758                                           ProXDR AMOLED, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
588                                                    OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1145               AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate, Anti Reflection Coating
Name: display_type, dtype: object

In [1493]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [1494]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [1495]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [1496]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [1497]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [1498]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [1499]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [1500]:
df['display_hz'].dtypes

dtype('int64')

In [1501]:
df['display_type'].sample(20)

948                                        IPS LCD, 90 Hz Refresh Rate, SDR
885                                  Super AMOLED, 120 Hz Refresh Rate, SDR
231            IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
299                                       IPS LCD, 120 Hz Refresh Rate, SDR
268           OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
653            IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1086                                    AMOLED, 120 Hz Refresh Rate, HDR10+
1123                                     AMOLED, 90 Hz Refresh Rate, HDR10+
772         AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1149        AMOLED, 120 Hz Refresh Rate, HDR10+, 480 Hz Touch Sampling Rate
1233                                      IPS LCD, 120 Hz Refresh Rate, SDR
735            AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
745            IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
756     ProXDR AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
1090                                       IPS LCD, 60 Hz Refresh Rate, SDR
435            AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
13                  Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision
191        HDR AMOLED, 120 Hz Refresh Rate, HDR, 300 Hz Touch Sampling Rate
144            IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1228              LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [1502]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [1503]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [1504]:
df['display_dynamic_range'].count()

np.int64(1268)

In [1505]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

1147                         AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
893                                                      IPS LCD, 60 Hz Refresh Rate, SDR
788                                                      IPS LCD, 90 Hz Refresh Rate, SDR
1112                         AMOLED, 120 Hz Refresh Rate, SDR, 480 Hz Touch Sampling Rate
501                         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
858                    Super AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
182                    AMOLED, 144 Hz Refresh Rate, LTPO, SDR, 360 Hz Touch Sampling Rate
100                                                      IPS LCD, 60 Hz Refresh Rate, SDR
623                     Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
700     Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
786                                                      IPS LCD, 90 Hz Refresh Rate, SDR
825                          IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1094                             LCD, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
1240                        IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
487                                                      IPS LCD, 60 Hz Refresh Rate, SDR
717                         AMOLED, 120 Hz Refresh Rate, SDR, 2200 Hz Touch Sampling Rate
939                                                Super AMOLED, 120 Hz Refresh Rate, SDR
653                          IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
923                    Super AMOLED, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
589                            OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [1506]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [1507]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 63 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  brand                  1268 non-null   category
 55  is_available           1268 non-null   int64
 56  is_flipkart_available  1268 non-null   int64
 57  is_amazon_available    1268 non-null   int64
 58  is_official_available  1268 non-null   int64
 59  display_panel_type     1268 non-null   object
 60  display_panel_family   1268 non-null   category
 61  display_hz             1268 non-null   int64
 62  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(47)
memory usage: 599.3+ KB

In [1508]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

854                  Pro HDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
933                    Super AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
164           E5 AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 300 Hz Touch Sampling Rate
719     Ultra Smooth Display AMOLED, 120 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
336       ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
640                             IPS LCD, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
478                              AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1180                         E5 AMOLED, 120 Hz Refresh Rate, HDR, 240 Hz Touch Sampling Rate
174                     HDR AMOLED, 144 Hz Refresh Rate, HDR10+, 2000 Hz Touch Sampling Rate
369                            IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
140                             IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
769                               OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
328                    Fluid AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
500                            IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1060              Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
200                              AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
669                            IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
882                        Super AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
330                    Fluid AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
476                          AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [1509]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [1510]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [1511]:
df['display_type'].sample(20)

429                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
487                                                                              IPS LCD, 60 Hz Refresh Rate, SDR
923                                            Super AMOLED, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
1017                                                               Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+
1073                                            Turbo AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
285                                              p-OLED, 120 Hz Refresh Rate, HDR10+, 1500 Hz Touch Sampling Rate
697                                  Super AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
95                                                   AMOLED, 144 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
309                                                                     AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
563                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
244                                                   LCD, 120 Hz Refresh Rate, HDR10, 240 Hz Touch Sampling Rate
579                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
346                            ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate
1027    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
4                                                         Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision
1082                                                 IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
31                                                        Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision
863                                         AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
903                                                                              IPS LCD, 90 Hz Refresh Rate, SDR
957                                                                         Super AMOLED, 90 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [1512]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [1513]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [1514]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [1515]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [1516]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [1517]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [1518]:
df['display_type'].sample(20)

209                               Ultra AMOLED, 90 Hz Refresh Rate, HDR10+, 1200 Hz Touch Sampling Rate
466                                     AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
735                                        AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
469                           3D AMOLED AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
987                                                               Super AMOLED, 90 Hz Refresh Rate, SDR
101                                        IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
742                                        IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1247                                                                      LCD, 120 Hz Refresh Rate, SDR
908                                    Super AMOLED, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
627                                        IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1012                                                     Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+
28                Super Retina XDR AMOLED, 60 Hz Refresh Rate, Dolby Vision, 120 Hz Touch Sampling Rate
412                                         AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
574     ProXDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
22           Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate
1069                                                                   PLS LCD, 90 Hz Refresh Rate, SDR
1014                         Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
474                                       OLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
915                                                                   IPS LCD, 120 Hz Refresh Rate, SDR
808                                                                Dot IPS LCD, 90 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [1519]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 66 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(47)
memory usage: 629.0+ KB

In [1520]:
df['display_size'].sample(20)

815                     6.9 inches, 114.9 cm², 81.8% Screen To Body Ratio
228                       6.5 inches, 102 cm², 89.2% Screen To Body Ratio
183                      6.78 inches, 111 cm², 90.8% Screen To Body Ratio
410                    6.56 inches, 103.4 cm², 89.8% Screen To Body Ratio
802                    6.79 inches, 109.5 cm², 85.1% Screen To Body Ratio
792                    6.58 inches, 104.3 cm², 83.6% Screen To Body Ratio
955                    6.65 inches, 108.4 cm², 83.6% Screen To Body Ratio
266                                                   6.5 inches, 102 cm²
27                       6.1 inches, 91.7 cm², 86.4% Screen To Body Ratio
990                       6.7 inches, 110.2 cm², 86% Screen To Body Ratio
245                      6.4 inches, 98.9 cm², 90.9% Screen To Body Ratio
476                    6.59 inches, 105.6 cm², 93.4% Screen To Body Ratio
629                     6.6 inches, 104.9 cm², 90.4% Screen To Body Ratio
718                   6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
605              6.8 inches Quad Curved Display, 94% Screen To Body Ratio
822                                                6.52 inches, 102.6 cm²
1114    6.67 inches Curved Display, 107.4 cm², 89.2% Screen To Body Ratio
115                               6.7 inches, 90.95% Screen To Body Ratio
67                                                   6.1 inches, 71.8 cm²
1224                    6.5 inches, 103.4 cm², 83.6% Screen To Body Ratio
Name: display_size, dtype: object

In [1521]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [1522]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [1523]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [1524]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [1525]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [1526]:
df['display_inches'].count()

np.int64(1268)

In [1527]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [1528]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(47)
memory usage: 638.9+ KB

In [1529]:
df['display_size'].sample(20)

27                                             6.1 inches, 91.7 cm², 86.4% Screen To Body Ratio
79                                              6.8 inches, 109.7 cm², 88% Screen To Body Ratio
701                                           6.6 inches, 104.9 cm², 90.7% Screen To Body Ratio
844                                           6.43 inches, 99.8 cm², 84.5% Screen To Body Ratio
1223                                          6.5 inches, 103.4 cm², 83.6% Screen To Body Ratio
714                                            6.72 inches, 109 cm², 91.4% Screen To Body Ratio
164                                                         6.78 inches Curved Display, 111 cm²
214                                                                       6.38 inches, 98.3 cm²
674                           6.78 inches Curved Display, 111.7 cm², 94.2% Screen To Body Ratio
335                                                       6.74 inches Curved Display, 109.2 cm²
1054    6.7 inches Flip Display, 101.5 cm², 85.5% Screen To Body Ratio, 3.4 inches rear display
492                                                                      6.74 inches, 109.7 cm²
766                                                    6.67 inches, 89.97% Screen To Body Ratio
26                                                                         6.1 inches, 92.9 cm²
197                                          6.72 inches, 108.8 cm², 86.2% Screen To Body Ratio
1174                     6.78 inches Quad Curved Display, 111.5 cm², 90.3% Screen To Body Ratio
1009                                                                                6.73 inches
185                                            6.78 inches, 111 cm², 90.8% Screen To Body Ratio
799                                                                      6.71 inches, 106.5 cm²
912                                             6.7 inches, 110.2 cm², 86% Screen To Body Ratio
Name: display_size, dtype: object

In [1530]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [1531]:
df['display_body_ratio'].count()

np.int64(1036)

In [1532]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [1533]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [1534]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [1535]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(47)
memory usage: 648.8+ KB

In [1536]:
df['display_size'].sample(20)

959                                                      6.5 inches, 103.7 cm²
717                        6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
669                                   6.67 inches, 89.97% Screen To Body Ratio
887                          6.6 inches, 104.9 cm², 82.3% Screen To Body Ratio
681     6.78 inches Quad Curved Display, 111.7 cm², 92.8% Screen To Body Ratio
259                         6.6 inches, 103.6 cm², 91.32% Screen To Body Ratio
1017                                                      6.1 inches, 90.1 cm²
867                         6.67 inches, 107.4 cm², 93.3% Screen To Body Ratio
1164    6.77 inches Quad Curved Display, 110.9 cm², 88.1% Screen To Body Ratio
570                        6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
476                         6.59 inches, 105.6 cm², 93.4% Screen To Body Ratio
884                            6.5 inches, 102 cm², 85.4% Screen To Body Ratio
939                            6.7 inches, 108.4 cm², 87% Screen To Body Ratio
114                          6.7 inches, 108.4 cm², 90.2% Screen To Body Ratio
657                           6.75 inches, 110 cm², 90.3% Screen To Body Ratio
335                                      6.74 inches Curved Display, 109.2 cm²
1121                          6.44 inches, 100.1 cm², 88% Screen To Body Ratio
89            6.8 inches Curved Display, 112.8 cm², 91.6% Screen To Body Ratio
821                        6.52 inches, 102.6 cm², 88.89% Screen To Body Ratio
655                        6.67 inches, 107.2 cm², 89.97% Screen To Body Ratio
Name: display_size, dtype: object

In [1537]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [1538]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [1539]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [1540]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [1541]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(47)
memory usage: 658.8+ KB

In [1542]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [1543]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [1544]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(47)
memory usage: 668.7+ KB

In [1545]:
df['display_res'].sample(20)

753                              FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
974                                                                                                                                              HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit colours, 800 nits(Peak Brightness)
383                                                                                                          HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 71% NTSC, 480 nits(Typical Brightness), 1500:1 Contrast Ratio
49                          1.5K, 1206 x  2622 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
1250                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 1200 nits(Peak Brightness), SGS Display Certification, 4500000:1 Contrast Ratio
728                                                                                                HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 625 nits(High Brightness), 1500:1 Contrast Ratio
702                                                                                                                               FHD+, 1080 x  2412 pixels, 20:9 (400 ppi), 8-bit 16.7 Million Colours, 480 nits(Peak Brightness)
888                                                                                                               HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16 Million Colours, 400 nits(Peak Brightness), Eye Comfort Shield
113                                                                                                                          HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 480 nits(Peak Brightness), Eye Comfort Shield
1174                                                                                                   1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 97% DCI-P3, 4500 nits(Peak Brightness), PWM Dimming
164                                                              QHD+, 1440 x  3200 pixels, 20:9 (517 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), SGS Display Certification, 8000000:1 Contrast Ratio
952                                                                                                             FHD+, 1080 x  2340 pixels, 20:9 (399 ppi), 8-bit 16 Million Colours, 800 nits(Peak Brightness), Eye Comfort Shield
736                                        FHD+, 1080 x  2372 pixels, 20:9 (397 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4000 nits(Peak Brightness), 1400 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming
1046                                                                 QHD+, 1440 x  3120 pixels, 19.5:9 (498 ppi), 12-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), Eye Comfort Shield, 5000000:1 Contrast Ratio
994                                                                                     FHD+, 1080 x  2340 pixels, 20:9 (396 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness), 1000 nits(Typical Brightness), DC Dimming
299                                                                                                                                           FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 8-bit colours, 1000 nits(Peak Brightness)
1254    FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), 800 nits(High Brightness), 800 nits(Typical Brightness), SGS Display Certification, 5000000:1 Contrast Ratio
526            FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
307                                                                                                  FHD+, 1080 x  2400 pixels, 20:9 (402 ppi), 10-bit 1 Billion Colours, 1200 nits(Peak Brightness), 500 nits(Typical Brightness)
454                                                                  HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 88% DCI-P3, 1000 nits(High Brightness), 800 nits(Typical Brightness), Blue Light Filters
Name: display_res, dtype: object

In [1546]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [1547]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [1548]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [1549]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [1550]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [1551]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [1552]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [1553]:
df['res_category'] = df['res_category'].astype('category')

In [1554]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [1555]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 71 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(47)
memory usage: 670.1+ KB

In [1556]:
df['display_res'].sample(20)

122                                                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit colours, 1000 nits(Peak Brightness)
769                   1.5K, 1272 x  2800 pixels, 19.5:9 (450 ppi), 10-bit colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
528                                                               HD+, 720 x  1640 pixels, 20:9 (260 ppi), 8-bit colours, 100% DCI-P3, 600 nits(Peak Brightness), 500 nits(Typical Brightness), TUV Rheinland certification
562                                                      FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
1192                                                                                                                  HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit colours, 400 nits(Peak Brightness), Blue Light Filters
214                                                                                                                       FHD+, 1080 x  2400 pixels, 20:9 (413 ppi), 8-bit 16.7 Million Colours, 1300 nits(Peak Brightness)
366                                                                                  FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 10-bit 1 Billion Colours, 100% sRGB, 600 nits(Peak Brightness), TUV Rheinland certification
525     FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
724                                               FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 950 nits(Peak Brightness), 800 nits(Typical Brightness), Blue Light Filters, 1500:1 Contrast Ratio
1089                                                                                                                                    FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 650 nits(High Brightness)
467                                                 FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness)
664                                                          HD+, 720 x  1600 pixels, 20:9 (264 ppi), 8-bit colours, 83.5% NTSC, 563 nits(Peak Brightness), 450 nits(Typical Brightness), DC Dimming, 1500:1 Contrast Ratio
1122                                                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit colours, 425 nits(Peak Brightness)
205                                                                                                                                                   FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours
308                                                                                             FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 1600 nits(Peak Brightness), 1000 nits(High Brightness)
976                                                                                                                            HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours, 800 nits(Peak Brightness)
415                                                                             FHD+, 1080 x  2412 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 600 nits(High Brightness), 480 nits(Typical Brightness)
716                        FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit colours, 106% NTSC, 1200 nits(Peak Brightness), 600 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
1052                                                                                                                        FHD+, 1080 x  2640 pixels, 22:9 (425 ppi), 8-bit 16 Million Colours, 1600 nits(Peak Brightness)
836                                              FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit colours, 100% DCI-P3, 1000 nits(Peak Brightness), 700 nits(High Brightness), Eye Comfort Shield, 4500000:1 Contrast Ratio
Name: display_res, dtype: object

In [1557]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [1558]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [1559]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [1560]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [1561]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [1562]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [1563]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [1564]:
df['res_width'].count()

np.int64(1268)

In [1565]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [1566]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  display_pixels               1268 non-null   object
 72  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(48)
memory usage: 689.9+ KB

In [1567]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [1568]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [1569]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [1570]:
df.loc[[1055,1058],'res_height'] = 2520

In [1571]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [1572]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [1573]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  display_pixels               1268 non-null   object
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(48)
memory usage: 699.8+ KB

In [1574]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [1575]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(47)
memory usage: 689.9+ KB

In [1576]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [1577]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [1578]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [1579]:
df['x'].sample(20)

336     19.8
142       20
368       20
680      NaN
745       20
141       20
1207      20
734       20
98        20
877       20
1089      20
1086      20
116       20
223       20
119       20
1084      20
500       20
493       20
457       20
253       20
Name: x, dtype: object

In [1580]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [1581]:
df['y'].sample(20)

842       9
1252      9
1164      9
784       9
766     NaN
694       9
765     NaN
555       9
867       9
1025      9
266       9
110       9
191       9
1019      9
435     NaN
131       9
610     NaN
1041      9
726       9
464     NaN
Name: y, dtype: object

In [1582]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [1583]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [1584]:
df['aspect_ration_numeric'].sample(20)

1023    2.144444
211     2.222222
257     2.222222
200     2.222222
144     2.222222
962     2.166667
791     2.222222
1214    2.222222
316     2.222222
349     2.222222
608          NaN
404     2.222222
649     2.222222
351     2.200000
324     2.222222
170     2.222222
89      2.166667
1139    2.222222
81      2.222222
662     2.222222
Name: aspect_ration_numeric, dtype: float64

In [1585]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [1586]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  helper                       1266 non-null   object
 74  aspect_ration_numeric        1185 non-null   float64
 75  x                            1185 non-null   float64
 76  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(48)
memory usage: 729.6+ KB

In [1587]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [1588]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(47)
memory usage: 699.8+ KB

In [1589]:
df['display_res'].sample(20)

697            WQHD+, 1440 x  3216 pixels, 20:9 (525 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1400 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness), DisplayMate A+, 5000000:1 Contrast Ratio
207                                                                                                          FHD+, 1080 x  2404 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 1300 nits(Peak Brightness), Blue Light Filters
585               FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
856                             FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), 900 nits(High Brightness), 500 nits(Typical Brightness), 5000000:1 Contrast Ratio
1256    FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), 800 nits(High Brightness), 800 nits(Typical Brightness), SGS Display Certification, 5000000:1 Contrast Ratio
733                                                                                                                                            FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit colours, 950 nits(Peak Brightness)
235                                                                                                                HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 537 nits(Peak Brightness), 320 nits(Typical Brightness)
132                                                                                                                HD+, 720 x  1600 pixels, 20:9 (263 ppi), 8-bit colours, 672 nits(Peak Brightness), 560 nits(Typical Brightness)
762                                                          FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 85% DCI-P3, 2000 nits(Peak Brightness), 600 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
1124                                                                                                                                                                      FHD+, 1080 x  2376 pixels, 20:9 (398 ppi), 8-bit colours
404                                                                                       HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1000 nits(High Brightness), 850 nits(Typical Brightness)
11                                         1.5K, 1290 x  2796 pixels, 19.5:9 (460 ppi), 8-bit colours, 83% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
597                    1.5K, 1272 x  2800 pixels, (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1500 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
1144                                                                              FHD+, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit colours, 100% DCI-P3, 2800 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
1101                                                                                               FHD+, 1080 x  2408 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(Peak Brightness), Blue Light Filters
535                                                              FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), SGS Display Certification, 4500000:1 Contrast Ratio
666                                                                            HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 625 nits(High Brightness), Eye Comfort Shield, 1500:1 Contrast Ratio
115                                                                                                         HD+, 720 x  1600 pixels, (261.8 ppi), 8-bit colours, 72% NTSC, 700 nits(High Brightness), 560 nits(Typical Brightness)
322             FHD+, 1084 x  2392 pixels, 19.5:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1300 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
1076                                                                                                      FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 96% NTSC, 460 nits(Peak Brightness), SGS Display Certification
Name: display_res, dtype: object

In [1590]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [1591]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [1592]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [1593]:
df.loc[[1055,1058],'display_ppi'] = 397

In [1594]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [1595]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [1596]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [1597]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [1598]:
df['display_ppi'].count()

np.int64(1268)

In [1599]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [1600]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(47)
memory usage: 709.7+ KB

In [1601]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [1602]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [1603]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [1604]:
df['color_depth'] = df['color_depth'].fillna(8)

In [1605]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [1606]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [1607]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [1608]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [1609]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [1610]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(47)
memory usage: 729.6+ KB

In [1611]:
df['display_res'].sample(20)

157                                                       1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1400 nits(High Brightness), PWM Dimming
752       FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), TUV Rheinland certification
944                                                                           HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit colours, 83% sRGB, 800 nits(High Brightness), DC Dimming, 1000000:1 Contrast Ratio
774                                                                                                             FHD+, 1080 x  2400 pixels, 20:9 (396 ppi), 8-bit colours, 950 nits(Peak Brightness), DC Dimming
291                                                                                                            FHD+, 1080 x  2400 pixels, 20:9 (391 ppi), 1050 nits(Peak Brightness), SGS Display Certification
1078                                                                                  FHD+, 1080 x  2404 pixels, 20:9 (409 ppi), 8-bit colours, 96% NTSC, 1300 nits(Peak Brightness), SGS Display Certification
440     FHD+, 1256 x  2760 pixels, 2.2:1 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification
1096                                              FHD+, 1080 x  2392 pixels, 20:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
287                                                          1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
644                                                                                HD+, 720 x  1600 pixels, 20:9 (390 ppi), 8-bit 16.7 Million Colours, 560 nits(High Brightness), 560 nits(Typical Brightness)
877                                                                                                            FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16.7 Million Colours, 400 nits(Peak Brightness)
791                                                          HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 70% NTSC, 400 nits(Typical Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
1049                                                                                       FHD+, 1080 x  2640 pixels, 21:9 (426 ppi), 10-bit 16 Million Colours, 1200 nits(Peak Brightness), Eye Comfort Shield
762                                       FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 85% DCI-P3, 2000 nits(Peak Brightness), 600 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
902                                                                                                                                         FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16 Million Colours
269                                                                                               FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1.07 Billion Colours, 100% sRGB, 1250 nits(Peak Brightness)
1154                                              FHD+, 1080 x  2392 pixels, 20:9 (387 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
407                                                                     HD+, 720 x  1570 pixels, 19.5:9 (256 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1125 nits(Peak Brightness), 700 nits(High Brightness)
1221                                                                                                    HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 83% NTSC, 840 nits(High Brightness), DC Dimming
1225                                                                                   HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 83% NTSC, 840 nits(High Brightness), TUV Rheinland certification
Name: display_res, dtype: object

In [1612]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [1613]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [1614]:
df['helper'] = pd.to_numeric(df['helper'])

In [1615]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [1616]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [1617]:
df.drop(columns='helper',inplace=True)

In [1618]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(47)
memory usage: 739.5+ KB

In [1619]:
df['body_dimension'].sample(20)

1148     164.16 x 74.93 x 7.6 mm
313     161.74 x 76.32 x 8.55 mm
263     161.86 x 73.26 x 7.93 mm
803            168 x 78 x 8.1 mm
291       166.23 x 76.5 x 8.6 mm
689        162.9 x 75.8 x 8.7 mm
789     169.59 x 76.56 x 9.13 mm
975          167.4 x 77.4 x 8 mm
446          165.7 x 75 x 7.7 mm
1026         147 x 70.6 x 7.6 mm
785     169.59 x 76.56 x 9.13 mm
462     162.73 x 76.55 x 7.55 mm
1194    163.95 x 75.55 x 8.19 mm
53        156.2 x 74.7 x 5.64 mm
853        163 x 76.03 x 7.98 mm
1062      153.5 x 132.6 x 5.6 mm
548     161.15 x 74.24 x 7.98 mm
1047       162.8 x 77.6 x 8.2 mm
140        163.6 x 75.6 x 8.5 mm
1109    163.53 x 76.96 x 7.53 mm
Name: body_dimension, dtype: object

In [1620]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [1621]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [1622]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [1623]:
df['height_mm'].isnull().sum()

np.int64(0)

In [1624]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [1625]:
df['width_mm'].isnull().sum()

np.int64(0)

In [1626]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [1627]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [1628]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [1629]:
df['thickness_mm'].sample(20)

544     6.79
1201    8.39
85       8.2
503      7.7
1024     8.9
1065     4.2
177      8.5
970      9.1
381      5.8
514     8.09
6        7.9
832      8.2
670     8.38
1072     7.9
833      8.2
780     7.68
283     8.25
835     8.87
930      8.1
820      9.1
Name: thickness_mm, dtype: object

In [1630]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [1631]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [1632]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [1633]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [1634]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [1635]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 81 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(47)
memory usage: 769.2+ KB

In [1636]:
df['weight'].sample(20)

612       181 grams
376       199 grams
454       194 grams
369       195 grams
733       197 grams
80        199 grams
161     216.2 grams
701       190 grams
335       204 grams
893       195 grams
188       202 grams
914       192 grams
1187      186 grams
1165      190 grams
364       211 grams
748       190 grams
148       195 grams
1076      187 grams
437       198 grams
751       188 grams
Name: weight, dtype: object

In [1637]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [1638]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [1639]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [1640]:
df['body_front'].sample(20)

898                         Glass
708                         Glass
256                         Glass
566                         Glass
964               Gorilla Glass 5
110                         Glass
353                         Glass
1256         Gorilla Glass Victus
19                          Glass
1002              Gorilla Glass 5
692               Gorilla Glass 5
1112                        Glass
191                         Glass
77      Foldable Ultra Thin Glass
918                         Glass
364              Gorilla Glass 7i
1220                        Glass
18                          Glass
671        Gorilla Glass Victus 2
253                         Glass
Name: body_front, dtype: object

In [1641]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [1642]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [1643]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [1644]:
df['front_potection'] = df['front_potection'].astype('category')

In [1645]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 83 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(47)
memory usage: 781.0+ KB

In [1646]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [1647]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [1648]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [1649]:
df['back_material'] = df['back_material'].astype('category')

In [1650]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [1651]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [1652]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [1653]:
df['frame_material'] = df['frame_material'].astype('category')

In [1654]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 85 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(47)
memory usage: 784.1+ KB

In [1655]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [1656]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [1657]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [1658]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(47)
memory usage: 785.5+ KB

In [1659]:
df['ports'].sample(20)

1139                          USB Type-C 2.0, OTG
527          USB Type-C 2.0, 3.5mm Headphone Jack
350                     USB Type-C 3.2 Gen 1, OTG
995     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
780                                USB Type-C 2.0
983          USB Type-C 2.0, 3.5mm Headphone Jack
1245             USB Type-C, 3.5mm Headphone Jack
697                           USB Type-C 2.0, OTG
835          USB Type-C 2.0, 3.5mm Headphone Jack
658          USB Type-C 2.0, 3.5mm Headphone Jack
51                   USB Type-C 2.0, Display Port
107          USB Type-C 2.0, 3.5mm Headphone Jack
1150                              USB Type-C, OTG
462            USB Type-C 2.0, Infrared Port, OTG
419                           USB Type-C 2.0, OTG
711                           USB Type-C 2.0, OTG
10                              Lightning USB 2.0
53                   USB Type-C 2.0, Display Port
145     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
685               USB Type-C, USB Type-C (bottom)
Name: ports, dtype: object

In [1660]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [1661]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [1662]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [1663]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [1664]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [1665]:
df['ports'].sample(20)

220                               USB Type-C, OTG
409         USB Type-C, 3.5mm Headphone Jack, OTG
657         USB Type-C, 3.5mm Headphone Jack, OTG
201                           USB Type-C 2.0, OTG
119          USB Type-C 2.0, 3.5mm Headphone Jack
249          USB Type-C 2.0, 3.5mm Headphone Jack
214     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1098                          USB Type-C 2.0, OTG
1063             USB Type-C 3.2, Display Port 1.2
844         USB Type-C, 3.5mm Headphone Jack, OTG
679                      USB Type-C, Hi-Res Audio
666         USB Type-C, 3.5mm Headphone Jack, OTG
42                   USB Type-C 2.0, Display Port
1248                              USB Type-C, OTG
474                           USB Type-C 2.0, OTG
502                 USB Type-C 2.0, Infrared Port
438                           USB Type-C 2.0, OTG
446         USB Type-C, 3.5mm Headphone Jack, OTG
310                           USB Type-C 2.0, OTG
215                               USB Type-C, OTG
Name: ports, dtype: object

In [1666]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [1667]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [1668]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [1669]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [1670]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [1671]:
df['ports'].sample(20)

908     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
843          USB Type-C 2.0, 3.5mm Headphone Jack
90                            USB Type-C 2.0, OTG
1250    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1223    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1157                              USB Type-C, OTG
771            USB Type-C 2.0, Infrared Port, OTG
395         USB Type-C, 3.5mm Headphone Jack, OTG
727              USB Type-C, 3.5mm Headphone Jack
993     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
994     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
461                           USB Type-C 2.0, OTG
107          USB Type-C 2.0, 3.5mm Headphone Jack
368     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
875         USB Type-C, 3.5mm Headphone Jack, OTG
162                           USB Type-C 2.0, OTG
455         USB Type-C, 3.5mm Headphone Jack, OTG
115         USB Type-C, 3.5mm Headphone Jack, OTG
47                   USB Type-C 3.2, Display Port
672                 USB Type-C 2.0, Infrared Port
Name: ports, dtype: object

In [1672]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [1673]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [1674]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [1675]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 91 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(47)
memory usage: 826.5+ KB

In [1676]:
df['ip_rating'].sample(20)

1070                                   NaN
1116    IP68/69 (Dust and Water Resistant)
88                                     NaN
198                                    NaN
10         IP68 (Dust and Water Resistant)
1254      IP53 (Dust and Splash Resistant)
216        IP54 (Dust and Water Resistant)
845       IP53 (Dust and Splash Resistant)
844       IP53 (Dust and Splash Resistant)
539       IP53 (Dust and Splash Resistant)
1117    IP68/69 (Dust and Water Resistant)
700                                    NaN
779     IP65/66 (Dust and Water Resistant)
91        IP53 (Dust and Splash Resistant)
95         IP54 (Dust and Water Resistant)
381               IPX4 (Splash Resistance)
897                                    NaN
1002                                   NaN
871        IP68 (Dust and Water Resistant)
895                 Water Repellent Design
Name: ip_rating, dtype: object

In [1677]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [1678]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [1679]:
df['water_resistance_level'].count()

np.int64(1268)

In [1680]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 92 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(47)
memory usage: 827.9+ KB

In [1681]:
df['speaker'].sample(30)

896                                     Mono Speaker
656        Dual-mic Noise Cancellation, Mono Speaker
427                                  Stereo Speakers
950                                     Mono Speaker
437                                  Stereo Speakers
1244                                 Stereo Speakers
969                                     Mono Speaker
356                                  Stereo Speakers
473                                  Stereo Speakers
886                                      Loudspeaker
221                                  Stereo Speakers
929                                  Stereo Speakers
798                        Loudspeaker, Mono Speaker
1095                                 Stereo Speakers
753                                  Stereo Speakers
760                                  Stereo Speakers
717     Dual-mic Noise Cancellation, Stereo Speakers
741                                      Loudspeaker
1202                                    Mono Speaker
643                                     Mono Speaker
612      24-bit/192kHz Hi-Res Audio, Stereo Speakers
1000                                    Mono Speaker
1126        24-bit/192kHz Hi-Res Audio, Mono Speaker
1009                                    Mono Speaker
293           Stereo Speakers (Dolby Atmos Enhanced)
447                                     Mono Speaker
856                                  Stereo Speakers
260                                  Stereo Speakers
395                                      Loudspeaker
197                                  Stereo Speakers
Name: speaker, dtype: object

In [1682]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [1683]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [1684]:
df['speaker'].sample(20)

619                   24-bit/192kHz Hi-Res Audio, Loudspeaker
1166              24-bit/192kHz Hi-Res Audio, Stereo Speakers
1156                                          Stereo Speakers
123                                           Stereo Speakers
1209                               Hi-Res Audio, Mono Speaker
828                                              Mono Speaker
462                                           Stereo Speakers
153                                           Stereo Speakers
949                                              Mono Speaker
309                                           Stereo Speakers
599                                           Stereo Speakers
807                                              Mono Speaker
1246                                             Mono Speaker
238                                              Mono Speaker
353                                           Stereo Speakers
608                                           Stereo Speakers
781                                           Stereo Speakers
137                                               Loudspeaker
317                                           Stereo Speakers
563     Hi-Res Audio, Stereo Speakers (Dolby Atmos Certified)
Name: speaker, dtype: object

In [1685]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [1686]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [1687]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 94 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
 92  has_stereo_speakers          1268 non-null   int64
 93  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(47)
memory usage: 847.7+ KB

In [1688]:
df['chipset'].sample(20)

875         MediaTek Dimensity 7025 Ultra (6 nm), 531562 Antutu Score
1116              MediaTek Dimensity 7400 (4 nm), 777255 Antutu Score
1063         Qualcomm Snapdragon 8 Gen 3 (4 nm), 2020386 Antutu Score
600               MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
949                   Samsung Exynos 1330 (5 nm), 438848 Antutu Score
1238              Qualcomm Snapdragon 680 (6 nm), 308333 Antutu Score
944               MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
778          Qualcomm Snapdragon 7 Gen 4 (4 nm), 1110000 Antutu Score
1252               MediaTek Dimensity 920 (6 nm), 548039 Antutu Score
45                         Apple A19 Pro (3 nm), 2503269 Antutu Score
760          Qualcomm Snapdragon 7s Gen 2 (4 nm), 600033 Antutu Score
177               Qualcomm Snapdragon 870 (7 nm), 818358 Antutu Score
328     Qualcomm Snapdragon 8 Plus Gen 1 (4 nm), 1299948 Antutu Score
1067         Qualcomm Snapdragon 8 Gen 2 (4 nm), 1546735 Antutu Score
932                   Samsung Exynos 1380 (5 nm), 595101 Antutu Score
1235              MediaTek Dimensity 7300 (4 nm), 728000 Antutu Score
927           Qualcomm Snapdragon 6 Gen 3 (4 nm), 529327 Antutu Score
771        MediaTek Dimensity 8350 Ultra (4 nm), 1479400 Antutu Score
1239              Qualcomm Snapdragon 680 (6 nm), 310236 Antutu Score
16                      Apple A16 Bionic (4 nm), 1445704 Antutu Score
Name: chipset, dtype: object

In [1689]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [1690]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [1691]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [1692]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [1693]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [1694]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand            chipset_brand
444         mediatek            dimensity 810
468         qualcomm  snapdragon 8 plus gen 1
603         mediatek      dimensity 7300 plus
1231        qualcomm       snapdragon 4 gen 2
1171        mediatek           dimensity 9400
1224        mediatek           dimensity 6300
1062        qualcomm       snapdragon 8 gen 3
714         mediatek      dimensity 6100 plus
877          samsung               exynos 850
992          samsung              exynos 1280
838         mediatek                helio g96
896         mediatek                helio g85
461         mediatek           dimensity 8350
1096        qualcomm       snapdragon 7 gen 3
626         qualcomm           snapdragon 695
163         qualcomm       snapdragon 8 gen 1
787         mediatek                helio g88
361         qualcomm  snapdragon 7 plus gen 3
215         mediatek           dimensity 7200
555         mediatek           dimensity 1080

In [1695]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 96 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
 92  has_stereo_speakers          1268 non-null   int64
 93  has_audio_certification      1268 non-null   int64
 94  processor_brand              1268 non-null   category
 95  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(48)
memory usage: 859.1+ KB

In [1696]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [1697]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [1698]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [1699]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [1700]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [1701]:
df['chipset_brand'].sample(20)

939             snapdragon 778g
1131             dimensity 8200
258                   helio g99
250              dimensity 7020
130     dimensity 7300 ultimate
336          snapdragon 8 gen 3
419              dimensity 7050
173         snapdragon 8s gen 3
859              dimensity 6080
947             snapdragon 680g
828                        t603
593         snapdragon 7s gen 2
1203             dimensity 6300
1058                exynos 2500
1071             snapdragon 888
1214             snapdragon 680
522         dimensity 6100 plus
647                   helio g88
1116             dimensity 7400
508         snapdragon 8s gen 4
Name: chipset_brand, dtype: object

In [1702]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [1703]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [1704]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [1705]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [1706]:
df['antutu_score'].sample(20)

13      1287587.0
965      678813.0
782      780000.0
1081     310236.0
1024    1541246.0
49      2147084.0
401      420294.0
156     2020386.0
1182    1045272.0
673     1650000.0
1171    2651570.0
909      452218.0
986      452218.0
1055    2154825.0
368      443228.0
1058    2154825.0
393      440358.0
225      562402.0
995      471697.0
9       1445704.0
Name: antutu_score, dtype: float64

In [1707]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [1708]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 98 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
 92  has_stereo_speakers          1268 non-null   int64
 93  has_audio_certification      1268 non-null   int64
 94  processor_brand              1268 non-null   category
 95  chipset_brand                1266 non-null   object
 96  chipset_nm                   1258 non-null   float64
 97  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(48)
memory usage: 878.9+ KB

In [1709]:
df['cpu'].sample(20)

1068    Octa-core (1×3.36 GHz Cortex-X3 & 2×2.8 GHz Cortex-A715 & 2×2.8 GHz Cortex-A710 & 3×2.0 GHz Cortex-A510)
633                                                      Octa-core (2x1.8 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
2                                                         Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard)
132                                                      Octa-core (4x2.5 GHz Cortex-A78 & 4x2.0 GHz Cortex-A55)
1173                                                                     Octa-core (1*3.4GHz+3*2.85GHz+4*2.0GHz)
616                                              Octa-core (4x2.4 GHz Kryo 265 Gold & 4x1.9 GHz Kryo 265 Silver)
530                                                      Octa-core (2x2.3 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
752                                                      Octa-core (2x2.6 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
937                                                                Octa-core (1x2.9 GHz & 3x2.6 GHz & 4x1.9 GHz)
861                                                Octa-core (4x Cortex-A78 @ 2.4 GHz & 4x Cortex-A55 @ 1.95GHz)
376                                                                                                    Octa-core
46                                                                               Hexa-core (2x4.26GHz + 4 Cores)
977                                                      Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
14                                                            Hexa-core (2x3.46 GHz Everest+4x2.02 GHz Sawtooth)
110                                                      Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
98                          Octa-core (1x3.35 GHz Cortex-A715 & 3x3.20 GHz Cortex-A715 & 4x2.20 GHz Cortex-A510)
704                                                      Octa-core (2x2.5 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
481                                              Octa-core (2x2.2 GHz Kryo 660 Gold & 6x1.7 GHz Kryo 660 Silver)
864                                                  Octa-core (2x2.8 GHz Cortex-A715 & 6x2.0GHz Cortex-A510 R1)
174                              Octa-core (1x3.0 GHz Cortex-X4 & 4x2.8 GHz Cortex-A720 & 3x2.0 GHz Cortex-A520)
Name: cpu, dtype: object

In [1710]:
df['cpu_core_count'] = df['cpu'].str.strip().str.split(' ').str.get(0)

In [1711]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
Octa-core    1193
Hexa-core      54
Deca-core      13
Quad-core       4
Nona-core       4
Name: count, dtype: int64

In [1712]:
def extract_core_count(text):

  t = text.lower()

  if 'octa' in t:
    return 8

  if 'hexa' in t:
    return 6

  if 'deca' in t:
    return 10

  if 'quad' in t:
    return 4

  if 'nona' in t:
    return 9

df['cpu_core_count'] = df['cpu_core_count'].apply(extract_core_count)

In [1713]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
8     1193
6       54
10      13
4        4
9        4
Name: count, dtype: int64

In [1714]:
df['cpu_max_ghz'] = df['cpu'].str.extract(r'(\d+\.?\d*)\s*[Gg]*\s*[Gg]Hz', flags=re.IGNORECASE)

In [1715]:
df['cpu_max_ghz'].value_counts(dropna=False)

cpu_max_ghz
2.4     235
2.2     195
2.5     122
2.0      83
2.6      58
1.8      43
3.0      38
2.8      38
2.3      33
3.2      32
3.1      27
3.35     26
3.3      25
2.63     22
2.40     20
4.32     19
1.6      16
3.19     16
3.46     14
3.00     13
2.05     13
4.26     12
3.25     12
3.36     11
2.85     11
4.04      9
2.84      9
3.05      8
4.21      7
NaN       7
3.78      7
4.47      7
4.6       6
3.23      6
4.05      6
3.63      6
2.35      6
2.9       6
3.21      6
3.39      5
3.4       5
2.80      4
2.7       4
2.75      4
3.73      4
3         3
2.99      3
2.30      2
2.91      2
2.1       1
3.20      1
Name: count, dtype: int64

In [1716]:
df['cpu_max_ghz'] = pd.to_numeric(df['cpu_max_ghz'])

In [1717]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 100 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
 92  has_stereo_speakers          1268 non-null   int64
 93  has_audio_certification      1268 non-null   int64
 94  processor_brand              1268 non-null   category
 95  chipset_brand                1266 non-null   object
 96  chipset_nm                   1258 non-null   float64
 97  antutu_score                 1237 non-null   float64
 98  cpu_core_count               1268 non-null   int64
 99  cpu_max_ghz                  1261 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(18), int64(22), object(48)
memory usage: 898.7+ KB

In [1718]:
df['gpu_brand'] = df['gpu'].str.lower().str.strip().str.split(' ').str.get(0)

In [1719]:
df['gpu_brand'] = df['gpu_brand'].str.replace('-',' ')

In [1720]:
df[df['gpu_brand'] == 'unspecified']['gpu']

137    Unspecified
Name: gpu, dtype: object

In [1721]:
df.loc[137,'gpu_brand'] = np.nan

In [1722]:
df['gpu_brand'].value_counts(dropna=False)

gpu_brand
adreno              454
mali g57            243
mali g68             95
arm                  79
mali g615            57
apple                54
mali g52             50
powervr              42
mali g610            34
img                  29
xclipse              22
NaN                  19
mali                 19
mali g77             12
immortalis g720      12
mali g710            10
immortalis g715       9
mali g720             7
immortalis g925       6
immortalis g715s      6
mali g715             5
mali g78              2
ge8322                2
Name: count, dtype: int64

In [1723]:
df['gpu_brand'] = df['gpu_brand'].astype('category')

In [1724]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 101 entries, model_id to gpu_brand
dtypes: category(12), datetime64[ns](1), float64(18), int64(22), object(48)
memory usage: 900.7+ KB

In [1725]:
df['main_cam'].sample(20)

245                                                   50 MP, f/1.8, (Wide-angle), 0.64 µm, 1/2.76", PDAF
1183                                               50 MP, f/1.75, (Wide-angle), 1 µm, 1/1.49", OIS, PDAF
108                                                      50 MP, f/1.6, (Wide-angle), 1/2.55", Auto Focus
214                                          64 MP, f/1.79, 0mm (Wide-angle), 0.7 µm, 1/1.97", OIS, PDAF
298                                                            50 MP, f/1.8, (Wide-angle), 0.64 µm, PDAF
216                                         50 MP, f/1.79, 26mm (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
722                                                 50 MP, f/1.8, 27mm (Wide-angle), 75.5°, 0.8 µm, PDAF
263                               50 MP, f/1.9, (Wide-angle), 1 µm, 1/1.56", Multi-directional PDAF, OIS
1116                                                                         50 MP, f/1.79, (Wide-angle)
1046                  200 MP, f/1.7, 24mm (Wide-angle), 85°, 0.6 µm, 1/1.3", Multi-directional PDAF, OIS
699                                                   48 MP, f/1.8, 26mm (Wide-angle), 79.8°, Auto Focus
1024    200 MP, f/1.7, 24mm (Wide-angle), 0.64 µm, 1/1.3", Laser Auto Focus, Multi-directional PDAF, OIS
302                                               12 MP, f/1.5, (Wide-angle), 1.4 µm, 1/2.55", OIS, PDAF
418                                                                64 MP, f/1.8, 26mm (Wide-angle), PDAF
184                                                   50 MP, f/1.9, 0mm (Wide-angle), 1/1.49", OIS, PDAF
786                                                                       50 MP, f/1.8, 0mm (Wide-angle)
404                                     32 MP, f/1.8, 27mm (Wide-angle), 76°, 0.7 µm, 1/3.1", Auto Focus
1238                                                                    50 MP, f/1.8, (Wide-angle), PDAF
871                                            50 MP, f/1.6, 24mm (Wide-angle), 1 µm, 1/1.55", OIS, PDAF
1005                              50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, 1/1.56", Auto Focus, OIS, PDAF
Name: main_cam, dtype: object

In [1726]:
df['cam_primary_mp'] = df['main_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('int')

In [1727]:
df['cam_primary_mp'].value_counts(dropna=False)

cam_primary_mp
50     850
64      91
48      82
108     79
13      48
8       37
200     35
32      25
12      15
16       5
100      1
Name: count, dtype: int64

In [1728]:
df['cam_aperture'] = df['main_cam'].str.split(',').str.get(1).str.split('/').str.get(1).str.strip()

In [1729]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8        726
1.9         80
1.88        60
1.79        60
1.7         53
1.6         53
1.75        42
2.2         42
2.0         40
1.5         19
1.78        18
1.68        14
1.89        13
1.65         9
1.85         7
NaN          6
1.57         6
1.69         5
2.6          4
1.4          3
1.59         3
1.63         2
1.4-2.0      1
1.6-f        1
1.62         1
Name: count, dtype: int64

In [1730]:
df[df['cam_aperture'] == '1.6-f'][['main_cam','model']]

,main_cam,model
1262,"50 MP, f/1.6-f/4.0, 23mm (Wide-angle), 3.2 µm, 1.0"", Auto Focus, Multi-directional PDAF, OIS",Xiaomi 14 Ultra

In [1731]:
df.loc[89,'cam_aperture'] = '1.4'
df.loc[1262,'cam_aperture'] = '1.6'

In [1732]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8     726
1.9      80
1.88     60
1.79     60
1.6      54
1.7      53
1.75     42
2.2      42
2.0      40
1.5      19
1.78     18
1.68     14
1.89     13
1.65      9
1.85      7
1.57      6
NaN       6
1.69      5
1.4       4
2.6       4
1.59      3
1.63      2
1.62      1
Name: count, dtype: int64

In [1733]:
df['cam_aperture'] = pd.to_numeric(df['cam_aperture'])

In [1734]:
df['main_cam'].sample(20)

1201                                              50 MP, f/1.8, (Wide-angle), PDAF
309                   50 MP, f/1.88, 24mm (Wide-angle), 0.8 µm, 1/1.56", OIS, PDAF
267         50 MP, f/1.8, (Wide-angle), 1 µm, 1/1.55", Multi-directional PDAF, OIS
1082                                    50 MP, f/1.8, 0mm (Wide-angle), Auto Focus
668                                           32 MP, f/1.8, 27mm (Wide-angle), 76°
568                          108 MP, f/1.75, 24mm (Wide-angle), 84°, 1/1.67", PDAF
803                                  50 MP, f/1.8, 28mm (Wide-angle), 0.8 µm, PDAF
1101                                          50 MP, f/1.8, 0mm (Wide-angle), PDAF
793                                       50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF
551                    50 MP, f/1.5, 26mm (Wide-angle), 0.8 µm, 1/1.96", OIS, PDAF
594     50 MP, f/1.8, 26mm (Wide-angle), 0.8 µm, 1/2", Multi-directional PDAF, OIS
139                                    50 MP, f/1.9, 27mm (Wide-angle), Auto Focus
1088                                50 MP, f/1.8, 26mm (Wide-angle), 0.64 µm, PDAF
1172                               50 MP, f/1.88, (Wide-angle), 1 µm, 1/1.56", OIS
562             200 MP, f/1.69, 23mm (Wide-angle), 85°, 0.56 µm, 1/1.4", OIS, PDAF
272                50 MP, f/1.8, (Wide-angle), 1/1.5", Multi-directional PDAF, OIS
1060                   50 MP, f/1.8, 23mm (Wide-angle), 1 µm, Dual Pixel PDAF, OIS
609                                         50 MP, f/1.8, 24mm (Wide-angle), 84.4°
1180                         50 MP, f/1.75, (Wide-angle), 1 µm, 1/1.49", OIS, PDAF
615                          50 MP, f/1.8, 28mm (Wide-angle), 76°, 0.6 µm, 1/2.93"
Name: main_cam, dtype: object

In [1735]:
def extract_ois(text):

  t = text.lower()

  if 'ois' in t:
    return 1

  return 0

df['cam_has_ois'] = df['main_cam'].apply(extract_ois)

In [1736]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [1737]:
df['cam_sensor_size'] = df['main_cam'].str.extract(r'1/(\d+\.\d+)')

In [1738]:
df['cam_sensor_size'].value_counts(dropna=False)

cam_sensor_size
NaN     546
1.56    192
1.95    108
2.76     78
1.67     36
1.28     31
2.0      28
1.4      21
1.57     20
2.88     20
1.3      19
1.55     18
1.52     18
1.31     15
3.1      14
1.96     14
1.49     11
1.97      9
1.43      8
4.0       7
2.55      6
2.8       5
3.06      5
1.76      5
1.72      4
1.73      4
2.5       4
2.9       4
1.7       3
1.5       3
3.0       3
1.22      2
1.33      2
2.74      1
2.93      1
3.6       1
0.98      1
1.0       1
Name: count, dtype: int64

In [1739]:
df['cam_sensor_size'] = pd.to_numeric(df['cam_sensor_size'])

In [1740]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 105 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
dtypes: category(12), datetime64[ns](1), float64(20), int64(24), object(48)
memory usage: 940.3+ KB

In [1741]:
df['main_cam2'].sample(20)

139                                                     0.08 MP, 0mm  (Auxiliary)
1087                                                2 MP, f/2.4, (Depth), 0.64 µm
103                                          0.08 MP, f/2.4, (Auxiliary), 0.64 µm
494                                                 2 MP, f/2.4, (Macro), 0.64 µm
29                12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 0.7 µm, Dual Pixel PDAF
1098                             8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/4.0"
285                      50 MP, f/2.0, (Ultra-wide), 120°, 0.64 µm, 1/2.76", PDAF
1043    10 MP, f/2.4, 67mm  (Telephoto), 36°, 1/3.94", 3x Optical Zoom, OIS, PDAF
1008                               8 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm, 1/4"
1191                                                         2 MP, f/2.4, (Depth)
849                              8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/4.0"
442                      50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.76"
621                                                   2 MP, f/2.4, (Macro), 88.8°
780                                               8 MP, f/2.2, (Ultra-wide), 112°
969                                                     8 MP, f/2.2, (Ultra-wide)
352       8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0", 3x Optical Zoom
446                                                     2 MP, f/2.4, (Depth), 89°
572     32 MP, f/2.0, 47mm  (Telephoto), 49°, 1/2.74", 2x Optical Zoom, OIS, PDAF
1173                             8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/4.0"
191                                                          2 MP, f/2.4, (Depth)
Name: main_cam2, dtype: object

In [1742]:
df['cam_secondary_mp'] = df['main_cam2'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0)

In [1743]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2              390
8              333
50             125
0.08            97
12              82
NaN             54
5               45
10              39
13              31
48              19
64              15
32              10
(Auxiliary)      7
0.03             6
f/2.4            5
16               4
f/2.8            2
10.8             2
180              1
200              1
Name: count, dtype: int64

In [1744]:
df[df['cam_secondary_mp'] == 'f/2.4'][['model','main_cam2']]

                              model                          main_cam2
739  Realme Narzo N53 (6GB + 128GB)                f/2.4, 0mm  (Depth)
740  Realme Narzo N53 (8GB + 128GB)                     f/2.4, (Depth)
741                Realme Narzo N53                     f/2.4, (Depth)
744  Realme Narzo N61 (6GB + 128GB)   f/2.4, 0mm  (Auxiliary), 0.64 µm
753                    Realme P1 5G  f/2.4, 22mm  (Depth), 88.8°, 1/5"

In [1745]:
df.loc[[638,639,739,740,741,753],'cam_secondary_mp'] = 2
df.loc[[136,138,484,489,745,830,831,744], 'cam_secondary_mp'] = 0.08

In [1746]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2       390
8       333
50      125
0.08     97
12       82
NaN      54
5        45
10       39
13       31
48       19
64       15
32       10
0.08      8
0.03      6
2         6
16        4
10.8      2
180       1
200       1
Name: count, dtype: int64

In [1747]:
cam_cols_to_check = ['main_cam2', 'main_cam3', 'main_cam4']

df['has_telephoto'] = df[cam_cols_to_check].apply(
    lambda x: x.str.contains('Telephoto', case=False, na=False)
).any(axis=1).astype(int)

df['has_periscope'] = df[['main_cam2', 'main_cam3', 'main_cam4']].apply(
    lambda x: x.str.contains('Periscope', case=False, na=False)
).any(axis=1).astype(int)

In [1748]:
df['has_telephoto'].value_counts()

has_telephoto
0    1070
1     198
Name: count, dtype: int64

In [1749]:
df['has_periscope'].value_counts()

has_periscope
0    1219
1      49
Name: count, dtype: int64

In [1750]:
df['main_cam2'].sample(20)

987                                                             5 MP, f/2.2, (Ultra-wide), 0.8 µm
744                                                              f/2.4, 0mm  (Auxiliary), 0.64 µm
404                                                                                           NaN
899                                                            2 MP, f/2.4, 0mm  (Depth), 0.64 µm
607                                                                          0.08 MP, (Auxiliary)
450                                                          2 MP, f/2.4, 22mm  (Monochrome), 89°
435                                                                2 MP, f/2.4, (Monochrome), 89°
1193                                                                    2 MP, f/2.4, 0mm  (Macro)
579                                                               2 MP, f/2.4, 22mm  (Depth), 89°
545                                                                 2 MP, f/2.4, (Depth), 0.64 µm
227                                                                  2 MP, f/2.4, (Depth), 0.8 µm
1195                                                                    2 MP, f/2.4, 0mm  (Depth)
413                                                                          2 MP, f/2.4, (Depth)
36      12 MP, f/2.8, 120mm  (Periscope), 1.12 µm, 1/3.06", 5x Optical Zoom, Dual Pixel PDAF, OIS
1128                                       8 MP, f/2.2, 16mm  (Ultra-wide), 120°, 1.12 µm, 1/4.0"
222                                                               8 MP, f/2.2, (Ultra-wide), 120°
762                                                                  2 MP, f/2.4, 0.64mm  (Depth)
428                                                            2 MP, f/2.4, (Depth), 89°, 0.64 µm
460                       8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0", 5x Optical Zoom
690                                        8 MP, f/2.3, 15mm  (Ultra-wide), 119°, 1.12 µm, 1/4.0"
Name: main_cam2, dtype: object

In [1751]:
df['cam_optical_zoom'] = df['main_cam2'].str.extract(r'(\d+)x\s+Optical\s+Zoom')

In [1752]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].fillna(0)

In [1753]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].astype(int)

In [1754]:
df['cam_optical_zoom'].value_counts(dropna=False)

cam_optical_zoom
0     1097
3       89
2       38
5       36
10       5
4        2
7        1
Name: count, dtype: int64

In [1755]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 109 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(20), int64(27), object(49)
memory usage: 979.9+ KB

In [1756]:
df['main_cam3'].sample(20)

707                                                                               f/2.8, (Depth)
648                                                                                          NaN
975                                                                                          NaN
503                                                                2 MP, f/2.4, (Macro), 0.64 µm
399                                                                                          NaN
981                                                           2 MP, f/2.4, 0mm  (Depth), 0.56 µm
793                                                                                          NaN
504                                                                2 MP, f/2.4, (Macro), 0.64 µm
513                                                                         2 MP, f/2.4, (Macro)
888                                                                                          NaN
1218                                                                                         NaN
106                                                                                          NaN
823                                                                                          NaN
22                      12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF
1109                                                                   2 MP, f/2.4, (Depth), 81°
1023    10 MP, f/2.4, 70mm  (Telephoto), 1.12 µm, 1/3.52", 3x Optical Zoom, Dual Pixel PDAF, OIS
935                                                                         5 MP, f/2.4, (Macro)
258                                                                         2 MP, f/2.4, (Macro)
1066                                                    12 MP, f/2.2, (Ultra-wide), 120°, 1.4 µm
434                                                                                          NaN
Name: main_cam3, dtype: object

In [1757]:
df['cam_tertiary_mp'] = df['main_cam3'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [1758]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN            637
2              330
50              63
12              62
8               49
5               31
48              28
10              13
13              10
0.08             9
0mm              7
200              5
f/2.8            4
f/2.4            3
(Auxiliary)      3
0.3              2
10.5             2
88°              2
0.07             2
3                2
32               2
10.8             1
f/2.5            1
Name: count, dtype: int64

In [1759]:
df[df['cam_tertiary_mp'] == '0mm'][['model','main_cam3']]

                                    model         main_cam3
528              Poco M7 5G (8GB + 128GB)  0mm  (Auxiliary)
720  Realme Narzo 70 Turbo (12GB + 256GB)               0mm
721   Realme Narzo 70 Turbo (8GB + 128GB)               0mm
803            Redmi 13C 5G (6GB + 128GB)  0mm  (Auxiliary)
804            Redmi 13C 5G (8GB + 256GB)  0mm  (Auxiliary)
806               Redmi 13C (6GB + 128GB)  0mm  (Auxiliary)
807               Redmi 13C (8GB + 256GB)  0mm  (Auxiliary)

In [1760]:
df.loc[[121,114,119,122],'cam_tertiary_mp'] = 0.07
df.loc[[808,809,810,528,720,721,803,804,806,807],'cam_tertiary_mp'] = 0.08
df.loc[[636,637,706,707],'cam_tertiary_mp'] = 2
df.loc[[553,554],'cam_tertiary_mp'] = np.nan

In [1761]:
df['cam_tertiary_mp'] = pd.to_numeric(df['cam_tertiary_mp'])

In [1762]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN       639
2.00      334
50.00      63
12.00      62
8.00       49
5.00       31
48.00      28
0.08       19
10.00      13
13.00      10
0.07        6
200.00      5
10.50       2
0.30        2
32.00       2
3.00        2
10.80       1
Name: count, dtype: int64

In [1763]:
# List of camera columns
cam_cols = ['main_cam', 'main_cam2', 'main_cam3','main_cam4']

# Count non-NaN values across these columns
df['total_cam_count'] = df[cam_cols].notna().sum(axis=1)

In [1764]:
df['total_cam_count'].value_counts(dropna=False)

total_cam_count
2    583
3    583
1     54
4     48
Name: count, dtype: int64

In [1765]:
df[~df['main_cam4'].isnull()]['main_cam4']

238                                                                     2 MP, f/2.4, (Depth), 175 µm
439                 50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.75", Multi-Directional PDAF
441                                                                   2 MP, f/2.4, (Monochrome), 88°
442                                                                   2 MP, f/2.4, (Monochrome), 88°
443                                                                   2 MP, f/2.4, (Monochrome), 88°
786                                                                        2 MP, f/2.4, 0mm  (Depth)
787                                                                        2 MP, f/2.4, 0mm  (Depth)
788                                                                             2 MP, f/2.4, (Depth)
836                                                                        2 MP, f/2.4, 0mm  (Depth)
837                                                                        2 MP, f/2.4, 0mm  (Depth)
838                                                                        2 MP, f/2.4, 0mm  (Depth)
842                                                                             2 MP, f/2.4, (Depth)
843                                                                             2 MP, f/2.4, (Depth)
844                                                                             2 MP, f/2.4, (Depth)
845                                                                        2 MP, f/2.4, 0mm  (Depth)
846                                                                        2 MP, f/2.4, 0mm  (Depth)
847                                                                             2 MP, f/2.4, (Depth)
877                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
878                                                                    2 MP, f/2.4, (Depth), 1.75 µm
879                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
880                                                                    2 MP, f/2.4, (Depth), 1.75 µm
881                                                                        2 MP, f/2.4, 0mm  (Depth)
882                                                                             2 MP, f/2.4, (Depth)
883                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
884                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
885                                                                        5 MP, f/2.4, 0mm  (Depth)
915                                                               2 MP, f/2.4, 0mm  (Depth), 0.64 µm
916                                                                    2 MP, f/2.4, (Depth), 0.64 µm
930                                                                    5 MP, f/2.4, (Depth), 1.12 µm
939                                                                             5 MP, f/2.4, (Depth)
992                                                                        2 MP, f/2.4, 0mm  (Macro)
993                                                                             2 MP, f/2.4, (Macro)
1002                                                                            2 MP, f/2.4, (Macro)
1003                                                                            2 MP, f/2.4, (Macro)
1015    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1016    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1022          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1023          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1024          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1034    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1035          12 MP, f/2.2, (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1036    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1045          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1046          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1047          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1181                                      8 MP, f/3.4, (Periscope), 1 µm, 5x Optical Zoom, OIS, PDAF
1262            50 MP, f/1.8, 12mm  (Ultra-wide), 122°, 0.7 µm, 1/2.51", Auto Focus, Dual Pixel PDAF
1264                       50 MP, f/2.2, 14mm  (Ultra-wide), 115°, 1.28 µm, 1/2.76", Dual Pixel PDAF
Name: main_cam4, dtype: object

In [1766]:
df['cam_fourth_mp'] = df['main_cam4'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [1767]:
df['cam_fourth_mp'] = pd.to_numeric(df['cam_fourth_mp'])

In [1768]:
df['cam_fourth_mp'].value_counts(dropna=False)

cam_fourth_mp
NaN     1220
2.0       28
12.0       8
50.0       6
5.0        5
8.0        1
Name: count, dtype: int64

In [1769]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 112 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
 109  cam_tertiary_mp              629 non-null    float64
 110  total_cam_count              1268 non-null   int64
 111  cam_fourth_mp                48 non-null     float64
dtypes: category(12), datetime64[ns](1), float64(22), int64(28), object(49)
memory usage: 1009.6+ KB

In [1770]:
df['main_cam_features'].sample(50)

164                                                                                   Dual LED Flash, Filter, HDR, Night Mode, Panorama, Portrait Mode, Professional Mode
272                                                                       Auto Focus, Digital Image Stabilization, Digital Zoom, Face Detection, HDR, LED Flash, Panorama
216                                                                                                   HDR, LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Time-Lapse
1128                                                        Double Exposure, Dual View, HDR, HIGH-RES, LED flash, Night, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
974                                                                                                                               Dual LED Dual Tone Flash, HDR, Panorama
1133                                                                                                                                        HDR, Panorama, Ring-LED Flash
1110                                                                                                                LED Flash, Night mode, Panorama, Portrait, Time Lapse
812                                                                                                                                                        HDR, LED Flash
952                                                                                                                                              HDR, LED Flash, Panorama
434                                                                                                                       Night Mode, Panorama, Portrait Mode, Time-Lapse
899                                                                                                                                              HDR, LED Flash, Panorama
1234                                                                                                                       LED Flash, panorama, Portrait Mode, Time-Lapse
1039                                                                                                                                             HDR, LED Flash, Panorama
746                                                                                                         LED Flash, Night, Panorama, Portrait, Slow Motion, Time-Lapse
53          3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse
1105                                                                                                                                             HDR, LED Flash, Panorama
410                                                                                                                                              HDR, LED flash, Panorama
1230                                                                                  Dual View, HDR, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse
1139                                                Double Exposure, Dual View, Filter, HDR, LED Flash, Night Mode, Panorama, Portrait Mode, PRO, Slow Motion, Time-Lapse
208                                                                                                                               Dual LED Dual Tone Flash, HDR, Panorama
307                                                                                                                             DIS, HDR, LED flash, Night Mode, Panorama
320                                                                                                                                              HDR, LED Flash, Panorama
54                                                                                                                        Auto Focus, DIS, HDR, Macro Mode, Panorama, RAW
427                                                                                                                        Color Spectrum Sensor, HDR, LED Fash, Panorama
987                                                                                                                               Dual LED Dual Tone Flash, HDR, Panorama
643                                                                                    Filter, HDR, LED Flash, Night Mode, Panaroma, Panorama, Portrait Mode, Slow Motion
217                                                                                                        LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Time-Lapse
489                                                                                                                                                        HDR, LED Flash
673                                                                                                               Auto Focus, Digital Zoom, Dual LED Flash, HDR, Panorama
701                                                                      Dual LED Flash, HDR, Nightscape, Panorama, Panoramic, Professional Mode, Slow Motion, Time Lapse
173                                                                                HDR, LED Flash, Long Exposure, Night, Panorama, Portrait, Pro, Slow Motion, Time Lapse
1012                                                                                                                                        Auto HDR, LED flash, Panorama
559                                 AI Scene Detection, Cinematic Bokeh, Filter, HDR, LED Flash, Nightscape, Panorama, Professional Mode, Real-time Distortion Correction
955                                                                                                                               Dual LED Dual Tone Flash, HDR, Panorama
1113                                                                                                                                        HDR, Panorama, Ring-LED Flash
923                                                                                  Auto Focus, Digital Image Stabilization, Digital Zoom, Face Detection, HDR, Panorama
56                                                                                                                                               HDR, LED Flash, Panorama
1255                                                                            Cinematic Mode, Dual LED Dual Tone Flash, HDR, Long Exposure, Night, Panorama, Time-Lapse
204                                                                                                                               Dual LED Dual Tone Flash, HDR, Panorama
652                                                                                                                                              HDR, LED Flash, Panorama
1080                                                                                                              Auto Focus, Digital Zoom, Dual LED Flash, HDR, Panorama
15                                                                         Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode
19      Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)
648                                                                                                                                              HDR, LED Flash, Panorama
756                                                                                                                                              HDR, LED Flash, Panorama
855                                 Dual LED Dual Tone Flash, Film Camera Mode, HDR, Long Exposure, Movie frame, Night Mode, Panorama, Portrait Mode, Pro Mode, Timelapse
564                                                   AI Scene Detection, Cinematic Bokeh, Filter, HDR, LED Flash, Night Mode, Panorama, Portrait Mode, Professional Mode
939                                                                                                                                              HDR, LED flash, Panorama
786                                                                                                                                              HDR, LED Flash, Panorama
18                                                                                                                                               HDR, LED Flash, Panorama
Name: main_cam_features, dtype: object

In [1771]:
# 1. Apple Premium Stack (LiDAR & Photonic)
df['is_apple_flagship_tech'] = df['main_cam_features'].str.contains('LiDAR|Photonic Engine', case=False, na=False).astype(int)

# 2. Advanced Focus & Optics (Zeiss & Laser AF)
df['has_laser_af'] = df['main_cam_features'].str.contains('Laser Auto Focus', case=False, na=False).astype(int)
df['has_zeiss_optics'] = df['main_cam_features'].str.contains(r'Zeiss Optics|Zeiss T\*', case=False, na=False).astype(int)

# 3. Stability & Professional Video (OIS & Cinematic/Movie)
df['has_pro_video_features'] = df['main_cam_features'].str.contains('Cinematic|Movie|Dual View', case=False, na=False).astype(int)

In [1772]:
df['is_apple_flagship_tech'].value_counts()

is_apple_flagship_tech
0    1240
1      28
Name: count, dtype: int64

In [1773]:
df['has_laser_af'].value_counts()

has_laser_af
0    1222
1      46
Name: count, dtype: int64

In [1774]:
df['has_zeiss_optics'].value_counts()

has_zeiss_optics
0    1234
1      34
Name: count, dtype: int64

In [1775]:
df['has_pro_video_features'].value_counts()

has_pro_video_features
0    1002
1     266
Name: count, dtype: int64

In [1776]:
df[df['has_zeiss_optics'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
1144,Vivo V30 Pro 5G (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1145,Vivo V30 Pro 5G,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1148,Vivo V40 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1149,Vivo V40 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1150,Vivo V40 Pro (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1151,Vivo V40 Pro,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1152,Vivo V40,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1155,Vivo V50 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1156,Vivo V50 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1157,Vivo V50,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1159,Vivo V60 (12GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1160,Vivo V60 (16GB + 512GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1161,Vivo V60 (8GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1162,Vivo V60,"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1166,Vivo X Fold 5,"Dual LED Flash, HDR, Laser Auto Focus, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1167,Vivo X Fold3 Pro,"Dual LED Flash, HDR, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1168,Vivo X100 (16GB + 512GB),"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1169,Vivo X100 Pro,"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1170,Vivo X100,"3D LUT Support, HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1171,Vivo X200 (16GB + 512GB),"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1172,Vivo X200 FE (16GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1173,Vivo X200 FE,"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1174,Vivo X200 Pro,"3D LUT Support, HDR, HIGH-RES, Laser Auto Focus, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Super Macro, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1175,Vivo X200,"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1176,Vivo X300 (12GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1177,Vivo X300 (16GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1178,Vivo X300 Pro,"3D LUT Import, Colour Spectrum sensor, HDR, Laser AF, LED Flash, Panorama, Zeiss optics, Zeiss T* lens coating"
1179,Vivo X300,"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1180,Vivo X80 (12GB + 256GB),"Double Exposure, Dual LED Dual Tone Flash, Dual View, HDR, Laser AF, Panorama, Pixel Shift, Pro, Slow Motion, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1181,vivo X80 Pro,"Double Exposure, Dual LED Dual Tone Flash, HDR, Laser AF, Long Exposure, Micro, Movie, Night, Panorama, Pixel Shift, Portrait, Pro, Slow Motion, Time Lapse, Zeiss Optics, Zeiss T* Lens Coating"

In [1777]:
df[df['is_apple_flagship_tech'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
14,Apple iPhone 15 (6GB + 256GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
15,Apple iPhone 15 (6GB + 512GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
22,Apple iPhone 15 Pro Max (8GB + 1TB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
23,Apple iPhone 15 Pro Max (8GB + 512GB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
24,Apple iPhone 15 Pro Max,"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
26,Apple iPhone 15,"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"

In [1778]:
df[df['has_laser_af'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
29,Apple iPhone 16 Plus (8GB + 256GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
30,Apple iPhone 16 Plus (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
31,Apple iPhone 16 Plus,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
32,Apple iPhone 16 Pro (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
33,Apple iPhone 16 Pro (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
34,Apple iPhone 16 Pro Max (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
35,Apple iPhone 16 Pro Max (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
36,Apple iPhone 16 Pro Max,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
37,Apple iPhone 16 Pro,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
63,Google Pixel 10 Pro Fold,"Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR"
64,Google Pixel 10 Pro XL,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
65,Google Pixel 10 Pro,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
66,Google Pixel 10,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
278,Motorola Edge 50 Pro (12GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama"
279,Motorola Edge 50 Pro,"HDR, Laser Auto Focus, LED Flash, Panorama"
280,Motorola Edge 50 Ultra,"Assistive Grid, Audio Zoom, Dual LED Flash, HDR, Laser Auto Focus, Leveler, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Timelapse, Ultra HDR"
345,OnePlus 13R (16GB + 512GB),"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
346,OnePlus 13R,"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
349,OnePlus 15 (16GB + 512GB),"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
350,OnePlus 15,"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
439,Oppo Find X8 Pro,"Colour Spectrum sensor, Hasselblad Colour Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
442,Oppo Find X9 Pro,"Color Spectrum Sensor, Hasselblad Color Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
1018,Samsung Galaxy S23 FE (8GB + 256GB),"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1019,Samsung Galaxy S23 FE,"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1043,Samsung Galaxy S25 Plus (12GB + 512GB),"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"
1044,Samsung Galaxy S25 Plus,"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"

In [1779]:
df[df['has_pro_video_features'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
0,Apple iPhone 14 (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
1,Apple iPhone 14 (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
2,Apple iPhone 14 Plus (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
3,Apple iPhone 14 Plus (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
4,Apple iPhone 14 Plus,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
13,Apple iPhone 14,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
42,Apple iPhone 17 (8GB + 512GB),"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
50,Apple iPhone 17,"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
107,Infinix Hot 30 5G (4GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
108,Infinix Hot 30 5G (8GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
109,Infinix Hot 30 5G,"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
116,Infinix Hot 60i 5G,"Dual LED Flash, Dual View, HDR, Night, Panorama, PRO, Slow Motion, Time Lapse"

In [1780]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 116 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
 109  cam_tertiary_mp              629 non-null    float64
 110  total_cam_count              1268 non-null   int64
 111  cam_fourth_mp                48 non-null     float64
 112  is_apple_flagship_tech       1268 non-null   int64
 113  has_laser_af                 1268 non-null   int64
 114  has_zeiss_optics             1268 non-null   int64
 115  has_pro_video_features       1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(22), int64(32), object(49)
memory usage: 1.0+ MB

In [1781]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [1782]:
df['cam_has_ois'] = ((df['cam_has_ois'] == 1) | df['main_cam_features'].str.contains('OIS', case=False, na=False)).astype(int)

In [1783]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    658
1    610
Name: count, dtype: int64

In [1784]:
df['main_video'].sample(20)

543                                                                                                                           4K@30fps, 1080p@30/60fps, gyro-EIS
1151                                                                                                                        4K@30fps, 1080p@30fps, gyro-EIS, OIS
899                                                                                                                                               1080p@30/60fps
205                                                                                                                                                          NaN
539                                                                                                          4K@30fps, 1080p@30/60/120fps, gyro-EIS, Slow Motion
5       4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 10-bit HDR, Cinematic mode, Dolby Vision HDR (up to 60fps), ProRes Video Recording, Stereo Sound Recording
688                                                                   8K@30fps, 4K@30/60/120fps, 1080p@30/60/120/240fps, 10-bit LOG, Dolby Vision, gyro-EIS, HDR
1186                                                                                                                                                 1080p@30fps
163                                                                                                 4k@60fps, 1080p@30/60fps, 4K@24/30/60fps, 8K@30fps, gyro-EIS
166                                                                                                                                                          NaN
1204                                                                                                                                                 1080p@30fps
1136                                                                                                                                                 4K@30/60fps
1110                                                                                                                                                    4K@30fps
981                                                                                                                                                  1080p@30fps
257                                                                                                                                                          NaN
321                                                                                                                            4K@30fps, 1080p@30/60/120fps, HDR
498                                                                                                                                                  1080p@30fps
363                                                                                                                   4K@30/60fps, 1080p@30/60fps, gyro-EIS, OIS
418                                                                                                                                                  1080p@30fps
397                                                                                                                                               1080p@30/60fps
Name: main_video, dtype: object

In [1785]:
def get_max_resolution(text):
    if pd.isna(text):
      return 'Unknown'

    res_upper = text.upper()

    if '8K' in res_upper:
        return '8K'
    elif '4K' in res_upper:
        return '4K'
    elif '1080P' in res_upper:
        return '1080p'
    elif '720P' in res_upper:
        return '720p'
    else:
        return 'Standard'

df['max_video_res'] = df['main_video'].apply(get_max_resolution).astype('category')

In [1786]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [1787]:
df['video_has_eis'] = df['main_video'].str.contains('EIS', case=True, na=False).astype(int)

In [1788]:
df['video_has_eis'].value_counts()

video_has_eis
0    726
1    542
Name: count, dtype: int64

In [1789]:
df['video_is_pro_grade'] = df['main_video'].str.contains(r'Dolby Vision|HDR10\+|10-bit', case=True, na=False).astype('int')

In [1790]:
df['video_is_pro_grade'].value_counts()

video_is_pro_grade
0    1093
1     175
Name: count, dtype: int64

In [1791]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 119 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
 109  cam_tertiary_mp              629 non-null    float64
 110  total_cam_count              1268 non-null   int64
 111  cam_fourth_mp                48 non-null     float64
 112  is_apple_flagship_tech       1268 non-null   int64
 113  has_laser_af                 1268 non-null   int64
 114  has_zeiss_optics             1268 non-null   int64
 115  has_pro_video_features       1268 non-null   int64
 116  max_video_res                1268 non-null   category
 117  video_has_eis                1268 non-null   int64
 118  video_is_pro_grade           1268 non-null   int64
dtypes: category(13), datetime64[ns](1), float64(22), int64(34), object(49)
memory usage: 1.0+ MB

In [1792]:
df['os'].sample(20)

415            Android 11, ColorOS
898             Android 15, One UI
838         Android 11, Redmi MIUI
1062            Android 14, One UI
633          Android 11, Realme UI
1175     Android 15, Vivo Funtouch
901             Android 15, One UI
354           Android 11, OxygenOS
162      Android 12, iQOO Funtouch
373           Android 14, OxygenOS
831     Android 14, Xiaomi HyperOS
563          Android 13, Realme UI
318         Android 15, Nothing OS
147                Android 13, XOS
47                          iOS 26
1207     Android 13, Vivo Funtouch
398            Android 15, ColorOS
1066            Android 16, One UI
1074     Android 12, Vivo Funtouch
1007            Android 14, One UI
Name: os, dtype: object

In [1793]:
df['os_type'] = df['os'].str.extract(r'(Android|iOS|google android)')[0].str.lower().astype('category')

In [1794]:
df['os_type'].value_counts(dropna=False)

os_type
android    1214
ios          54
Name: count, dtype: int64

In [1795]:
df['os_version_num'] = df['os'].str.extract(r'(\d+)').astype(float)

In [1796]:
df['os_version_num'].value_counts(dropna=False)

os_version_num
14.0    333
15.0    315
13.0    235
12.0    226
11.0     78
16.0     41
18.0     18
26.0     12
17.0     10
Name: count, dtype: int64

In [1797]:
df['is_android_go'] = df['os'].str.contains('Go', case=False, na=False).astype(int)

In [1798]:
df['is_android_go'].value_counts()

is_android_go
0    1229
1      39
Name: count, dtype: int64