<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2193]:
import pandas as pd
import numpy as np
import re

In [2194]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [2195]:
df = pd.read_csv('/content/23_jan_smartphones_columns_for_ml.csv')

In [2196]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link,main_cam4
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN

In [2197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
dtypes: float64(1), int64(2), object(55)
memory usage: 574.7+ KB

In [2198]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [2199]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [2200]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [2201]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [2202]:
df['brand'].count()

np.int64(1268)

In [2203]:
df['brand'] = df['brand'].astype('category')

In [2204]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [2205]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [2206]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [2207]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [2208]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [2209]:
df['rating_count'] = df['rating_count'].astype('float64')

In [2210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(54)
memory usage: 576.6+ KB

In [2211]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [2212]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [2213]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [2214]:
df.drop(columns='market_status',inplace=True)

In [2215]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [2216]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [2217]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [2218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  brand                1268 non-null   category
 58  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(52)
memory usage: 576.6+ KB

In [2219]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [2220]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [2221]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [2222]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [2223]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [2224]:
df['old_price'] = df['old_price'].str.replace(',','')

In [2225]:
df['old_price'] = df['old_price'].astype('float')

In [2226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  brand                1268 non-null   category
 58  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(51)
memory usage: 576.6+ KB

In [2227]:
df['price'] = df['price'].str.replace('₹','')

In [2228]:
df['price'] = df['price'].str.replace(',','')

In [2229]:
df['price'] = df['price'].astype('int')

In [2230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  brand                1268 non-null   category
 58  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(50)
memory usage: 576.6+ KB

In [2231]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [2232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  brand                1268 non-null   category
 58  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(49)
memory usage: 576.6+ KB

In [2233]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [2234]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [2235]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [2236]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [2237]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [2238]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [2239]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [2240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  brand                  1268 non-null   category
 55  is_available           1268 non-null   int64
 56  is_flipkart_available  1268 non-null   int64
 57  is_amazon_available    1268 non-null   int64
 58  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(46)
memory usage: 576.6+ KB

In [2241]:
df['display_type'].sample(10)

880                                                                                             LCD, 90 Hz Refresh Rate, SDR
259                                                                                         AMOLED, 120 Hz Refresh Rate, SDR
149                                                             AMOLED, 144 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
545                                                             AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
32     Super Retina XDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 120 Hz Touch Sampling Rate, Anti Reflection Coating
73                                                                          Super Actua OLED, 120 Hz Refresh Rate, LTPO, HDR
203                                                            IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
98                                                              AMOLED, 144 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
330                                                    Fluid AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
41                                             Super Retina XDR OLED, 60 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2242]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [2243]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [2244]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [2245]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [2246]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [2247]:
df['display_type'].sample(10)

22      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate
2                                          Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision
637                                   IPS LCD, 60 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
652                                   IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
704                              Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
476                                AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
238                                                               IPS LCD, 90 Hz Refresh Rate, SDR
667                                  IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1072                    Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
727                                   IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2248]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [2249]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [2250]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [2251]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [2252]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [2253]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [2254]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [2255]:
df['display_hz'].dtypes

dtype('int64')

In [2256]:
df['display_type'].sample(20)

390                                   LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
438                                    Trinity Engine AMOLED, 120 Hz Refresh Rate, Dolby Vision
432                                AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
219                                                         AMOLED, 120 Hz Refresh Rate, HDR10+
1136                                                  Super AMOLED, 120 Hz Refresh Rate, HDR10+
606                                                              OLED, 120 Hz Refresh Rate, SDR
702          Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1156                            AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
776                   HyperGlow AMOLED, 144 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1124                                                         AMOLED, 90 Hz Refresh Rate, HDR10+
42      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, Anti Reflection Coating
895                                                            IPS LCD, 90 Hz Refresh Rate, SDR
58                      E6 AMOLED, 165 Hz Refresh Rate, LTPO, HDR10, 720 Hz Touch Sampling Rate
72                                             Super Actua OLED, 120 Hz Refresh Rate, LTPO, HDR
1227                                  LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1088                                                           IPS LCD, 60 Hz Refresh Rate, SDR
618               Ultra Smooth Display LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
668                               IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
883                                                   Super AMOLED, 120 Hz Refresh Rate, HDR10+
1168                      AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 120 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2257]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [2258]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [2259]:
df['display_dynamic_range'].count()

np.int64(1268)

In [2260]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

759                             OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
625                      Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
411                                LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
623                      Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
1216                                                          LCD, 60 Hz Refresh Rate, SDR
819                                                       IPS LCD, 60 Hz Refresh Rate, SDR
400                           IPS LCD, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
923                     Super AMOLED, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
714                          IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
100                                                       IPS LCD, 60 Hz Refresh Rate, SDR
624                      Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
195                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
626     Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
417                            AMOLED, 90 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
246                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
822                                                       IPS LCD, 60 Hz Refresh Rate, SDR
254                                                      IPS LCD, 120 Hz Refresh Rate, SDR
973                                                       PLS LCD, 60 Hz Refresh Rate, SDR
493                                                   Dot IPS LCD, 90 Hz Refresh Rate, SDR
944                           PLS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2261]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [2262]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 63 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  brand                  1268 non-null   category
 55  is_available           1268 non-null   int64
 56  is_flipkart_available  1268 non-null   int64
 57  is_amazon_available    1268 non-null   int64
 58  is_official_available  1268 non-null   int64
 59  display_panel_type     1268 non-null   object
 60  display_panel_family   1268 non-null   category
 61  display_hz             1268 non-null   int64
 62  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(47)
memory usage: 599.3+ KB

In [2263]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

128                                                  AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
729                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
573                                           ProXDR AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
394                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
586                                                  OLED, 120 Hz Refresh Rate, HDR10, 240 Hz Touch Sampling Rate
733                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
269                                               p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
748                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
813                                                 IPS LCD, 144 Hz Refresh Rate, SDR, 288 Hz Touch Sampling Rate
1039    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
1082                                                 IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
839                                            Dot AMOLED, 120 Hz Refresh Rate, HDR10, 360 Hz Touch Sampling Rate
1034    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
831                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
459                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
410                                                  IPS a-Si, 60 Hz Refresh Rate, SDR, 60 Hz Touch Sampling Rate
263                                                  p-OLED, 144 Hz Refresh Rate, SDR, 300 Hz Touch Sampling Rate
274                                               p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
202                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
164                                E5 AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 300 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [2264]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [2265]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [2266]:
df['display_type'].sample(20)

485                                                                                        IPS LCD, 60 Hz Refresh Rate, SDR
935                                                   Super AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1066                                                                   Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
991                                                                                   Super AMOLED, 90 Hz Refresh Rate, SDR
972                                                                                        PLS LCD, 60 Hz Refresh Rate, SDR
810                                                           IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
901                                                                                        PLS LCD, 90 Hz Refresh Rate, SDR
313                                                         AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
1167                E7 AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 240 Hz Touch Sampling Rate, Anti Reflection Coating
90                                                             AMOLED, 120 Hz Refresh Rate, SDR, 300 Hz Touch Sampling Rate
37      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 120 Hz Touch Sampling Rate, Anti Reflection Coating
183                                                   AMOLED, 144 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate
468                                                         AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
200                                                             AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
290                                                                                        IPS LCD, 90 Hz Refresh Rate, SDR
1174                                            AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 300 Hz Touch Sampling Rate
685                                                                 AMOLED, 120 Hz Refresh Rate, 360 Hz Touch Sampling Rate
846                                                         Dot AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
10      Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate, Anti Reflection Coating
785                                                                                        IPS LCD, 60 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [2267]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

np.int64(212)

In [2268]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [2269]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [2270]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [2271]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [2272]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [2273]:
df['display_type'].sample(20)

145                   Dynamic IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
436                  AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
1075                     Turbo AMOLED, 60 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1087                                                   AMOLED, 120 Hz Refresh Rate, HDR10+
163         E5 AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 300 Hz Touch Sampling Rate
771                        AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
625                      Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
506                  AMOLED, 120 Hz Refresh Rate, Dolby Vision, 480 Hz Touch Sampling Rate
622     Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1139                                                   AMOLED, 120 Hz Refresh Rate, HDR10+
293                           p-OLED, 120 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
1179                                        Q10+ AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
402                                                       IPS LCD, 90 Hz Refresh Rate, SDR
256                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1229                             LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
528                          IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
96                            AMOLED, 144 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
267                        p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
87                                               AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
1055                                  Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
Name: display_type, dtype: object

In [2274]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 66 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(47)
memory usage: 629.0+ KB

In [2275]:
df['display_size'].sample(20)

475                                                6.59 inches, 105.6 cm², 89.6% Screen To Body Ratio
1172                                                6.31 inches, 97.6 cm², 90.2% Screen To Body Ratio
766                                                          6.67 inches, 89.97% Screen To Body Ratio
855                                                                            6.67 inches, 107.4 cm²
246                                                    6.5 inches, 45.3 cm², 85% Screen To Body Ratio
1244                                6.77 inches Curved Display, 110.9 cm², 90.2% Screen To Body Ratio
734                                                  6.72 inches, 109 cm², 91.4% Screen To Body Ratio
533                                               6.67 inches, 107.4 cm², 92.02% Screen To Body Ratio
419                                                   6.7 inches, 108 cm², 89.8% Screen To Body Ratio
494                                                                            6.74 inches, 109.7 cm²
305          6.9 inches Flip Display, 101.5 cm², 85.33% Screen To Body Ratio, 3.6 inches rear display
378                                                           6.77 inches, 94.1% Screen To Body Ratio
1147                                  6.78 inches Curved Display, 111 cm², 93.3% Screen To Body Ratio
15                                                                               6.1 inches, 91.7 cm²
956                                                                                        6.7 inches
1166    8.03 inches Foldable Display, 206.5 cm², 90.9% Screen To Body Ratio, 6.53 inches rear display
733                                                  6.72 inches, 109 cm², 91.4% Screen To Body Ratio
328                                                   6.7 inches, 108 cm², 87.9% Screen To Body Ratio
465                                                6.83 inches, 113.3 cm², 93.6% Screen To Body Ratio
618                                                   6.5 inches, 102 cm², 90.5% Screen To Body Ratio
Name: display_size, dtype: object

In [2276]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [2277]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [2278]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [2279]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [2280]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [2281]:
df['display_inches'].count()

np.int64(1268)

In [2282]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [2283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(47)
memory usage: 638.9+ KB

In [2284]:
df['display_size'].sample(20)

1096                                6.77 inches Curved Display, 110.9 cm², 93.1% Screen To Body Ratio
1166    8.03 inches Foldable Display, 206.5 cm², 90.9% Screen To Body Ratio, 6.53 inches rear display
514                                                 6.43 inches, 99.8 cm², 84.5% Screen To Body Ratio
105                                                  6.58 inches, 104.3 cm², 82% Screen To Body Ratio
323                                                    6.77 inches, 112 cm², 88% Screen To Body Ratio
490                                               6.71 inches, 106.5 cm², 106.5% Screen To Body Ratio
311                                                  6.7 inches, 108 cm², 91.65% Screen To Body Ratio
83                                6.7 inches Quad Curved Display, 108.5 cm², 90% Screen To Body Ratio
671                                 6.78 inches Curved Display, 111.7 cm², 94.2% Screen To Body Ratio
113                                                  6.56 inches, 103.4 cm², 84% Screen To Body Ratio
683                                                6.78 inches, 112.8 cm², 93.9% Screen To Body Ratio
557                                  6.72 inches Curved Display, 108 cm², 93.76% Screen To Body Ratio
840                                                  6.67 inches, 107.4 cm², 86% Screen To Body Ratio
1258                                6.73 inches Curved Display, 109.4 cm², 89.6% Screen To Body Ratio
526                                                                            6.79 inches, 109.5 cm²
73                                   6.7 inches Curved Display, 108.7 cm², 87.4% Screen To Body Ratio
886                                                 6.6 inches, 104.9 cm², 82.5% Screen To Body Ratio
209                                                6.38 inches, 98.3 cm², 84.14% Screen To Body Ratio
413                                                6.56 inches, 103.4 cm², 89.8% Screen To Body Ratio
798                                                                            6.79 inches, 109.5 cm²
Name: display_size, dtype: object

In [2285]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [2286]:
df['display_body_ratio'].count()

np.int64(1036)

In [2287]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [2288]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [2289]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [2290]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(47)
memory usage: 648.8+ KB

In [2291]:
df['display_size'].sample(20)

158                      6.82 inches, 113 cm², 90.2% Screen To Body Ratio
253                       6.5 inches, 102 cm², 89.7% Screen To Body Ratio
962                     6.7 inches, 110.2 cm², 85.2% Screen To Body Ratio
71        6.2 inches Curved Display, 91.1 cm², 85.5% Screen To Body Ratio
620                     6.6 inches, 104.8 cm², 90.8% Screen To Body Ratio
463     6.83 inches Curved Display, 113.3 cm², 93.8% Screen To Body Ratio
810                      6.88 inches, 112.4 cm², 84% Screen To Body Ratio
784                    6.71 inches, 106.2 cm², 90.5% Screen To Body Ratio
774                    6.72 inches, 106.8 cm², 91.4% Screen To Body Ratio
1105    6.77 inches Curved Display, 110.9 cm², 88.8% Screen To Body Ratio
948                                                 6.6 inches, 104.9 cm²
144                    6.59 inches, 104.6 cm², 90.8% Screen To Body Ratio
852                                                6.67 inches, 107.4 cm²
1056       6.7 inches Flip Display, 101.5 cm², 85.5% Screen To Body Ratio
970                       6.5 inches, 102 cm², 81.8% Screen To Body Ratio
589          6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
1178                  6.78 inches, 111.5 cm², 94.85% Screen To Body Ratio
489                    6.71 inches, 106.5 cm², 82.6% Screen To Body Ratio
997                     6.6 inches, 106.9 cm², 83.8% Screen To Body Ratio
888                       6.5 inches, 102 cm², 81.3% Screen To Body Ratio
Name: display_size, dtype: object

In [2292]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [2293]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [2294]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [2295]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [2296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(47)
memory usage: 658.8+ KB

In [2297]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [2298]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [2299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(47)
memory usage: 668.7+ KB

In [2300]:
df['display_res'].sample(20)

197                                                                  FHD+, 1080 x  2408 pixels, 20:9 (393 ppi), 8-bit colours, 83% NTSC, 1050 nits(Peak Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
565                                                                                         FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 680 nits(High Brightness), 550 nits(Typical Brightness)
706                                                                                                                       FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16.7 Million Colours, 600 nits(Peak Brightness)
563                                                     FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
782                                                                              FHD+, 1080 x  2400 pixels, 20:9 (391 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(High Brightness), 800 nits(Typical Brightness)
431                                                                               FHD+, 1080 x  2372 pixels, (397 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1400 nits(High Brightness), 600 nits(Typical Brightness)
6                                                             1.5K, 1179 x  2556 pixels, 19.5:9 (460 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1000 nits(Typical Brightness), 2000000:1 Contrast Ratio
943                                                                                      HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit colours, 83% sRGB, 800 nits(High Brightness), DC Dimming, 1000000:1 Contrast Ratio
692                                                 FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
367                                                                                                            FHD+, 1080 x  2412 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 600 nits(Peak Brightness)
634                                                                                                                                HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16.7 Million Colours, Blue Light Filters
726                                                                          HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit 16.7 Million Colours, 83.5% NTSC, 563 nits(Peak Brightness), DC Dimming, 1500:1 Contrast Ratio
723                                              FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 950 nits(Peak Brightness), 800 nits(Typical Brightness), Blue Light Filters, 1500:1 Contrast Ratio
147                                                  FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
618                                                                                                      FHD+, 1080 x  2400 pixels, 20:9 (400 ppi), 8-bit colours, 600 nits(High Brightness), 480 nits(Typical Brightness)
641                                                             FHD, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 600 nits(High Brightness), 480 nits(Typical Brightness), TUV Rheinland certification
407                                                                                HD+, 720 x  1570 pixels, 19.5:9 (256 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1125 nits(Peak Brightness), 700 nits(High Brightness)
302                                                                                                           FHD+, 1080 x  2640 pixels, 22:9 (413 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1400 nits(Peak Brightness)
344    QHD+, 1440 x  3168 pixels, 20:9 (510 ppi), 12-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification, 2000000:1 Contrast Ratio
833                                          HD+, 720 x  1650 pixels, 20:9 (260 ppi), 8-bit colours, 70% NTSC, 600 nits(Peak Brightness), 450 nits(Typical Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
Name: display_res, dtype: object

In [2301]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [2302]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [2303]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [2304]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [2305]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [2306]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [2307]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [2308]:
df['res_category'] = df['res_category'].astype('category')

In [2309]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [2310]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 71 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(47)
memory usage: 670.1+ KB

In [2311]:
df['display_res'].sample(20)

154                                                                                                         1.5K, 1440 x  3200 pixels, 20:9 (518 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness)
395                                                                                        HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(Peak Brightness), Blue Light Filters
24      QHD+, 1290 x  2796 pixels, 19.5:9 (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
269                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1.07 Billion Colours, 100% sRGB, 1250 nits(Peak Brightness)
725                                            FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 950 nits(Peak Brightness), 800 nits(Typical Brightness), Blue Light Filters, 1500:1 Contrast Ratio
394                                                                                                  HD+, 720 x  1604 pixels, 20:9 (264 ppi), 8-bit colours, 83% NTSC, 1000 nits(Peak Brightness), 1500:1 Contrast Ratio
870                 1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68.7 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 500 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
93                                                    FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 900 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
747                                                                                  HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 560 nits(High Brightness), 450 nits(Typical Brightness), Eye Comfort Shield
1038                                                                                              FHD+, 1080 x  2340 pixels, 19.5:9 (416 ppi), 10-bit 16 Million Colours, 2600 nits(Peak Brightness), Eye Comfort Shield
35                QHD+, 1320 x  2868 pixels, 19.5:9 (460 ppi), 12-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
1200                                                                               HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16.7 Million Colours, 70% NTSC, 528 nits(High Brightness), TUV Rheinland certification
1004                                                                                                       FHD+, 1080 x  2400 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness), DC Dimming
1001                                                                                                                                               FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours
1150                                     FHD+, 1260 x  2800 pixels, 20:9 (453 ppi), 10-bit colours, 100% DCI-P3, 4500 nits(High Brightness), 4500 nits(Typical Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
39                                             1.5K, 1170 x  2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 90.2% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
1233                                                                                   HD+, 720 x  1608 pixels, (264 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1000 nits(Peak Brightness), TUV Rheinland certification
722                          FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 600 nits(Typical Brightness), Blue Light Filters, 6000000:1 Contrast Ratio
978                                                                                                                                                  FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16 Million Colours
1219                                                                                                      HD, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 83% NTSC, 840 nits(Peak Brightness), Blue Light Filters
Name: display_res, dtype: object

In [2312]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [2313]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [2314]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [2315]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [2316]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [2317]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [2318]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [2319]:
df['res_width'].count()

np.int64(1268)

In [2320]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [2321]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  display_pixels               1268 non-null   object
 72  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(48)
memory usage: 689.9+ KB

In [2322]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [2323]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [2324]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [2325]:
df.loc[[1055,1058],'res_height'] = 2520

In [2326]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [2327]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [2328]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  display_pixels               1268 non-null   object
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(48)
memory usage: 699.8+ KB

In [2329]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [2330]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(47)
memory usage: 689.9+ KB

In [2331]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [2332]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [2333]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [2334]:
df['x'].sample(20)

422       20
909     19.5
292       20
802       20
46      19.5
578       20
691       20
993       20
96       NaN
42      19.5
1247      20
840       20
1222      20
112       20
160     19.8
1086      20
1264      20
659       20
604      NaN
927     19.5
Name: x, dtype: object

In [2335]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [2336]:
df['y'].sample(20)

86        9
1208      9
551       9
814       9
1042      9
445       9
627       9
956     NaN
787       9
26        9
1142      9
739       9
670       9
634       9
396       9
38        9
1151      9
50        9
1260      9
393       9
Name: y, dtype: object

In [2337]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [2338]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [2339]:
df['aspect_ration_numeric'].sample(20)

1215    2.233333
1037    2.166667
1087    2.222222
1158         NaN
416     2.222222
98      2.222222
544     2.222222
70      2.222222
461          NaN
58      2.222222
729     2.222222
18      2.166667
730     2.222222
306     2.222222
644     2.222222
887     2.222222
736     2.222222
117     2.222222
748     2.222222
993     2.222222
Name: aspect_ration_numeric, dtype: float64

In [2340]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [2341]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  helper                       1266 non-null   object
 74  aspect_ration_numeric        1185 non-null   float64
 75  x                            1185 non-null   float64
 76  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(48)
memory usage: 729.6+ KB

In [2342]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [2343]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(47)
memory usage: 699.8+ KB

In [2344]:
df['display_res'].sample(20)

743                                                                                                                                   FHD+, 1080 x  2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)
838                                                                                             FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit 16.7 Million Colours, 1200 nits(Peak Brightness), 4500000:1 Contrast Ratio
1106                                                                                 HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit 16.7 Million Colours, 70% NTSC, 1000 nits(High Brightness), TUV Rheinland certification
1082                                                                                                                                                     FHD+, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit colours, 96% NTSC
326                                                                                                        FHD+, 1080 x  2412 pixels, 20.1:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness)
130                                                                                                  FHD+, 1080 x  2436 pixels, 20:9 (392 ppi), 10-bit colours, 100% DCI-P3, 1300 nits(Peak Brightness), Blue Light Filters
300                                                                                                                                                                FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 8-bit colours
665                                                          HD+, 720 x  1600 pixels, 20:9 (264 ppi), 8-bit colours, 83.5% NTSC, 563 nits(Peak Brightness), 450 nits(Typical Brightness), DC Dimming, 1500:1 Contrast Ratio
383                                                                                                   HD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit colours, 71% NTSC, 480 nits(Typical Brightness), 1500:1 Contrast Ratio
839                                    FHD+, 1080 x  2400 pixels, 20:9 (365 ppi), 8-bit 16.7 Million Colours, 1200 nits(Peak Brightness), 700 nits(Typical Brightness), SGS Display Certification, 4500000:1 Contrast Ratio
259                                                                                                           FHD+, 1080 x  2400 pixels, 20:9 (402 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 690 nits(High Brightness)
979                                                                                                                         FHD+, 1080 x  2400 pixels, 20:9 (391 ppi), 8-bit colours, 450 nits(High Brightness), DC Dimming
435                                                                                FHD+, 1080 x  2372 pixels, (397 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1400 nits(High Brightness), 600 nits(Typical Brightness)
1046                                                          QHD+, 1440 x  3120 pixels, 19.5:9 (498 ppi), 12-bit 16 Million Colours, 100% DCI-P3, 2600 nits(Peak Brightness), Eye Comfort Shield, 5000000:1 Contrast Ratio
739                                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (390 ppi), 8-bit 16.7 Million Colours, 560 nits(Peak Brightness)
987                                                                                                                                   FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit colours, 800 nits(High Brightness)
343     QHD+, 1440 x  3168 pixels, 20:9 (510 ppi), 12-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification, 2000000:1 Contrast Ratio
1021                                                                                                    FHD+, 1080 x  2340 pixels, 19.5:9 (393 ppi), 10-bit colours, 1750 nits(Peak Brightness), 1200 nits(High Brightness)
1235                                                                                    FHD+, 1080 x  2408 pixels, (393 ppi), 8-bit 16.7 Million Colours, 83% NTSC, 1050 nits(Peak Brightness), TUV Rheinland certification
115                                                                                                  HD+, 720 x  1600 pixels, (261.8 ppi), 8-bit colours, 72% NTSC, 700 nits(High Brightness), 560 nits(Typical Brightness)
Name: display_res, dtype: object

In [2345]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [2346]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [2347]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [2348]:
df.loc[[1055,1058],'display_ppi'] = 397

In [2349]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [2350]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [2351]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [2352]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [2353]:
df['display_ppi'].count()

np.int64(1268)

In [2354]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [2355]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(47)
memory usage: 709.7+ KB

In [2356]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [2357]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [2358]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [2359]:
df['color_depth'] = df['color_depth'].fillna(8)

In [2360]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [2361]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [2362]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [2363]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [2364]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [2365]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(47)
memory usage: 729.6+ KB

In [2366]:
df['display_res'].sample(20)

60                                            FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 700 nits(Typical Brightness), Blue Light Filters, 1000000:1 Contrast Ratio
579                                                                             FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(Typical Brightness)
640                                                              FHD, 1080 x  2408 pixels, 20:9 (401 ppi), 8-bit 16.7 Million Colours, 600 nits(High Brightness), 480 nits(Typical Brightness), TUV Rheinland certification
1230                                                     FHD+, 1080 x  2400 pixels, 20:9 (394 ppi), 8-bit 1 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness), 1200 nits(High Brightness), SGS Display Certification
282                                                            1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
915                                                                                                                          FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16 Million Colours, 500 nits(High Brightness)
701                                                                                                                        FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16.7 Million Colours, 600 nits(Peak Brightness)
198                                                                                                          FHD+, 1080 x  2400 pixels, 20:9 (409 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1300 nits(Peak Brightness)
157                                                                   1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1400 nits(High Brightness), PWM Dimming
968                                                                                                                                  FHD+, 1080 x  2340 pixels, 19.5:9 (382 ppi), 8-bit colours, 1200 nits(High Brightness)
677                                 1.5K, 1264 x  2780 pixels, 20:9 (450 ppi), 10-bit colours, 100% DCI-P3, 6000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), 5000000:1 Contrast Ratio
443                  1.5K, 1256 x  2760 pixels, 20:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3600 nits(Peak Brightness), 1800 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification
941                                                                                                        HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours, 450 nits(High Brightness), Eye Comfort Shield
132                                                                                                         HD+, 720 x  1600 pixels, 20:9 (263 ppi), 8-bit colours, 672 nits(Peak Brightness), 560 nits(Typical Brightness)
520                                                                              HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(Peak Brightness), 450 nits(High Brightness), 450 nits(Typical Brightness)
1217                                                                                                                          HD+, 720 x  1612 pixels, 20.1:9 (270 ppi), 8-bit colours, 70% NTSC, 530 nits(High Brightness)
216                                                                                            1.5K, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit colours, 100% DCI-P3, 1800 nits(Peak Brightness), 6000000:1 Contrast Ratio
970                                                                                            HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16 Million Colours, 85% DCI-P3, 400 nits(Peak Brightness), Eye Comfort Shield
154                                                                                                            1.5K, 1440 x  3200 pixels, 20:9 (518 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1800 nits(Peak Brightness)
343     QHD+, 1440 x  3168 pixels, 20:9 (510 ppi), 12-bit colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1600 nits(High Brightness), 800 nits(Typical Brightness), TUV Rheinland certification, 2000000:1 Contrast Ratio
Name: display_res, dtype: object

In [2367]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [2368]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [2369]:
df['helper'] = pd.to_numeric(df['helper'])

In [2370]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [2371]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [2372]:
df.drop(columns='helper',inplace=True)

In [2373]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(47)
memory usage: 739.5+ KB

In [2374]:
df['body_dimension'].sample(20)

851        163 x 76.03 x 7.98 mm
433        163.1 x 77.6 x 7.7 mm
506        160.5 x 74.4 x 7.8 mm
668      165.7 x 76.22 x 7.94 mm
2          160.8 x 78.1 x 7.8 mm
817      164.9 x 76.75 x 9.09 mm
67         152.2 x 71.8 x 8.9 mm
1140    164.42 x 74.92 x 7.57 mm
1151     164.36 x 75.1 x 7.58 mm
686     162.42 x 75.97 x 8.25 mm
144        163.6 x 75.6 x 8.5 mm
190      167.3 x 76.95 x 8.19 mm
804            168 x 78 x 8.1 mm
830      171.88 x 77.8 x 8.22 mm
336        164.3 x 75.8 x 9.2 mm
964        164.9 x 77.3 x 8.4 mm
613     158.36 x 75.19 x 7.79 mm
712        161.6 x 73.9 x 8.2 mm
691        162.9 x 75.8 x 8.7 mm
91        163.6 x 75.5 x 7.98 mm
Name: body_dimension, dtype: object

In [2375]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [2376]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [2377]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [2378]:
df['height_mm'].isnull().sum()

np.int64(0)

In [2379]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [2380]:
df['width_mm'].isnull().sum()

np.int64(0)

In [2381]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [2382]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [2383]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [2384]:
df['thickness_mm'].sample(20)

425      7.7
689      8.7
1062     5.6
1132     7.4
152     7.64
910      7.9
88       7.8
194     7.39
304      7.2
518      8.1
686     8.25
406      8.6
261     8.65
676      8.6
566     7.89
37      8.25
122      7.8
1065     4.2
1242     7.9
1184    9.34
Name: thickness_mm, dtype: object

In [2385]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [2386]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [2387]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [2388]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [2389]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [2390]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 81 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(47)
memory usage: 769.2+ KB

In [2391]:
df['weight'].sample(20)

460     177 grams
574     196 grams
318     199 grams
623     182 grams
202     185 grams
114     188 grams
628     187 grams
263     178 grams
417     175 grams
584     185 grams
774     197 grams
199     182 grams
889     192 grams
464     181 grams
639     187 grams
699     190 grams
279     186 grams
801     205 grams
213     172 grams
1162    192 grams
Name: weight, dtype: object

In [2392]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [2393]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [2394]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [2395]:
df['body_front'].sample(20)

847             Gorilla Glass 3
600                       Glass
482     Corning Gorilla Glass 5
57         Gorilla Glass Victus
232                       Glass
1087                      Glass
740                       Glass
1098                      Glass
1044     Gorilla Glass Victus 2
338      Gorilla Glass Victus 2
1102                      Glass
286            Gorilla Glass 7i
288            Gorilla Glass 7i
66                        Glass
1224                      Glass
566                       Glass
13                        Glass
741                       Glass
247     Corning Gorilla Glass 3
1232                      Glass
Name: body_front, dtype: object

In [2396]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [2397]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [2398]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [2399]:
df['front_potection'] = df['front_potection'].astype('category')

In [2400]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 83 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(47)
memory usage: 781.0+ KB

In [2401]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [2402]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [2403]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [2404]:
df['back_material'] = df['back_material'].astype('category')

In [2405]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [2406]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [2407]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [2408]:
df['frame_material'] = df['frame_material'].astype('category')

In [2409]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 85 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(47)
memory usage: 784.1+ KB

In [2410]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [2411]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [2412]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [2413]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(47)
memory usage: 785.5+ KB

In [2414]:
df['ports'].sample(20)

780                                USB Type-C 2.0
234     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
522                           USB Type-C 2.0, OTG
369          USB Type-C 2.0, 3.5mm Headphone Jack
881                           USB Type-C 2.0, OTG
22         USB Type-C 3.2 Gen 2, Display Port 1.2
125                USB Type-C, Infrared Port, OTG
423                           USB Type-C 2.0, OTG
936                           USB Type-C 2.0, OTG
441                               USB Type-C, OTG
1173                          USB Type-C 2.0, OTG
714          USB Type-C 2.0, 3.5mm Headphone Jack
958     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
484          USB Type-C 2.0, 3.5mm Headphone Jack
579     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1209                          USB Type-C 2.0, OTG
178               USB Type-C 2.0, IR Blaster, OTG
139     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1047       USB Type-C 3.2 Gen 1, Display Port 1.4
289      USB Type-C 2.0, OTG, USB Type-C (bottom)
Name: ports, dtype: object

In [2415]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [2416]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [2417]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [2418]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [2419]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [2420]:
df['ports'].sample(20)

69                                 USB Type-C 3.2, OTG
104               USB Type-C 2.0, 3.5mm Headphone Jack
803               USB Type-C 2.0, 3.5mm Headphone Jack
1237             USB Type-C, 3.5mm Headphone Jack, OTG
442     USB Type-C 3.2 Gen 1, OTG, USB Type-C (bottom)
833                   USB Type-C, 3.5mm Headphone Jack
323                                USB Type-C 2.0, OTG
504                      USB Type-C 2.0, Infrared Port
211                                USB Type-C 2.0, OTG
194                                    USB Type-C, OTG
531                                         USB Type-C
658               USB Type-C 2.0, 3.5mm Headphone Jack
544               USB Type-C 2.0, 3.5mm Headphone Jack
947               USB Type-C 2.0, 3.5mm Headphone Jack
646               USB Type-C 2.0, 3.5mm Headphone Jack
666              USB Type-C, 3.5mm Headphone Jack, OTG
602              USB Type-C, 3.5mm Headphone Jack, OTG
445                   USB Type-C, 3.5mm Headphone Jack
255          USB Type-C 2.0, 3.5mm Headphone Jack, OTG
921                                     USB Type-C 2.0
Name: ports, dtype: object

In [2421]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [2422]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [2423]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [2424]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [2425]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [2426]:
df['ports'].sample(20)

501          USB Type-C, 3.5mm Headphone Jack
260      USB Type-C 2.0, 3.5mm Headphone Jack
557          USB Type-C, 3.5mm Headphone Jack
1061         USB Type-C 3.2, Display Port 1.2
561                       USB Type-C 2.0, OTG
971      USB Type-C 2.0, 3.5mm Headphone Jack
721          USB Type-C, 3.5mm Headphone Jack
882                       USB Type-C 2.0, OTG
392     USB Type-C, 3.5mm Headphone Jack, OTG
268          USB Type-C 3.1, Display Port 1.4
1261                      USB Type-C 3.2, OTG
656     USB Type-C, 3.5mm Headphone Jack, OTG
1246    USB Type-C, 3.5mm Headphone Jack, OTG
999                       USB Type-C 2.0, OTG
355                       USB Type-C 2.0, OTG
63                             USB Type-C 3.2
411     USB Type-C, 3.5mm Headphone Jack, OTG
505            USB Type-C, Infrared Port, OTG
48               USB Type-C 3.2, Display Port
208                       USB Type-C 2.0, OTG
Name: ports, dtype: object

In [2427]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [2428]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [2429]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [2430]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 91 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(47)
memory usage: 826.5+ KB

In [2431]:
df['ip_rating'].sample(20)

601       IP68/69 (Dust and Water Resistant)
204                                      NaN
857         IP53 (Dust and Splash Resistant)
660          IP54 (Dust and Water Resistant)
586          IP65 (Dust and Water Resistant)
738          IP65 (Dust and Water Resistant)
317          IP64 (Dust and Water Resistant)
799         IP52 (Dust and Splash Resistant)
538         IP53 (Dust and Splash Resistant)
519                                      NaN
763     IP68/IP69 (Dust and Water Resistant)
200                                      NaN
1029         IP68 (Dust and Water Resistant)
307         IP53 (Dust and Splash Resistant)
281          IP68 (Dust and Water Resistant)
103                                      NaN
450            IPX6/X8/X9 (Water Resistance)
861          IP54 (Dust and Water Resistant)
1267        IP53 (Dust and Splash Resistant)
143                                      NaN
Name: ip_rating, dtype: object

In [2432]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [2433]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [2434]:
df['water_resistance_level'].count()

np.int64(1268)

In [2435]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 92 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(47)
memory usage: 827.9+ KB

In [2436]:
df['speaker'].sample(30)

895                                     Mono Speaker
477                                  Stereo Speakers
585                    Stereo Speakers, Hi-Res Audio
1248         24-bit/192kHz Hi-Res Audio, Loudspeaker
255              Moto Spatial Sound, Stereo Speakers
750                                     Mono Speaker
106                                      Loudspeaker
1218                                    Mono Speaker
1260                                 Stereo Speakers
804                                     Mono Speaker
1176                                 Stereo Speakers
739                                      Loudspeaker
153                                  Stereo Speakers
627      24-bit/192kHz Hi-Res Audio, Stereo Speakers
970                                     Mono Speaker
57                                   Stereo Speakers
664                                      Loudspeaker
845                                  Stereo Speakers
501                                      Loudspeaker
755                                  Stereo Speakers
517          24-bit/192kHz Hi-Res Audio, Loudspeaker
0                                    Stereo Speakers
1020                                 Stereo Speakers
928                                  Stereo Speakers
596     Dual-mic Noise Cancellation, Stereo Speakers
641                                      Loudspeaker
1005                                 Stereo Speakers
665                                      Loudspeaker
759                                  Stereo Speakers
342                                  Stereo Speakers
Name: speaker, dtype: object

In [2437]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [2438]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [2439]:
df['speaker'].sample(20)

1134                               Loudspeaker
223                            Stereo Speakers
215                            Stereo Speakers
446                               Mono Speaker
1162                           Stereo Speakers
1253                           Stereo Speakers
146                 DTS Audio, Stereo Speakers
742                                Loudspeaker
794                                Loudspeaker
1149                           Stereo Speakers
824                               Mono Speaker
1224                               Loudspeaker
1083                               Loudspeaker
401                               Mono Speaker
918                            Stereo Speakers
293     Stereo Speakers (Dolby Atmos Enhanced)
1104                              Mono Speaker
1101                           Stereo Speakers
83                             Stereo Speakers
564     Stereo Speakers (Dolby Atmos Enhanced)
Name: speaker, dtype: object

In [2440]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [2441]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [2442]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 94 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
 92  has_stereo_speakers          1268 non-null   int64
 93  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(47)
memory usage: 847.7+ KB

In [2443]:
df['chipset'].sample(20)

705               MediaTek Helio G96 (12 nm), 381703 Antutu Score
601           MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
577      MediaTek Dimensity 6100 Plus (6 nm), 393210 Antutu Score
1123          MediaTek Dimensity 1200 (6 nm), 765515 Antutu Score
488               MediaTek Helio G85 (12 nm), 264823 Antutu Score
36                     Apple A18 Pro (3 nm), 1660345 Antutu Score
863     MediaTek Dimensity 7200 Ultra (4 nm), 732353 Antutu Score
390           MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
267      Qualcomm Snapdragon 888 Plus (5 nm), 961175 Antutu Score
975           MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
1256          Qualcomm Snapdragon 888 (5 nm), 915852 Antutu Score
234                      Unisoc T606 (12 nm), 246197 Antutu Score
817               MediaTek Helio A22 (12 nm), 123031 Antutu Score
1072          Qualcomm Snapdragon 888 (5 nm), 915852 Antutu Score
1192              MediaTek Helio P35 (12 nm), 150618 Antutu Score
117            MediaTek Dimensity 810 (6 nm), 421890 Antutu Score
636                Unisoc Tiger T612 (12 nm), 244837 Antutu Score
917                MediaTek Helio G99 (6 nm), 422909 Antutu Score
804      MediaTek Dimensity 6100 Plus (6 nm), 393210 Antutu Score
1097    MediaTek Dimensity 9200 Plus (4 nm), 1513580 Antutu Score
Name: chipset, dtype: object

In [2444]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [2445]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [2446]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [2447]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [2448]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [2449]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand        chipset_brand
226         qualcomm   snapdragon 6 gen 1
1193        mediatek            helio p35
545         mediatek       dimensity 6080
351         qualcomm   snapdragon 8 gen 5
1119        mediatek       dimensity 7300
407         mediatek       dimensity 6300
1058         samsung          exynos 2500
53             apple              a19 pro
179         mediatek       dimensity 8200
1062        qualcomm   snapdragon 8 gen 3
793         mediatek        dimensity 700
209         mediatek        dimensity 920
314         mediatek   dimensity 7200 pro
203         qualcomm       snapdragon 695
382         qualcomm   snapdragon 8 gen 2
7              apple           a16 bionic
824         mediatek            helio g36
573         qualcomm   snapdragon 6 gen 1
532         qualcomm  snapdragon 6s gen 3
620         qualcomm      snapdragon 778g

In [2450]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 96 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
 92  has_stereo_speakers          1268 non-null   int64
 93  has_audio_certification      1268 non-null   int64
 94  processor_brand              1268 non-null   category
 95  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(48)
memory usage: 859.1+ KB

In [2451]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [2452]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [2453]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [2454]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [2455]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [2456]:
df['chipset_brand'].sample(20)

347                snapdragon 8 elite
1223                   dimensity 6300
1000                      exynos 1380
734                    dimensity 6400
695                    snapdragon 888
234                              t606
315               snapdragon 8s gen 4
381                snapdragon 8 gen 2
161          snapdragon 8 elite gen 5
870              dimensity 7300 ultra
1142               snapdragon 7 gen 3
1127                    dimensity 900
679                   dimensity 9400e
502                    snapdragon 870
1005               snapdragon 7 gen 1
124                    dimensity 6080
247               snapdragon 6s gen 3
1038    snapdragon 8 elite for galaxy
1196                        helio g85
288                    dimensity 7400
Name: chipset_brand, dtype: object

In [2457]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [2458]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [2459]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [2460]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [2461]:
df['antutu_score'].sample(20)

775      778000.0
65      1445942.0
517      422909.0
618      421890.0
821      136643.0
234      246197.0
136      124787.0
62       688247.0
887      396590.0
481      443228.0
266      634199.0
1182    1045272.0
41      1605038.0
1085     441369.0
906      393210.0
496      308467.0
992      471697.0
461     1403197.0
1099    1609257.0
559      393210.0
Name: antutu_score, dtype: float64

In [2462]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [2463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 98 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
 92  has_stereo_speakers          1268 non-null   int64
 93  has_audio_certification      1268 non-null   int64
 94  processor_brand              1268 non-null   category
 95  chipset_brand                1266 non-null   object
 96  chipset_nm                   1258 non-null   float64
 97  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(48)
memory usage: 878.9+ KB

In [2464]:
df['cpu'].sample(20)

860                        Octa-core (2x2.4 GHz ARM Cortex-A76 & 6x2.0 GHz ARM Cortex-A55)
1223                                      Octa-core (2x2.4 GHz Cortex-A76 & 6x Cortex-A55)
810                               Octa-core (2x2.2 GHz Cortex-A78 & 6x1.95 GHz Cortex-A55)
250                                Octa-core (2x2.2 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
189                                                                    Octa-core (2.4 GHz)
898                                Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
413                                Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
795                                Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
116                                Octa-core (2x2.5 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
354       Octa-core (1x2.84 GHz Cortex-X1 & 3x2.42 GHz Cortex-A78 & 4x1.80 GHz Cortex-A55)
487                               Octa-core (4x2.2 GHz Cortex-A53 & 4x1.7 GHz Cortex-A53))
618                                Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
1007    Octa-core (1x2.4 GHz Cortex-A710 & 3x2.36 GHz Cortex-A710 & 4x1.8 GHz Cortex-A510)
24                                                     Hexa-core (2x3.78 GHz + 4x2.11 GHz)
436     Octa-core (1x3.20 GHz Cortex-X2 & 3x2.85 GHz Cortex-A710 & 4x1.80 GHz Cortex-A510)
841                        Octa-core (2x2.2 GHz Kryo 660 Gold & 6x1.7 GHz Kryo 660 Silver)
677      Octa-core (1x2.8 GHz Cortex-A715 & 4x2.6 GHz Cortex-A715 & 3x1.9 GHz Cortex-A510)
637                                Octa-core (2x1.8 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
27                                                     Hexa-core (2x4.04 GHz + 4x2.20 GHz)
26                                      Hexa-core (2x3.46 GHz Everest+4x2.02 GHz Sawtooth)
Name: cpu, dtype: object

In [2465]:
df['cpu_core_count'] = df['cpu'].str.strip().str.split(' ').str.get(0)

In [2466]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
Octa-core    1193
Hexa-core      54
Deca-core      13
Quad-core       4
Nona-core       4
Name: count, dtype: int64

In [2467]:
def extract_core_count(text):

  t = text.lower()

  if 'octa' in t:
    return 8

  if 'hexa' in t:
    return 6

  if 'deca' in t:
    return 10

  if 'quad' in t:
    return 4

  if 'nona' in t:
    return 9

df['cpu_core_count'] = df['cpu_core_count'].apply(extract_core_count)

In [2468]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
8     1193
6       54
10      13
4        4
9        4
Name: count, dtype: int64

In [2469]:
df['cpu_max_ghz'] = df['cpu'].str.extract(r'(\d+\.?\d*)\s*[Gg]*\s*[Gg]Hz', flags=re.IGNORECASE)

In [2470]:
df['cpu_max_ghz'].value_counts(dropna=False)

cpu_max_ghz
2.4     235
2.2     195
2.5     122
2.0      83
2.6      58
1.8      43
3.0      38
2.8      38
2.3      33
3.2      32
3.1      27
3.35     26
3.3      25
2.63     22
2.40     20
4.32     19
1.6      16
3.19     16
3.46     14
3.00     13
2.05     13
4.26     12
3.25     12
3.36     11
2.85     11
4.04      9
2.84      9
3.05      8
4.21      7
NaN       7
3.78      7
4.47      7
4.6       6
3.23      6
4.05      6
3.63      6
2.35      6
2.9       6
3.21      6
3.39      5
3.4       5
2.80      4
2.7       4
2.75      4
3.73      4
3         3
2.99      3
2.30      2
2.91      2
2.1       1
3.20      1
Name: count, dtype: int64

In [2471]:
df['cpu_max_ghz'] = pd.to_numeric(df['cpu_max_ghz'])

In [2472]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 100 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  brand                        1268 non-null   category
 55  is_available                 1268 non-null   int64
 56  is_flipkart_available        1268 non-null   int64
 57  is_amazon_available          1268 non-null   int64
 58  is_official_available        1268 non-null   int64
 59  display_panel_type           1268 non-null   object
 60  display_panel_family         1268 non-null   category
 61  display_hz                   1268 non-null   int64
 62  display_dynamic_range        1268 non-null   category
 63  touch_sampling_rate          852 non-null    float64
 64  has_ltpo                     1268 non-null   int64
 65  has_anti_reflection_coating  1268 non-null   int64
 66  display_inches               1268 non-null   float64
 67  display_body_ratio           1036 non-null   float64
 68  has_curved                   1268 non-null   int64
 69  has_foldable                 1268 non-null   int64
 70  res_category                 1268 non-null   category
 71  res_width                    1268 non-null   int64
 72  res_height                   1268 non-null   int64
 73  aspect_ration_numeric        1185 non-null   float64
 74  display_ppi                  1268 non-null   float64
 75  color_depth                  1268 non-null   float64
 76  peak_brightness              1206 non-null   float64
 77  has_high_contrast            1268 non-null   int64
 78  height_mm                    1268 non-null   float64
 79  width_mm                     1268 non-null   float64
 80  thickness_mm                 1268 non-null   float64
 81  weight_g                     1268 non-null   float64
 82  front_potection              1268 non-null   category
 83  back_material                1268 non-null   category
 84  frame_material               1268 non-null   category
 85  durability_cert              1268 non-null   category
 86  has_3_5mm_jack               1268 non-null   int64
 87  usb_type                     1268 non-null   category
 88  usb_version                  1268 non-null   float64
 89  has_otg                      1268 non-null   int64
 90  has_ir_blaster               1268 non-null   int64
 91  water_resistance_level       1268 non-null   category
 92  has_stereo_speakers          1268 non-null   int64
 93  has_audio_certification      1268 non-null   int64
 94  processor_brand              1268 non-null   category
 95  chipset_brand                1266 non-null   object
 96  chipset_nm                   1258 non-null   float64
 97  antutu_score                 1237 non-null   float64
 98  cpu_core_count               1268 non-null   int64
 99  cpu_max_ghz                  1261 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(18), int64(22), object(48)
memory usage: 898.7+ KB

In [2473]:
df['gpu_brand'] = df['gpu'].str.lower().str.strip().str.split(' ').str.get(0)

In [2474]:
df['gpu_brand'] = df['gpu_brand'].str.replace('-',' ')

In [2475]:
df[df['gpu_brand'] == 'unspecified']['gpu']

137    Unspecified
Name: gpu, dtype: object

In [2476]:
df.loc[137,'gpu_brand'] = np.nan

In [2477]:
df['gpu_brand'].value_counts(dropna=False)

gpu_brand
adreno              454
mali g57            243
mali g68             95
arm                  79
mali g615            57
apple                54
mali g52             50
powervr              42
mali g610            34
img                  29
xclipse              22
NaN                  19
mali                 19
mali g77             12
immortalis g720      12
mali g710            10
immortalis g715       9
mali g720             7
immortalis g925       6
immortalis g715s      6
mali g715             5
mali g78              2
ge8322                2
Name: count, dtype: int64

In [2478]:
df['gpu_brand'] = df['gpu_brand'].astype('category')

In [2479]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 101 entries, model_id to gpu_brand
dtypes: category(12), datetime64[ns](1), float64(18), int64(22), object(48)
memory usage: 900.7+ KB

In [2480]:
df['main_cam'].sample(20)

66               48 MP, f/1.7, 25mm (Wide-angle), 82°, 0.8 µm, 1/2.0", Dual Pixel PDAF, OIS
298                                               50 MP, f/1.8, (Wide-angle), 0.64 µm, PDAF
1090                                              50 MP, f/1.8, (Wide-angle), 0.64 µm, PDAF
202                                                   50 MP, f/1.8, 26mm (Wide-angle), PDAF
128                                                  108 MP, f/1.75, 0mm (Wide-angle), PDAF
17      48 MP, f/1.6, 26mm (Wide-angle), 0.8 µm, 1/1.56", Dual Pixel PDAF, Sensor-Shift OIS
1039                              200 MP, f/1.7, 24mm (Wide-angle), 85°, 1/1.56", OIS, PDAF
126                                                  108 MP, f/1.8, (Wide-angle), OIS, PDAF
87                                   200 MP, f/1.9, 0mm (Wide-angle), 0.56 µm, 1/1.4", PDAF
927                                                     50 MP, f/1.8, (Wide-angle), 1/1.96"
681                               50 MP, f/1.8, 24mm (Wide-angle), 1 µm, 1/1.56", OIS, PDAF
1243                                         50 MP, f/1.79, (Wide-angle), 0.8 µm, OIS, PDAF
1040                              200 MP, f/1.7, 24mm (Wide-angle), 85°, 1/1.56", OIS, PDAF
60                              50 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, 1/1.95", EIS, PDAF
792                                            50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF
1215                                                       50 MP, f/1.8, (Wide-angle), PDAF
1030                        50 MP, f/1.8, 24mm (Wide-angle), 1 µm, 1/1.57", Auto Focus, OIS
602              50 MP, f/1.8, 27mm (Wide-angle), 75.5°, 0.61 µm, 1/2.88", Auto Focus, PDAF
197                                  50 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, 1/1.95", PDAF
825                                                       8 MP, f/2.0, (Wide-angle), 0.8 µm
Name: main_cam, dtype: object

In [2481]:
df['cam_primary_mp'] = df['main_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('int')

In [2482]:
df['cam_primary_mp'].value_counts(dropna=False)

cam_primary_mp
50     850
64      91
48      82
108     79
13      48
8       37
200     35
32      25
12      15
16       5
100      1
Name: count, dtype: int64

In [2483]:
df['cam_aperture'] = df['main_cam'].str.split(',').str.get(1).str.split('/').str.get(1).str.strip()

In [2484]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8        726
1.9         80
1.88        60
1.79        60
1.7         53
1.6         53
1.75        42
2.2         42
2.0         40
1.5         19
1.78        18
1.68        14
1.89        13
1.65         9
1.85         7
NaN          6
1.57         6
1.69         5
2.6          4
1.4          3
1.59         3
1.63         2
1.4-2.0      1
1.6-f        1
1.62         1
Name: count, dtype: int64

In [2485]:
df[df['cam_aperture'] == '1.6-f'][['main_cam','model']]

,main_cam,model
1262,"50 MP, f/1.6-f/4.0, 23mm (Wide-angle), 3.2 µm, 1.0"", Auto Focus, Multi-directional PDAF, OIS",Xiaomi 14 Ultra

In [2486]:
df.loc[89,'cam_aperture'] = '1.4'
df.loc[1262,'cam_aperture'] = '1.6'

In [2487]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8     726
1.9      80
1.88     60
1.79     60
1.6      54
1.7      53
1.75     42
2.2      42
2.0      40
1.5      19
1.78     18
1.68     14
1.89     13
1.65      9
1.85      7
1.57      6
NaN       6
1.69      5
1.4       4
2.6       4
1.59      3
1.63      2
1.62      1
Name: count, dtype: int64

In [2488]:
df['cam_aperture'] = pd.to_numeric(df['cam_aperture'])

In [2489]:
df['main_cam'].sample(20)

342                           50 MP, f/1.6, 23mm (Wide-angle), 1.12 µm, 1/1.43", Multi-directional PDAF, OIS
163                                                             50 MP, f/1.8, (Wide-angle), Gimbal OIS, PDAF
871                                                50 MP, f/1.6, 24mm (Wide-angle), 1 µm, 1/1.55", OIS, PDAF
975                                                                     50 MP, f/1.8, 0mm (Wide-angle), PDAF
32                      48 MP, f/1.8, 24mm (Wide-angle), 1.22 µm, 1/1.28", Dual Pixel PDAF, Sensor-Shift OIS
827                                                                   8 MP, f/2.0, 0mm (Wide-angle), 0.64 µm
102                                                                 50 MP, f/1.6, 26mm (Wide-angle), 0.64 µm
663                                                         50 MP, f/1.8, (Wide-angle), 77.1°, 0.64 µm, PDAF
67                               12 MP, f/1.7, 27mm (Wide-angle), 77°, 1.4 µm, 1/2.55", Dual Pixel PDAF, OIS
1173                                                         50 MP, f/1.88, (Wide-angle), 1 µm, 1/1.56", OIS
854                                                                 50 MP, f/1.9, (Wide-angle), 1/1.56", OIS
1198                                                                        50 MP, f/1.8, (Wide-angle), PDAF
338     50 MP, f/1.6, 23mm (Wide-angle), 85°, 1.12 µm, 1/1.43", Auto Focus, EIS, Multi-directional PDAF, OIS
286                         50 MP, f/1.8, 24mm (Wide-angle), 84°, 1 µm, 1/1.56", Multi-directional PDAF, OIS
579                                             50 MP, f/1.8, 26mm (Wide-angle), 80°, 0.64 µm, 1/2.76", PDAF
749                                                                    50 MP, f/1.8, (Wide-angle), 80°, PDAF
229                                                                13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF
649                                                           64 MP, f/1.8, (Wide-angle), 0.7 µm, 1/2", PDAF
802                                                     108 MP, f/1.75, (Wide-angle), 1.92 µm, 1/1.67", PDAF
582                                                 50 MP, f/1.8, 26mm (Wide-angle), 79°, 1/1.95", OIS, PDAF
Name: main_cam, dtype: object

In [2490]:
def extract_ois(text):

  t = text.lower()

  if 'ois' in t:
    return 1

  return 0

df['cam_has_ois'] = df['main_cam'].apply(extract_ois)

In [2491]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [2492]:
df['cam_sensor_size'] = df['main_cam'].str.extract(r'1/(\d+\.\d+)')

In [2493]:
df['cam_sensor_size'].value_counts(dropna=False)

cam_sensor_size
NaN     546
1.56    192
1.95    108
2.76     78
1.67     36
1.28     31
2.0      28
1.4      21
1.57     20
2.88     20
1.3      19
1.55     18
1.52     18
1.31     15
3.1      14
1.96     14
1.49     11
1.97      9
1.43      8
4.0       7
2.55      6
2.8       5
3.06      5
1.76      5
1.72      4
1.73      4
2.5       4
2.9       4
1.7       3
1.5       3
3.0       3
1.22      2
1.33      2
2.74      1
2.93      1
3.6       1
0.98      1
1.0       1
Name: count, dtype: int64

In [2494]:
df['cam_sensor_size'] = pd.to_numeric(df['cam_sensor_size'])

In [2495]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 105 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
dtypes: category(12), datetime64[ns](1), float64(20), int64(24), object(48)
memory usage: 940.3+ KB

In [2496]:
df['main_cam2'].sample(20)

405                                                                           NaN
480                          8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4"
1089                                                         2 MP, f/2.4, (Macro)
59                                             2 MP, f/2.4, 0mm  (Depth), 0.64 µm
995                                       8 MP, f/2.2, (Ultra-wide), 120°, 0.8 µm
913                                    5 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/5.0"
70                                      13 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm
958                              8 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm, 1/4.0"
234                                                                           NaN
733                                             2 MP, f/2.4, 22mm  (Depth), 88.8°
842                                               8 MP, f/2.2, (Ultra-wide), 118°
151                              13 MP, f/2.5, 50mm  (Telephoto), 1.12 µm, 1/3.1"
624                 8 MP, f/2.2, 15.4mm  (Ultra-wide), 119°, 1.12 µm, 1/4.0", EIS
802                                                 2 MP, f/2.4, (Macro), 0.64 µm
1145    50 MP, f/1.85, 50mm  (Telephoto), 0.64 µm, 1/2.51", 2x Optical Zoom, PDAF
126                                                          2 MP, f/2.4, (Macro)
319                                 8 MP, f/2.2, 15mm  (Ultra-wide), 119.5°, 1/4"
563                                         8 MP, f/2.2, 16mm  (Ultra-wide), 112°
1202                                    0.08 MP, f/3.0, 0mm  (Auxiliary), 0.64 µm
610                                            50 MP, f/2.0, (Ultra-wide), 115.6°
Name: main_cam2, dtype: object

In [2497]:
df['cam_secondary_mp'] = df['main_cam2'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0)

In [2498]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2              390
8              333
50             125
0.08            97
12              82
NaN             54
5               45
10              39
13              31
48              19
64              15
32              10
(Auxiliary)      7
0.03             6
f/2.4            5
16               4
f/2.8            2
10.8             2
180              1
200              1
Name: count, dtype: int64

In [2499]:
df[df['cam_secondary_mp'] == 'f/2.4'][['model','main_cam2']]

                              model                          main_cam2
739  Realme Narzo N53 (6GB + 128GB)                f/2.4, 0mm  (Depth)
740  Realme Narzo N53 (8GB + 128GB)                     f/2.4, (Depth)
741                Realme Narzo N53                     f/2.4, (Depth)
744  Realme Narzo N61 (6GB + 128GB)   f/2.4, 0mm  (Auxiliary), 0.64 µm
753                    Realme P1 5G  f/2.4, 22mm  (Depth), 88.8°, 1/5"

In [2500]:
df.loc[[638,639,739,740,741,753],'cam_secondary_mp'] = 2
df.loc[[136,138,484,489,745,830,831,744], 'cam_secondary_mp'] = 0.08

In [2501]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2       390
8       333
50      125
0.08     97
12       82
NaN      54
5        45
10       39
13       31
48       19
64       15
32       10
0.08      8
0.03      6
2         6
16        4
10.8      2
180       1
200       1
Name: count, dtype: int64

In [2502]:
cam_cols_to_check = ['main_cam2', 'main_cam3', 'main_cam4']

df['has_telephoto'] = df[cam_cols_to_check].apply(
    lambda x: x.str.contains('Telephoto', case=False, na=False)
).any(axis=1).astype(int)

df['has_periscope'] = df[['main_cam2', 'main_cam3', 'main_cam4']].apply(
    lambda x: x.str.contains('Periscope', case=False, na=False)
).any(axis=1).astype(int)

In [2503]:
df['has_telephoto'].value_counts()

has_telephoto
0    1070
1     198
Name: count, dtype: int64

In [2504]:
df['has_periscope'].value_counts()

has_periscope
0    1219
1      49
Name: count, dtype: int64

In [2505]:
df['main_cam2'].sample(20)

12                                                         12 MP, f/2.2, 13mm  (Ultra-wide), 120°
356                                                          8 MP, f/2.2, (Ultra-wide), 120°, EIS
298                                                                 2 MP, f/2.4, (Macro), 1.75 µm
941                                                                          2 MP, f/2.4, (Depth)
428                                                            2 MP, f/2.4, (Depth), 89°, 0.64 µm
266                                            50 MP, f/2.2, (Ultra-wide), 118°, 0.64 µm, 1/2.76"
36      12 MP, f/2.8, 120mm  (Periscope), 1.12 µm, 1/3.06", 5x Optical Zoom, Dual Pixel PDAF, OIS
739                                                                           f/2.4, 0mm  (Depth)
407                                                                                           NaN
318                                                 8 MP, f/2.2, 15mm  (Ultra-wide), 119.5°, 1/4"
863                                                      8 MP, f/2.2, (Ultra-wide), 119°, 1.12 µm
947                                                                 2 MP, f/2.4, (Macro), 0.64 µm
688                                               50 MP, f/2.0, 16mm  (Ultra-wide), 116°, 1/2.88"
877                                                    5 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/5.0"
814                                                                        0.03 MP, f/3.0, (QVGA)
1008                                               8 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm, 1/4"
359                                         8 MP, f/2.2, 0mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0"
848                                                8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/4"
835                                                      8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm
953                                                    5 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/5.0"
Name: main_cam2, dtype: object

In [2506]:
df['cam_optical_zoom'] = df['main_cam2'].str.extract(r'(\d+)x\s+Optical\s+Zoom')

In [2507]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].fillna(0)

In [2508]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].astype(int)

In [2509]:
df['cam_optical_zoom'].value_counts(dropna=False)

cam_optical_zoom
0     1097
3       89
2       38
5       36
10       5
4        2
7        1
Name: count, dtype: int64

In [2510]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 109 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(20), int64(27), object(49)
memory usage: 979.9+ KB

In [2511]:
df['main_cam3'].sample(20)

/usr/local/lib/python3.12/dist-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

129                                                 2 MP, f/2.4, (Auxiliary)
611                                                                      NaN
992                                                2 MP, f/2.4, 0mm  (Depth)
1068                               12 MP, f/2.2, 12mm  (Ultra-wide), 1.12 µm
1171    50 MP, f/2.0, 15mm  (Ultra-wide), 119°, 0.64 µm, 1/2.76", Auto Focus
678                                                             50 MP, f/2.0
242                                                                      NaN
1048     12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1/2.55", Super Steady Video
505                                                                      NaN
544                                                                      NaN
82                                                                       NaN
939                                                     5 MP, f/2.4, (Macro)
785                                                                      NaN
67                                                                       NaN
1213                                                                     NaN
222                                                                      NaN
490                                                                      NaN
1138                                                    2 MP, f/2.4, (Depth)
614                                                                      NaN
413                                                                      NaN
Name: main_cam3, dtype: object

In [2512]:
df['cam_tertiary_mp'] = df['main_cam3'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [2513]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN            637
2              330
50              63
12              62
8               49
5               31
48              28
10              13
13              10
0.08             9
0mm              7
200              5
f/2.8            4
f/2.4            3
(Auxiliary)      3
0.3              2
10.5             2
88°              2
0.07             2
3                2
32               2
10.8             1
f/2.5            1
Name: count, dtype: int64

In [2514]:
df[df['cam_tertiary_mp'] == '0mm'][['model','main_cam3']]

                                    model         main_cam3
528              Poco M7 5G (8GB + 128GB)  0mm  (Auxiliary)
720  Realme Narzo 70 Turbo (12GB + 256GB)               0mm
721   Realme Narzo 70 Turbo (8GB + 128GB)               0mm
803            Redmi 13C 5G (6GB + 128GB)  0mm  (Auxiliary)
804            Redmi 13C 5G (8GB + 256GB)  0mm  (Auxiliary)
806               Redmi 13C (6GB + 128GB)  0mm  (Auxiliary)
807               Redmi 13C (8GB + 256GB)  0mm  (Auxiliary)

In [2515]:
df.loc[[121,114,119,122],'cam_tertiary_mp'] = 0.07
df.loc[[808,809,810,528,720,721,803,804,806,807],'cam_tertiary_mp'] = 0.08
df.loc[[636,637,706,707],'cam_tertiary_mp'] = 2
df.loc[[553,554],'cam_tertiary_mp'] = np.nan

In [2516]:
df['cam_tertiary_mp'] = pd.to_numeric(df['cam_tertiary_mp'])

In [2517]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN       639
2.00      334
50.00      63
12.00      62
8.00       49
5.00       31
48.00      28
0.08       19
10.00      13
13.00      10
0.07        6
200.00      5
10.50       2
0.30        2
32.00       2
3.00        2
10.80       1
Name: count, dtype: int64

In [2518]:
# List of camera columns
cam_cols = ['main_cam', 'main_cam2', 'main_cam3','main_cam4']

# Count non-NaN values across these columns
df['total_cam_count'] = df[cam_cols].notna().sum(axis=1)

In [2519]:
df['total_cam_count'].value_counts(dropna=False)

total_cam_count
2    583
3    583
1     54
4     48
Name: count, dtype: int64

In [2520]:
df[~df['main_cam4'].isnull()]['main_cam4']

238                                                                     2 MP, f/2.4, (Depth), 175 µm
439                 50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.75", Multi-Directional PDAF
441                                                                   2 MP, f/2.4, (Monochrome), 88°
442                                                                   2 MP, f/2.4, (Monochrome), 88°
443                                                                   2 MP, f/2.4, (Monochrome), 88°
786                                                                        2 MP, f/2.4, 0mm  (Depth)
787                                                                        2 MP, f/2.4, 0mm  (Depth)
788                                                                             2 MP, f/2.4, (Depth)
836                                                                        2 MP, f/2.4, 0mm  (Depth)
837                                                                        2 MP, f/2.4, 0mm  (Depth)
838                                                                        2 MP, f/2.4, 0mm  (Depth)
842                                                                             2 MP, f/2.4, (Depth)
843                                                                             2 MP, f/2.4, (Depth)
844                                                                             2 MP, f/2.4, (Depth)
845                                                                        2 MP, f/2.4, 0mm  (Depth)
846                                                                        2 MP, f/2.4, 0mm  (Depth)
847                                                                             2 MP, f/2.4, (Depth)
877                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
878                                                                    2 MP, f/2.4, (Depth), 1.75 µm
879                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
880                                                                    2 MP, f/2.4, (Depth), 1.75 µm
881                                                                        2 MP, f/2.4, 0mm  (Depth)
882                                                                             2 MP, f/2.4, (Depth)
883                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
884                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
885                                                                        5 MP, f/2.4, 0mm  (Depth)
915                                                               2 MP, f/2.4, 0mm  (Depth), 0.64 µm
916                                                                    2 MP, f/2.4, (Depth), 0.64 µm
930                                                                    5 MP, f/2.4, (Depth), 1.12 µm
939                                                                             5 MP, f/2.4, (Depth)
992                                                                        2 MP, f/2.4, 0mm  (Macro)
993                                                                             2 MP, f/2.4, (Macro)
1002                                                                            2 MP, f/2.4, (Macro)
1003                                                                            2 MP, f/2.4, (Macro)
1015    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1016    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1022          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1023          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1024          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1034    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1035          12 MP, f/2.2, (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1036    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1045          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1046          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1047          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1181                                      8 MP, f/3.4, (Periscope), 1 µm, 5x Optical Zoom, OIS, PDAF
1262            50 MP, f/1.8, 12mm  (Ultra-wide), 122°, 0.7 µm, 1/2.51", Auto Focus, Dual Pixel PDAF
1264                       50 MP, f/2.2, 14mm  (Ultra-wide), 115°, 1.28 µm, 1/2.76", Dual Pixel PDAF
Name: main_cam4, dtype: object

In [2521]:
df['cam_fourth_mp'] = df['main_cam4'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [2522]:
df['cam_fourth_mp'] = pd.to_numeric(df['cam_fourth_mp'])

In [2523]:
df['cam_fourth_mp'].value_counts(dropna=False)

cam_fourth_mp
NaN     1220
2.0       28
12.0       8
50.0       6
5.0        5
8.0        1
Name: count, dtype: int64

In [2524]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 112 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
 109  cam_tertiary_mp              629 non-null    float64
 110  total_cam_count              1268 non-null   int64
 111  cam_fourth_mp                48 non-null     float64
dtypes: category(12), datetime64[ns](1), float64(22), int64(28), object(49)
memory usage: 1009.6+ KB

In [2525]:
df['main_cam_features'].sample(50)

969                                                                                                                                                 HDR, LED Flash, Panorama
569                                                                  HDR, LED Flash, Long Exposure, Macro, Night Mode, Panorama, Panoramic, Portrait Mode, Professional Mode
764                                                                                                                                                 HDR, LED Flash, Panorama
206                                                                                                                                  Dual LED Dual Tone Flash, HDR, Panorama
618                                                            HDR, LED Flash, Nightscape, Panorama, Panoramic, Portrait, Professional, Slow Motion, Super Macro, Time-Lapse
108                                                                                                      Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash
145                                                                                                                                            Dual LED Flash, HDR, Panorama
714                                                                                                                                                 HDR, LED Flash, Panorama
529                                                                                                                                                 HDR, LED Flash, Panorama
414                                                                                                                                                 HDR, LED Flash, Panorama
490                                                                                                                  Dual-LED Flash, HDR, Panorama, Portrait Mode, Timelapse
1208                         Double Exposure, Dual View, HDR, HIGH-RES, LED Flash, Micro, Movie, Night, Panorama, portrait, Portrait Photo & Video, Pro, Slow-Mo, Time-Lapse
1102                                                                                                HDR, HIGH-RES, LED Flash, Night, Panorama, Portrait, Slow-Mo, Time-Lapse
632                                                                                                                   Expert, HDR, LED flash, Panoramic, Portrait, Timelapse
853                                                  Dual LED Dual Tone Flash, Film Camera Mode, HDR, Long Exposure, Movie frame, Night Mode, Panorama, Pro Mode, Time Lapse
756                                                                                                                                                 HDR, LED Flash, Panorama
928                                                                                                                                                 HDR, LED Flash, Panorama
990                                                                                                                                   Digital Zoom, HDR, LED Flash, Panorama
889                                                                                                                                                                LED Flash
1125                                                                                                       Auto Focus, Digital Zoom, Dual LED Dual Tone Flash, HDR, Panorama
554                          AI Scene Detection, Chroma Boost, Cinematic Bokeh, Expert, Filter, HDR, LED Flash, Night Mode, Panorama, Portrait Mode, Slow Motion, Time Lapse
205                                                                                                                                  Dual LED Dual Tone Flash, HDR, Panorama
1085                                                        Double Exposure, Dual View, HDR, LED Flash, Micro, Movie, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse
1193                                                                                                                                                               LED Flash
579                                                                                                                                                 HDR, LED Flash, Panorama
1221                                                                             HDR, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Slow-Mo, Time-lapse
1160                             Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics
1036                                                                                                                                 Dual LED Dual Tone Flash, HDR, Panorama
107                                                                                                      Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash
962                                                                                                                                                 HDR, LED Flash, Panorama
565                                                                                                                                                 HDR, LED Flash, Panorama
727                                                                                                                                                                 Panorama
96                                                                                                                                            Dual LED  Flash, HDR, Panorama
603                                                                                                             Dual View, Long Exposure, Night, Panorama, Portrait, Slow-Mo
847                                                                                                                                  HDR, LED Flash, Panorama, Portrait Mode
136                                                                                                                                            Dual LED Flash, HDR, Panorama
348                                                                                                                          Color Spectrum Sensor, HDR, LED Flash, Panorama
398                                                                                                                                                 HDR, LED Flash, Panorama
1038                                                                                                                                           Auto-HDR, LED Flash, Panorama
508                                                                              HDR, LED Flash, Long Exposure, Night Mode, Panorama, Portrait, Pro, Slow Motion, Time Lapse
925                                                                                                                                                 HDR, LED Flash, Panorama
670                                                                                                                        HDR, LED Flash, Panorama, Portrait Mode, Pro Mode
172                                                                                                                                                 HDR, LED Flash, Panorama
1012                                                                                                                                           Auto HDR, LED flash, Panorama
938                                                                                                                                      Best Face, HDR, LED Flash, Panorama
450                                                                                                               Hi-Res Mode, Night Mode, Panorama, Portrait Mode, Pro mode
63                                                                                                             Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR
336     Auto Focus, Dual LED Flash, Filter, HDR, Long Exposure, Movie, Nightscape, OIS, Panorama, PDAF, Portrait Mode, Super Stable, Time-Lapse, Video HDR, Video Nightscape
1151                       Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics
1034                                                                                                                                 Dual LED Dual Tone Flash, HDR, Panorama
Name: main_cam_features, dtype: object

In [2526]:
# 1. Apple Premium Stack (LiDAR & Photonic)
df['is_apple_flagship_tech'] = df['main_cam_features'].str.contains('LiDAR|Photonic Engine', case=False, na=False).astype(int)

# 2. Advanced Focus & Optics (Zeiss & Laser AF)
df['has_laser_af'] = df['main_cam_features'].str.contains('Laser Auto Focus', case=False, na=False).astype(int)
df['has_zeiss_optics'] = df['main_cam_features'].str.contains(r'Zeiss Optics|Zeiss T\*', case=False, na=False).astype(int)

# 3. Stability & Professional Video (OIS & Cinematic/Movie)
df['has_pro_video_features'] = df['main_cam_features'].str.contains('Cinematic|Movie|Dual View', case=False, na=False).astype(int)

In [2527]:
df['is_apple_flagship_tech'].value_counts()

is_apple_flagship_tech
0    1240
1      28
Name: count, dtype: int64

In [2528]:
df['has_laser_af'].value_counts()

has_laser_af
0    1222
1      46
Name: count, dtype: int64

In [2529]:
df['has_zeiss_optics'].value_counts()

has_zeiss_optics
0    1234
1      34
Name: count, dtype: int64

In [2530]:
df['has_pro_video_features'].value_counts()

has_pro_video_features
0    1002
1     266
Name: count, dtype: int64

In [2531]:
df[df['has_zeiss_optics'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
1144,Vivo V30 Pro 5G (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1145,Vivo V30 Pro 5G,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1148,Vivo V40 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1149,Vivo V40 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1150,Vivo V40 Pro (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1151,Vivo V40 Pro,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1152,Vivo V40,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1155,Vivo V50 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1156,Vivo V50 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1157,Vivo V50,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1159,Vivo V60 (12GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1160,Vivo V60 (16GB + 512GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1161,Vivo V60 (8GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1162,Vivo V60,"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1166,Vivo X Fold 5,"Dual LED Flash, HDR, Laser Auto Focus, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1167,Vivo X Fold3 Pro,"Dual LED Flash, HDR, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1168,Vivo X100 (16GB + 512GB),"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1169,Vivo X100 Pro,"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1170,Vivo X100,"3D LUT Support, HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1171,Vivo X200 (16GB + 512GB),"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1172,Vivo X200 FE (16GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1173,Vivo X200 FE,"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1174,Vivo X200 Pro,"3D LUT Support, HDR, HIGH-RES, Laser Auto Focus, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Super Macro, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1175,Vivo X200,"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1176,Vivo X300 (12GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1177,Vivo X300 (16GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1178,Vivo X300 Pro,"3D LUT Import, Colour Spectrum sensor, HDR, Laser AF, LED Flash, Panorama, Zeiss optics, Zeiss T* lens coating"
1179,Vivo X300,"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1180,Vivo X80 (12GB + 256GB),"Double Exposure, Dual LED Dual Tone Flash, Dual View, HDR, Laser AF, Panorama, Pixel Shift, Pro, Slow Motion, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1181,vivo X80 Pro,"Double Exposure, Dual LED Dual Tone Flash, HDR, Laser AF, Long Exposure, Micro, Movie, Night, Panorama, Pixel Shift, Portrait, Pro, Slow Motion, Time Lapse, Zeiss Optics, Zeiss T* Lens Coating"

In [2532]:
df[df['is_apple_flagship_tech'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
14,Apple iPhone 15 (6GB + 256GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
15,Apple iPhone 15 (6GB + 512GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
22,Apple iPhone 15 Pro Max (8GB + 1TB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
23,Apple iPhone 15 Pro Max (8GB + 512GB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
24,Apple iPhone 15 Pro Max,"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
26,Apple iPhone 15,"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"

In [2533]:
df[df['has_laser_af'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
29,Apple iPhone 16 Plus (8GB + 256GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
30,Apple iPhone 16 Plus (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
31,Apple iPhone 16 Plus,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
32,Apple iPhone 16 Pro (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
33,Apple iPhone 16 Pro (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
34,Apple iPhone 16 Pro Max (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
35,Apple iPhone 16 Pro Max (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
36,Apple iPhone 16 Pro Max,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
37,Apple iPhone 16 Pro,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
63,Google Pixel 10 Pro Fold,"Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR"
64,Google Pixel 10 Pro XL,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
65,Google Pixel 10 Pro,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
66,Google Pixel 10,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
278,Motorola Edge 50 Pro (12GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama"
279,Motorola Edge 50 Pro,"HDR, Laser Auto Focus, LED Flash, Panorama"
280,Motorola Edge 50 Ultra,"Assistive Grid, Audio Zoom, Dual LED Flash, HDR, Laser Auto Focus, Leveler, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Timelapse, Ultra HDR"
345,OnePlus 13R (16GB + 512GB),"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
346,OnePlus 13R,"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
349,OnePlus 15 (16GB + 512GB),"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
350,OnePlus 15,"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
439,Oppo Find X8 Pro,"Colour Spectrum sensor, Hasselblad Colour Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
442,Oppo Find X9 Pro,"Color Spectrum Sensor, Hasselblad Color Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
1018,Samsung Galaxy S23 FE (8GB + 256GB),"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1019,Samsung Galaxy S23 FE,"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1043,Samsung Galaxy S25 Plus (12GB + 512GB),"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"
1044,Samsung Galaxy S25 Plus,"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"

In [2534]:
df[df['has_pro_video_features'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
0,Apple iPhone 14 (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
1,Apple iPhone 14 (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
2,Apple iPhone 14 Plus (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
3,Apple iPhone 14 Plus (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
4,Apple iPhone 14 Plus,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
13,Apple iPhone 14,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
42,Apple iPhone 17 (8GB + 512GB),"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
50,Apple iPhone 17,"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
107,Infinix Hot 30 5G (4GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
108,Infinix Hot 30 5G (8GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
109,Infinix Hot 30 5G,"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
116,Infinix Hot 60i 5G,"Dual LED Flash, Dual View, HDR, Night, Panorama, PRO, Slow Motion, Time Lapse"

In [2535]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 116 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
 109  cam_tertiary_mp              629 non-null    float64
 110  total_cam_count              1268 non-null   int64
 111  cam_fourth_mp                48 non-null     float64
 112  is_apple_flagship_tech       1268 non-null   int64
 113  has_laser_af                 1268 non-null   int64
 114  has_zeiss_optics             1268 non-null   int64
 115  has_pro_video_features       1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(22), int64(32), object(49)
memory usage: 1.0+ MB

In [2536]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [2537]:
df['cam_has_ois'] = ((df['cam_has_ois'] == 1) | df['main_cam_features'].str.contains('OIS', case=False, na=False)).astype(int)

In [2538]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    658
1    610
Name: count, dtype: int64

In [2539]:
df['main_video'].sample(20)

883                                                                                                        4K@30fps, 1080p@30/60fps, gyro-EIS
0       4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording
828                                                                                                                               1080p@30fps
1153                                                                                              4K@30fps, 1080p@30/60/120fps, gyro-EIS, OIS
554                                                                                                                                       NaN
123                                                                                               1440p@30fps, 1080p@30/60/120fps, 720p@30fps
178                                                                                                                     4K@30fps, 1080p@30fps
511                                                                                                                               1080p@30fps
650                                                                                                                               1080p@30fps
944                                                                                                                            1080p@30/60fps
638                                                                                                                                       NaN
419                                                                                                          4K@30fps, 1080p@30/60/120/480fps
1253                                                                                                     4K@30fps, 1080p@30/60fps, 720p@30fps
1132                                                                                                       4K@30/60fps, 1080p@30fps, gyro-EIS
730                                                                                         4K@30fps, 1080p@30/60fps, 720p@30/60fps, EIS, OIS
124                                                                                               1440p@30fps, 1080p@30/60/120fps, 720p@30fps
230                                                                                                                   1080p@30fps, 720p@30fps
728                                                                                                                               1080p@30fps
155                                                                      8K@30fps, 4K@30/60fps, 1080p@30/60/120/240fps, gyro-EIS, Slow Motion
882                                                                                                                  4K@30fps, 1080p@30/60fps
Name: main_video, dtype: object

In [2540]:
def get_max_resolution(text):
    if pd.isna(text):
      return 'Unknown'

    res_upper = text.upper()

    if '8K' in res_upper:
        return '8K'
    elif '4K' in res_upper:
        return '4K'
    elif '1080P' in res_upper:
        return '1080p'
    elif '720P' in res_upper:
        return '720p'
    else:
        return 'Standard'

df['max_video_res'] = df['main_video'].apply(get_max_resolution).astype('category')

In [2541]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [2542]:
df['video_has_eis'] = df['main_video'].str.contains('EIS', case=True, na=False).astype(int)

In [2543]:
df['video_has_eis'].value_counts()

video_has_eis
0    726
1    542
Name: count, dtype: int64

In [2544]:
df['video_is_pro_grade'] = df['main_video'].str.contains(r'Dolby Vision|HDR10\+|10-bit', case=True, na=False).astype('int')

In [2545]:
df['video_is_pro_grade'].value_counts()

video_is_pro_grade
0    1093
1     175
Name: count, dtype: int64

In [2546]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 119 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
 109  cam_tertiary_mp              629 non-null    float64
 110  total_cam_count              1268 non-null   int64
 111  cam_fourth_mp                48 non-null     float64
 112  is_apple_flagship_tech       1268 non-null   int64
 113  has_laser_af                 1268 non-null   int64
 114  has_zeiss_optics             1268 non-null   int64
 115  has_pro_video_features       1268 non-null   int64
 116  max_video_res                1268 non-null   category
 117  video_has_eis                1268 non-null   int64
 118  video_is_pro_grade           1268 non-null   int64
dtypes: category(13), datetime64[ns](1), float64(22), int64(34), object(49)
memory usage: 1.0+ MB

In [2547]:
df['os'].sample(20)

668         Android 15, Realme UI
837        Android 11, Redmi MIUI
479           Android 11, ColorOS
879            Android 12, One UI
824     Android Go 14, Redmi MIUI
780         Android 15, Realme UI
320        Android 15, Nothing OS
357          Android 14, OxygenOS
1143    Android 14, Vivo Funtouch
1095    Android 14, Vivo Funtouch
276     Android 14, Motorola MyUx
1254       Android 11, Redmi MIUI
1030           Android 14, One UI
456           Android 15, ColorOS
995            Android 13, One UI
512         Android 11, Poco MIUI
920            Android 15, One UI
779         Android 15, Realme UI
649         Android 13, Realme UI
1232    Android 14, Vivo Funtouch
Name: os, dtype: object

In [2548]:
df['os_type'] = df['os'].str.extract(r'(Android|iOS|google android)')[0].str.lower().astype('category')

In [2549]:
df['os_type'].value_counts(dropna=False)

os_type
android    1214
ios          54
Name: count, dtype: int64

In [2550]:
df['os_version_num'] = df['os'].str.extract(r'(\d+)').astype(float)

In [2551]:
df['os_version_num'].value_counts(dropna=False)

os_version_num
14.0    333
15.0    315
13.0    235
12.0    226
11.0     78
16.0     41
18.0     18
26.0     12
17.0     10
Name: count, dtype: int64

In [2552]:
df['is_android_go'] = df['os'].str.contains('Go', case=False, na=False).astype(int)

In [2553]:
df['is_android_go'].value_counts()

is_android_go
0    1229
1      39
Name: count, dtype: int64

In [2554]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 122 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
 109  cam_tertiary_mp              629 non-null    float64
 110  total_cam_count              1268 non-null   int64
 111  cam_fourth_mp                48 non-null     float64
 112  is_apple_flagship_tech       1268 non-null   int64
 113  has_laser_af                 1268 non-null   int64
 114  has_zeiss_optics             1268 non-null   int64
 115  has_pro_video_features       1268 non-null   int64
 116  max_video_res                1268 non-null   category
 117  video_has_eis                1268 non-null   int64
 118  video_is_pro_grade           1268 non-null   int64
 119  os_type                      1268 non-null   category
 120  os_version_num               1268 non-null   float64
 121  is_android_go                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(23), int64(35), object(49)
memory usage: 1.1+ MB

In [2555]:
df['software_updates'].sample(20)

590     2 year(s) of Software updates and 3 year(s) of Security updates
1046                         7 year(s) of Software and Security updates
1083    1 year(s) of Software updates and 2 year(s) of Security updates
543     3 year(s) of Software updates and 4 year(s) of Security updates
468     3 year(s) of Software updates and 4 year(s) of Security updates
346     4 year(s) of Software updates and 6 year(s) of Security updates
1187                                                                NaN
613     3 year(s) of Software updates and 4 year(s) of Security updates
469     3 year(s) of Software updates and 4 year(s) of Security updates
868     2 year(s) of Software updates and 4 year(s) of Security updates
81                           7 year(s) of Software and Security updates
345     4 year(s) of Software updates and 6 year(s) of Security updates
289     3 year(s) of Software updates and 4 year(s) of Security updates
13                           5 year(s) of Software and Security updates
264     3 year(s) of Software updates and 4 year(s) of Security updates
620     2 year(s) of Software updates and 3 year(s) of Security updates
272     2 year(s) of Software updates and 3 year(s) of Security updates
511     2 year(s) of Software updates and 3 year(s) of Security updates
992     2 year(s) of Software updates and 4 year(s) of Security updates
967     4 year(s) of Software updates and 5 year(s) of Security updates
Name: software_updates, dtype: object

In [2556]:
def get_years(text, keyword):
    if pd.isna(text): return 0

    text = text.lower()

    combined_match = re.search(r'(\d+)\s*year.*?software\s*and\s*security', text)
    if combined_match:
        return float(combined_match.group(1))

    specific_match = re.search(r'(\d+)\s*year.*?' + keyword.lower(), text)
    if specific_match:
        return float(specific_match.group(1))

    return 0

df['os_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'software'))
df['security_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'security'))

In [2557]:
df['os_update_years'].value_counts(dropna=False)

os_update_years
2.0    540
3.0    256
4.0    145
1.0    102
7.0     78
0.0     65
5.0     44
6.0     38
Name: count, dtype: int64

In [2558]:
df['security_update_years'].value_counts(dropna=False)

security_update_years
2.0    554
3.0    262
4.0    145
1.0    107
7.0     78
5.0     44
0.0     40
6.0     38
Name: count, dtype: int64

In [2563]:
df[df['security_update_years'] == 0][['model','software_updates','security_update_years']].head(50)

,model,software_updates,security_update_years
111,Infinix Hot 30i (8GB + 128GB),NaN,0.0
112,Infinix Hot 30i,NaN,0.0
113,Infinix Hot 40i,NaN,0.0
134,Infinix Smart 10,NaN,0.0
228,Moto E13 (8GB + 128GB),NaN,0.0
229,Moto E13,NaN,0.0
250,Moto G54 Power (12GB + 256GB),NaN,0.0
251,Moto G54 Power,NaN,0.0
389,Oppo A3 Pro (8GB + 256GB),NaN,0.0
392,Oppo A3x 4G (4GB + 128GB),NaN,0.0
421,Oppo F27 5G (8GB + 256GB),NaN,0.0
423,Oppo F27 Pro Plus 5G (8GB + 256GB),NaN,0.0
430,Oppo F31 5G,NaN,0.0
431,Oppo F31 Pro (12GB + 256GB),NaN,0.0
432,Oppo F31 Pro (8GB + 256GB),NaN,0.0
435,Oppo F31 Pro,NaN,0.0
438,Oppo Find X8 (16GB + 512GB),NaN,0.0
475,Oppo Reno14 5G (12GB + 512GB),NaN,0.0
593,Realme 14 Pro Lite 5G (8GB + 256GB),NaN,0.0
636,Realme C31 (4GB + 64GB),NaN,0.0
642,Realme C51 (4GB + 128GB),NaN,0.0
643,Realme C51,NaN,0.0
668,Realme C75 5G (6GB + 128GB),NaN,0.0
669,Realme C75 5G,NaN,0.0
714,Realme Narzo 60X 5G (6GB + 128GB),NaN,0.0
715,Realme Narzo 60X 5G,NaN,0.0
767,Realme P3 Pro 5G (12GB + 256GB),NaN,0.0
768,Realme P3 Pro 5G (8GB + 256GB),NaN,0.0
799,Redmi 12C (6GB + 128GB),NaN,0.0
800,Redmi 12C,NaN,0.0
823,Redmi A3 (4GB + 128GB),NaN,0.0
824,Redmi A3 (6GB + 128GB),NaN,0.0
1090,Vivo T2x 5G,NaN,0.0
1187,Vivo Y02t,NaN,0.0
1188,Vivo Y100,NaN,0.0
1220,Vivo Y28 5G,NaN,0.0
1233,Vivo Y31 5G (6GB + 128GB),NaN,0.0
1234,Vivo Y31 5G,NaN,0.0
1239,Vivo Y36,NaN,0.0
1247,Vivo Y58 5G,NaN,0.0

In [2564]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 124 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   brand                        1268 non-null   category
 55   is_available                 1268 non-null   int64
 56   is_flipkart_available        1268 non-null   int64
 57   is_amazon_available          1268 non-null   int64
 58   is_official_available        1268 non-null   int64
 59   display_panel_type           1268 non-null   object
 60   display_panel_family         1268 non-null   category
 61   display_hz                   1268 non-null   int64
 62   display_dynamic_range        1268 non-null   category
 63   touch_sampling_rate          852 non-null    float64
 64   has_ltpo                     1268 non-null   int64
 65   has_anti_reflection_coating  1268 non-null   int64
 66   display_inches               1268 non-null   float64
 67   display_body_ratio           1036 non-null   float64
 68   has_curved                   1268 non-null   int64
 69   has_foldable                 1268 non-null   int64
 70   res_category                 1268 non-null   category
 71   res_width                    1268 non-null   int64
 72   res_height                   1268 non-null   int64
 73   aspect_ration_numeric        1185 non-null   float64
 74   display_ppi                  1268 non-null   float64
 75   color_depth                  1268 non-null   float64
 76   peak_brightness              1206 non-null   float64
 77   has_high_contrast            1268 non-null   int64
 78   height_mm                    1268 non-null   float64
 79   width_mm                     1268 non-null   float64
 80   thickness_mm                 1268 non-null   float64
 81   weight_g                     1268 non-null   float64
 82   front_potection              1268 non-null   category
 83   back_material                1268 non-null   category
 84   frame_material               1268 non-null   category
 85   durability_cert              1268 non-null   category
 86   has_3_5mm_jack               1268 non-null   int64
 87   usb_type                     1268 non-null   category
 88   usb_version                  1268 non-null   float64
 89   has_otg                      1268 non-null   int64
 90   has_ir_blaster               1268 non-null   int64
 91   water_resistance_level       1268 non-null   category
 92   has_stereo_speakers          1268 non-null   int64
 93   has_audio_certification      1268 non-null   int64
 94   processor_brand              1268 non-null   category
 95   chipset_brand                1266 non-null   object
 96   chipset_nm                   1258 non-null   float64
 97   antutu_score                 1237 non-null   float64
 98   cpu_core_count               1268 non-null   int64
 99   cpu_max_ghz                  1261 non-null   float64
 100  gpu_brand                    1249 non-null   category
 101  cam_primary_mp               1268 non-null   int64
 102  cam_aperture                 1262 non-null   float64
 103  cam_has_ois                  1268 non-null   int64
 104  cam_sensor_size              722 non-null    float64
 105  cam_secondary_mp             1214 non-null   object
 106  has_telephoto                1268 non-null   int64
 107  has_periscope                1268 non-null   int64
 108  cam_optical_zoom             1268 non-null   int64
 109  cam_tertiary_mp              629 non-null    float64
 110  total_cam_count              1268 non-null   int64
 111  cam_fourth_mp                48 non-null     float64
 112  is_apple_flagship_tech       1268 non-null   int64
 113  has_laser_af                 1268 non-null   int64
 114  has_zeiss_optics             1268 non-null   int64
 115  has_pro_video_features       1268 non-null   int64
 116  max_video_res                1268 non-null   category
 117  video_has_eis                1268 non-null   int64
 118  video_is_pro_grade           1268 non-null   int64
 119  os_type                      1268 non-null   category
 120  os_version_num               1268 non-null   float64
 121  is_android_go                1268 non-null   int64
 122  os_update_years              1268 non-null   float64
 123  security_update_years        1268 non-null   float64
dtypes: category(14), datetime64[ns](1), float64(25), int64(35), object(49)
memory usage: 1.1+ MB

In [2566]:
df['ai_features'].sample(30)

467                                                               AI Camera
7                                                                       NaN
572                             AI Scene recognition, AI Video, Beauty mode
1055                                          Chat Assist, Circle to Search
1177    AI Assistant, Small V Circle Search 2.0, Xiao V Phone Assistant 2.0
397              AI Clarity Enhancer, AI Eraser 2.0, AI Smart Image Matting
553                                                               AI Camera
355                        AI Camera, AI Enhancements, AI Scene recognition
971                                                                     NaN
113                                                                     NaN
180              AI Game Assist, AI Game Booster, AI Game Tuning, AI Gaming
1065                                                       Circle to Search
697       AI Beauty, AI Camera, AI HDR, AI Night Mode, AI Scene recognition
1033                              AI Translate, Circle to Search, Galaxy AI
519                                                               AI Camera
910                                                                     NaN
208                                                               AI Camera
967                                                                     NaN
229                                AI Beauty, AI Camera, Auto Smile Capture
360                AI Audio Summary, AI Best Face, AI Clear Face, AI Eraser
528                                                                     NaN
1226                                                                    NaN
51                                                       Apple Intelligence
512                                                                     NaN
891                                                                     NaN
591                       AI Eraser 2.0, AI Snap Mode, AI Ultra Clarity 2.0
1089                                                                    NaN
1056                                            Circle to Search, Galaxy AI
130                          AI Eraser, AI Generative Wallpapers, AIGC Mode
206                                                               AI Camera
Name: ai_features, dtype: object

In [2588]:
df['has_gen_ai'] = df['ai_features'].str.contains(r'Galaxy AI|Apple Intelligence|Circle|Eraser|Gemini|Assist|Generative|Summary|Writer|Interpreter|Reimage').astype(float)
df['has_gen_ai'] = df['has_gen_ai'].fillna(0).astype(int)

In [2593]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [2594]:
df['has_ai_camera'] = df['ai_features'].str.contains(r'AI Camera|AI Beauty|Scene recognition|AI HDR|Portrait').astype(float)
df['has_ai_camera'] = df['has_ai_camera'].fillna(0)

In [2595]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    876
1.0    392
Name: count, dtype: int64

In [2596]:
# Agar phone Gen-AI hai, toh Basic AI ko 0 kar do taaki overlap na ho
df.loc[df['has_gen_ai'] == 1, 'has_ai_camera'] = 0

In [2597]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [2598]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    940
1.0    328
Name: count, dtype: int64

In [2580]:
df['ai_feature_count'] = df['ai_features'].apply(lambda x: len(str(x).split(',')) if pd.notna(x) else 0)

In [2581]:
df['ai_feature_count'].value_counts(dropna=False)

ai_feature_count
0     488
1     333
3     122
4     110
2     103
5      56
7      24
6      13
9      10
8       5
11      3
10      1
Name: count, dtype: int64

In [2601]:
df[df['ai_feature_count'] == 6][['model','ai_features','has_gen_ai','has_ai_camera']]

,model,ai_features,has_gen_ai,has_ai_camera
170,iQOO Neo 10 (12GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
171,iQOO Neo 10 (16GB + 512GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
172,iQOO Neo 10 (8GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
182,iQOO Neo 10,"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
345,OnePlus 13R (16GB + 512GB),"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
346,OnePlus 13R,"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
649,Realme C55,"AI Beauty, AI Camera, AI HDR, AI Night Mode, AI Portrait, AI Scene Recognition",0,1.0
1038,Samsung Galaxy S25 (12GB + 512GB),"Browsing assist, Call assist, Chat assist, Interpreter, Note assist, Photo assist",1,0.0
1150,Vivo V40 Pro (12GB + 512GB),"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1151,Vivo V40 Pro,"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1155,Vivo V50 (12GB + 512GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1156,Vivo V50 (8GB + 256GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1157,Vivo V50,"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0