<a href="https://colab.research.google.com/github/rajeshxdatascience/SpecLens-AI/blob/main/SpecLens_AI_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [ ]:
df = pd.read_csv('/content/24_jan_smartphones_columns_for_ml.csv')

In [ ]:
df.head()

,model_id,model,expert_rating,rating,rating_count,market_status,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link,main_cam4,front_cam2
0,1,Apple iPhone 14 (6GB + 256GB),69,4.6,(321KRatings),In Stock,07 Sep 2022,"Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago","₹64,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
1,2,Apple iPhone 14 (6GB + 512GB),69,4.6,(321KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹89,900","₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹79,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),72,4.6,(87KRatings),Out of Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹99,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN,NaN,NaN
4,5,Apple iPhone 14 Plus,72,4.6,(87KRatings),In Stock,07 Sep 2022,Lowest price since launch Lowest price since launch,"₹69,900","₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 59 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    object
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
dtypes: float64(1), int64(2), object(56)
memory usage: 584.6+ KB

In [ ]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [ ]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [ ]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [ ]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [ ]:
df['brand'].count()

np.int64(1268)

In [ ]:
df['brand'] = df['brand'].astype('category')

In [ ]:
df['expert_rating'].value_counts()

expert_rating
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [ ]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [ ]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [ ]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [ ]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [ ]:
df['rating_count'] = df['rating_count'].astype('float64')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   market_status        1268 non-null   object
 6   launch_on            1268 non-null   object
 7   old_price            1149 non-null   object
 8   price                1268 non-null   object
 9   launch_price         1268 non-null   object
 10  display_type         1268 non-null   object
 11  display_size         1268 non-null   object
 12  display_res          1268 non-null   object
 13  body_dimension       1268 non-null   object
 14  weight               1268 non-null   object
 15  body_front           1268 non-null   object
 16  body_back            1238 non-null   object
 17  body_side            1251 non-null   object
 18  build_quality        739 non-null    object
 19  ports                1268 non-null   object
 20  ip_rating            915 non-null    object
 21  speaker              1265 non-null   object
 22  chipset              1268 non-null   object
 23  cpu                  1268 non-null   object
 24  gpu                  1250 non-null   object
 25  main_cam             1268 non-null   object
 26  main_cam2            1214 non-null   object
 27  main_cam3            631 non-null    object
 28  main_cam_features    1268 non-null   object
 29  main_video           1239 non-null   object
 30  os                   1268 non-null   object
 31  software_updates     1228 non-null   object
 32  ai_features          780 non-null    object
 33  front_cam            1268 non-null   object
 34  front_cam_features   1026 non-null   object
 35  front_video          1229 non-null   object
 36  battery              1268 non-null   object
 37  charging             1268 non-null   object
 38  storage              1268 non-null   object
 39  ram                  1268 non-null   object
 40  sim                  1264 non-null   object
 41  tech                 1200 non-null   object
 42  2g                   1262 non-null   object
 43  3g                   1264 non-null   object
 44  4g                   1267 non-null   object
 45  5g                   1028 non-null   object
 46  speed                1264 non-null   object
 47  wifi                 1268 non-null   object
 48  bluetooth            1266 non-null   object
 49  positioning_system   1268 non-null   object
 50  nfc                  595 non-null    object
 51  finger_print         1192 non-null   object
 52  sensors              1268 non-null   object
 53  add_features         469 non-null    object
 54  flipkart_buy_link    1085 non-null   object
 55  amazon_buy_link      724 non-null    object
 56  official_store_link  610 non-null    object
 57  main_cam4            48 non-null     object
 58  front_cam2           9 non-null      object
 59  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(55)
memory usage: 586.5+ KB

In [ ]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [ ]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [ ]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [ ]:
df.drop(columns='market_status',inplace=True)

In [ ]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [ ]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [ ]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            1149 non-null   object
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(53)
memory usage: 586.5+ KB

In [ ]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [ ]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [ ]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [ ]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [ ]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [ ]:
df['old_price'] = df['old_price'].str.replace(',','')

In [ ]:
df['old_price'] = df['old_price'].astype('float')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   object
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(52)
memory usage: 586.5+ KB

In [ ]:
df['price'] = df['price'].str.replace('₹','')

In [ ]:
df['price'] = df['price'].str.replace(',','')

In [ ]:
df['price'] = df['price'].astype('int')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   object
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(51)
memory usage: 586.5+ KB

In [ ]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   expert_rating        1268 non-null   int64
 3   rating               1268 non-null   float64
 4   rating_count         994 non-null    float64
 5   launch_on            1268 non-null   datetime64[ns]
 6   old_price            844 non-null    float64
 7   price                1268 non-null   int64
 8   launch_price         1268 non-null   int64
 9   display_type         1268 non-null   object
 10  display_size         1268 non-null   object
 11  display_res          1268 non-null   object
 12  body_dimension       1268 non-null   object
 13  weight               1268 non-null   object
 14  body_front           1268 non-null   object
 15  body_back            1238 non-null   object
 16  body_side            1251 non-null   object
 17  build_quality        739 non-null    object
 18  ports                1268 non-null   object
 19  ip_rating            915 non-null    object
 20  speaker              1265 non-null   object
 21  chipset              1268 non-null   object
 22  cpu                  1268 non-null   object
 23  gpu                  1250 non-null   object
 24  main_cam             1268 non-null   object
 25  main_cam2            1214 non-null   object
 26  main_cam3            631 non-null    object
 27  main_cam_features    1268 non-null   object
 28  main_video           1239 non-null   object
 29  os                   1268 non-null   object
 30  software_updates     1228 non-null   object
 31  ai_features          780 non-null    object
 32  front_cam            1268 non-null   object
 33  front_cam_features   1026 non-null   object
 34  front_video          1229 non-null   object
 35  battery              1268 non-null   object
 36  charging             1268 non-null   object
 37  storage              1268 non-null   object
 38  ram                  1268 non-null   object
 39  sim                  1264 non-null   object
 40  tech                 1200 non-null   object
 41  2g                   1262 non-null   object
 42  3g                   1264 non-null   object
 43  4g                   1267 non-null   object
 44  5g                   1028 non-null   object
 45  speed                1264 non-null   object
 46  wifi                 1268 non-null   object
 47  bluetooth            1266 non-null   object
 48  positioning_system   1268 non-null   object
 49  nfc                  595 non-null    object
 50  finger_print         1192 non-null   object
 51  sensors              1268 non-null   object
 52  add_features         469 non-null    object
 53  flipkart_buy_link    1085 non-null   object
 54  amazon_buy_link      724 non-null    object
 55  official_store_link  610 non-null    object
 56  main_cam4            48 non-null     object
 57  front_cam2           9 non-null      object
 58  brand                1268 non-null   category
 59  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(50)
memory usage: 586.5+ KB

In [ ]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [ ]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [ ]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [ ]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [ ]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [ ]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [ ]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 60 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(47)
memory usage: 586.5+ KB

In [ ]:
df['display_type'].sample(10)

183            AMOLED, 144 Hz Refresh Rate, LTPO, HDR10+, 300 Hz Touch Sampling Rate
103                     IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
207    Smooth Display AMOLED, 90 Hz Refresh Rate, HDR10+, 180 Hz Touch Sampling Rate
824                     IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
420                                              AMOLED, 120 Hz Refresh Rate, HDR10+
776        HyperGlow AMOLED, 144 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
98                      AMOLED, 144 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
893                                                 IPS LCD, 60 Hz Refresh Rate, SDR
258                                                 p-OLED, 120 Hz Refresh Rate, SDR
696     Super AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [ ]:
# creating column for display_panel_type

df['display_panel_type'] = df['display_type'].str.lower().str.split(',').str.get(0)

In [ ]:
df['display_panel_type'].value_counts(dropna=False)

display_panel_type
amoled                          324
ips lcd                         310
super amoled                    105
lcd                              68
dynamic 2x amoled                60
super retina xdr oled            49
oled                             40
proxdr amoled                    32
p-oled                           30
pls lcd                          27
dot amoled                       25
hdr amoled                       23
e4 amoled                        17
dot ips lcd                      16
fluid amoled                     10
e5 amoled                         9
ultra smooth display ips lcd      9
super actua oled                  8
smooth display amoled             8
pro hdr amoled                    8
turbo amoled                      7
proxdr oled                       7
ultra amoled                      7
e6 amoled                         6
flow amoled                       6
q10+ amoled                       6
3d amoled amoled                  5
super retina xdr amoled           5
q10 amoled                        4
tft lcd                           4
hyperglow amoled                  3
e7 amoled                         3
fluid oled                        2
tft ips                           2
ips                               2
led                               2
u8 amoled                         2
ultra smooth display amoled       2
ultra smooth display lcd          2
trinity engine amoled             2
boundless display ips lcd         2
smooth display oled               1
true colour display amoled        1
dynamic ips lcd                   1
hdr oled                          1
super actua ips lcd               1
ips a-si                          1
smooth display ips lcd            1
smooth display lcd                1
dynamic amoled                    1
Name: count, dtype: int64

In [ ]:
# there are more than 50+ category so we have to make new column

def display_panel_family(text):

    t = text.lower()

    if 'amoled' in t:
      return 'amoled'

    if 'oled' in t and 'amoled' not in t:
      return 'oled'

    if 'ips lcd' in t or ('ips' in t and 'tft' not in t):
      return 'ips lcd'

    if 'tft' in t:
      return 'tft'

    if 'led' in t:
      return 'led'

    if 'lcd' in t:
      return 'lcd'

    return 'unknown'

df['display_panel_family'] = df['display_panel_type'].apply(display_panel_family)

In [ ]:
df['display_panel_family'].value_counts()

display_panel_family
amoled     681
ips lcd    343
oled       138
lcd         98
tft          6
led          2
Name: count, dtype: int64

In [ ]:
# convert display_panel_family from object dtypes to category

df['display_panel_family'] = df['display_panel_family'].astype('category')

In [ ]:
df['display_type'].sample(10)

1107                                                         LCD, 90 Hz Refresh Rate, SDR
405                             LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1125                          AMOLED, 60 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
629     Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
264                 p-OLED, 165 Hz Refresh Rate, LTPO, HDR10+, 360 Hz Touch Sampling Rate
291                                                  IPS LCD, 120 Hz Refresh Rate, HDR10+
1099                                                  AMOLED, 120 Hz Refresh Rate, HDR10+
1021     Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate
423                                                        OLED, 120 Hz Refresh Rate, HDR
699     Ultra Smooth Display IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [ ]:
# creating new col from display_type name display_hz

df['display_hz'] = df['display_type'].str.lower().str.split(',').str.get(1)

In [ ]:
df['display_hz'] = df['display_hz'].str.split(' ').str.get(1)

In [ ]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
sdr      1
Name: count, dtype: int64

In [ ]:
df[df['display_hz'].str.contains('sdr')]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz
228,229,Moto E13 (8GB + 128GB),50,4.1,371000.0,2023-02-08,NaN,9299,6999,"IPS LCD, SDR","6.5 inches, 102 cm², 89.2% Screen To Body Ratio","HD+, 720 x 1600 pixels, 20:9 (269 ppi), 8-bit colours",164.19 x 74.95 x 8.47 mm,179.5 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack, OTG",IP52 (Dust and Splash Resistant),Mono Speaker,"Unisoc T606 (12 nm), 246197 Antutu Score",Octa-core (2x1.6 GHz Cortex-A75 & 6x1.6 GHz Cortex-A55),Mali-G57 MP1,"13 MP, f/2.2, (Wide-angle), 1.12 µm, PDAF",NaN,NaN,"HDR, LED Flash, Panorama, Pro Mode",1080p@30fps,"Android Go 13, Motorola MyUx",NaN,"AI Beauty, AI Camera, Auto Smile Capture","5 MP, f/2.2, (Wide-angle), 1.12 µm, 1/5""","AI Beauty Mode, HDR Photos, Portrait Mode",1080p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",10W (wired),"128GB, eMMC 5.1","8GB, LPDDR4X",Hybrid Dual SIM (2 Nano SIMs + 1 microSD),"GSM, HSPA, LTE","3, 5, 8 (3 bands)","1, 5, 8 (3 bands)","1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (10 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","A2DP, AAC, LE, SBC","A-GPS, GALILEO, GLONASS, GPS, LTEPP, SUPL",NaN,NaN,"Accelerometer, Ambient Light Sensor, Proximity Sensor",NaN,NaN,NaN,motorola,0,0,1,0,ips lcd,ips lcd,sdr

In [ ]:
# this model display_hz is not available so fill 60 as default
df.loc[228,'display_hz'] = 60

In [ ]:
df['display_hz'].value_counts()

display_hz
120    781
90     274
60     119
144     81
165     12
60       1
Name: count, dtype: int64

In [ ]:
# converting data types of diplay_hz to numeric

df['display_hz'] = pd.to_numeric(df['display_hz'],errors='coerce')

In [ ]:
df['display_hz'].dtypes

dtype('int64')

In [ ]:
df['display_type'].sample(20)

1082                                                 IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
896                                                                              PLS LCD, 60 Hz Refresh Rate, SDR
209                                         Ultra AMOLED, 90 Hz Refresh Rate, HDR10+, 1200 Hz Touch Sampling Rate
613                                                       AMOLED, 120 Hz Refresh Rate, 240 Hz Touch Sampling Rate
880                                                                                  LCD, 90 Hz Refresh Rate, SDR
1254                                          Dot AMOLED, 120 Hz Refresh Rate, HDR10+, 480 Hz Touch Sampling Rate
1181                                    E5 AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 1000 Hz Touch Sampling Rate
713                                                   AMOLED, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
23                     Super Retina XDR OLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 360 Hz Touch Sampling Rate
1162                                                                          AMOLED, 120 Hz Refresh Rate, HDR10+
498                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
674                                            AMOLED, 120 Hz Refresh Rate, LTPO, HDR, 360 Hz Touch Sampling Rate
563                                               AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
426                   AMOLED, 120 Hz Refresh Rate, LTPO, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
1169                                           AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, Anti Reflection Coating
614                                                       AMOLED, 120 Hz Refresh Rate, 240 Hz Touch Sampling Rate
684                                                       AMOLED, 120 Hz Refresh Rate, 360 Hz Touch Sampling Rate
1033    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
838                                                                              AMOLED, 120 Hz Refresh Rate, SDR
294                                                  p-OLED, 120 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [ ]:
# keeping only hdr10+ , hd10 and sdr
def display_dynamic_range(text):

  t = text

  if 'Dolby Vision' in t:
    return 'Dolby Vision'
  if 'HDR10+' in t:
    return 'HDR10+'
  if 'ProXDR' in t:
    return 'ProXDR'
  if 'HDR' in t:
    return 'HDR'
  if 'HDR10' in t:
    return 'HDR10'
  if 'Pro HDR' in t:
    return 'HDR'

  return 'SDR'

df['display_dynamic_range'] = df['display_type'].apply(display_dynamic_range)

In [ ]:
df['display_dynamic_range'].value_counts(dropna=False)

display_dynamic_range
SDR             660
HDR10+          371
Dolby Vision    138
HDR              87
ProXDR           12
Name: count, dtype: int64

In [ ]:
df['display_dynamic_range'].count()

np.int64(1268)

In [ ]:
df[df['display_dynamic_range'].str.contains('SDR')]['display_type'].sample(20)

790                                      TFT IPS, 60 Hz Refresh Rate, SDR
229                                      IPS LCD, 60 Hz Refresh Rate, SDR
657          IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
510          IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1108                                         LCD, 90 Hz Refresh Rate, SDR
544          AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1202             LED, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
252         IPS LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
704     Super AMOLED, 90 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
589            OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
648          IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
714         IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
1235                                    IPS LCD, 120 Hz Refresh Rate, SDR
398         IPS LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
760            OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
766         IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
656         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
498         IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
826      Dot IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
122                                       AMOLED, 90 Hz Refresh Rate, SDR
Name: display_type, dtype: object

In [ ]:
# converting display_dynamic_range into category
df['display_dynamic_range'] = df['display_dynamic_range'].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   expert_rating          1268 non-null   int64
 3   rating                 1268 non-null   float64
 4   rating_count           994 non-null    float64
 5   launch_on              1268 non-null   datetime64[ns]
 6   old_price              844 non-null    float64
 7   price                  1268 non-null   int64
 8   launch_price           1268 non-null   int64
 9   display_type           1268 non-null   object
 10  display_size           1268 non-null   object
 11  display_res            1268 non-null   object
 12  body_dimension         1268 non-null   object
 13  weight                 1268 non-null   object
 14  body_front             1268 non-null   object
 15  body_back              1238 non-null   object
 16  body_side              1251 non-null   object
 17  build_quality          739 non-null    object
 18  ports                  1268 non-null   object
 19  ip_rating              915 non-null    object
 20  speaker                1265 non-null   object
 21  chipset                1268 non-null   object
 22  cpu                    1268 non-null   object
 23  gpu                    1250 non-null   object
 24  main_cam               1268 non-null   object
 25  main_cam2              1214 non-null   object
 26  main_cam3              631 non-null    object
 27  main_cam_features      1268 non-null   object
 28  main_video             1239 non-null   object
 29  os                     1268 non-null   object
 30  software_updates       1228 non-null   object
 31  ai_features            780 non-null    object
 32  front_cam              1268 non-null   object
 33  front_cam_features     1026 non-null   object
 34  front_video            1229 non-null   object
 35  battery                1268 non-null   object
 36  charging               1268 non-null   object
 37  storage                1268 non-null   object
 38  ram                    1268 non-null   object
 39  sim                    1264 non-null   object
 40  tech                   1200 non-null   object
 41  2g                     1262 non-null   object
 42  3g                     1264 non-null   object
 43  4g                     1267 non-null   object
 44  5g                     1028 non-null   object
 45  speed                  1264 non-null   object
 46  wifi                   1268 non-null   object
 47  bluetooth              1266 non-null   object
 48  positioning_system     1268 non-null   object
 49  nfc                    595 non-null    object
 50  finger_print           1192 non-null   object
 51  sensors                1268 non-null   object
 52  add_features           469 non-null    object
 53  main_cam4              48 non-null     object
 54  front_cam2             9 non-null      object
 55  brand                  1268 non-null   category
 56  is_available           1268 non-null   int64
 57  is_flipkart_available  1268 non-null   int64
 58  is_amazon_available    1268 non-null   int64
 59  is_official_available  1268 non-null   int64
 60  display_panel_type     1268 non-null   object
 61  display_panel_family   1268 non-null   category
 62  display_hz             1268 non-null   int64
 63  display_dynamic_range  1268 non-null   category
dtypes: category(3), datetime64[ns](1), float64(3), int64(9), object(48)
memory usage: 609.2+ KB

In [ ]:
df[df['display_type'].str.contains("Touch Sampling Rate")]['display_type'].sample(20)

203                                                 IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
732                                                    OLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
512                                              Dot IPS LCD, 90 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1142                                              AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
426                   AMOLED, 120 Hz Refresh Rate, LTPO, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
215                                                 AMOLED, 120 Hz Refresh Rate, HDR, 1200 Hz Touch Sampling Rate
28                          Super Retina XDR AMOLED, 60 Hz Refresh Rate, Dolby Vision, 120 Hz Touch Sampling Rate
677                                            AMOLED, 120 Hz Refresh Rate, LTPO, HDR, 360 Hz Touch Sampling Rate
1244                                           U8 AMOLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
1085                                            Turbo AMOLED, 90 Hz Refresh Rate, HDR, 360 Hz Touch Sampling Rate
736                                                  AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
935                                         Super AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
425                   AMOLED, 120 Hz Refresh Rate, LTPO, SDR, 240 Hz Touch Sampling Rate, Anti Reflection Coating
1155                                              AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
332                              HDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision, 1000 Hz Touch Sampling Rate
280                                               p-OLED, 144 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
1037    Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
835                                        IPS LCD, 144 Hz Refresh Rate, Dolby Vision, 270 Hz Touch Sampling Rate
690                                           E4 AMOLED, 120 Hz Refresh Rate, HDR10+, 1000 Hz Touch Sampling Rate
538                                              Dot AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [ ]:
# using regx to extract touch sampling rate

def extract_touch_sampling_rate(text):

  t = text.lower()

  match = re.search(r'(\d{2,4})\s*hz\s*touch', t)

  if match:
    return int(match.group(1))

  return np.nan

df['touch_sampling_rate'] = df['display_type'].apply(extract_touch_sampling_rate)

In [ ]:
df['touch_sampling_rate'].value_counts(dropna=False)

touch_sampling_rate
NaN       416
240.0     369
180.0     164
360.0     121
120.0      47
300.0      40
1000.0     29
480.0      27
1200.0     13
90.0       10
720.0       5
288.0       5
60.0        4
270.0       3
2000.0      3
1500.0      3
960.0       2
2200.0      2
600.0       2
2500.0      2
3000.0      1
Name: count, dtype: int64

In [ ]:
df['display_type'].sample(20)

1184                                                                AMOLED, 120 Hz Refresh Rate, HDR10+
347                                              ProXDR AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
1069                                                                   PLS LCD, 90 Hz Refresh Rate, SDR
803                                                                Dot IPS LCD, 90 Hz Refresh Rate, SDR
216                                       AMOLED, 120 Hz Refresh Rate, HDR, 1200 Hz Touch Sampling Rate
524                                           LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
979                                         IPS LCD, 90 Hz Refresh Rate, SDR, 90 Hz Touch Sampling Rate
717                                       AMOLED, 120 Hz Refresh Rate, SDR, 2200 Hz Touch Sampling Rate
1023                                         Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, Dolby Vision
543                          Flow AMOLED, 120 Hz Refresh Rate, Dolby Vision, 240 Hz Touch Sampling Rate
574     ProXDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
404                                           LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
405                                           LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1246                                                                   IPS LCD, 60 Hz Refresh Rate, SDR
705                  Ultra Smooth Display IPS LCD, 120 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
13                                              Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision
1055                                               Dynamic 2X AMOLED, 120 Hz Refresh Rate, LTPO, HDR10+
74         OLED, 120 Hz Refresh Rate, LTPO, HDR10+, 240 Hz Touch Sampling Rate, Anti Reflection Coating
395                                           LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
168                                  E5 AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [ ]:
df[df['display_type'].str.contains('LTPO')]['display_type'].count()

/usr/local/lib/python3.12/dist-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

np.int64(212)

In [ ]:
def extract_lpo(text):

  t = text.lower()

  if 'ltpo' in t:
    return 1

  return 0

df['has_ltpo'] = df['display_type'].apply(extract_lpo)

In [ ]:
df['has_ltpo'].value_counts()

has_ltpo
0    1056
1     212
Name: count, dtype: int64

In [ ]:
df[df['display_type'].str.contains('Anti Reflection Coating')]['display_type'].count()

np.int64(77)

In [ ]:
def extract_anti_reflecting_coating(text):

  t = text.lower()

  if 'anti reflection coating' in t:
    return 1

  return 0

df['has_anti_reflection_coating'] = df['display_type'].apply(extract_anti_reflecting_coating)

In [ ]:
df['has_anti_reflection_coating'].value_counts()

has_anti_reflection_coating
0    1191
1      77
Name: count, dtype: int64

In [ ]:
df['display_type'].sample(20)

1125              AMOLED, 60 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
883                                 Super AMOLED, 120 Hz Refresh Rate, HDR10+
1050                           Dynamic 2X AMOLED, 120 Hz Refresh Rate, HDR10+
1212                                         IPS LCD, 60 Hz Refresh Rate, SDR
1206                                             LCD, 90 Hz Refresh Rate, SDR
1251             AMOLED, 120 Hz Refresh Rate, SDR, 360 Hz Touch Sampling Rate
450              AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
982                                          IPS LCD, 90 Hz Refresh Rate, SDR
607                                            OLED, 120 Hz Refresh Rate, SDR
435              AMOLED, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
282           p-OLED, 120 Hz Refresh Rate, HDR10+, 300 Hz Touch Sampling Rate
251                                         IPS LCD, 120 Hz Refresh Rate, SDR
329     Fluid AMOLED, 120 Hz Refresh Rate, HDR10+, 360 Hz Touch Sampling Rate
743              IPS LCD, 90 Hz Refresh Rate, SDR, 180 Hz Touch Sampling Rate
360       HDR AMOLED, 120 Hz Refresh Rate, HDR10+, 240 Hz Touch Sampling Rate
832             IPS LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
1228                LCD, 120 Hz Refresh Rate, SDR, 240 Hz Touch Sampling Rate
885                                    Super AMOLED, 120 Hz Refresh Rate, SDR
350                           AMOLED, 165 Hz Refresh Rate, LTPO, Dolby Vision
447                 LCD, 120 Hz Refresh Rate, SDR, 120 Hz Touch Sampling Rate
Name: display_type, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 67 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(4), int64(11), object(48)
memory usage: 638.9+ KB

In [ ]:
df['display_size'].sample(20)

52                      6.5 inches, 103.22 cm², 89.9% Screen To Body Ratio
27                        6.1 inches, 91.7 cm², 86.4% Screen To Body Ratio
39                        6.1 inches, 91.4 cm², 87.1% Screen To Body Ratio
124                     6.78 inches, 109.2 cm², 90.6% Screen To Body Ratio
170                       6.78 inches, 111 cm², 90.4% Screen To Body Ratio
1254                    6.67 inches, 107.4 cm², 85.1% Screen To Body Ratio
734                       6.72 inches, 109 cm², 91.4% Screen To Body Ratio
1030                       6.7 inches, 110.2 cm², 88% Screen To Body Ratio
978                      6.6 inches, 104.9 cm², 82.5% Screen To Body Ratio
408                     6.75 inches, 111.4 cm², 90.6% Screen To Body Ratio
847                      6.43 inches, 99.8 cm², 84.5% Screen To Body Ratio
223     6.77 inches Curved Display, 110.9 cm², 93.13% Screen To Body Ratio
163                                    6.78 inches Curved Display, 111 cm²
891                        6.5 inches, 102 cm², 81.8% Screen To Body Ratio
1132                                   6.78 inches Curved Display, 111 cm²
556       6.72 inches Curved Display, 108 cm², 93.76% Screen To Body Ratio
273                                  6.55 inches Curved Display, 103.6 cm²
492                                                 6.74 inches, 109.7 cm²
826                       6.71 inches, 106.5 cm², 90% Screen To Body Ratio
123                     6.78 inches, 109.2 cm², 90.6% Screen To Body Ratio
Name: display_size, dtype: object

In [ ]:
# make new col display_inches

df['display_inches'] = df['display_size'].str.split(' ').str.get(0)

In [ ]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
164.4      1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [ ]:
df[df['display_inches'] == '164.4'] # given in mm not inches

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches
119,120,Infinix Note 12 Pro,27,4.2,71000.0,2022-08-26,NaN,16999,16999,"AMOLED, 60 Hz Refresh Rate, LTPO, SDR","164.4 inches, 76.5 cm²","FHD+, 1080 x 2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 1000 nits(Peak Brightness)",164.4 x 76.5 x 7.8 mm,192 grams,Glass,Plastic,Plastic Frame,Plastic Material,"USB Type-C 2.0, 3.5mm Headphone Jack",NaN,Stereo Speakers,"MediaTek Helio G99 (6 nm), 422909 Antutu Score",Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55),Mali-G57 MC2,"108 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.67"", Auto Focus","2 MP, f/2.4, (Depth), 0.64 µm","f/2.4, (QVGA), 0.56 µm","HDR, Panorama, Quad-LED Flash","1440p@30fps, 1080p@60fps","Android 12, XOS",1 year(s) of Software updates and 2 year(s) of Security updates,NaN,"16 MP, f/2.0, 0.8 µm",NaN,1440p@30fps,"5000 mAh, Lithium Polymer (Non-removable)",33W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 8 (5 bands)","1, 2, 3, 4, 5, 7, 8, 20, 28A, 28B, 38, 40, 41 (13 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Wi-Fi Direct, Dual Band","5, A2DP, AAC, LE, SBC",GPS,NaN,Side Mounted,"Accelerometer, Compass, G-Sensor, Gyroscope, Light Sensor, Proximity Sensor",NaN,NaN,NaN,infinix,0,1,1,0,amoled,amoled,60,SDR,NaN,1,0,164.4

In [ ]:
# fill with correct value
df.loc[119,'display_inches'] = 6.7

In [ ]:
df['display_inches'].value_counts()

display_inches
6.7      185
6.67     168
6.78     122
6.5       77
6.6       71
6.77      59
6.72      58
6.74      54
6.56      44
6.8       36
6.58      30
6.1       27
6.9       27
6.4       22
6.83      21
6.43      20
6.44      17
6.59      17
6.88      15
6.71      14
6.3       14
6.79      14
6.52      12
6.82      11
6.62      11
6.55      11
6.57       9
6.73       9
6.38       9
6.65       8
6.2        8
6.51       8
7.6        7
6.75       7
6.68       7
6.31       5
8          4
6.69       4
6.66       4
6.85       4
6.53       3
8.03       3
6.36       2
6.745      2
6.32       2
7.82       2
6.7        1
7          1
6.15       1
6.64       1
Name: count, dtype: int64

In [ ]:
df['display_inches'].count()

np.int64(1268)

In [ ]:
# convert dtypes of display_inches to float

df['display_inches'] = pd.to_numeric(df['display_inches'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(11), object(48)
memory usage: 648.8+ KB

In [ ]:
df['display_size'].sample(20)

587          6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
639                       6.5 inches, 102 cm², 88.7% Screen To Body Ratio
184                      6.78 inches, 111 cm², 90.8% Screen To Body Ratio
961                     6.7 inches, 110.2 cm², 85.2% Screen To Body Ratio
1146      6.78 inches Curved Display, 111 cm², 93.3% Screen To Body Ratio
237                    6.88 inches, 112.4 cm², 84.5% Screen To Body Ratio
120                     6.7 inches, 108.4 cm², 85.7% Screen To Body Ratio
290                     6.6 inches, 103.4 cm², 84.9% Screen To Body Ratio
295                                                   6.5 inches, 102 cm²
675     6.78 inches Curved Display, 111.7 cm², 94.2% Screen To Body Ratio
255                       6.5 inches, 102 cm², 85.5% Screen To Body Ratio
594          6.7 inches Curved Display, 108 cm², 93% Screen To Body Ratio
1153    6.77 inches Curved Display, 110.9 cm², 93.3% Screen To Body Ratio
911                      6.65 inches, 110.2 cm², 86% Screen To Body Ratio
338       6.82 inches Curved Display, 113 cm², 90.8% Screen To Body Ratio
835                     6.6 inches, 103.4 cm², 85.1% Screen To Body Ratio
100                     6.7 inches, 108.4 cm², 84.8% Screen To Body Ratio
666                   6.67 inches, 107.2 cm², 89.97% Screen To Body Ratio
102                    6.78 inches, 108.6 cm², 83.5% Screen To Body Ratio
476                    6.59 inches, 105.6 cm², 93.4% Screen To Body Ratio
Name: display_size, dtype: object

In [ ]:
def extract_body_ratio(text):

  t = text.lower()

  if '%' in t:
    return t

  return np.nan

df['display_body_ratio'] = df['display_size'].apply(extract_body_ratio)

In [ ]:
df['display_body_ratio'].count()

np.int64(1036)

In [ ]:
df['display_body_ratio'] = df['display_body_ratio'].str.split('%').str.get(0).str.split(',').str.get(-1)

In [ ]:
df['display_body_ratio'].value_counts(dropna=False)

display_body_ratio
NaN       232
 93        40
 91.4      36
 90.8      35
 83.6      28
         ...
 86.48      1
 93.2       1
 90.04      1
 82.9       1
 94.85      1
Name: count, Length: 154, dtype: int64

In [ ]:
# convert dtypes to floar
df['display_body_ratio'] = pd.to_numeric(df['display_body_ratio'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(6), int64(11), object(48)
memory usage: 658.8+ KB

In [ ]:
df['display_size'].sample(20)

345                      6.78 inches, 111.7 cm², 91.2% Screen To Body Ratio
878                                                   6.6 inches, 104.9 cm²
326                         6.7 inches, 108 cm², 87.6% Screen To Body Ratio
584                     6.67 inches, 107.4 cm², 92.65% Screen To Body Ratio
724                        6.72 inches, 109 cm², 91.4% Screen To Body Ratio
849                                                  6.67 inches, 107.4 cm²
351                      6.83 inches, 113.3 cm², 90.1% Screen To Body Ratio
580                        6.72 inches, 109 cm², 91.4% Screen To Body Ratio
510                      6.58 inches, 104.3 cm², 83.6% Screen To Body Ratio
438                                                  6.59 inches, 105.6 cm²
891                         6.5 inches, 102 cm², 81.8% Screen To Body Ratio
1195                                                 6.56 inches, 103.4 cm²
822                                                  6.52 inches, 102.6 cm²
459     6.7 inches Quad Curved Display, 108 cm², 93.5% Screen To Body Ratio
1110                                        6.77 inches Quad Curved Display
714                        6.72 inches, 109 cm², 91.4% Screen To Body Ratio
156                        6.78 inches, 111 cm², 89.6% Screen To Body Ratio
1091                     6.67 inches, 107.4 cm², 91.9% Screen To Body Ratio
332        6.7 inches Curved Display, 108.4 cm², 89.7% Screen To Body Ratio
275          6.7 inches Curved Display, 108.4 cm², 92% Screen To Body Ratio
Name: display_size, dtype: object

In [ ]:
df[df['display_size'].str.contains('Curved')]['display_size'].count()

np.int64(263)

In [ ]:
df[df['display_size'].str.contains('Foldable|Flip')]['display_size'].count()

np.int64(35)

In [ ]:
def extract_curved(text):

  if 'Curved' in text:
    return 1
  return 0

df['has_curved'] = df['display_size'].apply(extract_curved)

In [ ]:
df['has_curved'].value_counts()

has_curved
0    1005
1     263
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(12), object(48)
memory usage: 668.7+ KB

In [ ]:
def extract_foldable(text):

  if 'Foldable' in text or 'Flip' in text:
    return 1

  return 0

df['has_foldable'] = df['display_size'].apply(extract_foldable)

In [ ]:
df['has_foldable'].value_counts()

has_foldable
0    1233
1      35
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 71 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
dtypes: category(3), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 678.6+ KB

In [ ]:
df['display_res'].sample(20)

360                                       1.5K, 1240 x  2772 pixels, 20.1:9 (450 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2150 nits(Peak Brightness), 1100 nits(High Brightness), Blue Light Filters, 2000000:1 Contrast Ratio
184                                                         1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1400 nits(High Brightness), SGS Display Certification
1042                                                                                                                FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 1900 nits(Peak Brightness)
956                                                                                                                                                                                                      FHD+, 1080 x  2340 pixels
387                                                                                                                     HD, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 720 nits(Peak Brightness)
700                                                                                                                               FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16.7 Million Colours, 600 nits(Peak Brightness)
291                                                                                                                               FHD+, 1080 x  2400 pixels, 20:9 (391 ppi), 1050 nits(Peak Brightness), SGS Display Certification
113                                                                                                                          HD+, 720 x  1612 pixels, 20:9 (269 ppi), 8-bit colours, 480 nits(Peak Brightness), Eye Comfort Shield
282                                                                   1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
118                                                            FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 700 nits(Peak Brightness), TUV Rheinland certification, 100000:1 Contrast Ratio
135                                                                                                                              HD+, 720 x  1640 pixels, 20:9 (257 ppi), 8-bit 16.7 Million Colours, 440 nits(Typical Brightness)
1146                                                                 FHD+, 1080 x  2400 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1300 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
802                                                                              FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 8-bit colours, 69% sRGB, 550 nits(High Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
687     QHD+, 1440 x  3136 pixels, 19.5:9 (508 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 7000 nits(Peak Brightness), 2000 nits(High Brightness), 1000 nits(Typical Brightness), Blue Light Filters, 5000000:1 Contrast Ratio
266                                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 500 nits(Peak Brightness)
1178                                                        1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
625                                                                                                              FHD+, 1080 x  2400 pixels, 20:9 (411 ppi), 8-bit colours, 600 nits(High Brightness), 430 nits(Typical Brightness)
972                                                                                                   HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit 16 Million Colours, 85% DCI-P3, 400 nits(Peak Brightness), Eye Comfort Shield
740                                                                                                                               FHD+, 1080 x  2400 pixels, 20:9 (390 ppi), 8-bit 16.7 Million Colours, 560 nits(Peak Brightness)
682                                      1.5K, 1264 x  2780 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 120% DCI-P3, 6500 nits(Peak Brightness), 2000 nits(High Brightness), Blue Light Filters, 6000000:1 Contrast Ratio
Name: display_res, dtype: object

In [ ]:
df['res_category'] = df['display_res'].str.split(',').str.get(0)

In [ ]:
df['res_category'].value_counts()

res_category
FHD+                   742
HD+                    249
1.5K                   180
QHD+                    50
HD                      16
FHD                      9
WQHD+                    6
2K                       6
QXGA+                    6
1080 x  2520 pixels      2
QHD                      1
2.5K                     1
Name: count, dtype: int64

In [ ]:
df[df['res_category'].str.contains('pixels')][['model','display_res']]

,model,display_res
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [ ]:
df.loc[[1055,1058],'res_category'] = 'FHD+'

In [ ]:
df['res_category'].value_counts()

res_category
FHD+     744
HD+      249
1.5K     180
QHD+      50
HD        16
FHD        9
2K         6
QXGA+      6
WQHD+      6
QHD        1
2.5K       1
Name: count, dtype: int64

In [ ]:
df['res_category'] = df['res_category'].replace('QXGA+','QHD+')
df['res_category'] = df['res_category'].replace('WQHD+','QHD+')
df['res_category'] = df['res_category'].replace('QHD','QHD+')
df['res_category'] = df['res_category'].replace('2K','1.5K')
df['res_category'] = df['res_category'].replace('2.5K','1.5K')

In [ ]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [ ]:
df['res_category'] = df['res_category'].astype('category')

In [ ]:
df['res_category'].value_counts()

res_category
FHD+    744
HD+     249
1.5K    187
QHD+     63
HD       16
FHD       9
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
dtypes: category(4), datetime64[ns](1), float64(6), int64(13), object(48)
memory usage: 680.0+ KB

In [ ]:
df['display_res'].sample(20)

1105                                                                               1.5K, 1080 x  2392 pixels, 20:9 (388 ppi), 8-bit colours, 100% DCI-P3, 5000 nits(High Brightness), PWM Dimming, 1000000:1 Contrast Ratio
406                                                                                 HD+, 720 x  1570 pixels, 19.5:9 (256 ppi), 8-bit 16.7 Million Colours, 100% sRGB, 1125 nits(Peak Brightness), 700 nits(High Brightness)
318                     FHD+, 1080 x  2392 pixels, 20.9 (387 ppi), 10-bit 1.07 Billion Colours, 3000 nits(Peak Brightness), 1300 nits(High Brightness), 800 nits(Typical Brightness), PWM Dimming, 1000000:1 Contrast Ratio
727                                                                           HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit 16.7 Million Colours, 83.5% NTSC, 563 nits(Peak Brightness), DC Dimming, 1500:1 Contrast Ratio
616                                                                                                      FHD+, 1080 x  2400 pixels, 20:9 (411 ppi), 8-bit colours, 1000 nits(High Brightness), 430 nits(Typical Brightness)
244                                                                                                                                    FHD+, 1080 x  2400 pixels, 20:9 (391 ppi), 8-bit colours, 1000 nits(Peak Brightness)
471                                                                                      FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 800 nits(High Brightness), Blue Light Filters
594                     FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
694                                                  FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
135                                                                                                                       HD+, 720 x  1640 pixels, 20:9 (257 ppi), 8-bit 16.7 Million Colours, 440 nits(Typical Brightness)
706                                                                                                                        FHD+, 1080 x  2408 pixels, 20:9 (400 ppi), 8-bit 16.7 Million Colours, 600 nits(Peak Brightness)
133                                                                                               HD+, 720 x  1600 pixels, 20:9 (263 ppi), 8-bit colours, 72% NTSC, 672 nits(Peak Brightness), 560 nits(Typical Brightness)
953                                                                                                            FHD+, 1080 x  2340 pixels, 20:9 (262 ppi), 8-bit colours, 100% DCI-P3, 800 nits(High Brightness), DC Dimming
969                                                                                                                                  FHD+, 1080 x  2340 pixels, 19.5:9 (382 ppi), 8-bit colours, 1200 nits(High Brightness)
931                                                                                                                       FHD+, 1080 x  2340 pixels, 19.5:9 (403 ppi), 8-bit 16 Million Colours, 1000 nits(High Brightness)
288                                                            1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
183                                                  1.5K, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), 1400 nits(High Brightness), SGS Display Certification
589        FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), 600 nits(Typical Brightness), PWM Dimming, 5000000:1 Contrast Ratio
963                                                                   FHD+, 1080 x  2340 pixels, 19.5:9 (387 ppi), 10-bit colours, 100% DCI-P3, 600 nits(Peak Brightness), 400 nits(Typical Brightness), Eye Comfort Shield
148     FHD+, 1080 x  2400 pixels, 20:9 (393 ppi), 10-bit colours, 100% DCI-P3, 950 nits(Peak Brightness), 1300 nits(High Brightness), 1300 nits(Typical Brightness), TUV Rheinland certification, 1000000:1 Contrast Ratio
Name: display_res, dtype: object

In [ ]:
df['display_pixels'] = df['display_res'].str.split(',').str.get(1)

In [ ]:
df['display_pixels'].value_counts()

display_pixels
1080 x  2400 pixels    307
720 x  1600 pixels     128
1080 x  2340 pixels     92
1080 x  2412 pixels     79
1080 x  2408 pixels     75
                      ...
2152 x  2076 pixels      1
2076 x  2152 pixels      1
1224 x  2912 pixels      1
1080 x  2373 pixels      1
1080 x  2388 pixels      1
Name: count, Length: 70, dtype: int64

In [ ]:
df[~df['display_pixels'].str.contains('pixels')][['model','display_res','display_pixels']]

,model,display_res,display_pixels
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)
1058,Samsung Galaxy Z Flip 7,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)",21:9 (397 ppi)

In [ ]:
df.loc[[1055,1058],'display_pixels'] = '1080 x 2520 pixels'

In [ ]:
df[df['display_pixels'].str.contains('pixels')]['display_pixels'].count()

np.int64(1268)

In [ ]:
df['res_width'] = df['display_pixels'].str.split('x').str.get(0)

In [ ]:
df['res_width'].value_counts()

res_width
 1080     676
 720      267
 1260      47
 1440      44
 1220      38
 1280      24
 1272      22
 1264      19
 1179      14
 1290      13
 1256      10
 1240       9
 1206       8
 1216       7
 1224       7
 1320       7
 1200       7
 1084       7
 1170       6
 1344       5
 1812       4
 1968       3
 1856       3
 1284       3
 2400       3
 1088       3
 2200       2
1080        2
 2268       2
 1400       2
 1236       2
 2152       1
 2076       1
Name: count, dtype: int64

In [ ]:
df['res_width'].count()

np.int64(1268)

In [ ]:
df['res_width'] = pd.to_numeric(df['res_width'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(14), object(49)
memory usage: 699.8+ KB

In [ ]:
df['res_height'] = df['display_pixels'].str.strip().str.split('x').str.get(1).str.split(' ').str.get(2)

In [ ]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
pi        2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [ ]:
df[df['res_height'].str.contains('pi')]['display_pixels']

1055    1080 x 2520 pixels
1058    1080 x 2520 pixels
Name: display_pixels, dtype: object

In [ ]:
df.loc[[1055,1058],'res_height'] = 2520

In [ ]:
df['res_height'].value_counts()

res_height
2400    307
1600    128
2340     92
2800     83
2412     81
2408     75
2392     58
1612     56
2712     36
1604     36
2640     21
2780     19
1650     17
2460     16
1640     16
2772     14
2796     13
3120     13
2556     11
2760     10
3200     10
3168     10
2436      9
2372      8
2622      8
2868      7
2404      7
1608      7
1570      7
2376      6
2532      6
3216      6
3088      5
2992      5
2664      4
2176      4
2720      4
2480      4
2448      4
2778      3
2184      3
2424      3
2736      3
2256      3
2670      3
2160      3
1080      3
2750      2
2856      2
2440      2
2700      2
2652      2
2520      2
3136      2
2520      2
2152      1
2076      1
2912      1
2373      1
2388      1
Name: count, dtype: int64

In [ ]:
df['res_height'] = pd.to_numeric(df['res_height'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  display_pixels               1268 non-null   object
 73  res_width                    1268 non-null   int64
 74  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(49)
memory usage: 709.7+ KB

In [ ]:
# now drop display_pixels
df.drop(columns='display_pixels',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(6), int64(15), object(48)
memory usage: 699.8+ KB

In [ ]:
df['helper'] = df['display_res'].str.split(',').str.get(2).str.strip()

In [ ]:
def extract_ratio(text):

  if pd.isna(text):
    return np.nan

  if 'colours' in text:
    return np.nan

  if ':' in text:
    return str(text)

  return np.nan

df['aspect_ration_numeric'] = df['helper'].apply(extract_ratio)

In [ ]:
df['x'] = df['aspect_ration_numeric'].str.split(':').str.get(0)

In [ ]:
df['x'].sample(20)

594      20
964      20
199      20
945      20
289      20
447      20
675      20
400      20
894      20
276      20
881      20
610     NaN
373      20
195      20
171      20
150      20
308      20
797      20
1140     20
272      20
Name: x, dtype: object

In [ ]:
df['y'] = df['aspect_ration_numeric'].str.strip().str.split(':').str.get(1).str.strip().str.split(' ').str.get(0)

In [ ]:
df['y'].sample(20)

99        9
375       9
663       9
692       9
549       9
772       9
66        9
943       9
1124      9
774       9
666       9
644       9
487       9
177       9
800     NaN
90        9
764       9
78        9
1034      9
570       9
Name: y, dtype: object

In [ ]:
df['x'] = pd.to_numeric(df['x'], errors='coerce')
df['y'] = pd.to_numeric(df['y'], errors='coerce')

In [ ]:
df['aspect_ration_numeric'] = df['x'] / df['y']

In [ ]:
df['aspect_ration_numeric'].sample(20)

637     2.222222
128     2.222222
724     2.222222
650     2.222222
827     2.222222
723     2.222222
666     2.222222
230     2.222222
1092    2.222222
1036    2.144444
738     2.166667
1201    2.222222
1077    2.222222
867     2.222222
858     2.222222
545     2.222222
1149    2.222222
67      2.222222
568     2.222222
1195    2.222222
Name: aspect_ration_numeric, dtype: float64

In [ ]:
df['aspect_ration_numeric'] = pd.to_numeric(df['aspect_ration_numeric'],errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  helper                       1266 non-null   object
 75  aspect_ration_numeric        1185 non-null   float64
 76  x                            1185 non-null   float64
 77  y                            1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(9), int64(15), object(49)
memory usage: 739.5+ KB

In [ ]:
# now drop helper , x and y
df.drop(columns=['helper','x','y'],inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(7), int64(15), object(48)
memory usage: 709.7+ KB

In [ ]:
df['display_res'].sample(20)

805                                                                                          HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(Peak Brightness), 450 nits(Typical Brightness), TUV Rheinland certification
546                                                                                                                     1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit colours, 1800 nits(Peak Brightness), 1200 nits(High Brightness)
74                                                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (428 ppi), 10-bit 1 Billion Colours, 2000 nits(Peak Brightness)
1170                                                                           FHD+, 1260 x  2800 pixels, 20:9 (452 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
912                                                                                                          FHD+, 1080 x  2340 pixels, 19.5:9 (385 ppi), 8-bit 16 Million Colours, 1100 nits(Peak Brightness), 800 nits(High Brightness)
1014                                                                         FHD+, 1080 x  2340 pixels, 19.5:9 (393 ppi), 8-bit 16 Million Colours, 100% DCI-P3, 1750 nits(High Brightness), Eye Comfort Shield, 3000000:1 Contrast Ratio
873                                                                  1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 12-bit 68 Billion Colours, 100% DCI-P3, 3000 nits(Peak Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
932                                                                                                                                     FHD+, 1080 x  2340 pixels, 19.5:9 (403 ppi), 8-bit 16 Million Colours, 1000 nits(Peak Brightness)
418                                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit colours, 680 nits(Peak Brightness), 550 nits(Typical Brightness)
673     1.5K, 1264 x  2780 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 6000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
802                                                                                     FHD+, 1080 x  2460 pixels, 20:9 (396 ppi), 8-bit colours, 69% sRGB, 550 nits(High Brightness), TUV Rheinland certification, 1500:1 Contrast Ratio
296                                                                                                                                                                  FHD+, 720 x  1600 pixels, 20:9 (269 ppi), 8-bit 16.7 Million Colours
373                                                                  FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1100 nits(Peak Brightness), 900 nits(High Brightness), TUV Rheinland certification
222                                          FHD+, 1080 x  2392 pixels, 20:9 (388 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4500 nits(High Brightness), 4500 nits(Typical Brightness), Blue Light Filters, 8000000:1 Contrast Ratio
900                                                                                                                                                                     HD+, 720 x  1600 pixels, 20:9 (262 ppi), 8-bit 16 Million Colours
436                                                                                            FHD+, 1080 x  2520 pixels, 21:9 (403 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 1600 nits(Peak Brightness), 1200 nits(High Brightness)
1166                                                                QHD+, 2200 x  2480 pixels, 4:3.55 (412 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), TUV Rheinland certification, 8000000:1 Contrast Ratio
647                                                                                                                                      FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)
138                                                                                                                                         HD, 720 x  1612 pixels, 20:9 (267 ppi), 8-bit 16.7 Million Colours, 500 nits(Peak Brightness)
84                                                              FHD+, 1080 x  2412 pixels, 20.1:9 (390 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1200 nits(High Brightness), TUV Rheinland certification
Name: display_res, dtype: object

In [ ]:
df['display_ppi'] = df['display_res'].str.split(',').str.get(2).str.split('(').str.get(1).str.strip().str.split(' ').str.get(0)

In [ ]:
df['display_ppi'].value_counts(dropna=False)

display_ppi
395      86
394      84
460      71
269      64
260      53
         ..
259       1
464       1
263.6     1
383.5     1
412       1
Name: count, Length: 82, dtype: int64

In [ ]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"
1055,Samsung Galaxy Z Flip 7 (12GB + 512GB),NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"
1058,Samsung Galaxy Z Flip 7,NaN,"1080 x 2520 pixels, 21:9 (397 ppi), 12-bit 16 Million Colours, 2600 nits(High Brightness)"

In [ ]:
df.loc[[1055,1058],'display_ppi'] = 397

In [ ]:
df[df['display_ppi'].isna()][['model','display_ppi','display_res']]

,model,display_ppi,display_res
668,Realme C75 5G (6GB + 128GB),NaN,"HD+, 720 x 1604 pixels, 8-bit colours, 625 nits(Peak Brightness)"
743,Realme Narzo N55,NaN,"FHD+, 1080 x 2400 pixels, 20:9 8-bit 16.7 Million Colours, 680 nits(Peak Brightness)"
800,Redmi 12C,NaN,"HD+, 720 x 1650 pixels, 20.6:9 8-bit colours, 500 nits(Typical Brightness), 1500:1 Contrast Ratio"
956,Samsung Galaxy F17 5G (6GB + 128GB),NaN,"FHD+, 1080 x 2340 pixels"
957,Samsung Galaxy F17 5G,NaN,"FHD+, 1080 x 2340 pixels"

In [ ]:
calculate_ppi = np.sqrt(df['res_width']**2 + df['res_height']**2) / df['display_inches']

In [ ]:
# fill nan ppi with calculated ppi
df['display_ppi'] = df['display_ppi'].fillna(calculate_ppi)

In [ ]:
df.loc[[668,743,800,956,957]][['model','display_ppi']]

                                   model display_ppi
668          Realme C75 5G (6GB + 128GB)  263.596016
743                     Realme Narzo N55  391.637718
800                            Redmi 12C  268.293589
956  Samsung Galaxy F17 5G (6GB + 128GB)  384.657879
957                Samsung Galaxy F17 5G  384.657879

In [ ]:
df['display_ppi'].count()

np.int64(1268)

In [ ]:
df['display_ppi'] = pd.to_numeric(df['display_ppi'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 76 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(8), int64(15), object(48)
memory usage: 719.6+ KB

In [ ]:
df['color_depth'] = df['display_res'].str.split(',').str.get(3).str.strip().str.split(' ').str.get(0).str.strip().str.split('-').str.get(0)

In [ ]:
df.loc[[743,668,800,1064,1065,1066],'color_depth'] = 8
df.loc[[291,134,1241,1242,812,813],'color_depth'] = np.nan
df.loc[[1055,1058],'color_depth'] = 12

In [ ]:
df['color_depth'] = pd.to_numeric(df['color_depth'])

In [ ]:
df['color_depth'] = df['color_depth'].fillna(8)

In [ ]:
df['color_depth'].value_counts(dropna=False)

color_depth
8.0     736
10.0    487
12.0     45
Name: count, dtype: int64

In [ ]:
df['peak_brightness'] = df['display_res'].str.extract(r'(\d+)\s*nits')

In [ ]:
df['peak_brightness'].value_counts(dropna=False)

peak_brightness
1000    115
1300     85
1200     81
2000     77
4500     70
       ...
920       1
564       1
629       1
200       1
1024      1
Name: count, Length: 74, dtype: int64

In [ ]:
# will fill in eda
df['peak_brightness'].isnull().sum()

np.int64(62)

In [ ]:
df['peak_brightness'] = pd.to_numeric(df['peak_brightness'],errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 78 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(10), int64(15), object(48)
memory usage: 739.5+ KB

In [ ]:
df['display_res'].sample(20)

467                                                               FHD+, 1080 x  2412 pixels, 20:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness), 800 nits(High Brightness), 500 nits(Typical Brightness)
1191                                                                                                                                HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit colours, 400 nits(Peak Brightness), Blue Light Filters
1172                                                                                         1.5K, 1216 x  2640 pixels, 19.5:9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 5000 nits(Peak Brightness), SGS Display Certification
1203                                                                                                             HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 70% NTSC, 840 nits(Peak Brightness), TUV Rheinland certification
285                                                                          1.5K, 1220 x  2712 pixels, 20:9 (446 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 4500 nits(Peak Brightness), 1400 nits(High Brightness), Blue Light Filters
930                                                                                                     FHD+, 1080 x  2400 pixels, 20:9 (405 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 800 nits(High Brightness), Eye Comfort Shield
715                                                                                                        FHD+, 1080 x  2400 pixels, 20:9 (392 ppi), 8-bit 16.7 Million Colours, 680 nits(Peak Brightness), 550 nits(Typical Brightness)
537                                                                     FHD+, 1080 x  2400 pixels, 20:9 (395 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 1200 nits(Peak Brightness), SGS Display Certification, 4500000:1 Contrast Ratio
95                                                                                                        FHD+, 1080 x  2436 pixels, 20:9 (393 ppi), 10-bit colours, 100% DCI-P3, 1300 nits(Peak Brightness), TUV Rheinland certification
326                                                                                                                      FHD+, 1080 x  2412 pixels, 20.1:9 (394 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 950 nits(Peak Brightness)
143                                                                                                                                        HD+, 720 x  1612 pixels, 20:9 (267 ppi), 8-bit colours, 100% DCI-P3, 500 nits(Peak Brightness)
735                                               FHD+, 1080 x  2372 pixels, 20:9 (397 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 4000 nits(Peak Brightness), 1400 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming
803                                                                                          HD+, 720 x  1600 pixels, 20:9 (260 ppi), 8-bit colours, 600 nits(High Brightness), 450 nits(Typical Brightness), TUV Rheinland certification
102                                                                                                                               FHD+, 1080 x  2480 pixels, 20:9 (399 ppi), 8-bit colours, 500 nits(Peak Brightness), Blue Light Filters
1192                                                                                                                                HD+, 720 x  1600 pixels, 20:9 (270 ppi), 8-bit colours, 400 nits(Peak Brightness), Blue Light Filters
673     1.5K, 1264 x  2780 pixels, 20:9 (450 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 6000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio
257                                                                                                                         FHD+, 1080 x  2400 pixels, 20:9 (411 ppi), 8-bit 16.7 Million Colours, 100% DCI-P3, 700 nits(Peak Brightness)
464                                                              FHD+, 1256 x  2760 pixels, 20.9 (460 ppi), 10-bit 1.07 Billion Colours, 100% DCI-P3, 1200 nits(High Brightness), 600 nits(Typical Brightness), SGS Display Certification
23                       FHD+, 1290 x  2796 pixels, 19.5:9 (460 ppi), 10-bit 1 Billion Colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1600 nits(High Brightness), 1000 nits(Typical Brightness), PWM Dimming, 2000000:1 Contrast Ratio
16                                                                 FHD+, 1290 x  2796 pixels, 19.5:9 (460 ppi), 8-bit colours, 100% DCI-P3, 2000 nits(Peak Brightness), 1000 nits(High Brightness), PWM Dimming, 2000000:1 Contrast Ratio
Name: display_res, dtype: object

In [ ]:
df['display_res'].str.contains('Contrast Ratio').sum()

np.int64(491)

In [ ]:
df['helper'] = df['display_res'].str.extract(r'(\d+)\s*:1 Contrast Ratio')

In [ ]:
df['helper'] = pd.to_numeric(df['helper'])

In [ ]:
def high_contrast(text):

  if text > 1000000:
    return 1

  return 0

df['has_high_contrast'] = df['helper'].apply(high_contrast)

In [ ]:
df['has_high_contrast'].value_counts()

has_high_contrast
0    892
1    376
Name: count, dtype: int64

In [ ]:
df.drop(columns='helper',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 79 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(10), int64(16), object(48)
memory usage: 749.4+ KB

In [ ]:
df['body_dimension'].sample(20)

123        168.5 x 76.5 x 8.5 mm
353        162.2 x 74.6 x 8.3 mm
1173    150.83 x 71.76 x 7.99 mm
678      162.42 x 76.13 x 8.3 mm
669      165.7 x 76.22 x 7.94 mm
438        157.4 x 74.3 x 7.9 mm
1180     164.95 x 75.23 x 8.3 mm
519            168 x 78 x 8.1 mm
1239     164.06 x 76.17 x 8.1 mm
1222    163.63 x 75.58 x 8.39 mm
335          163.4 x 74.3 x 8 mm
467        162.3 x 74.2 x 7.9 mm
234          163.5 x 74.5 x 8 mm
553       159.9 x 73.3 x 7.95 mm
1016       163.3 x 77.9 x 8.9 mm
882          159.7 x 74 x 8.1 mm
107        168.5 x 76.5 x 9.2 mm
950        160.1 x 76.8 x 9.3 mm
63        155.2 x 150.4 x 5.2 mm
116     167.64 x 77.67 x 8.14 mm
Name: body_dimension, dtype: object

In [ ]:
df['height_mm'] = df['body_dimension'].str.split('x').str.get(0)

In [ ]:
df['height_mm'] = pd.to_numeric(df['height_mm'],errors='coerce')

In [ ]:
df['height_mm'].describe()

count    1268.000000
mean      162.904101
std         4.250095
min       146.000000
25%       161.500000
50%       163.515000
75%       164.900000
max       173.000000
Name: height_mm, dtype: float64

In [ ]:
df['height_mm'].isnull().sum()

np.int64(0)

In [ ]:
df['width_mm'] = df['body_dimension'].str.split('x').str.get(1)

In [ ]:
df['width_mm'].isnull().sum()

np.int64(0)

In [ ]:
df['width_mm'] = pd.to_numeric(df['width_mm'],errors='coerce')

In [ ]:
df['width_mm'].describe()

count    1268.000000
mean       76.406814
std         7.279013
min        70.500000
25%        74.700000
50%        75.880000
75%        76.720000
max       150.400000
Name: width_mm, dtype: float64

In [ ]:
df['thickness_mm'] = df['body_dimension'].str.split('x').str.get(2).str.strip().str.split(' ').str.get(0)

In [ ]:
df['thickness_mm'].sample(20)

1223     8.4
1250    8.34
1240    8.09
239      8.5
898        8
269      8.4
409      8.4
684     8.25
936      7.4
1092     7.9
876     7.99
592      7.6
641      8.1
32      8.25
686     8.25
874      8.4
190     8.19
655     7.94
459      7.4
358      8.1
Name: thickness_mm, dtype: object

In [ ]:
df['thickness_mm'] = pd.to_numeric(df['thickness_mm'],errors='coerce')

In [ ]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.256838
std         3.548106
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        80.000000
Name: thickness_mm, dtype: float64

In [ ]:
df[df['thickness_mm'] > 20]

,model_id,model,expert_rating,rating,rating_count,launch_on,old_price,price,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,main_cam4,front_cam2,brand,is_available,is_flipkart_available,is_amazon_available,is_official_available,display_panel_type,display_panel_family,display_hz,display_dynamic_range,touch_sampling_rate,has_ltpo,has_anti_reflection_coating,display_inches,display_body_ratio,has_curved,has_foldable,res_category,res_width,res_height,aspect_ration_numeric,display_ppi,color_depth,peak_brightness,has_high_contrast,height_mm,width_mm,thickness_mm
525,526,Poco M6 Pro (6GB + 128GB),55,4.2,1421000.0,2023-08-09,9999.0,11999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"128GB, UFS 2.2","6GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
526,527,Poco M6 Pro (8GB + 256GB),55,4.2,261000.0,2023-08-09,NaN,14999,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 109.5 cm²","FHD+, 1080 x 2460 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 550 nits(High Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 0mm, 1.12 µm","Face Unlock, HDR","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",22.5W (wired),"256GB, UFS 2.2","8GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)","1, 3, 5, 8, 28, 40, 78, SA/NSA (8 bands)","GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,0,1,0,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2460,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0
527,528,Poco M6 Pro,55,4.3,871000.0,2023-08-09,8999.0,10900,10999,"AMOLED, 90 Hz Refresh Rate, SDR","6.79 inches, 107.4 cm²","FHD+, 1080 x 2400 pixels, 20:9 (396 ppi), 12-bit 1.07 Billion Colours, 1300 nits(Peak Brightness), 1000 nits(Typical Brightness), TUV Rheinland certification, 5000000:1 Contrast Ratio",169 x 76 x 80 mm,199 grams,Glass,Glass,Plastic Frame,Corning Gorilla Glass 3,"USB Type-C 2.0, 3.5mm Headphone Jack",IP53 (Dust and Splash Resistant),Mono Speaker,"Qualcomm Snapdragon 4 Gen 2 (4 nm), 437000 Antutu Score",Octa-core (2x2.2 GHz Cortex-A78 & 6x Cortex-A55),Adreno 613,"50 MP, f/1.8, (Wide-angle), 0.8 µm, PDAF","2 MP, f/2.4, 0mm (Depth)",NaN,"Film Camera Mode, HDR, LED Flash, Night Mode, Portrait Mode, Slow Motion, Timelapse","1080p@30/60fps, 720p@30fps, Slow Motion","Android 13, Poco MIUI",2 year(s) of Software updates and 3 year(s) of Security updates,AI Camera,"16 MP, f/2.45, 1.12 µm","Face Unlock, HDR, Night Mode, Portrait Mode","1080p@30fps, Time Lapse","5000 mAh, Lithium Polymer (Non-removable)",18W (wired),"128GB, UFS 2.2","4GB, LPDDR4X","Hybrid Dual SIM (nano-SIM, dual stand-by)","GSM, HSPA, LTE","2, 3, 5, 8 (4 bands)","1, 2, 4, 5, 6, 8, 19 (7 bands)","1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 26, 28, 38, 40, 41, 66, (19 bands)",NaN,"GSM, HSPA, LTE","Wi-Fi 5 802.11 a/b/g/n/ac, Hotspot, Dual Band","Unknown, A2DP, LE, SBC","GLONASS, GPS",NaN,Side Mounted,"Accelerometer, Compass, Gyroscope, Proximity Sensor",NaN,NaN,NaN,poco,1,1,1,0,amoled,amoled,90,SDR,NaN,0,0,6.79,NaN,0,0,FHD+,1080,2400,2.222222,396.0,12.0,1300.0,1,169.0,76.0,80.0

In [ ]:
df.loc[[525,526,527],'thickness_mm'] = 8

In [ ]:
df['thickness_mm'].describe()

count    1268.000000
mean        8.086491
std         0.610675
min         4.200000
25%         7.800000
50%         8.090000
75%         8.400000
max        10.300000
Name: thickness_mm, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 82 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(13), int64(16), object(48)
memory usage: 779.1+ KB

In [ ]:
df['weight'].sample(20)

424       177 grams
1265      191 grams
255       192 grams
92        189 grams
785       203 grams
590     183.5 grams
67        178 grams
1059      263 grams
445       189 grams
1093      185 grams
770       183 grams
31        199 grams
333       204 grams
196       204 grams
370       195 grams
1263      193 grams
961       197 grams
773       197 grams
690     194.5 grams
94        194 grams
Name: weight, dtype: object

In [ ]:
df['weight_g'] = df['weight'].str.strip().str.split(' ').str.get(0)

In [ ]:
df['weight_g'] = pd.to_numeric(df['weight_g'],errors='coerce')

In [ ]:
df['weight_g'].describe()

count    1268.000000
mean      193.758975
std        14.563168
min       155.000000
25%       185.000000
50%       191.000000
75%       200.000000
max       284.000000
Name: weight_g, dtype: float64

In [ ]:
df['body_front'].sample(20)

85                        Glass
636                       Glass
132                       Glass
373                       Glass
66                        Glass
839             Gorilla Glass 5
876     Corning Gorilla Glass 5
657                       Glass
826                       Glass
236     Corning Gorilla Glass 3
1112                      Glass
694             Gorilla Glass 5
357                       Glass
1239                      Glass
1238                      Glass
719                       Glass
202                       Glass
690                       Glass
219                       Glass
458                       Glass
Name: body_front, dtype: object

In [ ]:
df['body_front'].value_counts()

body_front
Glass                              719
Gorilla Glass 5                     89
Gorilla Glass 7i                    61
Gorilla Glass Victus 2              50
Gorilla Glass Victus                46
Gorilla Glass 3                     44
Panda Glass                         35
Gorilla Glass                       32
Gorilla Glass Victus+               22
Corning Gorilla Glass 5             17
Corning Gorilla Glass 3             16
Armorshell Glass                    16
Ceramic Shield Glass                15
Ultra Thin Glass                    13
Shield Glass                        13
Ceramic Shield 2                    12
Dragontrail Glass                    8
AGC Glass                            8
UTG foldable Glass                   8
Schott Xensation Glass               7
Gorilla Glass 7                      7
Asahi Glass AGC DT-Star2 Glass       6
Armour Glass                         5
Gorilla Glass Armour 2.0             4
Ceramic Guard Glass                  3
Foldable Glass                       3
Flexible UTG (ultra thin glass)      2
Corning Gorilla Glass Ceramic 2      2
NanoCrystal Shield                   1
Foldable Ultra Thin Glass            1
Plastic                              1
Xiaomi Shield Glass 2.0              1
Xiaomi Shield Glass                  1
Name: count, dtype: int64

In [ ]:
def clean_body_front(text):

  t = text.lower()

  if t == 'glass':
    return 'standard glass'

  if 'gorilla glass' in t:

    if 'victus 2' in t:
      return 'gorilla glass victus 2'
    if 'victus+' in t:
      return 'gorilla glass victus+'
    if 'victus' in t:
      return 'gorilla glass victus'
    if '5' in t:
      return 'gorilla glass 5'
    if '3' in t:
      return 'gorilla glass 3'
    if '7i' in t:
      return 'gorilla glass 7i'
    return 'gorilla glass'

  if 'ceramic shield' in t or 'ceramic gaurd' in t:
    return 'ceramic shield'

  if 'utg' in t or 'ultra thin glass' in t or 'foldable glass' in t:
    return 'foldable utg'

  if 'panda' in t:
    return 'panda glass'

  if 'dragontrail' in t:
    return 'dragontrail glass'

  if 'schott' in t:
    return 'schott xensation'

  if 'armorshell' in t:
    return 'armonshell glass'

  return 'other branded glass'

df['front_potection'] = df['body_front'].apply(clean_body_front)

In [ ]:
df['front_potection'].value_counts()

front_potection
standard glass            719
gorilla glass 5           106
gorilla glass 7i           61
gorilla glass 3            60
gorilla glass victus 2     50
gorilla glass victus       46
gorilla glass              45
other branded glass        39
panda glass                35
foldable utg               27
ceramic shield             27
gorilla glass victus+      22
armonshell glass           16
dragontrail glass           8
schott xensation            7
Name: count, dtype: int64

In [ ]:
df['front_potection'] = df['front_potection'].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
dtypes: category(5), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 790.9+ KB

In [ ]:
df['body_back'].value_counts(dropna=False)

body_back
Plastic                            642
Glass                              313
Vegan Leather                       65
Gorilla Glass Victus 2              31
Polycarbonate                       31
NaN                                 30
Eco Leather                         22
Textured Matt Glass                 17
Gorilla Glass Victus+               15
Gorilla Glass 5                     11
AG Glass                            11
Ceramic Shield                      10
Colour-infused Glass                 8
Gorrila Glass 7i                     6
Panda Glass                          5
Leather                              4
Plastic or Eco Leather               4
Aluminium                            3
Silicon Vegan                        3
Gorilla Glass                        3
Gorilla Glass Victus 3               3
Corning Gorilla Glass                3
Plasitc                              2
Colour Changing Glass                2
Aromatic Leather                     2
Gorilla Glass Victus                 2
Glass or Plastic                     2
Plastic or Leather                   2
Transparent Plastic                  2
Ceramic                              2
Glass or Eco Leather                 2
Gorilla Glass 3                      1
Wood                                 1
Silicon Polymer                      1
Eco Leather or Plastic               1
Plastic or Vegan Leather             1
Vegan Leather and Glass              1
Glass or Leather Back                1
Armor Glass                          1
Dual Tone Glass and Eco Leather      1
Panda X Glass                        1
Name: count, dtype: int64

In [ ]:
def clean_body_back(text):

  if pd.isna(text): return "unknown"
  t = str(text).lower().strip()

  if any(x in t for x in ['plastic', 'polycarbonate', 'plasitc']):
    if 'leather' in t:
      return 'hybrid (plastic/leather)'
    return 'plastic'

  if any(x in t for x in ['leather', 'vegan', 'eco', 'polymer']):
    if 'glass' in t:
      return 'hybrid (glass/leather)'
    return 'leather/vegan leather'

  if 'gorilla glass' in text or 'gorrila glass' in text or 'corning' in text:
    if 'victus 2' in text:
      return 'gorilla glass victus 2'
    if 'victus' in text:
      return 'gorilla glass victus'
    if '5' in text:
      return 'gorilla glass 5'
    return 'gorilla glass others'

  if 'ceramic shield' in t:
    return 'ceramic shield'

  if 'panda' in t:
    return 'panda glass'

  if 'aluminium' in t:
     return 'Metal'
  if 'ceramic' in t:
    return 'Ceramic'
  if 'wood' in t:
    return 'Wood'

  if t == 'glass':
    return 'glass'

  return 'Other'

df['back_material'] = df['body_back'].apply(clean_body_back)

In [ ]:
df['back_material'].value_counts()

back_material
plastic                     679
glass                       313
Other                       114
leather/vegan leather        97
unknown                      30
ceramic shield               10
hybrid (plastic/leather)      8
panda glass                   6
hybrid (glass/leather)        5
Metal                         3
Ceramic                       2
Wood                          1
Name: count, dtype: int64

In [ ]:
df['back_material'] = df['back_material'].astype('category')

In [ ]:
df['body_side'].value_counts(dropna=False)

body_side
Plastic Frame                                            940
Aluminium Frame                                          218
Metal Frame                                               25
Titanium Frame                                            23
NaN                                                       17
Aluminium Frame, Stainless Steel Hinge                    12
Armor Aluminium                                            9
Stainless Steel Frame                                      8
Aluminium Frame, Aluminum Alloy Hinge                      6
Aluminium Frame, strength Steel Hinge                      2
Aluminium Frame, Titanium Alloy Hinge                      2
Stainless Steel Frame, Stainless Steel Hinge               1
Aluminium Frame, Aluminium                                 1
Aluminium Frame, (7000 series), Stainless Steel Hinge      1
Aluminium Frame, Titanium Alloy                            1
Aluminium Frame, Carbon Fiber Hinge                        1
Aluminium Frame, Carbon Fiber Dual Hinge Plates            1
Name: count, dtype: int64

In [ ]:
def clean_body_side(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'plastic' in t:
    return 'plastic frame'

  if 'titanium' in t:
    return 'titanium frame'

  if 'stainless steel' in t:
    return 'stainless steel frame'

  if any(x in t for x in ['aluminium', 'aluminum', 'metal', 'armor']):
    if 'hinge' in t:
      return 'aluminium frame (faldable hinge)'
    return 'aluminium/metal frame'

  return 'other'

df['frame_material'] = df['body_side'].apply(clean_body_side)

In [ ]:
df['frame_material'].value_counts()

frame_material
plastic frame                       940
aluminium/metal frame               253
titanium frame                       26
stainless steel frame                22
unknown                              17
aluminium frame (faldable hinge)     10
Name: count, dtype: int64

In [ ]:
df['frame_material'] = df['frame_material'].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
dtypes: category(7), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 794.0+ KB

In [ ]:
df['build_quality'].value_counts(dropna=False).head(20)

build_quality
NaN                               529
Plastic Material                  222
Corning Gorilla Glass 5            62
Corning Gorilla Glass 7i           33
Corning Gorilla Glass 3            28
Corning Gorilla Glass Victus 2     26
Corning Gorilla Glass Victus+      26
Ceramic Shield Glass               25
MIL-STD-810H                       25
MIL-STD-810H compliant*            19
Panda glass                        17
Corning Gorilla Glass              14
Corning Gorilla Glass victus 2     14
Schott Xensation Alpha             14
Corning Gorilla Glass Victus       14
Schott Xensation                   13
SGS 5-Star Drop Resistance         13
Ceramic Shield 2                   12
Gorilla Glass 5                    10
Gorilla Glass Victus 2             10
Name: count, dtype: int64

In [ ]:
def extract_durability(text):
    if pd.isna(text):
      return "Standard"
    text = str(text).lower()

    if 'mil-std' in text:
        return 'Military Grade (MIL-STD)'
    if 'sgs' in text or 'drop resistance' in text:
        return 'SGS Certified Drop Resistance'

    return "Standard/Branded Glass"

df['durability_cert'] = df['build_quality'].apply(extract_durability).astype('category')

In [ ]:
df['durability_cert'].value_counts(dropna=False)

durability_cert
Standard/Branded Glass           669
Standard                         529
Military Grade (MIL-STD)          57
SGS Certified Drop Resistance     13
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 87 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
dtypes: category(8), datetime64[ns](1), float64(14), int64(16), object(48)
memory usage: 795.4+ KB

In [ ]:
df['ports'].sample(20)

533                             USB Type-C, 3.5mm Headphone Jack
1200                   USB Type-C 2.0, 3.5mm Headphone Jack, OTG
893                         USB Type-C 2.0, 3.5mm Headphone Jack
99                                    USB Type-C 2.0, iR Blaster
726                             USB Type-C, 3.5mm Headphone Jack
466                               USB Type-C, Infrared Port, OTG
424                         USB Type-C, OTG, USB Type-C (bottom)
840     USB Type-C 2.0, 3.5mm Headphone Jack, Infrared Port, OTG
747                             USB Type-C, 3.5mm Headphone Jack
658                         USB Type-C 2.0, 3.5mm Headphone Jack
552                               USB Type-C, Infrared Port, OTG
394                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
297                         USB Type-C 2.0, 3.5mm Headphone Jack
647                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
489                           microUSB 2.0, 3.5mm Headphone Jack
345                                USB Type-C 2.0, Infrared Port
455                        USB Type-C, 3.5mm Headphone Jack, OTG
162                                          USB Type-C 2.0, OTG
861                    USB Type-C 2.0, 3.5mm Headphone Jack, OTG
1081                   USB Type-C 2.0, 3.5mm Headphone Jack, OTG
Name: ports, dtype: object

In [ ]:
df['ports'].str.contains('3.5mm').sum()

np.int64(535)

In [ ]:
def has_audio_jack(text):

  t = text.lower()

  if '3.5mm' in t:
    return 1

  return 0

df['has_3_5mm_jack'] = df['ports'].apply(has_audio_jack)

In [ ]:
df['has_3_5mm_jack'].value_counts()

has_3_5mm_jack
0    733
1    535
Name: count, dtype: int64

In [ ]:
def extract_usb_type(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if 'type-c' in t:
    return 'type-c'

  if 'micro' in t:
    return 'microUSB'

  if 'lightning' in t:
    return 'lightning'

  return 'unknown'

df['usb_type'] = df['ports'].apply(extract_usb_type).astype('category')

In [ ]:
df['usb_type'].value_counts()

usb_type
type-c       1220
microUSB       34
lightning      14
Name: count, dtype: int64

In [ ]:
df['ports'].sample(20)

616         USB Type-C, 3.5mm Headphone Jack, OTG
794          USB Type-C 2.0, 3.5mm Headphone Jack
953                           USB Type-C 2.0, OTG
130        USB Type-C, 24-bit/192kHz Hi-Res audio
477                               USB Type-C, OTG
61                                 USB Type-C 2.0
753     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
897          USB Type-C 2.0, 3.5mm Headphone Jack
668                                    USB Type-C
215                               USB Type-C, OTG
448                               USB Type-C, OTG
490     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
815              USB Type-C, 3.5mm Headphone Jack
805          USB Type-C 2.0, 3.5mm Headphone Jack
512     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
799            microUSB 2.0, 3.5mm Headphone Jack
929     USB Type-C 2.0, 3.5mm Headphone Jack, OTG
650          USB Type-C 2.0, 3.5mm Headphone Jack
960                           USB Type-C 2.0, OTG
1190        USB Type-C, 3.5mm Headphone Jack, OTG
Name: ports, dtype: object

In [ ]:
def extract_usb_version(text):

  t = text.lower()

  if '3.2' in t:
    return 3.2

  if '3.1' in t:
    return 3.1

  return 2.0

df['usb_version'] = df['ports'].apply(extract_usb_version)

In [ ]:
df['usb_version'].value_counts()

usb_version
2.0    1130
3.2     108
3.1      30
Name: count, dtype: int64

In [ ]:
df['ports'].str.contains('OTG').sum()

np.int64(807)

In [ ]:
def has_otg(text):

  t = text.lower()

  if 'otg' in t:
    return 1

  return 0

df['has_otg'] = df['ports'].apply(has_otg)

In [ ]:
df['has_otg'].value_counts()

has_otg
1    807
0    461
Name: count, dtype: int64

In [ ]:
df['ports'].sample(20)

1194                       USB Type-C, 3.5mm Headphone Jack
185                         USB Type-C 2.0, IR Blaster, OTG
880                    USB Type-C 2.0, 3.5mm Headphone Jack
85                                      USB Type-C 2.0, OTG
1039                                             USB Type-C
1253              USB Type-C 2.0, 3.5mm Headphone Jack, OTG
17                             USB Type-C 2.0, Display Port
787     USB Type-C 2.0, 3.5mm Headphone Jack, Infrared Port
11                                        Lightning USB 2.0
829                        USB Type-C, 3.5mm Headphone Jack
269                   USB Type-C 3.1, Display Port 1.4, OTG
1060                       USB Type-C 3.2, Display Port 1.2
53                             USB Type-C 2.0, Display Port
1196              USB Type-C 2.0, 3.5mm Headphone Jack, OTG
586                                     USB Type-C 2.0, OTG
1171                     USB Type-C 2.0, Infrared Port, OTG
591                                              USB Type-C
600                                              USB Type-C
678                                USB Type-C, Hi-Res Audio
558                    USB Type-C 2.0, 3.5mm Headphone Jack
Name: ports, dtype: object

In [ ]:
df['ports'].str.contains(r'Infrared Port|Infrared Port|IR Blaster').sum()

np.int64(142)

In [ ]:
def has_ir_blaster(text):

  t = text.lower()

  if 'infrared port' in t:
    return 1

  if 'ir blaster' in t:
    return 1

  return 0

df['has_ir_blaster'] = df['ports'].apply(has_ir_blaster)

In [ ]:
df['has_ir_blaster'].value_counts()

has_ir_blaster
0    1124
1     144
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 92 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
dtypes: category(9), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 836.4+ KB

In [ ]:
df['ip_rating'].sample(20)

805                                    NaN
1234    IP68/69 (Dust and Water Resistant)
72         IP68 (Dust and Water Resistant)
489                 Water Repellent Design
960                                    NaN
746        IP54 (Dust and Water Resistant)
100                                    NaN
413               IPX4 (Splash Resistance)
292                 Water Repellent Design
954                                    NaN
396        IP65 (Dust and Water Resistant)
846       IP53 (Dust and Splash Resistant)
622                                    NaN
862        IP54 (Dust and Water Resistant)
1001                                   NaN
783        IP64 (Dust and Water Resistant)
813        IP64 (Dust and Water Resistant)
1039       IP68 (Dust and Water Resistant)
209        IP54 (Dust and Water Resistant)
446        IP54 (Dust and Water Resistant)
Name: ip_rating, dtype: object

In [ ]:
def water_resistance_level(text):

  if pd.isna(text):
    return 'level 0'

  t = text.lower()

  if any(x in t for x in ['ip67', 'ip68', 'ip69', 'ipx8', 'ipx9', 'ip66/68/69', 'ipx6/x8/x9']):
        return 'level 3'

  if any(x in t for x in ['ip53', 'ip54', 'ip64', 'ip65', 'water resistant']):
        return 'level 2'

  if any(x in t for x in ['water repellent', 'ip48', 'ip52', 'ipx4', 'splash resistant', 'dust and water resistant']):
        return 'level 1'

df['water_resistance_level'] = df['ip_rating'].apply(water_resistance_level).astype('category')

In [ ]:
df['water_resistance_level'].value_counts(dropna=False)

water_resistance_level
level 2    462
level 0    353
level 3    344
level 1    109
Name: count, dtype: int64

In [ ]:
df['water_resistance_level'].count()

np.int64(1268)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 93 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
dtypes: category(10), datetime64[ns](1), float64(15), int64(19), object(48)
memory usage: 837.8+ KB

In [ ]:
df['speaker'].sample(30)

206                                 Loudspeaker
720                             Stereo Speakers
783                             Stereo Speakers
9                               Stereo Speakers
1170                            Stereo Speakers
237     Stereo Speakers (Dolby Atmos certified)
1149                            Stereo Speakers
957                                 Loudspeaker
754                             Stereo Speakers
640                                 Loudspeaker
914                                Mono Speaker
926                             Stereo Speakers
76                              Stereo Speakers
488                   Loudspeaker, Mono Speaker
990                                 Loudspeaker
8                               Stereo Speakers
647              DIRAC tuned audio, Loudspeaker
143                                Mono Speaker
912                                Mono Speaker
890                                 Loudspeaker
283     Stereo Speakers (Dolby Atmos Certified)
351                             Stereo Speakers
187                                Mono Speaker
866                             Stereo Speakers
500                                 Loudspeaker
293      Stereo Speakers (Dolby Atmos Enhanced)
558                                 Loudspeaker
886                                 Loudspeaker
355                             Stereo Speakers
1129                  Hi-Res Audio, Loudspeaker
Name: speaker, dtype: object

In [ ]:
def has_stereo_speakers(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'stereo' in t:
    return 1

  return 0


df['has_stereo_speakers'] = df['speaker'].apply(has_stereo_speakers).astype('int')

In [ ]:
df['has_stereo_speakers'].value_counts()

has_stereo_speakers
1    768
0    500
Name: count, dtype: int64

In [ ]:
df['speaker'].sample(20)

335                                                          Stereo Speakers
1155                                                         Stereo Speakers
341     Dual-mic Noise Cancellation, Stereo Speakers (Dolby Atmos Certified)
1172                                                         Stereo Speakers
1030                                                         Stereo Speakers
975                                                             Mono Speaker
377                                                             Mono Speaker
240                                                          Stereo Speakers
696                              24-bit/192kHz Hi-Res Audio, Stereo Speakers
1125                                                             Loudspeaker
251                                                          Stereo Speakers
680                                                          Stereo Speakers
864                                                          Stereo Speakers
928                                                          Stereo Speakers
1152                                                         Stereo Speakers
979                                                             Mono Speaker
613                              24-bit/192kHz Hi-Res Audio, Stereo Speakers
1221                                                             Loudspeaker
514                                            Hi-Res Audio, Stereo Speakers
1070                                                             Loudspeaker
Name: speaker, dtype: object

In [ ]:
def has_audio_certification(text):

  if pd.isna(text):
    return 0

  t = text.lower()

  if 'dolby' in t:
    return 1

  if 'hi-res' in t:
    return 1

  if 'dts' in t:
    return 1

  return 0

df['has_audio_certification'] = df['speaker'].apply(has_audio_certification)

In [ ]:
df['has_audio_certification'].value_counts()

has_audio_certification
0    1142
1     126
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 95 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
dtypes: category(10), datetime64[ns](1), float64(15), int64(21), object(48)
memory usage: 857.6+ KB

In [ ]:
df['chipset'].sample(20)

1114         MediaTek Dimensity 9300 Plus (4 nm), 2111636 Antutu Score
1013          Qualcomm Snapdragon 8 Gen 1 (4 nm), 1245739 Antutu Score
458         MediaTek Dimensity 7300 Energy (4 nm), 670521 Antutu Score
736                                 MediaTek Dimensity 6400 Max (6 nm)
598           Qualcomm Snapdragon 7s Gen 3 (4 nm), 615257 Antutu Score
395                MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
245                Qualcomm Snapdragon 680 (6 nm), 310236 Antutu Score
403                MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
591         MediaTek Dimensity 7300 Energy (4 nm), 670521 Antutu Score
435         MediaTek Dimensity 7300 Energy (4 nm), 362695 Antutu Score
866           Qualcomm Snapdragon 7s Gen 2 (4 nm), 600033 Antutu Score
940                    MediaTek Helio P35 (12 nm), 150618 Antutu Score
954                MediaTek Dimensity 6300 (6 nm), 452218 Antutu Score
1207           Qualcomm Snapdragon 4 Gen 1 (6 nm), 414048 Antutu Score
349     Qualcomm Snapdragon 8 Elite Gen 5 (3 nm), 3751143 Antutu Score
827                           Unisoc T603 (22 nm), 159353 Antutu Score
924                MediaTek Dimensity 1080 (6 nm), 543766 Antutu Score
1236               MediaTek Dimensity 7300 (4 nm), 728000 Antutu Score
555                MediaTek Dimensity 1080 (6 nm), 543766 Antutu Score
698                Qualcomm Snapdragon 888 (5 nm), 915852 Antutu Score
Name: chipset, dtype: object

In [ ]:
df['processor_brand'] = df['chipset'].str.strip().str.lower().str.split(' ').str.get(0).astype('category')

In [ ]:
df['processor_brand'].value_counts(dropna=False)

processor_brand
mediatek    599
qualcomm    460
samsung      74
unisoc       61
apple        54
google       20
Name: count, dtype: int64

In [ ]:
df['chipset_brand'] = df['chipset'].str.strip().str.lower().str.split('(').str.get(0).str.strip()

In [ ]:
df['chipset_brand'] = df['chipset_brand'].str.replace('apple', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('qualcomm', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('mediatek', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('samsung', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('unisoc', '', case=False).str.strip()
df['chipset_brand'] = df['chipset_brand'].str.replace('google', '', case=False).str.strip()

In [ ]:
df['chipset_brand'] = df['chipset_brand'].str.split(',').str.get(0)

In [ ]:
df[['processor_brand','chipset_brand']].sample(20)

     processor_brand                  chipset_brand
1264        qualcomm             snapdragon 8 elite
118         mediatek                  dimensity 810
1208        qualcomm                 snapdragon 695
836         qualcomm                 snapdragon 680
609         qualcomm             snapdragon 7 gen 4
1184        mediatek                 dimensity 9200
174         qualcomm            snapdragon 8s gen 3
601         mediatek                 dimensity 6300
191         qualcomm            snapdragon 7s gen 3
1022        qualcomm  snapdragon 8 gen 2 for galaxy
776         mediatek           dimensity 7400 ultra
814         mediatek                 dimensity 6300
560         mediatek                 dimensity 7050
1229        mediatek                 dimensity 6300
588         qualcomm            snapdragon 7s gen 2
474         mediatek                 dimensity 8350
962          samsung                    exynos 1380
838         mediatek                      helio g96
245         qualcomm                 snapdragon 680
689         qualcomm                 snapdragon 870

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1268 non-null   object
dtypes: category(11), datetime64[ns](1), float64(15), int64(21), object(49)
memory usage: 869.0+ KB

In [ ]:
df['chipset_nm'] = df['chipset'].str.split('(').str.get(1).str.split(')').str.get(0).str.split(' ').str.get(0)

In [ ]:
df['chipset_nm'] = pd.to_numeric(df['chipset_nm'])

In [ ]:
df['chipset_nm'].value_counts(dropna=False)

chipset_nm
4.0     494
6.0     390
12.0    167
3.0      83
5.0      73
7.0      34
8.0      11
NaN      10
22.0      3
28.0      2
11.0      1
Name: count, dtype: int64

In [ ]:
df[df['chipset_nm'] == 11]['chipset']

393    Qualcomm Snapdragon 6s Gen1 (11 nm), 440358 Antutu Score
Name: chipset, dtype: object

In [ ]:
df[df['chipset_nm'].isnull()]['chipset']

137                  Unisoc SC9863A1, 148911 Antutu Score
188          MediaTek Dimensity 6300, 452218 Antutu Score
189          MediaTek Dimensity 6300, 452218 Antutu Score
376    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
377    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
378    MediaTek Dimensity 8350 Apex, 1403197 Antutu Score
392      Qualcomm Snapdragon 6s Gen1, 440358 Antutu Score
612                                              MediaTek
613                                              MediaTek
614                           MediaTek Dimensity 6400 Max
Name: chipset, dtype: object

In [ ]:
df['chipset_brand'].sample(20)

12                         a16 bionic
41                                a18
750                    dimensity 6300
1206                   dimensity 6300
618                     dimensity 810
721             dimensity 7300 energy
898                    dimensity 6300
444                     dimensity 810
636                        tiger t612
1042                      exynos 2400
717                    dimensity 7050
113                              t606
243                              t760
851                    dimensity 1080
337                snapdragon 8 gen 3
945                         helio g99
1115                   dimensity 7400
710                    dimensity 7050
435             dimensity 7300 energy
1043    snapdragon 8 elite for galaxy
Name: chipset_brand, dtype: object

In [ ]:
df.loc[[612,613],'chipset_brand'] = np.nan

In [ ]:
df.loc[[612,613]][['chipset','chipset_brand']]

      chipset chipset_brand
612  MediaTek           NaN
613  MediaTek           NaN

In [ ]:
df['antutu_score'] = df['chipset'].str.split(',').str.get(1).str.strip().str.split(' ').str.get(0)

In [ ]:
df['antutu_score'] = pd.to_numeric(df['antutu_score'])

In [ ]:
df['antutu_score'].sample(20)

921      595101.0
30      1605038.0
707      244837.0
204      414048.0
217      452218.0
36      1660345.0
807      264823.0
166      844450.0
501      259076.0
512      421890.0
221      831378.0
430           NaN
1075     310236.0
287      600033.0
231      152974.0
303      678813.0
1037    1765220.0
1161     956920.0
1106     452218.0
1071     915852.0
Name: antutu_score, dtype: float64

In [ ]:
df[df['antutu_score'].isnull()]['chipset']

67                       Google Tensor (5 nm)
406            MediaTek Dimensity 6300 (6 nm)
407            MediaTek Dimensity 6300 (6 nm)
408            MediaTek Dimensity 6300 (6 nm)
430            MediaTek Dimensity 6300 (6 nm)
441            MediaTek Dimensity 9500 (3 nm)
443            MediaTek Dimensity 9500 (3 nm)
606     MediaTek Dimensity 7300 Energy (4 nm)
607     MediaTek Dimensity 7300 Energy (4 nm)
612                                  MediaTek
613                                  MediaTek
614               MediaTek Dimensity 6400 Max
735        MediaTek Dimensity 6400 Max (6 nm)
736        MediaTek Dimensity 6400 Max (6 nm)
765            MediaTek Dimensity 6300 (6 nm)
766            MediaTek Dimensity 6300 (6 nm)
901                 MediaTek Helio G99 (6 nm)
945                 MediaTek Helio G99 (6 nm)
976                 MediaTek Helio G99 (6 nm)
1163     MediaTek Dimensity 7360 Turbo (4 nm)
1164     MediaTek Dimensity 7360 Turbo (4 nm)
1165     MediaTek Dimensity 7360 Turbo (4 nm)
1176           MediaTek Dimensity 9500 (3 nm)
1177           MediaTek Dimensity 9500 (3 nm)
1178           MediaTek Dimensity 9500 (3 nm)
1179           MediaTek Dimensity 9500 (3 nm)
1204           MediaTek Dimensity 6300 (6 nm)
1205           MediaTek Dimensity 6300 (6 nm)
1206           MediaTek Dimensity 6300 (6 nm)
1233       Qualcomm Snapdragon 4 Gen 2 (4 nm)
1234       Qualcomm Snapdragon 4 Gen 2 (4 nm)
Name: chipset, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 99 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   model_id                     1268 non-null   int64
 1   model                        1268 non-null   object
 2   expert_rating                1268 non-null   int64
 3   rating                       1268 non-null   float64
 4   rating_count                 994 non-null    float64
 5   launch_on                    1268 non-null   datetime64[ns]
 6   old_price                    844 non-null    float64
 7   price                        1268 non-null   int64
 8   launch_price                 1268 non-null   int64
 9   display_type                 1268 non-null   object
 10  display_size                 1268 non-null   object
 11  display_res                  1268 non-null   object
 12  body_dimension               1268 non-null   object
 13  weight                       1268 non-null   object
 14  body_front                   1268 non-null   object
 15  body_back                    1238 non-null   object
 16  body_side                    1251 non-null   object
 17  build_quality                739 non-null    object
 18  ports                        1268 non-null   object
 19  ip_rating                    915 non-null    object
 20  speaker                      1265 non-null   object
 21  chipset                      1268 non-null   object
 22  cpu                          1268 non-null   object
 23  gpu                          1250 non-null   object
 24  main_cam                     1268 non-null   object
 25  main_cam2                    1214 non-null   object
 26  main_cam3                    631 non-null    object
 27  main_cam_features            1268 non-null   object
 28  main_video                   1239 non-null   object
 29  os                           1268 non-null   object
 30  software_updates             1228 non-null   object
 31  ai_features                  780 non-null    object
 32  front_cam                    1268 non-null   object
 33  front_cam_features           1026 non-null   object
 34  front_video                  1229 non-null   object
 35  battery                      1268 non-null   object
 36  charging                     1268 non-null   object
 37  storage                      1268 non-null   object
 38  ram                          1268 non-null   object
 39  sim                          1264 non-null   object
 40  tech                         1200 non-null   object
 41  2g                           1262 non-null   object
 42  3g                           1264 non-null   object
 43  4g                           1267 non-null   object
 44  5g                           1028 non-null   object
 45  speed                        1264 non-null   object
 46  wifi                         1268 non-null   object
 47  bluetooth                    1266 non-null   object
 48  positioning_system           1268 non-null   object
 49  nfc                          595 non-null    object
 50  finger_print                 1192 non-null   object
 51  sensors                      1268 non-null   object
 52  add_features                 469 non-null    object
 53  main_cam4                    48 non-null     object
 54  front_cam2                   9 non-null      object
 55  brand                        1268 non-null   category
 56  is_available                 1268 non-null   int64
 57  is_flipkart_available        1268 non-null   int64
 58  is_amazon_available          1268 non-null   int64
 59  is_official_available        1268 non-null   int64
 60  display_panel_type           1268 non-null   object
 61  display_panel_family         1268 non-null   category
 62  display_hz                   1268 non-null   int64
 63  display_dynamic_range        1268 non-null   category
 64  touch_sampling_rate          852 non-null    float64
 65  has_ltpo                     1268 non-null   int64
 66  has_anti_reflection_coating  1268 non-null   int64
 67  display_inches               1268 non-null   float64
 68  display_body_ratio           1036 non-null   float64
 69  has_curved                   1268 non-null   int64
 70  has_foldable                 1268 non-null   int64
 71  res_category                 1268 non-null   category
 72  res_width                    1268 non-null   int64
 73  res_height                   1268 non-null   int64
 74  aspect_ration_numeric        1185 non-null   float64
 75  display_ppi                  1268 non-null   float64
 76  color_depth                  1268 non-null   float64
 77  peak_brightness              1206 non-null   float64
 78  has_high_contrast            1268 non-null   int64
 79  height_mm                    1268 non-null   float64
 80  width_mm                     1268 non-null   float64
 81  thickness_mm                 1268 non-null   float64
 82  weight_g                     1268 non-null   float64
 83  front_potection              1268 non-null   category
 84  back_material                1268 non-null   category
 85  frame_material               1268 non-null   category
 86  durability_cert              1268 non-null   category
 87  has_3_5mm_jack               1268 non-null   int64
 88  usb_type                     1268 non-null   category
 89  usb_version                  1268 non-null   float64
 90  has_otg                      1268 non-null   int64
 91  has_ir_blaster               1268 non-null   int64
 92  water_resistance_level       1268 non-null   category
 93  has_stereo_speakers          1268 non-null   int64
 94  has_audio_certification      1268 non-null   int64
 95  processor_brand              1268 non-null   category
 96  chipset_brand                1266 non-null   object
 97  chipset_nm                   1258 non-null   float64
 98  antutu_score                 1237 non-null   float64
dtypes: category(11), datetime64[ns](1), float64(17), int64(21), object(49)
memory usage: 888.8+ KB

In [ ]:
df['cpu'].sample(20)

1065                                                           Octa-core (4.47GHz, 3.5GHz)
641                                Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
978                                Octa-core (4x2.0 GHz Cortex-A55 & 4x2.0 GHz Cortex-A55)
769      Octa-core (1x2.5 GHz Cortex-A720 & 3x2.4 GHz Cortex-A720 & 4x1.8 GHz Cortex-A520)
1005    Octa-core (1x2.4 GHz Cortex-A710 & 3x2.36 GHz Cortex-A710 & 4x1.8 GHz Cortex-A510)
275                              Octa-core (4x2.40 GHz Cortex-A78 & 4x1.95 GHz Cortex-A55)
400                                Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
863                            Octa-core (2x2.8 GHz Cortex-A715 & 6x2.0GHz Cortex-A510 R1)
233                                              Octa-core (4xA53 2.3 GHz + 4xA53 1.8 GHz)
292                                Octa-core (2x2.2 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
868                                          Octa-core (2x A78 @ 2.5GHz & 6x A55 @ 2.0GHz)
899                                Octa-core (2x2.4 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
120             Octa-core (2.05 GHz, Dual core, Cortex A76 + 2 GHz, Hexa Core, Cortex A55)
258                                Octa-core (2x2.2 GHz Cortex-A76 & 6x2.0 GHz Cortex-A55)
620         Octa-core (1x2.4 GHz Cortex-A78 & 3x2.2 GHz Cortex-A78 & 4x1.9 GHz Cortex-A55)
823                                Octa-core (4x2.2 GHz Cortex-A53 & 4x1.6 GHz Cortex-A53)
297                                Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)
943              Octa-core (2.4 GHz, Dual core, Cortex A76 + 2 GHz, Hexa Core, Cortex A55)
992                                Octa-core (2x2.4 GHz Cortex-A78 & 6x2.0 GHz Cortex-A55)
310                            Octa-core (2x2.80 GHz Cortex-A715 & 6x2.00 GHz Cortex-A510)
Name: cpu, dtype: object

In [ ]:
df['cpu_core_count'] = df['cpu'].str.strip().str.split(' ').str.get(0)

In [ ]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
Octa-core    1193
Hexa-core      54
Deca-core      13
Quad-core       4
Nona-core       4
Name: count, dtype: int64

In [ ]:
def extract_core_count(text):

  t = text.lower()

  if 'octa' in t:
    return 8

  if 'hexa' in t:
    return 6

  if 'deca' in t:
    return 10

  if 'quad' in t:
    return 4

  if 'nona' in t:
    return 9

df['cpu_core_count'] = df['cpu_core_count'].apply(extract_core_count)

In [ ]:
df['cpu_core_count'].value_counts(dropna=False)

cpu_core_count
8     1193
6       54
10      13
4        4
9        4
Name: count, dtype: int64

In [ ]:
df['cpu_max_ghz'] = df['cpu'].str.extract(r'(\d+\.?\d*)\s*[Gg]*\s*[Gg]Hz', flags=re.IGNORECASE)

In [ ]:
df['cpu_max_ghz'].value_counts(dropna=False)

cpu_max_ghz
2.4     235
2.2     195
2.5     122
2.0      83
2.6      58
1.8      43
3.0      38
2.8      38
2.3      33
3.2      32
3.1      27
3.35     26
3.3      25
2.63     22
2.40     20
4.32     19
1.6      16
3.19     16
3.46     14
3.00     13
2.05     13
4.26     12
3.25     12
3.36     11
2.85     11
4.04      9
2.84      9
3.05      8
4.21      7
NaN       7
3.78      7
4.47      7
4.6       6
3.23      6
4.05      6
3.63      6
2.35      6
2.9       6
3.21      6
3.39      5
3.4       5
2.80      4
2.7       4
2.75      4
3.73      4
3         3
2.99      3
2.30      2
2.91      2
2.1       1
3.20      1
Name: count, dtype: int64

In [ ]:
df['cpu_max_ghz'] = pd.to_numeric(df['cpu_max_ghz'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 101 entries, model_id to cpu_max_ghz
dtypes: category(11), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 908.6+ KB

In [ ]:
df['gpu_brand'] = df['gpu'].str.lower().str.strip().str.split(' ').str.get(0)

In [ ]:
df['gpu_brand'] = df['gpu_brand'].str.replace('-',' ')

In [ ]:
df[df['gpu_brand'] == 'unspecified']['gpu']

137    Unspecified
Name: gpu, dtype: object

In [ ]:
df.loc[137,'gpu_brand'] = np.nan

In [ ]:
df['gpu_brand'].value_counts(dropna=False)

gpu_brand
adreno              454
mali g57            243
mali g68             95
arm                  79
mali g615            57
apple                54
mali g52             50
powervr              42
mali g610            34
img                  29
xclipse              22
NaN                  19
mali                 19
mali g77             12
immortalis g720      12
mali g710            10
immortalis g715       9
mali g720             7
immortalis g925       6
immortalis g715s      6
mali g715             5
mali g78              2
ge8322                2
Name: count, dtype: int64

In [ ]:
df['gpu_brand'] = df['gpu_brand'].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Columns: 102 entries, model_id to gpu_brand
dtypes: category(12), datetime64[ns](1), float64(18), int64(22), object(49)
memory usage: 910.6+ KB

In [ ]:
df['main_cam'].sample(20)

154                50 MP, f/1.9, 23mm (Wide-angle), 1 µm, 1/1.57", OIS, PDAF
56                      50 MP, f/1.9, 24mm (Wide-angle), 1 µm, 1/1.56", PDAF
1044     50 MP, f/1.8, 24mm (Wide-angle), 85°, 1/1.56", Dual Pixel PDAF, OIS
671             50 MP, f/1.69, 23mm (Wide-angle), 1.12 µm, 1/1.4", OIS, PDAF
1092                 50 MP, f/1.79, (Wide-angle), 0.8 µm, 1/1.95", OIS, PDAF
242                                50 MP, f/1.8, (Wide-angle), 1.28 µm, PDAF
196                   50 MP, f/1.8, 24mm (Wide-angle), 0.8 µm, 1/1.95", PDAF
765                                     32 MP, f/1.8, 27mm (Wide-angle), 76°
929                                  50 MP, f/1.8, 0mm (Wide-angle), 1/1.96"
266     50 MP, f/1.8, 0mm (Wide-angle), 1/1.55", Multi-directional PDAF, OIS
499                  50 MP, f/1.8, 28mm (Wide-angle), 0.64 µm, 1/2.76", PDAF
131                         64 MP, f/1.8, (Wide-angle), 0.8 µm, 1/1.73", OIS
306                50 MP, f/1.9, 24mm (Wide-angle), 1 µm, 1/1.56", OIS, PDAF
190                                   50 MP, f/1.8, (Wide-angle), Auto Focus
1142              50 MP, f/1.88, 23mm (Wide-angle), 1 µm, 1/1.55", OIS, PDAF
262                 50 MP, f/1.9, 1 µm, 1/1.56", Multi-directional PDAF, OIS
1077                                         50 MP, f/1.8, 26mm (Wide-angle)
412                                    50 MP, f/1.8, (Wide-angle), 77°, PDAF
1236                                              50 MP, f/1.8, (Wide-angle)
684                                      50 MP, f/1.8, (Wide-angle), 1/1.56"
Name: main_cam, dtype: object

In [ ]:
df['cam_primary_mp'] = df['main_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype('int')

In [ ]:
df['cam_primary_mp'].value_counts(dropna=False)

cam_primary_mp
50     850
64      91
48      82
108     79
13      48
8       37
200     35
32      25
12      15
16       5
100      1
Name: count, dtype: int64

In [ ]:
df['cam_aperture'] = df['main_cam'].str.split(',').str.get(1).str.split('/').str.get(1).str.strip()

In [ ]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8        726
1.9         80
1.88        60
1.79        60
1.7         53
1.6         53
1.75        42
2.2         42
2.0         40
1.5         19
1.78        18
1.68        14
1.89        13
1.65         9
1.85         7
NaN          6
1.57         6
1.69         5
2.6          4
1.4          3
1.59         3
1.63         2
1.4-2.0      1
1.6-f        1
1.62         1
Name: count, dtype: int64

In [ ]:
df[df['cam_aperture'] == '1.6-f'][['main_cam','model']]

,main_cam,model
1262,"50 MP, f/1.6-f/4.0, 23mm (Wide-angle), 3.2 µm, 1.0"", Auto Focus, Multi-directional PDAF, OIS",Xiaomi 14 Ultra

In [ ]:
df.loc[89,'cam_aperture'] = '1.4'
df.loc[1262,'cam_aperture'] = '1.6'

In [ ]:
df['cam_aperture'].value_counts(dropna=False)

cam_aperture
1.8     726
1.9      80
1.88     60
1.79     60
1.6      54
1.7      53
1.75     42
2.2      42
2.0      40
1.5      19
1.78     18
1.68     14
1.89     13
1.65      9
1.85      7
1.57      6
NaN       6
1.69      5
1.4       4
2.6       4
1.59      3
1.63      2
1.62      1
Name: count, dtype: int64

In [ ]:
df['cam_aperture'] = pd.to_numeric(df['cam_aperture'])

In [ ]:
df['main_cam'].sample(20)

1120                                                  50 MP, f/1.8, (Wide-angle), Auto Focus
783                                                          50 MP, f/1.8, (Wide-angle), 76°
660                                                      50 MP, f/1.8, 0mm (Wide-angle), 80°
877                                                  50 MP, f/1.8, 0mm (Wide-angle), 0.64 µm
112                                                   13 MP, f/1.9, (Wide-angle), Auto Focus
792                                             50 MP, f/1.8, 0mm (Wide-angle), 0.8 µm, PDAF
334                                50 MP, f/1.8, 24mm (Wide-angle), 1 µm, 1/1.56", OIS, PDAF
255                                       50 MP, f/1.8, 0mm (Wide-angle), 0.61 µm, OIS, PDAF
733                                          50 MP, f/1.8, 27mm (Wide-angle), 75.5°, 0.64 µm
422                                               50 MP, f/1.8, 26mm (Wide-angle), 76°, PDAF
21      48 MP, f/1.8, 24mm (Wide-angle), 1.22 µm, 1/1.28", Dual Pixel PDAF, Sensor-Shift OIS
607                                           50 MP, f/1.8, (Wide-angle), 1/1.95", OIS, PDAF
206                                                    64 MP, f/1.8, 26mm (Wide-angle), PDAF
1180                                   50 MP, f/1.75, (Wide-angle), 1 µm, 1/1.49", OIS, PDAF
705                            50 MP, f/1.8, 26mm (Wide-angle), 0.64 µm, 1/2.76", Auto Focus
603                                                50 MP, f/1.8, 26mm (Wide-angle), 79°, OIS
993                                                         50 MP, f/1.8, (Wide-angle), PDAF
376                                    50 MP, f/1.8, 26mm (Wide-angle), 79°, 0.8 µm, 1/1.95"
907                                           50 MP, f/1.8, (Wide-angle), 0.8 µm, Auto Focus
499                                  50 MP, f/1.8, 28mm (Wide-angle), 0.64 µm, 1/2.76", PDAF
Name: main_cam, dtype: object

In [ ]:
def extract_ois(text):

  t = text.lower()

  if 'ois' in t:
    return 1

  return 0

df['cam_has_ois'] = df['main_cam'].apply(extract_ois)

In [ ]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [ ]:
df['cam_sensor_size'] = df['main_cam'].str.extract(r'1/(\d+\.\d+)')

In [ ]:
df['cam_sensor_size'].value_counts(dropna=False)

cam_sensor_size
NaN     546
1.56    192
1.95    108
2.76     78
1.67     36
1.28     31
2.0      28
1.4      21
1.57     20
2.88     20
1.3      19
1.55     18
1.52     18
1.31     15
3.1      14
1.96     14
1.49     11
1.97      9
1.43      8
4.0       7
2.55      6
2.8       5
3.06      5
1.76      5
1.72      4
1.73      4
2.5       4
2.9       4
1.7       3
1.5       3
3.0       3
1.22      2
1.33      2
2.74      1
2.93      1
3.6       1
0.98      1
1.0       1
Name: count, dtype: int64

In [ ]:
df['cam_sensor_size'] = pd.to_numeric(df['cam_sensor_size'])

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 106 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
dtypes: category(12), datetime64[ns](1), float64(20), int64(24), object(49)
memory usage: 950.2+ KB

In [ ]:
df['main_cam2'].sample(20)

553                                           2 MP, f/2.4, (Depth), 0.64 µm, 1/5"
259                              8 MP, f/2.2, (Ultra-wide), 118°, 1.12 µm, 1/4.0"
390                                            2 MP, f/2.4, (Depth), 89°, 0.64 µm
1147                             8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/4.0"
953                                    5 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/5.0"
361                              8 MP, f/2.2, (Ultra-wide), 112°, 1.12 µm, 1/4.0"
331              48 MP, f/2.2, 0mm  (Ultra-wide), 115°, 1.12 µm, 1/2", Auto Focus
730                                               2 MP, f/2.4, 22mm  (Depth), 89°
630                                                          2 MP, f/2.4, (Macro)
725                           2 MP, f/2.4, 22mm  (Monochrome), 89°, 1.75 µm, 1/5"
341                        8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0"
1117                                                         2 MP, f/2.4, (Depth)
598                     50 MP, f/1.8, 24mm  (Wide-angle), 84°, 1 µm, 1/1.56", OIS
1                                          12 MP, f/2.4, 13mm  (Ultra-wide), 120°
315     50 MP, f/2.7, (Periscope), 1/2.75", 3x Optical Zoom, Auto Focus, EIS, OIS
4                                          12 MP, f/2.4, 13mm  (Ultra-wide), 120°
963                         8 MP, f/2.2, (Ultra-wide), 123°, 1.12 µm, 1/4.0", OIS
1099                             8 MP, f/2.2, (Ultra-wide), 120°, 1.12 µm, 1/4.0"
1170         64 MP, f/2.57, 70mm  (Periscope), 1/2.0", 3x Optical Zoom, OIS, PDAF
568                                               2 MP, f/2.4, 22mm  (Depth), 89°
Name: main_cam2, dtype: object

In [ ]:
df['cam_secondary_mp'] = df['main_cam2'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0)

In [ ]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2              390
8              333
50             125
0.08            97
12              82
NaN             54
5               45
10              39
13              31
48              19
64              15
32              10
(Auxiliary)      7
0.03             6
f/2.4            5
16               4
f/2.8            2
10.8             2
180              1
200              1
Name: count, dtype: int64

In [ ]:
df[df['cam_secondary_mp'] == 'f/2.4'][['model','main_cam2']]

                              model                          main_cam2
739  Realme Narzo N53 (6GB + 128GB)                f/2.4, 0mm  (Depth)
740  Realme Narzo N53 (8GB + 128GB)                     f/2.4, (Depth)
741                Realme Narzo N53                     f/2.4, (Depth)
744  Realme Narzo N61 (6GB + 128GB)   f/2.4, 0mm  (Auxiliary), 0.64 µm
753                    Realme P1 5G  f/2.4, 22mm  (Depth), 88.8°, 1/5"

In [ ]:
df.loc[[638,639,739,740,741,753],'cam_secondary_mp'] = 2
df.loc[[136,138,484,489,745,830,831,744], 'cam_secondary_mp'] = 0.08

In [ ]:
df['cam_secondary_mp'].value_counts(dropna=False)

cam_secondary_mp
2       390
8       333
50      125
0.08     97
12       82
NaN      54
5        45
10       39
13       31
48       19
64       15
32       10
0.08      8
0.03      6
2         6
16        4
10.8      2
180       1
200       1
Name: count, dtype: int64

In [ ]:
cam_cols_to_check = ['main_cam2', 'main_cam3', 'main_cam4']

df['has_telephoto'] = df[cam_cols_to_check].apply(
    lambda x: x.str.contains('Telephoto', case=False, na=False)
).any(axis=1).astype(int)

df['has_periscope'] = df[['main_cam2', 'main_cam3', 'main_cam4']].apply(
    lambda x: x.str.contains('Periscope', case=False, na=False)
).any(axis=1).astype(int)

In [ ]:
df['has_telephoto'].value_counts()

has_telephoto
0    1070
1     198
Name: count, dtype: int64

In [ ]:
df['has_periscope'].value_counts()

has_periscope
0    1219
1      49
Name: count, dtype: int64

In [ ]:
df['main_cam2'].sample(20)

292                                   8 MP, f/2.2, (Ultra-wide), 118°, 1.12 µm, Auto Focus
1111                                       50 MP, f/2.6, (Periscope), 33°, 3x Optical Zoom
1184     50 MP, f/1.6, 50mm  (Telephoto), 0.7 µm, 1/2.4", 2x Optical Zoom, Auto Focus, OIS
1013       10 MP, f/2.4, 70mm  (Telephoto), 36°, 1 µm, 1/3.94", 3x Optical Zoom, OIS, PDAF
1045    10 MP, f/2.4, 67mm  (Telephoto), 36°, 1.12 µm, 1/3.52", 3x Optical Zoom, OIS, PDAF
122                                                                   2 MP, f/2.4, (Depth)
154                                                        8 MP, f/2.2, 16mm  (Ultra-wide)
500                                                            0.08 MP, f/3.0, (Auxiliary)
151                                       13 MP, f/2.5, 50mm  (Telephoto), 1.12 µm, 1/3.1"
293                             8 MP, f/2.2, (Ultra-wide), 119°, 1.12 µm, Auto Focus, PDAF
1143                  50 MP, f/2.0, 15mm  (Ultra-wide), 119°, 0.64 µm, 1/2.76", Auto Focus
192                                                                            2 MP, f/2.4
625                          8 MP, f/2.2, 15.4mm  (Ultra-wide), 119°, 1.12 µm, 1/4.0", EIS
132                                                                                    NaN
1218                                                    2 MP, f/2.4, Depth Lensmm  (Depth)
520                                                              0.08 MP, 0mm  (Auxiliary)
1003                                            8 MP, f/2.2, (Ultra-wide), 1.12 µm, 1/4.0"
239                                       8 MP, f/2.2, (Ultra-wide), 118°, 1.12 µm, 1/4.0"
569                                 8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0"
522                                                                   0.08 MP, (Auxiliary)
Name: main_cam2, dtype: object

In [ ]:
df['cam_optical_zoom'] = df['main_cam2'].str.extract(r'(\d+)x\s+Optical\s+Zoom')

In [ ]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].fillna(0)

In [ ]:
df['cam_optical_zoom'] = df['cam_optical_zoom'].astype(int)

In [ ]:
df['cam_optical_zoom'].value_counts(dropna=False)

cam_optical_zoom
0     1097
3       89
2       38
5       36
10       5
4        2
7        1
Name: count, dtype: int64

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 110 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(20), int64(27), object(50)
memory usage: 989.8+ KB

In [ ]:
df['main_cam3'].sample(20)

530                                                                             NaN
1108                                                                            NaN
1148                                                                            NaN
254                                                            2 MP, f/2.4, (Macro)
120                                                                             NaN
877                                              2 MP, f/2.4, 0mm  (Macro), 1.75 µm
368                                                            2 MP, f/2.4, (Macro)
488                                                                             NaN
38                                                                              NaN
409                                                                             NaN
1252                                                  2 MP, f/2.4, (Macro), 1.75 µm
576                          8 MP, f/2.2, 16mm  (Ultra-wide), 112°, 1.12 µm, 1/4.0"
913                                                            2 MP, f/2.4, (Macro)
1123                                                           2 MP, f/2.4, (Macro)
367                                                       2 MP, f/2.4, 0mm  (Macro)
1029    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Super Steady Video
172                                                                             NaN
977                                                                             NaN
1040                                                                            NaN
610                                                                             NaN
Name: main_cam3, dtype: object

In [ ]:
df['cam_tertiary_mp'] = df['main_cam3'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [ ]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN            637
2              330
50              63
12              62
8               49
5               31
48              28
10              13
13              10
0.08             9
0mm              7
200              5
f/2.8            4
f/2.4            3
(Auxiliary)      3
0.3              2
10.5             2
88°              2
0.07             2
3                2
32               2
10.8             1
f/2.5            1
Name: count, dtype: int64

In [ ]:
df[df['cam_tertiary_mp'] == '0mm'][['model','main_cam3']]

                                    model         main_cam3
528              Poco M7 5G (8GB + 128GB)  0mm  (Auxiliary)
720  Realme Narzo 70 Turbo (12GB + 256GB)               0mm
721   Realme Narzo 70 Turbo (8GB + 128GB)               0mm
803            Redmi 13C 5G (6GB + 128GB)  0mm  (Auxiliary)
804            Redmi 13C 5G (8GB + 256GB)  0mm  (Auxiliary)
806               Redmi 13C (6GB + 128GB)  0mm  (Auxiliary)
807               Redmi 13C (8GB + 256GB)  0mm  (Auxiliary)

In [ ]:
df.loc[[121,114,119,122],'cam_tertiary_mp'] = 0.07
df.loc[[808,809,810,528,720,721,803,804,806,807],'cam_tertiary_mp'] = 0.08
df.loc[[636,637,706,707],'cam_tertiary_mp'] = 2
df.loc[[553,554],'cam_tertiary_mp'] = np.nan

In [ ]:
df['cam_tertiary_mp'] = pd.to_numeric(df['cam_tertiary_mp'])

In [ ]:
df['cam_tertiary_mp'].value_counts(dropna=False)

cam_tertiary_mp
NaN       639
2.00      334
50.00      63
12.00      62
8.00       49
5.00       31
48.00      28
0.08       19
10.00      13
13.00      10
0.07        6
200.00      5
10.50       2
0.30        2
32.00       2
3.00        2
10.80       1
Name: count, dtype: int64

In [ ]:
# List of camera columns
cam_cols = ['main_cam', 'main_cam2', 'main_cam3','main_cam4']

# Count non-NaN values across these columns
df['total_cam_count'] = df[cam_cols].notna().sum(axis=1)

In [ ]:
df['total_cam_count'].value_counts(dropna=False)

total_cam_count
2    583
3    583
1     54
4     48
Name: count, dtype: int64

In [ ]:
df[~df['main_cam4'].isnull()]['main_cam4']

238                                                                     2 MP, f/2.4, (Depth), 175 µm
439                 50 MP, f/2.0, 15mm  (Ultra-wide), 120°, 0.64 µm, 1/2.75", Multi-Directional PDAF
441                                                                   2 MP, f/2.4, (Monochrome), 88°
442                                                                   2 MP, f/2.4, (Monochrome), 88°
443                                                                   2 MP, f/2.4, (Monochrome), 88°
786                                                                        2 MP, f/2.4, 0mm  (Depth)
787                                                                        2 MP, f/2.4, 0mm  (Depth)
788                                                                             2 MP, f/2.4, (Depth)
836                                                                        2 MP, f/2.4, 0mm  (Depth)
837                                                                        2 MP, f/2.4, 0mm  (Depth)
838                                                                        2 MP, f/2.4, 0mm  (Depth)
842                                                                             2 MP, f/2.4, (Depth)
843                                                                             2 MP, f/2.4, (Depth)
844                                                                             2 MP, f/2.4, (Depth)
845                                                                        2 MP, f/2.4, 0mm  (Depth)
846                                                                        2 MP, f/2.4, 0mm  (Depth)
847                                                                             2 MP, f/2.4, (Depth)
877                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
878                                                                    2 MP, f/2.4, (Depth), 1.75 µm
879                                                               2 MP, f/2.4, 0mm  (Depth), 1.75 µm
880                                                                    2 MP, f/2.4, (Depth), 1.75 µm
881                                                                        2 MP, f/2.4, 0mm  (Depth)
882                                                                             2 MP, f/2.4, (Depth)
883                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
884                                                               5 MP, f/2.4, 0mm  (Depth), 1.12 µm
885                                                                        5 MP, f/2.4, 0mm  (Depth)
915                                                               2 MP, f/2.4, 0mm  (Depth), 0.64 µm
916                                                                    2 MP, f/2.4, (Depth), 0.64 µm
930                                                                    5 MP, f/2.4, (Depth), 1.12 µm
939                                                                             5 MP, f/2.4, (Depth)
992                                                                        2 MP, f/2.4, 0mm  (Macro)
993                                                                             2 MP, f/2.4, (Macro)
1002                                                                            2 MP, f/2.4, (Macro)
1003                                                                            2 MP, f/2.4, (Macro)
1015    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1016    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1022          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1023          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1024          12 MP, f/2.2, 13mm  (Ultra-wide), 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1034    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1035          12 MP, f/2.2, (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1036    12 MP, f/2.2, 13mm  (Ultra-wide), 120°, 1.4 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1045          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1046          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1047          50 MP, f/1.9, (Ultra-wide), 120°, 0.7 µm, 1/2.55", Dual Pixel PDAF, Super Steady Video
1181                                      8 MP, f/3.4, (Periscope), 1 µm, 5x Optical Zoom, OIS, PDAF
1262            50 MP, f/1.8, 12mm  (Ultra-wide), 122°, 0.7 µm, 1/2.51", Auto Focus, Dual Pixel PDAF
1264                       50 MP, f/2.2, 14mm  (Ultra-wide), 115°, 1.28 µm, 1/2.76", Dual Pixel PDAF
Name: main_cam4, dtype: object

In [ ]:
df['cam_fourth_mp'] = df['main_cam4'].str.split(',').str.get(0).str.split(' ').str.get(0)

In [ ]:
df['cam_fourth_mp'] = pd.to_numeric(df['cam_fourth_mp'])

In [ ]:
df['cam_fourth_mp'].value_counts(dropna=False)

cam_fourth_mp
NaN     1220
2.0       28
12.0       8
50.0       6
5.0        5
8.0        1
Name: count, dtype: int64

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 113 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
dtypes: category(12), datetime64[ns](1), float64(22), int64(28), object(50)
memory usage: 1019.6+ KB

In [ ]:
df['main_cam_features'].sample(50)

90                                                                                       Continuous Shooting, Digital Image Stabilization, HDR, LED Flash, Panorama, PDAF
345            Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse
91                                                                                       Continuous Shooting, Digital Image Stabilization, HDR, LED Flash, Panorama, PDAF
148                                                                                  HDR, Panorama, Portrait, Pro, Slow Motion, Super Macro, Time-Lapse, Triple LED Flash
799                                                                                                                                              HDR, LED Flash, Panorama
290                                                                                                                                            HDR, LED Flash, Night Mode
896                                                                                                                                                             LED Flash
929                                                                                                                                              HDR, LED Flash, Panorama
1224                                                                                                                        Auto Focus, Digital Zoom, LED Flash, Panorama
1122                                                                                                                                        Dual LED Flash, HDR, Panorama
749                                                                   Dual View, HDR, HIGH-RES, LED Flash, Movie, Night, Panorama, Portrait, Pro, Slow Motion, Time-Lapse
318                                                                                                                                              HDR, LED Flash, Panorama
177                                                                                                                             HDR, LED Flash, Night, Panorama, Pro Mode
137                                                                                                                                         Dual LED Flash, HDR, Panorama
1212                                                                                                                                                            LED flash
1168                                                                                        3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating
589                                                               HDR, HIGH-RES, LED Flash, Long Exposure, Movie, Night, Panorama, Portrait, Pro, Slow Motion, Time Lapse
991                                                                                                                                Digital Zoom, HDR, LED Flash, Panorama
55                                                                                      Auto Focus, DIS, HDR, LED Flash, Macro Mode, Night Mode, OIS, Panorama, PDAF, RAW
174                                                                                HDR, LED Flash, Long Exposure, Night, Panorama, Portrait, Pro, Slow Motion, Time Lapse
657                                                                                                         LED Flash, Night, Panorama, Portrait, Slow Motion, Time-lapse
745                                                                                                                                                   LED Flash, Panorama
1108                                                                                             LED Flash, Night Mode, Panorama, Portrait, Pro Mode, Slow-Mo, Time-Lapse
41                                                                                                            3D (spatial) Audio, Dual-LED Dual Tone Flash, HDR, Panorama
593                                                                                                                                      HDR, LED Flash, Panorama, ProXDR
1249                                                                                                                                        Dual LED Flash, HDR, Panorama
45      Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)
38                                                                                                                                Dual LED Dual Tone Flash, HDR, Panorama
302                                                                     Capture smiles, Filter, HDR, HIGH-RES, LED Flash, Night Vision, Panorama, Portrait Mode, Pro Mode
1043                                          Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF
1049                                                                                                                                             HDR, LED Flash, Panorama
1057                                                                                                                                             HDR, LED-Flash, Panorama
456                                                                                       Dual View, Hi-Res Mode, Night mode, Portrait, Pro mode, Slow Motion, Time Lapse
388                                                                                                  Dual View, HDR, LED Flash, Night, Panorama, Pro, Slow-Mo, Time-Lapse
14                                                                         Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode
827                                                                                                                                                        HDR, LED Flash
409                                                                                              Expert, HDR, LED Flash, Night, Panorama, Panoramic, Portrait, Time-Lapse
716                                                 HDR, LED Flash, Long Exposure, Movie, Night Mode, Panorama, Portrait Mode, Professional Mode, Slow Motion, Time-Lapse
1100                                                                                                                                             HDR, LED Flash, Panorama
1033                                                                                                                              Dual LED Dual Tone Flash, HDR, Panorama
738                                                                                                 Dual View, HDR, Hi-Res Mode, LED Flash, Panorama, Slow-Mo, Time Lapse
556                                                                HDR, LED flash, Movie, Night Mode, Panorama, Portrait Mode, Professional Mode, Slow Motion, Time-Lapse
966                                                                                                                                              HDR, LED Flash, Panorama
932                                                                     Auto Focus, Digital Image Stabilization, Digital Zoom, HDR, LED Flash, Movie frame, OIS, Panorama
586                                                                                                                    Auto Focus, Digital Zoom, HDR, LED Flash, Panorama
1198                                                                                                       LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Time-lapse
712                                       AI Scene Detection, Cinematic Bokeh, Digital Zoom, Filter, HDR, LED Flash, Panorama, Portrait Mode, Pro Mode, Professional Mode
898                                                                                                                                              HDR, LED Flash, Panorama
485                                                                                                                                                   Dual LED Flash, HDR
1092                                                                                       Dual View, HDR, LED Flash, Night, Panorama, Portrait, Pro, Slow-Mo, Time-Lapse
Name: main_cam_features, dtype: object

In [ ]:
# 1. Apple Premium Stack (LiDAR & Photonic)
df['is_apple_flagship_tech'] = df['main_cam_features'].str.contains('LiDAR|Photonic Engine', case=False, na=False).astype(int)

# 2. Advanced Focus & Optics (Zeiss & Laser AF)
df['has_laser_af'] = df['main_cam_features'].str.contains('Laser Auto Focus', case=False, na=False).astype(int)
df['has_zeiss_optics'] = df['main_cam_features'].str.contains(r'Zeiss Optics|Zeiss T\*', case=False, na=False).astype(int)

# 3. Stability & Professional Video (OIS & Cinematic/Movie)
df['has_pro_video_features'] = df['main_cam_features'].str.contains('Cinematic|Movie|Dual View', case=False, na=False).astype(int)

In [ ]:
df['is_apple_flagship_tech'].value_counts()

is_apple_flagship_tech
0    1240
1      28
Name: count, dtype: int64

In [ ]:
df['has_laser_af'].value_counts()

has_laser_af
0    1222
1      46
Name: count, dtype: int64

In [ ]:
df['has_zeiss_optics'].value_counts()

has_zeiss_optics
0    1234
1      34
Name: count, dtype: int64

In [ ]:
df['has_pro_video_features'].value_counts()

has_pro_video_features
0    1002
1     266
Name: count, dtype: int64

In [ ]:
df[df['has_zeiss_optics'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
1144,Vivo V30 Pro 5G (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1145,Vivo V30 Pro 5G,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics, Zeiss T* Lens Coating"
1148,Vivo V40 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1149,Vivo V40 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1150,Vivo V40 Pro (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1151,Vivo V40 Pro,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1152,Vivo V40,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Ring-LED Flash, Slow-Mo, Time-Lapse, Zeiss Optics"
1155,Vivo V50 (12GB + 512GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1156,Vivo V50 (8GB + 256GB),"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1157,Vivo V50,"Dual View, HDR, HIGH-RES, Micro, Movie, Night, Panorama, Portrait, Pro, Pro Mode, Quad-Rear LED Flash, Slow-Mo, Time-lapse, Zeiss Optics"
1159,Vivo V60 (12GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1160,Vivo V60 (16GB + 512GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1161,Vivo V60 (8GB + 256GB),"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1162,Vivo V60,"Dual View, Film Camera Mode, HDR, HIGH-RES, Micro, Movie, Night, panorama, Portrait, Pro, Ring-LED Flash, Slow-Mo, Time Lapse, Zeiss Optics"
1166,Vivo X Fold 5,"Dual LED Flash, HDR, Laser Auto Focus, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1167,Vivo X Fold3 Pro,"Dual LED Flash, HDR, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1168,Vivo X100 (16GB + 512GB),"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1169,Vivo X100 Pro,"3D LUT Support, HDR, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1170,Vivo X100,"3D LUT Support, HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1171,Vivo X200 (16GB + 512GB),"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1172,Vivo X200 FE (16GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1173,Vivo X200 FE,"HDR, Laser Auto Focus, LED Flash, Panorama, Zeiss Optics, Zeiss T* Lens Coating"
1174,Vivo X200 Pro,"3D LUT Support, HDR, HIGH-RES, Laser Auto Focus, LED Flash, Night, Panorama, Portrait, Portrait Photo & Video, Pro, Super Macro, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1175,Vivo X200,"HDR, HIGH-RES, Laser Auto Focus, LED Flash, Long Exposure, Night, Panorama, Portrait Photo & Video, Pro, Slow-Mo, Super Macro, Time-Lapse, Video Portrait, Zeiss Optics, Zeiss T* Lens Coating"
1176,Vivo X300 (12GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1177,Vivo X300 (16GB + 512GB),"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1178,Vivo X300 Pro,"3D LUT Import, Colour Spectrum sensor, HDR, Laser AF, LED Flash, Panorama, Zeiss optics, Zeiss T* lens coating"
1179,Vivo X300,"3D LUT Import, HDR, Laser AF, LED Flash, Panorama, Zeiss Optics, Zeiss T* lens Coating"
1180,Vivo X80 (12GB + 256GB),"Double Exposure, Dual LED Dual Tone Flash, Dual View, HDR, Laser AF, Panorama, Pixel Shift, Pro, Slow Motion, Time-Lapse, Zeiss Optics, Zeiss T* Lens Coating"
1181,vivo X80 Pro,"Double Exposure, Dual LED Dual Tone Flash, HDR, Laser AF, Long Exposure, Micro, Movie, Night, Panorama, Pixel Shift, Portrait, Pro, Slow Motion, Time Lapse, Zeiss Optics, Zeiss T* Lens Coating"

In [ ]:
df[df['is_apple_flagship_tech'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
14,Apple iPhone 15 (6GB + 256GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
15,Apple iPhone 15 (6GB + 512GB),"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
22,Apple iPhone 15 Pro Max (8GB + 1TB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
23,Apple iPhone 15 Pro Max (8GB + 512GB),"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
24,Apple iPhone 15 Pro Max,"ACES, Auto Focus, Continuous Auto Focus, Continuous Shooting, Dual LED Dual Tone Flash, Face Detection, Geotagging, HDR (photo/panorama), Panorama, PDAF, Photonic Engine, Scene Mode, Touch Focus"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
26,Apple iPhone 15,"Digital Zoom, Geotagging, HDR, LED Flash, Night Mode, Panorama, Photonic Engine, Portrait Mode"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"

In [ ]:
df[df['has_laser_af'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
19,Apple iPhone 15 Pro (8GB + 1TB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
20,Apple iPhone 15 Pro (8GB + 256GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
21,Apple iPhone 15 Pro (8GB + 512GB),"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
25,Apple iPhone 15 Pro,"Digital Zoom, Dual LED Flash, Geotagging, HDR (photo/panorama), Laser Auto Focus, Macro Mode, Night Mode, Panorama, Photonic Engine, TOF 3D LiDAR Scanner (Depth)"
29,Apple iPhone 16 Plus (8GB + 256GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
30,Apple iPhone 16 Plus (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
31,Apple iPhone 16 Plus,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
32,Apple iPhone 16 Pro (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
33,Apple iPhone 16 Pro (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
34,Apple iPhone 16 Pro Max (8GB + 1TB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
35,Apple iPhone 16 Pro Max (8GB + 512GB),"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
36,Apple iPhone 16 Pro Max,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
37,Apple iPhone 16 Pro,"Dual LED Dual Tone Flash, HDR (photo/panorama), Laser Auto Focus, Panorama"
63,Google Pixel 10 Pro Fold,"Laser Auto Focus, LED Flash, Panorama, Pixel Shift, Ultra-HDR"
64,Google Pixel 10 Pro XL,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
65,Google Pixel 10 Pro,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
66,Google Pixel 10,"Laser Auto Focus, LED Fash, Panorama, Pixel Shift, Ultra-HDR"
278,Motorola Edge 50 Pro (12GB + 256GB),"HDR, Laser Auto Focus, LED Flash, Panorama"
279,Motorola Edge 50 Pro,"HDR, Laser Auto Focus, LED Flash, Panorama"
280,Motorola Edge 50 Ultra,"Assistive Grid, Audio Zoom, Dual LED Flash, HDR, Laser Auto Focus, Leveler, Long Exposure, Macro, Night Vision, Panorama, Portrait, Pro, Slow Motion, Timelapse, Ultra HDR"
345,OnePlus 13R (16GB + 512GB),"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
346,OnePlus 13R,"Dual View, Filter, HDR, Hi-Res Mode, Laser Auto Focus, LED Flash, Long Exposure, Movie, Nightscape, Panorama, Portrait Mode, Pro Mode, Slow-Mo, Time-Lapse"
349,OnePlus 15 (16GB + 512GB),"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
350,OnePlus 15,"Color Spectrum Sensor, HDR, Laser Auto Focus, LED Flash, Panorama"
439,Oppo Find X8 Pro,"Colour Spectrum sensor, Hasselblad Colour Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
442,Oppo Find X9 Pro,"Color Spectrum Sensor, Hasselblad Color Calibration, HDR, Laser Auto Focus, LED Flash, Panorama"
1018,Samsung Galaxy S23 FE (8GB + 256GB),"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1019,Samsung Galaxy S23 FE,"Dual LED Dual Tone Flash, HDR, Laser Auto Focus, Panorama"
1043,Samsung Galaxy S25 Plus (12GB + 512GB),"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"
1044,Samsung Galaxy S25 Plus,"Adaptive VDIS, Auto Focus, Auto-HDR, Continuous Shooting, Expert RAW, HDR, Laser Auto Focus, LED Flash, OIS, Panorama, PDAF"

In [ ]:
df[df['has_pro_video_features'] == 1][['model','main_cam_features']].head(30)

,model,main_cam_features
0,Apple iPhone 14 (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
1,Apple iPhone 14 (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
2,Apple iPhone 14 Plus (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
3,Apple iPhone 14 Plus (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
4,Apple iPhone 14 Plus,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
5,Apple iPhone 14 Pro (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
6,Apple iPhone 14 Pro (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
7,Apple iPhone 14 Pro (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
8,Apple iPhone 14 Pro Max (6GB + 1TB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
9,Apple iPhone 14 Pro Max (6GB + 256GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
10,Apple iPhone 14 Pro Max (6GB + 512GB),"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
11,Apple iPhone 14 Pro Max,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
12,Apple iPhone 14 Pro,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF, TOF 3D LiDAR Scanner (Depth)"
13,Apple iPhone 14,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF"
42,Apple iPhone 17 (8GB + 512GB),"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
43,Apple iPhone 17 Pro (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
44,Apple iPhone 17 Pro (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
45,Apple iPhone 17 Pro Max (12GB + 1TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
46,Apple iPhone 17 Pro Max (12GB + 2TB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
47,Apple iPhone 17 Pro Max (12GB + 512GB),"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
48,Apple iPhone 17 Pro Max,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (Depth)"
49,Apple iPhone 17 Pro,"Action Mode, Audio Zoom, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Panorama, Slow Motion, Time-lapse, TOF 3D LiDAR Scanner (depth)"
50,Apple iPhone 17,"Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, Optical Zoom, Panorama, Portrait Mode, Slow Motion, Time-Lapse"
51,Apple iPhone Air (12GB + 1TB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
52,Apple iPhone Air (12GB + 512GB),"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
53,Apple iPhone Air,"3D (spatial) Audio, Action Mode, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, Night Mode, Panorama, Photonic Engine, Portrait, Slow-Mo, Time-lapse"
107,Infinix Hot 30 5G (4GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
108,Infinix Hot 30 5G (8GB + 128GB),"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
109,Infinix Hot 30 5G,"Dual View, HDR, Night Mode, Panorama, Portrait Mode, Quad LED Flash"
116,Infinix Hot 60i 5G,"Dual LED Flash, Dual View, HDR, Night, Panorama, PRO, Slow Motion, Time Lapse"

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 117 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
dtypes: category(12), datetime64[ns](1), float64(22), int64(32), object(50)
memory usage: 1.0+ MB

In [ ]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    661
1    607
Name: count, dtype: int64

In [ ]:
df['cam_has_ois'] = ((df['cam_has_ois'] == 1) | df['main_cam_features'].str.contains('OIS', case=False, na=False)).astype(int)

In [ ]:
df['cam_has_ois'].value_counts()

cam_has_ois
0    658
1    610
Name: count, dtype: int64

In [ ]:
df['main_video'].sample(20)

524                                                                                                                    1080p@30fps, 720p@30fps, Macro Video Recording, Slow Motion
494                                                                                                                                                        1080p@30fps, 720p@30fps
195                                                                                                                                                4K@30fps, 1080p@30fps, gyro-EIS
73                                                                                                               4K@30/60fps, 1080p@24/30/60/120/240fps, 10-bit HDR, gyro-EIS, OIS
243                                                                                                                                                          4K@30fps, 1080p@30fps
991                                                                                                                                                       1080p@30fps, Slow Motion
1031                                                                                                           8K@30fps, 4K@30/60/120fps, 1080p@30/60/120/240fps, 720p@960fps, HDR
522                                                                                                                                                                    1080p@30fps
197                                                                                                                                                4K@30fps, 1080p@30fps, gyro-EIS
37      4K@24/25/30/60/100/120fps, 1080p@25/30/60/120/240fps, 10-bit HDR, 3D (spatial) video/audio, Dolby Vision HDR (up to 60fps), ProRes Video Recording, Stereo Sound Recording
122                                                                                                                                                       1440p@30fps, 1080p@60fps
780                                                                                                                                  4K@30/60fps, 1080p@30/60fps, HDR, Slow Motion
486                                                                                                                                                                    1080p@30fps
396                                                                                                                                                                 1080p@30/60fps
1243                                                                                                                                               4K@30fps, 1080p@30fps, gyro-EIS
966                                                                                                                                        4K@30fps, 1080p@30/60fps, gyro-EIS, OIS
1094                                                                                                                                                                   1080p@30fps
393                                                                                                                                                   1080p@30fps, 720p@30fps, HDR
890                                                                                                                                                                    1080p@30fps
404                                                                                                                               1080p@30fps, 720p@30fps, Dual Video, Slow Motion
Name: main_video, dtype: object

In [ ]:
def get_max_resolution(text):
    if pd.isna(text):
      return 'Unknown'

    res_upper = text.upper()

    if '8K' in res_upper:
        return '8K'
    elif '4K' in res_upper:
        return '4K'
    elif '1440p' in res_upper:
        return '1440p'
    elif '1080P' in res_upper:
        return '1080p'
    elif '720P' in res_upper:
        return '720p'
    else:
        return 'Standard'

df['max_video_res'] = df['main_video'].apply(get_max_resolution).astype('category')

In [ ]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [ ]:
df['video_has_eis'] = df['main_video'].str.contains('EIS', case=True, na=False).astype(int)

In [ ]:
df['video_has_eis'].value_counts()

video_has_eis
0    726
1    542
Name: count, dtype: int64

In [ ]:
df['video_is_pro_grade'] = df['main_video'].str.contains(r'Dolby Vision|HDR10\+|10-bit', case=True, na=False).astype('int')

In [ ]:
df['video_is_pro_grade'].value_counts()

video_is_pro_grade
0    1093
1     175
Name: count, dtype: int64

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 120 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
dtypes: category(13), datetime64[ns](1), float64(22), int64(34), object(50)
memory usage: 1.1+ MB

In [ ]:
df['os'].sample(20)

535             Android 11, Poco MIUI
602             Android 14, Realme UI
305     Android 15, Motorola Hello UI
480               Android 12, ColorOS
729             Android 15, Realme UI
1248        Android 12, Vivo Funtouch
1224        Android 14, Vivo Funtouch
439               Android 15, ColorOS
503             Android 12, Poco MIUI
920                Android 15, One UI
988                Android 15, One UI
693             Android 12, Realme UI
448               Android 15, ColorOS
78         Android 14, Google Android
390               Android 14, ColorOS
876        Android 14, Xiaomi HyperOS
1043               Android 15, One UI
486          Android Go 13, Poco MIUI
1238        Android 11, Vivo Funtouch
867            Android 13, Redmi MIUI
Name: os, dtype: object

In [ ]:
df['os_type'] = df['os'].str.extract(r'(Android|iOS|google android)')[0].str.lower().astype('category')

In [ ]:
df['os_type'].value_counts(dropna=False)

os_type
android    1214
ios          54
Name: count, dtype: int64

In [ ]:
df['os_version_num'] = df['os'].str.extract(r'(\d+)').astype(float)

In [ ]:
df['os_version_num'].value_counts(dropna=False)

os_version_num
14.0    333
15.0    315
13.0    235
12.0    226
11.0     78
16.0     41
18.0     18
26.0     12
17.0     10
Name: count, dtype: int64

In [ ]:
df['is_android_go'] = df['os'].str.contains('Go', case=False, na=False).astype(int)

In [ ]:
df['is_android_go'].value_counts()

is_android_go
0    1229
1      39
Name: count, dtype: int64

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 123 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(23), int64(35), object(50)
memory usage: 1.1+ MB

In [ ]:
df['software_updates'].sample(20)

1                            5 year(s) of Software and Security updates
84      2 year(s) of Software updates and 1 year(s) of Security updates
604     2 year(s) of Software updates and 3 year(s) of Security updates
1258    3 year(s) of Software updates and 4 year(s) of Security updates
1128    2 year(s) of Software updates and 3 year(s) of Security updates
586     2 year(s) of Software updates and 3 year(s) of Security updates
274     2 year(s) of Software updates and 3 year(s) of Security updates
412     1 year(s) of Software updates and 2 year(s) of Security updates
627     2 year(s) of Software updates and 3 year(s) of Security updates
407     2 year(s) of Software updates and 3 year(s) of Security updates
546     3 year(s) of Software updates and 4 year(s) of Security updates
639     2 year(s) of Software updates and 3 year(s) of Security updates
561     2 year(s) of Software updates and 3 year(s) of Security updates
1024    4 year(s) of Software updates and 5 year(s) of Security updates
795                          2 year(s) of Software and Security updates
1142    3 year(s) of Software updates and 4 year(s) of Security updates
1250                         3 year(s) of Software and Security updates
282     3 year(s) of Software updates and 4 year(s) of Security updates
348     4 year(s) of Software updates and 6 year(s) of Security updates
569     2 year(s) of Software updates and 3 year(s) of Security updates
Name: software_updates, dtype: object

In [ ]:
def get_years(text, keyword):
    if pd.isna(text): return 0

    text = text.lower()

    combined_match = re.search(r'(\d+)\s*year.*?software\s*and\s*security', text)
    if combined_match:
        return float(combined_match.group(1))

    specific_match = re.search(r'(\d+)\s*year.*?' + keyword.lower(), text)
    if specific_match:
        return float(specific_match.group(1))

    return 0

df['os_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'software'))
df['security_update_years'] = df['software_updates'].apply(lambda x: get_years(x, 'security'))

In [ ]:
df['os_update_years'].value_counts(dropna=False)

os_update_years
2.0    540
3.0    256
4.0    145
1.0    102
7.0     78
0.0     65
5.0     44
6.0     38
Name: count, dtype: int64

In [ ]:
df['security_update_years'].value_counts(dropna=False)

security_update_years
2.0    554
3.0    262
4.0    145
1.0    107
7.0     78
5.0     44
0.0     40
6.0     38
Name: count, dtype: int64

In [ ]:
df[df['security_update_years'] == 0][['model','software_updates','security_update_years']].head(50)

,model,software_updates,security_update_years
111,Infinix Hot 30i (8GB + 128GB),NaN,0.0
112,Infinix Hot 30i,NaN,0.0
113,Infinix Hot 40i,NaN,0.0
134,Infinix Smart 10,NaN,0.0
228,Moto E13 (8GB + 128GB),NaN,0.0
229,Moto E13,NaN,0.0
250,Moto G54 Power (12GB + 256GB),NaN,0.0
251,Moto G54 Power,NaN,0.0
389,Oppo A3 Pro (8GB + 256GB),NaN,0.0
392,Oppo A3x 4G (4GB + 128GB),NaN,0.0
421,Oppo F27 5G (8GB + 256GB),NaN,0.0
423,Oppo F27 Pro Plus 5G (8GB + 256GB),NaN,0.0
430,Oppo F31 5G,NaN,0.0
431,Oppo F31 Pro (12GB + 256GB),NaN,0.0
432,Oppo F31 Pro (8GB + 256GB),NaN,0.0
435,Oppo F31 Pro,NaN,0.0
438,Oppo Find X8 (16GB + 512GB),NaN,0.0
475,Oppo Reno14 5G (12GB + 512GB),NaN,0.0
593,Realme 14 Pro Lite 5G (8GB + 256GB),NaN,0.0
636,Realme C31 (4GB + 64GB),NaN,0.0
642,Realme C51 (4GB + 128GB),NaN,0.0
643,Realme C51,NaN,0.0
668,Realme C75 5G (6GB + 128GB),NaN,0.0
669,Realme C75 5G,NaN,0.0
714,Realme Narzo 60X 5G (6GB + 128GB),NaN,0.0
715,Realme Narzo 60X 5G,NaN,0.0
767,Realme P3 Pro 5G (12GB + 256GB),NaN,0.0
768,Realme P3 Pro 5G (8GB + 256GB),NaN,0.0
799,Redmi 12C (6GB + 128GB),NaN,0.0
800,Redmi 12C,NaN,0.0
823,Redmi A3 (4GB + 128GB),NaN,0.0
824,Redmi A3 (6GB + 128GB),NaN,0.0
1090,Vivo T2x 5G,NaN,0.0
1187,Vivo Y02t,NaN,0.0
1188,Vivo Y100,NaN,0.0
1220,Vivo Y28 5G,NaN,0.0
1233,Vivo Y31 5G (6GB + 128GB),NaN,0.0
1234,Vivo Y31 5G,NaN,0.0
1239,Vivo Y36,NaN,0.0
1247,Vivo Y58 5G,NaN,0.0

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 125 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   object
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
dtypes: category(14), datetime64[ns](1), float64(25), int64(35), object(50)
memory usage: 1.1+ MB

In [ ]:
df['ai_features'].sample(30)

391                                                                                                                                          AI Camera
310                                                                                                                                                NaN
264                                                                                                           AI Wallpapers, Google Gemini integration
211                                                                                                                                                NaN
706                                                                                                                                          AI Camera
396                                                                                                                                                NaN
597                                                                                                                       AI Beauty, AI Eye Protection
243                                                                                                                                                NaN
628                                                                                                         AI Beauty, AI Camera, AI Scene recognition
779                                                                                                     AI Snap Mode, Hyper Clarity, Recording Summary
885                                                                                                                                                NaN
856                                                                                                                                                NaN
318                                                                                                                                 AI Smart Backlight
404                                                                               AI Clarity Enhancer, AI Eraser 2.0, AI Reflection Remover, AI Unblur
348     AI Assistant, AI Battery Life, AI Call Summary, AI Camera Editing, AI Display, AI Documents, AI Eraser 2.0, AI Frame Stabilization, AI Summary
9                                                                                                                                                  NaN
824                                                                                                                                                NaN
855                                                                                                                                                NaN
748                                                                                                                                          AI Camera
714                                                                                                                                                NaN
510                                                                                                                                        Beauty mode
118                                                                                                                                                NaN
136                                                                                                                                          AI Camera
108                                                                                                                                          AI Camera
554                                                                                                                                          AI Camera
526                                                                                                                                          AI Camera
534                                                                                    AI Magic Eraser Pro, AI Night Mode, AI Sky Replacement, AI Zoom
512                                                                                                                                                NaN
1247                                                                                                                                       AI Portrait
743                                                                                            AI Beauty, AI Camera, AI Portrait, AI Scene Recognition
Name: ai_features, dtype: object

In [ ]:
df['has_gen_ai'] = df['ai_features'].str.contains(r'Galaxy AI|Apple Intelligence|Circle|Eraser|Gemini|Assist|Generative|Summary|Writer|Interpreter|Reimage').astype(float)
df['has_gen_ai'] = df['has_gen_ai'].fillna(0).astype(int)

In [ ]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [ ]:
df['has_ai_camera'] = df['ai_features'].str.contains(r'AI Camera|AI Beauty|Scene recognition|AI HDR|Portrait').astype(float)
df['has_ai_camera'] = df['has_ai_camera'].fillna(0)

In [ ]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    876
1.0    392
Name: count, dtype: int64

In [ ]:
# Agar phone Gen-AI hai, toh Basic AI ko 0 kar do taaki overlap na ho
df.loc[df['has_gen_ai'] == 1, 'has_ai_camera'] = 0

In [ ]:
df['has_gen_ai'].value_counts(dropna=False)

has_gen_ai
0    941
1    327
Name: count, dtype: int64

In [ ]:
df['has_ai_camera'].value_counts(dropna=False)

has_ai_camera
0.0    940
1.0    328
Name: count, dtype: int64

In [ ]:
df['ai_feature_count'] = df['ai_features'].apply(lambda x: len(str(x).split(',')) if pd.notna(x) else 0)

In [ ]:
df['ai_feature_count'] = df['ai_feature_count'].astype(int)

In [ ]:
df['ai_feature_count'].value_counts(dropna=False)

ai_feature_count
0     488
1     333
3     122
4     110
2     103
5      56
7      24
6      13
9      10
8       5
11      3
10      1
Name: count, dtype: int64

In [ ]:
df[df['ai_feature_count'] == 6][['model','ai_features','has_gen_ai','has_ai_camera']]

,model,ai_features,has_gen_ai,has_ai_camera
170,iQOO Neo 10 (12GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
171,iQOO Neo 10 (16GB + 512GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
172,iQOO Neo 10 (8GB + 256GB),"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
182,iQOO Neo 10,"AI Cut Out, AI Eraser, AI Image Expander, AI Note Assist, Circle to Search, Live Call Translation",1,0.0
345,OnePlus 13R (16GB + 512GB),"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
346,OnePlus 13R,"AI Detail Boost, AI Reflection Eraser, AI Unblur, Circle to Search, Intelligent Search, OnePlus AI",1,0.0
649,Realme C55,"AI Beauty, AI Camera, AI HDR, AI Night Mode, AI Portrait, AI Scene Recognition",0,1.0
1038,Samsung Galaxy S25 (12GB + 512GB),"Browsing assist, Call assist, Chat assist, Interpreter, Note assist, Photo assist",1,0.0
1150,Vivo V40 Pro (12GB + 512GB),"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1151,Vivo V40 Pro,"AI 3D Studio Lighting, AI Aura Light Portrait, AI Camera, AI Erase, AI Neural Network Unit, AI Photo Enhance",0,1.0
1155,Vivo V50 (12GB + 512GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1156,Vivo V50 (8GB + 256GB),"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0
1157,Vivo V50,"AI Eraser 2.0, AI Image Studio, AI SuperLink, AI Transcript, Circle to Search, Live Call Translation",1,0.0

In [ ]:
df['cam_secondary_mp'] = pd.to_numeric(df['cam_secondary_mp'])

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 128 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(27), int64(37), object(49)
memory usage: 1.1+ MB

In [ ]:
df['front_cam'].sample(30)

596     32 MP, f/2.0, 21mm  (Wide), 90°, 0.8 µm, 1/2.74", Auto Focus
505              20 MP, f/2.2, 0mm  (Wide), 0.8 µm, 1/4", Auto Focus
65                       42 MP, f/2.2, 17mm  (Ultrawide), 103°, PDAF
880                                       8 MP, f/2.2, 26mm, 1.12 µm
1253                            16 MP, f/2.45, (Wide), 1 µm, 1/3.06"
1140                 50 MP, f/2.4, 22mm  (Wide), 1.12 µm, Auto Focus
342            32 MP, f/2.4, 21mm  (Wide), 0.8 µm, 1/2.74", Panorama
142                                                      8 MP, f/2.0
306                               16 MP, f/2.5, (Wide), 1 µm, 1/3.1"
253                                             16 MP, f/2.2, (Wide)
555                         16 MP, f/2.5, 25mm  (Wide-angle), 0.8 µm
1175                             32 MP, f/2.0, 20mm  (Wide), 1.12 µm
282                       32 MP, f/2.2, 0mm  (Wide), 0.7 µm, 1/3.14"
144                                              8 MP, f/2.0, (Wide)
978                                              8 MP, f/2.2, (Wide)
1166                         20 MP, f/2.4, 23mm  (Wide), 70°, 0.8 µm
201                                       16 MP, f/2.0, (Wide-angle)
222                         16 MP, f/2.45, 0mm  (Wide), 1 µm, 1/3.0"
1164               50 MP, f/2.0, 22mm  (Wide), 92°, 0.64 µm, 1/2.76"
115                                       8 MP, f/2.0, (Wide), 77.8°
847                              16 MP, f/2.4, (Wide), 1 µm, 1/3.06"
951                                          13 MP, f/2.0, 0mm, 1 µm
541                                                    13 MP, f/2.45
597     32 MP, f/2.0, 21mm  (Wide), 90°, 0.8 µm, 1/2.74", Auto Focus
901                             8 MP, f/2.0, (Wide), 1.12 µm, 1/4.0"
33                      12 MP, f/1.9, 23mm  (Depth), 1 µm, OIS, PDAF
226                                                8 MP, f/2.05, 0mm
404                                         5 MP, f/2.2, (Wide), 77°
1074                                            16 MP, f/2.0, (Wide)
1219                                             8 MP, f/2.0, (Wide)
Name: front_cam, dtype: object

In [ ]:
df['front_cam_mp'] = df['front_cam'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(float)

In [ ]:
df['front_cam_mp'].value_counts(dropna=False)

front_cam_mp
16.0    316
8.0     254
32.0    203
5.0     122
50.0    116
13.0     88
12.0     82
10.0     26
20.0     26
18.0     12
4.0       7
42.0      5
10.5      4
64.0      3
40.0      2
44.0      2
Name: count, dtype: int64

In [ ]:
df['is_front_af'] = (df['front_cam'].str.contains('Auto Focus|PDAF|AF') | df['front_cam_features'].str.contains('Auto Focus|PDAF|AF') | df['front_video'].str.contains('Auto Focus|PDAF|AF')).astype(int)

In [ ]:
df['is_front_af'].value_counts()

is_front_af
0    1045
1     223
Name: count, dtype: int64

In [ ]:
df['front_eis'] = (df['front_cam'].str.contains(r'EIS|gyro-EIS') | df['front_video'].str.contains(r'EIS|gyro-EIS') | df['front_cam_features'].str.contains(r'EIS|gyro-EIS')).astype(int)

In [ ]:
df['front_eis'].value_counts()

front_eis
0    995
1    273
Name: count, dtype: int64

In [ ]:
df['is_dual_front'] = df['front_cam2'].notna().astype(int)

In [ ]:
df['is_dual_front'].value_counts()

is_dual_front
0    1259
1       9
Name: count, dtype: int64

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 132 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(40), object(49)
memory usage: 1.2+ MB

In [ ]:
df['front_cam_features'].sample(30)

971                                                                                                                        NaN
17                                                                                    Auto Focus, Face Unlock, HDR, Night Mode
197                                                                                                                        NaN
1074                                                                             Face unlock, Night, Portrait, Pro, Time Lapse
779                                                                                                 Face Unlock, HDR, Portrait
662                                                                           Face Unlock, Night Mode, Panorama, Portrait Mode
471                                                                                                 Face Unlock, HDR, Panorama
94                                                                                                 Dual LED Flash, Face Unlock
509                                                              HdR, Night mode, Palm shutter, panorama, Portrait, Time Lapse
1046                                                       Auto Focus, Auto HDR, HDR10+, Laser Auto Focus, LED flash, panorama
1098                                                                                         Face Unlock, HDR, Night, Portrait
571                                   AI Beauty Mode, AI Scene Recognition, Face recognition, Filters, Panorama, Portrait Mode
1213                                                                                                                HDR Photos
767                                                                                                                Face Unlock
914                                                                                                                Face Unlock
1218                                                                             Face unlock, Night, Portrait, Pro, Time Lapse
462                                                                                                            Night, Portrait
622     Bokeh Effect Control, Face recognition, Face unlock, Filters, HdR, Night mode, panorama, Panoramic View, Portrait Mode
979                                                                                                   Face Unlock, Fixed Focus
1164                                                                                 Eye Auto Focus, Night mode, Portrait Mode
698            AI Beauty Mode, Bokeh Effect Control, Face recognition, Filters, HdR, Panoramic View, Portrait Mode, Time Lapse
139                                                                                                                Face Unlock
696            AI Beauty Mode, Bokeh Effect Control, Face recognition, Filters, HdR, Panoramic View, Portrait Mode, Time Lapse
1132                                                                                                                Auto Focus
125                                                                                      Dual Video, Portrait, Pro, Time Lapse
579                                                   Dual Video, Face Unlock, Night Mode, Panorama, Portrait Mode, Time-lapse
137                                                                                                                        NaN
491                                                                              Face Unlock, HDR, Palm Shutter, Portrait Mode
1009                                                                                                               Face Unlock
955                                                                                                                Face Unlock
Name: front_cam_features, dtype: object

In [ ]:
df['has_front_pro_features'] = (df['front_cam_features'].str.contains(r'Dual-view Video|Dual Video|Cinematic|Time-lapse|Pro|Dolby Vision|HDR10\+|Eye Auto Focus|Eye AF|ProRes|3D \(spatial\)', case=False, na=False) |
                                df['front_video'].str.contains(r'Dual-view Video|Dual Video|Cinematic|Time-lapse|Pro|Dolby Vision|HDR10\+|Eye Auto Focus|Eye AF|ProRes|3D \(spatial\)', case=False, na=False)).astype(int)

In [ ]:
df['has_front_pro_features'].value_counts()

has_front_pro_features
0    967
1    301
Name: count, dtype: int64

In [ ]:
df['has_front_flash'] = df['front_cam_features'].str.contains('Flash', case=False, na=False).astype(int)

In [ ]:
df['has_front_flash'].value_counts()

has_front_flash
0    1191
1      77
Name: count, dtype: int64

In [ ]:
df['is_zeiss_front'] = (df['front_cam_features'].str.contains('Zeiss',case=False, na=False) | df['front_video'].str.contains('Zeiss',case=False, na=False)).astype(int)

In [ ]:
df['is_zeiss_front'].value_counts()

is_zeiss_front
0    1256
1      12
Name: count, dtype: int64

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 135 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
dtypes: category(14), datetime64[ns](1), float64(28), int64(43), object(49)
memory usage: 1.2+ MB

In [ ]:
df['front_video'].sample(30)

20         1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS, ProRes Video Recording
1258                                   1080p@30/60fps, 720@30fps, 720p@120fps, HDR10+
405                                                            Dual Video, Time Lapse
1146                                                            1080p@30fps, 4K@30fps
678                                                                    1080p@30/60fps
98                                                                                NaN
315                                                                       1080p@60fps
333                                                          1080p@30/60fps, gyro-EIS
1149                                                            1080p@30fps, 4K@30fps
1053                                                                   1080p@30/60fps
610                                                                  4k@30/60fps, EIS
925                                                                       1080p@30fps
137                                                                        720p@30fps
117                                                                       1440p@30fps
659                                                           1080p@30fps, 720p@30fps
1010                                                               1080p@30/60/240fps
13                                 1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS
274                                                                   1080p@30/120fps
174                                                                   1080p, gyro-EIS
495                                                                       1080p@30fps
16      1080p@25/30/60/120fps, 4K@24/25/30/60fps, Cinematic Mode (4k@30fps), gyro-EIS
538                                                                       1080p@30fps
1002                                                            1080p@30fps, 4K@30fps
252                                                                          1080p@30
613                                                                        1080@30fps
1201                                                            1080@30fps, Supported
1039                                                         1080p@30/60fps, gyro-EIS
554                                                                       1080p@30fps
90                                                                        1080p@30fps
100                                                                       1080p@30fps
Name: front_video, dtype: object

In [ ]:
df['max_video_res'].value_counts()

max_video_res
4K          579
1080p       531
8K          112
Unknown      29
Standard     17
Name: count, dtype: int64

In [ ]:
def max_front_video_res(text):

  if pd.isna(text):
    return 'unknown'

  t = text.lower()

  if '8k' in t:
        return '8K'
  elif '4k' in t:
      return '4K'
  elif '1080p' in t or '1080' in t:
      return '1080p'
  else:
      return 'standard'

df['max_front_video_res'] = df['front_video'].apply(max_front_video_res).astype('category')

In [ ]:
df['max_front_video_res'].value_counts()

max_front_video_res
1080p       910
4K          206
standard    110
unknown      39
8K            3
Name: count, dtype: int64

In [ ]:
df[['model','front_video','max_front_video_res']].sample(20)

,model,front_video,max_front_video_res
361,OnePlus Nord 4,"1080p@30fps, 720p@30fps",1080p
983,Samsung Galaxy M15 5G (6GB + 128GB),1080p@30fps,1080p
1264,Xiaomi 15 Ultra,"1080p@30/60fps, gyro-EIS",1080p
899,Samsung Galaxy A06 5G,1080p@30fps,1080p
425,Oppo F29 5G (8GB + 256GB),NaN,unknown
488,Poco C55 (6GB + 128GB),1080p@30fps,1080p
134,Infinix Smart 10,"1080p@30 fps, 1440p@30fps",1080p
753,Realme P1 5G,1080p@30fps,1080p
1267,Xiaomi Poco F5,"1080p@30/60fps, gyro-EIS",1080p
475,Oppo Reno14 5G (12GB + 512GB),"1080p@30/60fps, 4k@30/60fps, gyro-EIS",4K
1155,Vivo V50 (12GB + 512GB),"1080p@30fps, 4K@30fps",4K
1002,Samsung Galaxy M53 5G (8GB + 128GB),"1080p@30fps, 4K@30fps",4K
317,Nothing Phone (3a) (8GB + 256GB),1080p@30 fps,1080p
323,Nothing Phone (3a),1080p@30 fps,1080p
1169,Vivo X100 Pro,1080p@30/60fps,1080p
1238,Vivo Y35,1080p@30fps,1080p
948,Samsung Galaxy F14 5G (6GB + 128GB),1080p@30fps,1080p
1097,Vivo T3 Ultra (12GB + 256GB),"1080p@30fps, 4K@30/60fps",4K
164,iQOO 9 Pro,"1080p@30fps, gyro-EIS",1080p
1179,Vivo X300,"1080p@30/60fps, 4k@30/60fps",4K

In [ ]:
df['battery'].sample(20)

207                     4700 mAh, (Non-removable)
372     5500 mAh, Lithium Polymer (Non-removable)
1077        5000 mAh, Lithium Ion (Non-removable)
656     5000 mAh, Lithium Polymer (Non-removable)
3           4323 mAh, Lithium Ion (Non-removable)
1164        6500 mAh, Lithium Ion (Non-removable)
1215        5000 mAh, Lithium Ion (Non-removable)
183     5160 mAh, Lithium Polymer (Non-removable)
539     5000 mAh, Lithium Polymer (Non-removable)
1099        5500 mAh, Lithium Ion (Non-removable)
256     6000 mAh, Lithium Polymer (Non-removable)
178     5000 mAh, Lithium Polymer (Non-removable)
277     4310 mAh, Lithium Polymer (Non-removable)
877     5000 mAh, Lithium Polymer (Non-removable)
320         5000 mAh, Lithium Ion (Non-removable)
94      5000 mAh, Lithium Polymer (Non-removable)
48          4832 mAh, Lithium Ion (Non-removable)
931     5000 mAh, Lithium Polymer (Non-removable)
371     5000 mAh, Lithium Polymer (Non-removable)
251     6000 mAh, Lithium Polymer (Non-removable)
Name: battery, dtype: object

In [ ]:
df['battery_mah'] = df['battery'].str.split(',').str.get(0).str.strip().str.split(' ').str.get(0).astype(int)

In [ ]:
df['battery_mah'].value_counts(dropna=False)

battery_mah
5000    598
6000    137
5500     68
7000     60
4500     51
       ...
4230      1
6510      1
4820      1
5410      1
5240      1
Name: count, Length: 87, dtype: int64

In [ ]:
df['battery_mah'].describe()

count    1268.000000
mean     5222.625394
std       741.887845
min      3149.000000
25%      5000.000000
50%      5000.000000
75%      5500.000000
max      7550.000000
Name: battery_mah, dtype: float64

In [ ]:
def battery_type(text):

  t = text.lower()

  if 'lithium polymer' in t:
    return 'lithium polymer'

  if 'lithium ion' in t:
    return 'lithium ion'

  if 'silicon carbon' in t:
    return 'silicon carbon'

  if 'semi-solid state' in t:
    return 'semi solid state'

  return 'unknown'

df['battery_type'] = df['battery'].apply(battery_type)

In [ ]:
df.loc[[1056,1057], 'battery_type'] = 'lithium polymer'

In [ ]:
df.loc[df['battery_type'] == 'unknown','battery_type'] = 'lithium polymer'
df.loc[df['battery_type'] == 'semi solid state','battery_type'] = 'lithium polymer'

In [ ]:
df['battery_type'].value_counts()

battery_type
lithium polymer    850
lithium ion        321
silicon carbon      97
Name: count, dtype: int64

In [ ]:
df['battery_type'] = df['battery_type'].astype('category')

In [ ]:
df.info(verbose=True , show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 138 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
 135  max_front_video_res          1268 non-null   category
 136  battery_mah                  1268 non-null   int64
 137  battery_type                 1268 non-null   category
dtypes: category(16), datetime64[ns](1), float64(28), int64(44), object(49)
memory usage: 1.2+ MB

In [ ]:
df['charging'].sample(30)

515                                                                                           33W (wired)100% in 60min (wired) (advertised)
481                                                         67W (wired), Reverse Wired Charging Supported100% in 44min (wired) (advertised)
530                                                                                           33W (wired), Reverse Wired Charging Supported
170                                                                                          120W (wired), Reverse Wired Charging Supported
75                                                                                                             18W (wired), 7.5W (wireless)
796                                                                                                                             18W (wired)
1111                                                                                          90W (wired), Reverse Wired Charging Supported
484                                                                                                                             10W (wired)
610                                                                                           80W (wired)100% in 61min (wired) (advertised)
580                                                          45W (wired), Reverse Wired Charging Supported50% in 30min (wired) (advertised)
38                                30W (wired), 25W (wireless), 4.5W (reverse wired), MAGSAFE, PD2.0, Qi2, 50% in 30min (wired) (advertised)
319                                                                                    33W (wired), 5W (reverse wired)100% in 60min (wired)
838                                                                                   67W (wired), PD3.0, 51% in 15min (wired) (advertised)
262                                                                                                                             33W (wired)
106                                                                                                         18W (wired), 5W (reverse wired)
497                                                                                                                             18W (wired)
870                                                                                                                             45W (wired)
471                                                                                     67W (wired), PD, 100% in 45min (wired) (advertised)
846                                                                                           33W (wired)100% in 58min (wired) (advertised)
966                                                                                                                             45W (wired)
703                                                                                            33W (wired)50% in 31min (wired) (advertised)
1259          120W (wired), 50W (wireless), 10W (reverse wireless)100% in 19min (wired) (advertised), 100% in 36min (wireless) (advertised)
148                               45W (wired), 20W (wireless), 10W (reverse wireless), 10W (reverse wired)60% in 25min (wired) (advertised)
632                                                                                                                             10W (wired)
1170                                                        120W (wired), Reverse Wired Charging Supported50% in 11min (wired) (advertised)
634                                                                                                                             10W (wired)
1006                                                                                           45W (wired)70% in 30min (wired) (advertised)
1184    120W (wired), 50W (wireless), Reverse Wireless Charging Supported, Reverse Wired Charging Supported50% in 8min (wired) (advertised)
614                                                                                                        60W (wired), 10W (reverse wired)
769                                                                                            80W (wired)50% in 24min (wired) (advertised)
Name: charging, dtype: object

In [ ]:
df['charging_watts'] = df['charging'].str.split(',').str.get(0).str.split(' ').str.get(0).str.replace('W','').astype(float)

In [ ]:
df['charging_watts'].value_counts(dropna=False)

charging_watts
45.0     155
80.0     140
25.0     137
33.0     129
18.0     103
15.0      75
44.0      72
10.0      71
67.0      67
120.0     62
90.0      52
20.0      38
30.0      33
100.0     30
66.0      21
68.0      17
65.0      16
60.0      11
40.0       9
50.0       7
125.0      5
27.0       3
150.0      3
35.0       3
23.0       2
37.0       2
22.5       2
29.0       1
70.0       1
180.0      1
Name: count, dtype: int64

In [ ]:
df['charging_watts'].describe()

count    1268.000000
mean       47.894322
std        30.613064
min        10.000000
25%        25.000000
50%        44.000000
75%        67.000000
max       180.000000
Name: charging_watts, dtype: float64

In [ ]:
df['wireless_watts'] = df['charging'].str.extract(r'(\d+)W\s*\(wireless\)').astype(float)

In [ ]:
df['wireless_watts'].value_counts(dropna=False)

wireless_watts
NaN     1078
15.0      85
50.0      42
25.0      18
5.0       10
20.0       9
40.0       7
23.0       5
30.0       4
22.0       3
18.0       2
66.0       2
80.0       2
21.0       1
Name: count, dtype: int64

In [ ]:
df['wireless_watts'].describe()

count    190.000000
mean      26.236842
std       16.253993
min        5.000000
25%       15.000000
50%       16.500000
75%       40.000000
max       80.000000
Name: wireless_watts, dtype: float64

In [ ]:
df['has_wireless'] = df['charging'].str.contains('wireless').astype(int)

In [ ]:
df['has_wireless'].value_counts()

has_wireless
0    1068
1     200
Name: count, dtype: int64

In [ ]:
df['has_reverse_charging'] = df['charging'].str.contains('reverse',).astype(int)

In [ ]:
df['has_reverse_charging'].value_counts()

has_reverse_charging
0    1052
1     216
Name: count, dtype: int64

In [ ]:
df['wired_full_charge_time'] = df['charging'].str.extract(r'100% in\s*(\d+)\s*min.*?\(wired\)').astype(float)

In [ ]:
df['wired_full_charge_time'].value_counts(dropna=False)

wired_full_charge_time
NaN      1058
60.0       21
46.0       12
44.0       10
42.0       10
56.0        8
26.0        8
35.0        8
45.0        8
32.0        7
90.0        7
61.0        7
40.0        6
19.0        6
48.0        6
70.0        5
55.0        5
29.0        4
28.0        4
38.0        4
41.0        4
25.0        4
18.0        4
31.0        4
58.0        3
79.0        3
33.0        3
30.0        3
17.0        3
43.0        3
0.0         3
47.0        3
15.0        2
108.0       2
75.0        2
145.0       2
54.0        2
52.0        2
69.0        2
57.0        2
80.0        2
12.0        1
49.0        1
100.0       1
63.0        1
71.0        1
139.0       1
Name: count, dtype: int64

In [ ]:
df[df['wired_full_charge_time'] == 145][['model','charging']]

                       model                           charging
1197  Vivo Y18 (4GB + 128GB)  15W (wired)100% in 145min (wired)
1198                Vivo Y18  15W (wired)100% in 145min (wired)

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 143 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
 135  max_front_video_res          1268 non-null   category
 136  battery_mah                  1268 non-null   int64
 137  battery_type                 1268 non-null   category
 138  charging_watts               1268 non-null   float64
 139  wireless_watts               190 non-null    float64
 140  has_wireless                 1268 non-null   int64
 141  has_reverse_charging         1268 non-null   int64
 142  wired_full_charge_time       210 non-null    float64
dtypes: category(16), datetime64[ns](1), float64(31), int64(46), object(49)
memory usage: 1.3+ MB

In [ ]:
df['storage'].sample(30)

575     256GB, UFS 3.1
372     256GB, UFS 3.1
222     256GB, UFS 2.2
583     256GB, UFS 3.1
714     128GB, UFS 2.2
168     256GB, UFS 3.1
1160    512GB, UFS 2.2
1035    512GB, UFS 4.0
659     128GB, UFS 2.2
184     256GB, UFS 4.0
34           1TB, NvMe
177     128GB, UFS 3.1
629      64GB, UFS 2.2
602     128GB, UFS 2.2
864     512GB, UFS 3.1
666     128GB, UFS 2.2
395     64GB, eMMC 5.1
994     128GB, UFS 2.2
938     128GB, UFS 3.1
881     128GB, UFS 2.1
1095    256GB, UFS 2.2
193     256GB, UFS 2.2
667      64GB, UFS 2.2
483     32GB, eMMC 5.1
926     128GB, UFS 2.2
542     256GB, UFS 2.2
687     512GB, UFS 4.1
778     256GB, UFS 3.1
1248    128GB, UFS 2.2
997     128GB, UFS 2.2
Name: storage, dtype: object

In [ ]:
df['storage_gb'] = df['storage'].str.split(',').str.get(0).str.replace('GB','')

In [ ]:
df['storage_gb'] = df['storage_gb'].str.replace('1TB','1024')
df['storage_gb'] = df['storage_gb'].str.replace('2TB','2048')
df['storage_gb'] = df['storage_gb'].astype(int)

In [ ]:
df['storage_gb'].value_counts(dropna=False)

storage_gb
128     588
256     403
64      133
512     110
1024     17
32       16
2048      1
Name: count, dtype: int64

In [ ]:
df['storage_type'] = df['storage'].str.split(',').str.get(1).str.strip()

In [ ]:
df['storage_type'].value_counts(dropna=False)

storage_type
UFS 2.2     527
UFS 3.1     314
eMMC 5.1    153
UFS 4.0     132
NvMe         52
UFS 2.1      39
UFS 4.1      27
UFS          13
NaN           5
UFS 2.0       3
UFS 3.2       2
uMCP          1
Name: count, dtype: int64

In [ ]:
# 1. Mapping logic to simplify versions
storage_map = {
    'UFS 4.1': 'UFS 4.0',
    'UFS 4.0': 'UFS 4.0',
    'UFS 3.2': 'UFS 3.1',
    'UFS 3.1': 'UFS 3.1',
    'UFS 2.2': 'UFS 2.x',
    'UFS 2.1': 'UFS 2.x',
    'UFS 2.0': 'UFS 2.x',
    'eMMC 5.1': 'eMMC',
    'NvMe': 'NVMe',
    'uMCP': 'UFS 2.x', # uMCP usually mid-range, maps closest to UFS 2.x performance
    'UFS': 'UFS'
}

df['storage_type'] = df['storage_type'].replace(storage_map)

# 2. Handling 5 NaNs based on Brand or Price (Simple Fill for now)
df['storage_type'] = df['storage_type'].fillna('UFS')

In [ ]:
df['storage_type'] = df['storage_type'].astype('category')

In [ ]:
df['storage_type'].value_counts(dropna=False)

storage_type
UFS 2.x    570
UFS 3.1    316
UFS 4.0    159
eMMC       153
NVMe        52
UFS         18
Name: count, dtype: int64

In [ ]:
df['ram'].sample(20)

1049     8GB, LPDDR4X
526      8GB, LPDDR4X
1159    12GB, LPDDR4X
1125     8GB, LPDDR4X
332      8GB, LPDDR5X
237      4GB, LPDDR4X
155      8GB, LPDDR5X
886      4GB, LPDDR4X
142      3GB, LPDDR4X
951      8GB, LPDDR4X
1045    12GB, LPDDR5X
181       8GB, LPDDR5
668               6GB
1082     6GB, LPDDR4X
981      6GB, LPDDR4X
581      8GB, LPDDR4X
9         6GB, LPDDR5
500      8GB, LPDDR4X
447      6GB, LPDDR4x
1025     8GB, LPDDR5X
Name: ram, dtype: object

In [ ]:
df['ram_gb'] = df['ram'].str.split(',').str.get(0).str.replace('GB','').astype(int)

In [ ]:
df['ram_gb'].value_counts(dropna=False)

ram_gb
8     532
12    233
4     216
6     207
16     49
3      19
2       9
18      2
24      1
Name: count, dtype: int64

In [ ]:
df['ram_type'] = df['ram'].str.lower().str.split(',').str.get(1).str.strip()

In [ ]:
df['ram_type'] = df['ram_type'].str.replace('lpddr3x','lpddr3')
df['ram_type'] = df['ram_type'].str.replace('lpddr5x ultra','lpddr5x')
df['ram_type'] = df['ram_type'].fillna('lpddr4x')

In [ ]:
df['ram_type'] = df['ram_type'].astype('category')

In [ ]:
df['ram_type'].value_counts(dropna=False)

ram_type
lpddr4x    815
lpddr5x    251
lpddr5     153
lpddr3      27
lpddr4      22
Name: count, dtype: int64

In [ ]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 147 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    model_id                     1268 non-null   int64
 1    model                        1268 non-null   object
 2    expert_rating                1268 non-null   int64
 3    rating                       1268 non-null   float64
 4    rating_count                 994 non-null    float64
 5    launch_on                    1268 non-null   datetime64[ns]
 6    old_price                    844 non-null    float64
 7    price                        1268 non-null   int64
 8    launch_price                 1268 non-null   int64
 9    display_type                 1268 non-null   object
 10   display_size                 1268 non-null   object
 11   display_res                  1268 non-null   object
 12   body_dimension               1268 non-null   object
 13   weight                       1268 non-null   object
 14   body_front                   1268 non-null   object
 15   body_back                    1238 non-null   object
 16   body_side                    1251 non-null   object
 17   build_quality                739 non-null    object
 18   ports                        1268 non-null   object
 19   ip_rating                    915 non-null    object
 20   speaker                      1265 non-null   object
 21   chipset                      1268 non-null   object
 22   cpu                          1268 non-null   object
 23   gpu                          1250 non-null   object
 24   main_cam                     1268 non-null   object
 25   main_cam2                    1214 non-null   object
 26   main_cam3                    631 non-null    object
 27   main_cam_features            1268 non-null   object
 28   main_video                   1239 non-null   object
 29   os                           1268 non-null   object
 30   software_updates             1228 non-null   object
 31   ai_features                  780 non-null    object
 32   front_cam                    1268 non-null   object
 33   front_cam_features           1026 non-null   object
 34   front_video                  1229 non-null   object
 35   battery                      1268 non-null   object
 36   charging                     1268 non-null   object
 37   storage                      1268 non-null   object
 38   ram                          1268 non-null   object
 39   sim                          1264 non-null   object
 40   tech                         1200 non-null   object
 41   2g                           1262 non-null   object
 42   3g                           1264 non-null   object
 43   4g                           1267 non-null   object
 44   5g                           1028 non-null   object
 45   speed                        1264 non-null   object
 46   wifi                         1268 non-null   object
 47   bluetooth                    1266 non-null   object
 48   positioning_system           1268 non-null   object
 49   nfc                          595 non-null    object
 50   finger_print                 1192 non-null   object
 51   sensors                      1268 non-null   object
 52   add_features                 469 non-null    object
 53   main_cam4                    48 non-null     object
 54   front_cam2                   9 non-null      object
 55   brand                        1268 non-null   category
 56   is_available                 1268 non-null   int64
 57   is_flipkart_available        1268 non-null   int64
 58   is_amazon_available          1268 non-null   int64
 59   is_official_available        1268 non-null   int64
 60   display_panel_type           1268 non-null   object
 61   display_panel_family         1268 non-null   category
 62   display_hz                   1268 non-null   int64
 63   display_dynamic_range        1268 non-null   category
 64   touch_sampling_rate          852 non-null    float64
 65   has_ltpo                     1268 non-null   int64
 66   has_anti_reflection_coating  1268 non-null   int64
 67   display_inches               1268 non-null   float64
 68   display_body_ratio           1036 non-null   float64
 69   has_curved                   1268 non-null   int64
 70   has_foldable                 1268 non-null   int64
 71   res_category                 1268 non-null   category
 72   res_width                    1268 non-null   int64
 73   res_height                   1268 non-null   int64
 74   aspect_ration_numeric        1185 non-null   float64
 75   display_ppi                  1268 non-null   float64
 76   color_depth                  1268 non-null   float64
 77   peak_brightness              1206 non-null   float64
 78   has_high_contrast            1268 non-null   int64
 79   height_mm                    1268 non-null   float64
 80   width_mm                     1268 non-null   float64
 81   thickness_mm                 1268 non-null   float64
 82   weight_g                     1268 non-null   float64
 83   front_potection              1268 non-null   category
 84   back_material                1268 non-null   category
 85   frame_material               1268 non-null   category
 86   durability_cert              1268 non-null   category
 87   has_3_5mm_jack               1268 non-null   int64
 88   usb_type                     1268 non-null   category
 89   usb_version                  1268 non-null   float64
 90   has_otg                      1268 non-null   int64
 91   has_ir_blaster               1268 non-null   int64
 92   water_resistance_level       1268 non-null   category
 93   has_stereo_speakers          1268 non-null   int64
 94   has_audio_certification      1268 non-null   int64
 95   processor_brand              1268 non-null   category
 96   chipset_brand                1266 non-null   object
 97   chipset_nm                   1258 non-null   float64
 98   antutu_score                 1237 non-null   float64
 99   cpu_core_count               1268 non-null   int64
 100  cpu_max_ghz                  1261 non-null   float64
 101  gpu_brand                    1249 non-null   category
 102  cam_primary_mp               1268 non-null   int64
 103  cam_aperture                 1262 non-null   float64
 104  cam_has_ois                  1268 non-null   int64
 105  cam_sensor_size              722 non-null    float64
 106  cam_secondary_mp             1214 non-null   float64
 107  has_telephoto                1268 non-null   int64
 108  has_periscope                1268 non-null   int64
 109  cam_optical_zoom             1268 non-null   int64
 110  cam_tertiary_mp              629 non-null    float64
 111  total_cam_count              1268 non-null   int64
 112  cam_fourth_mp                48 non-null     float64
 113  is_apple_flagship_tech       1268 non-null   int64
 114  has_laser_af                 1268 non-null   int64
 115  has_zeiss_optics             1268 non-null   int64
 116  has_pro_video_features       1268 non-null   int64
 117  max_video_res                1268 non-null   category
 118  video_has_eis                1268 non-null   int64
 119  video_is_pro_grade           1268 non-null   int64
 120  os_type                      1268 non-null   category
 121  os_version_num               1268 non-null   float64
 122  is_android_go                1268 non-null   int64
 123  os_update_years              1268 non-null   float64
 124  security_update_years        1268 non-null   float64
 125  has_gen_ai                   1268 non-null   int64
 126  has_ai_camera                1268 non-null   float64
 127  ai_feature_count             1268 non-null   int64
 128  front_cam_mp                 1268 non-null   float64
 129  is_front_af                  1268 non-null   int64
 130  front_eis                    1268 non-null   int64
 131  is_dual_front                1268 non-null   int64
 132  has_front_pro_features       1268 non-null   int64
 133  has_front_flash              1268 non-null   int64
 134  is_zeiss_front               1268 non-null   int64
 135  max_front_video_res          1268 non-null   category
 136  battery_mah                  1268 non-null   int64
 137  battery_type                 1268 non-null   category
 138  charging_watts               1268 non-null   float64
 139  wireless_watts               190 non-null    float64
 140  has_wireless                 1268 non-null   int64
 141  has_reverse_charging         1268 non-null   int64
 142  wired_full_charge_time       210 non-null    float64
 143  storage_gb                   1268 non-null   int64
 144  storage_type                 1268 non-null   category
 145  ram_gb                       1268 non-null   int64
 146  ram_type                     1268 non-null   category
dtypes: category(18), datetime64[ns](1), float64(31), int64(48), object(49)
memory usage: 1.3+ MB

In [4395]:
df['sim'].sample(20)

620               Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
628                      Dual SIM (nano-SIM; dual stand-by)
910               Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
557                      Dual SIM (nano-SIM, dual stand-by)
185                      Dual SIM (nano-SIM, dual stand-by)
373               Hybrid Dual SIM (nano-SIM, dual stand-by)
71                 Dual SIM (nano-SIM, eSIM, dual stand-by)
991     Hybrid Dual SIM (2 Nano SIMs, 1 Nano SIM+1 microSD)
470                      Dual SIM (nano-SIM, dual stand-by)
880               Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
239               Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
12                               Dual SIM (nano-SIM & eSIM)
1197              Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
104                      Dual SIM (nano-SIM, dual stand-by)
1117                Dual nano-SIM (nano-SIM, dual stand-by)
295               Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
962                      Dual SIM (nano-SIM, dual stand-by)
816               Hybrid Dual SIM (2 Nano SIMs + 1 microSD)
197                      Dual SIM (nano-SIM, dual stand-by)
1065                             Dual SIM (nano-SIM & eSIM)
Name: sim, dtype: object

In [4396]:
df['has_esim'] = df['sim'].str.contains('eSIM').astype(float)

In [4397]:
df['has_esim'].value_counts()

has_esim
0.0    1110
1.0     154
Name: count, dtype: int64

In [4398]:
df['is_hybrid_slot'] = df['sim'].str.contains('Hybrid').astype(float)

In [4399]:
df['is_hybrid_slot'].value_counts()

is_hybrid_slot
0.0    911
1.0    353
Name: count, dtype: int64

In [4403]:
df['is_dual_sim'] = df['sim'].str.contains(r'Dual|dual').astype(float)

In [4404]:
df['is_dual_sim'].value_counts()

is_dual_sim
1.0    1254
0.0      10
Name: count, dtype: int64

In [4405]:
df[df['is_dual_sim'] == 0][['model','sim']]

                                     model                         sim
0            Apple iPhone 14 (6GB + 256GB)           nano-SIM and eSIM
1            Apple iPhone 14 (6GB + 512GB)           nano-SIM and eSIM
8      Apple iPhone 14 Pro Max (6GB + 1TB)           nano-SIM and eSIM
9    Apple iPhone 14 Pro Max (6GB + 256GB)           nano-SIM and eSIM
10   Apple iPhone 14 Pro Max (6GB + 512GB)           nano-SIM and eSIM
11                 Apple iPhone 14 Pro Max           nano-SIM and eSIM
13                         Apple iPhone 14           nano-SIM and eSIM
253              Moto G62 5G (8GB + 128GB)         Nano-SIM + Nano-SIM
299    Motorola Moto G54 5G (12GB + 256GB)  Nano-SIM, eSIM, Hybrid SIM
460                         Oppo Reno12 5G                    nano-SIM